
<div class="beersCard" style="width: 18rem;">
  <img class="scaled" src={{image_url}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="card-tagline">{{tagline}}</p>
  </div>
</div>

