<div>
  <table>

    <!--Como hacer un if? Meto script y hago?-->
    {{#each beersFromApi}}
    <tr></tr>
    <td>
      {{> listBeers}}
    </td>
    </tr>

    {{/each}}
  </table>

</div>