<div class='all-beers'>
  <img src={{image}} />
  <!-- what's the path?-->
  <h5>{{name}}</h5>
  <!-- what's the path?-->
  <p>{{description}}</p>
  <!-- what's the path?-->
  <p>{{tagline}}</p>
  <!-- what's the path?-->
</div>