{{!-- cada cerveza es un bloque --}}
<div class='beer-container'> 
        <div class="beer-img-container" >
            <img src={{image_url}} alt="">
        </div>
        <div class="beer-info-container">
            <div>
                <h4>{{name}}</h4>
                <em>{{tagline}}</em>
            </div>
            <div class="beers-txt">
                <p class="beers-description" >{{description}}</p>
            </div>
        </div>
</div>