<div class="card">
    <img class="card-img-top" src="{{{this.image_url}}}" alt="card-image-cap">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.tagline}}</p>
        <p class="card-text text-descrip">{{this.description}}</p>
    </div>
</div>