<section class="container">
{{#each data}}

<div class="beers-partials">
    <img src="{{this.image.url}}" alt="">
    <p class="name">{{this.name}}</p>
    <p class="description">{{this.description}}</p>
    <p class="tagline">{{this.tagline}}</p>
    
</div>

{{/each}}

</section>
