{{!-- properties: image, name, description and tagline --}}


<div class="container">
 <div class="card-top"> 
    <img src="{{this.image_url}}"/> 
 </div>

<div class="card-body">
  <h5 class="card-title">{{this.name}} </h5> 
  <p>{{this.tagline}}</p>
 <div class="paragraph"> 
  <p>{{this.description}}</p>
</div>
 </div>
</div>

