
<!-- views/partials/beerpartial.hbs -->







  
        <div class="beerimage-div"><img class="beerimage" src="{{this.image_url}}"></div>
        <div clas="beertext-div">
          <h1 class="name-li">{{this.name}}</h1>
          <li class="tag-li">{{this.tagline}}</li>
          <li class="desc-li">{{this.description}}</li>
        
        
        
   
 
