<div class="beers-partial">
    <img src="{{image_url}}" alt="">
    <div class='partial-text'>
        <h2>{{name}}</h2>
        <p class='tagline'>{{tagline}} </p>
        <p> {{description}} </p>
    </div>
</div>