<div class="col-md-4">

    <article class="beer">
        <img src="{{this.image_url}}">
        <div>
            <h5><strong>{{this.name}}</strong></h5>
            <p id="tagline">{{this.tagline}}</p>
            <p>{{this.description}}</p>
        </div>
    </article>

</div>