<div class="card">

    <img src={{image_url}}>

    <div class="card-body">

        <h5 class="card-title">{{name}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{tagline}}</h6>
        <p class="card-text">{{description}}</p>

    </div>

</div>