<img class="imageBeer" src="{{this.image_url}}" alt="">

<div class="beer-description m-4">
    <p><strong>{{this.name}}</strong></p>
    <p class="text-black-50">Hello my name is {{this.tagline}}</p>
    <p>{{this.description}}</p>
</div>
