
    <div class="beerAll">
        <div class="beerImg">
            <img src="{{image_url}}" alt="Beer img"></div>
        <div class="beerInfo"> 
            <p>{{name}}</p>
            <p>{{description}}</p>
            <p>{{tagline}}</p>
        </div>
    </div>
