<div class="col-md-4 row">
    <div class="beer-partial">
        <img class="beer" src="{{image_url}}" alt="Beer" />
    </div>
    <div class=" card-body">
        <h5 class="card-title"><b>
                {{name}}</b>
        </h5>
        <p class="card-text">
            <span class="grey">{{tagline}}</span>
            <br><br>
            {{description}}
        </p>
    </div>
</div>