<main class="beer-partial">

    <div class="col-lg-4"> 

        <div class="card-body">

            <img src="{{this.image_url}}" class="card-img-top" alt="Beer">
            <hr>
            <h1 class="card-title">{{this.name}}</h1>
            <p class="card-text"><small class="text-muted">{{this.tagline}}</small></p>
            <p class="card-text">{{this.description}}</p>

        </div>

    </div>

</main>
