<div class="beerCard">
    <div class="beerCardFlex">
        <img class="bottlerImg" src="{{image_url}}"  alt="Beer">
    </div>
    <p><strong>{{name}}</strong></p>
    <p><em>{{tagline}}</em></p>
    <p>{{description}}</p>
</div>