<div>
    <div>
        <a href="/beers/beer-i3f4d34s34b"><img src="{{this.image_url}}" alt="picture"></a>
        <div>
            <h5>{{this.name}}</h5>
            <p>{{this.description}}</p>
            <p>{{this.tagline}}</p>
        </div>
    </div>
</div>