<div class='col-md-4'>
  <div class='card player-card' style='width: 18rem;'>

        <img src='{{image_url}}' class='card-img-top'  alt='Card image cap'>
        <div class='card-body'>
   
      <h5 class='card-title'>{{name}} </h5>
      <p class='card-text'>{{description}}</p>
      <p class='card-text'>{{tagline}}</p>
    </div>
  </div>
</div>