<p>
     Name: {{name}}
</p>
    <p>
      Tagline: {{tagline}}
    </p>
 <p>
      Description: {{description}}
    </p>

    <p>
      	<img src= "{{image_url}}" alt="random-beer" width="150">
    </p>