<div class='col-md-4'>
  <div class='card' style='width: 18rem;'>
    <img src='{{image_url}}' alt='beer' />
    <div class='card-body'>
      <h5 class='card-title'>{{name}}</h5>
      <p class='card-text tagline'>{{tagline}}</p>
      <p class='card-text'>{{description}}</p>

    </div>
  </div>
</div>