<div class="col-md-3">
   <img class="beer-img-top" src={{image_url}} alt="beer" />
    <div class="beer-body">
        <h5 class="beer-title">{{name}}</h5>
        <p class="beer-text">{{tagline}}</p>
        <p class="beer-text">{{description}}</p>
    </div>
</div>

