
<!-- views/partials/beerpartial.hbs -->

<head>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>






  
        <div class="beerimage-div"><img class="beerimage" src="{{this.image_url}}"></div>
        <div clas="beertext-div">
          <h1 class="name-li">{{this.name}}</h1>
          <li class="tag-li">{{this.tagline}}</li>
          <li class="desc-li">{{this.description}}</li>
        
        
        
   
 
