<div id="beerflexbox">
    <div id="beerflexboximg">
    <img src="{{image_url}}" class="beerimg">
    </div>
    <div class="beername">{{name}}</div>
    <div class="beertagline">{{tagline}}</div>
    <div class="beerdescription">{{description}}</div>
</div>