<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="{{beer.image_url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5>{{beer.name}}</h5>
        <p>{{beer.description}}</p>
      </div>
    </div>
  </div>