<div class="beer-info">
    <div class='img-beer'>
        <img src="{{this.image_url}}" alt="">
    </div>
    <div class='info'>
        <h5>{{this.name}}</h5>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>

    </div>
</div>