<div class="card">
    <img  src="{{image_url}}" alt="Card Image">
    <div class="card-content">
        <h2>{{name}}</h2>
        <p>{{tagline}}</p>
        <p>{{description}}</p>
    </div>
</div>
