<div class="card">
    <img class="imgBiere" src="{{this.image_url}}" alt="biere">
    <div class="description">
        <h1>{{this.name}}</h1>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
    </div>
</div>