<div class="card">
  <img src="{{this.image_url}}" class="card-img-top" alt="beer-image">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">Tag: {{this.tagline}}</p>
  </div>
</div>