
<div class="beers col-md-4">

    <div class="images">
        <img src="{{image_url}}" alt="beer image">  
    </div>
    <h2>{{name}}</h2>
    <h3>{{tagline}}</h3>
    <p>{{description}}</p>

</div>