
        <div class="card col-2 p-2 m-3" style="height: 200px">
            <img
            class="card-img-top p-5"   
            src="{{this.image_url}}"
            alt="{{this.name}}"
            />
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
            </div>
        </div>








