<div class="row">

    <div>
        <ul>
            <li>{{this.name}}</li>
            <li>{{this.description}}</li>
            <li>{{this.tagline}}</li>
            <img src={{this.image_url}}></img>
        </ul>
    </div>
</div>