<div class="container">
    <div class="row">
        <div class="col-md-3">

            <article>
                <img class="card-img" src="{{this.image_url}}">

                <div>
                    <h4 class="card-title">{{this.name}}</h4>
                    <hr>
                    <h5 clas="tag-line">{{this.tagline}}</h5>
                    <p class="card-text">Description {{this.description}}</p>
                </div>
            </article>

        </div>
    </div>

</div>