

    <div class="container">

    <img src="{{image_url}}" alt="">
    <p>Name: {{name}} </p>
    <p>Description: {{description}}</p>
    <p>Tagline: {{tagline}} </p>
    
    </div>

    


 






