<div class="col-md-4 col-sm-6">
    <article class="beer">
        <div class="image">
            <img class="beer-img" src={{this.image_url}}>
        </div>
        <div class="beer-body">
            <h1 class="beer-title">{{this.name}}</h1>
            <p class="beer-tag">{{this.tagline}}</p>
            <p class="beer-description">{{this.description}}</p>
        </div>
    </article>

</div>