<div  class="randomB" class="uk-child-width-1-2@m" uk-grid>
   
   {{!--#each beers--}}
   
    <div >
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
              <img src="{{image_url}}" width="100" height="50" alt=""></a>  
            </div>
            <div class="uk-card-body">
                <h2 class="uk-card-title"><a href="/beers/beer-i3f4d34s34b">{{name}}</a></h2>
                <h4> {{tagline}}</h4>
                <p class="parrafo">{{description}}</p>
            </div>
        </div>
    </div>
    {{!--/each--}}
</div>