<div class="card" style="width: 24rem; height: 40rem;">
    <img src="{{this.image_url}}" class="card-img-top " alt="...">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.description}}</p>
    </div>
</div>