<div class="card" style="width: 18rem;">
  <img src={{beer.image_url}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{beer.name}}</h5>
    <p class="tagline">{{beer.tagline}}</p>
    <p class="card-text">{{beer.description}}</p>
  </div>
</div>

