<div class="beer-card">
    <div id="beer-card-img">
        <img src="{{this.image_url}}" alt="beer image">
    </div>
    <div>
        <h3>{{this.name}}</h3>
        <p class="tagline">{{this.tagline}}</p>
        <p>{{this.description}}</p>
    </div>
</div>