<div class='beer'>
  <div class='beer-image'>
    <img class='beer-image-photo' src={{this.image_url}} alt='' />
  </div>
  <div class='beer-info'>
    <h6 class='beer-name'>Name: {{this.name}}</h6>
    <p class='beer-info-body'>Description: {{this.description}}</p>
    <p class='beer-info-body'>Tagline: {{this.tagline}}</p>
  </div>
</div>