

        <div class="beerImg">
            <img src="{{image_url}}" alt="Beer img">
        </div>
        <div class="beerInfo">
            <div class="bI1">
                <h2>{{name}}</h2>
                <p class="grey">{{tagline}}</p>
                <p>{{description}}</p>
            </div>
      
       

