<div id="beerContainer">
  <img id="beerImage" src={{this.image_url}} />
  <div id="beerText">
    <h2>{{this.name}}</h2>
    <p id="tagline">{{this.tagline}}</p>
    <p>{{this.description}}</p>    
  </div>
</div>