<div>
    {{#with this}}
    <div class="cerveza">
        <img src="{{image_url}}" alt="">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
    </div>
    {{/with}}
</div>