
<div class=" col-md-4">
<div class="myCard">
  
    <span class="nameBeer">{{this.name}}</span>
    <div class="beerPhoto">
     <img src="{{this.image_url}}" alt="">
    </div>
    <span class="descBeer">{{this.tagline}}</span>
    <div class="description">
        <p>
            {{this.description}}.
        </p>
    </div>
    </div>

</div>
