<div class="col-md-3">

    <article class="card">
        <img class="card-img-top" src="{{this.image_url}}">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <hr>
            <p class="card-text">{{this.tagline}}</p>
            <p class="card-text">{{this.description}}</p>
        </div>
    </article>

</div>