
<div class="col-md-3">

    <article class="beerCard">
        <img class="beerCard-img" src="{{this.image_url}}">
        <div class="beerCard-body">
            <h3 class="beerCard-title">{{this.name}}</h3>
            <hr>
            <p class="beerCard-text">{{this.description}}</p>
            <p class ="beerCard-tag">{{this.tagline}}</p>
            
        </div>
    </article>

</div>