<div class="col">
    <div class="card">
        <img src={{image_url}} class="card-img-top img-thumbnail" style="width:50%; height:1%" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
            </div>
    </div>
</div>