
<div id="container-div">
    <img class="beer-image" src={{image_url}} />

<div id="text-div">
    <h4 class="beer-name">{{name}}<h4>
    <h5>{{description}}</h5>
    <p>{{tagline}}</p>
 </div>
</div>
