<div class="beer-card">
    <article>
        <img src="{{this.image_url}}" alt="Beer">
        <h3>{{this.name}}</h3>
        <p class="tagline">
           {{this.tagline}} 
        </p>
        <p class="description">
            {{this.description}}
        </p>
    </article>
</div>