    <div id="beer-box">
        <img id="beer-pic" src={{this.image_url}} alt="Beer photo"/>
        <p>{{this.name}}
        <div class="nickname">{{this.tagline}}</div></p>
        <p>{{this.description}} </p>
    </div> 
    <br>
        
        