


    <div class="col-md-4">
    <img class='images' src="{{this.image_url}}" alt="beer">
    <article>
    <h1 class= 'beersName'>{{this.name}}</h1>
    <h3 class='tagline'>{{this.tagline}}</h3>
    <p class= 'description' ></p>{{this.description}}</p>
   
    </div>




