<div class="row">
    {{#each eachBeer}}

    <div class="col-4">
        <img src="{{image_url}}" class="imageBeers" alt="this beer" height="px">
        <div>
            <h5>{{name}}</h5>
            <p style="color:rgb(57, 191, 175)">{{tagline}}</p>
            <p>{{description}}</p>

        </div>
    </div>
    {{/each}}
</div>