<div class="beer-card">
        <img class = "beer-card-img" src="{{image_url}}" alt="beer">
    <div class="card-body">
        <h1>{{name}}</h1>
        <span>{{tagline}}</span>
        <p>{{description}}</p>
    </div>
</div>
