<div class="beer-details">

    <img id="image" src="<%= beer.image_url %>" />

    <div id="description">
        <h3>
            <%= beer.name %>
        </h3>
        <p id="tagline">
            <%= beer.tagline %>
        </p>
        <p>
            <%= beer.description %>
        </p>
    </div>
</div>