<div class="card">
    <img  class="image" src="{{image_url}}" alt="">
    <div class="card-body">
        <h5 class="card-title">{{name}} </h5>
        <p class="card-text">{{tagline}}</p>
        <p class="card-text">{{description}}</p>
        
    </div>
</div>