 <div class="beer-card">
            <div>
                <img src="{{this.image_url}}" alt="" height = 200px>
            </div>
            <div>
                <h3>{{name}}</h3>
                <p>{{description}}</p>
                <small>{{tagline}}</small>
            </div>
        </div>