<div class="container">
    <img class="beerImage" src="{{image_url}}" alt="beer image">
    <div class="container">
        <h2>{{name}}</h2>
        <article>{{description}}</article>
        <p>{{this.tagline}}</p>
    </div>
</div>