<div class="card">   
        <img class="card-img" src="{{this.image_url}}" alt="">
    <div class="card-body">
            <h5>{{this.name}}</h5>
            <p class="text-tagline">{{this.tagline}}</p>
            <p>{{this.description}}</p>
    </div>
</div>