    <div id="beer-box">
        <img id="beer-pic" src={{this.image_url}} alt="Beer photo"/>
       
       <div class="partial-body">
            <p>{{this.name}} </p>
            <p class="nickname">{{this.tagline}}</p>
            <p>Description: {{this.description}}</p>
       </div> 
    </div> 
    
        
        