<div class="col-md-4">
    <div class="beercard">
        <img class="card-image" src="{{image_url}}" alt="{{name}}" />
        <div class="card-body">
            <h5 class="card-title">{{tagline}}</h5>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>