<div class="col-md-4">
    <img class="beer" src="{{image_url}}" alt="Beer" />
    <div class=" card-body">
        <h5 class="card-title">
            {{name}}
        </h5>
        <p class="card-text">
            {{tagline}}
            <br><br>
            {{description}}
        </p>
    </div>
</div>