<div class= "beerPartial">
    <img src="{{this.image_url}}"alt="beers">

    <div>
        <h2> {{this.name}}</h2>
        <p class="textOfCards">{{this.description}} </p>
        <p>{{this.tagline}}</p>
    </div>
</div>
 
