<div class="container">
<div><img
    class='image'
    src='{{image_url}}'
    alt="There should be an image."
  /></div>
<div class="beerContent">
  <h2>{{name}}</h2>
  <p>{{tagline}}</p>
  <p>{{description}}</p>
</div>
</div>