<div class="bear">
    <img id = "randomimg" src="{{this.image_url}}"></img>
    <div>    
        <h3>{{this.name}}</h3>
        <p id = "myname">{{this.tagline}}</p>
        <p>{{this.description}}</p>
    </div>
</div>