<img src="{{image_url}}" class="" alt="...">
<div class="card-body">
    <h3 class="card-title">{{name}}</h3>
    <p class="fw-lighter">{{tagline}}</p>
    <p class="card-text">{{description}}</p>
</div>