<div class="col-md-4 d-flex align-items-stretch">

    <article class="card border-0">

        <div class="text-center size-img">
            <img class="card-img-top text-center" src="{{this.image_url}}">
        </div>


        <div class="card-body mx-auto">

            <h5 class="card-title mx-auto"><strong>{{this.name}}</strong></h5>
            <h6 class="tagLine"><em>{{this.tagline}}</em></h6>
            <p>{{this.description}}</p>

        </div>

    </article>

</div>