<div id="beer-partial">
        <div>
            <img src="{{image_url}}" alt="">
        </div>
        <div>
            <h3>{{name}}</h3>
            <p>{{tagline}}</p>
            <p>{{description}}</p>
        </div>
</div>