{{!-- random selection of beer --}}
<div>

    <img src='{{this.image_url}}' alt='Beer bottle' class="beerImage" />
    <h2 class='beerName'><a href="/views/moreinfo.hbs">{{this.name}}</a></h2>
    <p class='beerDescription'>{{this.description}}</p>
    <h5 class='beerTagline'>{{this.tagline}}</h5>

</div>

