<div class="col-md-4">


    <a href="/specific-beer"><img class="card-img-top" src="{{ image_url }}" alt="beer-img"></a>
    <div class="card-body">
        
        <h3 class="card-title">{{this.name}}</h5>

        <p class="card-text">{{this.description}} </p>

        <p class="card-text">{{this.tagline}} </p>
        
    </div>


  

</div>