<div class="beer-partial">
    <div class="beer-partial-img">
        <img src= {{image_url}} />
    </div>
    <div>
        <h4>{{name}}</h4>
        <p class="beer-partial-tagline">{{tagline}}</p>
        <p>{{description}}</p>
    </div>

</div>