<div id='general-div'>
  <div id='beers-info'>
    <img id='beers-img' src={{this.image_url}} />
    <div id="beers-info-2">
        <h3>{{this.name}}</h3>
        <p>{{this.tagline}}</p>
        <p id='descriptions'>{{this.description}}</p>
    </div>
  </div>
</div>