<div class='imgbeerDiv'>
  <img src='{{this.image_url}}' alt='' class='beerImage' />
  <div class='beerInfo'>
    <h4>{{this.name}}</h4>
    <p class='taglinep'>{{this.tagline}}</p>
    <p>{{this.description}}</p>
  </div>
</div>