
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="{{beer.image_url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{beer.name}}</h5>
        <p class="card-text">{{beer.description}}</p>
      </div>
    </div>
  </div>

<!-- COGE LA ALTURA DE CADA IMG POR SEPARADO HAY QUE IGUALARLAS. Y COGE EL ANCHO DE LA FOTO NO UN WIDTH FIJO POR LO Q ES MUY ALARGADO-->