<div class="">
    <div class="col mb-4 card border-light" style="width: 30rem;">
        <img style="" class="card-img-top" src={{image_url}} alt="beer-img">
        <div class="card-body">
            <h5 class="card-title font-weight-bold"><strong>{{name}}</strong></h5>
            <h6 class="card-subtitle mb-2 text-muted"><small>{{tagline}}</small></h6>
            <p style="line-height: 1rem" class="card-text"><small>{{description}}</small></p>
        </div>
    </div>
</div>