    <div id="beer-box">
        <p><img id="beer-pic" src={{this.image_url}} alt="Beer photo"/></p> 
        <p>{{this.name}}</p>
        <div class="nickname">{{this.tagline}}</div>
        <p>{{this.description}} </p>
    </div> 
    <br>
        
        