{{#each beers}}
<dev id="image-and-text-rb">
 <img src={{this.image_url}}/>
 <dev id="text-rb">
    <h1>{{this.name}}</h1><br><br>
    <p>{{this.description}}</p><br><br>
    <p><strong>Tagline:</strong> {{this.tagline}}</p><br><br>
 </dev>
</dev>
{{/each}}
