<!-- views/partials/playerCard.hbs -->

<div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src="https://clutchpoints.com/wp-content/uploads/2019/08/THUMBNAIL_027.jpg"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">Lebron James</h5>
      <p class="card-text">CLE</p>
    </div>
  </div>
</div>
