<div class="col-md-3 ">
    <div class="card beer-card">       
        
        <div class="partialImg"><img src="{{image_url}}" alt=""></div>
        <h5>{{name}}</h5>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
    </div>


</div>