<div class="card m-3 pt-2 alig-content-center">
    <div class="card-image" style="width:300px">
        <img src="{{image_url}}" class="card-img-top" style="" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>