        <img src={{this.image_url}}>
        <div> <p class="beer-name">{{this.name}}</p> </div>
        <div> <p class="beer-description">{{this.description}}</p> </div>
        <div> <em> <p class="beer-tagline">{{this.tagline}}</p> </em> </div>
    