<div class="beer" style="width: 33.333%;">
  <img class="beer-img" src="{{image_url}}" alt="">
  <div class="beer-body">
    <h5 class="beer-title"><a href="/beers/beer-i3f4d34s34b">>{{name}}</a</h5>
    <p class="beer-text">{{description}}</p>
    <p class="tag-line">{{tagline}}</p>
  </div>
</div>