{{!-- Did not work --}}

{{!-- <div>
    <div>
        <div class="Beer">
        <div class="beerimage">
        <img id="beerimg" src="{{ this.image_url }}" alt="randombeer">
        </div>
        <p><h3>My name is: </h3>{{this.name}}</p>
        <p><h3>Description:</h3> {{this.description}}</p>
        <p><h3>Tagline :</h3>{{this.tagline}}</p>  
        </div>               
    </div>
</div>  --}}