<div class='beers'>
  <div class='center-image'>
    <img class='image' src='{{image_url}}' alt='image of a beer' /></div>
  <div class='text'>
    <h3>{{name}}</h3>
    <h4>{{tagline}}</h4>
    <p>{{description}}</p>
  </div>
</div>