<div class="card m-1" style="width: 30rem;">
    <a href="/beers/beer-i3f4d34s34b"><!-- name of the beer --></a>
    <img src="{{image_url}}" class="card-img-top" style="max-height:300px; object-fit: contain;"/>
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{tagline}}</p>
    </div>
</div>