<div>
    <p>
         
        <img src="{{image_url}}" alt="Beer Pic">
    
    <h2>{{name}}</h2>
    
    <hr>
    
    {{description}}
    
    <hr>
    
    <h3>{{tagline}}</h3>      
    
    </p>

</div>