<div class="card" style="width: 18rem;">
    <img src="{{image_url}}" class="card-img-top w-25" alt="beer img" >
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="text-secondary">{{tagline}}</p>
        <p class="card-text">{{description}}</p>
    </div>
</div>    