<div class="birras-contenedor" >
    <img class="birras"
        src="{{this.image_url}}"
        alt="">
    <div class="descripcion">
        <h5 class="card-title">{{this.name}} {{this.description}}</h5>
    </div>
</div>