<div class="card">
    <div>
        <img src="{{this.image_url}}" alt="" class="beerimg" width="300px" height="300px">
    </div>
        <div class="info">
            <h3>{{this.name}}</h3>
            <p class="lema">{{this.tagline}}</p>
            <p>{{this.description}}</p>
            
        </div>

</div>