
<div class="beer-section">
  <img src={{this.image_url}} class="images" alt="...">
  <div>
    <h4 class="names">{{this.name}}</h4>
    <h5 class="taglines">{{this.tagline}}</h5>
    <p class="">{{this.description}}</p>
  </div>
</div>