<div class="container">
    <div class="card">
        <img class="card-imagen" src="{{this.image_url}}">
    </div>

        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
</div>