
<article >
    <img class="beerimgr" src="{{image_url}}">
  

        <h4 class="namer">{{name}} </h4>
        <h5 class="tagliner">{{tagline}} </h5>
         
         <h5 class="descriptionr">{{description}} </h5>
      
</article>

    
