<div class="beercard">

    <img src="{{image_url}}" class="rounded mx-auto d-block" alt="beerImage">
    <p class="text-center font-weight-bold text-uppercase"> {{name}} </p>
    <p class="text-center"> {{tagline}} </p>
    <p class="text-justify"> {{description }} </p>


</div>