<div> beer image:<img src='{{this.image_url}}' alt='' /> </div>
<div>
    <div>Name:{{this.name}}</div>
    <div>Tagline:{{this.tagline}}</div>
    <div>Description:{{this.description}}</div>
   
</div>