
 
 <div class="col-md-4">

    <article class="beer">
        <img class="beerimg" src="{{image_url}}">
       
            <h4 class="name">{{name}} </h4>
            <h5 class="tagline">{{tagline}} </h4>
                <hr>
                <h5 class="description">{{description}} </h5> 


       
    </article>
</div>