<section class="beer-card">
    <div class="image-container">
        <img class="beer-img" src="{{this.image_url}}" alt="Beer image">
    </div>
    <div>
        <h5>{{this.name}}</h5>
        <br>
        <p>{{this.description}}</p>
        <br>
        <h6>{{this.tagline}}</h6>
    </div>
</section>