<div class='info-beer'>
    <div class="img-beer">
        <img src={{this.image_url}} width='auto' height="200px" />
    </div>
  <h3>{{this.name}}</h3>
  <p class="tagline-text">{{this.tagline}}</h5>
  <p>{{this.description}}</p>
</div>