
 <div class="beerBox">
 <img src="{{this.image_url}}" alt="beerImg"> 

    <li>{{this.name}}<ul>
        
        <li>{{this.description}}</li>
        <li>{{this.tagline}}</li>
        </ul></li>  
        
 </div>
