<div class='beers'>
  {{! <a href=""><!-- name of the beer --></a> }}
  <div class='beer-standar'>
  
      <img class='beer-img' src='{{image_url}}' alt='beer-img' />
    
    <div class='info-card'>
      <h2>{{name}}</h2>
      <p>{{tagline}}</p>
      <p>{{description}}</p>
    </div>
  </div>
</div>