<div class="beer-panel">

    <img src="{{this.image_url}}" alt="a delicious generic beer">

    <h2 class='beer-title'>{{this.name}}</h2>
    <p class="beer-tagline">{{this.tagline}}</p>
    <p class="beer-description">{{this.description}}</p>

</div>