
<div class="container">
  {{!-- <div class="jumbotran"> --}}
  <div class="row">
<div class="card col" >
  <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title">{{this.name}}</h3>
    <h5 class="card-title">{{this.description}}</h5>
    <p class="card-text">{{this.tagline}}</p>
    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
  </div>
</div>
</div>
</div>
{{!-- </div> --}}
