<dev id="image-and-text-rb">
 <img src={{beer.image_url}}/>
 <dev id="text-rb">
    <h1>{{beer.name}}</h1><br><br>
    <p>{{beer.description}}</p><br><br>
    <p><strong>Tagline:</strong> {{beer.tagline}}</p><br><br>
 </dev>
</dev>