
<div class="beer">
         <img src={{this.image_url}}>

        <div class="beer-inner">
                <h3 class="mt-0">
                <p>{{this.name}}</p>
                </h3>
                <h5>{{this.tagname}}</h5>
                <p>{{this.description}}</p>
        </div>
        
</div>

