


<div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src="{{this.image_url}}"
      alt="" height="700px"  
    />
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <h6 class="card-text"><strong>Tagline:</strong> {{this.tagline}}</h6>
      <h6 class="card-text"><strong>Description:</strong> {{this.description}}</h6>      
    </div>
  </div>
</div>