<div class="beers-info">
      <div>
        <img class="card-img" src="{{image_url}}" alt="..."></a>
    </div>
    <div class="card-name">
        <h1 class="card-text"> {{name}}</h1>
    </div>
    <div class="card-description">
        <p class="card-text"> {{description}}</p>
    </div>
    <div class="card-tagline">
        <p class="card-text"> {{tagline}}</p>
    </div>
</div> 