
<div class="card">
    <div class="card-img">
    <img src="{{this.image_url}}" alt="beer-image">
    </div>
    <div>
    <h2>{{this.name}}</h2>
    <span>{{this.tagline}}</span>
    <p>{{this.description}}</p>
    </div>
</div>
