<div class='col-md-3'>
  <div class='beer'>
    <img
      width='20%'
      class='beer-img-top'
      src='{{this.image_url}}'
      alt='beers images'
    />
    <div class='beer-body'>
      <h5 class='beer-title'>{{this.name}}</h5>
      <p class='beer-description'>{{this.description}}</p>
      <p class='beer-tagline'>{{this.tagline}}</p>
    </div>
  </div>

  {{!-- no se cierra el div del coll aquí si no donde se ponga el partial --}}
