
<div class="col-md-3">
    <article class="card">
        <img src={{ image_url }}>
        <p>Name: {{ name }}</p>
        <p>Description: {{ description }}</p>
        <p>Tagline: {{ tagline }}</p>
    </article>
</div>