<div class="beer-card">
    <div class="imgCard"><img src={{image_url}} alt="beer"></div>
    <div class="beer-details">
        <h3>{{name}}</h3>
        <p class="tagline">{{tagline}}</p>
        <p>{{description}}</p>
    </div>
</div> 