<div class='beer'>
  <div class="imageContainer">
    <img src={{image_url}} alt='' />
  </div>
  <div>
    <p class="name">{{name}}</p>
    <p class="description">{{description}}</p>
    <p>{{tagline}}</p>
  </div>
</div>

