 <!--Partial for beers.hbs and random-beer.hb-->
 
 <!--Removed #each cause referenced in beers-->
 <div>
        <img class = "partialImg" src="{{ this.image_url }}">
        <h1 class = "h1partial">{{ this.name }}</h1>
        <p class = "taglinepartial">{{ this.tagline }}</p>
        <p class = "descriptionpartial">{{ this.description }}</p>
</div>