<div class="col-sm-12 col-md-4" align="center">
    <img class="img-fluid mx-auto my-5" style="height:18rem;" src="{{this.image_url}}" alt="beer-photo">
    <h4>{{name}}</h4>
    <h5>{{tagline}}</h5>
    <p class="text-justify">{{description}}</p>
    <hr>
</div>