<div class="col-md-4">
    <article class="">
        <img class="card-img-top beerimg" src="{{image_url}}" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{tagline}}</h5>       
            <p class="card-text">{{description}}</p>
        </div>
    </article>
</div>

