<div class="beer-card">
  <div class="beer-img">
    <img src="{{image_url}}" alt="beer"/>
  </div>
  <h5>{{name}}</h5>
  <p class="tagline">{{tagline}}</p>
  <p cless="description">{{description}}</p>
</div>