        <div class="beerContainer">
            <ul>
                <li> <img class="beerImg" src="{{image_url}}" alt="Beer Image"></li>
                <li><a href="/views/beers.hbs"><h1>{{ name }} </h1></a></li>
                <li> {{ tagline }} </li><br>
                <li> {{ description }} </li>
            </ul>
        </div>
            