{{!-- <div class="card"> --}}

    <div class="card-body">

        <h5 class="card-title">{{name}}</h5>

        <br>

        <h6 class="card-subtitle mb-2 text-muted">{{tagline}}</h6>

        <br>

        <p class="card-text">{{description}}</p>
    </div>

{{!-- </div> --}}