<div class="beer-card">
    <div class="beer-details">
        <a href="/fakeLarger">
            <img class="beer-img" src={{image_url}} alt="beer image">
        </a>
        <h3>{{name}}</h3>
        <h4>{{tagline}}</h4>
        <p>Description: {{description}}</p>
    </div>
</div>