

<div class="col-">
    <div class="beer-card">
        <img src="{{image_url}}" alt="beer">
        <div class=" ">
            <h2> {{name}} </h2>
            <br>
            <p>{{description}}</p>
            <br>
            <h4>{{tagline}}</h4>
            <br>
        </div>
    </div>
</div>
