<ul class="beer-list">
{{#each beersList}}
<li class ="beer-items">
<img src="{{this.image_url}}"/>
<h2>{{this.name}}</h2>
<p class="tagline">{{this.tagline}}</p>
<p>{{this.description}}</p>
</li>
{{/each}}
</ul>