<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>Document</title>
  </head>
  <body class="body">
    <div class="maestro">
      <div class='container-card'>
        <div class='container-card-beerImg'>
          <img src='{{this.image_url}}' alt='beer image' />
        </div>
        <div class='container-card-info'>
          <h3>{{this.name}}</h3>
          <p>{{this.tagline}}</p>
          <p>{{this.description}}</p>
        </div>
      </div>
    </div>

  </body>
</html>