<div class="cerveza">
        <img id="imageBeer" src={{image_url}} alt="">
        <div class="beerText">
            <h3>{{name}}</h3></p>
            <p class="txt">{{description}}</p>
            <p id="tagline">{{tagline}}</p>
        </div>
    </div>