<div class='container-content'>
  <img class='beer-img' src='{{this.image_url}}' alt='BeerImg' />
  <div class='content'>
    <h1 class='name-beer'>{{this.name}}</h1>
    <p class='tagline'>{{this.tagline}}</p>
    <p class='description'>{{this.description}}</p>
  </div>
</div>