<div class="card mb-3" {{!-- style="max-width: 540px;" --}}>
  <div class="row g-0 h-500">
    <div class="col-md-4 h-10 d-flex justify-content-center align-items-center">
      <img src="{{this.image_url}}" class="rounded mx-auto d-block" style="height: 20rem;" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.description}}</p>
        <p class="card-text"><small class="text-muted">{{this.tagline}}</small></p>
      </div>
    </div>
  </div>
</div>