<div class="card" style="width: 25rem;">
    <img class="img_card" src="{{image_url}}" alt="Cerveza aleatoria">
    <h4>{{name}}</h4>
    <h5 class="subtitle">{{tagline}}</h5>
    <div class="card-body">
        <p> {{description}}</p>
    </div>
</div>