
    <div class="beer-card random-beer-card">
        <div id="image" class="random">
        <img src="{{this.image_url}}">
        </div>
        <div class="flexy flexy2">
            <h1>{{this.name}}</h1>
            <p class="margin-left tagline">"{{this.tagline}}"</p>
            <p class="description">{{this.description}}</p>
        </div>
    </div>
      