<div class="col-md-4">
    <div class="beerList">
        <img class="beer-img-top" src="{{this.image}}" />
        <div class="beer-body">
            <h5 class="beer-title">{{this.name}} </h5>
            <p class="beer-description">{{this.description}} {{this.tagline}}</p>
        </div>
    </div>
</div>