<div class="card-body">
    <a href="/beer/{{id}}">
        <h5 class="card-title">{{name}}</h5>
    </a>

    <p class="card-text">{{description}}</p>
    <p class="card-text">{{tagline}}</p>

</div>