<div class="card">
    <h4>Food Pairing</h4>
    <ul>
        {{#each this.food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p><b>Brewer Tips:</b> {{this.brewers_tips}}</p>
</div>