<div class="row">

    <main class="container">

    <img src="{{this.image_url}}" alt="Beer image" />

    <article>

        <h2>Give a try to the {{this.name}}!</h2>

        <p>{{this.description}}</p>

        <p>{{this.tagline}}</p>

    </article>
    


    </main>

</div>