
{{!-- <div class="col-md-4"> --}}
  <div class="card">
    <img
      class="text-center"
      id="beers"
      src="{{this.image_url}}"
      alt=""
    />
    <div class="text-left">
      <h5 class="name">{{this.name}}</h5>
      <p class="tagline ">{{this.tagline}}</p>
      <h6 class="description text-justify">{{this.description}}</h6>
    </div>
  </div>
{{!-- </div> --}}
