<div class="row">
        <div class="col-3 p-4">
         <img src="{{beer.image_url}}"  style="height:350px">
        </div>
      
        <div class="col-9">
         <h5 class="card-title">{{beer.image}}</h5>
         <p class="card-text" style="text-align:center; padding-top:150px">{{beer.description}}</p>
        </div>
    </div>