<div class="col-md-4">
  <div class="card">
        <img
        class="beer-img card-img-top"
        src="{{ this.image_url }}"
        alt=""
        />
    <div class="card-body">
      <h5 class="card-title">{{ this.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ this.description}}</h6>
      <p class="card-text">{{ this.brewers_tips }}</p>
    </div>
  </div>
</div>