<div class="card">
        <img src="{{this.image_url}}" alt="">
    <div class="card-body">
        <h4 class="title-card">
            <a href="/beers/beer">
            
            </a>
            {{this.name}}
        </h4>
        <h5 class="tag-line">
            {{this.tagline}}
        </h5>
        <p class="text-description-card">
            {{this.description}}
        </p>
    </div>
</div>