<div>
  <div class='beerpartial'>
    <a href="/beers/beer-:id">
      <img src='{{beer.image_url}}' class='card-img-top' alt='' />
    </a>

    <div class='card-body'>
      <h5 class='card-title'>{{beer.name}}</h5>
      <p class='card-text'>{{beer.tagline}}</p>
      <h4 class='beerpartial-description'>{{beer.description}}</h4>
    </div>
  </div>
</div>