    <div class="two-columns">
        <div class="beer-image">
            <img src="{{image_url}}"/>
        </div>
        <div>
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <p><i>{{tagline}}</i></p>
        </div>
    </div>