<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<div>
    <div class="beercard-container">
        <img src="{{this.image_url}}" alt="picture">
        <div>
            <h5>{{this.name}}</h5>
            <p>{{this.description}}</p>
            <p>{{this.tagline}}</p>
        </div>
    </div>
</div>