<div class="col-md-3">
    <div class="card" style="width: 18rem;">
        <img src="{{image_url}}" class="card-img-top" alt="beer photo">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p>{{tagline}}</p>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>