<div>
    <img src = "{{this.image_url}}" alt="beer">
    <h2>{{this.name}}</h2>
    <h4>{{this.tagline}}</h4>
    <p>Description{{this.description}}</p>
    <p>Food Pairing: {{#each this.food_pairing}}{{/each}}

    </p>
    
</div>