<div class='beer-partial'>
  <div id="beer-partial-img">
    <img src='{{image_url}}' />
  </div>
  <div id="beer-partial-text">
    <h1>{{name}}</h1>
    <p id="tagline">{{tagline}}</p>
    <p>{{description}}</p>
  </div>
</div>