<img src="{{this.image_url}}">
    <div class="card-body">
        <h3 class="card-title">{{this.name}}</h3>
        <p class="card-text">{{this.description}}</p>
        <p>{{this.tagline}}</p>
    </div>