<div class="beer-container">
    <img src="{{image_url}}" alt="" id="beer-image">    
    <div class="beer-info">
        <a href=""><h3>{{name}}</h3></a>
        <p>{{tagline}}</p>
        <p>{{description}}</p>
    </div>
</div>