{{#if image_url}}
    <img src="{{image_url}}" alt="beer-image" class="card-img-top">
{{/if}}
<div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Tagline: {{tagline}}</p>
    <p class="card-text">Description: {{description}}</p>
</div>