<div class="card m-1" style="width: 25rem;">
  <img class="card-img-top" style="height: 200px; width: auto; align-self: center" src="{{this.image_url}}">
  <div class="card-body">
    <p class="card-text"><strong>Name: </strong>{{this.name}}</p></p>
    <p class="card-text"><strong>Tagline: </strong>{{this.tagline}}</p>
    <p class="card-text"><strong>Description: </strong>{{this.description}}</p>
  </div>
</div>