

      <div class="col-md-4">
  <div class="card">
    <img class="card-img-top" src="{{this.image_url}}" alt="teszt"/>
    <div class="card-body">
      <h5 class="card-title">{{this.description}} {{this.tagline}}</h5>
     
    </div>
  </div>
</div>