<div class="beer-container">
  
  <img src='{{this.image_url}}' alt='' />
  
  <div class="beer-text">

    <h2>Beer name: {{this.name}}</h2>
    <p>Tagline: {{this.tagline}}</p>
    <p>Description: {{this.description}}</p>

  </div>

</div>