<div class="beerpartial-container">
    <div class="beerpartial-img">
        <img src={{this.image_url}}>    
    </div>
    <div class="beerpartial-infos">
        <h1>{{this.name}}</h1>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
        
    </div>
</div>

