<article class="col-md-6 col-lg-4">
    <div class="card-body">
        <div class = "image-cont">
       <a href="/beers/beer-{{$this.id}}"><img class="card-img-top" src="{{this.image_url}}"></a> 

        </div>
        <hr>


    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">{{this.tagline}}</p>
    </article>

