<div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <h6 class="card-subtitle ">{{this.tagline}}</h6>
          <p class="card-text mt-2 text-wrap text-truncate">{{this.description}}</p>
        </div>
