    <div>
        <img src="{{image_url}}" alt="">
        <h3 class="beer-name">{{name}} </h3>
        <p class="description">{{description}}</p><br>
        <p class="tagline">{{tagline}}</p>
    </div>