<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <div class='col-md-4'>
      <div class=''>
        <img class='' src='{{image_url}}' alt='' />
        <div class=''>
          <h5 class=''>{{name}}</h5>
          <p class=''>{{description}}</p>
          <p class=''>{{tagline}}</p>
        </div>
      </div>
    </div>
  </body>
</html>