{{#each beersFromApi}}


<div class="col-4">

    <div class="beers">

        <img src="{{image_url}}" alt="beer">

        <h2><a href="#">{{name}}</a></h2>

        <p>{{description}}</p>

        <p>{{tagline}}</p>


    </div>

</div>

{{/each}}