<div class="col-md-4">

<article class="beer">
            <img class="beer-img" src="{{this.image_url}}">
            <p class="beer-title">{{this.name}}</p>
            <p class="beer-description">{{this.description}}</p>
            <p class="beer-tagline">{{this.tagline}}</p>
 
</article>

</div>