<div class="col-md-4">

    <article class="beers">
        <div class="image-container">
        <img class="beers-img" src="{{this.image_url}}">
        </div>
        <div class="beers-body">
            <h5 class="beers-title">{{this.name}}</h5>
            <hr>
            <p class="beers-text">{{this.description}}</p>
            <p class="beers-text">{{this.tagline}}</p>
        </div>
    </article>

</div>