<img style="height : 250px;" src="{{this.image_url}}" alt="">

<h5 class="card-title">{{this.name}}</h5>
<small>{{tagline}}</small>
<p class="card-text" style="width: 400px;">{{this.description}}</p>
<a href="#" class="btn btn-primary">Go somewhere</a>