     <div class="beer">
        <img id="imgBeer" src={{image_url}} alt="">
        <div class="beerTxt">
            <h3>{{name}}</h3></p>
            <p class="txt">{{description}}</p>
            <p id="tagline">{{tagline}}</p>
        </div>
    </div>