<div>
    {{#each beerVarieties}}
        <img src={{image_url}} alt="image of beer">
        <ul>
        <li>{{name}}</li>
        <li>{{description}}</li>
        <li>{{tagline}}</li>
        </ul>
    {{/each}}
</div>