<div class="beer-img">
    <img src="{{this.image_url}}" alt="">
</div>
<h2><a href="/beers/:id?" class="one-beer-link">{{this.name}}</a></h2>
<p class="tagline">{{this.tagline}}</p>
<p>{{this.description}}</p>