<div class="aux col-md-4">
    <img src="{{image_url}}" alt={{description}}>
    <div class="beer-card">
        <h5 class="name">{{name}}</h5>
        <p class="description">{{brewers_tips}}</p>
    </div>
</div>