<img class="beer-image" src={{this.image_url}}>
<a href="/beers/beer-i3f4d34s34b" class="beer-name"><h2>{{this.name}}</h2></a>
<h3 class="beer-tagline">{{this.tagline}}</h3>
<p class="beer-description">{{this.description}}</p>