

        <div class="col-3">
            <article>
            <img style="width: 50%;height:50%" src="{{this.image_url}}" alt="beer-image">
            <h1>{{this.name}}</h1>
            <br>
            <p>{{this.description}}</p>
            <br>
            <p>{{this.tagline}}</p>
            </article>
        </div>

   