<div class="col-md-4">
<article class="beers">
        <img class="beers-img-top" src="{{this.image_url}}">
        <h5>{{this.name}}</h5>
        <hr>
        <h6><i>{{this.tagline}}</i></h6>
        <hr>
        <p><b>Info:</b> {{this.description}}</p>
</article>
</div>