<div class="card p-4 mb-5">
    <div class="row">
    <div class="col-4 d-flex justify-content-evenly">
        <img class="beer-img" src={{ this.image_url }} />
    </div>
    <div class="col-8">
        <h1>{{ this.name }}</h1>
        <h5 class="text-secondary">{{ this.description }}</h5>
        <h6 class="text-primary">{{ this.tagline }}</h6>
    </div>
</div>
</div>

        

		