<div class="extra-info">
    <h4>Delicious Food Pairings:</h4>
    <ul>
      {{#each this.food_pairing}}
        <li>
          <p>{{this}}</p>
        </li>
      {{/each}}
    </ul>

    <h4>Brewer Tips:</h4>
    <p>{{this.brewers_tips}}</p>
</div>