<footer
  class='container-fuid footer-cr'
  style='height: 60px; color: #f7f9f9; background-color:#0a2c42'
>
  <div class='container px-0'>
    <div class='col-12 pl-0 pt-3'>
      Develop by Ironhack ;)
    </div>
  </div>
</footer>