
          <footer class="bg-white" aria-labelledby="footer-heading">
            <h2 id="footer-heading" class="sr-only">Footer</h2>
            <div class="px-4 py-12 mx-auto bg-gray-50 max-w-full sm:px-6 lg:px-16">
              <div class="flex flex-wrap items-baseline lg:justify-center">
                <span class="mt-2 text-sm font-light text-gray-500"><a href="https://wickedlabs.dev" class="mx-2 text-wickedblue hover:text-gray-500" rel="noopener noreferrer">@chrisjcastle</a></span>
              </div>
            </div>
          </footer>
        