<div class="footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center">
      <div class="col-md-4 d-flex align-items-center">
        <span>developed by <a href="https://www.instagram.com/vicengarcyadev/">@vicengarcyadev</a></span>
      </div>
    </footer>
</div>