<div class="button">
    <a class="btn btn-primary" href="#" role="button">Check a Random Beer!</a>       
</div>
<div class="container-footer">
<footer class="footer">
    <p>Develop by <a href="https://github.com/oscarsangpa" target="_blank"> Óscar </a> for Ironhack 😉</p>
</footer>
</div>