<div>
<p>Photo</p>
<img src={{this.image_url}} alt="">
</div>

<div>

<p>Name</p>
<h1>{{this.name }}</h1>
<h3>Description</h3>
<p>{{this.description}}</p>
<p>Tagline</p>
<p>{{this.tagline}}</p>
</div>




