<nav class='uk-navbar-container uk-margin' uk-navbar='mode: click'>
  <div class='uk-navbar-left'>

    <ul class='uk-navbar-nav'>
      <li class='uk-active'><a href='/'>HOME</a></li>
      <li>
        <a href='/beers'>BEERS</a>
      </li>
      <li><a href='/random-beer'>RANDOM BEERS</a></li>
    </ul>

  </div>
</nav>