<header id="header-main">
    <nav id="nav-bar">
        <a href="/">Home</a>
        <span> - </span>
        <a href="/beers">Beers</a>
        <span> - </span>
        <a href="/detailed-beer/random">Random beer</a>
    </nav>
</header>