   {{#if image_url }}
      <img class="detail-image" src="{{image_url}}" alt="random beer image"> 
   {{else}}
      <div>
          <img class="detail-image" src="/images/default_beer.png" alt="random beer image"> 
          <h6 class="tagline">Image no avalible</h6>            
      </div>
    {{/if}} 