<div class="col-md-3">

    <article class="beers">
        <img class="beers-img-top" src="{{this.image_url}}">
        <div class="beers-body">
            <h5 class="beers-title">{{this.name}}</h5>
            <hr>
            <h6>{{this.tagline}}</h6>
            <hr>
            <p class="beers-text">Info: {{this.description}}</p>
        </div>
    </article>

</div>