<div class="beer-list">
  <div class="beer"> 
<div class="img-beer">
      <img src="<%= beer.image_url%>" alt="" class="beer-img">
</div>     
    <h1><%= beer.name %></h1>
    <h3><%= beer.tagline %></h3>
    <p><%= beer.description%></p>
  </div.>


</div>