<nav id="#mainNav">
    <ul class="flex center">
        <li>
            <a href="/" class="nav-link">Home</a>
        </li>
        <li>
            <a href="/beers" class="nav-link">Beers</a>
        </li>
        <li>
            <a href="/random-beers" class="nav-link">Random Beer</a>
        </li>
    </ul>
</nav>
