<nav class="navbar navbar-dark bg-primary" id="nav-bar">
    <ul class="nav color-nav">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/beers">Beers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/randomBeer">Random Beer</a>
        </li>
    </ul>
</nav>