<nav class="d-flex justify-content-around" style="padding-top: 25px;">
    <a class="nav-link {{active path '/'}}" href="/">Home</a>
    <a class="nav-link {{active path '/beers'}}" href="/beers">Beers</a>
    <a class="nav-link {{active path '/random-beer'}}" href="/random-beer">Random Beer</a>
</nav>