<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Brand Name</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#"><i class="home">Home</i></a></li>
            <li><a href="#"><i class="beers">Beers</i></a></li>
            <li><a href="#"><i class="random-beer">Random Beer</i></a></li>
        </ul>
    </div>
</nav>