<nav class="navbar p-20">
    <ul class="list flex-h-center-l">
        <li class="item">
            <a href="/" class="link">Home</a>
        </li>
        <li class="item">
            <a href="/beers" class="link">Beers</a>
        </li>
        <li class="item">
            <a href="/random-beer" class="link">Random Beer</a>
        </li>
    </ul>
</nav>