<nav
  class='navbar navbar-expand-lg navbar-dark'
  style='background-color: #2081c3;color:f7f9f9'
>
  <div class='container-fluid mx-5'>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <a class='nav-link active' aria-current='page' href='/'>Home</a>
        </li>
        <li class='nav-item'>
          <a
            class='nav-link active mx-3'
            aria-current='page'
            href='/beers'
          >Beers</a>
        </li>
        <li class='nav-item'>
          <a
            class='nav-link active'
            aria-current='page'
            href='/random-beer'
          >Random Beer</a>
        </li>
      </ul>

    </div>
  </div>
</nav>