
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="http://localhost:3000/">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="http://localhost:3000/beers">Beers</a>
      <a class="nav-item nav-link" href="http://localhost:3000/random-beer">Random Beer</a>
    </div>
  </div>
</nav>
