<nav id="nav-main">
    <a href="/" class="link">
        <i class="fa fa-home"></i>
    </a>
    <a href="/beers" class="link">beers</a>
    <a href="/random-beers" class="link">random beers</a>
</nav>