<nav class="navbar">
    <ul class="navbar-list">
    <li class="nav-li">
        <a class="nav-a" href="/">Home</a>
    </li>
    <li class="nav-li">
        <a class="nav-a" href="/beers">Beers</a>
    </li>
    <li class="nav-li">
        <a class="nav-a" href="/random-beer">Get a random beer!</a>
    </li>
</nav>