<div>
  <nav class="nav-bar">
    <ul>
        <li><a href="/" class="nav-bar-item">Home</a>
        </li>
        <li><a href="/beers" class="nav-bar-item">Beers</a>
        </li>
        <li><a href="/random-beer" class="nav-bar-item">Random Beer</a>
        </li>
      </ul>
  </nav>
</div>