<nav id="nav-bar">

    <a
        href="/"
        class="link"
    >HOME</a>
    <a
        href="/beers"
        class="link"
    >OUR BEERS</a>
    <a
        href="/random-beers"
        class="link"
    >RANDOM BEERS</a>

</nav>