<nav class="navbar navbar-expand-lg navbar-light bg-primary">



    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Beers app</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup text-white">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/beers">Beers</a>
                <a class="nav-link" href="/random">Random Beer</a>
            </div>
        </div>
    </div>
</nav>