<nav class="navbar bg-light-blue">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link nav-color" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-color" href="/beers">Beers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-color" href="/random-beer">Random Beer</a>
  </li>
</ul>
</nav>