<div class="navBar">
    <a href="/">
        <div class="navItem">
            Home
        </div>
    </a>
    <a href="/beers">
        <div class="navItem">
            Beers
        </div> 
    </a>
    <a href="/random-beer">
        <div class="navItem">
            Random Beer
        </div> 
    </a>
</div>