
<div class="nav-bar">
        <li class="nav-bar-li"><a class="nav-bar-link" href="/">Home</a></li>
        <li class="nav-bar-li"><a class="nav-bar-link"  href="/beers">Beers</a></li>
        <li class="nav-bar-li"><a class="nav-bar-link"  href="/random-beer">Random Beer</a></li>

</div>