<div>
  <div class="section-beer">
    <div>
      <img class="img-url" src="{{this.image_url}}" />
    </div>
    <div>
      <h5 class="text-bg-dark rounded p-2"> {{this.name}} </h5>
      <h6>{{this.tagline}}</h6>
      <p>{{this.description}}</p>
    </div>
  </div>
</div>