<div class="beerContainer">
    <img src= <%= encodeURI(beer.image_url) %> alt="" width="100px" height="200px">
    <h2 class="beer_name"><%= beer.name %></h2>
    <h3 class="beer_tagLine"><%= beer.tagline %></h2>
    <p class="beer_description"><%= beer.description %></p>
</div>
