<div class="card" style="width: 33.333%;">
    <img class="beer-img-top" src="{{image_url}}" alt="">
    <div class="beer-body">
        <h5 class="beer-title">{{name}}</h5>
        {{!-- <p class="beer-text">{{team}}</p> --}}
    </div>
</div>