
<section>
 <!--{{#each randomBeers}}-->
 <div>
    <img src="{{image_url}}" alt="beer name: {{name}}" class="beer-image">
 </div>
<div>
   <p><a>{{name}}</a> </p>
    <p><a>{{description}}</a></p>
</div>
 <!--{{/each}}-->
</section>
