{{#each newname}}
  <div class="col-md-4  my-3 d-flex flex-column align-items-center" >
    <div >
      <img style="height:200px; width:auto" src={{this.image_url}} alt="image">
    </div>
    <div class=" ">
      <h1>{{this.name}}</h1>
      <i class="text-muted">"{{this.tagline}}"</i>
      <p class=" ">{{this.description}}</p>
      
    </div>
  </div>
  
{{/each}}