<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./stylesheets/styles.css">
  <title>Ironhack</title>
</head>
<body>
  <header>
    <div class="nav-bar">
      <ul>
        <a class="nav-button" href="/">Home</a>
        <a class="nav-button" href="/beers">Beers</a>
        <a class="nav-button" href="/random-beers">Random Beer</a>
      </ul>
    </div>
  </header>
  <%- body %>
  <footer>
    <h3>Develop by Ironhack :)</h3>
  </footer>
  
</body>
</html>