<!doctype html>
<html lang="en">

  <head>
    <title>Layout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/random-beers">Random Beer</a></li>
      </ul>
    </nav>
    <%- body %>
    <footer>
      <p>Develop by Ironhack :)</p>
    </footer>
  </body>
</html>