<div class='beer'>
    <img src= <%= beer.image_url %> alt="Beer" height="250px" width="100px">
    <h3> <%= beer.name %> </h3> 
    <p> <%= beer.tagline %> </p> 
    <p> <%= beer.description %> </p> 
</div> 