#beerscontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: unset;
    align-items: baseline;
    margin-top: 30px;
}

.beers {
    width: 30%;
    margin: 10px;
}

.beers img {
   height: 150px;
   width: auto;
}

.beers h1 {
    font-size: 1.5rem;
}

.beers p {
    font-size: 10px;
}

.aBeer {
    display: flex;
    justify-content: center;
}