#startpage img {
    width: 30vw;
    margin: 10px; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
     
}

.btn {
    width: max-content;
    margin: 10px; 
}

.tagline {
    color: gray
}