.index-container{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    background-color: #f7f9f9;
    align-items: center;
    justify-content: space-evenly;
}
.index-container img {
    height: 60%;
}

.index-container h3 {
    letter-spacing: 0.1rem;
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: #2081c3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.37);
}

.index-container h3:hover {
    cursor: pointer;
}