.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2081c3;
  height: 50px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  list-style: none;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}
