.random-container {
  display: flex;
  align-items: center;
  padding: 3% 0;
  height: 85vh;
  width: 55%;
}
.random-img {
  /* margin: auto; */
  height: 185px;
}

.random-name {
  font-size: 1rem;
}

.random-text {
  text-align: left;
  font-size: small;
  margin-left: 5%;
  width: 75%;
}

.random-subheading {
  font-size: 0.75rem;
  font-weight: bold;
}

.random-tagline {
  color: #bfbfbf;
}

.random-name,
.random-tagline,
.random-description,
.random-pairing,
.random-subheading,
.random-tips {
  margin-bottom: 0.5rem;
}

.tips-subheading {
  font-size: small;
  font-weight: bold;
}
