body {
    padding: 0;
    margin: 0;
    background-color: #bfbfbf;
    font-family: Arial, Helvetica, sans-serif;
}

.random-beers-container {
    display: flex;
    width: 70%;
    padding-top: 5%;
    align-items: center;
}

.random-beer-image {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.random-beer-image img {
    width: 50%;
    padding: 30px;
}

span {
    font-weight: bold;
}