img {

    width: 8%
}

body {

    /* color: #f7f9f9; 
    /* light-blue: #2081c3;
    dark-blue: #0a2c42;
    color: #bfbfbf;
    */
    font-family: Arial, Helvetica, sans-serif;


}

nav {

    background-color: #2081c3;
    color: white
}