/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
* {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.html {
  position: relative;
  min-height: 100%;
}
.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 18.2em;
}

.index-beer-img {
  width: 15em;
  margin: 2em 0;
}

.nav-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding: 1.5em 0 1.5em 0.5em;
  background-color: #2081c3;
  box-shadow: 0 0.5em 0.5em 0 #bfbfbf;
}

.nav-list li {
  margin-left: 2em;
}

.nav-list li a {
  text-decoration: none;
  color: #f7f9f9;
  font-size: 1.2em;
}

.buttons  {
  margin: 0.8em;
  background-color: #2081c3;
  border: 0.8em solid #2081c3;
  border-radius: 0.5em;
  box-shadow: 0 0.4em 0.5em 0 #bfbfbf;
}

.buttons a {
  text-decoration: none;
  color: #f7f9f9;
  font-size: 1em;
}

.signature {
  background-color: #0a2c42;
  font-size: 1.1em;
  color: #f7f9f9;
  padding: 1.5em 0 1.5em 1.5em;
  position: absolute;
  width: 100%;
}

.beers-container {
  display: grid;
  grid-template-columns: repeat(3, 25em);
  grid-column-gap: 2em;
  margin: 0em 0 5em 9em;
}

.partial-container {
  margin-top: 4em;
}

.beers-name {
  font-size: 1.5em;
  margin-top: 1.4em;
}

.beers-images {
  height: 17em;
}

.container-information {
  margin-left: 7em;
}

.container-image {
  text-align: center;
}

.tagline {
  color: red;
  font-size: 1em;
  margin-bottom: 1em;
}

.description {
  font-size: 1em;
}

.random-beers-container, .single-beer-container {
  display: flex;
  flex-direction: column;
  width: 60em;
  margin-left: 15em;
}

.pairing-brewer-tips {
  margin: 3em 0 7em 7em;
}

.food-pairing {
  margin-bottom: 2em;
}