$black: #000000;
$lightGray: #F6F9FC;
$darkGray: #4a4a4a;
$darkBlue: #24273E;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

img {
  max-width: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background: $lightGray;
  // background-color: linear-gradient(to top, rgb(237, 241, 245) 0%, #F6F9FC 100%);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 22px;
}


// Navbar styling

nav {
  height: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;

  .nav-links {
    margin: 30px 20px;
  }

  li {
    text-decoration: none;
    display: inline;
    margin-right: 16px;
    color: $darkGray;
    font-size: 16px;
  }

  li:hover {
    color: $darkBlue;
  }
}

.footer {
  padding: 5px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $darkBlue;
  color: #FFFFFF;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 60px auto;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      background-color: #FFFFFF;
      border-radius: 5px;
      padding: 12px 16px;
      border: none;
      cursor: pointer;
      font-size: 14px;
      box-shadow: rgba(0, 0, 0, 0.1) 0 7px 25px 0;
      margin: 50px 5px;
    }
  }
}

.beer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  .beer-card {
    width: 250px;
    height: 430px;
    padding: 20px;
    margin: 10px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;

    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      color: black;
      -webkit-line-clamp: 4;
      /* number of lines to show */
      -webkit-box-orient: vertical;
      margin-top: 10px;
    }
  }

  a {
    cursor: pointer;
  }

  .beer-display {
    width: 600px;

    .description {
      overflow: visible;
    }
  }

  .title {
    margin-bottom: 0px;

    h1 {
      margin: 32px 0 8px;
      color: black;
    }

    h4 {
      margin: 20px 0 10px;
      color: black;
    }


    .tagline {
      text-transform: uppercase;
      color: $darkGray;
      font-size: 12px;
    }
  }

  img {
    margin-top: 20px;
    max-width: 50px;
  }
}