.beers-container{
    margin-top: 10px;
    color: black;
}
.img-beer{
    height:  250px;
    img{
        height: 100%;
    }
}
.beer-bee{
 height: 500px;
    
}
.text-beer{
    text-align: start;
}