.grid .card {
    flex-basis: 32%;
}
.card {
    background-color: white;
    border: 0.5px solid #eaeaea;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.card-img {
    width: auto;
    height: 100px;
    margin-left: 20px;
    margin: 0 auto;
    display: block;
}

.card-title {
    border-top: .5px solid #dfe2e6;
    padding-top: 20px;
    margin-bottom: 2px;
}

.card-subtitle {
    font-size: 14px;
    color: #9a9a9a;
}

.card-content {
    font-size: 12px;
    line-height: 1.3em;
}