body {
    //background: rgba(145, 145, 145, 0.481);
    font: Arial, Helvetica, sans-serif;
}

.navbar {
  background: #2081c3;
  color: #F7F9F9;
  height: 70px;
  box-shadow: 5px 5px 5px black;
}

footer {
    background: #0A2C42;
    vertical-align: center;
    p {
        color: #F7F9F9;
        margin: 15px;
    }
}