<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <nav>
    <ul class="nav-bar">
      <li class="menu-items"><a href="/">Home</a></li>
      <li class="menu-items"><a href="/Beers">Beers</a></li>
      <li class="menu-items"><a href="/RandomBeers">Random Beer</a></li>
    </ul>
  </nav>
  <%- body %>

  <footer class="footer">
    <p>Developed by Ironhack :)</p>
  </footer>
  <script src="js/main.js"></script>
</body>
</html>