<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>IronBeers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/styles.css" />
  <script src="main.js"></script>
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/beers">Beers</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/randomBeer">Random Beers</a></li>
    </ul>
  </nav>
  
  <%- body %>

  <footer class="footer">
    <p class="footer-text">Developed by Miguel :)</p>
  </footer>
</body>
</html>