<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/styles.css" />
  <script src="main.js"></script>
  <title>Ironbeers</title>
</head>
<body>
  <header>
    <nav class="nav_bar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Beers</a></li>
        <li><a href="#">Random Beers</a></li>
      </ul></header>
    </nav>
  <footer>Develop by Ironhack ; )</footer>
  <%- body %>
</body>
</html>