<!-- <!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    <a href="">Home</a>
    <a href="">Beers</a>
    <a href="">Random Beer</a>
  </nav>
</body>
<%- body %>
</html> -->