body {
  font-family: $font;
  font-size: 18px;
}

nav {
  height: 40px;
  background-color: $light-blue;
  li {
    a {
      color: $white;
    }
  }
}

.container {
  height: 85vh;
  margin-top: 3vh;
  img {
    max-width: 400px;
    max-height: 500px;
  }
  button {
    margin: 5px 0;
  }
}

footer {
  background-color: $dark-blue;
  color: $white;
}