
$white: #F7F9F9;
$light-blue: #2081C3;
$dark-blue: #0A2C42;
$grey: rgba(145, 145, 145, 0.481);
$font-family: Arial, Helvetica, sans-serif;

html,body{
  margin:0;
  padding:0;
  font-family: $font-family;
}
nav{
  background-color:$light-blue;
  ul{
    display: flex;
    margin:0;
    padding:0;
    li{
      list-style: none;
      padding:15px;
    }
    a{
      text-decoration: none;
      color:$white;
    }
  }
}
section{
  background-color:$white;
  height: 100%;
  padding: 15px;
}
footer{
  width: 100%;
  background-color:$dark-blue;
  color:$white;
  padding: 15px;
  box-sizing: border-box;
}
.index-container{
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  img{
    width: 200px;
  }
  a{
    background-color: $light-blue;
    border-radius: 3px;
    border:none;
    box-shadow: 0 4px 4px -4px $dark-blue;
    color:$white;
    padding: 8px 15px;
    margin:5px;
    text-decoration: none;
  }
}
#beers{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .beer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 25%;
    padding: 10px;
    color:black;
    text-align: left;
    img{
      height: 150px;
    }
    h2{
      font-size: 16px;
      margin:0;
      align-self: flex-start;
    }
    h3{
      margin:0;
      font-size: 12px;
      color:$grey;
      align-self: flex-start;

    }
    p{
      font-size: 12px;
    }
  }
}