mixin beerPartial( beer = {} )

  .beer-card
    .beer-image
      img(src=beer.image_url, alt="Beer image")
    .text-container
      h3 #{beer.name}
      h4 #{beer.tagline}
      p #{beer.description}