/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgba(145, 145, 145, 0.481);
}

nav {
  color: #F7F9F9;
  background-color:  #2081C3;
  border: 1px solid rgba(145, 145, 145, 0.481);
}


footer {
  background-color: #0A2C42;
  color: #F7F9F9;
  padding: 10px;
  border: 1px solid rgba(145, 145, 145, 0.481);
}

h1 {
  color:red;
}