

<div class="d-flex d-inline-block align-self-center m-3 card" style="width: 15%;">
    <img class="m-3 card-img-top d-flex flex-wrap align-content-center" src="{{ this.image_url }}" alt="">
    <div class="card-body">
        <h2 class="card-title">{{this.name}}</h2>
                <h5 class="text-muted card-title">{{ this.tagline}}</h5>

        <p class="card-text">{{this.description}}</p>
    </div>
</div>