
<div class="card border border-0" style="width:30%;">
    <img class="card-img-top mt-5 centeredImg" style=" height:200px; width:auto;" src="{{image_url}}" alt="">
    <div class="card-body">
        <h5 class="card-title font-weight-bold">{{name}}</h5>
        <h6 class="card-subtitle text-muted">{{tagline}}</h6>
        <br>
        <p class="card-text text-justify">{{description}}</p>
    </div>
</div>
  