<div class="beer-partial-container" style="width: 33.333%;">
  <div>
    <a href="/beers/beer-i3f4d34s34b"><img src={{this.image_url}} alt="beer images"></a>
    <h2><a href="/beers/beer-i3f4d34s34b">{{this.name}}</a></h2>
    <h3>{{this.tagline}}</h3>
    <p>{{this.description}}</p>
  </div>
</div>
</div>