<div class="col-lg-4">
  <div class="card border-0">
    <img class="card-img-top" src="{{this.image_url}}" alt=""
      style="width: 200px; height: 20%; align-self:center; margin-top:50px">
    <div class="card-body">
      <h3 class="card-name text-center">{{this.name}}</h3>
      <p class="card-text text-center">{{this.tagline}}</p>
      <p class="card-text text-center">{{this.description}}</p>
    </div>
  </div>
</div>