
<div class="card d-inline">
  <img class="card-img-top beer" src="{{this.image_url}}"  alt="">
  <div class="card-body">
    <h5 class="card-title" >{{this.name}}</h5>
    <p class="card-text" >{{this.description}}</p>
  </div>
</div>