<div class="card border border-0" style="width:23%">
  <img class="card-img-top" style="height: 250px; width:150px" src={{image_url}}>
  <div class="card-body">
    <h4 class="card-title">{{name}}</h4>
    <p class="card-text">{{description}}</p>
    <p class="card-text">{{tagline}}</p>
  </div>
</div>


{{!-- id: 25,
    name: 'Bad Pixie',
    tagline: 'Spiced Wheat Beer.',
    first_brewed: '10/2008',
    description: '2008 Prototype beer, a 4.7% wheat ale with crushed juniper berries and citrus peel.',
    image_url: 'https://images.punkapi.com/v2/25.png',
    abv: 4.7,
    ibu: 45,
    target_fg: 1010,
    target_og: 1047,
    ebc: 8,
    srm: 4,
    ph: 4.4,
    attenuation_level: 79,
    volume: { value: 20, unit: 'litres' },
    boil_volume: { value: 25, unit: 'litres' },
    method: {
      mash_temp: [Array],
      fermentation: [Object],
      twist: 'Crushed juniper berries: 12.5g, Lemon peel: 18.8g' --}}