<article class="entry">
  <img src="{{this.image_url}}" alt="this.name">

  <div>
    <h3>{{this.name}}</h3>
    <p>
        {{this.desxription}}
    </p>
    <p class="tags">{{this.tagline}}</p>
  </div>

</article>

