<div class="beers-container">
  <div class="img-container">
    <img src="{{this.image_url}}" alt="beer-image">
  </div>
  <div id="beer-info">
    <h1>{{this.name}}</h1>
    <p>{{this.tagline}}</p>
    <p>{{this.description}}</p>
  </div>
</div>