<div class="col-lg-4">
    <img class="beer-img" src={{this.image_url}} alt="">
        <h1>{{this.name}}</h1>
        <h5 class="card-title">{{this.tagline}} </h5>
        <p> {{this.description}} </p>
</div>