<div>
  <img src="https://clutchpoints.com/wp-content/uploads/2017/10/Kobe-Bryant-e1508564618882.jpg"
    alt=""/>
  <div>
    <h5>Beer Name</h5>
    <p>Tagline</p>
    <p>Description</p>
  </div>
</div>