{{!-- will display the properties that both views share: image, name, description, and tagline of the beer. --}}

<div class="beerItem">
    <img src="{{this.image_url}}" alt="why is the rum always gone?"> 
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p> 
    <h3>doing a partial here!!!</h3>
</div>
