<div class="py-5" style="width: 24%;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">{{this.description}}</p>
              <p class="card-text"><small class="text-muted">{{this.tagline}}</small></p>
            </div>
            <img class="card-img-bottom" src="{{this.image_url}}"  alt="Beer image">
          </div>
        </div>
      </div>
    </div>
  </div>