<div class="col-3"style="max-height: 100%;">

  <div class="d-flex card mb-3" style="max-width: 18rem;">
    <img class="" src={{this.image_url}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <h5 class="card-title">{{this.tagline}}</h5>
      <p class="card-text">{{this.description}}</p>
    </div>
  </div>
</div>