<article class="beer">
    <a href="">
    <img src="{{this.image_url}}" alt="Beer image">
    </a>
    <div>
       <h1>{{this.name}}</h1> 
    </div>
    <div>
        <p>{{this.description}}</p> 
    </div>
    <div>
       <p>{{this.tagline}}</p> 
    </div>
</article>

