<div class="card">
  <img src={{image_url}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="card-text">{{tagline}}</p>
  </div>
</div>