<div>
    <div class="beerImg">
        <img src="{{image_url}}">
    </div>
    <div class="beerName">
        <span>{{name}}</span>
    </div>
    <div class="tagName">
        <span>{{this.tagline}}</span>
    </div>
    <div class="beerDescription">
        <span>{{description}}</span>
    </div>
</div>