
<div class="beerPartialContainer">
<title>Beerpartial</title>
<div class="beerItems">
<div class="beerInfo">
<img src={{this.image_url}}>
</div>

<div class="moreBeerInfo">

<div><h2>{{this.name}}</h2></div>
<div><article>{{this.description}}</article></div>
<div><p>{{this.tagline}} </p></div>

</div>
</div>

</div>
