{{!-- <div class="col-md-4"> --}}
  <img
    {{!-- class="card-img-top" --}}
    src= {{this.image_url}}
    
  />
  {{!-- <div class="card-body"> --}}
    <h5>{{this.name}} </h5>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
   
    {{!-- <p>is this working?</p>
  </div>
</div> --}}

