<div>
    <img class="photo" src="{{this.image_url}}" alt="No Beer image ;-)"/>
    <div>
        <h1>{{this.name}}</h1>
        <p>{{this.description}}</p>
        <h2>{{this.tagline}}</h2>
    </div>
</div>