<nav class="navbar">
    <ul class="nav">
        <li class="navItem">
            <a href="/" class="navLink">Home</a>
        </li>
        <li class="navItem">
            <a href="/beers" class="navLink">Beers</a>
        </li>
        <li class="navItem">
            <a href="/randomBeers" class="navLink">Random Beers</a>
        </li>
    </ul>
</nav>