<ul id="nav" class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/beers">Beers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/random-beers">Random Beer</a>
</ul>