<div id="beerDiv">
    <img src="{{this.image_url}}" alt="" height="300px">
    <div>
        <h3>{{this.name}}</h3>
        <h6>{{this.tagline}}</h6>
        <p>{{this.description}}</p>
    </div>
</div>