<p>random beer</p>
 <img
    {{!-- class="card-img-top" --}}
    src= {{this.image_url}}
    
  />
  {{!-- <div class="card-body"> --}}
    <h5>{{this.name}} </h5>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
    


   
