<div id="beerDiv">
        <div class="beerImg">
            <img src="{{this.image_url}}">
        </div>
</div>
    <div>
        <h3>{{this.name}}</h3>
        <h6>{{this.tagline}}</h6>
        <p>{{this.description}}</p>
    </div>
</div>