<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IronBeer</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/beers">Beers</a>
    <a href="/random-beer">Random beer</a>
  </nav>
  <main>
    {{{body}}}
  </main>
  <footer>Develop by Ironhack ;)</footer>
</body>
</html>