<div>
    <h1>beers</h1>

    {{#each beerList}}
        
        {{> beerpartial }}

    {{/each}}

    <h2>something else after partials here</h2>

    <a href="/beers">Beers</a>
    <a href="/random-beers">Check a Random Beers</a>

</div>

