<div>


    {{#each beersFromApi}}

        <img src="{{ image_url }}" alt="">
        <br>
        {{ name }}
        <br>
        {{ description }}
        <br>
        {{ tagline }}
        

    {{/each}}


</div>