<h1>Have some Beer!</h1>

    <div >
      {{#each response}}
        <p>Beer: {{this.name}}</p>
        <p>Tagline: {{this.tagline}}</p>
        <p>Description: {{this.description}}</p>
      {{/each}}
    </div>
