<div class="container">

    <div class="row align-items-center">

        <div class="col-3">

            {{#each beers}}

            {{>beerpartial}}

            {{/each}}

        </div>
        
    </div>
    
</div>