<head>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    {{{ body }}}
    <div class="nav-bar">
        <li class="nav-bar-li"><a class="nav-bar-link" href="/">Home</a></li>
        <li class="nav-bar-li"><a class="nav-bar-link"  href="/beers">Beers</a></li>
        <li class="nav-bar-li"><a class="nav-bar-link"  href="/random-beer">Random Beer</a></li>

    </div>

<div class="allbeers-div">

  {{#each beers}}
    {{> beerpartial this}}
    </div>
    {{/each}}
</div>
 
  


{{> footerpartial}}
</body>