<div class="container">
    <div class="row">
        {{#each beers as |beer|}}
            <div class="col-4">
                {{>beerpartial beer=beer}}
            </div>
        {{/each}}
    </div>
</div>