<div class="beers-wrapper">
    <h1>Our beers</h1>
    <div class="fetchedBeers-wrapper">
        {{#each fetchedBeers}}
            <div class="card">
                <div class="card-img">
                <img src="{{image_url}}" alt="{{name}}">
                </div>
                <div class="card-name">
                </div>
                <div class="card-tagline">
                </div>
                <div class="card-description">
                </div>
            </div>
        {{/each}}
    </div>
</div>