<main class="container">
    <div class="row">
            {{#each beers}}
                <div class="col-md-6 col-lg-4">
                    {{> beerpartial }} 
                </div>    
                <hr>
            {{/each}}
        </div>
    </div>
</main>
