<div class="beer-info">
    {{> beerpartial}}
    <h3>Food Pairing</h3>
    <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p class="tips"><strong>Brewer tips</strong>{{brewer_tips}}</p>
</div>