{{!-- <h1>test beers</h1> --}}
<div class="container d-flex flex-wrap justify-content-center">
    <div class="row">
        {{#each beers}}
        {{>beerPartial}}
        {{/each}}
    </div>
</div>