<div class="beer">
  {{> beerpartial 

    name = singleBeer.name
    image = singleBeer.image_url
    tagline = singleBeer.tagline
    description = singleBeer.description
    food_pairing = singleBeer.food_pairing
    brewers_tips = singleBeer.brewers_tips
    beer = true
  
  }}
</div>