<h1> These are all the Beers in a list </h1>

<div>
{{#each beers}}
<img src="{{this.image_url}}" alt="beerimage">
<p>{{this.name}}</p>
<p>{{this.description}}</p>
<p>{{this.tagline}}</p>
{{/each}}


</div>