<main>
    {{#each beers}}
    <img src="{{image_url}}" alt="">
    <div class="beer-info">
        <h1>{{name}}</h1>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
    </div>
    {{/each}}
</main>