{{#each beers}}
{{!-- <div class="col">
    <img src="{{image_url}}" alt="beer image">
    <h5>{{name}}</h5>
    <p>{{description}}</p>
    <h6>{{tagline}}</h6>
</div> --}}
<div class="container">
    {{>beerpartial}}
</div>
{{/each}}