<div class="container">
    <div class="row">
        {{#each beers}}
        <div class="col">
            <h2>{{this.name}}</h2>
            <h3>{{this.tagline}}</h3>
            <p>{{this.description}}</p>
            <img src="{{this.image_url}}" alt="">
        </div>
        {{/each}}

    </div>