<h1>More Details!</h1>
 <div class="detailed-beer">
        {{> beerpartial}}
    {{#each beersFromApi}}
        <p>Food Pairing: {{food_pairing}}</p>
        <p>Brewer Tips: {{brewers_tips}}</p>
    {{/each}}
    </div>