<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row">

        {{#each items}}
        <div class="col-md-6">
            <p>{{image}}</p>
        </div>
        <div class="col-md-6">
            <p>{{name}}</p>
        </div>
        <div class="col-md-6">
            <p>{{description}}</p>
        </div>
        <div class="col-md-6">
            <p>{{tagline}}</p>
        </div>
        {{/each}}
    </div>
</body>

</html>