<h4>All of our beers!</h4>
<ul>
  {{#each beersFromAPI}}
  <li>
    <img src="{{image_url}}" height="100">
    <div>
      <p><b>Name:</b> {{name}}</p>
      <p><b>Description:</b> {{description}}</p>
      <p><b>Tag line:</b> {{tagline}}</p>
    </div>
  </li>
  {{/each}}

</ul>