<div class="column uk-column-1-2">

{{#each beers}}

<ul class="uk-card uk-card-default uk-card-body uk-margin-left uk-background">
    <img src="{{image}}" alt="Photo">
    <h2 class="uk-card-title"> {{name}}</h2>
    <li>{{description}}</li>
    <br>
    <li>{{tagline}}</li>
</ul>

{{/each}}

</div>

