<div class="container">
{{#each beers}}
<div class="beer">
    <img src="{{this.image_url}}" alt="">
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
</div>
{{/each}}
</div>