<p>Beer{{#each ApiBeers}}
    {{> beerpartial}}
    {{!-- <img src="{{this.image_url}}">
    <span>{{this.name}}</span>
    <span>{{this.description}}</span>
    <span>Tagline: {{this.tagline}}</span> --}}
    {{/each}}
<p>test</p>
</p>