<div>
    <h1>beers</h1>
    
    <div>
        {{#each beer}}


        <h5>{{name}}</h5>
        <img src="{{image_url}}" alt="">
        <p>{{description}}</p>
        <p>{{tagline}}</p>

        


        {{/each}}
    </div>
</div>