<div class="container">
  <div class="row">
    {{#each beers as |beer|}}
      <div class="col-3 gy-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img class="small-beer" src="{{beer.image_url}}" alt="beer-image">
            <h5 class="card-title">{{beer.name}}</h5>
            <p>Description: {{beer.description}}</p>
            <p>Tagline: {{beer.tagline}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>