<div class='beers'>
  {{#each beersFromApi}}
    <div class='beer'>
      <div class='img-container'>
        <img class='beer-img' src='{{image_url}}' /></div>
      <div class='beer-name'>{{name}}</div>
      <div class='beer-tagline'>{{tagline}}</div>
      <div class='beer-description'>{{description}}</div>
    </div>
  {{/each}}
</div>