<div class="cerveza1">
    {{#each beers}}
    <img class="beerimg1" src="{{this.image_url}}" alt="cerveza">
    <p class="descbeer"><h1>{{this.name}}</h1>
    {{this.description}}
    {{this.tagline}}</p>
    {{/each}}
</div>