
<body>

    The Beers ! 

    <div class="beers-div">
        {{#each beersResult}}

            <div class="beer-div">
                {{this.name}}
            </div>

        {{/each}}
    </div>
    
</body>
