{{#each this.chelaSola}}
<div class="card" style="width: 18rem   ; diplay:flex;">
  <img src="{{image_url}}" style="width:50px; margin: 0 auto" class="card-img-top" alt="beer">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="#" class="btn btn-primary">{{tagline}}</a>
  </div>
</div>
{{/each}}

