<section id="beersList">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper">
                    {{#each beers}}
                    {{> beerspartial }}
                    {{/each }}
                </div>
            </div>
        </div>
    </div>
</section>