<main class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            {{#each beers}}
                {{> beerpartial }} 
                <hr>
            {{/each}}
        </div>
    </div>
</main>
