
<div class="beers"></div>
    {{#each beersFromApi}}
        <article class="service-box">
        <h1>{{this.name}}</h1>
        <img src={{this.image_url}} alt="imagesBeers">
        <p>{{this.tagline}}</p>
        <p>{{this.description}}</p>
        </article>
    {{/each}}
</div>
    
