
    
    

    {{#each beers}}
   
<div class="card mb-5 mt-5 mx-auto border-0" style="max-width: 800px;">

                {{>beerpartial}}
            </div>
        </div>
 
    </div>


    
   
</div>

{{/each}}