{{#each beersFromApi}}
<br><br>
<div class="beerPage">
    <div><img class="smallBeers" src="{{image_url}}" alt="" width="50px"></div>
    <h3>{{name}}</h3>
    {{description}}
    <br>
    <i>{{tagline}}</i>
</div>
<br>
{{/each}}