 {{#each beersFromApi}}
<div id="generalContainer">
     <div id="rowContainer">
        <div id="beerImages">
            <img id="beerCardImages" src="{{this.image_url}}" alt="">
        </div>
        <div id="contentContainer">
            <p class="beerContent nameContent">Beer Name: {{this.name}}</p> <br>
            <p class="beerContent">What makes it special? {{this.tagline}}</p> <br>
            <p class="beerContent"> Description: {{this.description}}</p>
        </div>
    </div>
{{/each}}
</div>
