<div>
    {{#each this}}
    <div class="img-container">
        <img src="{{image_url}}" alt="beer" class="beer-img">
    </div>
    <div class="list-container">
        <ul>
            <li>{{name}}</li>
            <li>{{description}}</li>
            <li>{{tagline}}</li>
        </ul>
    </div>
    {{/each}}
</div>