{{#each beersFromApi}}

  <div class='beer'>
    <div class='beer-name'>{{name}}</div>

    <img class='beer-img' src='{{image_url}}' />

    <div class='beer-description'> {{description}}</div>

    <div class='beer-tagline'> {{tagline}}</div>

  </div>

{{/each}}