
<div class="d-flex flex-wrap">
{{#each beers }}
<div class="card m-4" style="width: 20rem;">
  <img src="{{image_url}}" class="card-img-top" style="max-width: 10rem; max-height: 40rem; width: 100%; height: 100%">

  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="card-tag">{{tagline}}</p>

  </div>
</div>
{{/each}}
</div>
