<div class="container allBeers">
    <div class="row">

        {{#each beersFromApi}}

            <div class="col-md-4 beerCard">
                <article class="player-card">
                    <a href="/beers/{{id}}">
                        {{>beerPartial}}
                    </a> 

                </article>
            </div>


        
        {{/each}}



    </div>
</div>






