<div>
<ul>
    <% if (beers) { %>
      <% beers.forEach(beer => { %>
      <li><%= beer.name %> <br><%= beer.description %><br><%= beer.url_image %><br><%= beer.tagline %></li>
      <% }) %>
    <% } %>
  </ul>
</div>