<div class="all-beers d-flex flex-wrap justify-content-around">
  {{#each beersFromAPI}}
    <div class="beer-card card" style="width: 18rem;">
      {{>beerpartial this}}
    </div>
  {{/each}}
</div>