<div class="beersection">
  {{#each beers}}
    <img class="randomimg" src='{{image_url}}' alt='' />
    <div class="randomtext">
    <p>{{name}}</p>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    </div>
    <hr>
  {{/each}}
</div>