<h1>Beers</h1>
{{#each beers}}
    {{> beerpartial this}}
{{/each}}


  {{!-- On the beers.hbs view, 
  loop over the array of beers using an {{#each}} loop. 
  Display an image, name, description and tagline. --}}
