{{#each beers}}
<div class="beers_wrapper">
<img class="content_beerImg" src="{{this.image_url}}" alt="beer_images">
<h2>{{this.name}}</h2>
<p>{{this.tagline}}</p>
<p>{{this.description}}</p>

</div>

{{/each}}

