<div class="beers-container">
        <h1>Beers</h1>
        <div class="beers-row">
            <div class="beers-item">
                {{#each beersFromApi}}
                    {{> beerpartial this}} 
                {{/each}}
            </div>    
        </div>
</div>
