<div class="container d-flex">
    <div class="row">
        {{>beerpartial}}

        {{!-- {{#each beersFromApi}}
        <img src={{image_url}} alt="beers">
        <p>{{name}}</p>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
        {{/each}} --}}
    </div>
</div>