<div class="container ">
    <div class="row">
        {{#each beers}}
            <div class="col-4 align-content-center">
                <div class="container">
                    {{>beerpartial}}
                </div>
            </div>
        {{/each}}
    </div>
    
</div>