<h1>Beers</h1>

<div>
    <div id="beers-container">
    {{#each beersFromApi}}
        
        <div class = "center">
            <li id="beers-li"><img src="{{this.image_url}}"/></li>
            {{> beerpartial }}
        </div>
    
    {{/each}}
</div>

</div>
