<div>
    <h1>beers</h1>
    
    <div class="beersdisplay">
        {{#each beer}}


        {{!-- <h5>{{name}}</h5>
        <img src="{{image_url}}" alt="">
        <p>{{description}}</p>
        <p>{{tagline}}</p> --}}

        {{>beerpartial}}


        {{/each}}
    </div>
</div>