<div class="row text-center">
{{#each beersFromApi}}
    <div class="col text-center">
        <div class="card mt-5" style="width: 100%;">
            <img class="card-img-top mx-auto mt-2" src="{{this.image_url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{this.tagline}}</h6>
                <p class="card-text">{{this.description}}</p>
            </div>
        </div>
    </div>
{{/each}}
</div>
