{{#each beers}}
    <ul>
        <li>
            <img src="{{this.image_url}}" alt="Beer">
        </li>
        <li>Name of the beer: {{this.name}}</li>
        <li>Tagline: {{this.tagline}}</li>
        <li>Description: {{this.description}}</li>
    </ul>
{{/each}}