    <h1>Beers</h1>
    <div class="row">
        {{#each beersFromApi}}
        <div>
            <img src={{this.image_url}} alt="this.image">
        </div>
        <div>
            <h3>{{this.name}}</h3>
            <h4>{{this.description}}</h4>
            <h5>{{this.tagline}}</h5>

        </div>
            {{!-- {{> beersFromApi this}} --}}
        {{/each}}
    </div>
</div>

{{!-- 
Question for TA:

 If I wanted to use partials, would I use the following code instead of the code above? or is it in addition to it? also, is this code correct for partials? --}}
{{!-- 
<div class="container">
  <h1>Beers</h1>
  <div class="row">
    {{#each beer}}
        {{> beerPartial this}} 
    {{/each}}
  </div>
</div> --}}