<div class="mt-5 pt-3 container d-flex flex-row flex-wrap align-content-between justify-content-around">
    
        {{#each beersInfo}}
            {{> beerpartial this}}
        {{/each}}
 
</div>
