<div class="card-container">
    {{#each beers}}
            <div>
                <img src="{{this.image_url}}" alt="chela" width="10%">
                <h3>{{this.name}}</h3>
                <p>{{this.tagline}}</p>
                <p>{{this.description}}</p>
            </div>
        {{/each}}
</div>



















{{!-- <h1>Beers</h1>
<div class="uk-child-width-1-3 uk-margin-medium-top uk-grid-match" uk-grid>
    {{#each beers}}
        {{> cardBeer this}}
    {{/each}}
</div>
 --}}




{{!-- <h1>Beers</h1>
<div class='container-beer'>
    {{#each beer}}
        {{> beerPartial}}
    {{/each}}
</div> --}}


