<div id="beers-div">
    {{#each beers}}
        <div class="beer">
            <img src={{this.image_url}} class="beer-img" alt="">
            <h3>{{this.name}}</h3>
            <h5>{{this.tagline}}</h5>
            <p>{{this.description}}</p>
        </div>
    {{/each}}
</div>