<div>
    {{#each beersFromApi}} 
        <div>
            <h4>{{name}}</h4>
            <img src="{{image_url}}" alt="image of a beer">
            <p>{{description}}</p>
            <p>{{tagline}}</p>
        </div>
    {{/each}}
</div>