<div class="container">
    <div class="row" id="gallery">
        {{#each beers}}
            {{> beerPartial}}
                            </div>
                    </div>
                </div>
        {{/each}}
    </div>
</div>