<div class="container">
  <h1>Beers</h1>
  <div class="row">
      {{#each beers}}
    <!-- 'this' gets from the elements of the players array -->
        {{> beerPartial this}}
      {{/each}}
  </div>
</div>