{{#each beers}}
  <div class='beer-info-container'>
    <img class='beer-img' src='{{this.image_url}}' alt='beer image' />
    <h2>{{this.name}}</h2>
    <p> {{this.description}}</p>
    <p>{{this.tagline}}</p>
  </div>
{{/each}}