<div>
     {{#each objetoArrayDeCervezas}}
        <div>            
            {{> beerpartial }}    
            <a href="/beerProfile/{{id}}">{{name}}</a>    
        </div>
     {{/each}}

</div>