<h1>Beers</h1>

<div>
    <ul>
    {{#each beersFromApi}}
        
        <div class = "center">
            <li><img src="{{this.image_url}}"/></li>
            {{> beerpartial }}
        </div>
    
    {{/each}}
</ul>

</div>
