<div id="beers">
    <section>
        {{#each beersApi }}
        <div id="info">
            <img src=" {{image_url}} " alt="">
            <h1>{{name}}</h1>
            <h3>{{tagline}}</h3>
            <div>
                <p>{{description}}</p>
            </div>
        </div>
        {{/each}}
    </section>
</div>