<h2>Beers</h2>
<div class="container">
    <ul class='row beer-list justify-content-center'>
    {{#each beersFromApi}}
        <li class="col-3">
            {{>beerpartial}}
        </li>
    {{else}}
        <li>No beers to show</li>
    {{/each}}
    </ul>
</div>