{{#unless beersFromApi.length}}
<p>Sorry, no recorded beers for now ...</p>
{{/unless}}

<div id="beer-list" class="flex center">
    {{#each beersFromApi}}
        <div class="flex center beer-card beer-card-multiple">
            {{>beerPartial this}}
        </div>
    {{/each}}
</div>