<div>

    {{#each allTheBeers}}
          {{> beerpartial this}}

        {{!-- <h1>{{name}}</h1>
      <h3>{{tagline}}</h3>  
         {{description}}
       <img src={{image_url}} alt="imgPic"> --}}
    {{/each}}

</div>