<div class="container">

    <h1>Select your favorite</h1>

    <hr>

    <div class="row">

        {{#each beers}}
        {{>beerpartial}}

        {{/each}}

    </div>

</div>

<div class="btnD">
<a href="/" class="btnDark">You're drunk!</a>
</div>