{{> menu }}
<main>
    <div class="container-beers">
    <ul>
    {{#each beersFromApi}}
    <li>
        <div class="img-beer">
            <img src="{{image_url}}" alt="">
        </div>
       
        <div class="content-beers">
            <h2>{{this.name}}</h2>
            <h4>{{this.tagline}}</h4>
            <p>{{this.description}}</p>
            
        </div>
    </li>
    {{/each}} 
    </ul>
    </div>
</main>
{{> footer }}