<div class="container">

    <div class="row">
        {{#each beersFromApi}}
        <div class="col-lg-4">
            <img class="bottles" src="{{image_url}}" alt="beer bottles">
            {{>beerpartial}}
        </div>
        {{/each}}

    </div>
</div>