<div id="display-beers">

    {{#each beersFromApi}}
    <div class="beer-box">
        <a href="/beers/beer-{{this.id}}"><img src="{{this.image_url}}" alt="{{this.name}}"></a>
        {{> beerpartial }}
    </div>
    {{/each}}

</div>