<div class='container-fluid'>
  <ul class='row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-between beer-list'>
    {{#each beersFromApi}}
      <li class='col'>

        {{>beerpartial}}

      </li>
    {{else}}
      <li>No hay cervezas</li>
    {{/each}}
  </ul>
</div>