<main class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            {{#each beers}}
                {{> beerpartial }} 
                <hr>
            {{/each}}
        </div>
    </div>
</main>
