<section class="beers-container">
    {{#each beers}}
    <div class="beer-card">
    <img src="{{this.image_url}}" alt="{{this.name}}-image">
        {{>beersPartial this}}
    </div>
    {{/each}}
</section>