
{{#if beerResponse}}
    {{!-- {{> beerpartials this}} --}}

    
    <img src={{this.image_url}} alt="error">

    <p>Name : {{this.name}}</p>
    <p>Description: {{this.description}}</p>
    <p>{{this.tagline}}</p>
{{/if}}

<h1>test</h1>
