<div class="beers-container">
    
    <h2>Beers</h2>

    {{#if beers}}
        {{#each beers}}
            {{> beerCard this}}
        {{/each}}

    {{else}}
        <p>No beers found!</p>
    {{/if}}

</div>