<h1>Beers</h1>

{{#each beer}}
	<div class="beerDisplay">
    <div class="beerItem">
	<img class="beerBottle" src="{{image_url}}" alt="beer">
  <h3>
    {{name}}
  </h3>
<p>{{description}}</p>
<p>{{tagline}}</p>	
</div>
</div>

{{/each}}

