<div>
    {{#each beers}}

    {{!-- {{>beerpartial this}} --}}



    <img src="{{image_url}}" alt="beer picture">
    <h5>{{name}}</h5>
    <p>{{description}}</p>
    <p>{{tagline}}</p>

    {{/each}}
</div>