
<div class="beercontainer">
{{#each list}}

    {{!-- <img src="{{this.image_url}}" alt="beer-pic">
    <p>Name : {{this.name}}</p>
    <p>Description : {{this.description}}</p>
    <p>Tagline : {{this.tagline}} </p> --}}

    {{> beerpartial beer=this }}

{{/each}}

</div>