
{{#each beers}}
    <div class="beer-box">
        <img src="{{this.image_url}}" alt="something went wrong">
        <div id="beer-text">
            <h3>{{this.name}}</h3>
            <p>{{this.description}}</p>
        </div>


    </div>

    
{{/each}}
