<h1>Beers selection</h1>

<ul>
    {{#each listOfBeers}}
    <li>
        <img src={{this.image_url}}><br>
        Name : {{this.name}}<br>
        Desc. : <i>{{this.description}}</i><br>
        Tagline : "{{this.tagline}}"<br>
    </li>
    {{/each}}
</ul>