<div>
    {{#each beersFromApi}}
        {{#with this}}
        <div>
            <img src="{{image_url}}" alt="">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <p>{{tagline}}</p>
        </div>
        {{/with}}
    {{/each}}
</div>