        
 {{#each beersFromApi}}
     <div class='beer'>
     <div class='beer-top'>
     <img src='{{image_url}}' class='beer_img'/>
     </div>
     <div class='beer-body'>
     <h3 class='beer-title'>{{name}}</h5>
     <p class='beer-tag'>{{tagline}}</p>
     </div>
      </div>
 {{/each}}