<div class='container'>
  <div class='row py-5'>
      {{#each data}}
     <div class="col-4">
        <a class="links" href="">
             {{> beerpartials}}
        </a>
    </div>  
      {{/each}}
    
  </div>
</div>