{{#if beersFromApi.length}}
{{#each beersFromApi}}
<div class="beers">
    <img src="{{this.image_url}}" alt="beers pic">
    <p>name: {{this.name}}</p>
    <p>description :{{this.description}}</p>
    <p>tagline :{{this.tagline}}</p>
</div>
{{/each}}
{{/if}}