
<div class="container">
  <h1>Players</h1>
  <div class="row">
    {{#each beersFromApi}}
    <img src={{image_url}} alt="">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <p>{{tagline}}</p>
    {{/each}}
  </div>
</div>
<script src=""></script>