
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>


{{#each beersFromApi}}

<div class="card" style="width: 18rem;">
  <img src="{{this.image_url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text"> {{this.description}}</p>
 
  </div>
</div>
    
{{/each}}


</body>
</html>
