<div>
    <h1>All the beers</h1>
    <div class="beerContainer">
        {{#each allBeers}}
        <div class="eachBeer">
            {{> beerPartial}}
            
        </div>
        {{/each}}
    </div>
</div>