
{{!-- Iteration 4 - Random beer page - 4.1 The /random-beer route - 4.2 The random-beer.hbs view --}}
{{!-- display an image, name, description, tagline, food pairing and brewer tips.  --}}
 <div class="a-beer-container">
        {{!-- Bonus: Iteration 5 - Beer partial --}}
       {{> beerpartial beer=aBeer moreDetails=true}}
 </div>