<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container beer-container">

        <div class="row">
            {{#each beersFromApi}}
            <div class="col-md-4">
                {{>beerspartial}}
            </div>
            {{/each}}

        </div>
    </div>


</body>

</html>