    
    <div>
        {{#each beers}}

        <div>
            <img src="{{image_url}}" alt="beer-image">
        </div>
        <p>{{name}}</p>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
        {{/each}}
    </div>
