<div id="beers-columns">


 {{#each beers}}
 
 <div class="beers-columns-data">
    <img src="{{image_url}}">
    <li>{{name}}</li>
    <li>{{tagline}}</li>
    <li> {{description}}</li>
 </div>
 
    
{{/each}}


</div>