<div>
  {{#each beers}}
  <li>
    {{> beer}}
  </li>
    {{!-- <li>
        {{this.name}}
        {{this.tagline}}
    <img src="{{this.image_url}}" alt="">    
        {{this.description}}

    </li> --}}
  {{/each}}
</div>