<div class="container mt-5">
    <h1>All Beers</h1>
    <hr>
    <div class="row">

        {{#each allBeers}}
        
         <h5>{{name}}</h5>
    

        {{/each}}

    </div>
    <hr>
    <a href="/" class="btn btn-dark">Back to Home</a>
</div>