<div class="main flex inRow">

    {{#each allBeers}}
    <div class="wrap">

        <img
            class="image small"
            src="{{this.image_url}}"
        />
        {{> beerpartial}}
    
    </div>

    {{/each}}


</div>