<ul>
  {{#each beersFromAPI}}
  <li>
    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <img src={{image_url}} width="50" height="150" alt="">
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">{{name}} {{tagline}}</h3>
        <p>{{description}}</p>
      </div>
    </div>
  </li>
  {{/each}}
</ul>