
    
      <div class="beerListContainer">

            {{#each beers}}
        <div class="beerContainer">
            {{> beerpartial this }}
        </div>
            {{/each}}
        
      </div>

