
    <div>
           <h1>Beer!</h1>
    <ul>
   {{#each beersFromApi}}

      <li> {{this.name}} {{this.tagline}} {{this.description}} </li> 
      <img src="{{this.image_url}}" alt="image">
       
   {{/each}}
</ul>
</div>


