<div>
    {{#each beers}}
    <div>
        <div>
            <img id="all-beers-img" src="{{image_url}}">
        </div>
        <div>
            <h1> {{name}} </h1>
            <h3> {{tagLine}}</h3>
            <p> {{description}} </p>
        </div>
    </div>
    {{/each}}
</div>