  <head>
    <meta charset='utf-8' />
    <title>Beers</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    <h1>Beers, Beers, and More Beers!</h1>
    <ul>
      {{#each beers}}
        <li>
            {{> beerInfo this}}
        </li>
      {{/each}}
    </ul>
  </body>