<h1>Biiiiiiiiiirrrrrrrrrrrrrra</h1>
{{#each birra}}
<img src="{{this.image_url}}" alt="">
<h1>{{this.name}}</h1>
<h2>{{this.description}}</h2>
<p>{{this.tagline}}</p>
<div>{{>beerpartial}}</div>
<br><br><br>
{{/each}}