<main>


    {{#each data}}
    <ul>
        <li>
            <h4>{{name}}</h4>
                <p>{{description}}</p>
                <img src='{{image_url}}'>
                <p>{{tagline}}</p>
        </li>

    </ul>

    {{/each}}


</main>