<h1>Beers</h1>
<div class="cards">
    {{#each this}}
    {{#if this.image_url}}
        <div class="card">
            <a href="/beer/{{id}}">
                <div class="card_img">
                    <figure>
                        <img src="{{image_url}}">
                    </figure>
                </div>
                {{> beerpartials this}}
            </a>
        </div>
    {{/if}}
    {{/each}}
</div>