<div class="row">
    {{#each infoBeer}}
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card" style="d-flex justify-content-center">
            {{>beerpartial}}
            <a href="/beers/beer-i3f4d34s34b"></a>
        </div>
    </div>
    {{/each}}
</div>