<h1>Bolivia</h1>
<div class="container">
{{#each this}}
    <img class="beer-image" src="{{image_url}}" alt="">
    <h5>Nombre</h5>
    {{name}}
    <h5>tag</h5>
    <br>
    {{tagline}}
    <br>
    {{description}}
{{/each}}
</div>