<div class="container">
    <div class="row d-flex jusfity-content-center">
        <div class="col-5">
            {{#each beers}}
            {{> beerpartial}}
            <div class="inline">
                <p>
                    Food Pairing:
                    {{#each food_pairing}}
                    <li>{{this}}</li>
                    {{/each}}
                </p>
                <p>
                    Brewers Tips: {{this.brewers_tips}}
                </p>
            </div>
        </div>
        {{/each}}
    </div>
</div>