{{!-- <div>
    Lista de cervezas:
    <ul>
        {{#each bs}}
        <li>{{this.name}}</li>
        {{else}} <li>?</li>
        {{/each}}
    </ul>

</div> --}}

<div class="">
    <div class="row gx-3">
        {{#each bs}}
        {{#if @last}}
        <div class="col-lg-4 col-md-6 mt-3 card-group mb-3">
            {{> beerPartial this}}
            {{!-- </div> --}}
            {{!-- {{/if}} --}}
        </div>
        {{else}}
        <div class="col-lg-4 col-md-6 mt-3 card-group">
            {{> beerPartial this}}
            {{!-- </div> --}}
            {{!-- {{/if}} --}}
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>