<div class="beers-detail">
    {{>beerPartial}}
    <p> <strong>First brewed: </strong>{{first_brewed}} </p>

    <p><strong>Food pairing: </strong></p>
    <ul>
        {{#each food_pairing}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>

    <p><strong>Brewers Tips: </strong>{{brewers_tips}} </p>
</div>
</div>