

{{#each beers}}
<div class="randombeer">
    <div>
        <img src="{{image_url}}" alt="">
    </div>
    <div class="bearinfo">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
    </div>
</div>

{{/each}}