<div class="container-fluid">
    <div class="row">
        {{#each beersFromAPI}}
        {{!-- > the greater than sign means that card is a partial --}}
        {{> beerPartial}}
        {{/each}}
    </div>
</div>
<script>
    
</script>
