<section class="container">

    {{#each data}}

    <div class="beers-div">
        <img src="{{this.image_url}}" alt="beers">
        <p>{{this.name}}</p>
        <p>{{this.description}}</p>
        <p>{{this.tagLine}}</p>
    </div>
    {{/each}}

</section>