<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Im beer</div>

    {{#each beersFromApi}} 
    <div><img src="{{this.image_url}}"></div>
    <p> {{this.name}} </p>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
    {{!-- <br>    <br>    <br> --}}
    {{/each}}
</body>
</html>