
<div class="container d-flex flex-wrap justify-content-center">
{{#each beersarray}}

<div class="card m-3">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{image_url}}" style="width:10 rem" alt="{{name}}">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
        
    </div>
    
</div>
</div>
{{/each}}
</div>

