    <ul>
    {{#each beers}}
        <ul>
            <li>{{name}}</li>
             <li>{{image_url}}</li>
              <li>{{description}}</li>
               <li>{{tagline}}</li>
        </ul>
    <br>
    {{/each}}
    </ul>