<div>
    <ul class="list-group">
        {{#each beersFromApi as |beer|}}
        <li class="beers-container list-group-item">
            <img src={{beer.image_url}}></br>
            <h1>{{beer.name}}</br></h1>
            {{beer.description}}</br>
            <b>{{beer.tagline}}</br></b>
        </li>
        {{/each}}
    </ul>
</div>