<div class="container3">
    {{#each this}}
    <div>
        <img id="beer-image" src={{image_url}}>
        <br>
        <span>Beer Name</span>
        <br>
        {{name}}
        <br>
        <span>Tag Line</span>
        <br>
        {{tagline}}
        <br>
        <span>Description</span>
        <br>
        {{description}}
    </div>
    {{/each}}
</div>