<h1>Beers</h1>
<div class="cards">
    {{#each this}}
    {{#if this.image_url}}
    <div class="card">
        <div class="card_img">
            <figure>
                <img src="{{image_url}}">
            </figure>
        </div>
        {{> beerpartials this}}
    </div>
    {{/if}}
    {{/each}}
</div>