<div class="container">

<div class="row justify-content-center">
{{#each beers as |beer|}}
    <div class="card col-3 m-3 align-item-sm-center">
      <div class="card-body myContainer-beer">
        <div class="beer-margins">
          <img src="{{image_url}}" class="mx-auto d-block each-beer" alt="Pic of {{name}}">
        </div>
        <div>
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{tagline}}</p>
          <a class="btn btn-light btn-sm" href="/random-beers" role="button">Details ></a>
        </div>
      </div>
    </div>
  {{/each}}
    </div>
</div>
