<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#each beersFromApi}}
    <div>
        <img src="{{this.image_url}}" alt="">
        <div >
            <h2>{{this.name}}</h2>
            <p>{{this.description}}</p>
            <p>{{this.tagline}}</p>
        </div>
    </div>
    {{/each}}

</body>
</html>