<div class='container'>
    <div class="row">
  {{#each beers}}
    {{!-- <img src='{{image_url}}' alt='' />
    <p>{{name}}</p>
    <p>{{description}}</p>
    <p>{{tagline}}</p> --}}
  
    {{>beerpartial}}

  {{/each}}
</div>
</div>