<div class="container">
    <h1>Beers</h1>
    <div class="row">
        {{#each beersFromApi}}
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src={{image_url}}>
                <div class="card-body">
                    <p>{{name}}</p>
                    <p>{{description}}</p>
                    <p>{{tagline}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


        