<head>
    <title>Beers</title>
</head>

<section class="beer-container">

    <div class="row beer-list">
        {{#each beersFromApi}}
        {{>beerCard}}
        {{/each}}
    </div>

</section>