<div class="container">
    <!--<h1>Estas son mis Beers</h1>-->

    <div>
        {{#each beers}}
        {{>beerpartials}}
        {{/each}}
    </div>
    
    
    
    
    
    
    
    
    <!--<a href="/" class="btn">ir a home</a>-->
</div>