<section class="container all-beers-section">
    <div class="row beer-list">

        {{#each beer}}
        {{>beerCard this}}
        {{/each}}

    </div>

    <a href="/" class="btn btn-dark btn-lg">Volver a inicio</a>

</section>