<div>
  <h1>Beers</h1>
  <ul>
    {{#each beers}}
      <li>{{name}}</li>
      <p>{{tagline}}</p>
       <img src="{{images_url}}">
      <p>{{description}}</p>
      
      
    {{/each}}
  </ul>
</div>