<ul>
    {{!-- take the "beers" from "app.js" --}}
    {{#each beers}}
    <ul>
        {{!-- take the fields from the "beers" --}}
        <img src="{{image_url}}" alt="">
        <li>{{name}}</li>
       
        <li>{{description}}</li>
        <li>{{tagline}}</li>
    </ul>
    <br>
    {{/each}}
</ul>