<div>

{{#each beers}}

<p>
     Name: {{this.name}}
</p>
<p>
    Tagline: {{this.tagline}}
</p>
<p>
    Description: {{this.description}}
</p>

<p>
    <img src= {{this.image_url}} alt="beer" width="300">
</p>

{{/each}}

</div>