<main>
    {{#each beers}}
    <div class="beer-info">
        <img src="{{image_url}}" alt="">
        <div class="beer-text">
            <h1>{{name}}</h1>
            <p>{{description}}</p>
            <p>{{tagline}}</p>
        </div>
    </div>
    {{/each}}
</main>