<div>

  {{#each beersFromApi}}
    <div class='single-beer'>
      <img src='{{image_url}}' alt='' />
      <h2>{{name}}</h2>
      <p>{{description}}</p>
      <p>{{tagline}}</p>
    </div>
  {{/each}}
</div>