<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
</head>
<body>
    <h1>Welcome to beers</h1>

    <nav class="navbar">
        <a class="home" href="/">Home</a>
        <a class="nav-randomBeer" href="/randomBeer">Random Beer</a>
    </nav>

    <div>
    {{#each this}}
        <p> {{image}}</p>
        <p> Beer: {{name}}</p>
        <p> {{description}}</p>
        <p> {{tagline}}</p>
    {{/each}}
    </div>
    
</body>
</html>