<div class='container-fluid'>
    <ul class='row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-between'>
        {{#each beersFromApi}}
        <li class='col beer-list'>
            {{>beerpartial}}
        </li>
        {{/each}}
    </ul>
</div>