

{{!-- TO ACCESS INDEX OF AN ARRAY IN HBS YOU HAVE TO DO variable.[*indexhere*] --}}
{{#each beers}}
    <img src="{{image_url}}" alt="Beer Image">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
    <h3>{{tagline}}</h3>
{{/each}}
