<link rel="stylesheet" href="/stylesheets/styles.css">

<body id="beers-page">
    <div id="beers">
        {{#each beersFromApi}}

            <img class="beers-img" src={{image_url}}> </br>
            <b>Name</b>: {{name}} </br>
            <b>Description</b>: {{description}} </br>
            <b>Tagline</b>: {{tagline}} </br>

        {{/each}}
    </div>

</body>

