<section class="container">

    <h1>Beers</h1>
    <hr>

    <div class="row beers-list">


            {{#each beerNew}}
            {{>beerpartial this}}
            {{/each}}


    </div>

</section>