<section>
    <ul>
        {{#each this}}
            <li>{{image_url}}</li>
            <li>{{name}}</li>
            <li>{{description}}</li>
            <li>{{tagline}}</li>
        {{/each}}
    </ul>

</section>
