<div class="body-container">
    <h1>Beers</h1>
    <div class="row">
        {{#each beers}}
            <div class="row beers-container col-md-4 d-flex justify-content-center">
                {{> beerInfo this}}
            </div>
        {{/each}}
    </div>
</div>