<div>
    <h1>Beers</h1>
</div>


<main class="container players-page">

    <div class="row all-beers">
        {{#each beersFromApi}}

        {{> beerCard}}

        {{/each}}
    </div>


    </div>

</main>