<ul>
    {{#each beersFromApi}}
    {{> beerpartial}}
      {{!-- <li><img src={{image_url}}></li>
      <li>{{name}}</li> 
      <li>{{description}}</li>
      <li>{{tagline}}</li> --}}
    {{/each}}
</ul>
