<div class="row all">
  {{#each beers}}
    <div class="col-xl-3">
      <ul class="beer">
        <li><img src="{{image_url}}" alt=""></li>
        <br>
        <li><h5><b>{{name}}</b></h3></li>
        <br>
        <li><p>{{description}}</p></li>
        <li><p><i>{{tagline}}</i></p></li>
      </ul>
    </div>
  {{/each}}
</div>
