<div class="beers">
  {{#each beers as |beer|}}
    
    <div class="card">
        <img class="beer-image" src="{{beer.image_url}}" alt="beer-image">
        <h2 class="card-title">{{beer.name}}</h2>
        <h3> {{beer.tagline}}</h3>
        <p>{{beer.description}}</p>
    </div>
    
  {{/each}}
</div> 