<main class="main-of-beers">
<div class="container">
    <div class="row">
        {{#each beersData}}
        <div class="col-4">
            <a href="/beers/{{this.id}}">
                {{>basicBeerInfo this}}
            </a>
        </div>
        {{/each}}
    </div>
</div>
</main>
