<div class="container mt-5">
    <hr>
    <div class="row">

        {{#each beersdata}}
        
        <div class="col-md-4 mb-3 ">
            <div class="card">
                <img src={{image_url}} class="card-img-top mt-5" >
                <div class="card-body">
                    <h5 class="card-title mt-2">{{name}} </h5>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">{{tagline}}</p>
                </div>
            </div>
        </div>


        {{/each}}

    </div>
    <hr>
    <a href="/" class="btn btn-primary">Inicio</a>
</div>
