<div class="main-random-beer">
    <ul>
        {{#each beer}}
            {{> beerpartial }}

            <li> Food Paring </li> 
            {{#each food_pairing}} 
                <li> {{this}}</li>
            {{/each}} 
            <li> <span> Brewers tips:</span> {{brewers_tips}} </li> 
        {{/each}}


    </ul>

</div>




    