<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-4">
     
       
        
          {{#each beers}}
          {{> beerpartial this}}
          {{/each}}
     
      
    </div>
  </div>
</div>



<div class="container">
  <h1>Las 25 cervezas</h1>
  <div class="row">
    {{#each beers}}
    {{> beerpartial this}}
    {{/each}}

  </div>
</div>
