
{{!-- 
{{#each beersFromApi}}

{{> beerCards this}}

{{/ach}} --}}









<div>
  <div class = "order">
  {{#each beersFromApi}}
   <div class = "box">
    <img class = "beerimg" src='{{this.image_url}}' alt='Beers'>
     
    <h2>{{this.name}}</h2>
    <br>

    <p>{{this.description}}</p>
    <br>

    <h6>{{this.tagline}}</h6>

  </div>

  {{/each}}
  </div>
</div>



