<body>
    <div class="container">
        <div class="row p-5 justify-content-center" >
            {{#each beersFromApi}}
                {{> beerpartial this}}
            {{/each}}
        </div>
    </div>
</body>

 