{{#each beers }}
<div class="column">
    <div class="card">
        <img src="{{image_url}}" >
        <h5 class="mt-0">{{name}}</h5>
        <p class="tagline">{{tagline}}</p>
        <p>{{description}}</p>
        

    </div>
</div>

{{/each}}


<footer class="t-random2">
    <p>Develop by Ironhack ;)</p>
</footer>

