  <div class="row"> 
        {{#each drinks}}   
        <div class="container">
          <div class="card"> 
  <img  src="{{image_url}}" class="card-image" alt="...">
  <div class="card-body"> 
    <p class="card-name">{{name}}</p>
    <p class="card-text">{{description}}</p> 
    <p class="tagline">{{tagline}}</p>
  </div>
</div>
        </div>
          
        {{/each}}

  </div>
        
       
