<div class="beer-list">
    {{#each beers}}

    <div class="listed-beer">

        <div>
            <img class="listed-beer-img" src="{{image_url}}" alt="">
        </div>

        <div class="listed-beer-text">
            <h1>{{name}}</h1>
            <h3>{{tagline}}</h3>
            <p>{{description}}</p>
        </div>

    </div>

    {{/each}}
</div>