<div class="container">
    <div class="row">
        {{#each beers}}
            <div class="col-4 beer-info">
                <img src="{{image_url}}" alt="{{name}}" class="mx-auto d-block m-4">
                {{>beerpartial}}
            </div>
        {{/each}}
    </div>
</div>



