<div class="container">
  <div class="row-title">
    <h1 class="title">{{title}}</h1>
  </div>
  <div class="row">
    {{#if beers}}
      {{#each beers as |beer|}}
        <div class="col-4 beer-container">
          <div class="card beer-card">
          {{> beerpartial}}
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>
</div>