<div>

    {{#each beers}}
    {{!-- <img src="{{this.image_url}}" width="100px" alt="beer pic">
      <p>
          <b> This is {{this.name}}.</b> <br>
          {{this.description}}. <br> #{{this.tagline}}
      </p>   --}}

      {{> beerpartial this}}
    {{/each}}

</div>