<div>
    {{#each beersFromApi}}
    <div> 
        <img src={{this.image_url}}>
        <h1>{{this.name}}</h1>
        <h2>Description</h2>
        <p>{{this.description}}</p>
        <h2>Tagline</h2>
        <p>{{this.tagline}}</p>
    </div>
    {{/each}}
</div>