<ul>
    {{#each beersArr}}
         <li>            
             <h4>{{this.name}}</h4>
             <h5>{{this.tagline}}</h5>
             <p>{{this.description}}</p>
             <img src="{{this.image_url}}"/>
         </li>
         {{/each}}

