<div class="row alineacion">

    {{#each beers}}


    <div class="card cerveza shadow" style="width: 18rem;">
        <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text">{{tagline}}</p>
        </div>
    </div>



    {{/each}}

</div>