
  <div class="container">
    <div class="row beer-card">
    {{#each beers}}
    <div class="card-container col-4">
      <div class="card">
      {{>beerpartial}}
      </div>
      </div>
    </div>
    {{/each}}
    </div>
  </div>
