<div class='col-md-4'>
    <div class='card'>
        {{#each selectedBeers}}
        <img class='card-img-top' src='{{image_url}}' alt='beer image' />
        <div class='card-body'>
            <h5 class='card-title'>{{name}}</h5>
            <p class='card-text'>{{description}}</p>
            <p class='card-text'>{{tagline}}</p>
        </div>
        {{/each}}
    </div>
</div>