<div class="container">
    <div class="row">
        {{#each beers}}
        <div class="col-4" id="beers">
            {{> beerpartial this}}
        </div>
        {{/each}}
    </div>
</div>
</div>