<div>

    <div class="container ">
        <div class="row">
            {{#each beersInfo}}
            <div class="card beer-img" style="width: 18rem;">
                {{>beerPartial}}
            </div>
            {{/each}}
        </div>
    </div>

</div>