<main class="container py-5 mx-auto">
    <div class="row">
        <div class="card-deck card-flex">
            {{#each beers}}
                {{>beerpartials}}
            {{/each}}
        </div>
    </div>
</main>