<div class="all-beers">
    {{!-- take the "beers" from "app.js" --}}
    {{#each beers }}
    <div class="all-beers-wrapper">
        <div class='test'>
            {{>beerpartial}}

        </div>
        <div class="image-all-bears">
            {{>imagepartial}}
        </div>
    </div>

    {{/each}}
</div>