<h1>test</h1>


<ul>
  {{#each beersFromApi}}
    <li>image: {{this.image}}</li>
    <li>name: {{this.name}}</li>
    <li>description: {{this.description}}</li>
    <li>tagline: {{this.tagline}}</li>
  {{/each}}
</ul>

