    <ul class="list-group">
        {{#each beers}}
        <li class="beers-container list-group-item">
            <img src={{image_url}}></br>
            <h1>{{name}}</br></h1>
            {{description}}</br>
            <b>{{tagline}}</br></b>
        </li>
        {{/each}}
    </ul>
</div>