<div class="container">
    <h1>Beers</h1>
    <div class="row d-flex jusfity-content-center">
        {{#each beers as |beer|}}
        <div class="col-4 mb-3">
            <img src="{{beer.image_url}}" alt="">
        </div>
        <div class="col-8 mb-3">
            <h2>{{beer.name}}</h2>
            <p><em>{{beer.tagline}}</em></p>
            <p>{{beer.description}}</p>
        </div>
        {{/each}}
    </div>
</div>