<section class="container">

    <h1>Beers</h1>

    <div class="row">

        {{#each beers}}
        {{>beerCard this}}
        {{/each}}

    </div>

    <a href="/" class="btn btn-dark btn-sm">Volver a inicio</a>

</section>