<div class="beer-container">
    {{#each beers}}
            <img class="beers-images" src="{{this.image_url}}" alt="picture of a beer"/>
            <h3>{{this.name}}</h3>
            <p></p>
            <h4>{{this.tagline}}</h4>
            <p></p> 
            <h4>{{this.description}}</h4>
    {{/each}}
</div>