<div class='list-container'>
  {{#each beers}}
    <a href='/beers/{{id}}'>
      <div class='list-item'>
        <div class='beer-name'>{{name}}</div>
        <div class='beer-img'>
          <img class='item-img' src='{{image_url}}' alt='{{tagline}}' />
        </div>
      </div>
    </a>
  {{/each}}
</div>