<div class="beers2">
{{#each beers}}
    <div class="container">
        <img class="sizeBeers" src={{this.image_url}} />
        <h1>{{this.name}}</h1>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
    </div>
{{/each}}
</div>