<div>

    <ul class="grid"> {{#each beersFromApi}}
        <li>
            {{>beerpartial}}
            <a href="/beer-detail/{{this._id}}">See more</a>
        </li>
        <br>
        {{/each}}

    </ul>

</div>