<h1>Listado de cerveza</h1>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {{#each data}}
        <div class="col">
            <div class="card shadow-sm">
                <img src="{{this.image_url}}" class="thumbnail-image" />
                <div class="card-body">
                    <h2>{{this.name}}</h2>
                    
                    <p class="card-text">{{this.description}}.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>	
        {{/each}}
    </div>
</div>