<div class="container">

    <h1>Select your favorite</h1>

    <hr>

    <div class="row">

        {{#each beers}}
        {{>beerpartial}}

        {{/each}}


        <a href="/" class="btn btn-dark">You're very drunk!</a>



    </div>