<div class="container mt-4">
    <h1 class="py-1">BEERS</h1>
    <hr>
    <div class="row d-flex justify-content-center gap-3">
        {{#each beersInfo}}
        {{>beerpartial}}
        {{/each}}
    </div>
</div>
