<h1 class="display-3  text-center">All Beers</h1>
<div class="container">
    <div class="card">
            {{#each beers}}
                {{> beerPartial this}}
            {{/each}}
    </div>
</div>
