<section class="beers">
    <ul>
        {{#each beersFromApi}}
          <img src={{image_url}} alt="beers"/>
          <p> {{ name }} </p>
          <p> {{ description }} </p>
          <p> {{ tagline }} </p>
        {{/each}}
    </ul>
</section>