<section class="container">

    <div class="row beers-list">
        {{#each beers}}
        <div class="col-md-4">
            <article>
                {{>beerInfo this}}
            </article>
        </div>
        {{/each}}   
    </div>



</section>