<div id="beer-container">
    <div class="beer card">
        {{#each beersFromApi}}

        <img id="imgBeer" src="{{ image_url }}" />
        <p>Name: {{ name }}</p>
        <p>Description: {{ description }} </p>
        <p>Tagline: {{ tagline }} </p>

        {{/each}}
    </div>
</div>