<div class='beerListFlex'>
    {{#each beersList}}
        {{> beerpartial this}}
    {{!-- <h1>{{name}}</h1>
    <h2>{{tagline}}</h2>
    <img src="{{image_url}}"  style='height: 300px;' alt="Beer">
    <p>{{description}}</p> --}}
    {{/each}}
</div>