<main class="allTheBeers">
    <h1>Beers</h1>
    {{#each beersFromApi}}
    <img class="beer" src="{{this.image_url}}"">
    <h3>{{this.name}}</h3>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>

    {{/each}}
    <h1>

    </h1>

    <img>

    <p>

    </p>

</div>