<div >
    <div >
        {{#each beersFromApi}}

        <img src="{{ image_url }}" />
        <p>Name: {{ name }}</p>
        <p>Description: {{ description }} </p>
        <p>Tagline: {{ tagline }} </p>

        {{/each}}
    </div>
</div>