    <div class="beers-container">
        <div class="beers">

            {{#each beersFromApi}}
            <a class="no-decoration" href="/chosenbeer/{{id}}">
                {{>beerpartial}}
            </a>

            {{!-- <a href='/chosenbeers/{{id}}'>{{name}}</a> --}}
            {{/each}}

        </div>
    </div>

<p class="choose-beer">Choose your beer...</p>