<div>
  <h1>Beers</h1>
</div>
<<<<<<< HEAD
<div class="beers">

    {{#each beers}}     
=======
<div class='beers'>
    {{#each beers}}
>>>>>>> fd6a62b5b975a9a8ffbd117374b91e00683bfca0
        {{> beerpartial}}
    {{/each}}
</div>