<div>
  <p>Beers</p>
  <ul>
    {{#each beers}}
      <li>
        {{this.name}}
        <img src="{{this.image_url}}">
         {{this.description}}
        {{this.tagline}}
      </li>

    {{/each}}
  </ul>
</div>