<div class="beers container">
    {{#each beers}}
    <div>
        <img class='beer-card__img' src='{{this.image_url}}' alt='{{this.name}}' />
        {{> beerpartial this}}
    </div>
    {{/each}}
</div>