<div class="beers">

    {{#each beerList}}
        {{> beerpartial }}
    {{/each}}

    <div class="buttons">
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random Beer</a>
    </div>
</div>

