<div class="container">
  <div class="row">
    {{#each beers}}
      {{> beerpartial 
        image_url=image_url
        name=name
        tagline=tagline
        description=description
      }}
    {{/each}}
  </div>
</div>

