<div>
    {{#each beers}}
    <li> 
        <img src="{{this.image_url}}" width="200" alt=""><br>
        Name: {{this.name}}<br>
        Description: {{this.description}}
        Tagline: {{this.tagline}}<br>
    </li>
    {{/each}}
</div>