      {{#each beersFromApi}}
<div class="card beers" style="width: 18rem;">
 <img src="{{image_url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"> {{description}}</p>
  </div>
</div>
  {{/each}}