
<div class="container" id="beers">
  <div class="row">
        {{#each beersFromApi}}
        <div class="col-md-4">
        {{> beerpartial }} 
{{!--         <button><a href="/beers{{id}}">go to beer</a></button> --}}
        </div>
        {{/each}}
  </div>
</div>

