<div>
    {{#each beersFromApi}}
        {{!-- <img src="{{image_url}}" alt="Beer image">
        <p>{{name}}</p>
        <p>{{description}}</p>
        <p>{{tagline}}</p> --}}
        {{> beenpartial}}
    {{/each}}
</div>