    <nav>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beer">Random Beer</a>
    </nav>

<h1>Beers page</h1>

<div class="beer">

{{#each beerArr}}
<div>
<li><img class="little" src="{{image_url}}"></li>
<div class="rightSide2">
<li class="name">{{name}}</li>
<li class="tagline">{{tagline}}</li>
<li class="description">{{description}}</li>
</div>
</div>

{{/each}}
</div>