<main>
    {{#each this}}
    <div class="beerCard">
        <div class="beerImage">
            <img src="{{image_url}}" alt="">
        </div>
        <div class="beerTitle">
            <p>{{name}}</p>
        </div>
        <div class="tagLine">
          <p>{{tagline}}</p>
        </div>
        <div class="beerDescription">
            <p>{{description}}</p>
        </div>
    </div>
    {{/each}}
</main>