<div class="container mt-5">
    <h1>All Our Beers</h1>
    <hr>
    <div class="row">

        {{#each allBeers}}

        {{!-- <div class="col-md-4 mb-2">
            <div class="card">
                <img src={{image_url}} class="card-img-top" alt={{name}}>
                <div class="card-body">
                    <h3 class="card-title">{{tagline}}</h3>
                    <p class="card-text">Description: {{description}}</p>
                </div>
            </div>
        </div> --}}
        {{>beerpartials}}
        {{/each}}

    </div>

</div>