<div>
    {{#each beersFromApi}}
        <img src={{this.image_url}}>
        <p>Name: {{this.name}}</p>
        <p>Description: {{this.description}}</p>
        <p>Tagline: {{this.tagline}}</p>
    {{/each}}
</div>