<h1>beers</h1>

<div>
    {{#each beersFromApi}}
<ul>
    <img src=" {{image_url }}" alt="beers">
    <li> Name : {{name}}</li>
    <li> Description : {{description}} </li>
    <li> Tagline : {{tagline}} </li>
</ul>

    
    
       
    {{/each}}
</div>