
{{#each beers}}
{{> beerpartial }}
{{/each}}







<!---
<div class="uk-child-width-1-2@m" uk-grid>
   
   {{#each beers}}
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="{{image_url}}" width="100" height="50" alt="">
            </div>
            <div class="uk-card-body">
                <h2 class="uk-card-title">{{name}}</h2>
                <h4> {{tagline}}</h4>
                <p>{{description}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>--->