<main>


    <div class='container-fluid'>

        <div class="row">

        {{#each data}}  
            <div class='col-4'> {{>beerpartial this}}</div>
        {{/each}}
        </div>

    </div>

  


</main>