<div class="container">

    <h1>Beers</h1>

    <hr>

    <div class="row">


        {{#each beers}}
        <div class="col-md-4">
            {{>beerPartials}}

        </div>
        {{/each}}

    </div>
</div>