<div class="container">

    <div class="row justify-content-between">

        {{#each beersDatApi}}

        <div class="col-lg-4 col-md-6 col-sm-12">

        {{>beerpartial}}
        
        </div>

        {{/each}}

    </div>

</div>