<h1>Detail beer</h1>
{{!-- 4.2 The random-beer.hbs view --}}


{{> beerpartial oneBeer}}

<p>Food Pairing</p>

{{#each oneBeer}}

<ul>
    {{#each this.food_pairing}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<br>
<p>Brewer Tips: {{this.brewers_tips}}</p>


{{/each}}