<div>
  <ul>
      <li>
        {{> beerpartial beer=beer }}
        <h2>Food Pairing</h2>
        {{#each beer.food_pairing as |food|}}
          <li>
            {{food}}
          </li>
        {{/each}}
      </li>
      <p>
        <h2>Brewers tips:</h2>
        {{beer.brewers_tips}}
      </p>
  </ul>
</div>