<div class="detail-container d-flex justify-content-around align-items-center flex-row">    
        <div class="col">
            <div class="detail-beer-img">
            {{#each beers}}
                {{> beerimg 
                image_url=image_url
                }}
            {{/each}}
            </div>
        </div>

        <div class="col">
            <div class="detail-beer-info"> 
                {{#each beers}}       
                    {{> beerinfo         
                    name=name
                    tagline=tagline
                    description=description
                    }}
                {{/each}}
            </div>
    
            <div class="info-extra-beer">
                <h5>Food pairing:</h5>
                {{#each beers.[0].food_pairing as |food|}}
                    <ul>
                        <li>{{food}}</li>
                    </ul>
                {{/each}}
                <h5>Brewers tips:</h5>
                <p>{{beers.[0].brewers_tips}}</p>
            </div>   
        </div>    
</div>    
