<div>
    <img class="beerLogo" src="./images/beer.png" alt="">
</div>

<div class="displayButtons">
    <button><a href="/beers">Check The Beers!</a> </button></br>
    <button><a href="/random">Check a Random Beer!</a></button>
</div>