<div class="container">
    <img src="/images/beer.png">
    <div class="row justify-content-evenly">
        <div class="col-12">
            <a href="/beers" class="btn btn-dark">Una cervecilla</a>
        </div>
        <div class="col-12">
            <a href="/random-beer" class="btn btn-dark">Una cervecilla aleatoria</a>
        </div>
    </div>
</div>