<div style="justify-content: center; display:flex; align-items: center; flex-direction: column;">
    <div>
        <img src="/images/beer.png" style="width: 300px; margin-top: 50px; margin-bottom: 50px">
    </div>

    <a class="btn btn-primary" role="button"href="/beers">Check the Beers!</a>
    <a class="btn btn-primary" role="button"href="/random-beer" style="margin-top:20px">Check a Random Beer</a>
</div>