
<section class="home">

    <img class="beer-img" src="images/beer.png" />

    <div>
        <div class="btn"><a href="/beers">Check the Beers!</a></div> 
        <div class="btn"><a href="/random-beer">Check a Random Beer</a></div>
    </div>

</section>