<div>
  
    <div class="image">
      <img src="images/beer.png" alt=""/>
    </div>

    <div id="btn">
      <a href="/beers" class="button">Check the Beers!</a>
    </div>
    <br>
    <div id="btn2">
      <a href="/random-beer" class="button">Check a Random Beer!</a>
    </div>

</div>