<div class="home-bg">
    <div class="container">

        <div class="row">
            <div class="col-md-4 m-3 mx-auto">
                <img class="img-fluid" src="/images/beer.png" alt="beer jug">
            </div>

            <div class="row text-center">
                <div class="col-md-6 m-3 mx-auto">
                    <button type="button" class="btn btn-warning">
                        <a class="home-link" href="/beers">Check the Beers!</a>
                    </button>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-6 m-3 mx-auto">
                    <button type="button" class="btn btn-warning">
                        <a class="home-link" href="/random-beer">Check a Random Beer!</a>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>