<div>
    <div class="container">
        <img src="/images/beer.png" alt="logo_beer" class="mx-auto d-block beer-img">
    </div>

    <div class="d-grid gap-2 col-3 mx-auto">
        <a href="/beers" class="btn btn-secondary">Check the Beers!</a>
        <a href="/random-beer" class="btn btn-secondary">Check Random Beer!</a>
    </div>

</div>