<img src="./images/beer.png" class="img-fluid mx-auto d-block img-beer" alt="A very very cold beer">

<div class="container">
    <div class="row m-3 justify-content-center">
        <a class="btn btn-primary btn-lg col-3" href="/beers" role="button">Check the beers!</a>
    </div>
    <div class="row m-3 justify-content-center">
        <a class="btn btn-primary btn-lg col-3" href="/random-beers" role="button">Check a random beer!</a>
    </div>
</div>