<div class="d-flex align-items-center">
    <img src="/images/beer.png" alt="imagebeer">
</div>
<div>
    <button><a class="linkBtn" href="/beers">Check the Beers!</a></button>
    <button><a class="linkBtn" href="/random-beers">Check a Random Beer</a></button>
</div>