<div class="d-flex flex-column">
    <img src="../images/beer.png" id="home_img" alt="Big cartoonish beer">
    <button><a href="/allBeers" class="btn btn-dark">Check the beers</a></button>
    <button><a href="/randomBeer" class="btn btn-dark">Random beer</a></button>
</div>