<div>
<img src="/images/beer.png">
<button href="/beers" type="button" class="btn btn-primary">Check the Beers!</button>
<button href="/random-beer" type="button" class="btn btn-primary">Check a Random Beer</button>
</div>