
<div align="center">
    <img id="homeBeerImg" style="width: 20%; height: 300px; margin: 20px; padding: 20px;" src="/images/beer.png">
</div>


<br>
<br>

<div class="d-grid gap-2 col-2 mx-auto">
  <a href="/beers" class="btn btn-primary" type="button">Check the beers!</a>
  <a href="/random-beer" class="btn btn-primary" type="button">Check a Random Beer!</a>
</div>




<div class="container">
  <footer style=" position: fixed; left: 0px; bottom: 20px; height: 10%; width: 100%;" class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://cervezacorona.es/" class="nav-link px-2 text-muted">Corona</a></li>
      <li class="nav-item"><a href="https://www.michelobultra.mx/agegate?destination=/" class="nav-link px-2 text-muted">Ultra</a></li>
      <li class="nav-item"><a href="https://sapporobeer.com/age-gate/" class="nav-link px-2 text-muted">Sapporo</a></li>
      <li class="nav-item"><a href="https://tecate.com/agegate?redirect=/" class="nav-link px-2 text-muted">Tecate</a></li>
      <li class="nav-item"><a href="https://www.cervezadelpacifico.com/" class="nav-link px-2 text-muted">Pacifico</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 The Beer, App</p>
  </footer>
</div>






