<div class="container">
    <img src="../images/beer.png" id="beerLogo">
    <a href="/beers" class="beer-btn">Check the beers</a>
    <a href="/random-beer" class="beer-btn">Check a random beer</a>
</div>