<div class='container'>
  <img src='/images/beer.png' alt='beer-image' />
</div>

<div class='btn-1'>
  <button><a href='beers'>Check the Beers!</a></button>
</div>

<div class='btn-2'>
  <button><a href='random'>Check a Random Beer</a></button>
</div>