<div class="d-flex justify-content-center flex-column align-items-center gap-5 mt-5">
    <img src="/images/beer.png" alt="beer img" width="500px" class="mb-5">
    <a href="/beers">Check the beers!</a>
    <a href="/randomBeer">Check a Random Beer!</a>
</div>