<div class="container col-3 p-3">
    <img src="/images/beer.png" alt="beer cartoon">
    <a type="button" class="btn btn-primary btn-lg" href="/beers">Check the Beers!</a>
    <a type="button" class="btn btn-primary btn-lg" href="/random-beer">Check a Random Beer!</a>
</div>