<div id="home-container">
    <img src="/images/beer.png" alt="beer img" id="home-beer-img">
    <a href="/beers" class="home-btns">Check the Beers!</a>
    <a href="/randomBeer" class="home-btns">Check a Random Beer!</a>
</div>
<div id="footer-container">
    <footer>
        <small>Develop by Ironhack &#59;&#41;</small>
    </footer>
</div>
