 
<div class="content">
    <img src="/images/beer.png" alt="Beer draw">
</div>

<div class="container row mt-4 mx-auto">
    <div>
        <a href="/random-beer" type="button" class="btn btn-primary" style="position: absolute; top: 70%;">Check the beers</a>
    </div>
    <div>
        <a href="/random-beer" type="button" class="btn btn-primary" style="position: absolute; top: 80%;">Check a random beer!</a>
    </div>

</div>
