<div class='Beer-Container'>
  <div>
    <img
      class='beerImage'
      src='/images/beer.png'
    />
  </div>
  <button>
    <a href='beers'>Check the beers!</a>
  </button>
  <button>
    <a href='random-beer'>Check a Random Beer</a>
  </button>
</div>