<div class="main">
    <article><img src="/images/beer.png" alt="Beer"></article>
    <a href="/beers" class="btn btn-dark">Check the Beers!</a>
    <a href="/random-beer" class="btn btn-dark">Check a random Beer!</a>
</div>