{{!--The first page should be Home and should be rendered on /. The file that gets rendered is index.hbs--}}


    <div class="main-page">

        <img src="/images/beer.png" alt="beer"><br>

        <button><a href="/beers">Check the Beers!</a></button><br><br>
        <button><a href="/random-beer">Check a Random Beer!</a></button>

    </div>

