<div>

    <main class="container">
    
        <div class="row justify-content-center">
    
            <img class="beerPicture" src="images\beer.png" alt="Dibujo cerveza" />
    
        </div>
    
        <div class="row justify-content-center">
            <button type="button" class="btn btn-primary"> 
                <a class="btn btn-link-to-beer" href="/beers">Check the Beers!</a>
                </button>
           
    
        </div>
    
        <div class="row justify-content-center">
    <button type="button" class="btn btn-primary">
            <a class="btn btn-link-to-beer" href="/random-beers">Check a random Beer!</a>
            </button>
        </div>

    </main>

</div>