<div>
    <div class="container">
        <h1><img src="../public/images/beer.png" alt="beer"></h1>
        <hr>
        <a class="btn btn-dark" href="/beers">Check the beers!</a>
        <a class="btn btn-dark" href="/random-beer">Check a Random Beer</a>
    </div>
</div>