<div id="home-div">
    <img src="/images/beer.png" alt="">
    <a class="btn btn-primary" href="/beers">Check the Beers!</a>
    <a class="btn btn-primary" href="/random-beer">Check a random Beer</a>
</div>