<div class="index-container">

    <img src="images/beer.png" alt="beer">

    <button type="button" class="btn btn-dark" onclick="window.location.href='/beers';">Check the beers!</button>

    <button type="button" class="btn btn-dark" onclick="window.location.href='/random-beer';">Check a Random Beer!</button>
    
</div>