<div>
    <h1>heloo hbs</h1>
 <img src="/images/beer.png" alt="" class="img">


<div class="btn-container">
    <button class="btn">Check The Beers!</button>
    <button class="btn">Check a Random Beers!</button>
</div>

</div>