<section class="home-page">

<div>
    <img id="beersimg" class="cerveza" src="./images/beer.png" width="200"> 
</div>

<div class="blueBtns">
    <p>
<a><b>Check the Beers!</b></a>
    </p>
    <hr>
    <p>
<a><b>Check a Random Beer!</b></a>
    </p>
    

</div>


