<div class="homepage">
<img src="images/beer.png" alt="beer image">
<a class="btn btn-primary" href="http://localhost:4000/beers" role="button">Check the Beers!</a>
<a class="btn btn-primary" href="http://localhost:4000/random-beer" role="button">Check a Random Beer!</a>
</div>