<div class="home">
    <div>
        <img src="/images/beer.png" alt="beer.png"  class="bimg">
    </div>
    <div class="box">
        <a href="">Check the Beers!</a>
    </div>
    <div class="box">
        <a href="">Check a random Beer!</a>
    </div>
</div>
