<div class="home">
    <div>
        <img src="/images/beer.png" alt="beer.png"  class="bimg">
    </div>
    <div class="box">
        <a href="/beers">Check the Beers!</a>
    </div>
    <div class="box">
        <a href="/random-beers">Check a random Beer!</a>
    </div>
</div>
