<div class="container">
    <div class="row justify-content-center">
        <img class="img-fluid index-img" src="/images/beer.png" alt="beer-picture">
    </div>

    <div class="row">
        <div class="col-12  button-container">
            <div class="row justify-content-center">
                <a class="btn btn-primary custom-btn" href="/beers">Check the Beers!</a>
            </div>
            <div class="row justify-content-center">
                <a class="btn btn-primary custom-btn" href="random-beer">Check a Random Beer!</a>
            </div>
        </div>
    </div>

</div>