<div id="homeBeerDiv">
    <img src="/images/beer.png" alt="A beer">
    <button class="uk-button uk-button-primary"><a href="/beers">Check the Beers!</a></button>
    <button class="uk-button uk-button-primary"><a href="/random-beer">Check a Random Beer!</a></button>
</div>