<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="/images/beer.png" alt="beer" style="width:100%">
            <div class="row">
                <a class="btn btn-primary mt-4" role="button" aria-disabled="true" href="/beers">Check the Beers!</a>
                <a class="btn btn-primary mt-4" role="button" aria-disabled="true" href="/random-beer">Check a Random
                    Beer!</a>
            </div>




        </div>
    </div>

</div>