<div class="container row">
    <img style="width: 500px;" src="/images/beer.png" alt="Big-beer">
    <a class="text-center" href="/beers">Check the Beers!</a>
    <a class="text-center" href="/random-beer">Check a Random Beer</a>
</div>