<style>
    img{
        width: 300px;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 0 auto
    }
    div span{
        background-color: #2081c3;
        padding: 15px;
        margin: 15px;
        border-radius: 12px
    }
    div a{
        text-decoration: none;
        color: #f7f9f9;
    }
</style>
<div>
    <img src="images/beer.png">
    <span>
        <a href="/beers">Check the Beers!</a>
    </span>
    <span>
        <a href="/random-beer">Check a Random Beer</a>
    </span>
</div>