<div id="homeContainer">
    <img id="homeImg" src="/images/beer.png" alt="">

    <a href="/beers" class="homelinks">Check the Beers!</a>
    <a href="/random-beer" class="homelinks">Check Random Beers!</a>

</div>