<div>
  <img src='/images/beer.png' alt='Beer Image' />
  <nav>
    <div>
      <a href='/beers'>Check the Beers!</a>
    </div>
    <div>
      <a href='/random-beer'>Check a Random Beer!</a>
    </div>
  </nav>
</div>