<div class='beer-image-div'>
  <img class='beer-jug-image' src='images/beer.png' alt='Beer photo' />
</div>
<div class='home-btn-div'>
  <a class="btn btn-primary" href="/beers" role="button">Beers</a>
</div>
<div class='home-btn-div'>
  <a class="btn btn-primary" href="/random-beers" role="button">Random Beers</a>
</div>




