<div class="home">
    <img src="/images/beer.png" class="card-img-top" alt="beer">
    <a href="/beers" class="btn btn-primary">Check the beers!</a>
    <a href="/random-beer" class="btn btn-primary">Check a Random Beer!</a>
</div>