<main class= 'index'>
    <img src="./images/beer.png" alt="">
    <div class= 'text-center py-5'>
        <a class= 'btn btn-primary' href="/beers">Check the Beers</a>
        <a class= 'btn btn-primary'href="/random-beer">Check a Random Beer</a>
    </div>

</main>