<div class="container">
    <img class="beer" src="images/beer.png" alt="" srcset="">    

    <div class="btn-index d-grid gap-2 col-3 mx-auto">
    <button class="btn btn-primary" type="button"> <a href="/beers">Check the beers!</a></button>
    <button class="btn btn-primary" type="button"> <a href="/random-beers">Check a random beer!</a></button>
    </div>
</div>
