<img class="beer" src="../images/beer.png" alt="">
<div class="formsButtons">



    <form action="/beers">
        <input class="btn btn-primary" type="submit" value="HA HA beers you know" />
    </form>
    <form action="/random-beer">
        <input class="btn btn-primary" type="submit" value="Random beer here haha" />
    </form>
</div>