<div>
    <img class="beer-home" src="/images/beer.png" alt="beer-home">
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="./beers"><button class="btn btn-primary button-home" type="button">Check the Beers!</button></a>
        <a href="./random-beer"> <button class="btn btn-primary button-home" type="button">Check the Random
                Beer!</button></a>
    </div>
</div>