
<section class="home">

<div>
<img src="images/beer.png" alt="beer" class="home-img">
</div>

<div>
<button><a href="/beers">Check the Beers!</a></button>  
</div>

<div>
<button><a href="/random-beer">Check a Random Beer</a></button>    
</div>

</section>