<div class="box">
    <div class="small-boxes">
        <img src="/images/beer.png" class="big-beer" alt="Beer image">
    </div>
    <div class="small-boxes">
        <a href="/beers" class="btn btn-dark button">Check the Beers!</a>
        <a href="/random-beer" class="btn btn-dark button">Check a Random Beer</a>
    </div>
</div>



