<div class="index column">
    <img src="/images/beer.png" alt="beer drawing">
    <a href="/beers" class="btn bluebg">Check the Beers!</a>
    <a href="/random-beer" class="btn bluebg">Check a Random Beer!</a>
</div>