<div class="container justify-content-center align-items-center">
    <div class="col-12 justify-content-center d-flex ">
        <img class="picBeer" src="/images/beer.png" alt="Beer">
    </div>
    
    <div class="d-flex col-12 justify-content-center">
        <a href="/beers" class="btn btn-primary d-flex">Check the Beers!</a>
    </div>

    <div class=" d-flex col-12 justify-content-center">
        <a href="/random-beer" class="btn btn-primary d-flex">Check a Random Beer</a>
    </div>
    
</div>