<div id="vertical-container">
  <h1>A toast for the Ironhackers</h1>
  <img src="/images/beer.png" alt="A toast for the Ironhackers" />

  <div>
    <a href="/beers" class="btn btn-primary">Cheeck the beers</a>
    <a href="/random-beer" class="btn btn-primary">Check a Random Beer</a>

  </div>

</div>