<div id="center">
    <img src="/images/beer.png" alt="Beer Logo" class="beer-logo">
    <a class="links2" href="/beers">Check the Beers!</a>
    <a class="links2" href="/random-beer">Check a Random Beer</a>
</div>