 <section class="home-page">
    <img id="beersimg" class="beeer" src="./images/beer.png" heigh="200" width="200"> 

</section> 
<hr>
<div class="blueBtns">
    
    <p>
        <button type="button">Check the Beers!</button>

    </p>
    
    <p><button type="button">Check a Random Beer!</button>
    </p>


</div>