<div class="container d-flex justify-content-center align-items-center beer-container flex-column">
    <img src="images/beer.png" alt="Iron Beers">
    <a href="beers"><button type="button" class="btn btn-primary bt-lg mt-3">Check the Beers</button></a>
    <a href="randombeer"><button type="button" class="btn btn-primary bt-lg mt-3">Random Beer</button></a>
</div>