<div id='index' class='container'>
  <div class='row align-items-center'>
    <div class='col'>
      <img src='/images/beer.png' alt='beer picture' />
      <button type='button' class='btn btn-light'>
        <a href='/beers'>Check the Beers!</a></button>
      <button type='button' class='btn btn-light'><a href='/random-beer'>Check a
          Random Beer</a></button>

    </div>
  </div>
</div>