<div id="imgContainer">
    <img id="mainimg" src="/images/beer.png" alt="Big beer">
</div>
<div id="buttons">
    <span class="button"><a href="/beers">Check the Beers!</a></span>
    <span class="button"><a href="/random-beer">Check a Random Beer</a></span>
</div>