<div class="container">
    <h1>Bienvenido a Beers</h1>
    <hr>
    <a class="btn btn-dark" href="/Beers">Menú Beers</a>
</div>

<img src="/images/beer.png" alt="Beer">
<a href="/views/beers-page.hbs">Check the Beers!</a>
<a href="/views/random-beers-page.hbs"> Check a Random Beer</a>