<div>
<img class="index-pic" src="/images/beer.png" alt="beer">
    <div class="main-btn">
        <a href="/beers" type="button" class="btn btn-primary btn-lg">Check the beers</a>
        <a href="/random-beer" class="btn btn-primary btn-lg">Check random beer</a>
    </div>
</div>