<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
    <img src="/images/beer.png"
    
    <div class="bigBeer"></div>
 </div>

<a class="btn btn-primary btn-lg" href="/beers">Check Our Beers</a>
<a  class="btn btn-primary btn-lg" href="/randombeers">Check random Beer</a>
<div class="d-grid gap-2 d-md-block">

</div>
</div>
    
</body>
</html>

