<div class="home-content">
    <img src="/images/beer.png" class="home-image">
    <a href="/beers" class="home-button">Check the Beers!</a>
    <a href="/random-beers" class="home-button">Check a Random Beer!</a>
</div>