<div id='divhome'>
  <img id='home-img' src='/images/beer.png' alt='photo of a beer' />
  <a class='button-link' href='/beers'><button>Check the Beers!</button></a>
  <a class='button-link' href='/random-beer'>
    <button>Check a Random Beer!</button></a>
</div>