<div class="container d-flex flex-column align-items-center">
    <img src="/images/beer.png" alt="Logotipo" class="beerimg">

    <a href="/beers" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Check the Beers!</a>
    <a href="/random-beer" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Check a Random Beer</a>
</div>