
<section id = "intro">

    <img class = "home-page-pic" src="/images/beer.png" alt="">

<div class = "home-link-container">

    <a class = "btn-beers" href="/beers">Check the Beers!</a>
    <a class = "btn-random-beers"href="/random-beer">Check a Random Beer!</a>

</div>
</section>