
 <img class = "beerImg" src ="images/beer.png">
 <id class = "buttons">
 <button type = "button"><a href = "/beers">Check the beers!</a></button>
 <button type = "button"><a href = "/random-beer">Check a Random Beer!</a></button>
</div>

<div class = "bottom-page">
    Developed by Ironhack ;)
</div>