<div id="homepage">
    <img id="cover-img" src="/images/beer.png" alt="beer">

    <a href="./beers" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Check the Beers!</a>
    <a href="./random-beer" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Check a Random Beer!</a>
</div>