<div class="container d-flex justify-content-center">
    <div class=" m-5">
    <div class="container-fluid d-flex justify-content-center flex-sm-column">
        <img src="/images/beer.png" alt="beer image" class="img-home">
        {{!-- <button href="/beers" type="button" class="btn btn-primary btn-home">Check the beers!</button>
        <button href="/random-beers" type="button" class="btn btn-primary btn-home">Check a Random Beer!</button> --}}
        <a class="btn-home" href="/beers">Beers</a>
        <a class="btn-home" href="/random-beer">Random Beer</a>
    </div>
    </div>

</div>