
<div class="container ">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6"> 
                    <img id="cover-img" src="/images/beer.png" alt="beer"></img>
                    <a href="./beers" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Check the Beers!</a>
                    <a href="./random-beer" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Check a Random Beer!</a>
            </div>
        <div class="col-md-3"></div>     
    </div>
</div>
  