<div>
    <img src="/images/beer.png" alt="">
    <button type="button" class="btn btn-primary">Cheeck the beers!</button>
    <button type="button" class="btn btn-primary">Check a random beer!</button>
</div>