<div id="mainImage">
    <img id="beers" src="/images/beer.png" alt="beer pic">
    <div id="btn">
        <a class="btn" href="/beers">Check the Beers!</a>
        <a class="btn" href="/random-beers">Check a Random Beer</a>
    </div>
</div>