<div id='homePage'>
    
    <img src="/images/beer.png" alt="beer">
    <button><a href="/beer">Check the Beers!</a></button>
    <button><a href="/random-beer">Check a Random Beer</a></button>
    



</div>