<body>
    <div id="home">
        <div>
            <img class="image-beer" src="/images/beer.png" alt="beer image">
        </div>
        <div>
            <a class="btn btn-primary btn-lg" href="./beers" role="button">Check the Beers</a>
        </div>
        <div>
            <a class="btn btn-primary btn-lg" href="./random-beers" role="button">Check a Random Beer</a>
        </div>
    </div>
</body>