<div class="container">
    <div class="row justify-content-around">
        <div class="col">
            <div class="card text-center">
                <div class="card-body special">
                    <img src="images/beer.png" alt="Beer jug">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <a href="/beers" class="btn btn-primary">Check the Beers!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <a href="/random-beer" class="btn btn-primary">Check a Random Beer!</a>
                </div>
            </div>
        </div>
    </div>
</div>