<div>
    <h1> Funcionaaaaa</h1>
    <div>
        <img src="/images/beer.png" alt="beer photo">
    </div>
    <a href="/beers">Check the beers!</a>
    <a href="/random-beers">Randomize me!</a>
</div>