<div class="home-flex">
    <img src='/images/beer.png' alt='beer' class="img-beer"/>
    <a class="buttons first-button" href='/beers'>Check the Beers!</a>
    <a class="buttons second-button" href='/random-beer'>Check a Random Beer!</a>
</div>