<div>
  <img
    class='img-responsive center-block d-block mx-auto beer'
    src='images/beer.png'
    alt=''
  />
  <div class='container col-md-3 offset-md-4 btn-group-vertical gap-4'>
    <a
      href='/beers'
      class='btn btn-info btn-lg bg-primary text-light shadow m-2 px-4 py-2'
      role='button'
    >Check the Beers!</a>
    <a
      href='/random-beer'
      class='btn btn-info btn-lg bg-primary text-light m-2 shadow px-4'
      role='button'
    >Check a Random Beer</a>
  </div>
</div>