<div id="main-container">
    <div id="content">
    <div>
    <img src="/images/beer.png" alt="Beer Image" class="beer-image">
    </div>
<p>
    <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
    </p>
    <p>
    <a class="btn btn-primary" href="/random-beers" role="button">Check a Random Beer</a>
    </p>

    </div>
</div>