<div class="home">
    <img src="/images/beer.png" alt="beer">
    <a class="btn btn-primary" href="/beers">Check the Beers!</a>
    <a class="btn btn-primary" href="/random-beers">Check a Random Beer!</a>
</div>