<div class="wrapper">
    <div class="main-content">
        <img src="images/beer.png" alt="beer">
        <a class="btn btn-beers" href="/beers">Check the Beers!</a>
        <a class="btn btn-beers" href="/random-beer">Check a Random Beer</a>
    </div>
</div>