
<!-- {{{ body }}} references everything in index.hbs-->

<div id="mainBeer">
    <img id="mainBeerImg" src ="../images/beer.png">
    <a class="button" href="beers">Check The Beers!</a>
    <a class="button" href="/random-beer">Check A Random Beer!</a>
</div>