<div class='imgIndexDiv'>
  <img src='/images/beer.png' alt='img-beer' class='indexImg' />
</div>

<div class='btnIndexDiv'>
  <a href='/beers' class='IndexBtn'><b> Check the Beers!</b></a>

  <a href='/random-beer' class='IndexBtn'> <b>Check a Random Beer!</b></a>
</div>