<div class="index-container">
  <div class="index-img">
    <img src="/images/beer.png" alt="beer glass">
  </div>
  <div class="btn-beers">
    <buttom class="btn-beer">
      <a href="/beers">Check the Beers!</a>
    </buttom>
    <buttom class="btn-beer">
      <a href="/random-beers">Check Random Beer!</a>
    </buttom>
  </div>
</div>