<div>
    <div>
        <img class="img-beer" src="./images/beer.png" alt="Beer">
    </div>
    <div>
        <a href="/beers">Check the Beers!</a>
    </div>
    <div>
        <a href="/randomBeer">Check a random Beer!</a>        
    </div>
</div>
