<div class="index-container">
  <img class="index-image" src="images/beer.png" alt="beer">
  <div class="buttons-container">
    <a class="button" href="/beers">Check the Beers!</a>
    <a class="button" href="/randomBeer">Check a Random Beer!</a>
  </div>
</div>