<div>
    <br><br> <br>
<div class="first-div">
    <img src="/images/beer.png" alt="prueba" style="height: 300px; width 250px;"> <br> <br> 
    <a href="/beer" id="buttons">Check the Beers</a> <br> <br>
    <a href="/random-beer" id="buttons">Check a Random Beers</a>
</div>
</div>