<div class="beer-img">
    <img src="/images/beer.png" alt="beer" style="margin: 100px 125px;" width=300px;>
</div>
 <div>
    <a class="button-container" href = "/beers"><button class="button">Check the Beers!</button></a>
    <a class="button-container" href="/random-beer"><button class="button">Check a Random Beer!</button></a>
</div>