<div class="beer-beer">
    <img src="/images/beer.png" class="beer-page" /> 
</div>
<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary " type="button" onclick="window.location.href='/beers'">Check the Beers!</button>
  <button class="btn btn-primary" type="button" onclick="window.location.href='/random-beer'">Check a Random Beer</button>
</div>
<footer class="footer-bar">
    <p class="footer-text">Developed by Ironhack :</p>
</footer>