<div class="text-center">
<img src="/images/beer.png" class="w-25 mb-5"/>
</div>

<div class="d-grid gap-2 col-2 mx-auto">
<a href="/beers"  class="btn btn-primary">Check the Beers!</a>
<a href="/random-beer"  class="btn btn-primary">Check a Random Beer!</a>
</div>