<div class="container d-flex justify-content-center">
    <div class="row ">
        <div class="col">
            <img width="350" src="./images/beer.png" alt="">
        </div>
    </div>
    
</div>


<div class="container d-flex justify-content-center mt-5">
<div class="row">
        <div class="col">
        <ul>
            <li class="nav-item">
            <a class="nav-link" href="/beers">Beers</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/random-beers">Random beers</a>
            </li>
        </ul>
        </div>
    </div>
</div>
