<div class="home-page">
<img class="picture-hp" src="/images/beer.png" />

<div class="buttons">
<button><a href="/beers">Check the Beers!</a></button>
<button><a href="/random-beer">Check a random beer </a></button>
</div>

</div>