<div class="container">

    <img src="/images/beer.png" class="beer-img" alt="beer">

    <div class="row">
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/beers" type="button" class="btn btn-primary">Check the Beers!</a>
            <a href="/random-beer" type="button" class="btn btn-primary">Check a random Beer!</a>
        </div>
    </div>



</div>