<div class="index">

    <img class="beer-img" src="/images/beer.png" alt="One Big Yellow Beer" />

    <a href="/beers" class="btn">Check the Beers!</a>

    <a href="/random-beer" class="btn">Check a Random Beer</a>

</div>