<div class="jar">
    <img src="/images/beer.png" alt="Beer">


</div>

<div class="d-grid gap-4 col-2 mx-auto">

    <a href="/beers" class="btn btn-dark">Check the Beers!</a>
    <a href="/random-beer" class="btn btn-dark">Check a Random Beer</a>

</div>