<div class="div-containeer vstack gap3 col-md-4 mx-auto">
    
    <img class="mt-4" src="./images/beer.png" alt="">
    <a class="btn btn-primary col-md-5 mx-auto mt-4" href="/beers" role="button" >Cheack beers</a>
    <br>
    <a class="btn btn-primary col-md-7 mx-auto" href="/random-beer" role="button">Check a Random Beer</a>

</div>

