<div class="d-flex flex-column bd-highlight mb-3 justify-content-center align-items-center">
  <img src="/images/beer.png" width="250px" class="m-5">
  
  <a href="/beers" class="border rounded-lg bg-blue button">
  Check the Beers!
  </a>
  
  <a href="/random-beer" class="border rounded-lg bg-blue button">
  Check a random Beer!
  </a>
</div>