<div class="container">
    <img src="/images/beer.png" alt="A mug of beer">
    <div class="links-holder">
        <a href="/beers">Check the beers</a>
        <a href="/randombeer">Check a random beer</a>
    </div>

</div>