<div class='center'>
  <img src='/images/beer.png' alt='beer image' class='big-beer-img' />
  <div class='btn-wrapper'>
    <a href='/beers'>Check the Beers!</a>
    <a href='/random-beer'>Check a Random Beer</a>
  </div>
</div>