<img
  class='rounded mx-auto d-block m-3 align-middle'
  src='/images/beer.png'
  width='500'
/>
<div class='d-flex justify-content-center mt-5'>
  <a class='btn btn-primary m-1 min-vw-25' href='/beers' role='button'>Check the
    Beers!</a>
  <a
    class='btn btn-primary m-1 min-vw-25'
    href='/random-beer'
    role='button'
  >Check a Random Beer</a>
</div>