<div class='container'>
  <div class='row justify-content-evenly'>

    <div class='col-12'>
      <img src='/images/beer.png' alt='cartoon beer image' class='index-img' />
    </div>

    <div class='col-12 container-fluid'>

      <div class='row justify-content-between'>

        <div class='col-xs-12 col-sm-4'>
          <a href='/beers' class='button'>Check the beers!</a>
        </div>

        <div class='col-xs-12 col-sm-4'>
          <a href='/random-beer' class='button'>Check a random beer!</a>
        </div>

      </div>
    </div>
  </div>
</div>