

<div style="text-align: center;">
    <img class="duff mb-3" src="/images/beer.png" alt="beer">
</div>

<div class="d-grid gap-2 col-6 mx-auto">
<a href="/beers" class="btn btn-primary btn-sm">Check the Beers!</a>
<a href="/random-beer" class="btn btn-primary btn-sm">Check a Random Beer!</a>
</div>