{{> menu }}
<main>
    <section>
        <img src="images/beer.png" alt="beer">
        <div class="cont-btn">
            <a href="/beers" class="btn">Check the Beers!</a>
            <a href="/random-beer" class="btn">Check a Ramdom Beers!</a>
        </div>
    </section>
</main>
{{> footer }}