<div class="container text-center">
    <img src="/images/beer.png" class="rounded mx-auto d-block" alt="ironbeer">
    <div class="btn-group-vertical mt-3">
        <a href="/beers" class="btn btn-primary btn-sm">Check the Beers!</a>

        <a href="/random-beers" class="btn btn-primary btn-sm my-2">Check a Random Beer</a>
    </div>
</div>