{{!-- ./views/index.hbs --}}

        
        
        <div>
            <br><br>
            <center><img class = "image" src="./images/beer.png"></center>
            <br><br>
        </div>
        
        <div>
            <center><a href="/beers" class="btn btn-primary">Check the Beers</a></center>
            <br>
            <center><a href="/random-beer" class="btn btn-primary">Check a Random Beer</a></center>

        </div>


