<div>
<img class="beerimage" src="https://images.ctfassets.net/sz2xpiwl6od9/2Emtbk77wGMoLXvoKig2kX/47b9b3ffcf2c74423ba8111e66528ebd/flavor-fever-pale-lager.jpg?w=1600&fm=webp">
<a href="/beers"><h3>Check the Beers!</h3></a>
<a href="/random-beers"><h2>Check a random Beer!</h2></a>
</div>

