
<div class="card marginCard" style="width: 30rem;">
    <img class="card-img-top" src="/images/beer.png" alt="image Beer">
    <div class="card-body button-blue">
        <a href="/beers" class="btn btn-primary mb-3 ">Check the Beers!</a>
        <a href="/random-beer" class="btn btn-primary">Check a Random Beer</a>

    </div>
</div>