<div class="home">
     <img src="/images/beer.png" alt="">
     <button class="btn btn-primary m-4">Check the beers!</button>
     <button class="btn btn-primary">Check a random beer!</button>
</div>