<div class="content home flex-col-center">
    <div>
        <img src="./images/beer.png" alt="awsome beer" />
    </div>
    <div>
        <a href="/beers" class="btn btn-beers">Check the Beers!</a>
    </div>
    <div>
        <a href="/random-beer" class="btn btn-beers">Check a Random Beer!</a>
    </div>
</div>