<div class="container index-img">

    <div class="row">

        <div class="col md-12 index">

            <img src="/images/beer.png" alt="IronBeer">

        </div>

    </div>

</div>

<div class="container index-img">

    <div class="row">


        <div class="col md-6">

            <a href="/beers" type="button" class="btn btn-secondary">Check the Beers!</a>

            <a href="/random-beers" type="button" class="btn btn-secondary">Check a Random Beer!</a>

        </div>

    </div>

</div>