<div class="homepage">
    <img src="/images/beer.png" alt="beer" class="beer-icon">
    <p><a href="/beers" class="main-btn first-btn">Check the Beers!</a></p>
    <p><a href="/random-beers" class="main-btn">Check a Random Beer!</a></p>
</div>