<div class="class-div ">
  <img class="big-beer-img" src='/images/beer.png' alt='beer-img' />
  <button><a href='/beers'>Click the beers!</a></button>
  <button><a href='/random-beer'>Check a random beer!</a></button>
</div>