<div class="img-home">
    <img src="/images/beer.png"> 
</div>

<div class="bt-home">
    <button type="button" class="btn btn-primary"><a class="btn btn-primary"href="/beers">Check Beer!</a></button>
</div>
<div class="bt-home">
     <button type="button" class="btn btn-primary"><a class="btn btn-primary" href="/random-beers">Random Beer!</a></button>
</div>
  