<div class="home-div">
    <img src="/images/beer.png" class="beer-logo">
    <div class="btn-div">
        <a href="/beers" class="btn">Check the Beers !</a>
        <a href="/random-beer" class="btn">Check a Random Beer!</a>
    </div>
</div>