<div id="start-page">
        <img id="beer-glass" src="/images/beer.png" alt="Beer">
        <button><a href="/beers">Check the Beer!</a></button> 
        <button><a href="/random-beer">Check the Random Beer!</a></button>
</div>