<div class="container d-flex justify-content-center flex-column mb-5 ">
    <figure class=" beer md-1">
        <img src="images/beer.png" alt="beer-photo">
    </figure>
    <section class=" button md-1 mb-3">
        <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
    </section>
    <section class=" button md-1">
        <a class="btn btn-primary" href="/random-beer" role="button">Check a Random Beer</a>
    </section>
</div>