<div class="logobeer">
  <img src="/images/beer.png" alt="beer logo">
</div>
<div class="buttonpage">
    <button class="buttonbeer"><a href="/beers" class="linkbutton">Check the beers!</a></button><br>
    <button class="buttonbeer"><a href="/randombeer" class="linkbutton">Check a random beer!</a></button>
</div>
