<div id="center" class="container">
  <div class="col-md-4">
      <img class="beer-img-margin" src="/images/beer.png" alt="Cartoon beer">
      <a id="blue-btn" href="/beers" class="btn btn-primary">Beers</a>
      <a id="blue-btn" href="/random-beer" class="btn btn-primary">Random beer</a>
  </div>
</div>