<div class='home'>

  <img src='images/beer.png' class='img-beer' />

  <div class='flex-button'>
    <a href='/beers'><button class='nav-button'>Check the Beers!</button></a>
  </div>

  <div class='flex-button'>
    <a href='/random-beer'><button class='nav-button'>Check a Random Beer</button></a>
  </div>

</div>