<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
<div class="home-div">
<img id="main-img" src="images/beer.png" alt="">
<a class="btn" href="/beers">Check the Beers!</a>
<a class="btn" href="/random-beer">Check a Random Beer!</a>
</div>
    
</body>
</html>
