<div class="main">
<img class='beer-image' src='/images/beer.png' alt='beers-img' />
<div class='btn-container'>
  <div>
    <a class='btn1' href='/beers'>Check the Beers!</a>
  </div>

  <a class='btn2' href='/random'>Check a Random Beer!</a>

</div>

</div>