<div class="container">

    <img class="beer-image" src="/images/beer.png" alt="Beer Image">

    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a><br>
        <a class="btn btn-primary" href="/random-beers" role="button">Check a Random Beer!</a>
    </div>


</div>