<div class="home">
<img src="/images/beer.png" alt="beer image">
<br>
<br>
<div class="buttons">
    <a class="buttonCheck" href="/beers">Check the Beers!</a>

    <a class="buttonRandom" href="/random-beer">Check a Random Beer</a>
</div>

</div>