<div class="beer-img">
    <img src="/images/beer.png">
</div>
    
<div class="container"></div>
    <button class="btn">
        <a href="/beers" id="check-beer">Check the Beers!</a>
    </button>
    <button class="btn">
        <a href="/random-beer" id="check-random">Check a random Beer!</a>
    </button>
</div>
