<div class='items'>
  <img class='beerimg' src='../images/beer.png' alt='ironbeer' />

  <div class='buttons'>
    <button type='button' class='btn btn-primary resize'>
      <a href='beers' class='text-light font-weight-bold'>Check the Beers!</a></button>
    <button type='button' class='btn btn-primary'>
      <a href='random-beer' class='text-light font-weight-bold'>Check a Random
        Beer!</a></button>
  </div>
</div>