<div class="container">
    <div "row">
        <div class="col- 12 beer-center">
            <img src="/images/beer.png">
        </div>
        <div class="col-12">
            <a href="/beers" type="button" class="btn btn-primary">Check the Beers!</a>
            <div class="col-12">
            </div>
            <a href="/random-beers" type="button" class="btn btn-primary">Check a Random Beer!</a>
        </div>

    </div>
</div>