<div class="home-page">
    <figure><img src="/images/beer.png" alt="" /></figure>
    <a href="/beers" class="btn btn-dark btn-sm">Check the Beers!</a>
    <a href="/random-beers" class="btn btn-dark btn-sm">Check a Random Beer</a>
</div>