<div class="chop">

    <img class="imagebeer" src="/images/beer.png" alt="beer icon">
    <button  type="button" class="btn">Check the Beers!</button>
    <button type="button" class="btn">Check a Random Beer!</button>
    
</div>