<div class="container">

    <div class="image-holder">
        <img src="images/beer.png" alt="beer-logo">
    </div>

</div>
<div class="container2">
    <div>
        <a href="/beers">
            <button>
                Check the beers!
            </button>
        </a>
    </div>
    <div>
        <a href="/random-beer">
            <button>
                Check a random beer!
            </button>
        </a>
    </div>
</div>