<div class='index-container'>
  <div class='image-container'>
    <img src='/images/beer.png' />
  </div>
  <div class='btn-container'>
    <a href='/beers'>
      <button class='btn-beer'>Check the Beers!</button>
    </a>
    <a href='/random-beer'>
      <button class='btn-beer'>Check a random Beer!</button>
    </a>
  </div>
</div>