<div>
    

    <img src="/images/beer.png" />

<button type="button" class="btn btn-primary btn-lg"><a href="/beers">Check the Beers!</a></button>
<button type="button" class="btn btn-primary btn-lg"><a href="/randomBeers">Check a Random Beer</a></button>


    

</div>