<div>
  <img class="main-beer" src="images/beer.jpg" alt="beer">
</div>
<div class="m-1">
  <a href="/beers" class="btn btn-primary">Check the Beers!</a>
</div>
<div class="m-1">
  <a href="/randomBeer" class="btn btn-primary">Check a random Beer</a>
</div>