<div class="beer">
    <img class="beer-img" src="/images/beer.png" alt="beerImg" />
    <div class="beer-body">
        <a href="/beers">Check the beers!</a>
        <div>
        <a href="/random-beer">Check a random beer</a>
        </div>
    </div>    
</div>