<div class="container-fluid">
    <div class=" center py-5">
        <img src="/images/beer.png" alt="image-beer" />
    </div>
    <div class="center">
        <a class=" my-2 p-2 btn btn-dark " href="/beers" role="button">Check the Beers!</a>
        <a class=" my-2 p-2 btn btn-dark " href="/randomBeer" role="button">Check a Random Beer</a>
    </div>
</div>