<div class="index">
    <div>
        <img src="/images/beer.png">
    </div>
    <div>
        <a class="index-buttons" href="/beers">Check the beers!</a>
        <a class="index-buttons" href="/random-beer">Check a Random Beer</a>
    </div>
</div>