<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <img src="/images/beer.png" alt="beer image" />

                <a class="btn btn-primary" href="/beers" role="button">Check the beers!</a>
                <a class="btn btn-primary" href="/randombeers" role="button">Check a random Beer!</a>
            </div>
        </div>
    </div>
</main>