<br>
<br>
<div>
    <div class="container-fluid d-flex justify-content-center align-items-center flex-column">
    <img src="/images/beer.png" class="imgBeer">
    <br>
    <button type="button"  class="btn btn-primary"><a href="/beers">Check the Beers!</a></button>
    <br>
    <button type="button" href="/random-beer" class="btn btn-primary">
    <a href="/random-beer">Check a Random Beer</a>
    </button>
</div>
    {{{ body }}}
</div>