<div class='container'>
  <img src='/images/beer.png' alt='beers' />
</div>

<div>
  <a href='/beers' class='btn btn-dark'> beers</a>

  <a href='/randombeers' class='btn btn-dark'>random beers</a>
</div>