<br><br>
    <div class="img">  
    <img src="/images/beer.png" alt="imagebeers" >
    </div>
    <br><br>
<div class="button"> 
    <a href="/beers">
    <button type="button"> Check the Beers!</button><br><br>
    </a>  
<a href="/random-beer"> 
   <button type="button">Check a Random Beer</button>
 </a>
</div>
<br><br>