<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-4">
       <img src="/images/beer.png" class="imagebeer" alt="beer">
        <div class="card-body">
          <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a> 
            </br>
         <a class="btn btn-primary" href="/randombeers" role="button">Check a Random Beer</a>
        </div>
      
    </div>


{{!-- <div class="container">
<img src="/images/beer.png" class="card" alt="beer">
<a class="btn btn-primary" href="#" role="button">Check the Beers!</a> 
</br>
<a class="btn btn-primary" href="#" role="button">Check a Random Beer</a>

</div> --}}