<div class="menu">
    
    <img src="/images/beer.png" alt="beer">
    
    <div class="beers">
        <a href="/beers">Check the Beers!</a>
    </div>

    <div class="random">
        <a href="/random-Beer">Check a Random Beer</a>
    </div>

</div>



 {{{body}}}   