<div>
  <div class='container'>
    <div class='row'>
      <div class='d-flex flex-column align-items-center mt-5'>
        <img src='/images/beer.png' alt='' class='col-3 m-3' />
      </div>
      <div class='container'>
        <div class='row'>
          <div class='d-flex flex-column align-items-center mt-5'>
            <a
              class='nav-link text-white text-center col-3 mt-2'
              aria-current='page'
              href='/beers'
            ><button type='button' class='btn btn-primary col-9'>Check the
                Beers!</button></a>
            <a
              class='nav-link text-white text-center col-3 mt-3'
              aria-current='page'
              href='/random-beer'
            ><button type='button' class='btn btn-primary col-10'>Check a Random
                Beer</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>