<div>
<img src="/images/beer.png" class="beerImage"/>
<!--NEED TO ADD A BUTTON HERE -->
 <li> <a href="/beers">Check the Beers</a></li> 
      <li> <a href="/random-beer">Check a Random Beer</a></li>  
</div>