<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Beers</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body class="space-beer">
    <div class="margin-center">
    <img class="just-img-beer" src="/images/beer.png" alt="img-beer">
    </div>
    <div class="zone-buttons"> 
        <button class="buttons-style" "button1">
            <a href="/beers">Check the Beers!</a>
        </button>
        <button class="buttons-style" "button2">
            <a href="/randombeer">Check a Random Beer!</a>
        </button>
    </div>          
</body>
</html>






