
<div align="center">
   {{{ body }}}
    <img alt="beer" class="beer-image" src="./images/beer.png">
</div>

<div>
    <button href="beers"> Check the Beers! </button>
    <button href="random"> Check a Random Beer </button>
</div>

<div>
  {{{ footer }}}
</div>