<div class="principal">
    <img  class="m-4"src="/images/beer.png" alt="">
    <button class="btn btn-primary m-4">Check the beers!</button>
    <button class="btn btn-primary m-4">Check a random beer!</button>
</div>