<section id="home-page">
    <div>
        <img src="/images/beer.png" alt="beer">
    </div>
    <div>
        <a href="/beers" class="home-link">Check the Beers!</a>
        <a href="/random-beer" class="home-link">Check a Random Beer!</a>
    </div>
</section>
