<div class="container">
    <div class="imageContainer">
        <img src="./images/beer.png" alt="Beer image">
    </div>
    <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
    <a class="btn btn-primary" href="/randomBeers" role="button">Check a Random Beer!</a>


</div>