<section class='home'>
    <div>
        <img id='beer-mag' src="/images/beer.png" alt="beer image">
    </div>
    <ul class='home-btn-wrapper'>
        <a class='button-home' href="/beers">Check the Beers!</a>
        <a class='button-home' href="/random-beer">Check a Random Beer</a>
    </ul>
</section>
