<div class="container">
    <h1></h1>
    <img src="/images/beer.png" alt="">
    <a class="btn btn-primary" href="/beers">Check the Beers!</a>
    <a class="btn btn-primary" href="/random-beer">Check a random Beer!</a>
</div>