<div class="container">
    <img class="m-5" src="/images/beer.png" alt="beer-image">
    <div>
        <a class="btn btn-primary mb-2" href="/list" role="button">Check the Beers!</a>
    </div>
    <div>
        <a class="btn btn-primary" href="/random-beer" role="button">Check a Random Beer</a>
    </div>
</div>