<div>
  <img class="beerImg" src='/images/beer.png' alt='beer image' />
  <a class="aBtn" href='/beers'>Check the Beers!</a>
  <br/>
  <a class="aBtn" href='/random-beer'>Check a Random Beer!</a>
</div>