<div class="container buttons">
    <img src="/images/beer.png">
    <button type="button" class="btn btn-secondary" disabled><a href="/beers">Check the Beers!</a></button>
    <button type="button" class="btn btn-secondary" disabled><a href="/random-beer">Check a Random Beer</a></button>
</div>