<div class="container">

    <img src="/images/beer.png" alt="Beer img">

    <a href="/beers" class="btn btn-dark">Check the Beers!</a>
    <a href="/random-beer" class="btn btn-dark">Check a Random Beer</a>

</div>