<div id="nav">
    <img src="/images/beer.png" alt="Image of the beer" style="width: 100px;">
    <nav>
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beers">Check the Random Beers!</a>
    </nav>
</div>