<div class="container d-flex jusfity-content-center flex-column">

    <img src="/images/beer.png">


    <div class="container d-flex justify-content-center flex-column">
        <a href="/beers" class="btn btn-primary mt-3 mx-auto">Check the Beers!</a>

        <a href="/random-beer" class="btn btn-primary mt-2 mx-auto">Check a Random Beer!</a>
    </div>

</div>