<!-- index.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ironBeer</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  

  <div class="container">
    <img src="{{ beerImage }}" alt="Beer Image" class="home-beer-image">
    <a href="/beers" class="button">Check the Beers!</a>
    <a href="/random-beer" class="button">Check a Random Beer</a>
  </div>
</body>
</html>
