<div>
<img class="home-beer" src="images/beer.png" alt="beer jar" />
</div>

<div class="home-buttons">

<a href="views/beers.hbs">Check the beers!</a>
<a href="views/randomBeer.hbs">Check a random beer!</a>  

</div>