<div class="container">
    <div class="index">
        <img src="/images/beer.png" alt="beer illustration">
        
        <div class="button">
            <a href="/beers" class="btn btn-secondary">Check the Beers!</a>
        </div>
        
        <div class="button">
            <a href="/random-beers" class="btn btn-secondary">Check a Random Beer</a> 
        </div>
    </div>
</div>

