<div class="container">
    <div class="d-flex flex-column">
        <div class="row justify-content-center">
            <img class="card-img-center" src="/images/beer.png" alt="Beer image">
        </div>
        <div class="row justify-content-center">
            <a href="/beers" class="btn btn-info">Check the Beers!</a>
        </div>
        <div class="row justify-content-center">
            <a href="/random-beer" class="btn btn-info">Check a Random Beer!</a>
        </div>
    </div>
</div>