<div id="index">
<div>
    <img src="images/beer.png"
</div>
<div id="a">
    <a class="beerLink" href="/beers">Check the Beers!</a>
    <a class="randomLink" href="/random-beer">Check a Random Beer!</a>
</div>
</div>