<div class="home">
    <img id="img-beer"src="/images/beer.png">
    <div>
        <a href="/beers" class="buttons">Check the Beers!</a>
        <a href="/random-beer" class="buttons">Check a Random Beer</a>
    </div>
</div>