<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 colu">
            <img class="img-fluid my-4" src="/images/beer.png" alt="">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 btns">
            <button class="btn btn-lg my-3"><a href="/beers">Check the Beers!</a></button>
            <button class="btn btn-lg my-3"><a href="/random-beer">Check a Random Beer!</a></button>

        </div>
    </div>
</div>