<main>
    <div class="container column align-center">
        <h1>Cerveza!</h1>
        <img class="img-beer align-item" src="/images/beer.png" alt="imagen de cerveza">
        <hr>
        <a role="button" class="btn btn-primary btn-lg align-item" href="/beers-page" >Check beers</a>
        <a role="button" class="btn btn-secondary btn-lg align-item" href="/random-beers" >Check Random Beers</a>
    </div>
</main>