<main class='index'>
<figure><img src="/images/beer.png" alt="beer"></figure>
<a href="/beers" class="buttom">Check the Beers!</a>
<a href="/random-beers" class="buttom">Check a Random Beer!</a>
</main>