<div class="index-div">
    <img id="ironbeer-logo" src="/images/beer.png"/>
    <a class="index-button" href="/beers">Check the Beers!</a>
    <a class="index-button" href="/random-beer">Check a Random Beer</a>
</div>