<main class= "container">
    <div class="beerIntro">
        <img src="/images/beer.png" alt="Beer Image">
        <button type="button" class="btn btn-secondary"> <a href="/beers" >Check the Beers!</a></button>
        <button type="button" class="btn btn-secondary"> <a href="/random-beers" >Check a Random Beer</a></button>
    </div>
    

</main>