<div>
    <img src="/images/beer.png" alt="beer" height= '300'>
    <div>
    <a href=""><button>Check the Beers!</button></a>
    <a href=""><button>Check a random Beer!</button></a>
    </div>

</div>