<div>
    <div id="home-img-div" class="center-content">
        <img src="/images/beer.png" alt="A glass of beer" class="center-content">
    </div>
    <div class="center-content">
        <div class="home-btns">
            <a href="/beers">Check the Beers!</a>
        </div>
        <div class="home-btns">
            <a href="/random-beer">Check a Random Beer!</a>
        </div>
    </div>
</div>