<div class='my-5 d-flex flex-column align-items-center'>
  <img src='/images/beer.png' alt='Beer-photo' />
  <a href='/beers' type='button' class='btn btn-primary mt-5'>Check the Beers</a>
  <a href='/random-beer' type='button' class='btn btn-primary mt-5'>Check a
    Random Beer</a>
</div>