<div class="bodyHome">
    <div>
        <img id="imgHome" src="/images/beer.png" />
    </div>
    <br>
        <a class="homeButtons" href="/beers">Check the Beers!</a>
    <br>
        <a class="homeButtons" href="/random-beer">Check a Random Beer.</a>
</div>

<footer>
<a>Develop by ironhack</a>
</footer>
