<div class="col-8 main">
    <img id="main_img" src="/images/beer.png" alt="Beer" />
</div>
<div class="align_buttons">
     <div class="col-7 margin_button">
        <button type="button" class="btn btn-primary"><a href="/beers">Check the Beers!</a></button>
    </div>
    <div class="col-7 margin_button">
        <button type="button" class="btn btn-primary"><a href="/random-beer">Check a Random Beer!</a></button>
    </div>

</div>
   



