<div class='container'>
  <img class='mug' src='/images/beer.png' alt='' />
  <a class='button' href='/beers'>Check the Beers!</a>
  <a class='button' href='/randomBeer'>Check a Random Beer</a>
</div>