<div class="index-contents">
  <img src="/images/beer.png" alt="Description of the image" class="beer-img">


<button>
    <a href="/views/beers" class="text-button">Check the Beers!</a>
</button>


<button>
    <a href="/views/random-beer" class="text-button">Check a Random Beer!</a>
</button>
</div>

 <footer class="footer-bar">
    <p class="footer-text">Developed by Ironhack :)</p>
  </footer>
