    <div>
        <img src="./images/beer.png" alt="Beer needed">
    </div>
    <div>
        <a href="/beers">Check the Beers!</a>
    </div>
    <div>
        <a href="/randomBeer">Check a random Beer!</a>        
    </div>