<div class="indexContainer">
  <img src="images/beer.png" alt="beer" srcset="">
  <div class="buttonContainer">
    <a href="/beers">Check the Beers!</a>
    <a href="/randombeer">Check a Random Beer!</a>
  </div>
</div>