<div class="home">
    <img class="beer-img" src="/images/beer.png" alt="beer">
    <button type="button"><a href="/beers">Check the Beers!</a></button>
    <button type="button"><a href="/random-beer">Check a Random Beer!</a></button>
    <p class="bottom-bar">Developed by Ironhack ;)</p>
</div>

