<br><br>
<div class="main">
<img src="/images/beer.png" width="250" height="250"><br><br>
<button type="button"><a href="/beers">Check the Beers!</a></button><br><br>
<button type="button"><a href="/random-beer">Check a Random Beer</a></button>
</div>

<div class="button">

</div>