<img class='main-img' src='/images/beer.png' alt='beer-img' />
<div class='buttons'>
  <a class='btn' href='#'>Check the Beets!</a>
  <a class='btn' href='#'>Check a Random Beer!</a>
</div>
<footer>
  <p>Develop by Ironhack</p>
</footer>