<div class="landing">
    <video id="landing-video" autoplay muted loop src="/images/beer_bg.mp4"></video>
    {{!-- <img src="/images/beer.png" alt="beer illustration"></img> --}}
    <a class="landing-btn" href="/beers">Check the Beers!</a>
    <a class="landing-btn2" href="/random-beers">Random Beer</a>
</div>