<div id="img-beer" class="container column align-center">

    <img src="/images/beer.png" alt="beer">


            <button class="button-blue"><a href="/beers">Check the Beers!</a></button>

            <button class="button-blue"><a href="/random-beers">Check a Random Beer</a></button>


</div>