<div class="container">
    <div class="row justify-content-around">
        <div class="col-sm-4">
             <img class=""
                    src="/images/beer.png"
                    alt="A beber!">
                <div class="card-body">
                    <a href="/beers" class="btn btn-primary">Check the Beers!</a>
                <div class="card-body"></div>
                <a href="/random-beer" class="btn btn-primary">Check the Beers!</a>
            </div>
        </div>
    </div>
</div>

