<body>
    <div id="img">
        <img class="mx-auto d-block  "src="/images/beer.png" alt="beer" width='400' height='400'></img>
    
        <button class="mx-auto d-block">
        <a href="/beers">Check the Beers </a>
        </button>
        <button class="mx-auto d-block">
        <a href="/random-beer">Check a Random Beer </a>
        </button>
    </div>
</body>

