<div>
    <img id="pic-beer" src="/images/beer.png" alt="Beer-Pic">  
<div>
    <a href="/beers">  <button> Check the Beers! </button> </a>
    <a href="/random-beers"> <button> Check a Random Beer </button> </a>
</div>

</div>