<div class="beer">
<img class="beer-img"  src="/images/beer.png">
</div>
<div class="button-one" >

<button>
    <a href="/beer"> Check the beers! </a>
</button>
</div> <br />
<div class="button-two"  >

<button>
    <a href="/random-beer"> Check a random beer! </a>
</button>
</div>
