<div>
  <img src="images/beer.png" class="mb-5 rounded mx-auto d-block" alt="beer">
</div>

<div class="text-center"><a class="mt-3 btn btn-primary btn-lg" href="/beers" role="button">Check the Beers!</a></div>
<div class="text-center"><a class="mt-3 btn btn-primary btn-lg" href="/random" role="button">Check a Random Beer</a></div>