<div>
<img class = "imgbeer" src="/images/beer.png" alt="">
</div>
<div class="center">
<a href="/beers" class="btn btn btn-lg active btnbeer" role="button" aria-pressed="true">Check the beers</a><br>
<a href="/randombeers" class="btn btn btn-lg active btnbeer" role="button" aria-pressed="true">Check the random beers</a>
</div>
