<div id='home-div'>
<img src="images/beer.png">
<div id='button-div'>
    <a href="beers" class="button">Check the Beers</a>
    <a href="random-beer" class="button">Check a Random Beer</a>
  
</div>
</div>