<div>

    <img src="/images/beer.png" alt="Awesome beer">

</div>

<div id="button-group">
    <a href="/beers">
        <button type="button">Check beers!</button>
    </a>
    <a href="/random-beer">
        <button type="button">Check a random beer!</button>
    </a> 
</div>