<div>
  <img src='/public/images/beer.png' alt='' />

  <button onclick="window.location.href'/beers'">Check the beers!</button>
  <button onclick="window.location.href'/random-beer'">Check a random beer</button>
</div>