<div class="container">
    <h1>HOME</h1>
    <img src="/images/beer.png" alt="Beer">
    <div class="buttons">

        <a href="/beers"><button class="btn btn-dark">Check the beers</button></a>

        <a href="/random-beers"><button class="btn btn-dark">Check a random beer</button></a>
    </div>


</div>