<div class="container d-flex justify-content-center align-items-center beer-container flex-column">
    <img src="images/beer.png" alt="Iron Beers">
    <button type="button" class="btn btn-primary bt-lg mt-3">Check the Beers</button>
    <button type="button" class="btn btn-primary bt-lg mt-3">Random Beer</button>
</div>