<style>
    img {
        text-align: center;
        width: 300px;
        padding-top: 100px;
        padding-left: 42%;

    }
    .button {
        	display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-items: center;
	    align-content: stretch;
        text-decoration: none;
        border: 1px solid;
        background-color: yellow;
        margin-top: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 42%;
        margin-left: 42%;
    }
</style>
<div>
    
        <img src="/images/beer.png" alt="">
</div>
<div>
        <span>
            <a class="button" href="/beers">Check the Beers!</a>
        </span>
</div>
<div>
        <span>
            <a class="button" href="/random-beer">Check a Random Beer!</a>
        </span>
</div>
