<div class="container d-flex flex-wrap justify-content-center">
    <div>
        <img src="./images/beer.png" alt="Beer" style="width: 35rem">
        <a class="btn btn-primary" href="./Beers" role="button">Check the Beers!</a>
        <a class="btn btn-primary" href="./Random_beer" role="button">Check a Random Beer</a>


    </div>
</div>