<div class="home-container container">
    <img src="images/beer.png" alt="Imgen de cerveza en el home">
</div>
<div class="button-check-the-beers">
    <input onclick="window.location.href='/beers'" type="button" value="Check the Beers!">
</div>
<div class="button-check-Random-beers">
    <input onclick="window.location.href='/random-beer'" type="button" value="Check a Random Beer!">
</div>