<main class="container">
    <span class="row">
        <div class="col-12 align-self-center">
            <img src="/images/beer.png" class="rounded mx-auto d-block" alt="beer_image">
        </div>
        <div class="col-md-12 text-center">
            <a href="/beers"><button type="button" class="btn">Check the Beers!</button></a>
        </div>

        <div class="col-md-12 text-center">
            <a href="/random-beer"><button type="button" class="btn">Check a Random Beer</button></a>
    </span>
    <footer class="page-footer fixed-bottom">
        <div class="text-left py-3">Develop by Ironhack ;)
        </div>

    </footer>
</main>