<div>
  <img src="./images/beer.png" alt="Beer IMG">
</div>

<div>
  <button type="button" class="btn btn-primary"><a href="/beers">Check the beers</a></button>
  <button type="button" class="btn btn-primary"><a href="/random-beers" >Check random beers</a></button>
</div>