<div id="home">
    <img src="/images/beer.png" alt="beer-img">
    <button> <a href="/beers"> Click the Beers</a></button>
    <button> <a href="/random-beer">Check the Random Beer</a></button>
</div>