<div>
<img class="container d-flex justify-content-center"style="width: 25rem;" src="/images/beer.png" alt="beer">
<div class="container d-flex justify-content-center flex-direction: column">
<a href="/beers" class="btn text-light"style="background-color:#2081c3;">Chek the Beers!</a>
<a href="/random-beer" class="btn text-light" style="background-color:#2081c3;">Chek a Random Beer!</a>
</div>
</div>