<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img class="mb-5 mt-5 beer" src="/images/beer.png" alt="beer">
            <div class="row m-auto">
                <a href="/beers" class="btn btn-primary btn-lg mb-3">Check the Beers!</a>
                <a href="/random-beer" class="btn btn-primary btn-lg mb-5">Check a Random Beer!</a>
            </div>
        </div>
    </div>
</div>