<div id="home">
    <img src="images/beer.png" alt="Beer">
    <p>
        <a class="link" href="/beers">Check the Beers!</a>
        <a class="link" href="/random-beer">Check a random Beer!</a>
    </p>
</div>