<div class="container">
    <img src="images/beer.png" alt="beer" id="beer-img">
    <li class="home-li"><a href="/beers">Check the Beers!</a></li>
    <li class="home-li"><a href="/random-beer">Check a Random Beer</a></li>
</div>