<div>
    <img class="image" src="/images/beer.png" alt="beer.png">

</div>
<div class="links">
    <div>
        <a href="/beers">Check the Beers</a>
    </div>
    <div>
        <a href="/random-beers">Check a random Beer</a>
    </div>

</div>
<div class="bg-warning develope">
    <p>Develop by Ironhack</p>
</div>