<p>"Hello 2!"</p>


        <nav>
        <a href="/index">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random-Beers</a>
        </nav>

        <img src= "/images/beer.png"><BR>

        <a href="/beers">Check the Beers!</a>
        <a href="/random-beers">Check a Random Beer!</a>
        
        


