<img src="/images/beer.png" alt="Beer Pint">

<button class="btn btn-primary">
    <a style="color: azure;" href="/beers">Check the Beers!</a>
</button>
<button class="btn btn-primary">
    <a style="color: azure;" href="/random-beer">Check a Random Beer!</a>
</button>