<div>
    <img src="images/beer.png" alt="labirra" class='main-image'>
    <a href="/beers" class='main-btn'>Check the Beers!</a>
    <a href="/random-beer" class='main-btn'>Check a Random Beer</a>
</div>