<div class="container">
    <img class="glass" src="/images/beer.png" alt="Beer image">
    <div class="button">
        <a class="btn btn-primary" href="/beers" role="button">Check the beers!</a>
        <br>
        <a class="btn btn-primary" href="/random-beer" role="button">Check a random beer!</a>
    </div>
</div>