<main class="beers-container">
  <div class="img-container">
    <img class="img-fluid" src="/images/beer.png" alt="Beer image">
  </div>
  <div class="btn-wrapper mt-5">
    <a class="btn btn-pink" href="/beers">Check the beers!</a>
    <a class="btn btn-pink" href="/random-beer">Check a random beer</a>
  </div>
</main>