<div class="container-logo">
    <img src="/images/beer.png" alt="Beer" class="beer-cartoon">
    <div class="container-button">
        <button><a href="/beers">Check the Beers!</a></button>
        <br>
        <button><a href="/random-beer">Check a Random Beer!</a></button>
    </div>
</div>