
<div class="divImagenbeer">
    <img src={{imagen}} alt="beer" >
</div>
<div class="botones">
    <div class="boton">
        <a href="/Beers">{{boton1}}</a>
    </div>
        <div  class="boton">
        <a href="/RandomBeer">{{boton2}}</a>
    </div>
</div>