<div class = 'beerImg'>
    <img  src="/images/beer.png" alt="picture of beer" width="400" height="400" >
</div>

<div class = 'bottomButtonsDiv'>
    <a class ='bottomButtons' href="/beers">Check the Beers!</a>
    <a class ='bottomButtons' href="/random-beer">Check a Random Beer!</a>
</div>
