<div>
    <div class="beer-img container mt-5 text-center ">

        <img src="/images/beer.png" alt="">

    </div>

    <div class="d-grid gap-2 col-6 mx-auto mt-5 ">
        
        {{!-- <button> --}}
            <a href="/beers" class="btn btn-primary">Check the Beers!</a>
        {{!-- </button> --}}
        
        {{!-- <button> --}}
        <a href="/random-beers" class="btn btn-primary">Check the Random Beers!</a>
        {{!-- </button>   --}}

    </div>
</div>