<main class="container">

    <div class="row justify-content-center">
        <img src="/images/beer.png" alt="Beer">
    </div>
    
    <div class="row justify-content-center">
        
        <a class="btn btn-primary btn-custom" href="/beers">Check the Beers</a>
          
    </div>

    <div class="row justify-content-center">

        <a class="btn btn-primary btn-custom" href="/random-beers">Check a Random Beer</a>

    </div>
    
    
</main>