<div class="index">
    <img class="image" src="/images/beer.png" alt="Beer image">

    <span class="button">
        <a class=" btn btn-primary" href="/beers" role="button">Check the Beers!</a>

    </span>

    <span class="button">
        <a class="btn btn-primary" href="/random-beer" role="button">Check a random Beer</a>


    </span>

</div>