<div class="container align-items-center">
    <div class="row justify-content-center ">

        <div class="col-4 d-flex">

<img src="/images/beer.png" alt="Beer" class='beerIndexImage'>
            
        </div>
        <div class="col-12 d-flex justify-content-center gy-4">

<a class="btn btn-primary" href="/beers">Check the Beers!</a>

        </div>
        <div class="col-12 d-flex justify-content-center gy-4">
            
<a class="btn btn-primary" href="/random-beer">Check a Random Beer!</a>

        </div>
    </div>
</div>