<div class="container">
<img  class="container-img" src="/images/beer.png">
</div>

<div class="btn">
  <button class="btn btn-primary" type="button">Check the Beers!</button>
  <button class="btn btn-primary" type="button">Check a Random Beer</button>
</div>

