<div class="home">
    <div>
<img src="/images/beer.png" style="width: 200px">
    </div>
    <section class="btn">
        <button  type="button"><a href="/beers">Check the Beers!</a></button>
        <button type="button"><a href="/random-beer">Check a random Beer!</a></button>
    </section>
</div>