<div class="image-container">
<img src="/images/beer.png" alt="">
</div>
<div class="button-container">
<a href="/beers" class="btn-one">Cheeck to Beers!</a>
<a href="/random-beer" class="btn-two">Check a Random Beer!</a>
<br>
<br>
</div>
