<h2>Is it working?</h2>
<img class='main-image' src='/images/beer.png'>
<div class="centered">
    <button><a class="no-decoration" href="/beers">Check the Beers!</a></button>
    <button><a class="no-decoration" href="/random-beer">Check a Random Beer</a></button>
</div>