<main class="container mBox">
    <div class="row">
        <img class="logo col-4" src="/images/beer.png" alt="Beer photo" />
    </div>
    <div class="row align-items-center">
        <a class="btn btn-primary col-12" href="/beers">Check the Beers!</a>
    </div>
    <div class="row align-items-center">
        <a class="btn btn-primary col-12" href="/randombeer">Check a Random Beer!</a>
    </div>

</main>