<div class="container">
	<div class="row">
		<div class="column col-12 d-flex flex-column justify-content-center align-items-center">
			<img src="/images/beer.png" alt="beer-mug">
		</div>
		<div class="column col-12 d-flex flex-column justify-content-center align-items-center">
				<a class="btn btn-home" href="/beers">Check the Beers!</a>
		</div>
		<div class="column col-12 d-flex flex-column justify-content-center align-items-center">
			<a class="btn btn-home" href="/random-beer">Check a Random Beer</a>
		</div>
	</div>
</div>
