<div class='container'>
  <div class='row'>
    <div class='col text-center'>
      <h1 class='my-5'>Bienvenidos</h1>
      <img class='mb-3' src='../images/beer.png' alt='' width='200px' />
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='gap-5 d-flex justify-content-center pt-4'>
        <a href='/beers' class='btn btn-dark'>Beers</a>
        <a href='/randomBeers' class='btn btn-dark'>Random Beers</a>
      </div>
    </div>
  </div>
</div>