<div class="centered">
    <img src="/images/beer.png" alt="Cervezota">
    <a class="button" href="/beers">Check the Beers!</a>
    <a class="button" href="/random-beer">Check a Radom Beer!</a>
</div>