<div class="container">

    <div class="index">

        <div>
            <img src="/images/beer.png">
            <br>
            <a href="/beers" class="btn btn-primary btn-sm">Check the Beers!</a>
            <br>
            <a href="/random-beer" class="btn btn-primary btn-sm">Check a Random Beer</a>
        </div>

    </div>

</div>