<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <img src="../images/beer.png">
  <a href="/beers">Check the beers!</a>
  <a href="/random-beer">Check a random beer!</a>
</body>
</html>