<div class="container">
    <a href="/" class=""></a>
    <img class="main-beer-img" src="/images/beer.png" alt="main-beer image">
    <div class="links-home">

        <a href="/beers" class="btn btn-primary">Check the Beers!</a>
        <a href="/random-beer" class="btn btn-primary">Check a Random Beer</a>


    </div>

</div>