<div class='home'>
  <img class='home-img' src='images/beer.png' alt='beer mug' width='100' />

  <button class='home-btn'>
    <a href='beers'> Check The Beers!</a>
  </button>

  <button class='home-btn'>
    <a href='/random-beer'>
      Check A Random Beer!
    </a>
  </button>
</div>