<div>
    <img src="/images/heroimg.png" class="img-fluid" alt="people drinking beers">
</div>
<div class="btn__wrapper">
    <a type="button" href="/beers" class="btn-lg btn-dark">Our Beers</a>
    <a type="button" href="/random-beer" class="btn-lg btn-light">Random Beer Generator</a>
</div>