<div class="d-flex flex-column align-items-center justify-content-center">
    <div class="p-2">
        <img class="img-fluid" src="/images/beer.png">
    </div>
    <div class="p-2">
        <a name="" id="" class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
    </div>
    <div class="p-2">
        <a name="" id="" class="btn btn-primary" href="/random-beers" role="button">Check a Random Beer!</a>
    </div>
</div>
