<div class="index">
<img src="/images/beer.png">
<button class="btn-Home"><a href="beers">Check the Beers!</a></button>
<button class="btn-Home"><a href="random-beers">Check a random Beer!</a></button>
</div>