<main>
    <div class = "mainContainer">
        <img class = "beerClass" src="../images/beer.png" alt="beer">
        <a href="/beers" class = "button">Check the Beers!</a>
        <a href="/random-beers" class = "button">Check a Random Beer!</a>
    </div>
</main>