<main class="container">
    <img class="home-beer" src="images/beer.png"/> 

    <div class="button-st">
        <a class="btn btn-dark" href="/beers">Beers</a>
        <a class="btn btn-dark" href="/random-beer">Check a Random Beer</a>
    </div>    
</main>