<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <img src="./images/beer.png" class="w-100" alt="">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <a href="/beers" class="btn btn-primary"> Check the Beers! </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <a href="/random-beers" class="btn btn-primary"> Check a Random Beer! </a>
        </div>
    </div>
</div>