<div class="container mb-5  ">
    <img class="beer_img mx-auto d-block" src="/images/beer.png" alt="">
</div>
<div class="container mb-5 text-center">
    <a href="/beers" class="btn btn-dark">Check the Beers!</a>
    <a href="/random-beer" class="btn btn-dark">Check a Random Beer</a>
</div>