<div>
    <div class="container">
        <hr>
        <img class="beerJar" src="/images/beer.png" alt="">
    </div>
</div>

    <button type="button" class="btn btn-primary"><a href="/beers" >Check the Beers!</button>
    <button type="button" class="btn btn-primary"><a href="/random-beer" >Check a Random Beer!</button>
