<div id="home">
<img id="beerImg" src="/images/beer.png" alt="beer"/>
<a href="/beers" class="badge badge-primary">Check the Beers!</a>
<a href="/randomBeer" class="badge badge-primary">Check a Random Beer!</a>
</div>