<div id="mainPage">
    <img src="images/beer.png" alt="Beer image">
    <button><a href="/beers">Check the Beers!</a></button>
    <button><a href="/random-beers">Check a random Beer!</a></button>
</div>