<div class='flex flex-column tc items-center'>
  <img class='mw7 height-auto' src='images/beer.png' alt='beer mug' />
  <div class='ph3 pt3 flex flex-column tc items-center'>
    <a class='f6 link dim br2 ph3 pv2 mb2 dib white bg-navy' href='/beers'>Check
      the Beers!</a>
    <a
      class='f6 link dim br2 ph3 pv2 mb2 dib white bg-navy'
      href='/random-beer'
    >Check a Random Beer!</a>

  </div>
</div>