

<div style="text-align: center;">
 <img style="" src="https://o.remove.bg/downloads/805c1bdc-f17e-4853-9cb5-85d7c83e30e0/beer-radler-grolsch-brewery-fizzy-drinks-sprite-png-favpng-D88raFwCdEBxZPivFL5stQLjE-removebg-preview.png" alt="beer" height="400" width="400"/>
</div>



<div style="place-content: flex-start; justify-content: center;" class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" type="button">
      <a href="beers" class="btn btn-primary" role="button" data-bs-toggle="button">Check the Beers!</a>
  </button>
  <button class="btn btn-primary" type="button">
      <a href="random-beer" class="btn btn-primary" role="button" data-bs-toggle="button" aria-pressed="true">Check the random-beers!</a>
  </button>
</div>


