<div class ="home-page">
    <img src="/images/beer.png" alt="">
    <div class="home-links">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check the Random Beer!</a>
    </div>
</div>