<div class="flex-col">
    <img class="beer-illustration" src="./images/beer-illustration.png" alt="Beer Cartoon">
    <div class="btn-row">
    <a class="purple-btn" href="/beers">See All Beers!</a>
    <a class="purple-btn" href="/random-beer">A Random Beer</a>
    </div>
</div>