<div id="beer-image-container-home">
<img id="img-home-page" src="./images/beer.png" alt="Beer">
</div>
<div id="buttons-container-home">
    <a href="/beers">
        <buttons>Check the Beers</buttons>
    </a>
    <a href="/random-beer">
        <buttons>Check a Random Beer!</buttons>
    </a>
</div>