<div class='beer-container'>
  <img class='img' src='/images/beer.png' alt='beer image' />
  <a class='button' href='/beers'>Check the beers!</a>
  <a class='button' href='/randombeers'>Check a Random beer!</a>
</div>