<div class="container">
    <div>
        <img class="beer-image" src="/images/beer.png" alt="beer-image">
        </div>
        <div class="container">
        <a class="button" href="/beers"><button>Check the Beers!</button></a>
        <a class="button" href="/random-beers"><button>Check a Random Beer!</button></a>
        </div>
</div>