<div class="row">
    <div class="col-md-12 index">
        <img src="images/beer.png" alt="bigBeer">
    </div>
    <div class="col-md-12 index">
        <a href="/beers" class="btn btn-primary">Check the Beers!</a>
    </div>
    <div class="col-md-12 index">
        <a href="/random-beer" class="btn btn-primary">Check a random Beer!</a>
    </div>
</div>