<div>
    <img src="images/beer.png" alt="beer">
</div>
<div class="m-1">
    <a class="btn btn-primary" href="/beers">Check the Beers!</a>
</div>
<div class="m-1">
    <a class="btn btn-primary" href="/random-beer">Check a Random Beer!</a>
</div>