<div>
    <div class="text-center">
        <img src="/images/beer.png" class="rounded" alt="img beer">
    </div>

<div class="text-center mt-5">
<button 
type="button" class="btn btn-outline-warning"><a href="/beers">Check the Beers!</a>
</button>
<button 
type="button" class="btn btn-outline-warning"><a href="/random-beer">Check a Random Beer</a>
</button>
</div>


</div>