<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img class= "beerGlass" src="/images/beer.png" alt="Beer">
        </div>
    <div class="row text-center">
        <div class="col">
            <a class="btn btn-primary" href="/beers">Check the Beers!</a>
            </br>
            <a class="btn btn-primary" href="/random-beers">Check a Random Beer</a>
        </div>
    </div>
</div>