<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ironbeers</title>
</head>
<body>
    <nav class="navbar">
        <a class="nav-beer" href="/beers">Beers</a>
        <a class="nav-randomBeer" href="/randomBeer">Random Beer</a>
    </nav>

    <div>
        <h1> Welcome to beerville!</h1>
    </div>
    
</body>
</html>