<div class="album py-5 bg-light">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-4">
                <div class="card" style="width: 23rem;">
                <img class="mx-auto" alt="" style="width: 100px; margin: 15px;" src="/images/beer.png">
                        <div class="card-body scard-body">
                        <h5 class="card-title">All Beers</h5>
                        <p class="card-text">Look at our entire selection of Beers</p>
                        <a href="/beers" class="btn btn-primary">Go</a>
                        </div>
                </div>                
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 23rem;">
                <img class="mx-auto" alt="" style="width: 100px; margin: 15px;" src="/images/beer.png">
                        <div class="card-body scard-body">
                        <h5 class="card-title">Random Beer</h5>
                        <p class="card-text">Let us suggest a random Beer for you</p>
                        <a href="/random-beer" class="btn btn-primary">Go</a>
                        </div>
                </div>               
            </div>
        </div>
      </div>
</div>