<div>
    <img  src="/images/beer.png"/>
</div>

<div class="m-5">
    <a type="button" class="btn btn-primary btn-lg" href="/beers">Check the beers!</a>
    <a type="button" class="btn btn-secondary btn-lg" href="/random-beer">Check a Random beer!</a>
</div>