<div>
    <img id="beer-img" src="/images/beer.png" alt="beer-drawing">
    <div class="buttons-container">
        <a class="div-buttons" href="/beers">Check the Beers!</a>
        <a class="div-buttons" href="/random-beer">Check a Random Beer!</a>
    </div>
<div/>