<div class="container landing-page">
    <img src="images/beer.png" alt="beer-logo">
    <button class="button"><a href="/beers">Check the beers!</a></button>
    <button class="button"><a href="/random-beer">Check a random beer!</a></button>
</div>