<div class='beerHomeImage'><img
    class='beerImage'
    src='/images/beer.png'
    alt='beer image'
  /></div>

<div class='buttonHome'>
  <form action='/beers'>
    <input class='oneButton' type='submit' value='Check the Beers!' /></form>
  <form action='/randomBeer'><input
      class='oneButton'
      type='submit'
      value='Check a Random Beer'
    /></form>
</div>