<div class="container">
    <h1>IronBeers</h1>
    <hr>
    <div>
    <img src="/images/beer.png" alt="">
    </div>
    <a class="btn btn-dark" href="/beers">Check the Beers!</a>
    <a class="btn btn-dark" href="/random-beer">Check a Random Beer!</a>
</div>