<div class="row justify-content-center">
    <div class="col-12 text-center">
        <img src="/images/beer.png" alt="">
    </div>
    <div class="col-12 text-center">
        <a href="/beers"><button type="button" class="btn btn-primary">Check the Beers</button></a>
    </div>
    <div class="col-12 text-center">
         <a href="/randomBeer"><button type="button" class="btn btn-primary">Check a Random Beer!</button></a>
    </div>
</div>