<main class="container principal">

    <div class="row align-items-center">
        <img class="beer col-4" src="/images/beer.png" alt="Cartoon jar of beer">
    </div> 

    <div class="row align-items-center">
        <a class="btn btn-primary col-12" href="/beers">Check the beers!</a>
    </div>

    <div class="row align-items-center">
        <a class="btn btn-primary col-12" href="/random-beers">Check a random beer!</a>
    </div>

</main>