<div id="main-buttons">
    <img id="home-image" src="/images/beer.png" alt="Foamy beer in tankard" />
    <a class="button" href="/beers">Check the Beers!</a>
    <a class="button" href="/random-beer">Check a random Beer!</a>
</div>