<div class="row justify-content-center">
    <img src="/images/beer.png" class="rounded mx-auto d-block" alt="beer" style="width:500px">

    <div class="row justify-content-center ">
        <div class="col-3">
            <p><a href="/beers" class="btn btn-primary mt-2">Check the Beers!</a></p>
            <p><a href="/random-beer" class="btn btn-primary p mt-2"> Check a Random Beer!</a></p>
        </div>
    </div>
</div>