<img src="/images/beer.png" class="rounded mx-auto d-block" alt="beerimgage">


<div class="buttonA">
    <a href="/beers" class="btn btn-success mt-3 mb-5 ">Check the Beers</a>
</div>
<div class="buttonB">

    <a href="/random-beer" class="btn btn-success mt-3 mb-5 ">Check a Random Beer</a>
</div>