<div>
    <img class="img-portada" src=" images/beer.png" alt="imagen de Cerveza">
</div>
<div class="container">
    <p><a class="btn btn-primary btn-lg" href="/beers">Check the Beers</a></p>
    <p><a class="btn btn-primary btn-lg" href="/randombeer">Check a Random Beer</a></p>
</div>