<div class="container">
    <div class="index">
        <img src="/images/beer.png" alt="" class="index-photo">



        <div class="btns">
            <a href="/beers" class="btn btn-dark mt-3 mb-5">Check the Beers!</a>
            <a href="/random-beer" class="btn btn-dark mt-3 mb-5">Check a Random Beer!</a>
        </div>

    </div>
</div>