<div class="container ">
    <div class="row index-main-content">
        <div class="col-lg-4">
            <img src="../images/beer.png" alt="beer">
        </div>
        <div class="col-lg-4 buttons-beers">
            <a href="/beers">Check the Beers!</a>
        </div>
        <div class="col-lg-4 buttons-beers random">
            <a href="/random-beers">Check a Random Beer!</a> 
        </div>
    </div>
</div>