<div class="home">

    <figure class="big-beer">
        <img src="../images/beer.png" alt="beer pic">
    </figure>

    <div class="d-grid gap-2 col-4 mx-auto">
        <button class="btn btn-primary" type="button"><a href="/beers">Check out the beers!</a></button>
        <button class="btn btn-primary" type="button"><a href="/random-beer">Check a random beer!</a></button>
    </div>


</div>