

<body>
   <img src="/images/beer.png">
<div>
<a href="/beers" {{!-- class="btn btn-primary disabled"  --}} role="button" aria-disabled="true">Check the Beers!</a>
<a href="/random-beer" {{!-- class="btn btn-primary disabled"  --}} role="button" aria-disabled="true">Get a Random Beer</a>
{{!-- <a href="beerpartial">Partials</a> --}}
</div>
</body>

