<div class="container">
    <div class="row">
        <div class="col-4 home">
            <img src="/images/beer.png" alt="beer-image">
            <a class="btn btn-primary " role="button" aria-disabled="true" href="beers">Check the Beers!</a>
            <a class="btn btn-primary " role="button" aria-disabled="true" href="random-beer">Check a Random Beer</a>
        </div>
    </div>
</div>