<div>
    <img class="beer-img" src="/images/beer.png" alt="beers">


</div>
<div class="d-grid gap-2 col-2 mx-auto mt-4">
    <a href="/beers" class="btn btn-primary" role="button" data-bs-toggle="button">Check the Beers!</a>
    <a href="/random-beer" class="btn btn-primary" role="button" data-bs-toggle="button"> Check a Random Beer</a>

</div>