<div class="index-container">
    <figure>
        <img class="beer-image" src="../images/beer.png" alt="Beer image">
    </figure>
    <a class="index-btn width-1" href="/beers">Check the Beers!</a>
    <a class="index-btn width-2" href="/random-beers">Check a Random Beer!</a>
</div>