
<div class= "img">
<img src='/images/beer.png' alt='beer' />
</div>

    <a href='/beers'>
     <button class ="button">Check the beers!</button>
    </a>

     <a href='/randomBeer'>
     <button class ="button">Check a Random Beer!</button>
    </a>
    
