<div class="container">
  <div class="index">
    <img src="/images/beer.png" alt="beer logo" class="main-img">
    <a href="/beers" class="btn">Check the Beers!</a> 
    <a href="/random-beers" class="btn">Check a Random Beer</a>
  </div>
</div>
