<body>
    <div id="img">
        <img class="mx-auto mt-5 d-block  "src="/images/beer.png" alt="beer" width='400' height='400'></img>
    
        <button class="mx-auto mt-5 d-block">
        <a href="/beers">Check the Beers </a>
        </button>
        <button class="mx-auto mt-2 d-block">
        <a href="/randombeer">Check a Random Beer </a>
        </button>
    </div>
</body>

