
<div class="index-img">
<img src="/images/beer.png" alt="">
</div>
<div class="check-beers">
    <button class="buttonOne">
     <a href="/beers">Check the Beers!</a>
    </button>
    <button class="buttonTwo">
     <a href="/random-beer">Check a Random Beer!</a>
    </button>
</div>