<div id='main-page'>
  <img id='main-img' src='/images/beer.png' alt='beer-img' />
</div>

<div id='sub-links'>
  <button id='check'><a href='/beers'>Check the Beers!</a></button>
  <button id='check'><a
      href='/random-beer
  '
    >Check a Random Beer!</a></button>
</div>