<link rel="stylesheet" href="/stylesheets/styles.css">


<div id="index-div"> 
    <img id="main-image" src="/images/beer.png">

    <button><a href="/beers">Check the Beers!</a></button>
    <button><a href="/random-beer">Check a Random Beer</a></button>
</div>


