<div >
<section class="section">
    <img src="/images/beer.png"/>
    <div class="buttons">
         <a class=" button" href="/beers">Check the Beers!</a>
         <a  class=" button"href="/randombeer">Check a Random Beer!</a>  
    </div>
</section>

</div>