<div class="container">

    <img src="/images/beer.png" alt="beer icon">
    <hr>


    <a href="/beers" class="btn btn-primary">All beers</a>
    <a href="/randombeer" class="btn btn-primary">Random beer</a>

</div>