<div class="home-box">
    <img src="/images/beer.png" alt="" id="home-img">
    <a class="home-link" href="/beers">Check the Beers!</a>
    <a class="home-link" href="/randomBeer">Check a Random Beer!</a>
   
</div>