<div class="d-flex flex-column bd-highlight mb-3 align-items-center justify-content-center">
    <img class="mt-5 w-25 p-3" src="/images/beer.png">
    <div class="d-flex flex-column bd-highlight mb-3 align-items-center justify-content-center mt-5">
        <a href="/beers"><button type="button" class="btn btn-primary mb-3">Check the Beers!</button></a>
        <a href="/random-beer"><button type="button" class="btn btn-primary">Check a Random Beer!</button></a>
    </div>
</div> 