<div>
coucou
<img src="/images/beer.png" alt="a glass full of beer">
<div class="btns">
       <a href="/beers">Check th Beers!</a>
       <a href="/random-beer">Check a Random Beer!</a>
</div>
</div>