<div class="main-wrapper">
    <div class="img-wrapper">
      <img src="/images/beer.png" alt="Beer" style="width: 200px; height: auto">
    </div>
    <div class="wrapper-home-btn">
      <a class="beers-btn" href="/beers">Check the Beers!</a>
      <a class="random-btn"href="/random-beer">Check a Random Beer</a>
    </div>
</div>

