{{> nav }}
<div class="main-content">
    <img src="/images/beer.png" alt="beer">
    <p><a href="/beers" class="button">Check the Beers</a></p>
    <p><a href="/random-beer" class="button">Check a Random Beer</a></p>
</div>
