<!--Iteration 2 Create Home Page-->
<div>
    <img  src="/images/beer.png" alt="beer image"/>
    <div>
        <a  href="/beers">Check the Beers!</a>
        <a  href="/random-beer">Check a Random Beer</a>
    </div>
</div>