
<div class='row justify-content-center'>
  <div class='col-12 col-md-3'>
    <img class='img-fluid mb-2' src='/images/beer.png' alt='Beer' />
    <div class='d-flex flex-column'>
      <a class='btn btn-primary m-2' href='/beers' role='button'>Check the Beers!</a>
      <a class='btn btn-primary' href='/random-beer' role='button'>Check the
        Random Beers!</a>
    </div>
  </div>
</div>