
<section class="index-container fixHeight">
  <img id="beerImg" src="/images/beer.png" alt="beer charicature">
  
  <div class="container-button">
    <a class="first-link" href="/beers">Cheek The Beers!</a>
    <a class="second-link" href="/random-beer">Cheek a Random Beer!</a>
  </div>
</section>