
	
<div>
    <img class="beer-photo" src="/images/beer.png" alt="beer.png">

    <a class="btn" href="/beers"> Check the Beers! </a>
    <a class="btn" href="/random-beer"> Check a Random Beer! </a>
</div>
