<div class="beerimage">
    <img src="/images/beer.png" alt="Beer-image">

    <a class="btn btn-dark mybutton" href="/beers">Check the Beers!</a>
    <a class="btn btn-dark mybutton" href="/random-beer">Check a Random Beer</a>

</div>