<div class="home-page">

<div style="display: flex; flex-direction: column; align-items: center;">
    <img class="beer-pic" src="/images/beer.png"/>

<div >

<div class="beer-btn">
<a class="btn" href="/beers">Check the Beers!</a>
</div>

<div class="random-btn">
    <a class="btn" href="/random-beer">Check a Random Beer!</a>
</div>

</div>


</div>



</div>