<div>
    <img src="/images/beer.png" alt="beer">
    <a href="#" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Check the Beers!</a>
    <a href="#" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Check a Random Beer</a>
</div>