<div>
    <div>
        <img class="beerPicture" src="images\beer.png" alt="Dibujo cerveza" />
    </div>
    <div>
        <button><a class="btn btn-link-to-beer" href="/beers">Check the Beers!</a></button>
    </div>
     <div>
        <button><a class="btn btn-link-to-beer" href="/random-beers">Check a random Beer!</a></button>
    </div>
</div>