<div class="index-btn">
<img src="/images/beer.png" class="pic_index" alt="a nice foamy beer">
<a href="/beers" class="blueBtn">Check ALL the Beers!</a>
<a href="/random-beer" class="blueBtn">Check a Random Beer!</a>
</div>