<div class="cards-container">
    <img class="img rounded mx-auto d-block" src="../images/beer.png" alt="Beer">
    
    <div class = "button">
        <div class="card-body">
            <a href="/beers" class="btn btn-primary">Check the Beers!</a>
        </div>
        <div class="card-boy" >
            <a href="/random-beer" class="btn btn-primary">Check a Random Beer</a>
        </div>
    </div>
</div> 