<div class='start-container'>
  <img class='beer-logo' src='/images/beer.png' alt='beer pint' />

  <a class='check-btn' href='/beers'>check the beers</a>
  <a class='check-btn' href='/random-beer'>check a random beer</a>

</div>