<div class="index-container">
  <img class="beer_logo" src="images/beer.png" alt="Beer jag">
  <a class="bottom" href="beers">Check the Beers!</a>
  <a class="bottom" href="#">Check a Random Beer!</a>
</div>