<div id = "homepage">
<img class="beerMain" src="/images/beer.png">
<button class ="buttons"> <a class ="btext" href= "/beers" type="button">Check the Beers!</a></button>
<button class ="buttons"> <a class ="btext" href= "/random-beer" type="button">Check a Random Beer</a></button>
</div>