<div class="main-index">

    <img src="/images/beer.png" alt="Beer">
    <a class="button1" href="/beers">Check the Beers!</a>
    <a class="button2" href="/random-beer">Check a Random Beer!</a>
</div>