    <img src="/images/beer.png" class="w-25 mb-5">
    
    <a href="/beers" class="btn btn-primary mb-2 mt-2 w-20">Check the Beers</button>

    <a href="/random-beers" class="btn btn-primary m-5">Check a random Beers</button>
