<div>
  <div>
    <img src='/images/beer.png' alt='beer' />
  </div>
  <div>
    <a href='/beers'>
      <button>Check the beers!</button>
    </a>
    <a href='/random-beer'>
      <button>Check a Random Beer!</button>
    </a>
  </div>
</div>