<div>
<div class="row">
        <div class="col-3"></div>

<div class="col">
<img src="/images/beer.png" class="img-fluid image-style" alt="beer image">
</div>
   <div class="col-3"></div>
</div>
     

</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col"><a href="/beers" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Check the beer's</a>
</div>
    <div class="col-4"></div>
</div>
<div class="row">
       <div class="col-4"></div>
<div class="col">
<a href="/random-beer" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Check a random beer!</a>
</div>
</div>
   <div class="col-4"></div>
</div>

</div>