<div class='main'>
    <div class='img-container'>
        <img id='beer' src="/images/beer.png" alt="beer">
    </div>
    <div class='links-container'>
        <a href="/beers"><button>Check the Beers!</button></a>
        <a href="/randomBeers"><button>Check a Random Beer</button></a>
    </div>