<div class= "container">
    <div align= "center"> 
    <img src="/images/beer.png"/> 
    <a href="/beers" class="button"><h2><strong>Check the Beers!</strong></h2></a>
    <a href="/random-beer" class="button"><h2><strong>Chek a Random Beer!</strong></h2></a>
    </div>
</div>