<div>
   THIS IS HOME 



</div>

<div>

    <img src="/images/beer.png" alt="" style="height: 300px;">
</div>
<div>
    <ul>
        <li><a href="/beers">Check the beers!</a></li>
        <li><a href="/random-beer">Check a random beer</a>.</li>
    </ul>

</div>