<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/images/beer.png" alt="beer image">
            <a class="btn" href="/beers">Check the beers</a>
            <a class="btn" href="/random-beer">Check the Random Beer</a>
        </div>

    </div>
</div>