<div class="main-container-home">
    <img src="./images/beer.png" alt="img beers">
    <button class="container-link">
        <a href="/beers">Check the Beers!</a>
    </button>
    <button class="container-link">
        <a href="/random-beer">Check a Random Beer!</a>
    </button>
</div>