<div class="container">
    <img src="./images/beer.png" alt="img beers">
    <button class="container-link">
        <a href="">Check the Beers!</a>
    </button>
    <button class="container-link">
        <a href="">Check a Random Beer!</a>
    </button>

</div>