<div class="indexDiv">
    <img class="indexImg" src="/images/beer.png" alt="Delicious Beer ">
    <div>
        <a href="/beers"><button>Check the Beers</button></a> 
        <a href="/random-beer"><button>Check a Random Beer!</button></a> 
    </div>
</div>