<div class="container">
    <img class="rounded mx-auto d-block logo" src="/images/beer.png" alt="Beer">

    <div class="row justify-content-center">
        <div class="col-3">
            <p><a href="/beers" class="btn btn-primary btn-sm">Check the Beers!</a></p>
            <p><a href="/random-beer" class="btn btn-primary btn-sm"> Check a Random Beer!</a></p>
        </div>
    </div>

</div>