<div class="main-page-container">
<img class="main-pic" src="/images/beer.png" alt="beer-picture">
<a class="link-btn" href="/beers">Check the beers!</a>
<a class="link-btn" href="/random-beer">Check a Random Beer!</a>
</div>