<div class="index-container">
   <div class="index-inner">
       <img class="beer-img" src="../images/beer.png"  alt="beer-image">
       <div class="buttons">
        <a href="/beers" class="btn btn-primary btn-margin" >Check the Beers!</a>
        <a href="/random-beer" class="btn btn-primary btn-margin" >Check a Random Beer</a>
        </div>
    </div>
</div>
   