<div id="index-content">
<img class="intro-beer" src="images/beer.png" alt="Beer image">
<a class="index-btn" href="/beers">Check the beers!</a>
<a class="index-btn" href="/random-beers">Check a random beer</a>
</div>