<div class="index-container d-flex flex-column align-items-center">
  <img class="beer-mug mx-auto d-block" src="/images/beer.png">
<div class="buttons">
  <a class="btn btn-primary" href="/beers">Check the Beers!</a>
  <a class="btn btn-primary" href="/random-beers">Check a Random Beer!</a>
</div>
</div>