<div class="index">
    <figure>
    <img class="img" src="/images/beer.png" alt="beer image">
    </figure>
    <div class="col">

    <a class="btn btn-primary btn-lg" href="/beers" role="button">Check The Beers!</a>
    <a class="btn btn-primary btn-lg" href="/random-beer" role="button">Check a Random Beer!</a>

    </div>

</div>