<div>
<href="/"></a>

 <img src="/images/beer.png" class="rounded mx-auto d-block image" alt="beer">

</div>
</div>


<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary btn-sm" href="/beers" type="button">Check the beers!</button>
  <button class="btn btn-primary btn-sm" href="/random-beer" type="button">Check a random beer!</button>
</div>

</div>