<div id="container">
    <div id="beer-photo">
        <img class="img" src="/images/beer.png">
        </div>
        <div class="btns" id="btn-1"><a href="/beers"><button class="btn btn-primary">Check the Beers!</button></a>
        </div>
        <div class="btns" id="btn-2"><a href="/random-beer"><button class="btn btn-primary">Check a Random Beer!</button></a>
    </div>
</div>