<div>
<img class="img-beer-draw" src="/images/beer.png" alt="beer image">
<a class="btn btn-primary btn-block" href="/beers">Check the Beers!</a>
<a class="btn btn-primary btn-block" href="/random-beer">Check a Random Beer!</a>
</div>