<div>
  <img src='public/images/beer.png' alt='beer image' width='300 px' />
</div>

<div>
  <button><a href='views/beers.hbs'>Check the Beers!</a></button>
  <button><a href='views/random-beer.hbs'>Check a Random Beer</a></button>
</div>