<div id="container">
  <img src="/images/beer.png" alt="IronBeers" class="homeBeer" />
  <a href="/beers" class="homeButton">Check the Beers!</a>
  <a href="/random-beer" class="homeButton">Check a Random Beer</a>
</div>