<div>
    <article>
        <img src = "../images/beer.png" alt="Beer logo">


        <div>
        <a href="/beers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check the Beers</a>
        </div>

        <div>
        <a href="/random-beer" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check a Random Beer</a>
        </div>

    </article>
</div>