<div class="py-4 d-flex flex-column align-items-center">
    <img src="/images/beer.png" class="init-img mx-auto py-5" alt="Responsive image">
    <a href="/beers" class="btn btn-primary btn-lg my-3 px-4 py-2 shadow">Check the Beers!</a>
    <a href="/random-beers" class="btn btn-primary btn-lg my-3 px-4 py-2 shadow">Check a Random Beer!</a>
</div>