<div class ="homePage">
<img src="../images/beer.png" class="homeImg"> <br>
<div class="linksIndex">
<a href="/beers">Check the beers!</a>  <br>
<a href="/random-beer">Check a random beer!</a>
</div>
</div>