
<link rel="stylesheet" href="/public/stylesheets/styles.css">

<div id="home">
    <img id="beer-image" src="/images/beer.png" alt="beer-image"> <br>
    <a href="/beers">Check the Beers!</a><br>
    <a href="/random-beers">Check a Random Beer!</a><br>
</div>