<div class="flex">

    <img src="/images/beer.png" alt="beer-image">



    <div>
        <a class="buttons" href="/beers">Check to Beers!</a>
    </div>
    <div>
        <a class="buttons" href="/random-beer">Check a Random Beer</a>
    </div>

</div>