<div id='index-content-wrap'>

  <img id='index-img' src='images/beer.png' alt='' />

  <a id='btn' href='/beers'>Check the Beers!</a>
  <a id='btn' href='/random-beer'>Check a Random Beer!</a>
</div>