<div class="d-flex flex-column align-items-center">

            
            <img src="images/beer.png" alt="A beer drawn in comic style" class="my-3">

    

        <a href="/beers" class="btn btn-primary">Check the Beers!</a>
        <a href="/random-beers" class="btn btn-primary">Check a Random Beer</a>
    </div>
