<link rel="stylesheet" href="/stylesheets/styles.css">
<div id="home-info">
    <img id='home-beer' src="/images/beer.png" >
    <a class='btn-home' href="/beers">Check the beers</a>
    <a class='btn-home' href="/random-beer">Check a Random Beer!</a>
</div>