<div class = "homePage">
<img src="/images/beer.png" alt="">

<button class="btn"><a href="/beers">Check the Beers!</a></button>
<button class="btn"><a href="/random-beers">Check a Random Beer!</a></button>
</div>