<div class="container">
    <img class="img-top" src="/images/beer.png" alt="beer glass">
    <a href="/beers" class="btn btn-primary">Check the Beers!</a>
    <a href="/random-beers" class="btn btn-primary">Check a Random Beer!</a>
</div>