<div class="container text-center" style="padding: 5% 0px;">
    <img src="/images/beer.png" alt="" width="500px">
   <br>
   <a href="/beers" class="btn myBtn">Check the beers!</a>
<br>
   <a href="/random-beer" class="btn myBtn"   >Check a Random Beer!</a>

</div>