<div class="container">
    <div>
        <img class="beer-img" src="images/beer.png">


        <div class="buttons-index">
            <a class="btn btn-success" href="/beers">Check the Beers</a>
            <a class="btn btn-danger" href="/random-beer">Check a Random Beer</a>
        </div>
    </div>
</div>