<div class="home-container">
<img src="./../images/beer.png" alt="Beer Image">
<a href="/beers"><div><span>Check the beers!</span></div></a>
<a href="/random-beers"><div><span>Check a random beer!</span></div></a>
</div>