<div class="d-flex flex-column col-md-3 mx-auto">
    <img class="mt-5" src="./images/beer.png" alt="image beer"> <br>

    <a href="/beers" class="btn btn-primary col-md-5 mx-auto mt-5" style="background-color:#2081c3;">Check the
        Beers!</a> <br>

    <a href="/random-beer" class="btn btn-primary col-md-6 mx-auto" style="background-color:#2081c3">Check a
        Random
        Beer</a>
</div>