<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 colu">
            <img class="img-fluid my-4" src="/images/beer.png" alt="">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 colu">
            <button class="btn"><a href="/beers">Check the Beers!</a></button>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 colu">
            <button class="btn"> <a href="/random-beer">Check a Random Beer!</a></button>
        </div>
    </div>
</div>