<div class= "flex col center">
    <div>
        <img src="/images/beer.png" alt="beer mug" id="beer-mug">
    </div>
    <div class="flex col">
        <a href="/beers" class="beer-btn">Check the Beers!</a>
        <a href="/random-beers" class="beer-btn">Check a Random Beer</a>
    </div>
</div>