<div>
<<<<<<< HEAD
<img src="/images/beer.png"/>
</div>

<div id="button-list">
    <a href="/beers" class="LinkButton"> Check the Beers!</a>
    <a href="/random-beer" class="LinkButton"> Check a Random Beers!</a>
=======
<img src='/images/beer.png'/>
</div>
<div id='button-list'>
    <a href='/beers' class='LinkButton'> Check the Beers!</a>
    <a href='/random-beer' class='LinkButton'> Check a Random Beers!</a>
>>>>>>> fd6a62b5b975a9a8ffbd117374b91e00683bfca0
</div>