<div>
 <img class="beer" src='/images/beer.png' alt='beerImage' />
</div>
<div class="main-buttons-both">
 <a class="main-buttons" href='/beers'>Check the Beers!</a>
 <a class="main-buttons" href='/randombeer'>Check a Random Beer</a>

</div>

     