<div style="text-align: center;">
<img src="/images/beer.png" class="img-fluid" alt="Beer image">
<br><br>
<a type="button" class="btn btn-primary btn-lg" href="./beers">Check the Beers!</a>
<br><br>
<a type="button" class="btn btn-primary btn-lg" href="./random-beers">Check a Random Beer</a>
</div>