<div>
<div>
<img id="beer" src="./images/beer.png">
</div>

<div>
<a id="a1" class="btn btn-primary" href="/beers">Check the Beers</a>
</div>

<div>
<a id="a2"class="btn btn-primary" href="/randomBeer">Check a random Beer</a>
</div>




</div>