<div class="mx-auto" style="width: 300px">
    <div>
        <img src="/images/beer.png" alt="beer image" height="300"/>
    </div>
    <div class="d-inline-flex flex-column gap-4 mt-5">
        <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
        <a class="btn btn-primary" href="/random-beer" role="button">Check the Random Beer!</a>
    </div>
</div>