<div id="root">
<img class="rootImage"src="/images/beer.png" alt="Ironbeer">
<div class="indexLink">
<a class="link" href="/beers"><p>Check the Beers!</p></a>
</div>
<div class="indexLink">
<a class="link" href="/random-beer"><p>Check a Random Beer!</p></a>
</div>
</div>