<div>
    <div class="container justify-content-center">

        <div class="row homeImg">
            <div class="col-4">
                <picture> <img src="/images/beer.png" alt="Imagen de una beer"></picture>
            </div>
        </div>


        <div class="row mainBtn">
            <div class="col-4"><a class="btn btn-primary" href="/beers" role="button">Check las beers!</a>
            </div>
        </div>


        <div class="row mainBtn">
            <div class="col-4"><a class="btn btn-primary" href="/random-beer" role="button">Check a random beer!
                    ou
                    shit</a>
            </div>

        </div>


    </div>
</div>