<div class="container">
    <div class="beer-index">

        <img src="/images/beer.png" alt="">
        <hr>
        <div class="botones">
            <a href="/beers" class="btn btn-warning">Check the Beers!</a>
        </div>
        <div class="botones">
            <a href="/random-beer" class="btn btn-warning">Check a Random Beer</a>
        </div>
    </div>
</div>