

<div>
	<div>
        <img id="animation-beer" src="/images/beer.png" />
    </div>
	<div class = "buttons">
    <a href= "/beers">Check the Beer!</a>	
	<a href= "/randombeer">Check a Random Beer!</a>
    </div>
</div>