<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <h1>Come on take a beer!!</h1>
    </div>
    <div class="col-12 col-md-4 offset-md-4">
      <img src="/img/beer.png" alt="Beer" class="img-fluid mx-auto d-block"> 
    </div>
    <div class="col-12 col-md-6 offset-md-3">
      <div class="btn-group mt-3">
        <a href="/beers" class="btn btn-primary">Check the Beers!</a>
        <a href="/random-beer" class="btn btn-primary">Check a Random Beer</a>
      </div>
    </div>
  </div>
</div>