<div class="container">
<div class="row align-items-center  text-center flex-column mt-5">
	<div class="col-md-6 mb-5">
		<img class="land-img" src="/images/beer.png" alt="">
	</div>
	<div class="col-md-2 mb-4">
		<a href="/beers" class="btn btn-info">Check the Beers!</a>
	</div>
	<div class="col-md-2 mb-4">
		<a href="/random-beer" class="btn btn-info">Check a Random Beer!</a>
	</div>
</div>
</div>