<div class="container">
    <div class="d-flex flex-column justify-content-center">
        <div class="p-2 align-self-center">
            <img class="img-fluid" src="/images/beer.png">
        </div>
        <div class="p-2 align-self-center">
            <a name="" id="" class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
        </div>
        <div class="p-2 align-self-center">
            <a name="" id="" class="btn btn-primary" href="/random-beers" role="button">Check a Random Beer!</a>
        </div>
    </div>
</div>