<div class="container">
    <div class="row">
        <img class="home-beer m-auto" src="/images/beer.png" alt="Blonde beer picture">
    </div>
    <div class="row">
        <a href="beers" class="m-auto">Check the Beers!</a>
    </div>
    <div class="row">
        <a href="random-beers" class="m-auto">Check a Random Beer!</a> 
    </div>
</div>