<!-- views/index.hbs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <div>
        <img src="/images/beer.png" alt="beer" />
    </div>

    <div>
        <a href="/beers" class="btn btn-primary">Check the Beers!</a>
    </div>

    <div>
        <a href="/random-beers" class="btn btn-primary">Check a Random Beer</a>
    </div>
  </body>
</html>


