<div class="homepage">
    <img class="imgBeers" src="./../images/beer.png" alt="image">
    <div class="menu">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beers">Check a Random Beer</a>
    </div>
</div>