<div>
    <img class="uk-padding uk-align-center" src="images/beer.png" width="380">
    <div class="uk-width-1-6 uk-align-center">
        <a class="uk-align-center uk-button uk-border-rounded uk-box-shadow-medium" href="/beers" id="button1">Check the beers!</a>
    </div>
    <div class="uk-width-1-5 uk-align-center">
        <a class="uk-align-center uk-button uk-border-rounded uk-box-shadow-medium" href="/random-beer" id="button2">Check a random beer!</a>
    </div>
</div>