<div class="container">
    <div class="row justify-content-center">
        <img src="/images/beer.png" alt="beer picture">
    </div>
    <div class="row justify-content-center m-4">
        <a href="/beers" class="btn btn-primary">Check the Beers!</a>
    </div>
    <div class="row justify-content-center m-4">
        <a href="/random-beers" class="btn btn-primary">Check a Random Beer!</a>
    </div>
</div>