<div class="container ">
    <div class="row align-items-center justift-content-space ">

        <div class="col-md-6 justify-content-center">
            <div class="index-beer rounded mx-auto d-block">

                <img src="/images/beer.png" alt="beer">
            </div>
        </div>
        <div class="col-md-6 rounded ">
            <div class="body-buttoms row">

                <a href="/beers" class=" justify-content-center btn btn-dark">Beers</a>
                <a href="/random-beer" class=" btn btn-outline-dark">Random Beer</a>
            </div>
        </div>
    </div>

</div>