  <div class="index-content">
    <img class="index-img" src="/images/beer.png" alt="beer glass">
    <a class="index-btn" href="/beers">Check the Beers!</a>
    <a class="index-btn" href="/random-beers">Check Random Beer!</a>
  </div>
