<div class="imgBeer" class="text-center">
    <img src="/images/beer.png " class="rounded-5">
</div>

<div class="text-center">
    <a href="/beers" class="btn btn-dark btn-lg"> Check the Beers!</a>
    <a href="/random-beer" class="btn btn-dark btn-lg"> Check a random Beer!</a>
</div>