<div class="index">
<img src="/images/beer.png" alt="beer image" class="home-img">
    <div id="a-links">
    <a href="/beers" class='btn'>Check the Beers!</a>
    <a href="/random-beer" class='btn'>Check a Random Beer!</a>
</div>
</div>