<div class=''>
  <div class='box-home'>

    <img class='beer-image' src='/images/beer.png' alt='beer picture' />

    <button class='button-1' href='#'>Check the Beers!</button>

    <button class='button-2' href='#'>Check a Random Beer!</button>
  </div>
</div>