<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
 <div>heloo im working</div>
    <div>
        
        <img src="/images/beer.png">
    </div>
    <div><a href="/beer">Check the Beers!</a></div>

        <div><a href="/random-beers">Check a Random Beer</a></div>

</body>
</html>