<div id="hero-section">
    <img src="images/beer.png" alt="Beer Image">
    <button><a href="/beers">Check the Beers!</a></button>
    <button><a href="/beers">Check a Random Beer!</a></button>
</div>