<div>
    <img src="/images/beer.png" alt="">
    <div>
        <a href="/beers">Check the beers!</a>
    </div>
    <div>
        <a href="/Random-Beer">Check a random beer!</a>
    </div>
</div>

{{{body}}}