
<div>
    <img class="homeImg" src="/images/beer.png" alt="beer" align="middle">
</div>
<div class="beerCon">
    <button type="button" class="btn1"><a href="/beers">Check the Beers!</a></button>
    <button type="button" class="btn2"><a href="/random-beer">Check a Random Beer!</a></button>
</div>

