<div class="center">
    <img src="images/beer.png" class="img-fluid" alt="beer">

    <div class="link-like-thinhs">
        <a class="btn btn-primary" href="/beers">Beers</a>
    </div>
    
    <div class="link-like-thinhs">
        <a class="btn btn-primary" href="/random-beer">Random Beer</a>
    </div>
    
</div>
