<div class="beerDiv">
    <img src="/images/beer.png" alt="beer" id="beerImg">
</div>

<div class="buttons">
  <button id="checkBeers"><a href="/beers">Check the beers!</a></button>  
  <button><a href="/random-beer">Check a Random Beer!</a></button>
</div>

