<section class='container-home'>
    <img src="images/beer.png"
    <div>
        <button onclick="location.href='/beers'">Check the Beers!</button>
        <button onclick="location.href='/randomBeer'">Check a Random Beer!</button>
    </div>
</section>