<div>
    <div>
        <img src='/images/beer.png' alt='' />
    </div>
    <div>
        <input
            type='button'
            onclick="location.href='/beers';"
            value='Check Out the Beers!'
        />
    </div>
    <br>
    <div>
        <input
            type='button'
            onclick="location.href='/random-beer';"
            value='Check a Random Beer!'
        />
    </div>
</div>