<div id="main-page">
    <img class="first-b" src="./images/beer.png" alt="beer image">
    <a class="first-page-a" href="beers">Check the Beers!</a>
    <a class="first-page-a" href="random-beers">Check a Random Beer!</a>
</div>