<div class="divImagenbeer">
    <img src={{imagen}} alt="beer" >
</div>
<div class="buttons">
    <div class="button1">
        <a href="/Beers">{{boton1}}</a>
    </div>
        <div  class="button2">
        <a href="/RandomBeer">{{boton2}}</a>
    </div>
</div>