<div>
    <img src="/images/beer.png" alt="">
    <div>
        <button><a href="/beers">Check the Beers!</a></button>
    </div>
    <div>
        <button><a href="/random-beers">Check the Beer!</a></button>
    </div>
</div>