<img src="../images/beer.png" alt="beer-img" class="logo">
<a href="/beers"><button class="btn1">Check the beers!</button></a>
<a href="/random-beers"><button class="btn2">Check a random Beer!</button></a>