<div class="homepage-img-container">
    <img src="images/beer.png" alt="image of a beer" class="homepage-img">
</div>

<div class="homepage-buttons-container">
    <button class="homepage-button" ><a href="/beers" class="homepage-a-tag" >Check the Beers!</a></button>
    <button class="homepage-button" ><a href="/random-beer" class="homepage-a-tag" >Check a Random Beer</a></button>
</div>

<footer class="homepage-footer">
    <p>Develop by Ironhack ;)</p>
    </footer>