<div class="container">
    <div class="home">
        <div>
            <img class="beerImg" src="/images/beer.png" alt="Cervecita">
        </div>
        <div class="button">
            <a href="/beers" class="btn btn-warning">Check the Beers!</a>
        </div>
        <div>
            <a href="/random-beer" class="btn btn-warning mt-3 ">Check a Random Beer</a>
        </div>
    </div>
</div>