
<div class="index-container">    
    <img class="beer-logo" src="/images/beer.png" />
    <a href="/beers" class="btn btn-primary btn-sm first-btn">Check the Beers!</a>
    <a href="/random-beer" class="btn btn-primary btn-sm second-btn">Check a Random Beer</a>
</div>


