
    <div class="center">
   
        <img class="imgbeer" src='/images/beer.png'>
        <a class='check' href='/beers'>Check the Beers!</a>
        <br>
        <a class='check' href='/randombeer'>Check a Random Beer!</a>


    </div>

