<div class="d-flex flex-column justify-content-center align-items-center py-5 beer-main">
    <figure>
        <img src="/images/beer.png" alt="Beer" srcset="">
    </figure>

    <a class="btn btn-primary btn-lg my-3" href="/beers">Check the beers</a>
    <a class="btn btn-primary btn-lg my-3" href="/random-beer">Check a random beer!</a>
</div>