<div class="container">

    <div class="row">

        <div class="col-12 ">
            <img src="/images/beer.png" alt="Imagen cerveza">
        </div>
        <div class="col-12">
            <a href="/beers" class="btn btn-primary">Check the beers!</a>
        </div>
        <div class="col-12">
            <a href="/random-beer" class="btn btn-primary">Check a random beer </a>
        </div>

    </div>

</div>