<div class="container">
    <img src="/images/beer.png">
    <hr>
    <a href="/beers" class="btn btn-dark btn-lg">Check the Beers!</a>
    <a href="/random-beer" class="btn btn-dark btn-lg">Check a Random Beer</a>
</div>