<div class='row justify-content-center'>
  <img src='images/beer.png' alt='beer' style="width: 400px;"/>
  <div class='d-flex flex-column align-items-center justify-content center' >
    <a class='btn btn-primary mt-2' href='/beers'>Check the Beers!</a>
    <a class='btn btn-primary p mt-2' href='/random-beer'>Check a Random Beer</a>
  </div>
</div>