<div class="d-flex flex-column justify-content-center align-items-center h-100">
    <div>
        <img class="img-fluid d-block" alt="beer" src="/images/beer.png">
        <a class="btn btn-primary d-block m-2" href="/beers">Check the Beers!</a>
        <a class="btn btn-primary d-block m-2" href="/random-beers">Check a Random Beer!</a>
    </div>
</div>