<div class="row justify-content-center mb-3">

    <div class="d-grid col-4 ">
        <img class="beer_cartoon mx-auto my-3" src="/images/beer.png" alt="Beer cartoon">
        <a class="mx-auto my-3 btn btn-primary" href="/beers" role="button">Check the Beers!</a>
        <a class="mx-auto my-3 btn btn-primary" href="/random-beers" role="button">Check a random Beer!</a>
    </div>

</div>