<div class="container justify-content-center">
    <div class="container">
    <img src="/images/beer.png" alt="beer">
    
    <br>
    <div class="container">
        <a class="btn btn-outline-primary" href="/beers" role="button">Check the Beers!</a>
        <br>
        <br>
        <a class="btn btn-outline-primary" href="/random-beers" role="button">Check a Random Beer!</a>
    </div>
    </div>
</div>