<div class="index">
<img class="main-beer" width="30%" src="/images/beer.png"><br>
<a class="btn btn-primary" href="/beers" role="button">Check Beers</a>
<a class="btn btn-primary" href="/random-beer" role="button">Choose Random Beer</a>
</div>