<div>
<h1>Helo</h1>
<p>test</p>
<img src={{imageBeer}} alt="Beer-Pic">
</div>

<button><a href="/beers">Check the Beers!</a></button>
<button><a href="/beer-random">Check a Random Beer</a></button>


