<div class="row">
    <div class="col text-center mt-5">
        <img src="/images/beer.png" alt="beers!">
    </div>
</div>
<div class="row mt-5">
    <div class="col text-center">
        <a class="btn btn-primary btn-lg" href="/beers">CHECK OUT THE BEERS!</a>
    </div>
</div>
<div class="row mt-3">
    <div class="col text-center">
        <a class="btn btn-primary btn-lg" href="/randomBeers">CHECK OUT A RANDOM BEER!</a>
    </div>
</div>
