<div class='homeContainer'>
  <img id='homeImg' src='/images/beer.png' alt='big pint of beer' />
  <a class='btn' href='/beers'>Check the Beers!</a>
  <a class='btn' href='/random-beer'>Check a Random-Beers!</a>
</div>