<div class="index-div">

    <div class="image-div">
        <img class="beer-image" src="/images/beer.png">

    </div>

    <div class="buttons-div">
        <a href="/beers"><button class="index-buttons">Check the Beers!</button></a>
        <a href="/random-beer"><button class="index-buttons">Random a Beer</button></a>
    </div>
</div>