<div class="beer-img">
    <img src="/images/beer.png" alt="Beer">
</div>
<div class="buttons">
    <div class="d-grid gap-2">
  <button class="btn btn-dark" type="button"> <a href="/beers">Check the Beers!</a></button>
  <button class="btn btn-dark" type="button"><a href="/randomBeer">Check a Random Beer!</a></button>
</div>
</div>