<div>
    <img src="/images/beer.png" alt="beer glass">
    <ul>
        <li>
            <a href="/beers">Check the beers!</a>
        </li>
        <li>
            <a href="/random-beer">Check a random beer!</a>
        </li>
    </ul>
</div>