
<section>
  <div class= "beer">
    <img  src="/images/beer.png" alt="">
  </div>
  <div class="beers">
    <a href="/beers"><button type="button" class="btn btn-primary btn-lg">Check the beers!</button></a> 
  </div>
  <div class="random-beer">
   <a href="/random-beer"> <button type="button" class="btn btn-primary btn-lg"> Check a random beer!</button></a>
  </div>
</section>