<div class="container">

    <img class="mt-5" src="/images/beer.png" alt="beer">
    <div class="dFlex pt-3">

        <div> <a class="btnA " href="/beers">Check the Beers!</a></div>
        <div class="mt-3"> <a class="btnA   " href="/random-beer">Check a Random Beer</a></div>
    </div>


</div>