<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    home
    <img src="/images/beer.png" id="beer" alt="">

    <div id="beer-btn" class="btn">
        <a href="/beers" class="link">Check the Beers!</a>
    </div>

    <div id="random-beer-btn" class="btn">
        <a href="/random-beer" class="link">Check a Random Beer!</a>
    </div>
</body>

</html>