<div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="./images/beer.png" alt="beer">
        <a href="/beers">check the beers!</a>
        <a href="/random-beers">check a Random Beer!</a>

    </div>
    {{{body}}}
</body>
</html>
</div>