<img class="center" src="/images/beer.png"></img>
<div class="container"> 
<a name="Check the Beers!" id="button-beers" class="button btn btn-primary"  href="/beers" role="button">Check the Beers! </a>
<br>
<a name="Check a Random Beer" id="button-r-beers" class="button2 btn btn-primary"  href="/random-beer" role="button">Check a Random Beer</a>
</div>
