<!-- views/index.hbs -->

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
      crossorigin='anonymous'
    />

  </head>
  <body>
    <img src='/public/images/beer.png' alt='beer' />
    <div class='tags'>
      <a href='/beers'>Check the Beers!</a>
      <a href='/random'>Check a Random Beer!</a>
    </div>
  </body>
</html>