<div class="home-container">
<img id="home-beer-img" src="/images/beer.png" alt="Beer Image" />

<div>
    <a href="/beers" class="button-link">Check the Beers!</a>
    <a href="/random-beer" class="button-link">Check a Random Beer</a>
</div>

</div>