<section>
  <div class= "beer jarra">
    <img  src="/images/beer.png" class="img1" alt="">
  </div>
  <div class="containerbox">
  <div class="beers">
    <a href="/beers"><button type="button" class="btn btn-primary bt1">Check the beers!</button></a> 
  </div>
  <div class="random-beer">
   <a href="/random-beers"> <button type="button" class="btn btn-primary bt2"> Check a random beer!</button></a>
  </div></div>
</section>