<div class="mainContainer">
    <img src="/images/beer.png" alt="IronBeer" class="imageConfiguration">
    <a href="/beers">Check the Beers!</a>
    <a href="/random-beers">Check a Random Beer</a>
</div>