<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<div>

    <img src="/images/beer.png" alt="Beer" width="25%" height="25%">
</div>
<div>
    <a href="/beers">
        <button>Check the Beers!</button>
    </a>
</div>
<div>
    <a href="/random-beer">
        <button>Check a Random Beer</button></a>
</div>





