
<img src="/images/beer.png" alt="the beer" class="beer">


<div>
<a href="/beers-page" class=" blue-btn">Check the Beers!</a>
</div>
<div>
<a href="/random-beer-page" class=" blue-btn">Check a Random Beer!</a>
</div>


