    <img class="img" src='images/beer.png' alt="Image for beer">

<button class="btn"> 
    <a href="/beers">Check the Beers!</a>
 </button>
<button class="btn"> 
    <a href="/random-beers">Check a Random Beer</a>
</button>