<div>
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/beers">Beer</a>
    <a href="http://localhost:3000/random-beer">Random Beer</a>    
    

</div>

<div>
    <img src="/images/beer.png">
    <a href="http://localhost:3000/beers">Check the Beers!</a>
    <a href="http://localhost:3000/random-beer">Cheeck a Random Beer!</a>
</div>