<div class="row btns">
    <div class="col-3">
        <a href="/beers">Check the beers!</a>
    </div>
    <div class="col-3">
        <a href="/random-beers">Check a random beers!</a>
    </div>
</div>