<div class='main'>
  <div><img id='mainImage' src='/images/beer.png' alt='' />
  </div>
  <div>
    <button><a href='/beers'>Check the beers!</a></button>
    <button><a href='/random-beer'>Check a random beer!</a></button>
  </div>
</div>