<html lang='en'>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css"> </link>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <h1>Home Page</h1>
     <img
          class="image"
          src="/images/beer.png"
          alt="Not Working"
        />

        <button id="btn1">Check the Beers</button>
        <button id="btn2">Check a random Beer</button>
  </body>
</html>