<div class="d-flex flex-column justify-content-center align-items-center">
    <img class="m-5 ps-5" src="/images/beer.png" alt="beer">

    <div>
        <a class="btn btn-primary m-2" href="/beers" role="button">Check the Beers!</a>
        <a class="btn btn-primary m-2" href="/randomBeers" role="button">Check a Random Beer</a>
    </div>
    
</div>