    <nav>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beer">Random Beer</a>
    </nav>
<div>
<img class="front-beer" src="/images/beer.png">
</div>
<div>
<button><a href="/beers">Check the beers!</a></buttton>
<button><a href="/random-beer">Check a random beer</a></button>
</div>