<div>
    <div class="container">
        <ul class="list-unstyled">
            <li>
                <img src="/images/beer.png">
            </li>
            <li>
                <a class="btn btn-primary" href="/beers">Check the Beers!</a>
            </li>
            <li>
                <a class="btn btn-primary" href="/random-beer">Check a Random Beer!</a>
            </li>
        </ul>
    </div>
</div>