<div class="image-beer">
    <img src="images/beer.png" alt="beer">
</div>
<div>
    <a class="box-one" href="/beers">Check the Beers!</a>
    <a class="box-two" href="/random-beer">Check a Random Beer</a>
</div>