<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <title>Document</title>
</head>

<body>
    <div>
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer</a>
        <img src="/images/beer.png" alt="">
    </div>
</body>

</html>