<div>
    <div class="container home-page">

        <div class="row justify-content-center">
            <div class="col-12 homeContainer">
                <img class="beer-home" src="/images/beer.png" alt="beer image">
            </div>

            <div class="col-12 homeContainer">
                <a href="/Beers" type="button" class="btn btn-primary button-home button-color">Check the Beers!</a>
            </div>

            <div class="col-12 homeContainer">
                <a href="/random-beer" type="button" class="btn btn-primary button-home button-color">Check a Random
                    Beer!</a>
            </div>
        </div>

    </div>

</div>