<div class="home-page">
    <img class="img-beer" src="/images/beer.png" alt="">
    <a class="btn btn-primary btn-lg" href="/beers" role="button">Check the Beers!</a><br>
    <a class="btn btn-primary btn-lg" href="/randombeer" role="button">Check a Random Beer!</a>
</div> 