<div class="beer" >
    <img class="img1" src="../images/beer.png"/>

</div>
<div id="buttons">
<button class="button1" onclick="window.location.href='http://localhost:3000/views/beers.hbs'">Check the Beers!</button>
<button class="button2">Check a random Beer!</button>
</div>