<div>
    <img class="beerimg" src="/images/beer.png" alt="beer">
    <a href="/beers" class="btn btn-dark btn-sm">Check the Beers!</a>
    <a href="/random-beers" class="btn btn-dark btn-sm">Check a Random Beer</a>
</div>