<div>
    <img class="pint" src="/images/beer.png" alt="image of a pint of beer">

</div>

<div>
    <a class="button" href="/beers">Beers</a>
    <a class="button" href="/random-beers">Random Beers</a>
</div>