<div class="d-flex justify-content-evenly mb-5 mt-5">
    <img src="images/beer.png" alt="" class="beer mt-5">
</div>

<div class="d-flex justify-content-evenly ">
    <a href="/beers" class="btn btn-primary mb-4">Check the Beers</a>
   
</div>
<div class="d-flex justify-content-evenly ">

    <a href="/random-beer" class="btn btn-primary mb-4">Check a Random Beer</a>
</div>