<div id="buttons">
    <img id="img-beer" src="/images/beer.png" alt="Beer">
    <a id="check-beers" href="/beers" >Check the Beers!</a>
    <a id="check-random" href="/random-beer" >Check a Random Beer!</a>
</div>