<div class="index">
    <img id="beericon" src="/images/beer.png" alt="beer">
</div>
<div class="index">
    <br><br>
    <a class="btn btn-primary" href="/beers">Check the Beers!</a><br><br>
    <a class="btn btn-primary" href="/random-beers">Check a Random Beers!</a>
</div>