 <div class="container text-center">
  <img src="/images/beer.png"  alt="beer"> 
<br>
<button  type="button"  class="btn  btn-primary"><a class="nav-link2" href="/beers">Check the beer </a></button>  
<br>
<button type="button" class="btn btn-primary">Check the random beer</button>
 </div>

