<div>
    <img src="/images/beer.png" alt="beers">
    <hr>
    
    <a href="/beers" class="btn btn-dark">Check the Beers!</a>
    <a href="/random-beers" class="btn btn-dark">Check a Random Beer!</a>

</div>