<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Beer App</title>
</head>
<body>
    <div>
        <h1>Welcome to My Beer App</h1>
        <img src="/images/beer_image.jpg" alt="Beer Image">
        <p>Check the <a href="/beers">Beers!</a></p>
        <p>Check a <a href="/random-beer">Random Beer</a></p>
    </div>
</body>
</html>
