<div class="container">
    <div class="hero">    

            <img id="mainBeer" src="/images/beer.png" alt="Beer">

            <a class="btn btn-primary" href="/beers">Check The Beers!</a>

            <a class="btn btn-primary" href="/random-beer">Check a Random Beer!</a>

    </div>
    
</div>