
<body>   
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-4">
                <img src="images/beer.png" alt="beer drawing" class="home-beer">
                <div>
                    <ul>
                        <li><a class= "starter-button" href="/beer">Check the Beer!</a></li>
                        <li><a class= "starter-button" href="/random-beer">Check a Random Beer!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</body>