<div class="main-cont">
    <div class="beer-glass">
        <img src="/images/beer.png" alt="Glass of fresh beer">
    </div>

    <div class="buttons-group">
        <a href="/beers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check the beers!</a>
        <a href="/random-beers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check a Random Beer</a>
    </div>

</div>