<div>
    <ul>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random Beer</a>
    </ul>
</div>
<section>
    <div>
        <img src="/images/beer.png" alt="beer image">
    </div>
    <ul>
         <a href="/beers">Check the Beers!</a>
        <a href="/random-beers">Check a Random Beer</a>
    </ul>
</section>