<div>  
    <img src="/images/beer.png"/>  
    <a href="/random-beer" class="button"><h2><strong>Check a Random Beer!</strong></h2></a>
    <a href="/beers" class="button"><h2>Check the Beers!</h2></a>
</div>