<div class="row justify-content-md-center">
    <img id="beer-home-image" src="/images/beer.png" alt="beer image">
</div>
<div class="mt-5">
    <div class="row justify-content-md-center">
        <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
    </div>
    <div class="row justify-content-md-center mt-3">
        <a class="btn btn-primary" href="/random-beers" role="button">Check a Random Beer!</a>
    </div>
</div>