<div class='center-container'>
  <p uk-margin><img src='images/beer.png' alt='' /></p>
  <p uk-margin><button class='uk-button uk-button-primary'><a
        href='/beers'
        style='color: white;'
      >Check the Beers!</a></button>
  </p>

  <p uk-margin>
    <button class='uk-button uk-button-primary'><a
        href='/random-beer'
        style='color: white;'
      >Check a Random Beer!</a></button></p>
</div>