
   
<header>
    <div class="image-beer-container">
        <img src="/stylesheets/images/beer.png "alt="beer-image">
    </div>
    <div class="links-now-buttons-later">
        <button class="buttons" id="beerbutton"><a href="/beers" id="beerbutton">Check the Beers!</a></button>
        <button class="buttons"><a href="/random-beer" id="beerbutton">Check a Random Beer</a></button>
    </div>

</header>
