



<div class="inFlex">
<img class="beerMug" src="images/beer.png" alt="beer mug">
<a class="button" href="/beers">Check the Beers!</a>
<a  class="button"  href="/random-beers">Check Random Beer!</a>
</div>