<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="/images/beer.png">
        </div>
        <div class="col-md-12 d-grid gap-2">
            <button class="btn btn-primary custom-button" type="button"><a href="/beers">Check the Beers!</a></button>
            <button class="btn btn-primary custom-button" type="button"><a href="/random-beer">Check a Random Beer!</a></button>
        </div>
    </div>
</div>