<head>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    {{{ body }}}
    {{> navpartial}}
    <main>
    <div class="main-div">
        <div class="index-divs">
            <img class="beer-image" src="/images/beer.png">
        </div>

        <div class="index-divs">
            <button class="blue-buttons"><a class="button-text"  href="/beers">Check the Beers! </a></button>
        </div>
        <div class="index-divs">
            <button class="blue-buttons"><a class="button-text" href="/random-beer"> Check a Random Beer!</a></button>
        </div>
    </div>
    </main>
    {{> footerpartial}}
</body>
