<div class="cards-container">
    <img class="card-img-top" src="/public/images/beer.png" alt="Card image cap">
    <div class="card-body">
        <a href="/beers" class="btn btn-primary">Check the Beers!</a>
    </div>
    <div class="card" style="width: 18rem;">
        <a href="/random-beer" class="btn btn-primary">Check a Random Beer</a>
    </div>
</div>