
          <section class="w-full bg-white">
            <div class="
          relative
          items-center
          w-full
          px-5
          py-12
          mx-auto
          md:px-12
          lg:px-16
          max-w-7xl
          lg:py-24
        ">
        <div class="flex flex-wrap justify-center">
  <div class="w-6/12 sm:w-4/12 px-4">
    <img src="/images/beer.png" alt="..." class="rounded max-w-full h-auto align-middle border-none" />
  </div>
</div>
              <div class="flex w-full mx-auto text-left">
                <div class="relative inline-flex items-center mx-auto align-middle">
                  <div class="text-center">
                    {{!-- <h1 class="
                  max-w-5xl
                  text-2xl
                  font-bold
                  leading-none
                  tracking-tighter
                  text-neutral-600
                  md:text-5xl
                  lg:text-6xl lg:max-w-7xl
                "> Long headline to turn <br class="hidden lg:block"> your visitors into users </h1>
                    <p class="
                  max-w-xl
                  mx-auto
                  mt-8
                  text-base
                  leading-relaxed
                  text-gray-500
                "> Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js. </p> --}}
                    <div class="flex justify-center w-full max-w-2xl gap-2 mx-auto mt-6">
                      <div class="mt-3 rounded-lg sm:mt-0">
                        <a href="/beers"><button class="
                      items-center
                      block
                      px-5
                      py-4
                      text-base
                      font-medium
                      text-center text-white
                      transition
                      duration-500
                      ease-in-out
                      transform
                      bg-blue-600
                      lg:px-10
                      rounded-xl
                      hover:bg-blue-700
                      focus:outline-none
                      focus:ring-2
                      focus:ring-offset-2
                      focus:ring-blue-500
                    "> CHECK THE BEERS </button></a>
                      </div>
                      <a href="/random-beer"><div class="mt-3 rounded-lg sm:mt-0 sm:ml-3">
                        <button class="
                      items-center
                      block
                      px-5
                      lg:px-10
                      py-3.5
                      text-base
                      font-medium
                      text-center text-blue-600
                      transition
                      duration-500
                      ease-in-out
                      transform
                      border-2 border-white
                      shadow-md
                      rounded-xl
                      focus:outline-none
                      focus:ring-2
                      focus:ring-offset-2
                      focus:ring-gray-500
                    "> GET RANDOM BEER </button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- <section id="intro"> --}}
                {{!-- <div class="
              flex flex-col
              items-center
              justify-center
              pt-24
              mx-auto
              rounded-lg
              lg:px-10
              max-w-7xl
            ">
                  <img class="object-cover object-center w-full rounded-xl" alt="hero" src="https://cdn.dribbble.com/users/2212936/screenshots/15958995/media/5046e11e21bac2e17b09533fd1adc9ff.png?compress=1&amp;resize=1600x1200">
                </div> --}}
              {{!-- </section> --}}
            </div>
          </section>
        