<section class="container hero">
    <div class="row text-center">
        <div class="col-12">
            <img src="/images/beer.png" alt="">
        </div>
        <div class="col-12">
            <a class="btn btn-warning" href="/beers" role="button">Check beers!</a>
        </div>
        <div class="col-12">
            <a class="btn btn-warning" href="/random-beers" role="button">Check random beer!</a>
        </div>
    </div>


</section>