<div class='container'>
  <div class='row'>
    <div class='col-md-4'>

      <img src='/images/beer.png' alt='Dibujo jarra de cerveza' />

    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <a href='/beers' target='Cervezas'>Check the Beers!</a>
    </div>
    <div class='col-md-4'>
      <a href='/random-beer' target='Cerveza Random'>Check a Random Beer</a>
    </div>
  </div>
</div>