<div class="container">
    <div clas="row">
        <div class="col alingDiv">
            <img src="/images/beer.png" class="indexAlingImg" alt="Beer">
        </div>
        <div class="col indexAling">
            <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
        </div>
        <div class="col indexAling">
            <a class="btn btn-primary" href="/random-beer" role="button">Check a Random Beer</a>
        </div>

    </div>

</div>