<div class="container">

<div class="center">

    <img class="image" src="../images/beer.png" alt="">

    <a href="/beers"> <button class="btn btn-primary " type="button">Check the Beers!</button></a>

    <a  href="/random-beer"> <button class="btn btn-primary " type="button">Check a Random Beer!</button></a>

</div>
</div>