<div>
    <img src="/images/beer.png">
<button type="button" class="btn btn-primary"><a href="/beers">Check the Beers!</a></button>
<button type="button" class="btn btn-primary"><a href="/random-beer">Check a Random Beer!</a></button>
</div>