<main >

    <img class= "image-beer" src="/images/beer.png" alt="beer image">

    <div class="buttons-index">
        
        <a class="btn btn-primary" href="/beers">Check the Beers!</a>

        <a class="btn btn-primary" href="/random-beers">Check a Random Beer!</a>
    </div>


</main>