<main class="d-flex flex-column align-items-center">
    <div class="my-5 d-flex justify-content-center">
        <img id="beer-cup" src="/images/beer.png" alt="cup of beer">
    </div>
    <div class="d-flex flex-column">
        <button class="my-2"><a class="text" href="beers">Check the Beers!</a></button>
        <button class="bg"><a class="text" href="random-beers">Check a Random Beer!</a></button>
    </div>
</main>