<div id="index-container">
        <img class="img-beer" alt="beer" src="/images/beer.png">
    <div class="button">
        <a class= "btn btn-primary btn-sm-2 margin-left" href="/beers">Cheeck the Beers!</a>
        <a class="btn btn-primary btn-sm-2 margin-left" href="/random-beer">Check a Random Beer</a>
    </div>
</div>
