<div class="row">

    <div class="col-md-12 home">
        <img src="/images/beer.png" alt="Beer">
    </div>

</div>
<div class="row">

    <div class="col-md-12 buttons">
        <a class="btn" href="/beers">Check the Beers!</a>
    </div>
</div>  
<div class="row">
    <div class="col-md-12 buttons">
        <a class="btn" href="/random-beer">Check the Random Beer!</a>
    </div>

</div>