<div>
    <img src="./images/beer.png" alt="Beer image" width="297" height="298">
    <br>
    <a href="/beers">Check the Beers!</a>
    <br>
    <a href="/randomBeers">Check out a Random Beer</a>
</div>