<div class="uk-text-center">
    <img src="/images/beer.png" alt="beer-image" height="400" width="300">
    <div class="">
        <div class="uk-margin" >
            <a href="/random-beers">Check the Beers!</a>
        </div>
            <a href="/beers">Check a Random Beer!</a>  
        </div>
    </div>
</div>