<div>
  <img src='/images/beer.png' alt='beer' />

  <button><a href='/views/beers.hbs'>Check the Beers!</a></button>
  <button><a href='/views/randomBeers.hbs'>Check a Random Beer!</a></button>
</div>