
   
<header>
    <div class="image-beer-container">
        <img src="/stylesheets/images/beer.png "alt="beer-image">
    </div>
    <div class="links-now-buttons-later">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer</a>
    </div>

</header>
