<div class="container column align-center">
  <img src="/images/beer.png" alt="beer" width="400px">
  <a class="button" href="/beers">Check the beers!</a>
  <a class="button" href="/random">Check a random beer!</a>
</div>
