<div class="container">
    <div class="row center">
             <div class="col-md-12 beer ">
             <img src="/images/beer.png" alt="beer">
             </div>
             <div class="col-md-12 check ">
               <a class="btn btn-primary" href="/beers">Check the Beers!</a>   
             </div>
            <div class="col-md-12 randomb ">
                <a class="btn btn-primary" href="/random-beer">Check a Random Beer</a>
            </div>
           
        </div>
           
    </div>
  
</div>