<br />
<br />
<br />
<div class='alignment'>

  <img id='glass' src='/images/beer.png' alt='beerImage' />
</div>

<br />
<br />

<div class='alignment'>
  <input
    class='design'
    type='button'
    onclick="location.href='/beers';"
    value='Check the beers!'
  />
</div>
<br />
<div class='alignment'>
  <input
    class='design'
    type='button'
    onclick="location.href='/random-beer';"
    value='Check a random beer!'
  />
</div>