<div class="container">


    <div class="beer-img">
        <img class="beer-img" src="images/beer.png" class="rounded mx-auto d-block" width="20%" alt=" beers">
    </div>

    <div class="row">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div class=" ">
                <a href="/beers" class="btn btn-warning btn-lg ">Check the Beers!</a>
            </div>
            <div class="col-md-6">
                <a href="/random-beers" class="btn btn-warning btn-lg ">Check a Random Beer</a>
            </div>
        </div>
    </div>

</div>