<div class="home row mx-auto">
  <div class="col-6 d-flex align-items-center">
    <img src="images/beer.png" alt="beer">
  </div>
  <div class="buttons col-6 d-flex align-items-center">
    <button class="button btn btn-primary"><a href="/beers">Check the Beers!</a></button>
    <br>
    <button class="button btn btn-info"><a href="/random_beer">Check a Random Beer</a></button>
  </div>
</div>
