<div class="indexContainer">
    <img id="indexBeerImg"src="/images/beer.png" alt="">
    <div>
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer</a>
    </div>
</div>