<div class="beer-check-main">
    <img class="beer-check-img" src="/images/beer.png" alt="beer-check">

<div class="beer-check"> 
        <h5 class="beer-title">Check the Beers</h5>
        <p class="beer-text">Here check the beers</p>
        <a href="/beers" class="btn btn-primary">Check Beers!</a>
      </div>

<div class="beer-check"> 
    <h5 class="beer-title">Check the Beers</h5>
        <p class="beer-text">Here check a random beer!</p>
        <a href="/random-beer" class="btn btn-primary">Check Random Beers!</a>
        </div>
</div>