<div id='index-container'>
    <img class="beer" src="/images/beer.png">
    <div class='buttons'>
        <a class="btn btn-primary" href="/beers" />Beers</a>
        <a class="btn btn-primary" href="random-beers" />Random Beer</a>
    </div>
</div>