<section class="home">

    <img src="/images/beer.png" alt="">

    <button><a href="/beers">Check the Beers!</a></button>
    <button><a href="/Random-Beer">Check a Random Beer!</a></button>



<section />