<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="p-2">
        <img src="images/beer.png" alt="beer">
    </div>
    <div class="p-2"><a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a></div>
    <div class="p-2"><a class="btn btn-primary" href="/random-beer" role="button">Check a Random Beer!</a></div>
</div>