<div class='container'>
  <div class='beer'>
    <img id='beer-img' src='/images/beer.png' alt='beer' />
  </div>
</div>

<div class="home-btns">
<a class='nav-item nav-link' href='/beers'>Check the Beers!</a>
<a class="nav-item nav-link" href="/random-beer">Check a Random Beer</a>
</div>