<div class="row">
    <div class="col-md-12 index">
        <img src="/images/beer.png" alt="beer cartoon"/>
    </div>

    <div class="col-md-12 index">
        
            <a href="/beers" type="button" class="btn btn-primary"> Check the beers!!</a>
        
    </div>
    <div class="col-md-12 index">
        
            <a href="/random-beer" type="button" class="btn btn-primary">Check a random beer</a>
        
    </div>
    </div>
</div>