<div class='index-container'>
  <img class='beer-glass' src='/images/beer.png' alt='Beer image' />

  <a class='index-btn' href='/beers'>Check the beers!</a>

  <a class='index-btn' href='/random-beer'>Check a Random Beer!</a>

</div>