<div id='body'>
  <img id='main-image' src='/images/beer.png' alt='Beer Image' />
  <a class='buttons' href='/beers'><button>Check the Beers!</button></a>
  <br />
  <a class='buttons' href='/random-beer'><button>Check a Random Beer!</button></a>
</div>