<div class="container pt-5 d-flex flex-column justify-content-center align-items-center">

    <img src="images/beer.png" alt="beer">

    <a href="/beers" class="btn mt-5 shadow">Check the Beers!</a>
    <a href="/random-beer" class="btn mt-3 shadow">Check a Random Beer!</a>

</div>