<div>
<img class ="home-image" src="/images/beer.png"/>
</div>
<div class = "botones">
    <a class= "btn" href="/beers">Check the Beers!</a>
</div>
<div class = "botones">
    <a class= "btn" href="/random-beer">Check a random Beer!</a>
</div>