<h1>Pagina inicial sitio web</h1>


<div class="text-center">
    <img src="images/beer.png" class="img-fluid" alt="Iron-beer">
</div>

<br>


<div class="d-flex flex-row justify-content-center alig-items-center">
    <a name="" id="" class="btn btn-primary align-items-center shadow" href="/beers" role="button"> Check the Beers!</a>
</div>

<br>


<div class="d-flex flex-row justify-content-center alig-items-center">
    <a name="" id="" class="btn btn-primary align-items-center shadow" href="/random-beers" role="button"> Check the
        random Beers!</a>
</div>