<div class="container d-flex">
    <div class="row justify-content-center">
        <img src="/images/beer.png" class="rounded mx-auto d-block mb-4" style="width: 25%;" alt="beer">
        <div class="d-grid gap-2 col-3 mx-auto"></div>
        <button type="button" class="btn btn-dark mb-2">
            <a href="/beers">Check the Beers!</a></button>
        <button type="button" class="btn btn-dark mb-2">
            <a href="/random-beer">Check a Random Beer</a></button>
    </div>
</div>