<div class="home">
    <ul class="home-body">
        <li><img src="/images/beer.png" alt="Beer"></li>
        <li class="home-link"><a href="./beers">Check the Beers!</a></li>
        <li class="home-link"><a href="./random-beer">Check a Random Beer!</a></li>
    </ul>
</div>