<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/images/beer.png" alt="Beer" class="beerimg">
            <div class="col text-center">
                <a href="/beers" class="btn btn-primary btn-md">Check the Beers!</a>
            </div>
            <div class="col text-center"></div>
            <a href="/random-beers" class="btn btn-primary btn-md">Check a Random Beer</a>
        </div>
    </div>
</div>
</div>