<div class="card" style="width: 30rem;">
    <div class="position-absolute top-50 start-50">
        <img src="/images/beer.png" alt="beer image">
        <a href="/beers" class="btn btn-primary">Check the Beers!</a>
        <a href="/random-beer" class="btn btn-primary">Check a Random Beer</a>
    </div>
</div>

</div>