<div>
    <div class="text-center">
        <img src="/images/beer.png" class="img-fluid rounded beer" alt="Big beer in a glass">
    </div>
    <nav class="navbar">
        <a type="button" class="btn btn-dark button-beer" href="/beers">Check the Beers!</a>
        <a type="button" class="btn btn-dark button-random" class="site-button" href="/random-beer">Check a Random
            Beer</a>
    </nav>
</div>