<div class="main-style">

    <img src="images/beer.png" class="beerimage" alt="beer image">

    <a href="/beers" class="btn btn-primary" role="button">Check the beers!</a>
    <a href="/random-beer" class="btn btn-primary" role="button">Check a random beer!</a>



</div>