<div class="container flex">

<img src="/images/beer.png" alt="Cartoon glass of beer" class='beerimg'>

<a href="/beers" class="btn btn-primary btn-sm">Check the Beers!</a>

<a href="/random-beers" class="btn btn-primary btn-sm mt-3">Check a Random Beer!</a>

</div>