<div class="container">
    <div >
        <img src="/images/beer.png" alt="" height="300px">
    </div>
    <div>
        <button><a href="">Check Beers!</a></button>
    </div>
    <div>
        <button><a href="">Check Random Beer!</button>
    </div>
</div>

    <footer class="footer">

        <h4>@IronBeers</h4>

    </footer> 
    