<div class="beer-img">
    <img src="/images/beer.png" alt="beer-img">
</div>

<div class="flex-div">
    <a href="/beers" role="button" class="btn btn-primary">Check the beers!</a>
    <a href="/random-beer" role="button" class="btn btn-primary">Check a random Beer</a>
</div>