<div class="container1">

    <img src="/images/beer.png" class="home-beer" alt="beer picture">
    <div>
        <a href="/beers" class="btn btn-dark">Check the Beers!</a>
    </div>
    <div>
        <a href="/random-beer" class="btn btn-dark">Check a Random Beer!</a>
    </div>
</div>