<div class="main">
	<div class = "mainImage">
		<img id="bigBeer" src="/images/beer.png" />
	</div>
	<div class = "buttons">

	<a href= "/beers">Check the Beer!</a>	
	
	<a href= "/random-beer">Check a Random Beer!</a>
	</div>
</div>