<div class='flex flex-column tc'>
  <img class='vh-75 aspect-ratio' src='images/beer.png' alt='beer mug' />
  <a href='/beers'>Check the Beers!</a>
  <a href='/random-beer'>Check a Random Beer!</a>
</div>