<div>
    <img id="home-img" src="/images/beer.png" alt="Beer">
    <div class="button">
        <a href="/random">Check a random beer!</a>
    </div>
    <div class="button">
        <a href="/beers">Check the beers!</a>
    </div>
</div>