<head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    
    <div class="center">

        <img src="/images/beer.png" width="20%" alt="Beer">

        <div>
        <br>
        <button type="button" class="btn btn-primary btn-sm button buttonsOne">Check the Beers!</button>

        <br>

        <button type="button" class="btn btn-primary btn-lg buttonsTwo">Check a Random Beer</button>

        </div>
    </div>
</body>