<main class="row" >
<div class="col-12">
    <img src="/images/beer.png" class="img-fluid" alt="Beer">
</div>
<div class="col-12 text-center mb-4">
    <a href="/beers" class="btn btn-primary">Check the Beers!</a>
</div>
<div class="col-12 text-center">
    <a href="/randomBeers" class="btn btn-primary">Check a Random Beers!</a>
</div>
    
   
</main>