<div style="display: flex; flex-direction: column">
    <img src="./images/beer.png" width="20%">
    <a class="btn" href="/beers">Check the Beers!</a>
    <a class="btn" href="/random-beer">Check a Random Beer</a>
</div>