<div>
    <div class="container mt-5 text-center">

        <img src="./images/beer.png" alt="beer" width="375">

        <div><a class="btn btn-primary mt-3" href="/beers" role="button">Check the Beers!</a></div>

        <div> <a class="btn btn-primary mt-3" href="/randombeer" role="button">Check a random Beer!</a> </div>
    </div>

</div>