<div class="container" id="home-center">
    <div class="row">
        <div class="col">
            <img src="/images/beer.png" alt="beer-image" class="mx-auto d-block" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-primary"><a href="/beers">Check the beers!</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="/random-beers">Check a random
                    beer!</a></button>
        </div>
    </div>
</div>