<div class="beer">
    <img src="/images/beer.png" alt="beer image">
    <a href="/beers"></a>
    <a href="/random-beer"></a>
</div>

<div class="buttons">
    <button type="button">Check the Beers!</button>
    <button type="button">Check a Random Beer!</button>
</div>