<div id='beer-image'> <img src="images/beer.png" alt="">

</div>

<div id="buttons">
  <button type='button'>
  <a href='beers' >Check the Beers!</a></button>
    <button type='button'>
  <a href='random-beers' >Check a Random Beer!</a></button>
  </div>

  <footer>
    <h3>Develop by Ironhack ;)</h3>
  </footer>