<div>
  <img
    class='mx-auto d-block beer-image'
    src='/images/beer.png'
    alt='beer image'
  />
  <div class='d-flex justify-content-center'>
    <a class='btn btn-primary btn-lg mr-3' href='/beers'>Check the beers!</a>
    <a class='btn btn-primary btn-lg' href='/random-beers'>Check a random beer!</a>
  </div>
</div>