<main class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="images/beer.png" alt="IronBeer">
      <div class="links">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer!</a>
      </div>
    </div>
  </div>
</main>