<div class="container d-flex flex-column text-center">
    <img id="img-beer" src="./images/beer.png" alt="beer-img m-2">
    <a href="/beers"><button class="btn btn-lg text-light m-3">Check the Beers!</button></a>
    <a href="/random-beer"><button class="btn btn-lg text-light m-3">Check a Random Beer</button></a>
</div>