<section class="container home-body">
    <div> 
        <img class="beer-img" src='/images/beer.png' alt='beer-photo'>
    </div>
    
    <div>
        <a href='beers' class="btn btn-lg btn-primary bg-dark">Check the Beers</a>
        <a href='random-beer' class="btn btn-lg btn-primary bg-dark">Check Random Beer</a>
    </div>
</section>
 
