
<section class="containerHome">
<div>
    <div>
        <img src="/images/beer.png" alt="">
    </div>
    <div class="card-title">
        <button><a href='/beers' class='card-text'>Check the Beers!</a></button>
      <button><a href='/random-beer' class='card-text'>Check a Random Beer!</a></button>
    </div>
</div>



</section>