<div class="tarro-botones">
    <img src="/images/beer.png" class="image-home" alt="beer-image">
    <button class="boton-home"><a href="/beers">Check the Beers</a></button> 
    <button class="boton-home"><a href="/random-beers">Check a Random Beer</a></button> 
</div>