<main>
  <section class='index-container'>
    <div class='index-img-container'>
      <img src='/images/beer.png' alt='beer' />
    </div class='index-btn-container'>
    <a class='index-btn beers-btn' href='/beers'>Check the Beers!</a>
    <a class='index-btn random-btn' href='/random-beer'>Check a Random Beer!</a>
  </section>
</main>