
<section id ="mainSection">
<img id="beerMug" src="images/beer.png" alt="BEER">

<button><a href="/beers">Check the Beers!</a></button>
<button><a href="/random-beer">Random Beer</a></button>

</section>

