<div>
    <br><br>
    <img src="/images/beer.png" alt="Beer image">
    <br><br><br>
    <button><a href="/beers">Check the beers!</a></button>
    <br><br>
    <button><a href="/random-beer">Check a random beer!</a></button>
</div>