<div class="index">
    <div class="main"><img id="main-beer" src="/images/beer.png" alt="happy beer!"></div>
    <a class="index-link main" href="/beers">Check the Beers!</a>
    <a class="index-link main" href="/random-beer">Check a Random Beer!</a>
</div>