<div id="homepage" class="d-grid gap-4 col-2 mx-auto d-flex flex-column justify-content-evenly">
    <img src="/images/beer.png" alt="">
    <a class="btn btn-primary btn-lg" href="/beers">Check the Beers!</a>
    <a class="btn btn-primary btn-lg" href="/random-beer">Check a Random Beer</a>
</div>