<div class="d-flex  flex-column align-items-center">
<img id="home-beer" src="/images/beer.png" alt="Beer image">

<a class="btn btn-primary home-btn" href="/beers">Check the Beers!</a>
<a class="btn btn-primary home-btn" href="/random-beers">Check the Random Beer</a>
</div>