<div>
<img src="/public/images/beer.png" alt="beer">

<ul class = "beerButtons">
            <li> <a class="" href="/views/beers.hbs"> Check the Beers! </a> </li>
            <li> <a class="" href="/views/random-beer.hbs"> Check a Random Beer </a> </li>
</div>