<div class="container">
    <div class="row justify-content-center">
        <img class="image" src="/images/beer.png" alt="beer">
    </div>
    <div class="row justify-content-center">
        <div class="col-6 d-flex justify-content-end">
            <a type="button" class="btn btn-primary btn-lg my-4" href="/beers">Check the Beers!</a>
        </div>
        <div class="col-6 justify-content-start">
            <a type="button" class="btn btn-primary btn-lg my-4" href="/random-beer">Check a Random Beer</a>
        </div>
    </div>
</div>