<div>
    <img class="rounded mx-auto d-block" src="/images/beer.png" alt="Beer">
    <br>
    <div class="d-grid gap-2 col-2 mx-auto">
        <button class="btn btn-primary" onclick="location.href='/beers';" type="button">Check the
            Beers!</button>
        <button class="btn btn-primary" onclick="location.href='/random-beer';" type="button">Check a Random
            Beer</button>
    </div>
</div>