<div id="home-content">
    <img id="beer-img-home" src="/images/beer.png" alt="Beer image">
    <a href="/beers" class="link">Check the beers !</a>
    <a href="/detailed-beer/random" class="link">Check a random beer !</a>
</div>