<div class="container">
    <div>
        <img src="images/beer.png" style="width: 280px;">
    </div>
    <div class="botones">
        <a href="/beers">
            <button class="btn btn-primary">Check the Beers!</button>
        </a>
    </div>
    <div class="botones">
        <a href="/random-beer">
            <button class="btn btn-primary">Check a Random Beer!</button>
        </a>
    </div>
</div>