<div class="index-container">
  <img src="/public/images/beer.png" alt="birra">
  <form action="/">
    <button>Check the Beers!</button>
  </form>
  <form action="/">
    <button>Check a Random Beer!</button>
  </form>
</div>