<div class="home-container">
    <img class="home-image" src="/images/beer.png" alt="Beer Image">
    <a class="home-button" href="/beers">Check the Beers!</a>
    <a class="home-button" href="/random-beer">Check a Random Beer</a>
</div>