<div>
	<img src="../images/beer.png" alt="Beer" class="main">

	<p>We offer a great selection of craft beers for you to enjoy. Check out our selection below:</p>
	<br><br>
	<a href="/beers" class="button">Check the Beers!</a>
	<a href="/random-beer" class="button">Check a Random Beer</a>
</div>