<div>
  <div class='container'>
    <img id='homebeer' src='/images/beer.png' alt='cartoon beer' />
    <a href='/beers'>Check the beers!</a>
    <a href='/random-beers'>Check a Random beer!</a>
  </div>
</div>