<link rel='stylesheet' href='/stylesheets/styles.css' />

<div>
  <img src='/images/beer.png' alt='Beer Image' />
  <ul id="ul">
    <li class="li"><a class="a" href='/beers'>Check the Beers!</a></li>
    <li class="li"><a class="a" href='/random-beer'>Check a Random Beer!</a></li>
  </ul>

</div>