<div class="center">
    <img src="/images/beer.png" width="20%" alt="Beer">
<ul class="list">
    <li><a class="btn btn-primary" href="/beers">Check the beers!</a></li>
    <li><a class="btn btn-primary" href="/random-beer">Get a random beer!</a></li>
</ul>
</div>