<div>
<img src="/images/beer.png" class="w-30 mb-4"/>
</div>

<a href="/beers" class="btn btn-info d-block mb-2 mt-2">Check the Beers</a>

<a href="/random-beer" class="btn btn-info d-block">Check a random beer</a>