<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-4 text-center">

            <img src="/images/beer.png" alt="cervecita" class="img-fluid">

            <div class="mt-3">
                <a class="btn btn-primary" href="/beers" role="button">the beers!</a>
            </div>
            <div class="mt-3">
                <a class="btn btn-primary" href="/randomBeer" role="button">check random</a>
            </div>
        </div>
    </div>
</div>