<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/styles.css" />
    <title>Document</title>
</head>
<body>
<div class="d-flex flex-column align-items-center">
<img class="col-3 mt-5"src="../images/beer.png"/>

<a  href="/beers"><button class="btn btn-primary mt-2">Check the beers!</button></a> 
<a  href="/random-beer"><button class="btn btn-primary mt-2">Check a random beer</button></a>
  </div>
</body>
</html>


