<div class="homeSection">
    coucou
    <img id="startImg" src="/images/beer.png" alt="a glass full of beer">
    <div class="btns">
        <div></div><a href="/beers">Check th Beers!</a></div>
        <div><a href="/random-beer">Check a Random Beer!</a></div>
    </div>
</div>