<div class="home-page">
    <img class="img-beer" src="/images/beer.png" alt="">
    <a class=" btn btn-beer" href="/beers" role="button">Check the Beers!</a><br>
    <a class="btn btn-rondom" href="/random-beers" role="button">Check a Random Beer!</a>
    
</div> 