<div>
    <img src="/images/beer.png" alt="beer-photo">
    <button class="button"><a href="/beers"> Check the beers! </a></button>
    <button class="button"> <a href="/random">Check a random beers</a> </button>

</div>