<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
</head>
<body>
    <div>
<div class="container mt-5 justify-content-center">
    <div class="row justify-content-center">
        <div class="col text-center">

            <img class="home-img" src="/images/beer.png" alt="Beer image">
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col text-center">

            <a class="btn btn-primary" href="/beer">Check the beers! style</a>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col text-center">

            <a class="btn btn btn-primary" href="/random-beer">Check a random beer!</a>
        </div>
    </div>
</div>
</div>
</body>
</html>




