<div class="hero-section">
  <img class="hero-img" src="/images/beer.png" alt="Picture of beer">
  <a class="link-btn" href="/beers">Check the Beers!</a>
  <a class="link-btn" href="/random-beer">Check a random beer</a>
</div>