<div class="home">
    <img src="/images/beer.png" alt="beers">
        <a class="link-btn" href="/beers">Check the Beers</a>
        <a class="link-btn" href="/random-beers">Check a Random Beers</a>
</div>