<div class="beer">
    <img src="/images/beer.png" alt="beerMug">
</div>

<div class="homeButtons">
    <li> <a href="/beers">Check all the Beers</a></li> 
    <li> <a href="/random-beer">Check a Random Beer</a></li> 
</div>


