<div class="d-flex flex-column align-items-center">
 <img src="/images/beers.png" alt="Beer Icon" width="300">
 <a href="/beers" class="btn btn-secondary btn-md active margin" role="button" aria-pressed="true" style="margin-top: 20px">Check the beers!</a>
 <a href="/random-beer" class="btn btn-secondary btn-md active margin" role="button" aria-pressed="true" style="margin-top: 20px">Get a random beer!</a>
</div>