<div class="text-center p-5">
    <img src='/images/beer.png' alt='Beer' width="400px" height="400px" />
</div>

<div class="text-center">
    <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
    <a class="btn btn-primary" href="/random-beer" role="button">Check a Random Beer!</a>
</div>