<div class="cheve">		
		<img src="/images/beer.png" style="width: 30%";>
</div>

	<div class="botones">
	    <a href="/beers"><button>"Check the Beers!" </button></a>
		<br>
		<br>
		<a href="/random-beer"><button>"Check a Random Beer!"</button></a>

</div>