<div class="container">
    <img class="img-top" src="../public/images/beer.png" alt="beer glass">
    <a href="../views/beers.hbs" class="btn btn-primary">Check the Beers!</a>
    <a href="../views/random-beers.hbs" class="btn btn-primary">Check a Random Beer!</a>
</div>