<div class="container mt-5">
    <div class="text-center">
        <img src="./images/beer.png" class="rounded" alt="beer">

        <div>
            <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
        </div>

        <div>
            <a class="btn btn-primary" href="/random-beer" role="button">Check a Random Beer</a>
        </div>
    </div>
</div>