<div>
  <img src="/images/beer.png" class="w-25" />
</div>
  <a href="/beers" class="btn btn-primary d-block mb-3 mt-5">Check the Beers</button>

  <a href="/random-beer" class="btn btn-primary d-block">Check a Random Beers</button>
