
    <div> 
        <img class="beerimg" src="/images/beer.png" alt="beer pic">
    </div>
    
    <div class="center-info">
        <a href="/beers" class="btn btn-primary btn-lg  beerbtn">Check the Beers!</a>
        <a href="/random-beer" class="btn btn-primary btn-lg  beerbtn">Check a Random Beer!</a>
    </div>
   
