<div class='beerIndex'>
    <div class=''>
        <img id='beerImg' src='/images/beer.png' alt='Cerverza' />
    </div>
    <div class=''>
        <a href='/beers' class='beerListButton btn btn-primary   ' role='button'>BeerList</a>
    </div>
    <div class=''>
        <a href='/random-beer' class='randBeerButton btn btn-primary' role='button'>Random beer</a>
    </div>

</div>

