<div>
  <div class="beer-img-container">
    <img id="beer-img" src="/images/beer.png" alt="beer-img">
  </div>

  <div class="beer-img-container-links">
    <a class="btn-links" href="/beers">Check the Beers!</a>
    <a class="btn-links" href="/random-beer">Check a Random Beer!</a>
  </div>

</div>