  {{{ body }}}
<div>
<img src="/images/beer.png" alt="beer-icon">
<button type="button" class="beers" href="/beers" >Check the Beers!</button>
<button type="button" class="beers" href="/random-beer">Check a random Beer</button>
</div>


