

<div>
  <img src="/images/beer.png" alt="beer">
  <a class="btn btn-primary" href="/beers" role="button">Beers</a>
  <a class="btn btn-primary" href="/random-beers" role="button">Random Beer</a>
</div>