<div>
    <img src="/images/beer.png" alt="beer-img" />
    <ul>
        <li><a href="/beers">Check the Beers!</a></li>
        <li><a href="/randomBeer">Check a Random Beer!</a></li>
    </ul>
</div>