<div id="beer-img-container">
<div>
<img id="beer-img" src="/images/beer.png" alt="Beer Image">
</div>
<div>
<a class="button" href="/beers">Check the Beers!</a>
</div>
<br>
<br>
<br>
<div>
<a class="button" href="/random-beer">Check a Random Beer!</a>
</div>
</div>
