<div>
    <img class="beer-img" src="/images/beer.png" alt="beer">
</div>
<div class="buttons-container">
    <a class="button-link" href="/beers">Check the Beers!</a>
    <a class="button-link" href="/random-beer">Check a Random Beer!</a>
</div>