<main>
        <img src="/images/beer.png" alt="">
        <button id="beersButton"><a href="/beers">Check the beers!</a></button>
        <button id="buttonRandom"><a href="/random-beer">Check a random Beer!</a></button>
</main>

