<div class="index-center">
    <img src="/images/beer.png" class="beer">
</div>

<div class="index-center space">
    <a href="/beers" class="boton btn-color">Check the Beers!</a>
    
</div>

<div class="index-center">
    <a href="/random-beers" class="boton btn-color">Check a Random Beer!</a>

</div>


    

        
            
        
        
            
            
            
       

    




