<div>
    <img src="/images/beer.png" alt="Beer">
    <ul>
        <li class="button"><a href="/beers">Check the Beers!</a></li>
        <li class="button2"><a href="/random-beers">Check a Random Beer</a></li>
    </ul>
</div>