<div id="index">
    <img id="index-image" src="/images/beer.png" alt="">
    <a href="/beers" class="index-link">Check the Beers!</a>
    <a href="/random-beer" class="index-link">Check a Random Beer!</a>
</div>