<div class="indexDiv">
    <img src="./images/beer.png" alt="beer-img">
    <a class="btn btn-primary" href="./beer">Check the Beers!</a>
    <a class="btn btn-primary" href="./random-beers">Check a Random Beer!</a>
</div>