<div class='homeImageContainer'>
  <img class='homeImage' src='images/beer.png' alt='' />
</div>

<div class='linksContainer'>
  <a href='/beers'>Check the Beers!</a>
  <a href='/randomBeer'>Check a Random Beer!</a>
</div>