<div class="home-main">
    <img class="main-beer-img" src="images/beer.png" alt="">
    <a class="main-links" href="/beer">Check the Beers!</a>
    <a class="main-links" href="/randomBeer">Check a random Beer!</a>
</div>