<div>
  hello world
</div>

<img src='images/beer.png' alt='' />
<a class='nav-item nav-link' href='/beers'>Check the Beers!</a>
<a class='nav-item nav-link' href='/random-beer'>Check a Random Beer</a>