<div class="container-beer">
    <img class="beer" src="/images/beer.png">
</div>

<div class="container-buttons">
    <a href="/beers">Check the Beers!</a>
    <a href="/random-beer">Check a Random Beer</a>
</div>