<section class="home">
    <div class="beer">
            <img  src="/images/beer.png">
    </div>
    <div class="buttons">
        <a href="/beers">
            <button>Check the Beers!</button>
        </a>
    </div>  
    <div class="buttons">
        <a href="/randomBeer">
            <button>Check a Random Beer</button>
        </a>
    </div>
</section>