<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 d-flex justify-content-center mt-5">
                <img src="/images/beer.png" alt="Beer">
            </div>
            <div class="col-12 d-flex justify-content-center mt-5 ">
                <a href="/beers" class="btn btn-primary shadow ">Check the Beers!</a>
            </div>
            <div class="col-12 d-flex justify-content-center mt-3 mb-3">
                <a href="/random-beer" class="btn btn-primary shadow ">Check a Random
                    Beer!</a>
            </div>
        </div>
    </div>
</div>