<div class="container">
    <div class="row">
        <div class="col">
            <img src="images/beer.png" class="rounded mx-auto d-block" alt="...">
        </div>
        <div class="row mx-6 py-4">
            <a class="btn btn-outline-warning btn-lg btn-block" href="/beers" role="button">Beers</a>
        </div>
        <div class="row mx-6 py-4">
            <a class="btn btn-outline-warning btn-lg btn-block" href="/random-beer" role="button">Random</a>
        </div>

    </div>
</div>