<div class="container">
    <img src="/images/beer.png" alt="logotipo" class="logo">
    
    <a href="/beers" class="btn btn-primary">Check the beers!</a>
    <a href="/random-beers" class="btn btn-primary">Check a Random Beer!</a>
</div>

</div>