<div id="img-cerveza">
    <img src="/images/beer.png" alt="imagen-cerveza" >

    <div id="btn-beer">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer" id="seg-btn">Check a Random Beer</a>

    </div>

</div>