<div class="container-fluid">
    <div class="d-flex m-5 justify-content-center">
        <img src="/images/beer.png" alt="image-beer" />
    </div>
    <div class="d-flex m-5 justify-content-center">
        <a class="mx-3 btn btn-primary" href="/beers" role="button">Check the Beers!</a>
        <a class="mx-3 btn btn-primary" href="/random-beers" role="button">Check a Random Beer</a>
    </div>
</div>