
<div class="container">
    <img src="/images/beer.png" alt="">
    <a
        href="/beers"
        class="btn btn-primary"
    >
            check the beers, {{beers}}!
    </a>

    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
    check a random beer
    </button>
</div>
