<div class="contentHome">
    <img class="BeerImg" src="/images/Beer.png" alt="Beer-image">

    <div class="right-site">
        <div class="text-home">
            <h2>WELCOME</h2>
            <h1>HERE YOU WILL FIND <br>ONLY THE BEST BEERS</h1>
            <p>In this website you will only find good beers.<br>How do we know? Because obviously,<br>we have tried them all!</p>
            </div>
        <div class="btns-home">
            <a href="/beers">Check the Beers!</a>
            <a href="/random-beer">Check a Random Beer!</a>
    </div>
    </div>
</div>