


<img style="width: 40%;height:40%" src="images/beer.png" alt="">
<a class="btn btn-primary"href="/beers">Check the Beers!</a>
<a class="btn btn-primary"href="/random-beer">Check a Random Beer!</a>


