<div class="index-container">

    <div>
        <div class="content-img">
        <img src="/images/beer.png" class="img" alt="">
        </div>
        <div class="content-button">
        <button class="beers" href="/beer">Check the Beers!</button>
        <button  class="random" href="/randomBeer">Check a Random Beers!</button>
        </div>
    </div>
  
</div>