<div>

    <div>
        <img src="/images/beer.png" alt="beer image">


        <div>
            <a type="button" href="/beers">Check the beers!</a>
            <a type="button" href="/randomBeers">Check a random beer!</a>
        </div>

    </div>

</div>