<div id="home">
    <img class="mug" src="/images/beer.png" alt="beerMug">
    <a class="btn btn-primary" href="/beers">Check the Beers</a>
    <a href="/random-beer" class="btn btn-primary">Check a Random Beer!</a>
</div>