<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beers</title>
</head>
<body>
  
  <img class="beerimg" src="/images/beer.png"> </img>
  <div class="btn">
   <a href="/beers">Check the beers!</a>
   <a href="/random-beers">Check a random beer</a>
  </div>

</body>
</html>