<div>
   <center><img src="/images/beer.png" width="400" height="400" alt="beer" /></center>
</div>
<div style="margin-top: 20px;" class="d-grid gap-2 col-2 mx-auto">
  <button class="btn btn-primary" type="button" href="/beers">Check the Beers!</button>
  <button class="btn btn-primary" type="button" href="/random-beer">Check a Random Beer!</button>
</div>