<div class="container">
    <div class="home-content">
        <img src="/images/beer.png" width="400px">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer</a>
    </div>
</div>