<div id="home">
  <ul>
    <img src='images/beer.png' height='400' width='400' />
  </ul>

  <ul>
    <p> <a class='btn' href='/beers'>Check the Beers!</a> </p>
    <p> <a class='btn' href='/random-beer'>Check a Random Beer</a> </p>
  </ul>
</div>