<div id="index-container" class="d-flex flex-column">
    <img src="/images/beer.png" alt="beer image">
    <a class="btn btn-info" href="/beers">Check the Beers!</a>
    <a class="btn btn-info" href="/random-beers">Check a Random Beer!</a>
</div>