<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="home">
        <img src="/images/beer.png" alt="Beer Image">
        <a href="/beers" class="home-btn">Check the Beers</a>
        <a href="/random-beer" class="home-btn">Check a Random Beer</a>
    </div>
</body>

</html>