<div class='container'>
  <div class='img-container'>
    <img src='/images/beer.png' />
  </div>
  <div class='btn-container'>
    <button class='btn-main'><a href='/beers'>Check a Beer!</a></button>
    <button class='btn-main'><a href='/random-beer'>Check a Random Beer!</a></button>
  </div>
</div>