<div class="row justify-content-center mb-3">

    <div class="d-grid col-4">
        <img class="beer object-fit-contain mx-auto mb-5" src="/images/beer.png" alt="beer"></img>
        <a href="/beers" class="btn btn-blue mx-auto mb-5" role="button">Check The Beers!</a>
        <a href="/random-beer" class="btn btn-blue mx-auto mb-5" role="button">Check a Random Beer!</a>
    </div>

</div>