<div class="container">
    <div class="home">
        <img src="images/beer.png" class="card-img-top" alt="{{name}} {{lastName}}">
        <a href="/Beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer!</a>
    </div>
</div>