<div class="home">
    <img class="jarra" src="/images/beer.png">
    <button class='nav-links btn'><a href="/beers">Check the Beers!</a></button>
    <button class='nav-links btn'><a href="/random-beer">Check a Random Beer</a></button>
</div>