<div>
    <img src="/images/beer.png" /> 
</div>
<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button" onclick="window.location.href='/beers'">Check the Beers!</button>
  <button class="btn btn-primary" type="button" onclick="window.location.href='/random-beer'">Check a Random Beer</button>
</div>