<div>

<img class="beerImage" src="/images/beer.png" alt="Beer">
<div class="buttonIndex">
<a href="/beers" class="btn btn-primary button1">Check the Beers!</a>
<a href="/random-beer" class="btn btn-primary">Check a Random Beer</a>
</div> 

</div>