<div>
  <div>

    <img
      id='main-beer'
      src='/images/beer.png'
      class='rounded mx-auto d-block'
      alt='beer'
    />
  </div>

  <br />
  <div class='d-grid gap-2 col-6 mx-auto'>
    <div class='container'>\\\
      <div class='row'>
        <div class='col'>
          <a class='btn btn-primary' type='button' href='/beers'>Check the
            Beers!</a>
        </div>
      </div>

    </div>

    <a class='btn btn-primary' type='button' href='/random-beers'>Check a random
      beer!</a>
  </div>
</div>