<img src="/images/beer.png" class="cupofbeer" alt="Beer">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a href="/beers" class="btn btn-primary" type="button">Check the Beers</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/random-beers" class="btn btn-primary" type="button">Check a Random Beer</a>
        </div>
    </div>
</div>