<div class="container">
    <div class="photoMainBeer">
        <img src="/images/beer.png" alt="Beer">

    </div>

    <hr>

    <div class="col-md-12 text-center">
        <a href="/beers" class="btn btn-dark">Check the Beers!</a>
        <a href="/random-beers" class="btn btn-dark">Check a Random Beer!</a>
    </div>
</div>