<div class = "glass">
<img src="/images/beer.png" alt="Beer Image">
    <div class="pointer">
        <a href="/beers"> Check the Beers! </a>
        <a href="/random-beer">Check a Random Beer</a>
    </div>
</div>
