<div>
<img class="imgbeer" src="/images/beer.png" alt="beerimage" width="400" height="400">
<div class="button">
<button><a href="/beers">check the beers</a></button>
<button><a href="/random-beers">chech a random beer!</a></button>
</div>
</div>