<div>
    <img src="../images/beer.png" id="beer-pic" class="rounded mx-auto d-block" alt="...">
   
   <a href="beers" id="btn1" class="btn btn-primary">Check The Beers</a>

   <a href="random" id = "btn2" class="btn btn-primary">Check a Random Beers</a>

</div>