<div class="body">
    <div>
    <img src="/images/beer.png" alt="">
    </div>
    <div>
    <a class="button" href="/beers">Check the Beers!</a>
    <a class="button" href="/random-beers">Check a Random Beer</a>
    </div>
</div> 