

<div>
    <center><img src="images/beer.png" height= 300px></center>
</div>

<div>
    <center><a href="/beers"><button type="button" class="btn btn-primary">Check the Beers!</button></a></center>
</div>

<div>
     <center><a href="/random-beer"><button type="button" class="btn btn-primary">Check a random Beer!</button></a></center>
</div>







