<div class="container">

<img src="/images/beer1.png" alt="Dibujo de una cerveza">

<a href="/beers" class="btn">CHECK THE BEERS!!</a>
<a href="/random-beer" class="btn">CHECK A RANDOM BEER!!</a>

</div>