<section>
    <div class="centerObj">
        <img class="BeerImage" src="/images/beer.png" alt="Beer">
    </div>

    <div class="centerObj">
        <a class="btn btn-primary me-2 shadow" href="/beers">Check the Beers!</a>
        <a class="btn btn-primary shadow" href="/random-beers">Check a Random Beer</a>
    </div>
</section>

