<div class='main'>
  <img id='beer' src='/images/beer.png' alt='' />
  <a href='/beers'> <button class='btns'> Check the Beers!</button></a>
  <a href='/random-beer'><button class='btns'>
      Check a Random Beer
    </button></a>
</div>