<div class="container">
    <div class="row justify-content-center padding-childs">
        <div class="col-3 text-center">
            <img src="/images/beer.png" class="beer" alt="beer image">
        </div>
        <div class="col-12 text-center">
            <a href="/beers" class="btn btn-primary">Check the Beers!</a>
        </div>
        <div class="col-12 text-center">
            <a href="/random-beer" class="btn btn-primary">Check a Random Beer</a>
        </div>
    </div>
</div>