<div>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>

    <body>
        <div class="container">
            <div class="row align-items-sm-center">
                <div class="col ">
                    <img class="beer-glass" src="/images/beer.png" alt="beer_image">
                </div>
                <div class="container">
                    <a href="/beers" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Check the
                        Beers!</a></button>
                    <a href="/random-beer" class="btn btn-secondary btn-lg active" role="button"
                        aria-pressed="true">Check a
                        Random Beer</a></button>
                </div>
            </div>
        </div>
    </body>

    </html>
</div>