<div id="home">
    <img src="images/beer.png" alt="Beer">
    <div id="buttons">   
        <a class="link" href="/beers">Check the Beers!</a>
        <a class="link" href="/random-beer">Check a random Beer!</a>
    </div>
    
</div>