<div>
    <h1>Welcome to Ironbeers</h1>
    <p>The most complete Beer site.</p>

    <div class="d-flex flex-column align-items-center gap-5">
        <img src="images/beer.png" alt="beer-img" width="30%">
        <a href="/beers" class="btn btn-primary">Check the beers!</a>
        <a href="/random-beer" class="btn btn-primary">Check a Random Beer</a>
    </div>
</div>