<div id="main-div">
    <img id="main-img" src="../images/beer.png" alt="something went wrong">
    <div id="main-button-box">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer</a>
    </div>
</div>

