<div style=>
   
    <img class= "w-25 p-3; rounded mx-auto d-block"  src="/images/beer.png"/>

</div>
<div style="margin:0 auto; display:block; width:20%; align-items:center">
        <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
    </div>
<div style="margin:0 auto; display:block; width:20%; align-items:center"> 
    <a class="btn btn-primary" href="/random-beer" role="button">Check a Random Beer!</a>
    </div>
