<div class="main">
    <img class="mainImg" src="/images/beer.png" alt="Beer image">
</div>


<div class="d-grid gap-2">
    <button class="btn btn-primary" type="button"><a href="/beers">Check the beers!</a></button>
    <button class="btn btn-primary" type="button"><a href="/random-beer">Check a random beer!</a></button>
</div>