<body>

  <div class="div-container vstack gap-3 col-md-4 mx-auto">
    <img class="mt-5" src="./images/beer.png" alt="">
    <a href="/beers" class="btn btn-primary col-md-5 mx-auto bottonColor mt-4" role="button"
      data-bs-toggle="button">Check
      the
      Beers!</a>
    <a href="/random-beer" class="btn btn-primary col-md-7 mx-auto bottonColor" role="button"
      data-bs-toggle="button">Check a
      Random Beer</a>

  </div>


</body>