<div id="blockStyle">
    <img id="beerImageHome" src="/images/beer.png" alt="">
    <a class="btnHome" href="/beers">Check the Beers!</a>
    <a class="btnHome" href="/random-beer">Check a Random Beer!</a>
</div>
