<div class="home-container">
    <img src="/images/beer.png">
    <button class="btn-index"><a href="/beers">Check the Beers!</a></button>
    <button class="btn-index"><a href="/randombeers">Check a Random Beer</a></button>
</div>