<div class="container">
    <div class="row d-flex align-items-center flex-column">

        <div class="col-4 cover-col">
            <img class="cover-beer-img" src="/images/beer.png" alt="Beer image">
        </div>
        <div class="col-4 cover-col">
            <a class="btn btn-outline-warning yellow-btn" href="/beers" role="button">Check the Beers!</a>
        </div>
        <div class="col-4 cover-col">
            <a class="btn btn-outline-warning yellow-btn" href="/random-beers" role="button">Check a Random Beer!</a>
        </div>

    </div>

</div>