<main class="container">

    <div class="col align-items-center">
        <div class="d-flex justify-content-center">
            <img src="/images/beer.png" class="" alt="">
        </div>
        <div class="d-flex justify-content-center buttonAir">
            <a href="/beers" class="btn btn-primary">Check the Beers</a>
        </div>
        <div class="d-flex justify-content-center buttonAir">
            <a href="/random-beers" class="btn btn-primary">Check a Random Beer</a>
        </div>
    </div>
    </div>
</main>