<div id="container" class="home">
<img class="pinte" src="/images/beer.png" alt="pinte de bière">
<button><a href="/beers">Check the Beers!</a></button>
<button><a href="/random-beers">Check a Random Beers!</a></button>
</div>