<div>
<img src="/images/beer.png" alt="beerpic" style="border: 5px inset black;">
</div>
<div>
    <a class="nav-item nav-link" href="/beers">Check the Beers!</a>
     <a class="nav-item nav-link" href="/random-beer">Check a Random Beer</a>
</div>