<div class="inicio">
    <img src="/images/beer.png" alt="">
    <a href="/beers" class="btn btn-primary " >Check the Beers!</a>
    <a href="/randomBeer" class="btn btn-primary">Check a Random Beer!</a>
</div>


<footer >
    <p>Develop by Ironhack ;)</p>
</footer>