<div class= "mainImg">
    <img src="/images/beer.png" alt="Beer Image">
</div>

<div class="mainLink">
    <div class="button"> <a href="/beers">Check the beers</a></div>
    <div class="button"><a href="/random-beers">Check a random beer</a></div>
</div>