<section class='beer'>
  <img class='beer-img' src='images/beer.png' alt='Beer image' />
  <a class='beer-button' href='/beers'>Check the beers !</a>
  <a class='beer-button' href='/random-beer'>Check a random beer !</a>

</section>