<div id="home-content">

    <div>
    <img id="home-img" src="/images/beer.png" alt="">
    </div>

    <div>
    <a href="/beers" class="badge badge-primary">Check the Beers!</a>
    <a href="random-beer" class="badge badge-primary">Check a Random Beer!</a>
    </div>

</div>