<div class="home container d-flex flex-column align-items-center justify-content-center">
    <img class="beer-jar" src="/images/beer.png" />
    <a class="check-btn btn-primary btn-lg margin-top margin-bottom" href="/beers" class="btn btn-dark btn-sm">Check the
        Beers!</a>
    <a class="check-btn btn-primary btn-lg" href="/random-beer" class="btn btn-dark btn-sm">Check a Random
        Beer!</a>
</div>