<div>
    <nav class="navbar navbar-dark bg-primary">
        <ul>
            <li class="nav-item">
                <a href="/index">Home</a>
            </li>
            <li class="nav-item">
                <a href="/beers">Beers</a>
            </li>
            <li class="nav-item">
                <a href="/randomBeer">Random beer</a>
            </li>
        </ul>
    </nav>

    <div>
        <img src="./images/beer.png" alt="Beer">
    </div>
    <div>
        <a href="/beers">Check the Beers!</a>
    </div>
    <div>
        <a href="/randomBeer">Check a random Beer!</a>        
    </div>
</div>
<div>
<h1>CONECTA</h1>
</div>