<div>
    <img src="images/beer.png">
    <button>
    <a href="beers">Check the Beers!</a>
    </button>
    <button>
        <a href="random-beer">Check a Random beer!</a>
    </button>
<h1>Hello</h1>
</div>