<div class="container container_index">
    <div class="row">
        <div class="col-md-12 index_image">
            <img src="/images/beer.png" alt="image of a beer">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 index_firstBut">
            <a class="btn btn-primary" href="/beers">Check the beers!</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 index_secondBut">
            <a class="btn btn-primary" href="/random-beer">Check a random beer!</a>
        </div>
    </div>
</div>