<link rel="stylesheet" href="stylesheets/home.css">
<div class="container" >
    <img id="beer-image" src="images/beer.png" alt="beer-vector">
    <ul>
        <li><a href="/beers">Check the beers!</a></li>
        <li><a href="/random">Get a random beer</a></li>
    </ul>
</div>