<div class="container mb-5">
    <img class="one_beer" src="../images/beer.png">
</div>

<div class="container mb-5 text-center">
    <a href="/beers" class="btn" style="background-color: #0e81d3;color:white">Check the Beers!</a>
    <a href="/random-beer" class="btn" style="background-color: #0e81d3;color:white">Check a Random Beer!</a>
</div>