
    <div>
        <img class="homeBeer" src="/images/beer.png" alt="beer">
    </div>

    <div id="btn">
        <a class="beerBtn" href="/beers"> Check the beers!</a>
        <a class="beerBtn" href="/random-Beers"> Check a Random Beers!</a>
    </div>