<div class="index">
    <img src="/images/beer.png" alt="beer" class="rounded img-thumbnail" width="200px">
    <a href="/beers" class="btn btn-primary btn-lg">Check the Beers!</a>
    <a href="/random-beer" class="btn btn-primary btn-lg">Check a Random Beer!</a>
</div>