<div class="container home">
    <img src="images/beer.png" alt="beer icon">
    <div class="btns">
        <p><a href="/beers" type="button" class="btn btn-primary">Check the Beers!</a></p>
        <p><a href="/random-beer" type="button" class="btn btn-primary">Check a Random Beer</a></p>
    </div>
</div>