<div class="container">

    <img src="/images/beer.png" class="rounded mx-auto d-block mb-4" style="width: 25%;" alt="beer image">
    <div class="d-grid gap-2 col-3 mx-auto">
        <a href="/beers"><button type="button" class="btn btn-dark mb-2">Check the Beers!</button></a>
        <a href="/randomBeer"><button type="button" class="btn btn-dark mb-5">Check a Random Beer!</button></a>

    </div>


</div>