<div class='all-home-contents'>

  <img src={{this.image}} class='home-beer-image' />

  <a href='/beers' class='beer-links-btn'>Check the Beers!</a>
  <a href='/random-beer' class='beer-links-btn'>Check a Random Beer</a>

</div>