<div>
    <div>
        <img src="/images/beer.png" alt="Beer">
    </div>
    <div>
        <button><a href="/beers">Check the Beer!</a></button>
    </div>
        <button><a href="/random-beer">Check the Random Beer!</a></button>
    <div>

    </div>
</div>