<div class='home-page'>
  <div>
    <div class='buttons'>
      <a href='/beers' class='btn btn-primary'>Check the Beers!</a>
      <a href='/random-beer' class='btn btn-primary'>Check a Random Beer</a>
    </div>
  </div>
</div>