

    <div>
    
    
 <img src="/images/beer.png" alt="beer image">
    
     <a href="/beers" class="check the beer">Check The Beers!</a>

       <a href="/random-beer" class="check the random beer">Check The Random Beer!</a>
    </div>




