<div class = "main">
    <div>
        <img src="/images/beer.png" alt="beer picture">
    </div>

    {{!-- <div class = "horizontal">
        <div>
            <a href="/beers" class = "buttonOne">Beers</a>
        </div>
        <div>
            <a href="/random-beer" class = "buttonTwo">Random Choice</a>
        </div>
    </div> --}}

</div>
