<div class="container">
    <div class="border-none m-4 d-flex justify-center align-items-center">
        <img src="../images/beer.png" class="mx-auto d-block" alt="Beers" width="400" height="400">
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">Check the Beers!</button>
        <button class="btn btn-primary" type="button">Check a Random Beers!</button>
    </div>
</div>

{{!-- <div>
  {{#each beers as | beer |}}
    <div>
      <h4>{{beer.name}}</h4>
      <p>{{beer.description}}</p>
      <p>{{beer.image_url}}</p>
    </div>
  {{/each}}
</div> --}}