<div class='home-page'>
    <div class='img-container'>
        <img src='/images/beer.png' alt='beer image'>
    </div>
    <div class='btn-container'>
        <button><a href='/beers'>Check a Beer!</a></button>
        <button><a href='/random-beers'>Check a Random Beer!</a></button>
    </div>
</div>