<div class="container">
    <div class="row">
        <div class="col center">
            <img class="beer" src="/images/beer.png" alt="beer">
        </div>
    </div>
    <div class="row">
        <div class="col center">
            <a href="/beers"> <button type="button" class="btn btn-primary beer">Check the
                    Beers!</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col center">
            <a href="/random-beers"> <button type="button" class="btn btn-primary beer">Check the
                    randomBeer!</button></a>
        </div>
    </div>

</div>