<div>

<img src="/images/beer.png" class="img-fluid" alt="beer image">
<a href="/beers" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Check the beer's</a>
<a href="/random-beer" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Check a random beer!</a>

</div>