<div class = "img">
    <img src = "/images/beer.png" />
</div>

<div class="buttons">
    <a id = "check-beers" href = "/beers">Check the Beers!</a>
    <a id = "random-beer" href ="/random-beer">Check a Randon Beer!</a>
</div>