<div class="container">

    <img src="/images/beer.png" alt="beer home">

    <a href="/beers" class="btn btn-dark">Check the beers!</a>

    <a href="/random-beer" class="btn btn-dark">Check a Randmon Beer!</a>

</div>