<div class="container">
    <div class="row justify-content-center">
        <div class="beer col-md-6">
            <img src="/images/beer.png" alt="beer">
        </div>
    </div>

    <p class="text-center">
        <a type="button" class="btn btn-outline-dark" href="/beers">Check the Beers!</a>
    </p>

    <p class="text-center">
        <a type="button" class="btn btn-outline-dark" href="/random-beer">Check a Random Beer</a>
    </p>

</div>