<div id="index-container">
    <img id="chop-image" src={{imageBeer}} alt="cold beer">

    <button class="blue-button"><a href="/beers">Check the Beers!</a></button>
    <button class="blue-button"><a href="/random-beer">Check a Random Beer!</a></button>
</div>