<div>
  <img src='images/beer.png' alt='beer mug' width='100' />

  <button>
    <a href='beers'> Check The Beers!</a>
  </button>

  <button>
    <a href='/random-beer'>
      Check A Random Beer!
    </a>
  </button>
</div>