
<div class="principal">
    <img src="/images/beer.png">
    <button class="btn btn-primary m-4">Check the beers!</button>
    <button class="btn btn-primary m-4">Check a Random Beer</button>

</div>
