<br><br>
<div class="img">

    <img src="/images/beer.png" alt="beerimage"><br>
</div>
<br><br>
<div class="buttonstyle">
     <input type="button" id="btn" onclick="location.href='/beers';" value="Check the Beers!" /><br><br>
<input type="button" id="btn2" onclick="location.href='/random-beer';" value="Check a Random Beer" />
 </div>
