<div id="simpsonsDiv">
<img id="simpsonsBeer" src="/images/beer.png" alt="beer image">
<div id="indexLinksContainer">
    <a class="indexLinks" href="/beers">Check the Beers!</a>
    <a class="indexLinks" href="/random-beer">Check a Random Beer!</a>
</div>
</div>