<main>
<h1>Inicio</h1>

<article>
    <img src ="/images/beer.png" alt= "logobeer">

    <div>
      <a href="/beers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check the Beers!</a>
    </div>

    <div>
      <a href="/random-beer" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Check a Random Beer</a>
    </div>

</article>

</main>