<div class="container">

    <div class="col-4">
        <img src="/images/beer.png" />
    </div>
    
    <div class="col-4">
        <a class="btn-home" href="/beers">Check the beers</a>
    </div>

    <div class="col-4">
        <a class="btn-home" href="/beers">Check a random beer</a>
    </div>


</div>