<h1>Welcome to our brewery app</h1>
<img id="home-img" src="images/brewery.webp" alt="brewery Image">
<div class="links">
    <a href="/breweries">Check the Breweries!</a>
    <a href="/randomBrewery">Check a Random Brewery!</a>
</div>