<div id="index" class="row">

    <div class="col">

        <img src="images/beer.png" alt="Beer jar cartoon image">

        <div class="btn-toolbar justify-content-center up">

            <a id="button-link" class="btn btn-primary" href="/beers">Check the Beers!</a>

        </div>

        <div class="btn-toolbar justify-content-center down">

            <a id="button-link" class="btn btn-primary" href="/random-beer">Check a Random Beer!</a>

        </div>


    </div>

</div>