<div class="container">
    <img src="/images/beer.png" style="width: 400px" alt="beer image">
    <a class="button" href="/beers">Check the Beers!</a>
    <a class="button" href="/random-beer">Check a Random Beer!</a>
</div>