<body>
    <div class="container">
    <div id="index" class="mx-5 p-2">
        <img src="./images/beer.png" id="beer-img"  alt="beer drawing">
        <a href="/beers" class="btn btn-primary ">Check the beers!</a>
        <a href="/random-beer" class="btn btn-primary">Check a Random Beer</a>
    </div>
    </div>
</body>