<div class="div-container vstack gap-3 col-md-4 mx-auto">
    <img class="mt-4" src="./images/beer.png" alt="Beer">
    <a href="/beers" class="btn btn-primary col-md-5 mx-auto bottonColor mt-4">
        Check
        the Beers!</a>
    <a href="/random-beer" class="btn btn-primary col-md-7 mx-auto bottonColor">Check a
        Random Beer!</a>
</div>