<main class="container">

    <div class="row justify-content-center">
        <div class="col-md-12 text-center beer">
            <img class="img-index" src="/images/beer.png" alt="">
        </div>

        <div class="col-md-12 text-center btn-beer">
            <a class=" btn1 btn btn-primary" href="/beer"> Check theBeer</a>
        </div>

        <div class="col-md-12 text-center btn-random">
            <a class=" btn2 btn btn-primary" href="/random-beer"> Check a Random Beer</a>
        </div>


    </div>


</main>