<div class="home">
    <img class="img" src="/images/beer.png" alt="beers">
    <div class="btn">
        <a class="link-btn" href="/beers">Check the Beers</a>
    </div>

    <div class="btn">
        <a class="link-btn" href="/random-beers">Check a Random Beers</a>
    </div>
        
</div>