<div>
    <img src="/images/beer.png" alt="" id="main-pic">
    <br>
    <br>
    <a href="/beers" class="glow-on-hover">Check the Beers!</a>
    <br>

    <a href="/random-beer" class="glow-on-hover">Check a Random Beer</a>
</div>