<div class="home-content">
  <img src="images/beer.png" alt="A nice beer">
  <button><a href="beers">Check the beers</a></button>
  <button><a href="random-beer">Check a random beer</a></button>
</div>