<div>
<img class="beer-image" src="/images/beer.png" alt="picture of a beer"/>
<p></p>
<a class="index-button" href="/beers">Check the Beers!</a>
<p></p>
<a class="index-button" href="/random-beer">Check a Random Beer!</a>
</div>