<div class="img-beer">
    <img src="/images/beer.png" style="
    width: 30%;">
</div>

<div class="buttons">
<a href= "/beers"><button>"Check the Beers!"</button></a>
<br>
<br>
<a href= "/random-beers"><button>"Check a Random Beer!"</button></a>
</div>