<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper">
                    <img src="/images/beer.png" alt="Beer jar">
                    <div class="button-bar">
                        <a href="/beers" class="btn btn-l">Check the Beers!</a>
                        <a href="/random-beers" class="btn btn-l">Check a Random Beer!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>