<section id="home">

    <div class="home-beer-container">
        <img class="proportion" src="/images/beer.png" alt="Home beer image">
    </div>

    <div class="a-container">
        <a href="/beers">Check the beers!</a>
    </div>

    <div class="a-container margin-b-footer">
        <a href="/random-beers">Check a random beer!</a>
    </div>

</section>