<section class="column">
    <div>
        <img class="margin-left" src="/images/beer.png" width="300" height="300">
    </div>
    <div class="margin-top">
        <button class="btn btn-primary btn-lg"><a href="/beers">Check the Beers!</a></button> 
    </div>
    <div class="margin-top">
        <button class="btn btn-primary btn-lg"><a href="/random-beers">Check a Random Beer!</a></button> 
    </div>
</section>