<div>
  <img src='/images/beer.png' alt='Beer image' width='320' height='320' />
</div>
<div>
  <a class='check-link' href='/beers'>Check the Beers!
    <span class='sr-only'>(current)</span></a>
</div>
<div>
  <a class='random-link' href='/random-beer'>Check a Random Beer
    <span class='sr-only'>(current)</span></a>
</div>