<div class="index">

    <div class="d-flex flex-column align-items-center justify-content-center">
        {{!-- esta línea de bootstrap salió entera de chatGPT (sorry) --}}

        <img src="/images/beer.png" class="cervezita mt-5" alt="Beer Image">
        <a href="/beers" class="btn btn-dark mb-5 mt-5">Check the Beers!</a>
        <a href="/random-beer" class="btn btn-dark mb-5">Check a Random Beer</a>

    </div>

</div>