<div class='index'>
  <img src='/images/beer.png' />
</div>
<div class='botonsBeer'>
  <a href='/random-beer'><button>Check a Random Beer</button></a>
  <a href='/beers'><button>Check the Beers!</button></a>

</div>