<div>
    <img  class='beer'src="images/beer.png">
</div>

<div class="btn">

<a class='btn btn-primary' href="/beers">Check the Beers!</a>
<a  class='btn btn-primary' href="/random-beer">Check a Random Beer</a>
</div>