<main class='container'>
    <header>

        <div class="row">

            <div class="col-md">  <img src='/images/beer.png' class=' beerImg'></div>

        </div>



        <div class="row">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">
                <a href="/beers" class='col-md'>Check the Beers!</a>
            </button>

        </div>              
        
        <div class="row">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">
                <a href="/random-beers"class='col-md'>Check a Random Beer!</a>
            </button>
        </div>




    </header>

</main>