<div class='d-flex flex-column align-items-center pt-5'>
  <img class='img-fluid w-25' src='/images/beer.png' alt='beer image' />
  <div class='d-flex flex-column align-items-center my-4'>
    <a type='button' href='/beers' class='btn btn-primary btn-lg my-3'>Check the
      Beers!</a>
    <a
      type='button'
      href='/random-beer'
      class='btn btn-primary btn-lg my-3'
    >Check a Random Beer</a>
  </div>

</div>