<div>

<img class ="first-image" src="/images/beer.png" alt="Beer">
<div class="enlace">

<a href="/beers"> <button> Check the beers! </button></a>
<a href="/random-beer"> <button> Check a random beer </button></a>

</div>

</div>