<div class="beerHome">
    <img class="beerHomeImg" src="/images/beer.png" alt="beer animation">
</div>

<div class="buttonHome">
<form action="/beers">
    <input class="insideButtonHome" type="submit" value="Check the Beers!">
</form>

<form  action="/random-beer">
    <input class="insideButtonHome" type="submit" value="Check a Random Beer">
</form>
</div>
