<div>
    <img class="home-beer" src="/public/images/beer.png" alt="Beer picture"/>
    <ul>
        <li><a href="/beers">       <button>Check the Beers!    </button> </a></li>
        <li><a href="/random-beer"> <button>Check a Random Beer!</button> </a> </li>
    </ul>
</div>