
<div class="home" align="center">
<img alt="beer" src="./images/beer.png">
<div class="b">
<a href="/beers" class="button">Check the Beers!</a>
</div>
<div class="b">
<a href="/random-beers" class="button">Check a Random Beer</a>
</div>

</div>