<div class='container'>

    <div class='row'>
        <div class='col-sm-12 d-flex justify-content-center homeBeerImg'>
            <img src="/images/beer.png" alt="Beer image">
        </div>
    </div>

    <div class='row'>
        <div class='col-sm-12 d-flex justify-content-center'>
            <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
            <a class="btn btn-primary" href="/random-beer" role="button">Check a Random Beer!</a> 
        </div>   
    </div>
</div>