<div class='items'>
  <img class='beerimg' src='../images/beer.png' alt='ironbeer' />

  <div class='buttons'>
    <button
      type='button'
      class='btn btn-primary resize shadow'
      style=' height:50px;width:200px;'
    >
      <a href='beers' class='text-light font-weight-bold'>Check the Beers!</a></button>
    <button
      type='button'
      class='btn btn-primary shadow mt-3'
      style=' height:50px;width:250px;'
    >
      <a href='random-beer' class='text-light font-weight-bold'>Check a Random
        Beer!</a></button>
  </div>
</div>