<div>

    <img src="/images/beer.png" style="width: 300px; " alt="Beer">

</div>
<br>
<div>

    <a class="btn btn-primary btn-custom" href="/beers">Check the beers</a>

</div>
<br>
<div>

    <a class="btn btn-primary btn-custom" href="/randomBeer">Check a Random Beer!</a>

</div>