<img class="home-img" src="/images/beer.png" />

<button class="button">
    <a href="/beers"> Check the Beers!</a>
</button><br>
<button class="button">
    <a class="link" href='/random-beer'>Check a Random Beer</a>
</button>