<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\Ironhack\Labs\lab-ironbeers\public\stylesheets\styles.css"></link>
</head>
<body>
    <nav class="navbar">
        <a>home </a><a>Pokémon</a><a>Random Pokémon</a> 
    </nav>
    <div>
      <img src="public\images\beer.png" alt="noimg">
    </div>
    <div class="buttons">
        <button id="button1">Get all Pokémon</button>
        <button id="button2">Get a random Pokémon</button>
    </div>
    <footer>Developed by Ironhack</footer>
</body>
</html>