<div id="nav-bar">
<ul>
    <li><a href="./../views/index.hbs">Home</a></li>
    <li><a href="./../views/all-beers.hbs">Beers</a></li>
    <li><a href="./../views/random-beers.hbs">Random Beers</a></li>
</ul>
</div>

<img id="home-page-beer-image" src="./../public/images/beer.png">

<a href="./../views/all-beers.hbs">Check the Beers</a>
<a href="./../views/random-beers.hbs">Check a Random Beer</a>