<div class="main-page">
    <img src="/images/beer.png" alt=""><br><br>
    <a class="btn btn-primary btn-lg" href="/beers" role="button">Check the Beers!</a><br>
    <a class="btn btn-primary btn-lg" href="/randombeer" role="button">Check a Random Beer!</a>
</div>