<div id='index-wrapper'>
  <img id='beer-img' src='/images/beer.png' alt='Beer' /><br /><br /><br />
  <button>
    <a href='/beers'>Check the Beers!</a><br />
  </button>
  <br />
  <button>
    <a href='/random-beers'>Check a Random Beer</a>
  </button>
</div>