<div class="d-flex justify-content-center align-items-center flex-colum mt-5">
    <img src="./images/beer.png" class="rounded mx-auto d-block" alt="beer">
    <br>
    <a href="/beers" class="btn btn-primary btn btn-secondary btn-lg active" role="button" aria-pressed="true">Check the
        Beers!</a>
    <br>
    <a href="/random_beer" class="btn btn-primary btn btn-secondary btn-lg active" role="button"
        aria-pressed="true">Check a Random
        Beer</a>
    <br>

</div>