<main id="home-container" class="center">
  <img src="/images/beer.png" alt="beer">
  <a class="btn btn-outline-dark btn-home" href="/beers" role="button">All beers</a>
  <a class="btn btn-outline-dark btn-home" href="/random-beer" role="button">Random beer</a>
</main>
