
    <div>

   
    {{#if imageUrl}}
    <img src='{{imageUrl}}' alt="user">
    {{/if}}
    <a href="/beers">Check the Beers!</a>
    <a href="/random-beer">Check a Random Beer!</a>

     </div>
    


