<div class="container text-center ">
    <div>
        <img src="./images/beer.png" alt="" width="320" class="mt-5">
    </div>

    <div>
        <a class="btn btn-primary mt-3" href="/beers" role="button">Check the beers!</a>
    </div>
    <div>
        <a class="btn btn-primary mt-3" href="/random-beer" role="button">Check a random beer</a>

    </div>
</div>