<div>
  <img alt='beer' src='/images/beer.png' id='beer-img' />
</div>
<div class='button-holder'>
  <button class='button-generic' type='button' onclick="location.href='/beers'">
    Check the Beers!
  </button>
</div>
<div class='button-holder'>
  <button
    class='button-generic'
    type='button'
    onclick="location.href='/random-beer'"
  >
    Check a Random Beer!
  </button>
</div>