<div class="home-page">
    <img src="/images/beer.png" alt="a beer here">
    <div class="home-page-links">
        <a href="/beers" class = "button">Check the beers</a>
        <a href="/random-beer" class = "button">Check a random beer</a>

    </div>
</div>