
<div class="container-fluid justify-content-center">
    <div class="row justify-content-center">
       
            <div class="col-12 content-center">
                <img class="image" src="images/beer.png" alt="Beer-image">
            </div>
            
            <div class="col-6 justify-content-center">
                <button type="button" class="btn btn-dark  beer-btn"> <a href="/beers">Check the Beers!</a> </button>
            </div>
            
            <div class="col-6 justify-content-center">
                <button type="button" class="btn btn-dark  beer-btn"> <a href="/random-beer">Check a Random Beer!</a> </button>
            </div>
        
    </div>
</div>

