<div class="home-wrapper">
    <img class="home-img" src="/images/beer.png" alt="A cartoon image of a beer">
    <div class="button-wrapper">
        <a href="/beers">
            <button>Check the Beers!</button>
        </a>
        <a href="/random-beer">
            <button>Check a Random Beer!</button>
        </a>
    </div>
</div>