<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="containerIndex">
        <img class="beer-pic" src="/images/beer.png"/>
        <div class="buttons">
            <a href="/beers"><button class="button1">Check the Beers!</button></a>
            <a href="/random-beer"><button class="button2">Check a Random Beer</button></a>
        </div>
    </div>   
</body>
</html>




