<div id='main-page'>
  <img src='../images/beer.png' alt='beer' />

  <a href='/beers' class='btn btn-dark'>Check the Beers!</a>
  <a href='/random-beer' class='btn btn-danger'>Check a random beer!</a>
</div>