<div class="container">

    <div class="column justify-content-center">


        <h1><strong>IronBeers</strong> </h1>

        <img src="/images/beer.png" class="main-photo" alt="Beer main image">

        <div class="flex-row justify-content-around">
            <a href="/beers" class="btn btn-dark btn-lg main-button">Check the Beers!</a>
            <a href="/random-beer" class="btn btn-dark btn-lg main-button">Check a Random Beer</a>
        </div>

    </div>

</div>