<div class="container">
    <img class="beerimg mt-5" src="/images/beer.png" alt="beer">
    <a class="btn btn-primary btn-lg" href="/beers">Check the Beers!</a>
    <a class="btn btn-primary btn-lg" href="/random-beer">Check a Random Beer!</a>

</div>