<div>
    <div class="home-container">
            <div class="home">
                <img class="home-img-top" src="/images/beer.png" alt="beer-image">
                <div class="home-body">
                    <a class="home-btn" href="/beers">Check the Beers!</a>
                    <a class="home-btn" href="/random-beers">Check a Random Beer!</a>
                </div>
            </div>
    </div>
</div>