<img src="images/beer.png" alt="beer" height="400" width=""400>
    
    <div>
        <div>
            <a  href="/beers">CHECK THE BEERS</a>
        </div>
        <div>
            <a  href="/random-beer">RANDOM BEER</a>
        </div>
    </div>