<div>


</div>

<img src="/images/beer.png" alt="">
<button type="button">Check the Beers!</button>
<button type="button">Check a Random Beer!</button>



<footer>
    <p>Develop by Ironhack ;)</p>
</footer>