<div class="homepage">

    <img src="/images/beer.png" alt="Beer images">

    <a href="/beers" class="btn btn-dark btn-lg bg-primary">Check the Beers!</a>

    <a href="/random-beer" class="btn btn-dark btn-lg bg-primary">Surprise me!</a>
	
</div> 