
<div class="card">

<img src="./images/beer.png" alt="beer" />




</div>
<div>
    <a  href='/beers' class="button">Check the Beers!</a>
<a  href='/random-beer' class="button">Check a Random Beer</a>
</div>