<div class="home">
    <img class="beer-pint" src="/images/beer.png" alt="good beer">
    <a class="home-btn beers-btn" href="/beers">Check the beers</a>
    <a class="home-btn random-btn" href="">Check a random Beer!</a>
</div>