<h1>index/home page</h1>

<div id="beer-image">
    <img src="/images/beer.png" alt="cartoon beer image">
    <a href="/beers">Check the Beers!</a>
    <a href="/randomBeer">Check a Random Beer!</a>
</div>
