<div>
    <div class="container">
        <img class="beerImage" src="/images/beer.png" alt="geb=neric-beer">
        <a class="btn btn-info" href="/beers">Check the Beers!</a>
        <a class="btn btn-info" href="/random-beer">Check a Random Beer!</a>
    </div>

</div>