<section class="py-3 py-md-5">
    <div class="container text-center">
        <img src="/images/beer.jpg"  class="w-100" style="max-width:600px" alt="beer illustration"/>
        <h1>World Of Beers</h1>
        <p class="lead">A curated list of the finest beers.</p>
        <div>
            <a href="/beers" class="btn btn-warning btn-lg mx-2">Check The Beers</a>
            <a href="/beers/random" class="btn btn-outline-dark btn-lg mx-2">Random Beer</a>
        </div>
    </div>
</section>