<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    
    <img src="{{img}}" alt=""  width="200px" height="200px" class="img-fluid">
    <div class="container btn-grupales">
        <a href="{{beer}}" class="btn btn-primary">Check the Beers!</a>
        <a href="{{randomBeer}}" class="btn btn-primary">Check the Beers!</a>
    </div>
    
</body>
</html>