<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>

    <img src='/images/beer.png' alt='beer' />

    <div class='box-buttons'>
      <form action='/beers'>
        <input class='button' type='submit' value='Check the beers!' />
      </form>

      <form action='/random-beer'>
        <input class='button' type='submit' value='Check a Random Beer' />
      </form>
    </div>
  </body>
</html>