<div class="text-center">
    <img src="./images/beer.png" class="rounded" alt="beer">
</div>

<br>


<div class="text-center">
    <a href="/beers"><button class="btn btn-primary" type="button">Check the Beers!</button></a>
</div>
<br>
<div class="text-center">
    <a href="/random-beer"><button class="btn btn-primary" type="button">Check a Random Beer</button></a>
</div>