<div class='main'>
  <div><img src='/images/beer.png' alt='' />
  </div>
  <div>
    <div>
      <button><a href='/beers'>Check the beers!</a></button>
    </div>
    <div>
      <button><a href='/random-beer'>Check a random beer!</a></button>
    </div>
  </div>
</div>
