<div>
    <img class="image" src="/images/beer.png" />
    <button class='button1' type="button"><a href="/beers">Check the Beers!</a></button>
    <button class='button2' type="button"><a href="/random-beer">Random Beer</a></button>
    </div>
</div>