<div class="index-content">
    <div class="beer-img">
        <img src="images/beer.png">
    </div>
    <div class="index-button">
        <a href="/beers">Check the Beers!</a>
    </div>
    <div class="index-button">
        <a href="/random-beers">Check a Random Beer!</a>
    </div>
</div>