<div>
<img class="home-beer" src="images/realBeer.png" alt="beer jar" />
</div>

<div class="home-buttons">

<a class="button" href="/beers">Check the beers!</a>
<a class="button" href="/randomBeer">Check a random beer!</a>  

</div>

<footer class="footer">
    <p>Develop by María for Ironhack ;)</p>
</footer>