<div>
   <div class="container">
      <img src="/images/beer.png" class="rounded mx-auto d-block py-5" alt="a cold beer" style="padding-left: 5rem">
   </div>
   
 <a href="/beers">
   <button href="/beers" type="button" class="btn btn-primary mx-auto">Check the beers!</button>
 </a>
 <a href="/random-beer">
   <button href="/random-beer" type="button" class="btn btn-primary mx-auto">Check a random beer</button>
</a>
</div>