<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container mt-5 text-center my-4">
        <img src="/images/beer.png" class="img-responsive" alt="titulo" width="350" />
    </div>
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button"><a href="/beers" style="color:white; text-decoration:none"> Check
                the
                Beers!</a></button>
        <button class="btn btn-primary" type="button"><a href="/Random_beer" style="color:white; text-decoration:none">
                Check
                a Random
                Beer</a></button>
    </div>
</body>

</html>