

<div class="container text-center d-flex flex-column justify-content-center">
        
    <img src="./images/beer.png" class="rounded mx-auto d-block mt-5 w-25" alt="Beer">
       
    <div class="d-grid gap-2 col-3 mx-auto">
            
        <a class="btn btn-primary btn-lg mt-5" href="/beers" role="button">Check the Beers!</a>
            
        <a class="btn btn-primary btn-lg mt-5" href="/randomBeers" role="button">Check a Random Beer</a>

    </div>
   
</div>
