<section class="section1">
<img src='/images/beer.png' alt='' class="beercup"/>
<a href='/beers' class="buttonstyle">Check the Beers</a>
<a href='/random-beer' class="buttonstyle">Check a Random Beer!</a>
</section>
