



<div class="inFlex">
<img class="beerMug" src="images/beer.png" alt="beer">
<button><a href="/beers">Check the Beers!</a></button>
<button><a href="/random-beers">Check Random Beer!</a></button>
</div>