<div>

<img id="main-img" src="/images/beer.png" alt="beer-image">

 <a id="button1" href="/beers" class="btn btn-primary btn-sm" >Check the beers!</a>

  <a id="button2" href="/random-beer" class="btn btn-primary btn-sm">Check a random beer!</a>

</div>

