<html>

  <nav>
    <h1 style='font-size: 50px'>IronBeers</h1>
    <a href='/'>Home</a>
    <a href='/beers'>Beers</a>
    <a href='/random-beer'>Random Beer</a>
  </nav>
  <div>
    <img class='front-beer' src='/images/beer.png' />
  </div>
  <div>
    <button><a href='/beers'>Check the beers!</a></button><br /><br />
    <button><a href='/random-beer'>Check a random beer</a></button>
  </div>
</html>