<div class="flex flex-col items-center space-y-6 p-3">
 
 <img class="w-4/12 p-6" src="/images/beer.png"/>

    <a href="/beers" class="flex bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 rounded-lg font-medium text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline w-6 stroke-current text-white stroke-2" viewBox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <line x1="5" y1="12" x2="19" y2="12"/>
        <polyline points="12 5 19 12 12 19"/>
        </svg>
        Check the Beers!
    </a>

    <a href="/beers" class="flex bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 rounded-lg font-medium text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline w-6 stroke-current text-white stroke-2" viewBox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <line x1="5" y1="12" x2="19" y2="12"/>
        <polyline points="12 5 19 12 12 19"/>
        </svg>
        Check a Random Beer
    </a>
</div>