
<div class="index">
    <img src="/images/beer.png" alt="beer image">
    <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
    <a class="btn btn-primary" href="/random-beer" role="button">Check a Random Beer</a>
</div>