<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <div class="container-fluid">
            <img src="images/beer.png" alt="Beer-image">
        </div>
        
        <div class="container-fluid">
            <button type="button" class="btn btn-dark"> <a href="/beers">Check the Beers!</a> </button>
        </div>
        
        <div class="container-fluid">
            <button type="button" class="btn btn-dark"> <a href="/random-beer">Check a Random Beer!</a> </button>
        </div>


    </div>

</body>
</html>
