<div>
    <img class="logo" src="images/beer.png">
</div>
<div>
    <div class="col-md-12">
        <a href="/beers" class="btn btn-primary btn-sm">Check the Beers!</a>
    </div>
    <div class="col-md-12">
        <a href="/random-beer" class="btn btn-primary btn-sm">Check the RandomBeer!</a>
    </div>
    

</div>