<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers Index</title>
</head>
<body>
    <div class="container">
        <img src="/images/beer.png" alt="beer" id="homepageImg">

        <div class="row" id="homepageBtns">
            <button class="beersBtns">
                <a href="/beers" class="homepageAs">Check the Beers!</a>
            </button>
            <button class="beersBtns">
                <a href="/random-beer" class="homepageAs">Check a Random Beer!</a>
            </button>
        </div>
    </div>
    
</body>
</html>