<div
  class='container d-flex flex-column justify-content-center align-items-center'
>
  <div class='image-wrapper'>
    <img src='/images/beer.png' alt='A foamy beer' />
  </div>

  <div class='home-buttons d-flex flex-column  m-3 align-items-center'>
    <a href='/beers' class="btn btn-home">Check the Beers!</a>
    <a href='/random-beer' class="btn btn-home">Check a Random Beer!</a>
  </div>
</div>