<div class="container">
    <img src="/public/images/beer.png" alt="image-beer">
    <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
    <a class="btn btn-primary" href="/random-beers" role="button">Check a Random Beer</a>

</div>