<main class="container">

    <div><img src="/images/beer.png" /></div>

    <div><a class="btn btn-dark" href="/beers">Check the Beers!</a></div>

    <div><a class="btn btn-dark" href="/random-beers">Check a Random Beer!</a></div>

</main>