<div class="container">
    <div class='row'>
        <img class="beer-img" src="/images/beer.png" alt="Beer">
    </div>
    <div class="row">
        <a href="/beers">Check the Beers!</a>
    </div>
    <div class="row">
        <a href="/random-beer">Check a Random Beer!</a>
    </div>
</div>