<div class="home">

    <img src="/images/beer.png" alt="beer">



    <div>
        <a class="btn btn-primary" href="/beers">Check the Beers!</a>
    </div>
    <div>
        <a class="btn btn-primary" href="/random-beer">Check a Random Beer!</a>
    </div>
</div>