<div>
    <img src="/images/beer.png">

    <div>
                    <a href="/beers" class="btn btn-primary">Check the Beers!</a>
                <div class="card-body"></div>
                <a href="/random-beer" class="btn btn-primary">Check the Beers!</a>

</div>