<div class="main">
    <img class="logo" src="/images/beer.png" alt="" height="100px">
    <div class="btns">
        <a href="/beers">Check the Beers!</a>
        <a href="/randombeers">Check a Random Beer</a>
    </div>
</div>