<div class="row justify-content-center">
    <div class="col-12 col-md-3">
        <img src="/images/beer.png" class="img-fluid mt-5 mb-5" alt="Beer" />
        <div class="d-grid gap-2">
            <button class="btn btn-primary"><a class="link-light" href="/beers">Check the Beers!</a></button>
            <button class="btn btn-success"><a class="link-light" href="/random-beer">Check a Random Beer!</a></button>
        </div>
    </div>
</div>