<div>
    
    <div class = "beerImg"> 
        <img src="/public/images/beer.png" alt="Image of a Beer">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beers">Check a Random Beer</a>
    </div>
   

</div>