<section class="general-container">
    <img class="pic-beer" src="/images/beer.png" alt="Beer-Pic">
    <div class="beer-click">
        <a href="/beers"> <button class="beer-button"> Check the Beers! </button> </a>
        <a href="/random-beers"> <button class="beer-button"> Check a Random Beer </button> </a>
    </div>
</section>