<div class="container text-center myIndex">
    <img src="/images/beer.png" class="rounded" alt="beer photo">
</div>
<div class="container text-center myIndex">
    <a class="btn btn-primary btn-lg" href="/beers" role="button">Check the Beers!</a>
</div>
<div class="container text-center myIndex">
    <a class="btn btn-primary btn-lg" href="/random-beer" role="button">Check a Random Beer</a>
</div>