<section class="container mt-5">

    <div class="col logo">

        <img src="./images/beer.png" class="logo m-3 rounded mx-auto d-block" alt="beerImg">

    </div>

    {{!-- arreglar el size del beer img --}}

    <div class="beer">
        <a href="/beers" class="m-3 btn btn-primary btn-lg">Check the Beers!</a>
    </div>

    <div>
        <a href="/random-beer" class="m-3 btn btn-primary btn-lg">Check a Random Beer</a>
    </div>


</section>