
<div>
    <p>
        {{beersFromAPI.name}}
    </p>
</div>
<section class='container'>
  <div class='homePage'>
    <div class='beer-img-wrapper'>
      <img class='beer-img' src='/images/beer.png' alt='beer img'/>
    </div>
    <div id='beers-div'>
        <a href='/beers' class='beers-text'>
            <button type="button" class="beers-button">Check the Beers!</button>
        </a>
    </div>
    <div id='random-button'>
        <a href='/random-beer' class='random-text'>
            <button type="button" class="random-button">Check a Random Beer!</button>
        </a>
    </div>
  </div>

</section>