<div>
    <img src = "/images/beer.png" class="w-25 mb-5" />
</div>

<a href="/beers" class="btn btn-primary d-block mb-2 mt-2">Check the Beers</a>
<a href="/random-beers" class="btn btn-primary d-block mb-4 mt-2">Check a random Beer!</a>


