
<div id="index">
<img src="/images/beer.png" width="400" height="400"> <br>

</div> <br>
<div id ="buttom">
<button> <a class="btnbeers" href="/beers">Check the beers</a></button><br> <br>
<button> <a class="btnbeers" href="/random-beer">Check a Random Beer</a></button>

</div>
