<div class="principal">
    <div class="container">
        <img class="beerIndex" src="/images/beer.png" alt="">
        <a href="/beers"><button class="btn btn-primary">Check de beers!</button></a>
        <a href="/random-beer"><button class="btn btn-primary">Check a Random Beer!</button></a>
    </div>
</div>