<div class="main-container">
    <img src="/images/beer.png" alt="">
    <a class="button" href="/beers">Check the Beers!</a>
    <a class="button" href="/random-beers">Check a Random Beers!</a>
</div>