<div>
  <img src='/images/beer.png' alt='Beer' />
</div>
<div class='buttons'>
  <button><a href='/beers'>Check the Beers!</a></button>
  <button><a href='/randomBeer'>Check a Random Beer</a></button>
</div>