<div class="wrapper-index">
    <div class="index-img">
        <img src="/images/beer.png" class="img-beer" alt="beer-img">
    </div>
    <div class="list-group">
        <a href="/beers" class="index-buttons">Check the Beers!</a>
        <a href="/random-beer" class="index-buttons" id="random-button">Check a Random Beer</a>
    </div>
</div>