<img src="/images/beer.png" alt="beer">


    <div class="button-wrap">
        <a href="/beers" >Check the Beers!</a>
    </div>

    <div class="button-wrap">
        <a href="/random-beer" >Check a Random Beer</a>
    </div>
