<div class="container">
    <div class="row">
      <div class="col mt-5 d-flex justify-content-center align-items-center">
        <img src="images/beer.png" class="img-fluid" alt="Centered Image">
      </div>
    </div>
    <!-- align a items to center-->
    <div class="row mt-5 p-2">
    <a class="btn btn-primary btn-lg btn-block mb-2" href="beers" role="button">Check the Beers!</a>
    <a class="btn btn-primary btn-lg btn-block mb-2" href="random-beer" role="button">Check a Random Beer!</a>
        </div>
  </div>
