<div class='container'>
  <div class='row mb-5 justify-content-center'>

    <div class='beer-icon col-4'>
      <img src='/images/beer.png' alt='beer' />
    </div>
  </div>

  <div class='row text-center'>

    <div class='mt-5 mb-1'>
      <a class='btn btn-custom shadow' href='/beers' role='button'>Check the Beers!</a>
    </div>

    <div class='mt-1'>
      <a class='btn btn-custom shadow' href='/randomBeer' role='button'>Check a Random Beer!</a>
    </div>
  </div>

</div>