<div class="index-container">
    <div id="second-container">
        <img id="beer-img" src="/images/beer.png" alt="Beer image">
        <div id="button-container">
            <a class="btn btn-primary button-margin" href="/beers">Check the beers!</a>
            <a class="btn btn-primary button-margin" href="/random-beer">Check a random beers!</a>
        </div>
    </div>
</div>