<div class="main-container m-5">
    <img class="mb-5" src="/images/beer.png" alt="">
    <a class="btn btn-primary mb-4" href="/beers" role="button">Check the beers!</a>
    <a class="btn btn-primary mb-4" href="/random-beer" role="button">Check random beer!</a>
</div>