
<img class="initialBeer" src="/images/beer.png" alt="beer" />

<div class="buttons">
    <a class="checkBeers" href="/beers">Check the Beers!</a>
    <a class="checkRandom" href="/random-beer">Check a Random Beer</a>
</div>
