<div>
<div class="container">
    <hr>
    <img class="beerImage" src="/images/beer.png" alt="">
    <img class="beerImages" src="/images/beer.png" alt="">
    <a href="/beers" type="button" class="btn btn-primary">Check the Beers! </button>
    <a href="/random-beer" type="button" class="btn btn-primary">Check a Random Beer! </button>
    
</div>

</div>