<body>
  <div class='home-page-body'>
    <div class='beer-image'>
      <img src='/images/beer.png' class='beer-image' />
    </div>
    <div class='buttons'>
      <button class='button-text'><a class='button-text' href='/beers'>Check the
          Beers!</a></button>
      <div class='buttons'>
        <button class='button-text'><a
            class='button-text'
            href='/random-beer'
          >Check a Random Beer!</a></button>
      </div>
    </div>
  </div>
</body>