<div class="block">
    <div class="block__img">
        <img src="/images/beer.png" alt="Main image" class = 'mainimage'>
    </div>
    <div class="block__beersbBtn btns">
        <a href="/beers">Check the Beers!</a>
    </div>
    <div class="block__ranBtn btns">
        <a href="/random-beer">Check a Random Beer!</a>
    </div>
</div>