<div class="div-beer">
    <img src="./images/beer.png" class="beer"/>
</div>
<div class="div-button">
    <button class="beer-button button1">
        <a class= "beer-link" href="/beers">Check the Beers!</a>
    </button>
    <button class="beer-button button1">
        <a class= "beer-link" href="/random-beers">Check a Random Beer</a>
    </button>
</div>
