<div class = "main">
    <div>
        <img src="/images/beer.png" alt="beer picture">
        <a class="nav-bar-item" style="font-size: xxx-large;font-weight:bolder;color:white;background-color:grey;"> BEERS </a>
    </div>
</div>

    {{!-- <div class = "horizontal">
        <div>
            <a href="/beers" class = "button">Beers</a>
        </div>
        <div>
            <a href="/random-beer" class = "button">Random Choice</a>
        </div>

    </div> --}}


