<div style="display: flex; flex-direction:column;align-items:center; width:100%">
    <img src="./images/beer.png" alt="beer" style="height: 450px;width:350px;">
    <div style="display: flex; flex-direction:column;margin:30px 70px 40px 0 ;">
        <button><a href="/beers">Check the Beers!</a></button>
        <button><a href="/random-beer">Check a Random Beer!</a></button>
    </div>
</div>