<div class="container">
<img class="main-beer" src="/images/beer.png" alt="beer">
</div>


<div class="main-button">
{{!-- <a class="button-link" href="/beers">Check the Beers!</a>
<a class="button-link" href="/random-beer">Check a Random Beer</a> --}}

<a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
<a class="btn btn-primary" href="/random-beer" role="button">Check a Random Beer</a>
</div>