<div class="uk-align-center uk-grid-column-medium">
    <img data-src="images/beer.png" width="800" height="600" alt="beer" uk-img class="uk-align-center">
    <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-1@s uk-text-center" uk-grid>
        <div>
            <button class="uk-button uk-button-primary"><a class="uk-link-reset" href="/beers">Check the beers!</a></button>
        </div>
        <div>
            <button class="uk-button uk-button-primary"><a class="uk-link-reset" href="/random-beer">Check a random beer</a></button>
        </div>
    </div>
</div>
