<div class="imgCenter">
    	<img class="imgBeerCenter" src="/images/beer.png" alt="beer mug">
        <a class="CheckButtons" href="/beers">Check the Beers</a>
        <a class="CheckButtons" href="/random-beer">Check random Beer</a>
</div>