<div>
  <img src='public/images/beer.png' alt='beer image' width='300 px' />
</div>

<div>
  <button><a href='/beers'>Check the Beers!</a></button>
  <button><a href='random-beer'>Check a Random Beer</a></button>
</div>