<div>
  <img src='/images/beer.png' alt='beer image' />
</div>

<div>
  <input
    type='button'
    onclick="location.href='/beers';"
    value='Check the beers!'
  />
  <input
    type='button'
    onclick="location.href='/randombeers';"
    value='Check a random beer!'
  />
</div>