
<img class="index-image" src="/images/beer.png" alt="beer-image">
<div class="btns"><a class="waves-effect waves-light btn-large " href="/beers">Check the Beers!</a></div>
<div class="btns"><a class="waves-effect waves-light btn-large " href="/random-beers">Check a Random Beer</a></div>

