<div>
<div class="parent-container">
<img class="beer" src="/images/beer.png" alt="beer">
</div>
<div class="linksParent">
  <a class="links"href="/beers">Check the beers!</a>
  <a class="links" href="/random-beers">Check a random beer!</a>
</div>
</div>