<div>
  <main>
    <a href="/beers"><button>Check the Beers!</button></a>
    <a href="/random-beers"><button>Check a Random Beer</button></a>
    <img src="/images/beer.png" alt="Big Beer Mug">
  </main>
</div>