<div class="beerdiv">
    <img class="beerimg" src="/images/beer.png" alt="beer image">


   <div>
     <input class="btn" type="button" onclick="location.href='/beers';" value="Check the beers!" />
     <input class="btn" type="button" onclick="location.href='/randombeers';" value="Check a random beer!" />
   </div>

</div>