<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center beer"><img src="/images/beer.png" alt="beer image"></div>
        <div class="col-lg-12 text-center"><a href="/beers" class="btn btn-primary Beers">Check the beers!</a></div>
        <div class="col-lg-12 text-center"><a href="/random-beer" class="btn btn-primary Random">Check a random
                beer!</a></div>
    </div>
</div>