
    <div class="img-class">
    <img  class="beer-img"src="/images/beer.png" alt="beer-img">
    </div>
    <div class="button-div">
    <a  class ='button' href="/beers" margin-left="10px">Check the Beers!</a>
    <a  class='button' href="/randomBeers">Check a Random Beer</a>
    </div>
]