<div id="container">
    <div id="home-div">
        <img src="images/beer.png" alt="Beer">
        <a href="beers" class="btn btn-primary btn-lg">Check the beers!</a>
        <a href="random-beer" class="btn btn-secondary btn-lg">Check a random beer</a>
    </div>
</div>