<div class="inicio">
    <img src="/images/beer.png" alt="Beer img">
    <div class="links">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer!</a>
    </div>
</div>