<div class="main-menu">
    <img class="img-menu" src="/images/beer.png" alt="beer-image">
    <a class="links-menu-1" href="/beers">Check the Beers!</a>       
    <a class="links-menu-2" href="/random-beer">Check a Random Beer!</a>    
</div>