<div class="body">
  <img class="addpadding beericone" src="/images/beer.png" alt="beer img">
  <a class="buttonbeer" href="/beers">Check the Beers</a>
  <a class="buttonbeer" href="/random-beer">Check a Random Beer!</a>
</div>