<div class="container">
    <div class="row">
            <img class ="beer-image" src="/images/beer.png">
            <a href="/beers" class="btn btn-primary btn-lg btn-block">Check the Beers!</a>
            <a href="/random-beer" class="btn btn-primary btn-lg btn-block">Check a Random Beer!</a>

    </div>

</div>