<div class="text-center m-5">
    <div class="col-md-4 px-0 mx-auto">
        <img src="/images/beer.png" alt="Iron beer main image" class="img-fluid">
    </div>
    <div class="m-5 d-flex flex-column">
        <a class="btn btn-home text-white mx-auto col-md-3" href="/beers" class="">Check the Beers!</a>
        <a class="btn btn-home text-white mx-auto mt-4 col-md-4" href="/random-beer" class="">Check a Random Beer</a>
    </div>
</div>