<section id ="home">
    <img id="beerImage" src="images/beer.png" alt="Beer"/>

    <div class="btnContainer">
        <a class="btn-primary" href="/beers">Check the Beers!</a>
        <a class="btn-secondary" href="/random-beer">Check a Random Beer!</a>
    </div>

</section>