<div class="home-container">
<img src="/images/beer.png" alt="a mug of beer" class="beer-image">
<a href="/beers" class="home-a">Click the Beers!</a>
<a href="/random-beers" class="home-a">Click a Random Beer!</a>
</div>