<div class='container'>
  <div class='container m-5'>
    <img class='mx-auto d-block beer-main' src='/images/beer.png' alt='beer' />
  </div>

  <div class='container text-center m-5'>
    <p><a href='/beers' class='btn btn-primary btn-lg'>Check the Beers!</a></p>
    <p><a href='/random-beer' class='btn btn-primary btn-lg'>Check a Random
        Beer!</a></p>
  </div>
</div>