<div>
<img src="images/beer.png" alt="A beer cup"/>
<a href = "/beers" class = "btn btn-primary">Check the Beers!</a>
<a href = "/random-beers" class = "btn btn-primary">Check a Random Beer!</a>
</div>