<div class="text-center d-grid gap-2 col-6 mx-auto">
    <img src="/images/beer.png" class="img-fluid" alt="beer">

    <a href="/beers" class="btn btn-primary btn-lg" type="button" aria-disabled="true">beers</a>
    <a href="/random-beer" class="btn btn-primary btn-lg" type="button" aria-disabled="true">random-beer</a>
</div>