<main class="container">

    <div class="logo">

        <img src="/images/beer.png" alt="beer">

    </div>

    <div class="buttons">

    <a href="/beers" class="btn btn-primary">Check the Beers!</a>


    <a href="/random-beers" class="btn btn-primary">Check a Random Beer</a>

    </div>


</main>