<div class="table">

<img src="images/beer.png" alt="fresh beer" id="chope">
<div class="btn">
    <a href="/beers" class="button">Click the Beers!</a>
</div>
<div class="btn">
    <a href="/random-beers" class="button">Click a Random Beer!</a>
</div>
</div>

