<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4 text-center">
            <img src="/images/beer.png" alt="beer" id="beerHome">
            <a href="/beers" class="btn btn-primary">Check the Beers!</a>
            <a href="/random-beer" class="btn btn-primary">Check a Random Beer</a>
        </div>
    </div>
</div>