<div class='header'>
  <img class='beerImg' src='/images/beer.png' alt='beer image' />
  

   <a class='button1' href='/beers'>Check the Beers!</a>
      <a class='button2' href='/randombeer'>Check a Random Beer!</a>

  

</div>