<div id="home">
 <img class="beer-jug" src="../images/beer.png" alt="beer jug image">

    <div class="buttons">
        <a class="btn btn-primary mx-3 mt-3" href="/beers" role="button">Check the Beers!</a>
        <a class="btn btn-primary mt-3 d-grid" href="/randomBeer" role="button">Check a Random Beer!</a>
    </div>

</div>