<div class='container'>
  <div class='row align-items-center justify-content-center'>
    <div class='col-6 justify-content-center'>
      <img src='images/beer.png' alt='Jarra de cerveza' />
      <div>
        <a href='/beers'>Check the Beers!</a>
      </div>
      <div>
        <a href='/random-beer'>Check a Random Beer</a>
      </div>
    </div>
  </div>
</div>