<div>
    <img class="beer" src="/images/beer.png" alt="beer image">

    <a class="button" href="/beers">Check the beers!</a>
    <a class="button" href="/random-beer">Check a random beer!</a>  


</div>