

<div class="index-container">
    <img class="beer" src="/images/beer.png" alt="beer">
    <button><a href="/beers">Beers</a></button>
    <button><a href="/random-beers">Random Beers</a></button>

</div>