<div class="row">
    <div class="col-4"></div>
        <div class="col-4">
            <img class="index-image" src="./images/beer.png" alt="Glass of beer">
            <a href="/beers" class="btn btn-primary button">Check the Beers!</a>
            <a href="random-beer" class="btn btn-primary button">Check a random Beer!</a>
        </div>
    <div class="col-4"></div>
</div>