<div id="bear-img-btn">
    <img id="beer-img" src="images/beer.png" alt="beer image">
    <a class="button-beer" href="/beers">Check the beers !</a>
    <a class="button-beer" href="/random-beer">Check a random beer</a>
</div>