<div class='main'>
  <img src='/images/beer.png' alt='IMAGE BEER' />
  <a class='btn btn-primary' href='/beers'>Check for beers!</a>
  <a class='btn btn-primary' href='/random-beer'>Check for a RANDOM beer!</a>

</div>