<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-center">
            <img src="/images/beer.png" alt="Beer icon" class="header-img">
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary m-2" href="/beers">Check the Beers!</a>
            <a class="btn btn-primary m-2" href="/random-beers">Check a Random Beer</a>
        </div>
    </div>
</div>