<div class="container">
<img src="/images/beer.png" class="card" alt="beer">
<a class="btn btn-primary" href="#" role="button">Check the Beers!</a> 
</br>
<a class="btn btn-primary" href="#" role="button">Check a Random Beer</a>

</div>