<div>
    <div class="image">
        <img src="/images/beer.png" alt="Beer" width="297" height="298">
    </div>
    <div class="button-layout">
        <div><a href="/beers"><button>Check the Beers!</button></a></div>
    </div>
    <div class="button-layout">
        <div><a href="/random-beer"><button>Check a random Beer!</button></a></div>
    </div>
</div>