<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La web de las Cervezas</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
</head>



<body>

    <div class="container mt-5">
        <img src="/images/beer.png" alt="beers" class="beer">


        <hr>

    </div>
    <div>
        <a class="btn btn-primary mt-auto" href="/beers" role="button">Check the beers !</a>
        <br>


        <br>
        <a class="btn btn-primary mt-auto " href="/random-beer" role="button">Check the random beer !</a>

    </div>

</body>

</html>