<div class="d-flex flex-column image">
    <img src="./images/beer.png" alt="Beer image" class="image">
    <a href="/beers" class="btnBeer">Check the Beers!</a>
    <a href="/random-beer" class="btnBeer">Check a Random Beer</a>
</div>