<div class='home'>
  <img class='giant-beer' src='/images/beer.png' />
  <a
    class='check-beer-button btn btn-primary'
    href='/beers'
    role='button'
  >Check the Beers!</a>
  <a
    class='check-random-beer-button btn btn-primary'
    href='/random-beers'
    role='button'
  >Check a Random Beer</a>
</div>