
<div>
  <img id="beerimage" src="images/beer.png" alt="bear image"> 
  </div>
  <div class="buttondiv">
    <button type="button" class="btn btn-primary btn-lg btn-block">Check the Bears!</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Check a Random Bear</button>
  </div>