<div class='row'>
  <div class='content-container'>
    <div class='img-container'>
      <img src='/images/beer.png' alt='Beer' />
    </div>

    <div class='btn-container'>
      <button class='btn'>
        <a href='/beers'>Check the Beers!</a>
      </button>
    </div>
    <div class='btn-container'>

      <button class='btn'>
        <a href='/random-beer'>Check a Random Beer!</a>
      </button>
    </div>
  </div>
</div>