
<section class="main">
    <img src="/images/beer.png" alt="Beer image">

    <a href="/beers" class="btn btn-primary">Check the Beers!</a>

    <a href="/random-beers" class="btn btn-primary">Check a Random Beer</a>
</section>


{{!-- <article class="row">
    <div class="col">
        <img src="/images/beer.png" alt="Beer image">
    </div>
</article>
<article class="row">
    <div class="col">
        <a href="/beers" class="btn btn-primary">Check the Beers!</a>
    </div>
</article>
<article class="row">
    <div class="col">
        <a href="/random-beers" class="btn btn-primary">Check a Random Beer</a>
    </div>
</article> --}}