<div>

    <div class="containers">
        <img src="/images/beer.png" alt="beer">
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary btn-lg" href="/beers" role="button">Beers</a>
            <a class="btn btn-primary btn-lg" href="/random-beers" role="button">Random Beers</a>
        </div>
    </div>
</div>