<div>
<img class= beer-img-home-page src="/images/beer.png" alt="Beer image">
</div>

<div class= btn-home>
    <button class= btn-index ><a href="/beers">Check the beers !</a></button>
    <button class= btn-index><a href="/random-beer">Check a Random Beer</a></button>
</div>
