
<div>
    <img src="../images/beer.png" alt="BEER-IMAGE" width="200" height="200">
</div>
<div>
    <button><a href="/beers">Check the Beers!</a></button>
    <button><a href="/random-beer">Check a Random Beer</a></button>
</div>