<div class="container">
    <img src="images/beer.png" class="beer-image">
    <a href="/beers" class="btn btn-dark btn-sm">Check the Beers!</a>
    <a href="/randomBeer" class="btn btn-dark btn-sm">Check a Random Beer!</a>
</div>