<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <img src="/images/beer.png" alt="Beer imagen">
    

    <button type="/beer">Check the Beers!</button>
     <button type="/beer">Check a random Beer!</button>
    {{!-- <a href="/beer">Check the Beers!</a>
    <a href="/random-beer">Check a random Beer!</a> --}}
</body>
</html>

{{!-- 
Tenia un div inicialmente  --}}