<div id="main-beer">
  <div id="beer">
    <img src="/images/beer.png">
  </div>
  <div class="buttons">
    <a class="check-beers" href="/beers">Check the beers!</a>
    <br/>
    <a class="check-beers" href="/random-beers">Check a random beer!</a>
  </div>
</div>