<div class='beer'>
  <img src='images/beer.png' alt='' />
</div>
<div class='buttons'>
  <div class='buttons-a'>
    <a class='nav-item nav-link' href='/beers'>Check the Beers!</a>
  </div>
  <div class='buttons-b'>
    <a class='nav-item nav-link' href='/random-beer'>Check a Random Beer</a>
  </div>
</div>