<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Document</title>

</head>
<body>
    <div class="beer">
        <img src="/images/beer.png" alt="">
    </div>
    <div class="buttons">
    <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
    <a class="btn btn-primary" id="button2" href="/random-beer" role="button">Check a Random Beer!</a>
    </div>
</body>
</html>