<div class = "img-home">
    <img src="/images/beer.png" alt="Beer image">
</div>
<div class="links-container">
    <div class="button"><a href = "/beers">Check the beers</a></div>
    <div class ="button"><a href= "/randomBeer">Check a random beer</a></div>
</div>
