<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <img src="/images/beer.png" alt="beer">
    <br>
        <a href="/beers" class="btn btn-dark btn-sm">Check the Beers!</a>
    <br>
        <a href="/random-beers" class="btn btn-lightbtn-sm">Check the Random Beer!</a>
        </div>
        
  </div>
</div>