<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="d-flex flex-column mb-3 text-center">
    <div class="separate">
        <img src="/images/beer.png" alt="beer">
    </div>
    <div class="separate">
        <button class="btn btn-secondary" >
            <a class="text1"  href="/beers">
                Check the beers!
            </a>
        </button>
    </div>
    <div class="separate">
        <button class="btn btn-secondary">
            <a class="text1" href="/random-beer">
                Check a Random Beer!
            </a>
        </button>
    </div>

</div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"crossorigin="anonymous"></script>

</body>
</html>



