<div class="container">
        <div class="home-beer">
                <img src="images/beer.png" alt="Beer">
        </div>
        <div class="buttons">
                <a href="/beers" class="btn btn-primary">Check the Beers!</a>
                <br>
                <a href="/random-beers" class="btn btn-primary">Check a Random Beer</a>
        </div>
</div>