<!-- views/index.hbs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1></h1>
        </div>
        <div class="image-container">
            <img src="/images/beer.png" alt="Beer Image">
        </div>
        <div class="button-container">
            <a href="/beers" class="button">Check the Beers!</a>
            <a href="/random-beer" class="button">Check a Random Beer</a>
        </div>
    </div>
</body>
</html>
