<div class="beers-container">
    <div class="card" style="width: 18rem;"></div>
    <img class="card-img-top" src="/images/beer.png" alt="Card image cap">

</div>

<div class="botones">
    <button type="submit" class="button" id="botonUno"><a href="/beers">Check the Beers </a></button>
    <button type="submit" class="button" id="botonDos"><a href="/randomBeer">Check a Random Beer </a></button>

</div>