<div>
<div class='body'>

    <img src="images/beer.png" alt="clip-art foaming beer" class='main-image'>

    <a href="/beers" class='main-btn'>Check the Beers!</a>
    <a href="/random-beer" class='main-btn'>Check a Random Beer</a>

</div>