<div class='home'>
  <div>
    <img src='./images/beer.png' alt='IronBeer Lab' />
  </div>
  <div>
    <a href='/beers'>check the beers</a>
  </div>
  <div>
    <a href='/random-beer'>check a random beer</a>
  </div>
</div>