<div style="text-align: center;" class="p-5">
<img src="/images/beer.png" alt="Beer image" height="400px">
<br><br>
<a type="button" class="btn btn-primary btn-lg" href="./beers">Check the Beers!</a>
<br><br>
<a type="button" class="btn btn-primary btn-lg" href="./random-beers">Check a Random Beer</a>
</div>