<section>
<div class="row">
    <img class="imagenCerveza" src="images/beer.png" alt="cerveza">
    <div class="buttons">

        <a class="btn btn-outline" href="/beers">Check the Beers!</a>
        <a class="btn btn-outline" href=" /random-beers">Check a Random Beer</a>
    </div>

</div>
</section>