
<div>
  <img src="/images/beer.png" alt="beer illustration">
</div>
<p>
    <a class="bt" href="/beers">Check the Beers!</a>
</p>

<p>
    <a class="bt" href="/random-beer">Check a Random Beer!</a>
</p>