<div style='height: 605px'>
  <div class='d-flex justify-content-center pt-5'>
    <img src='/images/beer.png' alt='Beer' height='350px' />
  </div>
  <div class='d-flex flex-column align-items-center'>
    <button
      type='button'
      class='btn mt-5 mb-3'
      style='background-color: #2081c3'
    ><a class='text-decoration-none' style='color:#f7f9f9' href='/beers/'>Check
        the Beers!</a></button>
    <button type='button' class='btn' style='background-color: #2081c3'><a
        class='text-decoration-none'
        style='color:#f7f9f9'
        href='/random-beer/'
      >Check a Random Beer</a></button>
  </div>
</div>