<div class="home">
    <figure><img src="/images/beer.png" alt="beer"></figure>
    <div class="home_butons">
        <a id="checkBeers" class="btn btn-primary btn-lg" href="/beers">Check the Beers!</a>
        <a id="checkRandomBeer" class="btn btn-secondary btn-lg" href="/random-beers">Check a random beer!</a>
    </div>
</div>