<div class="index">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img src="./../images/beer.png" alt="beer image">
        </div>

        <div class="col-12 d-flex justify-content-center">
            <button type="button" class="btn btn-primary btn-lg">
                <a href="/beers" class="button">Check the beers!</a>
            </button>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <button type="button" class="btn btn-primary btn-lg">
                <a href="/randombeer" class="button">Check a random beer!</a>
            </button>
        </div>

    </div>
</div>