<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a href="" class="btn btn-primary" type="button">Check the Beers</a>
            <a href="#" class="btn btn-primary" type="button">Check a Random Beer</a>
        </div>
    </div>
</div>

<img src="/images/beer.png" alt="">