<div class="home">
    <img src="./images/beer.png"/>
    <ul>
    <li><button type="button"><a href="/beers">Check the Beers!</a></button></li>
    <li><button type="button"><a href="/random-beers">Check a Random Beer</a></button></li>
    </ul>
</div>