


<figure class="beer">
    <img src="/images/beer.png" alt="image">
</figure>


<article class="buttons">

    <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button"><a href="/beers">Check the beers!</a></button>
    <button class="btn btn-primary" type="button"><a href="/random-beer">Check random beers!</a></button>
    </div>

</article>