<div class="center">
    <div class="beerPic">
        <img class="beerMug"  src='/images/beer.png' alt='' />
    </div>
    <br>
    <div class="buttonA">
        <input
            type='button'
            onclick="location.href='/beers';"
            value='Check Out the Beers!'
        />
    </div>
    <br>
    <div class="buttonB">
        <input
            type='button'
            onclick="location.href='/random-beer';"
            value='Check a Random Beer!'
        />
    </div>
</div>