<div>

    <img  src="/images/beer.png" alt="">
    <a class="nav-item nav-link" href="/beers">Check the Beers!</a>
    <a class="nav-item nav-link" href="/randombeers">Check a Random Beer</a>
    <!-- <a class="nav-item nav-link" href="/players">Players</a> -->

</div>
