<div>

   
<button type="button" class="btn btn-primary">
   <img src="/images/beer.png" alt="pig">
    </button>
   </div> 
<div>
<button type="button" class="btn btn-secondary">Check the Beers!</button>
<button type="button" class="btn btn-secondary">Check a Ramdom Beers!</button>
</div>


