<div class="container index">
    <div class="raw">
        <img src="/images/beer.png" alt="beer">

        <p> <a class="btn btn-primary" href="/beers">Check
                the Beers!</a></p>
        <p> <a href="/random-beer" class="btn btn-primary">Checka random Beers!</a></p>

    </div>

</div>