<div id='home'>
    <div>
        <img src = "/images/beer.png" alt= "Beer">
        <button><a href="/beers">Check the Beers!</a></button>
        <button><a href="/random-beers">Check a random Beer!</a></button>
    </div>
</div>