<div id="homepage-container">
    <img id="homepage-image" src="/images/beer.png">
    <div id="homepage-links">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beers">Check a Random Beer!</a>
    </div>
</div>