<div><img src='/images/beer.png' class='img-fluid' alt='...' /></div>
<div><a
    href='/beers'
    class='btn btn-primary btn-lg active'
    role='button'
    aria-pressed='true'
  >Check the Beers!</a>
  <a
    href='/random-beer'
    class='btn btn-primary btn-lg active'
    role='button'
    aria-pressed='true'
  >Check a Random Beer!</a></div>

