<div class="main-container">
    <img src="/images/beer.png">

    <div class="links">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer!</a>
    </div>
    </di