<div>

  <button type='button' class='btn btn-primary'><a
      href='/beers'
      class='btn btn-primary'
    >CHECK THE BEERS</a></button>
  <button type='button' class='btn btn-primary'><a
      href='/random-beer'
      class='btn btn-primary'
    >CHECK A RANDOM BEER</a></button>
</div>