<div id="container">
  <img src="/images/beer.png" alt="beer"/>
  <div class="button">
    <button id="checkBeer">Check the Beers!</button>
    <button id="checkRandomBeer">Check a Random Beer</button>
  </div>
</div>