<div>
    <a href="beers">Beers</a>
    <a href="random">Random Beers</a>
</div>

<div>
  {{{ body }}}
    <button href="beers"> Check the Beers! </button>
    <button href="random"> Check a Random Beer </button>
</div>