<div class="container">

<img src="/images/beer.png" alt="beer" id="beerHome">
 <a href="/beers" class="btn btn-primary">Check the Beers!</a>
 <a href="/random-beer" class="btn btn-primary">Check a Random Beer</a>
</div>