<div style="text-align:center">
  <img src='/images/beer.png'class="w-25 mb-5" />
</div>

<a href='/beers'class="btn btn-primary d-block mb-3 mt-2">Check the Beers!</a>
<a href='/random-beer'class="btn btn-primary d-block mb-2">Check a Random Beer</a>
