<div class="container">
    <div class="text-center ml-5">
        <img src="/images/beer.png">
    </div>
    <div class="text-center">
        <a href="/beers">
            <button type="button" class="btn btn-primary mt-5 btn-lg">Check the Beers</button>
        </a>
        <br>
        <a href="/random-beer">
            <button type="button" class="btn btn-secondary mt-5 btn-lg">Check a Random Beer</button>
        </a>
    </div>

</div>