<section>
  <div class='central-block'>
    <img src='images/beer.png' alt='Beer' />
    <div class='btns-group'>
      <a class='btn btn-primary btn-main shadow' href="/beers">Check the Beers!</a>
      <a class='btn btn-primary btn-main shadow' href="/beers/random">Check a Random Beer!</a>
    </div>
  </div>
</section>