<div>
<img src ="../public/images/beer.png"/>
<button id="all-beers"><a href="./beers">Check the Beers!</a></button>
<button id="random-beer"><a href="./random-beers">Check a Random Beer</a></button>
</div>