<div class="page">
    <div class="image-gallery">
    <img src="/images/beer.png" alt="" class="">
 </div>
 <div class="home-buttons">   
     <a href="/beers" class="btn">Check the Beers!</a>
     <a href="/random-beers" class="btn">Check a Random Beer!</a>
</div>
</div>