<div>

    {{!-- Dislay image div --}}
    <div class="image-div">
        <img src="/images/beer.png" alt="beer-image">
    </div>
    
    <!-- Controls -->
    <div class="buttons">
        {{!-- create the Check Beer buttton --}}
        <button class="beer-buttons" id="check-beer">Check the Beers!</button>
        {{!-- create the Check the random beer button --}}
        <button class="beer-buttons"  id="check-random-beer">Check a Random Beer!</button>
    </div>



</div>