<div id="home-page">
    <div id="beer-icon">
        <img src="/images/beer.png" alt="beer-icon">
    </div>
        <a class="buttons" href="/beers">Check the Beers</a>
        <a class="buttons" href="/randomBeer">Check a Random Beer</a>
</div>