<h1>Welcome to the Beer App</h1>
<img src="/images/beer.png" alt="Beer">
<p><a href="/beers">Check the Beers!</a></p>
<p><a href="/random-beer">Check a Random Beer</a></p>
<link rel="stylesheet" href="/stylesheets/styles.css">