<div class="container container-home">
    <img src="/images/beer.png" alt="Beer">

    <div class="buttons-container">
        <a href="/beers" class="btn">Check the Beers!</a>
        <a href="/random-beer" class="btn">Check a Random Beer!</a>
    </div>
</div>
