<div>
    <div class="container-home">
        <img src="./images/beer.png" alt="beer">
    </div>
    <div class="container-button">
        <div>
            <a href="/beers">Check the Beers!</a>
        </div>
        <div>
            <a href="/random-beer">Check a Random Beer</a>
        </div>
    </div>
</div>