<div class="diva">
        <img src="images/beer.png" class="img-fluid mx-auto d-block homebeer my-5">
        <div class = "btn-toolbar">
                <a class="btn btn-primary btn-lg btn-block" href="/beers">Check the Beers!</a>
                <a class="btn btn-primary  btn-lg btn-block" href="/random-beers">Check a Random Beer!</a>
        </div>
</div>