<link rel='stylesheet' href='stylesheets/styles.css' />

<section class='container'>
  <img src='/images/beer.png' alt='beer drawing' />

  <div class='button'>
    <a href='/beers' class='button1'>Check the Beers!</a>
    <a href='/random-beer' class='button2'>Check a Random Beer</a>
  </div>

</section>