<div class="d-flex flex-column justify-content-center align-items-center home-page">
    <div class="mb-1">
        <img class="home-page-img" src="/images/beer.png" alt="beer.png">
    </div>
    <a class="btn btn-primary mt-3" href="/beers" role="button">Check the Beers!</a>
    <a class="btn btn-primary mt-3" href="/random-beers" role="button">Check a Random Beer</a>
</div>