<div class="image-beer-container">
    <img src="/images/beer.png"/>
    <button type="button" class="button"><a href="/beers">Check the Beers!</a></button>
    <button type="button" class="button"><a href="/randomBeers">Check a Random Beer</a></button>
</div>