<div>

<img
      src="/images/beer.png"
      class="card-img-beer"
      alt="imgBeer"
    />
    <button>
      <a class="nav-link active" aria-current="page" href="/beers">Check the Beers!</a>
    </button>
    <button> 
      <a class="nav-link active" aria-current="page" href="/randomBeer">Check a Random Beer</a>
    </button>
    
</div>