<div class="container">

<div > 
<img class="pint" src="/images/beer.png" alt="beer-img" />
</div> 

<div>
    <button class="btn">
    <a href="/beers">Check the beers!</a>
    </button>
    <button class="btn">
    <a href="/random-beer">Check a random beer</a>
    </button>
</div>

</div>