<div class="main-container">
    <div><img src="/images/beer.png" alt="" class="main-img"></div>
    <div><a href="/beers"><button class="button">Check the Beers!</button></div></a>
    <div><a href="/random-beers"><button class="button">Check the Random Beer!</button></div></a>
</div>