<div class='index-main'>
  <img class='index-image' src='/images/beer.png' alt='beer' />
  <div class='index-buttons'>
    <button><a href='/beers'>Check the Beers!</a></button>
    <button><a href='/random-beer'>Check a random Beer!</a></button>
  </div>
</div>