<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <nav class="nav bg-primary fixed-top">
        <a href="/" class="nav-link text-white">Home</a>
        <a href="/beers" class="nav-link text-white">Beers</a>
        <a href="/random-beers" class="nav-link text-white">Random Beer</a>
    </nav>
    <div class="container mt-5">
        {{{body}}}
    </div>
    <div class="card-footer fixed-bottom text-light bg-dark">
        Made by Ironhacker
    </div>
</body>

</html>