<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beer">Random Beer</a></li>
        </ul>
    </nav>

    {{{ body }}}

</body>
</html>