<head>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <html lang="en"></html> <!--aqui podemos modificar valores por defecto-->
</head>

    <nav class="menu">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beer">Random Beer</a></li>
        </ul>
    </nav>
    
    {{{body}}} <!-- aqui sustituye los views -->
    
    <h1>Footer</h1>

