<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Layout</title>
</head>

<body>
    <nav class="navbar">
        <ul>
            <a class="item" href="/">Home</a>
            <a class="item" href="/beers">Beers</a>
            <a class="item" href="/random-beer">Random beer</a>
        </ul>
    </nav>

    <main>
        {{{body}}}
    </main>

</body>

</html>