<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>IronBeers</title>
</head>

<body>
    <nav>
        <a class="navBar" href="/">Home</a>
        <a class="navBar" href="/beers">Beers</a>
        <a class="navBar" href="/random-Beer">Random Beer</a>
    </nav>

    {{{body}}}
</body>

</html>