<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

    <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li> <a class="nav-bar-item" href="/" id="home"> home </a> </li>
          <li> <a class="nav-bar-item" href="/beers"> all </a> </li>
          <li> <a class="nav-bar-item" href="/random-beer"> random </a> </li>
          <li> <a class="nav-bar-item" href="/latest"> old </a> </li>
        </ul>
    </nav>

    {{{body}}}
    
</body>
</html>