<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Lab IronBeer</title>
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beer</a></li>
            <li><a href="/random-beer">Random Beer</a></li>
        </ul>
    </header>
    {{{body}}}

    <footer>
        <p>Develop by ironhack</p>
    </footer>
</body>

</html>