<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type='text/css' href="/stylesheets\styles.css">   
    </head>
    <body>
        <nav id="flex">
            <a class='margin-left' href="/">Home</a>
            <a href="/beers">Beers</a>
            <a href="/random-beer">Random Beer</a>
        </nav>
        <h1>Testing</h1>
        {{{body}}}
        <footer>
            <p>last content goes here</p>
        </footer>
    <script rel="javascript" src="/scripts/script.js"></script>
    </body>

</html>