<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>

<nav class="navbar navbar-expand-lg navbar-dark sticky-top shadow">
  <div class="container">
    <a class="navbar-brand" href="/">IronBeers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/beers">Beers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/random-beers">Random Beer</a>
        </li>
      </ul>
    </div>
      <form class="form-inline my-1" action="/beers" method="GET">
        <input class="form-control" type="search" placeholder="Find your beer" name="search" aria-label="Search">
      </form>
  </div>
</nav>

<div class="container">
{{{ body }}}
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<footer class="footer mt-auto py-3 fixed-bottom">
  <div class="container">
    <span class="text-light">Developed by Ironhack! ;)</span>
  </div>
</footer>