<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<title>Beer</title>
</head>

	<body>
		<nav class="nav nav-styles">
			<a class="nav-link text-decoration-none" href="/">HOME</a>
			<a class="nav-link text-decoration-none" href="/beers">BEERS</a>
			<a class="nav-link text-decoration-none" href="/random-beer">RANDOM BEER</a>
		</nav>	
		<main>
			{{{body}}}
		</main>
		<footer class="footer">
			<div class="container">
				<p>Develop by Ironhack</p>
			</div>
		</footer>
	</body>
</html>

