<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body id="layout">
    <nav id="nav-layout">
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/beers"><li>Beers</li></a>
            <a href="/random"><li>Random Beer</li></a>
        </ul>
    </nav>
    <main id="main-layout">
        {{{body}}}
    </main>
    <footer id="footer-layout">
        <h4>Develop by Carlos Perez</h4>
    </footer>
</body>
</html>