<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">HomePage</a>
        <a href="/beers">All beers</a>
        <a href="/randomBeer">Random beer</a>
    </nav>
    {{{body}}}
</body>
</html>