<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8″ />
    <title>Document</title>
   <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/beers">beers</a>
  <a href="randomBeers">random beers</a>

</div>
    
{{{body}}}

</body>
</html>