<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
</head>
<body>
    <nav>
        <a href="/index/">HOME</a> 
        <a href="/beers/">BEERS</a> 
        <a href="/random-beers/">RANDOM BEER</a>         
    </nav>

    {{{ body }}}
    
</body>
</html>