<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iron Beers</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>mainNav}}
        {{{body}}}
    </div>
    <footer class="footer flex">
        <p>Developed by Ailie for Ironhack ;)</p>
    </footer>
</body>
</html>