
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>

    <nav>
      <li>

        <ul>
          <li><a href='/index.hbs'>Home</a></li>
          <li><a href='/beers.hbs'>Beer</a></li>
          <li><a href='./views/random-beer.hbs'>Random Beer</a></li>
        </ul>
      </li>

    </nav>

    {{{body}}}
  </body>
</html>

{{!-- recuerda que puedes colocar ./views/random-beer.hbs' si es que no funciona el link --}}