<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iron Beers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    
</head>

<body class="d-flex flex-column h-100">

    <header class="menu">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/beers">Beers</a></li>
                <li class="nav-item"><a class="nav-link" href="/random-beers">Random Beers</a></li>
            </ul>
        </nav>
    </header>


    {{{ body }}}


<footer class="footer bg-dark text-white mt-auto py-3">

    <div class="container">
        <p>Develop by Amanda Ordoñez in Iron Hack :D</p> 
    </div>
    
</footer>

</body>

</html>