<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body>

<nav class="topnav">
     <a href="/">Home</a>
     <a href="/beers">Beers</a>
     <a href="/random-beers">Random Beers</a>
 </nav>

    {{{ body }}}


  </body>
</html>