<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header>
        <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">IronBeers</a>
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link" href="/beers">Beers</a>
                    <a class="nav-item nav-link" href="/random-beer">Random beer</a>
                </div>
            </div>
        </nav>
    </header>

    {{{ body }}}

    <footer>
        <p>Developed by Isa :)</p>
    </footer>
</body>

</html>