<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>Document</title>
  </head>
  <body>
    <nav
      class='navbar navbar-expand navbar-dark bgcolor sticky-top d-flex justify-content-center'
    >
      <div class='navbar-nav'>
        <a class='nav-item nav-link active' href='/'>Home</a>
        <a class='nav-item nav-link' href='/beers'>Beers</a>
        <a class='nav-item nav-link' href='/random-beer'>Random Beer</a>
      </div>
    </nav>
    <main>
      {{{body}}}
    </main>
  </body>
</html>