
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>IronBeers</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />

  </head>

  <body>
<!-- Iteration 1 layout barebones-->
    <nav>
      <a href='/'>home</a>
      <a href='/beers'>beers</a>
      <a href='/random-beer'>random beer</a>
    </nav>

    {{{body}}}

  </body>

</html>