<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        html,
        body{
            margin: 0 auto;
        }
        nav{
            position: relative;
            top: 0%;
            background-color: #2081c3;
            padding: 15px 0px;
            width: 100%;
        }
        nav a{
            font-size: 32px;
            font-weight: bold;
            text-decoration: none;
            color: #f7f9f9;
            margin: 10px
        }
        footer{
        background-color: #0a2c42;
        font-size: 24px;
        color: #f7f9f9;
        padding: 2% 0;
        position: absolute;
        bottom: 0%;
        width: 100%
    }
    </style>
    <nav>
        <span>
            <a href="/">Home</a>
        </span>
        <span>
            <a href="/beers">Beers</a>
        </span>
        <span>
            <a href="/random-beer">Random Beer</a>
        </span>
    </nav>
    {{{body}}}
    <footer>Develop by Ironhack</footer>
</body>

</html>