<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<body>
    <nav id="nav-bar">
        <div>
            <a id="nav-home" href="/">Home</a>
            <a id="nav-beers" href="/beers">Beers</a>
            <a id="nav-random" href="/random-beer">Random Beer</a>
        </div>
    </nav>
    <main>
        {{{body}}} 
    </main>
</body>
<footer id="footer">
    <div>
        <p id="footer-text">Developed by Ironhack ;)</p>
    </div>
</footer>
</html>