<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
   
    <title>Document</title>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <ul>
        <li><a href="/"></a>Home</li>
        <li><a href="/beers"></a>Beers</li>
        <li><a href="/random-beer">Random Beer</a></li>
    </ul>
</nav>

<footer class="footer"><p>Develop by Ironhack ;) </p></footer>
  {{{body}}}   

</body>
</html>



