<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css'
    />
    <title>{docTitle}</title>
  </head>
  <body class='sans-serif'>
    <header class='bg-blue w-100 ph3 pv3 pv4-ns ph4-m ph5-l'>
      <nav class='f6 fw6 ttu tracked'>
        <a class='link dim white dib mr3' href='/'>Home</a>
        <a class='link dim white dib mr3' href='/beers'>Beers</a>
        <a class='link dim white dib mr3' href='/random-beer'>Random Beer</a>
      </nav>
    </header>
    <main class='pt2'>
      {{{body}}}
    </main>
  </body>
</html>