<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../stylesheets/styles.css">
</head>

<body>
    <header>
        <nav >
            <ul class="navbar">
                <li><a class="navbar-item" href="/"> Home</a></li>
                <li><a class="navbar-item" href="/beers">Beers</a></li>
                <li><a class="navbar-item" href="/random-beers">Random Beers</a></li>
            </ul>
        </nav>
    </header>
  <main>
      {{{body}}}
  </main>
  <footer>
      <p>Desktop by Ironhack :)</p>
  </footer>
</body>
</html>