<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="webName"> <a href="/">The Beer Taste</a></div>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/beers">Beers</a>
            <a href="/random-beer">Random Beer</a>
        </nav>
    </div>

    {{{ body }}}

    <div class="footer">Copyright ©DavidReguartDesigns</div>
</body>
</html>