<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    
    <div id="nav-bar">
        <div id="links">
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beer">Random Beer</a>
        </div>
    </div>

    {{{body}}}

    
</body>
<footer>
    <h3>Developed by Ironhack</h3>
</footer>
</html>