<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iron Beers</title>
  <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<body>
  <div id="top">
  <nav class="nav_menu">
    <a class="menu_item" href="/">Home</a>
    <a class="menu_item" href="/beers">Beers</a>
    <a class="menu_item" href="/random-beer">Random Beer</a>
  </nav>
  </div>
  {{{body}}}
  

  <div id="bottom">Developed by Ironhack :)</div>
</body>
</html>