<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>

    <nav class='navbar'>
      <a class='navbar-brand' href='/'>Home</a>
      <a class='navbar-brand' href='/beers'>Beers</a>
      <a class='navbar-brand' href='/random-beer'>Random Beer</a>
    </nav>

    <main>
      {{{body}}}
    </main>

    <footer class="footer"><p>Develop by Ironhack ;)</p></footer>
  </body>
</html>