<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ironhack Beers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    {{>navbar}}
    {{{ body }}}
</body>
</html>