<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>IronBeers</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' />
    <link rel='stylesheet' href='./stylesheets/styles.css' />
  </head>

  <body>

    <nav class='navbar shadow navbar-dark nav-custom fixed-top navbar-expand-lg'>
      <div class='container-fluid'>

        <button
          class='navbar-toggler'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#navbarNav'
          aria-controls='navbarNav'
          aria-expanded='false'
          aria-label='Toggle navigation'
        >
          <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarNav'>
          <ul class='navbar-nav'>
            <li class='nav-item'>
              <a class='nav-link active' href='/'>Home</a>
            </li>

            <li class='nav-item'>
              <a class='nav-link active' href='/beers'>Beers</a>
            </li>

            <li class='nav-item'>
              <a class='nav-link active' href='/randomBeer'>Random Beer</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id='nav-behind' class='mb-5'></div>

    {{{body}}}

    <footer>Develop by Ironhack :D</footer>
    <div id='footer-behind' class='mt-5'></div>
  </body>
</html>