<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Iron Beers</title>
</head>

<body>
    <nav class="navbar">
        <div class=" ">
            <ul>
                <li class="menu-item">
                    <a class="menu-link" href="/">Home</a>
                </li>
                <li class=" menu-item">
                    <a class="menu-link" href="/beers">Beers</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/random-beers">Random Beers</a>
                </li>
            </ul>
        </div>
    </nav>
    {{{ body }}}

</body>
<footer id="ih-footer">
    <p> Develop by IronHack :)</p>
</footer>


</html>