<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iron beers</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
     <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css"
    />
</head>
<body>
     <nav id="navC" class="uk-navbar-container uk-margin" uk-navbar="mode: click">
      <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
          <li class="liC"><a href="/">Home</a></li>
          <li class="liC"> <a href="/beers">Beers</a> </li>
          <li class="liC"><a href="/random-beer">Random Beer</a></li>
        </ul>

      </div>
    </nav>
<footer class="pie"> <p>Develop by Azdhy Galvan ;D</p></footer>
    {{{body}}}


    <script
      src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"
    ></script>

</body>
</html>