<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

  <div class="barra-navegacion">
    <a href="/" style="margin-left: 5%;">Home</a>
    <a href="/beers">Beers</a>
    <a href="/random-beer">Random Beer</a>
    
  </div>
 {{{body}}}
  
  <footer>
    <p>Develop by Tomás Aldea</p>
  </footer>
</body>
</html>
