<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
      crossorigin='anonymous'
    />
<link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Express IronBeers</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-start">
      <div class="container-fluid">
        <div
          class="collapse navbar-collapse d-flex justify-content-start"
          id="navbarNav"
        >
          <ul class="navbar-nav text-start">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/beers">Beers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/random-beer" >Random Beer</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
{{{body}}}
    </main>
    <footer id="footer">
<p>Develop by Ironhack ;)</p>
    </footer>
</body>
</html>