<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <nav class="nav-bar">
        <ul class="nav-menu">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/beers">
                <li>Beers</li>
            </a>
            <a href="/random-beer">
                <li>Random Beer</li>
            </a>
        </ul>
    </nav>
    {{{body}}}
    <footer>Developed by &copy;<a href="https://github.com/patricio-bot?tab=repositories" target="_blank">
            Luckydrawings</a></footer>
</body>

</html>