<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>
<body>
  <div class="container">
      <nav class='nav'>
    <div class="">
 
      <ul id="" class="">
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/random-beers">Random Beer</a></li>
      </ul>
    </div>
  </nav>

    {{{body}}}
    </div>
</body>
</html>