<!-- views/players.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ironbeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/beers">Beers</a>
        <a class="nav-item nav-link" href="/random-beers">Random Beers</a>
    </div>
    </nav>

    {{{ body }}}

    <footer>
        Developed by Ironhack :)
    </footer>
</body>

</html>