<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <header>
    <nav class="navbar">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a href="/" class="navbar-link">Home</a>
        </li>
        <li class="navbar-item">
          <a href="/beers" class="navbar-link">Beers</a>
        </li>
        <li class="navbar-item">
          <a href="/random-beer" class="navbar-link">Random Beer</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    {{{ body }}}
  </main>

  <footer>
    <p>Develop by ironhack :) </p>
  </footer>
</body>
</html>