<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ironBeers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body>
      <!-- views/layout.hbs -->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">IronBeers</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active name" href="/">
            Home
            <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link" href="/beers">Beers</a>
          <a class="nav-item nav-link" href="/random-beer">Random Beer</a>
        </div>
      </div>
    </nav>

    <main></main>
    {{{body}}}
    </main>
    
  {{!-- <footer>
    <p>by Raquel Rodríguez Ironhack 2021</p>
  </footer> --}}
  </body>
</html>
