<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <title>Ironbeers Lab</title>
    <link rel="stylesheet" href="./public/stylesheets/styles.css"/>
    

  </head>

  <body>
    <header>
        <nav>
            <ul class="navbar">
                <li class="nav-item nav-link"><a href="/">Home</a></li>
                <li class="nav-item nav-link"><a href="/beers">Beers</a></li>
                <li class="nav-item nav-link"><a href="/random-beer">Random Beer</a></li>
            </ul>
        </nav>
    </header>
          
    {{{ body }}}

  </body>
</html>