<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </link>
</head>

<nav>
    <div>
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="/beers">Beer <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="/random-beer">Random Beers <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>



<main>

    {{{ body }}}

</main>
<footer>
    <p>
        Developed by Ironhacker ;)
    </p>
</footer>

</html>