<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stupid Beer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/4f1217f0d7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body>
    <!-- START NAV -->
    <nav class="navbar is-white has-background-info">
        <div class="container">
            <div class="navbar-brand">
                <p class="navbar-item brand-text has-text-white-bis is-size-4 font-weight-bold">
                    Stupid Beer
                </p>
                <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item has-text-white" href="/">
                        Home
                    </a>
                    <a class="navbar-item has-text-white" href="/beers">
                        Beers
                    </a>
                    <a class="navbar-item has-text-white" href="/random-beer">
                        Random Beer
                    </a>
                </div>

            </div>
        </div>
    </nav>

    {{{ body }}}

    <footer class="container-fluid d-flex justify-content-center bg-dark text-white py-4">
        Stupid Beer Developed by&nbsp;<a class="text-white font-weight-bold" href="https://linkedin.com/in/alienroom">
            ElfGod
        </a>.&nbsp;The source code
        is licensed by your Girlfriend&nbsp;<i class="fas fa-female"></i>;</a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>