{{{ body }}}

<div>
    <img class="beer-home-img" src="/public/images/beer.png" alt="beer" />

    <div class="align">
        <a class="btn" href="/beers" >Check the beers</a>
        <a class="btn" href="/random-beer">Check a random beer</a>
    </div>    
</div>