<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ironbeers </title>

</head>
<body>
    <nav> 
        <ul> Home </ul>
        <ul> Beers</ul>
        <ul> Random Beers</ul>
    </nav>
    
    {{{body}}}

</body>
</html>