
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>IronNBA</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>


  <body>

    <nav class="nav-bar">
      <a class="nav-text" href="/">Home</a>
      <a class="nav-text" href="/beers">Beers</a>
      <a class="nav-text" href="/random-beers">Random Beers</a>
    </nav>
    
    <main>
      {{{ body }}}
    </main>

    <footer>
      <a class="foot-txt" href="/">Como ya somos amigos si lo lees choca esos 5</a>
    </footer>

  </body>

</html>