<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="/public/stylesheets/styles.css">-->
    <title>Document</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #04AA6D;
        }
    </style>
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beer</a></li>
        <li><a href="/randombeer">Random Beer</a></li>
    </ul>
    <br>
    <img src="/images/beer.png" alt="Beer Picture">
    <br>
    <button> <a href="/beers">Beer</a> </button>
    <button> <a href="/randombeer">Random Beer</a> </button>
    <footer>Developed by Ironhacker Marcos</footer>



</body>

</html>