<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/styles.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active buttonColor" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active buttonColor" href="/beers">Beers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active buttonColor" href="/random-beer">Random Beer</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    {{{body}}}

</body>

</html>