<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ironbeers</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2081c3;">     
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="color: #f7f9f9;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/beers" style="color: #f7f9f9;">Beers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/random-beer" style="color: #f7f9f9;">Random Beer</a>
                </li>                
            </ul>
        </div>
    </nav>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p> Develop by Ironhack ;) </p>
    </footer>
    
</body>

</html>