<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Ironbeer</title>
  </head>
  <body>

    <nav><ul>
        <li><a href='/'></a>Home</li>
        <li><a href='/beers'></a>Beers</li>
        <li><a href='/random-beer'></a>Random Beers</li>
      </ul></nav>

  </body>
</html>