<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Title</title>
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet"/>
  <link href="stylesheets/styles.css" rel="stylesheet"/>
</head>
<body>
<nav class="nav">
  <a class="nav-link active" aria-current="page" href="/">Home</a>
  <a class="nav-link active" href="/beers">Beer</a>
  <a class="nav-link active" href="/random-beers">Random Beer</a>
</nav>

{{{body}}}

<script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>