<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer List</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/styles.css">
</head>

<body>
    <nav class="navbar">
        <ul class="menu">
            <li class="item-menu">
                <a href="/">Home</a>
            </li>
            <li class="item-menu">
                <a href="/beers">Beers</a>
            </li>
            <li class="item-menu">
                <a href="/random">Random Beer</a>
            </li>
        </ul>
    </nav>
    {{{body}}}
    <footer class="footer">
        Developed by Carlos Ziegler
    </footer>
</body>

</html>