<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>IronBeer</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>

    <nav>
      <a href='/'>Home</a>
      <a href='/beers'>beers</a>
      <a href='/random-beer'>random-beer</a>
    </nav>

    {{{body}}}

  </body>
</html>