<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" >
</head>
<body>
    <navbar>
        <div>
            <ul>
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="/beers">Beers</a></li>
                <li><a class="nav-link" href="/random-beers">Random Beer</a></li>
            </ul>
        </div>
    </navbar>
    <main>
        {{{body}}}
    </main>
    <footer>   
        <p>Develop by Ironhack ;)</p>
    </footer> 
</body>
</html>