<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ironbeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header>
        {{> navMain}}
    </header>


    <div class="content-main">
        {{{body}}}
    </div>


    <footer id="footer">
        <span id="span-footer">Develop by Ironhack ;)</span>
    </footer>

</body>

</html>