<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<nav>, initial-scale=1.0">
    <link href="stylesheets/reset.css" rel="stylesheet" />
    <link href="stylesheets/styles.css" rel="stylesheet" />
    <title>Home</title>
</head>
<body>
    <nav class="nav-bar">
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random Beers</a>

    </nav>

    <main>
        {{{body}}}
    </main>
</body>
</html>