<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here come the beers</h1>
    {{!-- to feed the different views into the layout --}}
    {{{body}}}
    <nav>
        <a href = "/">Home</a>
        <a href = "/beers">Check the Beers!</a>
        <a href = "/random-beer">Check a Random Beer</a>  
    </nav>
</body>
</html>