<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beers</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <a href="/"><button>Home</button></a>
        <a href="/beers"><button>Beers</button></a>
        <a href="/random-beer"><button>Random Beer</button></a>
    </nav>
    <h1>this is the layoutfile</h1>
    {{{body}}}
</body>

</html>