<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>IronBeers</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'
    />
  </head>
  <body>
    <nav class='navbar is-info' role='navigation' aria-label='main navigation'>
      <div class='container'>
      <div class='navbar-brand'>
        <div class="title is-3 has-text-light mt-5">
          IronBeers
        </div>
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
      </div>

      <div id='navbarBasicExample' class='navbar-menu'>
        <div class='navbar-end'>
          <a href='/' class='navbar-item'>Home</a>
          <a href='/beers' class='navbar-item'>Beers</a>
          <a href='/random-beer' class='navbar-item'>Random Beer</a>
        </div>
      </div>
      </div>
    </nav>
    <section class='section'>
      <div class='container'>
        {{{body}}}
      </div>
    </section>
    <footer class="footer">
      <div class='container'>
  <div class="content has-text-centered has-background-link-dark has-text-light">
    <p>
      Developed by IronHack
    </p>
  </div>
      </div>
</footer>
  </body>
</html>