<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
   <nav>
       <a href="/">Home</a>
       <a href="/beers">Beers</a>
       <a href="/random=beer">Random Beer</a>
   </nav> 
   {{{body}}}
</body>
</html>