<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/styles.css'>
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
<<<<<<< HEAD
            <li><a href="/"> Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beer">Random Beer</a></li>
=======
            <li><a href='/'> Home</a></li>
            <li><a href='/beers'>Beers</a></li>
            <li><a href='/random-beer'>Random Beer</a></li>
>>>>>>> fd6a62b5b975a9a8ffbd117374b91e00683bfca0
        </ul>
    </nav>
    {{{ body }}}
</body>
<footer>
   <p>Developped by Ironhack ;)</p>
</footer>
<<<<<<< HEAD

=======
>>>>>>> fd6a62b5b975a9a8ffbd117374b91e00683bfca0
</html>