<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>IronBeers</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="navbar-nav">
                <a class="nav-link text-white" href="/">Home</a>
                <a class="nav-link text-white" href="/beers">Beers</a>
                <a class="nav-link text-white" href="/randombeer">Random Beer</a>
            </div>
        </nav>
    </header>

    {{{body}}}

    <footer class="bg-primary sticky-footer">
        <div class="container">
            <p>Developed by Damian!</p>
        </div>
    </footer>
</body>

</html>