<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Ironbeers</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    <div class='nav-bar'>
      <ul class='nav'>
        <li class='nav-item'>
          <a class='nav-link active' aria-current='page' href='/'>Home</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/beers'>Beers</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/randombeers'>Random Beer</a>
        </li>
      </ul>
    </div>
    <main>
      {{{body}}}
    </main>
    <footer>
      Developed by Ironhack
    </footer>
  </body>
</html>