<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'
      integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>IronBeers</title>
  </head>
  <body>
    <nav>
      <div class='navbar'>
        <a href='/'>Home </a>
        <a href='/beers'>Beers </a>
        <a href='/random-beer'>Random Beer </a>
      </div>
    </nav>

    <main>
      {{{body}}}
    </main>

    <footer>
      <h6>Developed by Ironhack
        <i class='fa-regular fa-face-smile-wink'></i></h6>
    </footer>
  </body>
</html>