<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Movies App</title>
</head>

<body>

<nav>

    <a href="/">Home</a>
    <a href="/beers">Beers</a>
    <a href="/random-beer">Random Beer</a>


{{!-- Home ==> should navigate to /.
Beers ==> should navigate to /beers.
Random Beer ==> should navigate to /random-beer. --}}



</nav>

{{{ body }}}



<a href="/beers">Check the Beers!</a>
<a href="/random-beer">Check a Random Beer!</a>

</body>>

</html>