<html lang='en'>
  <head>
    <title>IronBeers</title>
    <link rel='stylesheet' href='../stylesheets/styles.css' />
  </head>
  <body>
    <nav class='navbar'>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/beers'>Beers</a></li>
        <li><a href='/random-beer'>Random Beer</a></li>
      </ul>
    </nav>
    {{{body}}}
    <footer>
      <div>Developed by Niko</div>
    </footer>
  </body>
</html>