<body>
{{{ body }}}

<navbar>

<a href="/">Home</a>

<a href="/beers">Beers</a>
<a href="/random-beer">Random Beer</a>


{{!-- Home ==> should navigate to /.
Beers ==> should navigate to /beers.
Random Beer ==> should navigate to /random-beer. --}}



</navbar>

<img src="https://github.com/ironhack-labs/lab-ironbeers/blob/master/public/images/beer.png"/>

<a href="/beers">Check the Beers!</a>
<a href="/random-beer">Check a Random Beer!</a>

</body>>
