<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <title>IronBeers</title>
</head>
<body>
    <main>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/beers">Beers</a></li>
                    <li><a href="/random-beers">Random Beers</a></li>
                </ul>
            </nav>
        </header>
        <section>

        {{{ body }}}
        
        </section>
        <footer>
            <p>Developed by Ironhacker <a href="https://github.com/avaiva">avaiva</a></p>
        </footer>
    </main>
</body>
</html>