<!DOCTYPE html>
<html lang="en">

<head>
  <title>Beer Lab</title>
  <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body>
    <header>
   <nav class="nav">
    <a class="navlink" href="/">Home</a>
    <a class="navlink" href="/beers">Beers</a>
    <a class="navlink" href="/random-beer">Random Beer</a>
</nav>

</header>

    {{{body}}}

<footer>
    <p>Develop by Ironhack ;)</p>
</footer>

</body>

</html>
