<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/styles.css" />
    <title>IronBeers</title>
</head>

<body>
    <nav>
<a class="navBar" href="/">Home</a>
<a class="navBar" href="/beers">Beers</a>
<a class="navBar" href="/random-beers" style ="height: 20px;
    width: 200px;">Random Beers </a>
</nav>

    {{{body}}}
    <footer>
        <p>Developed at Ironhack</p>
    </footer>
</body>

</html> 