<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IronBeersLabs</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
      <nav>
          <a href="/">Home</a>
          <a href="/beers">Beers</a>
          <a href="/random-beer">Random Beers</a>
      </nav>

    {{{ body }}} 

  </body>
</html>