<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/beers"><li>Beers</li></a>
            <a href="/random-beers"><li>Random Beer</li></a>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>