 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <header> 
    <nav class="navbar navbar-expand-lg  bg">
    
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link bg" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link bg" href="/beers">Beers</a>
          <a class="nav-item nav-link bg" href="/random-beer">Random Beers</a>
        </div>
      </div>
    </nav>
 </header>

 <footer class="footer">
     <nav class="navbar navbar-collapse id="> 
      <div class="container">
        <span >Developed by ironhack student</span>
      </div>
    </footer>
    </nav>
  </body>
      {{{ body }}}

</html>