<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IronBeers</title>
  <link rel="stylesheet" href="./stylesheets/styles.css" />
</head>

<body>
  <div class="container">
    <nav class="navBar">
      <ul class="navList">
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/random-beer">Random Beer</a></li>
      </ul>
    </nav>

    {{{ body }}}

    <footer class="footerBar">
      Developed by Ironhack ;)
    </footer>

  </div>
</body>

</html>