<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iron Beers App</title>
</head>
<body>
    <nav>
        <ul>
            <li href="/">Home</li>
            <li href="/beers">Beers</li>
            <li href="/random-beers">Random Beer</li>
        </ul>
    </nav>

    {{{body}}}

</body>
</html>