<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../stylesheets/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #0e81d3;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" style="background-color: #0e81d3;color:white" href=" /">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="background-color: #0e81d3;color:white" href="/beers">Beers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="background-color: #0e81d3;color:white" href="/random-beer">Random
                            Beer</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{{body}}}

    <footer class="footer">Develop by Ironhack ;)</footer>

</body>

</html>