<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRONBEERS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav">
                 <li class="nav-item">
                     <a class="nav-link" href="/">HOME</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/beers">BEERS</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/random-beer">RANDOM BEER</a>
                 </li>
             </ul>
         </div>
     </nav>

     {{{body}}}

     <footer class="bg-light text-lg-start">
         <div class="text-left p-3" style="background-color: #2081c3">
             <p>Devloped by Willy ;)</p>
         </div>
     </footer>
</body>
</html>