<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Iron Beers</title>
</head>

<body>
  <nav>
    {{> nav}}
  </nav>

  <div class="content">
    {{{body}}}
  </div>

  <footer>
    {{> footer}}
  </footer>
</body>

</html>