<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body">
    <div class="navbar">
  <a href="/">Home</a>
  <a href="/beers">Beer List</a>
  <a href="/random-beer">Random Beer</a>
</div>

    
    {{{body}}}

    <footer>this is the footer</footer>
</body>
</html>