<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRONBEERS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <header class="menu">
        <nav class="navbar navbar-dark bg-primary"> 

                        <a class="nav-link" href="/">Home</a>

                        <a class="nav-link" href="/beers">Beers</a>

                        <a class="nav-link" href="/random-beer">Random Beer</a>
  
        </nav>
    </header>
    {{{ body }}}
    <footer>
        <h4>Develop by Ironhack ;)</h2>
    </footer>
</body>
</html>