<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Iron Beers</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/beers">Beers</a></li>
                <li><a href="/random-beers">Random Beer</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <p>Develope by Marc López</p>
    </footer>
</body>
</html>