<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brewdog Catalog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

    <header>
        <nav class="navMenu">
            <ol>
                <a href="/">Home</a>
                <a href="/beers">Beers</a>
                <a href="/random-beer">Random Beer</a>
            </ol>
        </nav>
    </header>

    <div class="spacer"></div>

    {{{body}}}


</body>

</html>