<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Brew Dog</title>
</head>
<body>
    <div class='content'>
    <nav>
            <div id= "aContainer">
            <a href="/">Home</a>
            <a href="/beers">Beers</a>
            <a href="random-beer">Random Beers</a>
            </div>
    </nav>

        {{{body}}}
</div>
    <footer>
        <div id ="footerText">
        Developed By Matthew Howard :)
        </div>
    </footer>
</body>
</html>