<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body>
    <header>
    </header>
    <nav>
        <a class="link" href="/">Home</a>
        <a class="link" href="/beers">Beers</a>
        <a class="link" href="/random-beer">Random Beer</a>
    </nav>

    {{{ body }}}

</body>

</html>