<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <!-- Add your CSS stylesheets and other head elements here -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beer">Random Beer</a></li>
        </ul>
    </nav>

    {{{ body }}}

    <!-- Add your JavaScript scripts and other body elements here -->
</body>
</html>
