<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" /> 
    

  </head>
  <body> 

<script type="text/javascript" src="/path/to/punkapi-javascript-wrapper/dist/punkapi-javascript-wrapper.js"></script>


    <div id = "menu">
      <a href="/">Home</a>
      <a href="/beers">Beers</a>
      <a href="/random-beers">Random Beer</a> 
    </div>

{{{ body }}}


<footer>
Developed by Ironhack
</footer>
  </body>


</html>