<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="contet-nav">
    <nav class="nav">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="beer">Beers</a>
    <a class="nav-link" href="randomBeer">Random Beers</a>
</nav>
</div> 
{{{body}}}
<div class="footer-conten">
    <p class="footer">Dedvelop by IronHack ;)</p>
</div>
</body>
</html>