<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB | Express IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/path/to/punkapi-javascript-wrapper/dist/punkapi-javascript-wrapper.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="ironbeers">
                <p>IronBeers</p>
            </div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/beers">Beers</a>
                <a href="/random-beer">Random Beer</a>
            </div>
            
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>