<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Beer Web</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg  nav-color">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active changeColor" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link changeColor" href="/beers">Beers</a>
                <a class="nav-link changeColor" href="/random-beers">Random beer</a>
            </div>
        </div>
    </nav>

    {{{body}}}

</body>

</html>