<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>Ironbeer</title>
  </head>
  <body>

    <nav
      class='navbar navbar-expand-lg navbar-dark'
      style='background-color: #2081c3'
    >

      <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
        <div class='navbar-nav p-1'>
          <a class='nav-item nav-link active px-3' href='/'>
            <b>Home</b>
            <span class='sr-only'>(current)</span>
          </a>
          <a class='nav-item nav-link px-3' href='/beers'><b>Beers</b></a>
          <a class='nav-item nav-link px-3' href='/random-beer'><b>Random Beer</b></a>
        </div>
      </div>
    </nav>
    <main>
      {{{body}}}
    </main>
    <footer class='text-white fixed-bottom' style='background-color: #0a2c42'>

      <div class='p-3' style='background-color: #0a2c42;'>
        Develop by Ironhack:

      </div>

    </footer>

  </body>
</html>