<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Beer</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/styles.css' />
  </head>
  <body>
    <header>
      <nav>
        <a href='/'>Home</a>
        <a href='/beers'>Beers</a>
        <a href='/random-beer'>Random Beer</a>
      </nav>
    </header>
    <main>
    {{{body}}}
    </main>
  </body>
</html>