<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

<header>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">

<ul>
    
    <li>
    
        <a href="/">Home</a>
    
    </li>
    
    <li>
    
        <a href="/beers">Beers</a>
    
    </li>
    
    <li>
    
        <a href="/randomBeer">Random Beer</a>
    
    </li>

</ul>

</nav>

</header>
    
{{{body}}}

<footer>

<aside>Develop by IronHack</aside>

</footer>

</body>

</html>