<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>

<body>


    <nav>
        <div><a href="/">Home</a></div>
        <div><a href="/beers">Beers</a></div>
        <div><a href="/random-beer">Random Beer</a></div>

    </nav>


    {{{ body }}}


</body>
</html>