<!DOCTYPE hbs>
<hbs lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Iron Beers</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
	<header id="nav-bar">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/beers">Beers</a></li>
                <li><a href="/random-beer">Random Beer</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>	
	<footer>
		Develop bt Ironhack ;)
	</footer>
</body>
</hbs>