<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ironbeers</title>

     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2081c3;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: #f7f9f9" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #f7f9f9" href="/beers">Beers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #f7f9f9" href="/random-beer">Random Beer</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
    {{{ body }}}

    </div>

    <footer class="footer mt-auto py-3">
        
        <span>Developed by Ironhack ;)</span>
         
    </footer>
</body>
</html>