<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href="stylesheets/styles.css">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/beers">Beers</a>
            <a href="/random-beer">Random Beer</a>
        </nav>
        {{{ body }}}
        <div class="bottom-bar">
            <p>Developed by Ironhack ;)</p>
        </div>
    </body>
</html>