<!DOCTYPE html>
<html lang="en">

<head>
  <title>Beer Lab</title>
  <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body>
    <header>
   <nav>
    <a href="/">Home</a>
    <a href="/beers">Beers</a>
    <a href="/random-beer">Random Beer</a>
</nav>

</header>

    {{{body}}}

</body>

</html>
