<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ironbeers</title>
   <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
</head>
<body>
    <nav class="nav-bar">
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/randomBeers">Random Beer</a>
    </nav>

  <main>
      {{{ body }}}
  </main>
    
</body>
</html>





