<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beers App</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    {{!-- <h1>This is the layout file</h1> --}}
    <div class="container">
  <nav class="nav-bar">
    <a class="a" href="/">Home</a>
    <a class="a" href="/beers">Beers</a>
    <a class="a" href="/random-beers">Random Beers</a>
  </nav>
</div>
   
   {{{body}}} 
</body>
</html>