<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">

</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/beers">beers</a>
        <a href="/random-beers">random beer</a>
    </nav>

    <main>
        {{{body}}}
    </main>
    <footer>
        
    </footer>
</body>
</html>