<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <nav>
        <ul>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/beers">
                <li>Beers</li>
            </a>
            <a href="/random">
                <li>Random Beer</li>
            </a>
        </ul>
    </nav>
    {{{body}}}
    <footer> :) </footer>
</body>

</html>