<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Beers Lab</title>
</head>
<body>
    <nav>
        <a href="/"><div><span>Home</span></div></a>
        <a href="/beers"><div><span>Beer Selection</span></div></a>
        <a href="/random-beers"><div><span>Random Beers</span></div></a>
    </nav>
    {{{body}}}
</body>
</html>