<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beer">Random Beers</a></li>
        </ul>
    </nav>
    <img src="/images/beer.png">
    <div>
        <button ><a href="/beers">Check the beers</a></button>
            <button ><a href="/random-beer">Check a Random Beer</a></button>
    </div>
     {{{ body }}}
</body>
</html>

