<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Lab</title>
    <link rel ="stylesheet" type ="text/css" href ="/stylesheets/styles.css" />
</head>
<body>
    <div class="top-nav">
        <nav>
            <a href="/">Home</a>
            <a href="/beers">Beers</a>
            <a href="/random-beer">Random Beer</a>
        </nav>
    </div>
    {{{body}}}
    <div class="footer">
        <p>Developed by Ironhacker 😜</p>
    </div>
</body>
</html>