<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    {{!-- connect the stylesheet on this layout to have reference in all views --}}
    <title>{{title}}</title>
</head>
<body>
  <nav class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/beers">Beers</a></li>
      <li><a href="/random-beer">Random Beer</a></li>
    </ul>
  </nav> 
  {{!-- the block for individual html to render here with triple curly braces
  so, to say: inside this tripple curly braces, render this block statement with html --}}
  {{{ body }}} 
  <footer>Develop by Ironhack ;)</footer>
</body>
</html>


