<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/randomBeers">Random Beer</a></li>
        </ul>
    </nav>
    

    {{{ body }}}
    <footer><h2>Developed by Ironhack!</h2></footer>
</body>
</html>