  <head>
    <title>Iron Beers</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
  </head>

<body>
  <nav>
      <ul class="nav-bar">
          <li class="nav-item"><a class="nav-links" href="/">Home</a></li>
          <li class="nav-item" ><a class="nav-links"  href="/beers">Beers</a></li>
          <li class="nav-item" ><a class="nav-links"  href="/random-beer">Random Beer</a></li>
      </ul>
  </nav>

  {{{body}}}

<footer>
  <p>Developer by Ironhacker</p>
</footer>

  </body>
</html>

