<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Ironbeers</title>
</head>
<body>

    <nav class="container">
        <ul class="text-white container row align-center">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/beers">Beers</a>
            </li>
            <li>
                <a href="/random-beers">Random Beer</a>
            </li>
        </ul>
    </nav>

    {{{ body }}}

    <footer class="container row align-center">
        <p class="text-white">Develop by Ironhack ;)</p>
    </footer>

</body>
</html>