<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.15/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>

    <nav class="uk-navbar-container uk-background-primary" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">Home</a></li>
            <li><a href="/beers">Beer</a></li>
            <li><a href="/random-beer">Random Beers</a></li>
        </ul>

    </div>
</nav>

    {{{body}}}


        <div uk-sticky="position: bottom">
            <footer>
            <p>Develop by Ironhack</p>
            </footer>
        </div>


    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.15/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.15/dist/js/uikit-icons.min.js"></script>
</body>
</html>