<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Ironbeers</title>
</head>
<header>
    <nav class = "nav-bar">
        <ul class = " nav-bar-ul">
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beers">Random Beer</a></li>
        </ul>
    </nav>
</header>
<body>
    {{{body}}}
</body>
<footer>
    <p>Developed by Ceyda</p>
</footer>
</html> 