<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/">Home</a></li>
                <li class="uk-parent"><a href="/beers">Beers</a></li>
                <li class="uk-parent"><a href="/random-beer">RandomBeer</a></li>
            </ul>
        </div>
    </nav>
    {{{body}}}
</body>
</html>