<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beers</title>
</head>

<body>
    {{!-- Begin Navbar --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/beers">Beers</a>
          <a class="nav-item nav-link" href="/random-beer">Random Beer</a>
        </div>
      </div>
    </nav>
    {{!-- End Navbar --}}

    <main>
        {{{body}}} {{!-- Render the views --}}
    </main>

    <footer>
        <p>Developed by Ironhack :D</p>
    </footer>
</body>
</html>