<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Beer party!</title>
</head>
<body>
    <header>
        <nav>
            <ul class="ul-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/beers">Beers</a></li>
                <li><a href="/random-beer">Random Beer</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>