<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>IronBeerLab</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    <nav class='nav'>
      <div class='nav-logo'>
        <a class='navbar-brand' href='#'>IronBeerLab</a>
        <div class='navbar-links'>
          <a id='home-link-nav' href='/'>Home</a>
          <a id='beers-link-nav' href='/beers'>Beers</a>
          <a id='random-link-nav' href='/random-beer'>Random Beer</a>
        </div>
      </div>
    </nav>

    <main>
      {{{body}}}
    </main>

  </body>
</html>