<head>
  <link rel="stylesheet" href="/styles.css">
</head>

<div class='topnav'>
<nav>
    <a href='/'>Home</a>
    <a href='/beers'>Beers</a>
    <a href='/random-beer'>Random beer</a>
</nav>
</div>


{{{ body }}}




