<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iron Beers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <nav id="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beer</a></li>
            <li><a href="/random-beers">Random Beer</a></li>
        </ul>
    </nav>

    {{{body}}}

</body>
</html>