<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>  
    <nav class="Encabezado">
        <ul>
            <li><a href="/" class="Home">Home</a></li>
            <li><a href="/beers" class="Beers">Beers</a></li>
            <li><a href="/random beers" class="Random Beers">Random Beers</a></li>
        </ul>
    </nav>
    </header>
    <div>
        {{{body}}}
    </div>
    
</body>
</html>