<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
        <div id = "navbar">
  <a class = "nav-link" href = "/">Home</a>
  <a class = "nav-link" href = "/beers">Beers</a>
  <a class = "nav-link" href = "/random-beers">Random Beer</a>
</div> 

{{{ body }}}

<footer>
    <p>Developed by Tina and Ironhack :-)</p>
</footer>
</body>
</html>