<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <nav>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/beers"><li>Beers</li></a>
            <a href="/random-beer"><li>Random Beers</li></a>
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>
</html>