<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Ironbeers</title>
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-list">
      <li><a href="/">Home</a></li>
      <li><a href="/beers">Beers</a></li>
      <li><a href="/random-beer">Random Beer</a></li>
    </ul>
  </nav>
  {{{body}}}
  <footer>
    <p>Copyright The Ironbeer Company</p>
  </footer>
</body>
</html>