<html lang='en'>
  <head>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Ironbeers</title>
  </head>
  <body>
    <nav>
      <ul>
        <li class='nav-links'><a href='/'>Home</a></li>
        <li class='nav-links'><a href='/beers'>Beers</a></li>
        <li class='nav-links'><a href='/random-beer'>Random Beer</a></li>
      </ul>
    </nav>

    {{{body}}}
    {{! #0a2c42; the code is an emoji  }}
    <footer>Developed by Nicole and Aziza &#128512;</footer>
  </body>
</html>
