<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href='/'>Home</a>
    <a href='/beers'>Beers</a>
    <a href='/random-beer'>Random Beer</a>

    {{{body}}}
  </body>
</html>