<!-- views/layout.hbs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IronBeer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <nav class="navbar fixed-top  navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">
            Home
            <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link" href="/beers">Beers</a>
          <a class="nav-item nav-link" href="/random-beer">Randoms Beer</a>
        </div>
      </div>
    </nav>

    <main>
    {{{ body }}}
    </main>
    <footer>
        <div>
            <p>Develop by Vladick</p>
        </div>
    </footer>
  </body>
</html>
