<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IronBeers</title>
    
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
        <nav class="navbar">
        <a class="logo" href="/">IronBeers</a>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/beers">Beers</a>
                <a class="nav-item nav-link" href="/random">Random Beer</a>
            </div>
        </div>
    </nav>
      {{{ body }}}
  </body>
  <footer>
      <div>
          <p>Developed by Ironhack</p>
      </div>
  </footer>
</html>