<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.c">
    <title>IronBeers</title>
</head>
<body>
    <nav>
        <div><a href="/index">Home</a></div>
        <div><a href="/beers">Beers</a></div>
        <div><a href="/random-beers">Random Beer</a></div>
    </nav>
    {{{ body }}}
</body>
</html>