<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Iron Beer</title>
  </head>
  <body>
    <header>
      <nav class="nav">
        <div>
          <a href="/" class="">Home</a>
          <a href="/beers" class="">Beers</a>
          <a href="/random-beers" class="">Random Beer</a>
        </div>
      </nav>
    </header>

      {{{body}}}
      
    <footer class="footer">
      <h6>Develop by Samuele</h6>
    </footer>
  </body>
</html>