<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ironbeers</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/styles.css">

</head>

<bod>
    <nav class=" navbar navbar-expand-lg  bg-body-tertiary ">
        <div class=" navbar bg-primary container-fluid" data-bs-theme="dark">
            <div class=" collapse navbar-collapse" id="navbarSupportedContent">
                <ul class=" navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/beers">Beers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/random-beer">Random Beers</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    {{{body}}}


    </body>

</html>