<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="stylesheets/styles.css" rel="stylesheet">
</head>

<body>
    <div id="container">
        <header>
            <nav>
                <span><a href="/">Home</a></span>
                <span><a href="/beers">Beers</a></span>
                <span><a href="/random-beers">Random Beer</a></span>
            </nav>
        </header>

        <main>{{{body}}}</main>


        <footer>
            <p>Develop by Ironhack ;)</p>
        </footer>
    </div>

</body>

</html>