<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a class="Home-btn" href="/">Home</a>
        <a class="beer-btn" href="/beers">Beers</a>
        <a class="random-btn" href="/random-beer">Random beer</a>
    </nav>

    {{{ body }}}
</body>
<footer>Developed by Marco and Rico</footer>
</html>