<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IronNBA</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div class="navbar">
      <a id="nav-home" href="/">Home</a>
      <a id="nav-beers" href="/beers">Beers</a>
      <a id="nav-randon" href="/random-beer">Randon Beer</a>
    </div>
    {{{ body }}} 
  </body>
</html>
