<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>IronBeers review</title>
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
      crossorigin='anonymous'
    />

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
     
     <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home</a>
                   
                    <a class="nav-item nav-link" href="/beers"> Beers </a>
                    <a class="nav-item nav-link" href="/random-beer">Random Beer</a>
                </div>
            </div>
        </nav>

        </div>
      </div>
    </nav>

    <main>
      {{{body}}}
    </main>
    <footer id="footer"class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div id ="footer-div>"
    <p>Develop with by Ironhack</p>

 
      </footer>
    </div>
  </body>
</html>