<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    {{!-- <link rel="stylesheet" href="/public/images/beer.png"> --}}
</head>

<body>
    <nav>
        <a id="nav" href="/">Home</a>
        <a id="nav" href="/beers">Beers</a>
        <a id="nav" href="/random-beers">Random Beer</a>
    </nav>
    {{{body}}}
    <footer>
        <p>Time for a beer !</p>
    </footer>
</body>

</html>