<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>


<!-- views/layout.hbs -->

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
        <div>
            <div class="navbar-nav">
                <a class="navbar-item-link" href="/">
                    Home
                </a>

                <a class="navbar-item-link" href="/beers">
                    Beers
                </a>
          
                <a class="navbar-item-link" href="/random-beer">
                    Random Beer
                </a>
            </div>
        </div>
    </nav>

    <main>
    {{{ body }}}
    </main>

    <footer id="coolFooter" class="navbar-expand-lg navbar-dark">
        <div id="footer-div">
            <p>2023 | Full Stack Web Development | Developed by Body & Noa @ Ironhack</p>
        </div>
    </footer>

  </body>
</html>
