<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>IronBeer</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <link rel="stylesheet" href="/public/stylesheets/index.css" />
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/beers">Beer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/random-beers">Random Beer</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>
  {{{ body }}}

</body>

</html>