<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav>
    <a href="/"><span>Home</span></a>
    <a href="/beers"><span>Beers</span></a>
    <a href="/randombeers"><span>Random Beer</span></a>
</nav>
    {{{body}}}
</body>
</html>