<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>IronBeers</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    <header>
      <nav class='nav'>
        <li><a href='/' class='nav-link'>Home</a></li>
        <li><a href='/beers' class='nav-link'>Beers</a></li>
        <li><a href='/random-beer' class='nav-link'>Random Beer</a></li>
      </nav>
    </header>

    <div class='container'>
      {{{body}}}
    </div>

    <footer class='footer'>
      <p>Developed by Max and Diogo</p>
    </footer>
  </body>
</html>