<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>IronBeers</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/styles.css" />
    </head>
    <body>

        <nav class="navbar navbar-expand-lg text-white">
            {{!-- <a class="navbar-brand text-white" href="/">IronBeers</a> --}}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link text-white" href="/beers">Beers</a>
                <a class="nav-link text-white" href="/random-beer">Random Beer</a>
                </div>
            </div>
        </nav>
        
        <main class="container">
            {{{ body }}}
        </main>

        <footer class="text-white small pt-2 pb-2">
            <div class="pl-3">
                <p class="m-0">Develop by Ironhack ;)</p>
            </div>
        </footer>
    </body>
</html>