<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <nav>
        <a class="nav-items" href="/">Home</a>
        <a class="nav-items" href="/beers">Beers</a>
        <a class="nav-items" href="/random-beers">Random Beers</a>
    </nav>
    {{{ body }}}
    <footer>
        <p class="nav-footer nav-items">Develop by Ironhack!</p>
    </footer>
</body>
</html>