<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>Document</title>
  </head>
  <body>

    <nav class='navStyle'>
      <a class='navbar' href='/'>Home</a>
      <a class='navbar' href='/beers'>Beers</a>
      <a class='navbar' href='/randombeer'>Random Beer</a>
    </nav>
    <main>
      {{{body}}}
    </main>
    <footer> Develop by Ironhack ;) </footer>

  </body>
</html>