<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Ironbeers</title>
</head>
<body>
    <header>
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/random-beers">Random Beers</a></li>
    </header>
    <main>
    {{{body}}}
    </main>
    <footer>
        <h3>Develop by Ironhack :)</h3>
    </footer>
</body>
</html>