<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/styles.css" />
</head>

<body>
   
    <header>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/randomBeers">Random Beer</a>
    </header>
    <div class="container">
        <%- body %>
    </div>
    <footer>
        Developed by Ironhack
    </footer>
    
</body>

</html>