<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
    <div class="nav"></div>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random Beers</a>
    </nav>
    {{{body}}}
    <footer>
        <p>Developed by Ironhack ;)</p>
    </footer>
</body>
</html>