<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title> App Ironbeers </title>
  </head>

<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-primary shadow">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-white ms-4" aria-current="page" href="/"> Home </a>
        <a class="nav-link  text-white ms-4" href="beers"> Beers </a>
        <a class="nav-link  text-white ms-4" href="random"> Random Beers </a>
      </div>
    </div>
  </div>
</nav>

<div class="img img-fluid p-5 m-5">
    {{{body}}}
</div>

<div>
    {{{beerpartial}}}
</div>

  <footer>
    <div class="d-flex flex-column justify-content-center">
      <a type="button" class="btn btn-primary mb-4 mx-auto shadow-lg" style="width: 160px" href="beers"> Check the Beers! </a>
      <a type="button" class="btn btn-primary mb-5 mx-auto shadow-lg" style="width: 200px" href="random"> Check a Random Beer </a>
    </div>
    <p class="d-flex text-white-50 bg-dark p-3"> Created by Silvia G. A. </p>
  </footer>
</body>

</html>