<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Layout</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    <nav class='navbar'>
      <a href='/' class='nav-item'>Home</a>
      <a href='/beers' class='nav-item'>Beers</a>
      <a href='/randombeers' class='nav-item'>Random Beers</a>
    </nav>

    {{{body}}}
    <footer class='footer'>
      <p>Developed by Tunde</p>
    </footer>
  </body>
</html>