<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>IronBeers</title>
  </head>
  <body>
    <nav class='nav-bar-section'>
      <div class='nav-bar'>

        <a class='home' href='/'>
          Home
        </a>
        <a class='beers' href='/beers'>Beers</a>
        <a class='random-beer' href='/random-beer'>Random Beer</a>

      </div>
    </nav>
    <main>
      {{{body}}}
    </main>
    <footer>
      <h5>Developed by Ironhack ;)</h5>
    </footer>
  </body>
</html>