<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Iron Beers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <nav>
        <a <nav class="nav justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/beers">Beers</a>
            <a class="nav-link" href="/random-beers">Random Beer</a>
    </nav>

    {{{ body }}}

    <footer>
        <p>Develop by Ironhack :)</p>
    </footer>
</body>

</html>