<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Iron Beers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css"
</head>
<body>
      <ul class="nav nav-space navbar-light">
    <li class="nav-item ">
      <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home"></i> Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/beers">Beers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/randomBeer">Random Beer</a>
    </li>
  </ul>

    {{{body}}}

<div class="footer">.</div>
</body>
</html>