<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beer">Random Beer</a></li>
        </ul>
    </div>
    {{{body}}}
    <div id="footer">
        <p>Develop by Ironhack &#128521;</p>
    </div>
</body>
</html>