<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB BEERS</title>
</head>
<body>
    <nav id="nav-main">
        <a href="/" class="link">HOME</a>
        <a href="/beers" class="link">BEERS</a>
        <a href="/random-beers" class="link">RANDOM BEER</a>
    </nav>

     {{{body}}}
</body>
</html>