<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Document</title>
  {{! <link rel='stylesheet' href='/stylesheets/styles.css' /> }}
  <link rel='icon' type='image/x-icon' href='/images/beer.png' />
  <!-- CSS only -->

  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' rel='stylesheet'
    integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' crossorigin='anonymous' />
  <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>

<body class="d-flex flex-column min-vh-100">

  <navbar>
    <nav class='navbar navbar-expand-sm navbar-dark bg-warning'>
      <a class='navbar-brand container text-dark' href='/'>IronBeer</a>
      <button class='navbar-toggler d-lg-none' type='button' data-bs-toggle='collapse'
        data-bs-target='#collapsibleNavId' aria-controls='collapsibleNavId' aria-expanded='false'
        aria-label='Toggle navigation'></button>
      <div class='collapse navbar-collapse' id='collapsibleNavId'>
        <ul class='navbar-nav me-auto mt-2 mt-lg-0'>
          <li class='nav-item'>
            <a class='nav-link text-dark' href='/beers'>Beer list</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link text-dark' href='/random-beer'>Random Beer</a>
          </li>
        </ul>
      </div>
    </nav>
  </navbar>

  <main>
    {{{body}}}
  </main>

  <footer class='d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top page-footer mt-auto'>
    <div class='d-flex align-items-center container'>
      <span class='text-muted'>Done in Ironhack with a lot of pain :)</span>
    </div>
  </footer>

  <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa'
    crossorigin='anonymous'></script>
</body>

</html>