<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>

<nav class="nav-flex">
    <a href="/">Home</a>
    <a href="/beer">Beer</a>
    <a href="/randomBeer">Random Beer</a>
</nav>

    {{{body}}}

    <footer>
        <h2 class="footer">Developed by Ironack ;)</h2>
    </footer>
</body>
</html>