<!DOCTYPE html>
<html>
<head>
    <title>IronBeers</title>
    
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beer">Random Beer</a></li>
        </ul>
    </nav>

    {{{ body }}}

    <!-- Add your JavaScript files here (bonus iteration) -->
</body>
</html>