<!-- views/layout.hbs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <nav class="">
      <a class="" href="/">Home</a>
      <a class="" href="/beers">Beers</a>
      <a class="" href="/random-beer">RandomBeer</a>
      
      
        
    </nav>

    <main>
    {{{ body }}}
    </main>

  </body>
</html>
