<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Beers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">IronBeer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" id="menu-text" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" id="menu-text" href="/beer">Beers</a>
      <a class="nav-item nav-link" id="menu-text" href="/random-beer">Random Beers</a>
    </div>
  </div>
</nav>

      {{!-- <nav> <a href="/">Home </a> <a href="/beer">Beers </a> <a href="/random-beer">Random Beers </a>  </nav> --}}
    </header>
{{{ body }}}
    <footer>

    </footer>
</html>
