<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ironbeers</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    {{> header}}
    <div id="content-main">
        {{{ body }}}
    </div>
    {{> footer}}
</body>

</html>