<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Generator</title>
</head>
<body>
   
    <nav>
        <a href="/">Home</a>
        <a href="beers">Beers</a>
        <a href="random-beer">Random Beers</a>

    </nav> 
    <div class="main">
    {{{ body }}}
    </div>
    <footer>
        <h2> Made by ironhack</h2>
    </footer>
</body>

</html>