<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express IronBeers</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <header id="header">
    <div class="main-header flexbox">
      <nav class="main-nav">
        <ul class="flexbox">
          <li><a href="#">Home</a></li> 
          <li><a href="\beers">Beers</a></li>       
          <li><a href="\random-beers">Random Beer</a></li>
        </ul>
      </nav>
    </div>
  </header>

    <section  id="header-home" class="flexbox">

       <h1>IronBeers</h1>
       <div><img src="images/beer.png"></div>
       <ul>
        <li><a href="\beers">Beers</a></li>       
        <li><a href="\random-beers">Random Beer</a></li>
      </ul>
 
      
      
    </section>

   {{{ body }}} 

</body>
</html>