<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<nav>
    <span><a href="/">Home</a></span>
    <span><a href="/beers">Beers</a></span>
    <span><a href="/random-beer">Get a random Beer!</a></span>
</nav>
{{{ body }}}
</html>