<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random beer</a>
    </nav>
    {{{body}}}
    <footer>
        Developed by Ironhack
    </footer>
</body>

</html>