<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>Beers</title>
  </head>
  <body>
    <div class="topBar">
      <nav class="navBar">
        <a class="home" href='/' style="text-decoration: none;">Home</a>
        <a class="beers" href='/beers' style="text-decoration: none;">Beers</a>
        <a class="random" href='/random-beer' style="text-decoration: none;">Random Beer</a>
      </nav>
    </div>
      {{{body}}}
    <div class="botBar">
      <nav class="bottom">
        <p class="text-bottom">Developed by Ironhack ;)</p>
      </nav>
    </div>
  
  </body>
</html>