<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <nav class = "nav-bar">
        <ul class = " nav-bar-ul">
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/randomBeer">Random Beer</a></li>
        </ul>
    </nav>
</header>
<body>
    {{{body}}}
</body>
</html>