 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class='navbar'>
      <a class='navbar-brand' href='/'>Home</a>
      <a class='navbar-brand' href='/beers'>Beers</a>
      <a class='navbar-brand' href='/random-beer'>Random Beer</a>
    </nav>

    <main>
      {{{body}}}
    </main>

  </body>
</html> 