<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IronNBA</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>

<div class="nav">
    <a href="/">Home</a>
        <a href="/Beers">Beers</a>
            <a href="/Random-beer">Random-Beer</a>
</div>
    
 
    {{{ body }}} 
  </body>
</html>