<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav id="nav-main">
    <a href="/" class="link">Home </a>
    <a href="/beers" class="link">Beers</a>
    <a href="/random-beers" class="link">Random Beer</a>
</nav>
    {{{body}}}
</body>
</html>