

<div>
    {{#each oneBeer}}
    <div class="random-text">
        {{>beerpartial}}
        <a href="/one-beer/{{id}}">
            <p>{{food_pairing}}</p>
            <p>{{brewers_tips}}</p>
        </a>
    </div>
    <div class="beer-image">
        {{>imagepartial}}
    </div>
    {{/each}}
</div>
{{!-- {{log this}} --}}