<div class='one-beer-wrapper'>
    {{#each oneBeer}}
    <div class="one-text">
        {{>beerpartial}}
        <a href="/{{id}}">
            <p>{{food_pairing}}</p>
            <p>{{brewers_tips}}</p>
        </a>
    </div>
    <div class="beer-image">
        {{>imagepartial}}
    </div>
    {{/each}}
</div>
{{!-- {{log this}} --}}