
<div class="album py-5 bg-light">
<div class="buttons">
             <a href="/product-details/{{beer.prev}}" class="btn btn-primary">Previous</a>
             <span></span>
             <a href="/product-details/{{beer.next}}" class="btn btn-primary">Next</a>
</div><br>
  
  {{> details beer}}

</div>