{{#each responseFromAPI}}
  <div>
    <img src={{image_url}} alt='' />
    <h1>{{name}}</h1>
    <p>{{description}}</p>
  </div>
{{/each}}
{{!-- 
<div class="container">
  <h1>Beers</h1>
  <div class="row">
    {{#each beer}}
        {{> beerPartial this}} 
    {{/each}}
  </div>
</div> --}}