<article class="article">

    <h1>Random Beers</h1>
    <hr>

    {{#each randomBeer}}
    {{>beerpartial}}
    <ul>
        <h3>Food pairing:</h3>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <h3>Brewers tips:</h3>
    <p class="description">{{brewers_tips}}</p>
    {{/each}}

</article>