<div class="container mb-auto my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap  lg:-mx-1">
        {{#each randomBeer}}
            {{> rbeerpartial this}}
        {{/each}}
    </div>
</div>