<div>

  {{#each responseFromAPI}}

    <div>
      {{> beerpartial }}
    </div>

    <div>
      <h3>Food Pairing</h3>

      {{food_pairing}}

    </div>

    <div>

      <h3>Brewer Tips</h3>

      {{brewers_tips}}
    </div>

  {{/each}}
</div>