<div class="col-beer">
  <div class="beer">
    <img class="beer-img-top" src="{{randomBeer.image_url}}" alt="{{randomBeer.name}}"/>
    <div class="beer-body">
      <h5 class="beer-title"> {{randomBeer.name}} </h5> 
    </div>
  </div>
</div>