 <div class="d-flex flex-wrap">
    <div class="card m-4" style="width: 20rem;">
      <img src="{{random.image_url}}" class="card-img-top" style="max-width: 10rem; max-height: 40rem; width: 100%; height: 100%">
    
      <div class="card-randomBody">
         <h5 class="card-randomTitle">{{random.name}}</h5>
         <p class="card-randomText">{{random.description}}</p>
         <p class="card-randomTag">{{random.tagline}}</p>
      </div>
    </div>
 </div>