<div>
    {{#each randomBeer}}
    {{>beerpartial}}
    <p class="food-pairings"><strong>Food Pairings:</strong> {{food_pairing}}</p>
    <p class="brewers-tips"><strong>Brewers' Tips:</strong> {{brewers_tips}}</p>
    {{/each}}
</div>