 

    <div>
         {{#each responseFromApi}}

        {{>beerpartial this}}
        <p>Food Pairing: {{food_pairing}} </p>
        <p>Brewer tips: {{brewers_tips}} </p>

        {{/each}}
    </div>
