<section class="random-beer">

<div class="solo-beer">
   {{#each randBeer}}
      {{> beerpartial}}
    
    <ul class="pairings-ul">
      <h3 class="bold">Food pairing</h3>
        {{#each food_pairing}}
         <li>{{this}}</li>
         {{/each}}
    </ul>
    
    
    <p><span class="bold">Brewer tips:</span>{{brewers_tips}}</p>
    {{/each}}

    </div>

</section>