<div class="container">

    <h1>Random Beer</h1>

    <hr>

    <div class="row">

        {{#each image_url}}
        <li>{{this}}</li>
        {{/each}}

    </div>

    <a class="btn btn-dark" href="/">Volver a inicio</a>

</div>