
    <ul id="container" class="random"> {{#each rand}}
        <li>
            {{>beerpartial}}
            <p>{{this.food_pairing}}</p>
            <p>{{this.brewers_tips}}</p>
        </li>
        <br>
        {{/each}}

    </ul>
