<div class="row">
    <div class="random-beer">
        {{#each beer}}
            {{> randomBeerPartial this}}
        {{/each}}
    </div>
</div>

{{!-- <footer>
    <nav id="footer-text">Develop by Ironhack ;) </nav>
</footer> --}}