{{#each randomBeer}}
<div>
    {{> beerpartial}}
    <p>
        Food Pairing: 
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </p>
    <p>
        Brewers Tips: {{this.brewers_tips}}
    </p>
</div>
{{/each}}