<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     
    <div class="serve container">
        <h1>Las cervezas</h1>
    {{#each beers}}
       <p>{{name}}</p> 
       <img src="{{image_url}}" alt="imgBeers"> 
        <p>{{description}} </p>
       <p>{{tagline}} </p>

    {{/each}}
    </div>
</body>
</html>