{{#each responseFromAPI as |beer|}}
    {{> beerpartial beer=beer}}
    <h3>Food pairing</h3>
    <ul>
        {{#each beer.food_pairing as |food|}}
            <li>{{food}}</li>
        {{/each}}
    </ul>
    <h3>Brewers tips</h3>
    <p>{{beer.brewers_tips}}</p>

{{/each}}