<div id="random">
    {{#each randomFromApi}}
        {{> beerpartial this}}
        <div id="food">
        <h5>Food Pairing:<br></h5>
        <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
        </ul>
        </div>
        <div id="brewer">
        <h5>Brewer's Tips:<br></h5>
        <p>{{this.brewers_tips}}<br></p>
        </div>
    {{/each}}
</div>