
<div id="container">
    <div class="beer-info">
        {{> beerpartial beerRand}}
        <div><p>{{beerRand.food_pairing}}</p></div>
        <div><p></p>{{beerRand.brewers_tips}}</p></div>
    </div>
</div>