<div>
    <div>
         <div>{{> beerpartial }}</div>
        <h2>Food Pairing</h2>
        <li>{{food_pairing.[0]}}</li>
        <li>{{food_pairing.[1]}}</li>
        <li>{{food_pairing.[2]}}</li>  
        <p><Strong>Brewers Tips: </Strong>{{brewers_tips}}</p>     
    </div>
</div>