<main>
    {{#each responseFromAPI}}
    {{> beerpartial}}
    <ul>
        {{#each this.food_pairing}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>{{this.brewers_tips}}</p>
    {{/each}}
</main>