
{{>beerpartial responseFromAPI}}

{{!-- <h2>Food Pairing:</h2>

{{#each responseFromAPI.food_pairing}}
    <li>{{this}}</li>
    {{/each}}
<h3> Brewer Tips:</h3>
<p>{{responseFromAPI.brewers_tips}}</p> --}}
