<div class="container mt-3 mb-3">
  <h1 class="title">{{title}}</h1>
  <div class="row random">
    <div class="col-md-6 random">
      <div class="card beer-card">
        {{> beerpartial beer }}
        <h4>Food Pairing</h4>
        <p class="random-food">{{beer.food_pairing}}</p>
        <h4>Brewer tips</h4>
        <p class="random-tips">{{beer.brewers_tips}}</p>
      </div>
    </div>
  </div>
</div>