<div class="container">

    <div class="row">

        {{#each beers}}

        <div>

            {{>beerpartial}}
            <p>Food pairing</p>
            <ul>
                {{#each food_pairing}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p>{{brewers_tips}}</p>

        </div>

        {{!-- no se como con un partial hacer que en una página el diseño de los productos sea de una manera y en otra
        pagina sea de otra --}}

        {{/each}}
    </div>

</div>