<div class="container">
    <div class="row justify-content-center">
        {{#each randomBeer}}
        {{>beerpartial}}
        <div class="col column">
            <ul>
                {{#each food_pairing}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p>Tips: {{brewers_tips}}</p>


            {{/each}}
        </div>

    </div>

</div>