<div class="randombeer-img">
   {{#each randomBeer}}
   {{> beerpartial}}  
<div class="randombeer-text">
   <h3>Food pairing:</h3>
     <ul>
         {{#each food_pairing}}
            <li>{{this}}</li>
         {{/each}}
     </ul>
     
     <h3>Brewers tips:</h3>
     <p>{{this.brewers_tips}}</p>
     <div>
   {{/each}}
</div>
