{{> beerpartial}}
<div id="#clear"></div>
<div id="beerInfo2">
    <div>
        <b>Food Pairing</b>
        <ul id="food">
            {{#each food_pairing}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <div>{{brewers_tips}}</div>
</div>