<div>
    {{>beerpartial}}
    <h3>Food Pairing</h3>
    <ul>
        {{#each food_pairing}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <h5><b>Brewer tips:</b> {{brewers_tips}}</h5>
</div>