<div class="beer-card beer-card-single" id="random-beer">
{{>beerPartial beer}}
<br>
<p><strong>Food Pairing:</strong> {{beer.food_pairing}}</p>
<br>
<p><strong>Brewer Tips:</strong> {{beer.brewers_tips}}</p>
</div>
