


   

<div class="Beerbody">
    <div class="beerPic">
        <img src="{{image_url}}"/>
    </div>
    <div class="beerbox">
        <h4 class="beername">{{name}}</h4>
        <div class="beerdes">{{description}}</div>
        <div class="beertag">{{tagline}}</div>
    </div>    
</div>