{{!-- para usar el partial --}}
{{!-- this hace referenacia al objeto --}}
<div>
    {{#each beer}}
        <div>
            {{> beerpartial this}}
        </div>

        <div>
            <h3>food Piring</h3>
            <p>{{food_pairing}}</p>
        </div>

        <div>
            <h3>Beer Tips</h3>
            <p>{{brewers_tips}}</p>
        </div>

    {{/each}}


</div>