<section class="container">

    <h1>This is your random bear</h1>
    <hr>

    <div class="row beers-list">
            {{#each beerRandom}}
            {{>beerpartial this}}
            {{/each}}

    </div>

</section>
