<div>
        {{>beerpartial}}
        <div>
           
            <p><strong>Food Pairing:</strong>  {{food_pairing}}</p>
            <p><strong>Brewers Tips:</strong>  {{brewers_tips}}</p>
        </div>
</div>