<h1>Random Beer</h1>
    <div>

        {{#each randomBeer}}

            {{> beerpartial this}}
            
            {{food_pairing}}
            {{brewers_tips}}
            
        {{/each}}

        

    </div>