  <head>
    <meta charset='utf-8' />
    <title>Random Beer</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    <h1>Fancy an Adventure? Here's a Random Beer</h1>
        <div class="random-beer">
            {{> randomBeer}}
        </div>
    </ul>
  </body>