<div id="grid-container">
    {{#each randomBeer}}
        <div class="grid-item">
        {{> beerpartial }}
        <h3>Food Pairing:</h3>
            <ul>
                {{#each this.food_pairing}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        <p><strong>Brewers tips:</strong> {{this.brewers_tips}}</p>
        </div>
    {{/each}}
</div>