<div class="container">
    <div class="row justify-content-center">
        <div class="card random-beer-card">

            {{>beerpartials}}
            <h6>Food pairing:</h6>
            <ul>
                {{#each food_pairing}}
                <li>{{this}}</li>
                {{/each}}
            </ul>

            <p> <strong>Brewers Tips:</strong> {{brewers_tips}}</p>

        </div>

    </div>

</div>