      <div class="random-beer"> 
        {{> beerpartial this}}
        <p><b>Food Pairing</b></p>
        <ul>
          <li>{{food_pairing}}</li>
        </ul>
        <p><b>Brewer tips: </b>{{brewers_tips}}</p>
       </div>