<div>

    {{#each beerRandom}}
        {{> beerpartial }}
        <p>Food Pairing {{this.food_pairing}} </p>
        <p>Brewers Tips: {{this.first_brewed}} </p>
    {{/each}}

    <div class="buttons">
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random Beer</a>
    </div>

</div>

