<section id="randomBeer">
    
    <div class="BeerCard">
        <img class="beerImg" src="{{image_url}}" />
        <h4 class="beerName"> {{this.name}}</h4>
        <p class="beerDescripton">{{this.description}}</p>
        <p class="beerTagline">{{this.tagline}}</p>
    </div>
    
</section>