<div>
    {{#each randomBeer}}
        {{> beerpartial }}
        <p><strong>Food Pairing</strong></p>
        <ul> 
            {{#each this.food_pairing}}
                <li>
                    {{this}}
                </li>
            {{/each}}   
        </ul> 
        <p><strong>Brewer Tips : </strong>{{this.brewers_tips}}</p>
    {{/each}}
</div>