<h1>Random Beer Page</h1>

<div class="random-beer">


  {{#each getRandomBeer}}
   {{> beerpartials this}}
    <h5 class='food-pairing'>{{this.food_pairing}}</h5>
    <h5 class='brewer-tips'>{{brewers_tips}}</h5>
  {{/each}}

</div>


