<div id="main-container">
    {{#each beer}}
         {{> beerpartial}}
         <div class="margin-left">
    <p class="bold margin-top no-margin">Food Pairings: </p>
            <ul class="pairings">
                {{#each this.food_pairing}}
                <li class='margin-left top' >{{this}}</li>
                {{/each}}
            </ul>
            <p class="tips"><span class="bold">Brewer Tips: </span>{{this.brewers_tips}}</p>
    </div>
</div>
</div>
    {{/each }}
    
   
    
   