<div>
    {{> beerCard this}}
    <h4>Food pairing</h2>
    <ul>
        {{#each this.food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p><b>Brewers tips: </b> {{this.brewers_tips}}</p>
</div>