<div class="random-beer-container">
  {{> beerpartial }}
  <h3>Recommended Food Pairings:</h3>
  {{#each food_pairing}}
    <p class="food-pairing">{{this}}</p>
  {{/each}}
  <h3>Brewer's tips</h3>
  <p class="brewers-tips">{{brewers_tips}}</p>
</div>