<main class="container random">

    <div>
        {{#each responseFromAPI}}

        {{> randombeerpartial}}

        {{/each}}

        {{#each beerFromApi}}

        {{> randombeerpartial}}

        {{/each}}
    </div>

</main>