<div class='random-beer'>
 {{#each randomBeer}}
{{> beerpartial this}}
<ul>Food pairing:
            {{#each this.food_pairing}}
           <li>{{this}} </li>
    {{/each}}
        </ul>
        <p><b>Brewers Tips: </b>{{this.brewers_tips}}
        </p>
{{/each}}
</div>