<div>
  <ul>
    {{#each responseFromAPI as |beer|}}
      <li>
       {{>beerpartial beer=beer}} 
        <h1>Food Pairing</h1>
        {{#each beer.food_pairing as |food|}} 
        <li>{{food}}</li>  
    {{/each}}
     <h2>Brewers tips:</h2>
        {{beer.brewers_tips}}
    {{/each}}
  </ul>
</div>
