<section class="random">
  {{#each responseFromAPI}}
  {{> beerpartial }}
  <p><b>Food Pairing</b></p>
  <ul>
    {{#each this.food_pairing}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <p><b>Brewers Tips: </b>{{this.brewers_tips}}</p>
  </div>
  {{/each}}
</section>