<main class="main-random">
    {{> beerpartial}}
    <div>
        <p class="random-title">Food Pairing</p>
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><b>Brewers Tips: </b> {{brewers_tips}}</p>
    </div>
</main>