<div>
    {{> beerpartial randBeer}}
</div>

<div class="random-info">
    <ul>
        {{#each randBeer.food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{randBeer.brewers_tips}}
</div>