<div class="card mb-3 container " style="max-width: 700px; margin: 60px 300px ">
    <div class="row no-gutters">
        {{#each beersFromApi}}
        
        {{> randomBeerCard}}

        {{/each}}
    </div>
</div>