<div class="cards-container">
    {{#each randomBeers}}
    {{> beersCard this}}  
    <p class="card-text">{{this.food_pairing}}</p>
    <p class="card-text">{{this.brewer_tips}}</p>
    {{/each}}
</div>