<head>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>


<ul>
  {{#each randomBeer}}
  <ul>
    {{> beerpartial this}}
      <h3>Food Pairing</h3> {{#each food_pairing}}
      <li>{{this}}</li>
        {{/each}}
      <p><strong> Brewer tips: </strong>{{brewers_tips}}</p>
  </ul>
  
  {{/each}}
</ul>