<section class="random-beer-info">
  {{#each beersFromApi}}
  <div class="random-card">
    <a href="/beers/beer-{{this.id}}">
      {{> beerPartial this}}
      <h2>Food pairing</h2>
      <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      <h2><b>Brewer Tips: </b>{{this.brewers_tips}}</h2>
    </a>
  </div>
  {{/each}} 
</section>
 
    