<img src="{{[0].image_url}}" alt="{{[0].name}}">
<h1>{{[0].name}}</h1>
<h6>{{[0].tagline}}</h6>
<p>{{[0].description}}</p>
<p><b>Food Pairing</b></p>
<ul>
  {{#each [0].food_pairing}}
  <li>{{this}}</li>
  {{/each}}
</ul>
<p><b>Brewers Tips: </b>{{[0].brewers_tips}}</p>