<ul class="random-beer">
{{#each randomBeer}}
<li style="list-style-type: none;">
<p>Food Pairing : {{food_pairing}}</p>
<p>Brewers Tips : {{brewers_tips}}</p> 
</li>
{{/each}}
</ul>
{{> beerpartial productArray=randomBeer }}


