<div class="allBeers">
    <h1>Random Beer</h1>
    <div class="row">
        {{#each randomBeer}}
        
        {{> beerpartial}}
        
        <ul>
            {{#each food_pairing}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <h2>{{brewer_tips}}</h2>
        {{/each}}
    </div>
</div>