<h1>Random Beer</h1>

<div class="random">
    {{#each beers}}
        {{> beerpartial}}
        <p>Brewer Tips: {{this.brewer_tips}}</p>
        <ul>
        <p>Food pairing: {{#each this.food_pairing}}</p>
        <li>{{this}}</li>
        {{/each}}
        </ul> 
    {{/each}}
</div>