<div>
    {{#each responseFromAPI}}
        {{> beerpartial}}
        <div class="beer-details">
            <p><span>Food pairing: </span>{{food_pairing}}</p>
            <p><span>Brewer tips: </span> {{brewers_tips}}</p>
        </div>
         {{/each}}    
</div>