<!-- random-beer.hbs -->

<div class="random">
    <div class="beer-flex">
        {{#each random}}  
            {{>beerpartial this}}       
        {{/each}}
    </div>
</div>
<!-- random-beer.hbs -->

<!-- Rest of the code -->