<div class="main">

    <img
        class="image big"
        src="{{image_url}}"
    />

    {{> beerpartial}}

    <b> Food pairing :</b> <br>
    <ul id="food-pairing-list">
        {{#each food_pairing}}
        <li class="item">
            {{this}}
        </li>
        {{/each}}
    </ul>

    <p class="text">{{brewers_tips}}</p>

</div>