<div class="container">
    <div class="row">
        {{#each randomBeer}}
            {{>beerpartial this}}
            <p>food pairing: {{this.food_pairing}}</p>
            <p>brewers tips: {{this.brewers_tips}}</p>
        {{/each}}
    </div>

</div>
