<h2>Here you have a random Beer from our collection</h2>
  <article>
    {{>beerPartial}}
    <ul>
      {{#each food_pairing}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p><strong>Brewers Tips: </strong>{{brewers_tips}}</p>
  </article>
      

<a class="btn btn-lg green-btn" href="/">Back to home page</a>
