{{#each beer}}
 {{>beerpartials}}
    <ul>
        {{#each food_pairing}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>Brewers Tips: </p>
    <ul>
        <li>{{brewers_tips}}</li>
    </ul>
{{/each}}