

    <div class="random-beer">
    {{#each randomBeer}}



    <div class="div1">
        <img class="singlar-beer" src="{{this.image_url}}">
    </div>

    <div class="div2">
        <p>{{this.name}}</p>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
    </div>

    {{/each}}

</div>