<div class="container">
    {{#each theRandomBeer}}

    {{>beerpartial}}

    <em>Food pairing</em>
    <h5>{{food_pairing}}</h5>

    <h5 class="margin-bottom"><em>Brewer Tips</em>{{brewers_tips}}</h5>

    {{/each}}

</div>