<div class='random-beer'>
 {{#each randomBeer}}
{{> beerpartial this}}
{{/each}}
<ul>Food pairing:
            <li>{{this.[foodPairing]}}</li>
            <li>{{[,food_pairing]}}</li>
            <li>{{[,,this.food_pairing]}}</li>
        </ul>
        <p><b>Brewers Tips:</b>{{randomBeer.brewer_tips}}
        </p>
</div>