<div class="container single-beer-container">

{{#each responseFromAPI}}

    {{>beerpartial}}

  <h3> Food pairing </h3>
  <ul>
    {{#each this.food_pairing}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

  <p>
    <strong>Brewers tips:</strong>
    {{this.brewers_tips}}
  </p>
{{else}}
  <p>Couldn't choose a random beer</p>
{{/each}}

</div>