
<div class="container d-flex align-items-center justify-content-center">
    
    <img src="" alt="{{beer.name}}">
    <div>
        <h3></h3>
        <p class="w-50"></p>
    </div>
    
    
</div>
    
<div class="card " style="width: 18rem;">
  <img src="{{image_url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="" class="btn btn-primary">Go to Beer</a>
  </div>
</div>
