
    
    <div class="beers">
        {{#each responseFromAPI}}
          {{> beerpartial this }} 
        <p>{{this.food_pairing}}</p>
        <p>{{this.brewers_tips}}</p>
        </article>
          {{/each}}
    </div>
  
