{{#each randomBeer}}
 {{> beerpartial this}}
  <h4>Food pairing:</h4>
  <ul>
    {{#each food_pairing}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  
  <p><span>Brewers tips: </span>{{brewers_tips}}</p>
{{/each}}