    <div>
        {{> beerpartial }}
        <p><ul>Food Pairing:
            <li>{{this.food_pairing}}</li>
            </ul>
            </p>
        <p>Brewers Tips: {{this.brewers_tips}}</p>
    </div>