<div class="rb">
    {{#if name}}
        <div class="rbcard">
            <div>
                <img src="{{image_url}}" alt="beer">
            </div>
            <div id="rbinfo">
                <h1>{{name}}</h1>
                <p id="tagline">{{tagline}}</p>
                <p>{{description}}</p>
            </div>
        </div>
    {{/if}}
</div>