<div class='container'>
  <h1>Random Beer</h1>
  <div class='row'>
    {{#each beers}}    
        {{> beerpartial this}}
        <div class="info-random">
          <h5>Food Pairing</h5>
          <ul>
            <li>{{this.food_pairing}}</li>
          </ul>         
          <h5>Brewers Tips</h5>
          <p>{{this.brewers_tips}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>