<div class="randomBeer">
{{#each randomBeer}}
    {{> beerpartial this}}
<div>
<p><span>Food pairing:</span></p>
{{#each food_pairing}}
<ul>
    <li>{{this}}</li>
</ul>
{{/each}}
<p><span>Brewers Tips: </span>{{brewers_tips}}</p>
</div>
{{/each}}
</div>