<div>
    {{#each rBeers}}
    <a href="/">
        <div>
            {{> beerpartial this}}
            <br>
            <br>
            {{food_pairing}}
            <br>
            <br>
            {{brewers_tips}}
        </div>
    </a>


    {{/each}}
</div>