<div>
    {{#each randomBeer }}
     {{> beerpartials this}}
     <div class="randomBeerText">
        <h2>Food Pairing</h2> 
        <ul>
            <li>{{this.a}}</li>
            <li>{{this.b}}</li>
            <li>{{this.c}}</li>
        </ul>
        <div>
            {{this.brewers_tips}} 
        </div>
    </div>
    {{/each}}
</div>