<div>
    <ul>
        {{#each random as |beer|}}
          {{> beerpartial beer= beer}}

            <h4>Food Pairing</h4>
            <ul>
                {{#each food_pairing as |food|}}
                <li>{{food}}</li>
                {{/each}}
            </ul>

            <h4>Brewers Tips:</h4>
            <p>{{beer.brewers_tips}}</p>
        {{/each}}
    </ul>
</div>