
<div class="select-beer-random-page">
    {{>beerpartial}}
    <p><strong>Food Pairing: </strong></p>
    <ul>
        {{#each food_pairing}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>

    <p><strong>Brewers Tips: </strong>{{brewers_tips}} </p>
</div>
</div>
