

<section class="container">

    <div class="row beers-list">
        <div class="col-md-8">
            <article>
                {{>beerInfo this}}
                <h6>Food pairing:</h6>
                <ul>
                    {{#each this.food_pairing}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                <p>{{this.brewers_tips}}</p>
            </article>
        </div>
    </div>

</section>