<div id="random-beer-wrapper">
    <div>
        {{> beerpartial beer}}
        <h4>Food Pairing</h4>
        <ul>
        {{#each beer.food_pairing}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
        <p> <strong>Brewers Tips: </strong>{{beer.brewers_tips}}</p>
    </div>
</div>
