
<div clas="container">

  {{#each responseFromAPI}}
    <div>

      <article class='card beer-card'>

         {{>beerPartial}}
          <p>food pairing: {{food_pairing}}</p>
          <p>tips: {{brewers_tips}}</p>

        </div>

      </article>

    </div>

  {{/each}}

</div>