<div>


    {{#each randomBeer}}
    
    {{> beerpartial this}}

    <div class="card-body">
    <p class="card-text">{{ food_pairing }}</p>
    
    <p class="card-text">{{ brewers_tips }}</p>
    </div>
    
    {{/each}}


</div>