{{#each randomBeer}}
  <div class='beerItem'>
      {{> beerpartials this}}
    <ul>
      {{#each this.food_pairing}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p><strong>Brewers Tips: </strong> {{this.brewers_tips}}</p>
  </div>

{{/each}}