<div class="row random-beer-page">
    {{>card}}
    <h5>Food pairing</h5>
    <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p> <strong>Brewers Tips:</strong> {{brewers_tips}}</p>

</div>