<h1>Random Beer</h1>

<div class="random">
    {{#each beers}}
        {{> beerpartial}}
        <div class="extra-info">
            <p>Brewer Tips: {{this.brewer_tips}}</p>
            <p>Food pairing:</p>
            <ul> 
            <p> {{#each this.food_pairing}}</p>
            <li>{{this}}</li>
            {{/each}}
            </ul> 
        </div>
    {{/each}}
</div>