<div class="container">
    <div>
        {{#each data}}
            {{> beerpartial this}}
            <h4> Food Pairing </h4>
            <ul>
                {{#each this.food_pairing}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p><b> Brewers Tips: </b> {{brewers_tips}}</p>
        </div>
        {{/each}}
    </div>
</div> 