<div class="single">
    <article>
        {{> detail this}}
        <h3>Food Pairing</h3>
        <ul>
            {{#each this.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><b>Brewer Tips: </b>{{this.brewers_tips}}</p>

    </article>
</div>