 <main class="container random">
    
        {{#if name}}
    
        <div class="listBeers">
    
            <div class="card" style="width: 18rem;">
    
                <img class="card-img-top" src="{{image_url}}" alt="beerImg">
    
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">{{tagline}}</p>
                </div>
            </div>
    
        </div>
    
        {{/if}}
    
</main>