<div class='random-beer'>
 {{#each randomBeer}}
{{> beerpartial this}}
{{/each}}
<ul>Food pairing:
            <li>{{[this.food_pairing]}}</li>
            <li>{{[,this.food_pairing]}}</li>
            <li>{{[,,this.food_pairing]}}</li>
        </ul>
        <p><b>Brewers Tips:</b>{{this.brewers_tips}}
        </p>
</div>