<head>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    {{{ body }}}
    {{> navpartial}}
<div class="randombeer-ul">
  {{#each randomBeer}}
  <ul>
    {{> beerpartial this}}
    
      <h3 class="foodpairing">Food Pairing</h3> {{#each food_pairing}}
      <li class="foodpairing-li">{{this}}</li>
        {{/each}}
      <p class="brewertips"><strong> Brewer tips: </strong>{{brewers_tips}}</p>
      </div>
  </ul>
  
  {{/each}}
</div>

    {{> footerpartial}}
  </body>