
        <li>
            {{#each beer}}
            <img src={{image_url}}></br>
            <h1>{{name}}</br></h1>
            {{description}}</br>
            <b>{{tagline}}</br></b>
        </li>
        {{/each}}
    