<div class="random_beer_cards__container">
    <div class="random_beers__wrapper">
        {{> beerPartial this}} 
        <section class="food_pairings">
            <h5 class="food_pairings">Suggested pairings:</h5>
            <ul class="food_pairings__list">
                {{#each food_pairing}}
                <li class="food_pairings__item">{{this}}</li>
                {{/each}}
            </ul>
        </section>
        <section class="brewers_tips">
            <h5>Brewers tips:</h5>
            <p class="">{{this.brewers_tips}}</p>
        </section>
    </div>
</div>