<div class="d-flex justify-content-around align-items-center flex-row">
    <div>
        {{#each beers}}
                {{> beerpartial 
                    image_url=image_url
                    name=name
                    tagline=tagline
                    description=description
                }}
        {{/each}}
        <h3>Food pairing:</h3>
        {{#each beers.[0].food_pairing as |food|}}
            <ul>
                <li>{{food}}</li>
            </ul>
        {{/each}}
        <h3>Brewers tips:</h3>
        <p>{{beers.[0].brewers_tips}}</p>
    </div>
</div>    
