
{{>beerpartial}}

<h3>Food Pairing</h3>
<ul>
    <li>{{food_pairing.[0]}}</li>
    <li>{{food_pairing.[1]}}</li>
    <li>{{food_pairing.[2]}}</li>
</ul>
<h3>Brewers Tips</h3>
<p>{{brewers_tips}}</p>
