<title>Random Beer</title>
<div class='container-center'>

  {{> beerpartials randomBeerApi }}

  {{#each randomBeerApi}}

    <p><b>Food pairings: </b>{{this.food_pairing}}</p>
  {{/each}}
  {{#each randomBeerApi}}
    <p><b>Brewer's tips: </b>{{this.brewers_tips}}</p>
  {{/each}}
</div>