<div id="random-beer">
    <div>
        {{> beerpartial randomBeer}}
        <p>Food pairing</p>
        <p id="food-pairing">{{randomBeer.food_pairing}}</p>
        <p id="brewer-tips">Brewer tips: {{randomBeer.brewer_tips}}</p>
    </div>
</div>
