<div class="container">

    <div class="row beerRan">
        {{>beerpartial}}
        <div>
            <p> food Pairing: {{food_pairing}}</p>
            <p> Brewers Tips: {{brewers_tips}}</p>

        </div>





    </div>


</div>