<main>
{{> beerpartial this}}
<p>{{this.description}}</p> 
<ul>
    <h4>Food pairing</h4>
    {{#each this.food_pairing}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<p><strong>Brewer tips: </strong> {{this.brewers_tips}}</p>
</main>