<ul>
    {{#each beersDataRandom}}
    <li style="list-style-type: none;">
        <img src="{{this.image_url}}">
        <p>{{this.name}}</p>
        <p>{{this.description}}</p>
    </li>
    {{/each}}
</ul>