
   <div>
  {{#each data as |beer|}}
    {{> beersPartials beer=beer}}
    <h6><strong>Food Pairing</strong></h6>
    <p class="card-ingredients">{{beer.food_pairing}}</p>
    <p><strong>Brewers Tips:</strong> {{beer.brewers_tips}}</p>
  {{/each}}
</div>
