<div class="container">


    {{#each responseFromAPI}}
    <div class="d-flex flex-row align-items-center">
        {{> beerpartial}}
    </div>
    <div class="d-flex flex-column justify-content-center beer-ran">
        {{> beerCardRandom}}
    </div>
    {{/each}}



</div>