<div>
  <div class='beers'>
    <div>
      <div class='beer-image-div'>
        <img class='beers-images' src='{{randomBeer.image_url}}' alt='Beer Images'/>
      </div>
      <h1>
        {{randomBeer.name}}
      </h1>
      <h5>
        {{randomBeer.tagline}}
      </h5>
      <p>
        {{randomBeer.description}}
      </p>
    </div>
  </div>
</div>