<main class="container beers-page random">
    {{#each data}}
        {{>beerpartials this}}
        <p>Food pairing: {{this.food_pairing}}</p>
        <p>Brewers Tips: {{this.brewers_tips}}</p>
    </div>
    {{/each}}
</main>