<h1>Random beer:</h1>

{{#each randomBeer}}
    {{> beerpartial this}}
<p><span>Food pairing:</span></p>
{{#each food_pairing}}
<ul>
    <li>{{this}}</li>
</ul>
{{/each}}
<p><span>Brewers Tips: </span>{{brewers_tips}}</p>
{{/each}}