<div>
    <h1>Random view beer</h1>

    <ul> {{#each rand}}
        <li>
            {{>beerpartial}}
            <p>{{this.food_pairing}}</p>
            <p>{{this.brewers_tips}}</p>
        </li>
        <br>
        {{/each}}

    </ul>

</div>