<div id="randomB-container">

    {{#each randomBeer}}

        {{> beerPartial this}}
        
        <p><b>Food Pairing:</b></p>
        {{#each food_pairing}}
            <li>{{this}}</li>
        {{/each}}

        <p><b>Brew Tips:</b> {{brewers_tips}}</p>
    {{/each}}

</div>