<section class="container">
    <div>
        <img id="img" src="{{image_url}}" alt="image-beer">
    </div>

    <div>
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>{{brewers_tips}}</p>
    </div>



</section>