
<section class="random-beer">
{{#each responseFromAPI}} 
    <div class="card" style="width: 18rem;">
    {{>randomImage}}
    <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    
    </div>
</div>
{{/each}} 
</section>