
{{#each randomBeer}}
    {{> beerpartial this}}
    <h2 id="food-pairing">Food Pairing</h2>
    <ul id="food-list">
        {{#each food_pairing}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <p id="brewers-tips"><b>Brewer's Tips:</b> {{brewers_tips}}</p>
{{/each}}
