<div>
    {{#each randomFromApi}}
        {{> beerpartial this}}
        <h5>Food Pairing:</h5>
        <p>{{this.food_pairing}}</p>
        <h5>Brewer's Tips:</h5>
        <p>{{this.brewers_tips}}</p>
    {{/each}}
</div>