
    
<div class="container" id="random">
  <div >
    {{#each beersFromApi}}
        {{> beerpartial }}
        <p class="padding"><span>Food pairing: </span><br>{{food_pairing}}</p>
        <p class="padding"><span>Brewer tips:</span> <br>{{brewers_tips}}</p> 
     {{/each}}
  </div>
</div>


