<div class="container">

    {{>beerpartial}}

    <h5>Food Pairing</h5>
    
    <ul>
        {{#each food_pairing}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <p><b>Brewer tips:</b> {{brewers_tips}}</p>

</div>
