<section class="containerRandom">
    <div class="image"> <img src="{{this.image_url}}" alt=""></div>
    <div class="name">{{this.name}}</div>
    <div class="description">{{this.description}}</div>
    <div class="tagline">{{this.tagline}}</div>
    <div class="food-pairing"></div>
    <div class="brewer-tips"></div>
</section>