<div class="rb">
    {{#if name}}
        <div class="rbcard">
            <div class="rbpartial">
                {{> card this}}
            </div>
            <div>
                <h3>Food pairing</h3>
                {{#each food_pairing as |food|}}
                    <li>{{food}}</li>
                {{/each}}
                <p><b>Brewers tips:</b>{{brewers_tips}}</p>
            </div>
        </div>
    {{/if}}
</div>