
  {{#each randomBeer}}
  <div class='ctn-beer'>

 {{>beerpartial}}
  <h3>Food Pairing:</h3>
 {{#each food_pairing}}
 <ul class='food-pairing'>

<li>
{{this}}
</li>
 </ul>
{{/each}}
<div>
  
<h3>
  Brewers Tips: 
</h3>
<p class='brewers-tips'>
{{brewers_tips}}
</p>
</div>

</div>
{{/each}}


