<div class="container mt-4">
    <h1 class="py-1">Random Beer</h1>
    <hr>
    <div class="container mt-4 d-flex justify-content-between align-items-center ">
        <div class="row gp-4">
            {{>beerpartial}}
            <div class="col-md-6 justify-content-center">
                <h5>Food Pairing:</h5>
                <ul>
                    {{#each food_pairing}}
                    <li class="card-text">{{this}}</li>
                    {{/each}}
                </ul>
                <p class="card-text">Brewers Tips:
                    {{brewers_tips}}
                </p>
            </div>
        </div>
    </div>
</div>
