<main>
    <div class='container-fluid'>

    {{#each data}}

        {{>beerpartial this}}
        <p>{{food_pairing}}</p>        
        <p>{{brewer_tips}}</p>

    
    {{/each}}


    </div>

</main>