<h1>Random beer</h1>
<div class="bear-card">
{{#each randomBeer}}
{{> beerpartial}}
        {{#each food_pairing}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>Brewers Tips: {{brewers_tips}}</p>

{{/each}}
</div>