<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        responseFromAPI[Math.random()*25]

            <img class="beers-img" src={{image_url}}> </br>
            <b>Name</b>: {{name}} </br>
            <b>Description</b>: {{description}} </br>
            <b>Tagline</b>: {{tagline}} </br>

        {{/each}}
    </div>


    
</body>
</html>