<div class="random-beer">
    {{#each responseFromAPI}}
        <img class="beer-image" src="{{this.image_url}}">
        <article class="random-description">
            <h1 class="text">{{this.name}}</h1>
            <p class="text-dimmed">{{this.tagline}}</p> 
            <p class="text">{{this.description}}</p> 
        </article>
    {{/each}}
</div>