<div class="container-random">
    <h1>Random beer</h1>
    {{> beerpartial}}
    <div class="beersrandom-commonInfo">
        <p><strong>Food Pairing:</strong> {{food_pairing}}</p>
        <p><strong>Brewer Tips:</strong> {{brewer_tips}}</p>
    </div>
</div>