<div class="card random-beer-card" style="width:100%;">
  <div class="card-body">
    {{> beerpartial beer = beer}}
    {{#each beer.food_pairing as |food|}}
      <li>{{food}}</li>
    {{/each}}
    <p class="card-text">{{beer.brewers_tips}}</p>
  </div>
</div>