<div class='title'>
  <h1> Your lucky beer</h1>
<div>

<div class="container">
  <div class="row">
      {{#each responseFromAPI}} 
        {{> beerCardRandom this }} 
      {{/each}}
  </div>
</div>
