<h1>Random Beer Page</h1>
{{#each responseFromApi}}
    {{>beerpartial}}
    <p>{{this.brewers_tips}}</p>
    <ol>
        {{#each this.food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ol>
{{/each}}