<div class='container'>
  <div class='row'>
    {{#each randomBeer}}
    {{> beerpartial this }}
          <ul><strong>Pairing:</strong>
            {{#each food_pairing}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
          <h4><strong>Brewers tips:</strong></h4>
          <p>{{brewers_tips}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>