<div class="random-beer-div">
    {{#each randomBeer}}
    {{> beerpartial}}
    <p><strong>Food pairing:</strong></p>
    <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <p><strong>Brewer tips: </strong>{{brewers_tips}}</p>
    {{/each}}  
</div>
