<div>
    
    {{> beerpartial beer}}
    <h4>Food Paaring</h4>
    <ul>
        {{#each beer.food_pairing}}
        <li>{{this}}</li>
        {{/each}}  
    </ul>
   
    <p><span> Brewing Tips: </span>{{beer.brewers_tips}}</p>
</div>