<div class="random-beer">
    {{#each random as |beer|}}
    {{> beerpartial beer = beer}}
    <h3>Food pairing:</h3>
    <ul>
        {{#each food_pairing as |food|}}
        <li>{{food}}</li>
        {{/each}}
    </ul>
    <h3>Brewer tips: <h4>{{beer.brewers_tips}}</h4></h3>
    {{/each}}
</div>