<link rel="stylesheet" href="/stylesheets/beer.css">
<div id="card-wrapper">
    {{#with this}}
        <div class="beer">
            {{> beerPartial}}
            <p><h4>Food pairing: </h4>{{food_pairing}}</p>
           <p><h4>Brewers tips</h4>{{brewers_tips}}</p>
        </div>
    {{/with}}
</div>
