<div class="random-beer-page">
    <div>
        {{> beerpartial}}
        <div class="extra-text">
            <p><strong>Food Pairing:</strong></p>
            {{#each food_pairing}}
                <li>{{this}}</li>
            {{/each}}
            <p class="parr2"><strong>Brewers Tips: </strong>{{this.brewers_tips}}</p>
        </div>
    </div>
</div>