<div class="container">
    <div class="row d-flex jusfity-content-center">
        {{#each randomBeer as |randomBeer|}}
        {{> beerpartial this}}
        <div class="col-8">
            <h4>Food Pairing</h4>
            <ul>
                {{#each food_pairing}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p><strong>Brewer Tips:</strong> {{randomBeer.brewers_tips}}</p>
        </div>
        {{/each}}
    </div>
</div>