<div>
    {{#each beer}}
        {{> beerpartial}}
        <div>
            <h3>Food Pairing</h3>
            {{this.food_pairing}}
            <h3>Brewer tips</h3>
            {{this.brewers_tips}}
        </div>
    {{/each}}
</div>