{{#if randomBeer}}
    <h1>Your random beer</h1>

   {{#each randomBeer}}
        {{> beerpartial}}
        {{#each food_pairing}}
            <li>{{this}}</li>
        {{/each}}
        <h5>{{brewers_tips}}</h5>
   {{/each}}

{{/if}}