<div>
  {{#each random }}
    {{> beerpartial }}
    <h5>Food Pairing</h5>
    <ul>
    {{#each this.food_pairing}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
   
    <div> <b>Brewers Tips: </b> {{this.brewers_tips}}</div>
  {{/each}}
  
</div>