<div class="container">

    <div class="row">

        {{#each theRandom}}

        {{>beerCard}}

        <h2 class="card-text">{{food_pairing}}</h2>
        <p class="card-text">{{brewer_tips}}</p>

        {{/each}}

    </div>

</div>