<div class="container">

    {{#each random}}
    <div class="row">
        {{>beerList}}

        <h2>Food pairing</h2>

        <ul>
            {{#each food_pairing}}

            <li>{{this}}</li>

            {{/each}}
        </ul>

        <h3><strong>Brewers's Tips:</strong></h3>
        {{brewers_tips}}

    </div>
</div>
{{/each}}
</div>