<div>

    {{#each responseFromAPI}}
        {{> beerpartial}}

        {{#each responseFromAPI}}
            <p>{{this.food_pairing}}</p>
        {{/each}}
        
        <p>{{this.brewers_tips}}</p>
    {{/each}}

</div>