<div id="random-beer-div">
    <div class="card">
        {{>beerPartial}}
          <h6>Food Pairing</h6>
          <ul>
              {{#with food_pairing}}
                {{#each this as | food |}}
                    <li>{{food}}</li>
                {{/each}}
              {{/with}}
          </ul>
          <p class="card-text"><span style="font-weight: bold;">Brewers Tips:</span> {{this.brewers_tips}}</p>
        </div>
    </div>
</div>