<div class="list grid">
    <ul>
        {{#each randomBeer}}
        {{> beerpartial}}
        <li>{{this.food_pairing}}</li>
        <li>{{this.brewers_tips}}</li>
        {{/each}}
    </ul>
</div>