<div class = "infoBox">

{{#with beer}}
  {{> beerPartial this}}
{{/with}}

        <p>food pairing: <b> <br>{{beer.food_pairing}}</b></p>
        <p>Brewers Tips: <b> <br>{{beer.brewers_tips}}</b></p>

</div>
