<H1>RANDOM BEERS</H1>
{{!-- image, name, description, tagline, food pairing and brewer tips. --}} 

{{!-- {{> beerpartial}} --}}

<div>
    {{#each responseFromAPI}}
        {{> beerpartial}}   
    <li>Food pairing: {{this.food_pairing}}</li>
    <li>Brewer tips: {{this.brewers_tips}}</li>
    {{/each}}    
</div>
