<div class="container">
    <div class="row">

        {{#each beersInfo}}
        <div class="col-md-5 ">
            <article class="player-card">
                {{>beerpartial}}
            </article>

        </div>
        {{/each}}

    </div>

</div>