{{> beerpartial this}}
<div class="two-columns">
            <p>Food pairings: 
                <ul>
                    {{#each food_pairing}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </p>
</div>