<div>
    <article class="card">
        {{> beerpartial randomBeer}}
        
        <ul>
            {{#each randomBeer.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </article>
</div>








