<div class="row">
    {{#each randomBeer}}

    <div class="col-md-4">

        {{>beerpartial}}

        <p class="text-left"> <strong> Food pairing:</strong> </p>
        <p class="text-left">{{food_pairing}} </p>
        <p class="text-left brewersFinalLine "> <strong>Brewers tips:</strong>{{brewers_tips}} </p>



    </div>

    {{/each}}

</div>