<div class="row">
    
    {{#each randomBeerFromAPI}}
    {{!-- > the greater than sign means that card is a partial --}}
    {{> beerPartial}}
    
    <div class="div-random-beer">
    <div>
    <h5 class="h5">Food Pairing:</h5>
    <ul class="text">
    {{#each food_pairing}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
    </div>
    
    
    <div class="div-random-beer">
    <h5 class="h5">Brewers Tips:</h5>
    <p class="text">{{brewers_tips}}</p>
    </div>
    </div>
    {{/each}}
</div>

