
<div class="container">
    <div class="row">
        <div class="col-">
            {{>beerPartial}}
            <br>
            <p>{{food_pairing}}</p>
            <br>
            <p>{{brewer_tips}}</p>

        </div>
    </div>
</div>