    <div class='singlebeerpage'>
    {{#each singleBeer}}
      {{> beerpartial}}
     <div class ='additional-info-single'>
      <h4 class='singlebeer'>Food Pairing: {{food_pairing}}</h4>
      <h4 class='singlebeer'>Brewers Tip: {{brewers_tips}}</h4>
      </div>
    {{/each}}
   </div>