<h1>TEST SINGLEBEER</h1>


{{!-- <h2>{{this.id}}</h2> 
<h2>{{this.name}}</h2> --}}
<div class="card">
{{> beerpartial}}

<p>Volume: {{this.volume.unit}}</p>
<p>Food pairing: {{this.food_pairing}}</p>
</div>
