<div class="specific-beer">
    {{> beerpartial}}
    <div class="additonalInformation">
        <p><strong>Food Pairing:</strong> {{food_pairing}}</p>
        <p><strong>Brewers Tips:</strong> {{brewers_tips}}</p>
  </div>
</div>