<p>Beer{{#each ApiSpecBeer}}
    {{> beerpartial}}
    {{!-- <img src="{{this.image_url}}">
    <span>{{this.name}}</span>
    <span>{{this.description}}</span>
    <span>Tagline: {{this.tagline}}</span> --}}
    {{/each}}
<p>specific -beer?</p>
</p>