<div class='beer-info-container specific-beer-container'>

  <img class='beer-img' src='{{beerId.0.image_url}}' alt='beer image' />
  <a href='/specific-beer'><h2>{{beerId.0.name}}</h2></a>
  <h3 class='tagline'>{{beerId.0.tagline}}</h3>
  <p>{{beerId.0.description}}</p>

</div>