/* SASS Document */
/*=============================================== Imports ===============================================*/
/*============================================================= Mixins =============================================================*/
/*============================================================= Animations =============================================================*/
/*============================================================= Viewports =============================================================*/
/*=============================================== Reset ===============================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: var(--line-height);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

/*=============================================== Variables ===============================================*/
:root {
  --white: #f7f9f9;
  --light-blue: #2081c3;
  --dark-blue: #0a2c42;
  --grey: #bfbfbf;
  --margin-xxl: 48px;
  --margin-xl: 32px;
  --margin-l: 24px;
  --margin-m: 16px;
  --margin-s: 12px;
  --margin-xs: 8px;
  --margin-xxs: 4px;
  --font-family: Arial, Helvetica, sans-serif;
  --line-height: 1.5;
  --radius-xl: 16px;
  --radius-l: 12px;
  --radius-m: 8px;
  --radius-s: 4px;
  --radius-round: 99em;
  --grid-template: 1fr 800px 1fr;
  --grid-column: 2;
  --grid-padding: var(--margin-xxl) 0;
  --transition-short: all 0.2s ease;
  --transition-long: all 0.5s ease;
}

@media (max-width: 1024px) {
  :root {
    --grid-template: 5vw 1fr 5vw;
  }
}

/*=============================================== General ===============================================*/
* {
  outline: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--light-blue);
  width: 100%;
  padding: var(--margin-m) 5vw;
}

nav a {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a:not(:last-child) {
  margin-right: var(--margin-m);
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--grid-template);
      grid-template-columns: var(--grid-template);
  padding: var(--grid-padding);
}

main .container {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-top: var(--margin-l);
}

main .container.container-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container.container-home img {
  margin-bottom: var(--margin-l);
  width: 50%;
}

main .container.container-home .buttons-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container.container-home .buttons-container .btn:first-child {
  margin-bottom: var(--margin-m);
}

main .container.container-beers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: var(--margin-l);
     -moz-column-gap: var(--margin-l);
          column-gap: var(--margin-l);
  row-gap: var(--margin-l);
}

main .container.container-beers .card h3 a {
  color: var(--light-blue);
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

main .container.container-beers .card h3 a:hover {
  color: var(--dark-blue);
}

main .container.container-beers .card img {
  width: 100%;
  height: 20vw;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: var(--margin-m);
}

main .container.container-beers .card p {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

main .container.container-beer h1 {
  margin-bottom: var(--margin-l);
}

main .container.container-beer .card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

main .container.container-beer .card img {
  width: 20%;
  height: 20vw;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: var(--margin-xl);
}

main .container.container-beer .card .content {
  width: -webkit-calc((100% - 20%) - var(--margin-xl));
  width: calc((100% - 20%) - var(--margin-xl));
}

.card .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-column-gap: var(--margin-s);
     -moz-column-gap: var(--margin-s);
          column-gap: var(--margin-s);
  row-gap: var(--margin-s);
}

.card .content em {
  color: var(--grey);
  font-style: normal;
}

.btn {
  background-color: var(--light-blue);
  padding: var(--margin-xxs) var(--margin-xs);
  text-decoration: none;
  color: var(--white);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: var(--radius-m);
          border-radius: var(--radius-m);
  font-size: 18px;
  font-weight: bold;
}

.btn:hover {
  background-color: var(--dark-blue);
}

.title-random {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

/*=============================================== Components ===============================================*/
/*=============================================== Pages ===============================================*/
/*=============================================== Helpers ===============================================*/
/*============================================================= Helpers =============================================================*/
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.clear-float {
  float: none !important;
}

.hidden {
  position: fixed;
  top: -999em;
  left: -999em;
}

.no-marg {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.no-marg-top {
  margin-top: 0 !important;
}

.no-marg-bottom {
  margin-bottom: 0 !important;
}

.no-marg-left {
  margin-left: 0 !important;
}

.no-marg-right {
  margin-right: 0 !important;
}

.no-padd {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.no-padd-top {
  padding-top: 0 !important;
}

.no-padd-bottom {
  padding-bottom: 0 !important;
}

.no-padd-left {
  padding-left: 0 !important;
}

.no-padd-right {
  padding-right: 0 !important;
}

.no-select {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
