{{!-- image_url: image, name, description and tagline.  --}}
<section>
    <ul id="beer-list">
        {{#each this }}
        <li>
            {{> beerpartial}}
        </li>
        {{/each }}
    </ul>
</section>