<section id="beer-random">
    <div id="beer-partial">
        {{> beerpartial}}
    </div>


    <section id="beer-addi">
        <article class="beer-sub-titles"> Food Pairing</article>
        <ul>
            {{#each food_pairing }}
            <li>
                <p> {{this}}</p>
            </li>
            {{/each }}
        </ul>
        <article class="beer-sub-titles">Brewers Tips </article>
        <p>{{brewers_tips}}</p>
    </section>

</section>