#card-wrapper {
    width: 100%;
    position: absolute;
    top: 100px;
}

.beer {
    display: flex;
    flex-direction: column;
}
.beer img {
    max-height: 300px;
}

.beer a {
    text-decoration: none;
    color: #000;
}