.footer {
    background: var(--color-hover);
    color: var(--color-white);    
    display: flex;
    align-items: center;
    font-family: --var(--font-family);

    height: calc(100vh - 80px - 2.5rem);
    /* height: 4px; */
}
