body {
  text-align: center;
}

img {
  height: 21rem;
  margin: 5rem 0 3rem;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background-color: var(--light-blue);
}
