* {
    box-sizing: border-box;
}
.beerBtn {

   margin-top: 25px;


}

#button {
    margin-top: 55px;
    margin-bottom: 35px;
}

img {
    width: 255px;
    display:block;
    margin:auto;
    margin-top: 25px;
}

