 
.beer-wrap {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, .30fr));
}

.item img {
    display: grid;
    max-height: 200px;
justify-content: center;
    align-content: center;
}


.item {
    grid-gap: 10px;
    
} 