#nav-main {
    background: var(--color-light-blue);
    color: var(--color-white);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  #nav-main .link:not(:last-of-type) {
    margin-right: 10px;
  }
  
  #nav-main .link:hover {
    color: var(--color-hover);
  }
  