.list.grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 10%;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}

.list.grid .item {
  /* height: 350px;
  width: 350px; */
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style: none;
  color: black;
}

.catalog-beers {
  height: 150px;
  width: auto;
}

.random-beer-pic {
  height: 150px;
  width: auto;
  margin-right: 25px;
}

a.beer-card {
  color: black;
  text-decoration: none;
  list-style: none;
}

.beer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#beer-name {
  font-size: 20px;
}

p.text {
  font-size: 15px;
}

#tag-line {
  color: #bfbfbf;
  font-size: 12px;
}

.random-container {
  display: flex;
  flex-direction: row;
}

.beer-description {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  text-align: left;
}

p#text-catalog {
  font-size: 0.7em;
  margin: 0;
}

#tag-line {
  color: #bfbfbf;
  font-size: 15px;
}

#beer-name-catalog {
  font-size: 0.8em;
  margin: 0;
}
#tag-line-catalog {
  color: #bfbfbf;
  font-size: 0.8em;
  margin: 0;
  margin-bottom: 5px;
}

#box {
  height: 100%;
  width: auto;
}

#pairings {
  font-size: 15px;
}
