#beer-onepage {
    width: 100%;
    padding: 50px 15% 50px 15%;
    display: flex;
    flex-direction: column;
}

#beer-onepage img {
    height: 200px;
    margin-right: 15%;
}

#beer-onepage h3 {
    margin-bottom: 30px;
}

#beer-onepage .tagline {
    margin-bottom: 20px;
}

#food-pairing {
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}

#brewer-tips span {
    font-weight: bold;
}

.dish {
    padding-bottom: 20px;
}

#beer-onepage ul {
    overflow: hidden;
    padding-left: 10%;
}

#one-beer {
    display: flex;
}