#random-beer {
    width: 100%;
    padding: 50px 15% 50px 15%;
    display: flex;
}

#random-beer img {
    height: 200px;
    margin-right: 15%;
}

#random-beer h3 {
    margin-bottom: 30px;
}

#random-beer .tagline {
    margin-bottom: 20px;
}

#food-pairing {
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}

#brewer-tips span {
    font-weight: bold;
}

#random-beer li {
    padding-bottom: 20px;
}

#random-beer ul {
    overflow: hidden;
    padding-left: 10%;
}
