img {
    height: 300px;
    width: 200px;
}

#image-and-text {
    /* border: solid red 2px; */
    margin: 100px auto;
    display: flex;
    justify-content: center;
    width: 800px;
}

#text {
    padding-left: 100px;
}

#text ul li {
    margin-left: 40px;
}