/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

body{
    height: 100vh;
    color:blue;
}

a{
    color: black;
    text-decoration: none;
}

div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

