 /* .bg-primary, .navbar-dark {
    background-color: #2082c327;
    color: white;
    padding: 10px 20px;
} 

#naviT {
    padding: 10px 100px;
}

/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/ 

/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
#btn {
    margin-top: 20%;
    padding-left: 140px;
}

#btn2 {
    padding-left: 115px;
}

.py-3 {
    padding: 5%;
}

.navbar {
    justify-content: end;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
}

.beer {
    height: 300px;
}

#conatinerSpan{
    text-align: left;
    /* display: flex;
    justify-content: center;
    align-content: center; */
}

#containerDiv {
    display: flex;
    justify-content: flex-start;

}

#containerNav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
}

.button {
    background-color: #2081c3;
    align-self: center;
    padding: 13px 28px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 6px;
    text-decoration: none;
}

/* Parte k */
.random-container {
    margin: 5% 0 0 10%;
    display: flex;
}

.random-container>div>img {
    height: 300px;
}

.text-container {
    width: 700px;
    text-align: justify;
    margin-left: 6em;
}

.text-container h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.text-container h2 {
    font-size: 1.1em;
    font-style: italic;
    opacity: .5;
}

.text-container h3 {
    font-size: 1.1em;
    font-weight: bold;
}

.text-container p span {
    font-weight: bold;
}
/* beers */
.beers-container{
    margin: 2% 0 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:400px;
}
.beers-container>div>a>img {
    height: 300px;
    margin-bottom: 2em;
}
.text-container2 {
    text-align: justify;
}

.text-container2 h1 {
    font-size: 1.2em;
    font-weight: bold;
}

.text-container2 h2 {
    font-size: 1.1em;
    font-style: italic;
    opacity: .5;
}

.text-container2 h3 {
    font-size: 1.1em;
    font-weight: bold;
}

.text-container2 p span {
    font-weight: bold;
}
.wrap-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.divBody {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-bottom: 55%;
}

#footerDid{
    background-color: #2081c3;
    height: 100%;
    width: 100%;
    color: white;
}