body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  
    --white: #f7f9f9;
    --light-blue: #2081c3;
    --dark-blue: #0a2c42;
    --grey: #bfbfbf;
  }
  
  nav {
    background-color: var(--light-blue);
    height: 60px;
    padding: 0 40px;
    display: flex;
    align-items: center;
  }
  
  nav a {
    color: var(--white);
    text-decoration: none;
    margin-right: 20px;
  }
  
  .home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .home-wrapper img {
    width: 300px;
    margin-bottom: 20px;
  }
  
  .home-wrapper a {
    background-color: var(--light-blue);
    color: var(--white);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    width: fit-content;
    margin-bottom: 20px;
  }
  
  .beers-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .beer-card {
    width: 200px;
    border: 1px solid var(--grey);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .beer-card img {
    height: 200px;
  }
  
  .beer-text {
    height: 200px;
    overflow-y: scroll;
  }
  
  .random-beer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }