/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

body{
    font-family: Arial;
    margin: 0;
    
}

.imagen{
    width: 500px;
    height: 500px;
    background-color: none;
    margin: auto;
    margin-top: 30px;
}

.imagen img{
    width: 100%
}

.botones{
    margin-top: 50px;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    


}

.botones a{
    padding: 10px;
    background-color:#2081c3;
    border-radius: 15px;
    margin: 10px;
    text-decoration: none;
    color: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar{
    background-color: #2081c3;
    height:60px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
}

.card{  
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius:20px;
    height: 550px;
    cursor:pointer;
   
    margin: 20px;
}

body{
    background-color: rgb(255, 255, 255);
}

.containerImg{
    margin: 20px 0px;
    height: 200px;
    text-align: center;
}

.containerImg img{
    height: 100%; 
    width: auto;
       
}

.card-title{
    font-weight: bold;
    font-size: 1rem;
    color: #2081c3;

}

.card-text{
    text-align:justify;
    font-size: 0.7rem;
    color: #0a2c42;
}

.card-text-tagline{
    font-size: 0.7rem;
    font-weight: bold;
    color: grey;
}

.cardRandom{
    width: 1000px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius:20px;
    padding: 20px;
    margin-top: 20px;
}

.containerImgRandom img{
    height: 100%; 
    width: auto;
       
}

.containerImgRandom{
    margin: 20px 0px;
    height: 300px;
    text-align: center;
}




#bottom-style{
    background-color:#0a2c42;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
}

#bottom-style p{
    color: white;
    margin: 0;
    padding-left: 20px;
    padding-top: 10px
}