/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: #2081c3;
}
#indexPageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
