/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

.beer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.beerImg {
    margin-top: 10%;
}

.btn {
    margin-top: 10%;
}