/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
body{
    background-color: #f7f9f9;
    margin: 0;
    padding: 0;

}

ul{
    background-color: #2081c3;
    padding: 20px;
    list-style-type: none; 
    justify-content: space-evenly;
}


ul {
    display: flex;
    justify-content: flex-start;
    margin: -8px;
}

ul li a{
    text-decoration: none; 
    color: #f7f9f9;
    font-size: 20px;
    display: flex;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: Arial, Helvetica, sans-serif;
}


.img{
    display: flex;
    width: 23%;
    margin-left: 42%;
    margin-top: 100px;
}

.beer-img{
    width: 70px;
}

.btn{
    display: flex;
    justify-content: center;
    background-color: #2081c3;
    border: 1px solid #2081c3;
    border-radius: 6px;
    margin-left: 44%;
    padding: 9px 41px;
    margin: 19px 43%;
}

.btn a{
    color: #f7f9f9;
    font-style: oblique;
    font-size: 15px;
    text-decoration: none;
    text-align: center; 


}

.footer{
    background-color: #2081c3;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;  
}

.footer h6 {
    color: #f7f9f9;
    font-size: 15px;
    display: flex;
    margin: 130px 0px;
    padding: 8px 17px;
}

.beerpartials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 5vw;
    width: 30%;
}