
/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
body {
    font-family: Arial, Helvetica, sans-serif;
}
.beer-image{
    width: 300px;
    margin-bottom: 50px;

}
.imgBeers {
    width: 100px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #2081c3;
    height:30px;
    margin-bottom: 50px;
}
.navBar{
    width: 100px;
    color: white;
    margin-left: 30px;
    text-decoration: none;
}

footer{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #0a2c42;
    height:30px;
    margin-bottom: 50px;
    margin-top:60px;
}
.box{
    background-color:#2081c3;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    justify-content: center;
}
.button {
    color: white;
    text-decoration: none;

} 