/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/


.card-img-top {
    height: 250px;
    width: 150px;
    object-fit: cover;
  }

nav, h3, div {
  padding-left: 30px;
}

.card {
  padding: 15px;
  margin: 5px;
}
