/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

ul {
  list-style: none;
}

.beer-list > li {
  padding: 0 40px;
}
