/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

#beerImg {
    margin-top: 5vh;
    margin-left: 6vh;
    width: 30vh;
    align-self: center;
}

#my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

body {
    height: 100vh;
}

.container {
    height: 100%;
}

.beerIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.randBeerButton,
.beerListButton {
    margin: 2vh;
}

.beerImgFromAPI {
    /* width: 1vh; */
    margin-top: 1vh;
    align-self: center;
    width: 5vh;

    /* height: 55vh; */
    /* background: black; */
}