/*

light-blue: 
dark-blue: #0a2c42;


*/

body{
    background-color:#f7f9f9;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

nav{
    background-color:  #2081c3 ;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    box-shadow:  rgb(191, 191, 191) 0px 20px 30px -10px;;
}

nav a{
    color: #f7f9f9;
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
    font-size: 1.2rem;
}

.beerHome{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 2rem;

}

.beerHomeImg{
    width: 25%;
}

.buttonHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.insideButtonHome{
    background-color: #2081c3;
    color: #f7f9f9;
    box-shadow:  rgb(191, 191, 191) 0px 10px 30px 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    height: 2.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 20px;
}