/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  background-color: #2081c3;
  height: 8vh;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  color: #f7f9f9;
  font-size: 15px;
  font-family: monospace;
  text-decoration: none;
  padding: 0px 35px;
}

nav a:hover {
  text-decoration: none;
  color: yellow;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.containerHome {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
  flex-wrap: wrap;
}

.container div {
  display: flex;
  margin-top: 10vh;
  flex-direction: column;
  max-width: 25vw;
  border: 1px solid #0a2c42;
  border-radius: 5px;
  padding: 15px;
}

.container div:hover {
  background-color: #f6f3f3;
  transform: scale(0.9);
  transition: ease-in-out 0.5s;
}

.container div img {
  max-height: 30vh;
  width: fit-content;
  margin: 0 auto;
  padding: 25px 0;
}

.container div p,
.container div h2 {
  color: black;
}

.container div p {
  padding: 10px 0;
}

.container div .tagline {
  color: #bfbfbf;
}

.container a {
  text-decoration: none;
  height: fit-content;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
  width: 24vw;
  margin-bottom: 100px;
}

.card-top {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.card-top img {
  width: 12vw;
  height: auto;
}

.card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-title button {
  background-color: #2081c3;
  max-width: 200px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
}

.card-title button:hover {
  background-color: #196a9f;
}

.card-title button a {
  color: #f7f9f9;
  font-weight: bold;
  text-decoration: none;
}

.card-text {
  text-align: center;
}

.containerRandom {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10vw;
}

.containerRandom div {
  display: flex;
  margin-top: 10vh;
  flex-direction: column;
  max-width: 50vw;
  padding: 5vh;
}

.containerRandom div.imgDiv {
  max-width: 5vw;
  height: auto;
}

.containerRandom div.beerDiv p {
  padding: 15px 0;
}

.containerRandom div.beerDiv p.tagline {
  color: #bfbfbf;
}

.containerRandom div.beerDiv li {
  margin-left: 3vw;
}
