/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-blue {
  background-color: #2081c3;
}
.bg-dark-blue {
  background-color: #0a2c42;
}

.button {
  text-decoration: none;
  color: white;
  padding: 6px;
  margin: 10px 0;
}
.button:hover {
  text-decoration: none;
  color: white;
  background-color: #0a2c42;
}

.footer {
  background-color: #0a2c42;
  color: white;
  width: 100%;
  position:sticky;
  bottom: 0;
}


.rand-beer {
  width: 60%;
  margin-left: 20%;
  text-align: left;
}
.rand-beer img {
  width: 50px;
  margin-bottom: 10px;
}
.description {
  width: 100%;
}
.food-pair {
  width: 100%;
}
.brew-tips {
  width: 100%;
}

.all-beers .beer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 3px;
  border: none;
}
.all-beers .beer-card img {
  height: 80px;
  width: auto;
  margin-top: 10px;
}
.all-beers .beer-card h5 {
  font-size: 14px;
}
.all-beers .beer-card h6 {
  font-size: 12px;
}
.all-beers .beer-card .description {
  text-align: center;
  font-size: 10px;
  margin-bottom: 10px;
}
