/* 
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
 */

 * {
font-family: Arial, Helvetica, sans-serif;
 }

 .nav {
    background-color: darkblue;
}


img {
    width: 300px;
   align-items: center;
}