/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

.beer {
    display: flex;
    justify-content: center;
}
.beer img{
    margin-top: 20px;
    height: 25em;
    width: 25em;
}
.beers, .random-beer {
    margin: 40px 0px 10px 0px;
    display: flex;
    justify-content: center;
}

