/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}