body {
    margin-bottom: 70px;
}

footer {
    background-color: #0a2c42;
    color: #f7f9f9;
    font-size: 1em;
    font-weight: bold;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


.navbar {
    background-color: red;
}

img {
    width: 100%;
}

.card img {
    height: 150px;
    width: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}