/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

.centered{
    margin: 0 auto;
}
img{
    width: 6rem;
    }
    .inicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 79vh;
    }

    .inicio img{
        width: 15rem;
    }

    .links{
        margin-top: 2rem;
    } 

    .links a{
        text-decoration: none;
        background-color: #2081c3;
        color: white;
        padding: 1rem 3rem;
        border-radius: 1rem;
    }

    .navbar-dark .navbar-nav .nav-link{
        color: white;
    }
    .navbar-nav{
        color: white;
        margin-left: 40px;
    }
    .bg-blue{
        background-color: #2081c3;
    }

    footer{
        width: 100%;
        margin-top: 5rem;
        text-align: center;
        padding-top: 1.2rem;
        padding-bottom: 1.5rem;
        background-color: #0a2c42;
        color: white;
       
        
    }
    footer p{
        margin: 0;
    }

    .page{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90vw;
        justify-content:space-evenly;
        align-items: baseline;
        align-content: center;
        align-self: center;
        margin: 0 auto;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        width: 30%;
        min-height: 72.5vh;
    }
    
    .beertext{
        margin-top: 1rem;
        width: 90%;
        align-self: center;
    }
    .tagline{
        color: #bfbfbf;
    }
    .name{
        font-weight: bold;
    }