/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  padding-right: 20px;
  font-size: 20px;
  color: white;
}

img {
  width: 280px;
  height: 300px;
  padding-bottom: 40px;
}

footer {
  background-color: #0a2c42;
  color: white;
  padding: 20px 0 20px 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 24px;
  padding-bottom: 10px;
}

h2 {
  font-size: 16px;
  padding-bottom: 10px;
}

p {
  font-size: 15px;
  padding-bottom: 15px;
}

ul {
  padding-bottom: 15px;
}

.link-beer {
  color: #0a2c42;
}

.img-beers {
  width: 50px;
  height: 130px;
}

.beers-list {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 50px auto;
  row-gap: 40px;
}

.beer-item {
  flex-basis: 33.333333%;
}

.navbar {
  background-color: #2081c3;
  padding: 20px 40px;
  box-shadow: 0px 3px 7px #888888;
}

.btn {
  display: flex;
  flex-direction: column;
  background-color: #2081c3;
  padding: 10px 20px;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 3px 7px #888888;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.tagline {
  color: #bfbfbf;
}

#random-beer {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
}
