grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f9f9;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

a {
  color: initial;
}

.button {
  background: #2081c3;
  padding: 15px 20px;
  color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.65);
  margin-bottom: 20px;
}

nav {
  background: #2081c3;
  padding: 20px 40px;
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.55);
}

nav a {
  color: #fff;
  padding: 5px 10px;
  margin-right: 20px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index img {
  height: 50vh;
  margin-bottom: 50px;
}

.beers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px 0;
  overflow: hidden;
}

.beer-card {
  display: flex;
  flex-direction: column;
  flex: 1 0 400px;
  padding: 20px 40px;
  justify-items: center;
}

.beer-card img {
  margin: 0 auto 20px;
  height: 150px;
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 30px 30px;
  background: #0a2c42;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.beer {
  justify-content: center;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
}

.beer > img {
  width: 40%;
}

.beer > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}