/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
body{
    font-family: arial;
    box-sizing: border-box;
}

/*INDEX*/

#homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#homeImg{
    width:400px;
    height: 400px;
    margin: 60px 0;
}

.homelinks{
    text-decoration: none;
    background-color:#2081c3 ;
    color: white ;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px 20px;
}

/*/////////////////////////////////////////////////////*/

/*BEER CARD*/



#beers-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
}
a,
a:hover{
    text-decoration: none ;
    color:inherit;
}
.beer-card{
    width: 450px;
    height: 450px;
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    align-items: flex-start ;
    margin: 25px ;
    
    padding: 10px;
    box-shadow: 2px 2px 15px  rgba(0, 0, 0, 0.247);
    
}
.beer-card img {
    
    width: 60px ;
    height: 140px;
    
    padding: 10px;
    margin:0 auto !important;
}
.beer-card h2 {
    font-size: 16px;
    font-weight: bold;
    
}
.beer-card p {
    font-size: 12px;
}
/*////////////////////////////////////////////////////////////////////////*/
/*RANDOM BEER*/

#container{

    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}

#randomCon{

    margin-top: 100px;
    width: 600px;
    height: 600px;
    box-shadow: 1px 2px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#randomCon img{
    width: 75px;
    height: 200px;
    
}
#randomCon h2{
    font-family: arial;
    font-size: 32px;
    
}
