<div class="col-4">

  <img class ="d-block mx-auto allBeer" src="{{this.image_url}}" text-align ="center">
  <h2> {{this.name}} </h2>
<h3> {{this.tagline}}</h3>
  <h4> {{this.description}} </h4>
</div>