<div class="beerDescription">
       <img class="beerImg" src={{this.image_url}} alt=“”>
       <p class="beername"> {{this.name}} </p>
       <p class="smallLetter">{{this.tagline}}</p>
       <p class="description">{{this.description}}</p>
   </div>