{{!-- will display an image, name, description, and tagline of the beer --}}
<div>
    <img src="{{image}}" alt="beer image">
    <h5>{{name}}</h5>
    <h5>{{description}}</h5>
    <p>{{tagline}}</p>
</div>