<div>
    <img src="/images/beer.png" class="img-fluid" alt="beerImage">
    
    <div>
        <a href="/beers" type="button" class="btn btn-primary">Check the Beers!</a>
        <a href="/beers/random" type="button" class="btn btn-primary">Check a Random Beer</a>
    </div>

</div>