<div class="row justify-content-center">
  <div class="col-12 col-md-3">
    <img src="/images/beer.png" class="img-fluid mb-2" alt="Beer" />

    <div class="d-grid gap-2">
      <a class="btn btn-primary" type="button" href="/beers">Check the Beers!</a>
      <a class="btn btn-primary" type="button" href="/random-beer">Check a Random Beer!</a>
    </div>

  </div>
</div>