* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(232, 246, 255);
    font: 62.5%/1.5 "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
    color: #000000;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: $white;
    &:hover {
        text-decoration-style: none;
    }
}

.btest {
    border: 1px solid red;
}