 {{#each allBeers}}
        <div>
  <img src="{{image_url}}">
  <div class="beer-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="card-text">{{tagline}}</p>
    <hr>
  </div>

{{/each}}