<div class="col-4">

  <div class="image">
    <img src="{{this.image_url}}" alt="image of a beer">
  </div>

  <h2>{{this.name}}</h2>
  <h3>{{this.tagline}}</h3>
  <p class="ellipse">{{this.description}}</p>

</div>

