<div class="beer-partial">

    <div class="photo">
        <img src="{{this.image_url}}">
    </div>

    <div class="beer-name">
        <h1>{{this.name}}</h1>
    </div>

    <div class="beer-tagline">
        <span class="tagline">{{this.tagline}}</span>
    </div>

    <div class="description">
        <span class="copy">{{this.description}}</span>
    </div>

</div>