<div class="beers" style:"width: 33.333%;">
     <img class="beer-img-top" src="{{ this.image_url }}"alt="Beer Image">
         <div class="beer-body">
             <h4 class="beer-title">{{ this.name }}</h4>
             <p class="beer-tagline">{{ this.tagline }}</p>
             <p class="beer-text">{{this.description}}</p>
         </div>
</div>
