



<div  style="width: 33.333%;">



    <img src="{{image_url}}" alt="beer-pic" style="width: 33.333%;">
    
        <h3 style=";">{{this.name}}</h3>
    
        <div style="color: rgba(145, 145, 145, 0.481);">{{this.tagline}}</div>
    
        <div class="description">{{this.description}}</div>

</div>
  
