{{!-- style="width: 33.333%"; --}}
<div class="col-lg-3 col-md-4 beerCard"> 
  <div>
      <img class="beer-img-top" src="{{this.image_url}}" alt="beer">
  </div>
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="beer-tagline">{{this.tagline}}</p>
        <p class="card-description">{{this.description}}</p>
      </div>

        {{!-- {{#if this.mvp}}
            <h5>**** This player is a former MVP Winner*****</h5>
        {{/if}} --}}
</div>