<div class="beer" style="width: 33.333%;">
      <img class="beer-img-top" src="{{this.image_url}}" alt="">
      <div class="beer-body">
        <h2 class="beer-title">{{this.name}}</h2>
        <h5 class="beer-tagline">{{this.tagline}}</h5>
        <p class="beer-description">{{this.description}}</p>
      </div>
</div>