<div class="beer-card" style="width: 33.333%;">
      <img class="card-img-top" src="" alt="">
      <div class="card-body">
        <h5 class="card-title">{{beers}}</h5>
        <p class="card-text">{{beers}}</p>
      </div>
</div>
