
<div class="beer">
  <div class="img">
    <img src="{{this.image_url}}" alt="beer image" />
  </div>
  <div >
    <h5>{{this.name}}</h5>
    <h5>{{this.tagline}}</h5>
    <p>{{this.description}}</p>
  </div>
</div>