<div class="col-md-4 beer-bee">
    <div class="img-beer">
        <img src="{{image_url}}" alt="">
    </div>
    <div class="text-beer">
        <h2>{{name}}</h2>
        <p>{{tagline}}</p>
        <p>{{description}}</p>
    </div>
</div>