<!-- partial.hbs -->


<div class="beer-container" style="width: 33.333%;">
  <img src="{{this.image_url}}">
  <div class="beer-text">
    <h3>{{this.name}}</h3>
    <h4>{{this.tagline}}</h4>
    <p>{{this.description}}</p>
  </div>
</div>