{{!-- display an image, name, description, and tagline of the beer --}}

<div class="card" style="width: 33.333%;">
  <img class="card-img-top beer-image" src="{{this.image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.tagline}}</p>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>