

<div class="beer" style="width: 33.333%;">
      <img class="beer-img" src="{{this.image_url}}" alt="a beer">
      <div class="beer-body">
        <h3>{{this.name}}</h3>
        <h4>{{this.tagline}}</h4>
        <p class="beer-text">{{this.description}}</p>
      </div>
</div>

