<div class="card">
      <img class="beer-img-top" src="{{this.image_url}}" alt="Beer">
      <div class="beer-body">
        <h4 class="beer-name">{{this.name}}</h4>
        <p class="beer-desc">{{this.description}}</p>
      </div>
</div>