<div class="display-beers">
    <img src="{{this.image_url}} " alt="img-beer">

    <h2>{{this.name}} </h2>
    <p class="tagLine">
        {{this.tagline}}
    </p>
    <p>
        {{this.description}}
    </p>


</div>