<div class="beer-container">
    <img class="beer-img" src={{beer.image_url}} alt="Beer image">
    <p class="beer-name">{{beer.name}}</p>
    <p>{{beer.description}}</p>
    <p>{{beer.tagline}}</p>
</div>