<div class="beerAPI">
    {{!--
    <div class="indivBeerImg">
    </div> --}}
    <div class="about-beer">
        <img src="{{this.image_url}}" />
        <h1>{{this.name}}</h1>
        <h2>{{this.tagline}}</h2>
        <p>{{this.description}}</p>
    </div>

</div>