<figure class="beer-card">
	<div class="beer-image">
		<img src="{{image_url}}" alt="">
	</div>
	<figcaption class="figcaption">
		<h3 class="beer-name">{{name}}</h3>
		<h6 class="beer-tagline">{{tagline}}</h6>
		<p class="beer-description">{{description}}</p>
	</figcaption>
</figure>