

{{#each beers}}
    <div class="beer">
        <div class="beer-img-container">
            <img class="beer-img" src="{{image_url}}"/>
        </div>
        <h2>{{name}}</h2>
        <h5>{{tagline}}</h5>
        <p>{{description}}</p>
    </div>
{{/each}}
