<div class="info-container">
    <div class="beer-image">
        <img src={{this.image_url}} alt=" Beer Image ">
    </div>
    <h1>{{this.name}}</h1>
    <h2>{{this.tagline}}</h2>
    <p>{{this.description}}</p>

    <hr style='margin-bottom: 25px;'>
</div>