<div class="col-4 d-flex flex-column justify-content-start align-items-center p-5 beer-card">
  <div class="m-3">
    <img src="{{image_url}}">
  </div>
  <div>
    <p class="beerName">{{name}}</p>
    <p class="beerTagline">{{tagline}}</p>
    <p class="beerDescription">{{description}}</p>
  </div>
</div>
