
        <div class="col-md-4">
            <div class="card">
                <img src={{this.image_url}} class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <h3 class="card-text">{{this.tagline}}</h3>
                    <p class="card-text">{{this.description}}</p>
                </div>
            </div>
        </div>
