<div class="beer-partial">
    <img class="beer-img" src="{{this.image_url}}">
    <h3 class="beer-name">{{this.name}}</h3>
    <p class="beer-tagline">{{this.tagline}}</p>
    <P class="beer-desc">{{this.description}}</P>
</div>