
        <div class="col-4">
        <div>
            <img  src="{{image_url}}" alt="">
                <div>
                <h5>{{name}}</h5>
                <p>{{tagline}}</p>
                <p>{{description}}</p>
                </div>
        </div>
        </div>
