<div id="beerCard">
    <img src={{this.url}} alt="Beer-image">
    <h3 class="beer-name">{{this.title}}</h3>
    <p class="beer-tag">{{this.tagline}}</p>
    <p class="beer-desc">{{this.description}}</p>
</div>