
<div class="eachBeer">
<img class="littleBeer" src="{{this.image_url}}" alt="Beer Image">
<h2 class="titleBeer">{{this.name}}</h2>
<h3 class="eslogan">{{this.tagline}}></h3>
<p class="description">{{this.description}}></p>
</div>
