<div class="card" style="width: 33.333%;">
      <img class="beer-img" src="{{this.image_url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="title">{{this.name}}</h5>
        <h6 class="tagline">{{this.tagline}}</h6>
        <p class="card-text text-size1">{{this.description}}</p>
      </div>
</div>