
<div class="flex-container beer">
      <img class="beer-img-top" src="{{this.image_url}}" alt="">
      <div class="beer-body">
        <h3 class="beer-title">{{this.name}}</h3>
        <h5 class="beer-tagline">{{this.tagline}}</h5>
        <p class="beer-description">{{this.description}}</p>
      </div>
</div>