<div class="beer-card" style="width: 33.333%;">
      <img class="card-img-top" src="{{this.image_url}}" alt="{{this.tagline}}">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.description}}</p>
      </div>
</div>
