{{!-- image image_url name name tagline tagline description description --}}

<div class="card" style="width: 30%">
  <img class="card-img-top imgsize" src="{{this.image_url}}" alt="beer image cap"> {{!--
  <div class="card-body"> --}}
    <h2 class="card-title">{{this.name}}</h2>
    <h5 class="card-title text-muted">{{this.tagline}}</h5>
    <p class="card-text">{{this.description}}</p>

  </div>