<div class="card">
    <figure>
      <img src="{{this.image_url}}" alt="Placeholder image">
    </figure>
      <div>
        <p>{{this.name}}</p>
        <p>{{this.tagline}}</p>
        <p>{{this.description}}</p>
      </div>
</div>