<div class="mt-4">
  <figure class="figure"><img class="img-responsive" src={{this.image_url}} alt=""></figure> 
  <div class="">
    <h5 class="">{{this.name}}</h5>
    <p class="">{{this.tagline}}</p>
    <p class="">{{this.description}}</p>
  </div>
</div>