<div class="col col-md-4 ">
  <div class="image" style="background-image: url({{ image_url }});"></div>
  <div class="card-body">
    <a href="/beers/{{@index}}" class="btn btn-primary btn-beer mb-3">Get detailed info</a>
    <h5 class="card-title">{{ name }}</h5>
    <p class="card-text">{{ description }}</p>
  </div>
</div>