<div class="container-list">
    <div class="pict-container">
        <img class="pict-list" src="{{this.image_url}}" alt="beer Photo">
    </div>
    <h1 class="name-list">{{this.name}}</h1>
    <h2 class="tagline-list">{{this.tagline}}</h2>
    <h3 class="description-list">{{this.description}}</h3>
</div>