<div class="card">
	<div class="card-image">
		<figure class="image is-4by3">
			<img src="{{this.image_url}}" alt="Placeholder image" style="width: 24%;">
		</figure>
	</div>
	<div class="card-content">
		<div class="media">
			<div class="media-content">
				<p class="title is-4">{{this.name}}</p>
				<p class="subtitle is-6">{{this.tagline}}</p>
			</div>
		</div>
		<div class="content">
			{{this.description}}
		</div>
	</div>
</div>