<div class="card" style="width: 33.333%;">
      <img src="{{image_url}}" alt="Card image cap">
      <br>
      <div>
        <h3>{{name}}</h3> 
        <br>
        <h5>{{tagline}}</h5>
        <br>
        <p>{{description}}</p>
      </div>
</div>