<!-- layout.hbs -->
<div class="card">
  <div class="card-col">
    <img class="card-img" src="{{image_url}}">
    <div class="card-text">
      <h3>{{name}}</h3>
      <h4>{{tagline}}</h4>
      <h5>{{description}}</h5>
    </div>
  </div>
</div>