<div class="card">
    <img src="{{image_url}}" alt="" class="card-img">
    <h2 class="card-title">{{name}}</h2>
    <span class="card-subtitle">{{tagline}}</span>
    <p class="card-content">{{description}}</p>
</div>