<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.image}}" alt="Beer logo">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <a href="#" class="btn btn-primary">Buy beer</a>
  </div>
</div>