
<div style="display:flex;padding:10px;">
<div class="card card-beers" style="width: 33.33%;">
      <img class="card-img-top" style="width:50px;position:relative;left:35%;margin:5px;" src="{{this.image_url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.name}} {{this.tagline}}</h5>
        <p class="card-text">{{this.description}}</p>
      </div>
</div>

</div>
