<div class="col-md-2">
    <div class="beerCard">
        <img class="card-img-top" src="{{image_url}}">
        <div class="card-body">
            <h5 class="card-title">{{name}} {{tagline}}</h5>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>