<div class="beer-card">
    <img src="{{this.image_url}}" alt="" >
    <div class="title">{{this.name}}</div>
    <div class="tagline">{{this.tagline}}</div>
    <div class="description">{{this.description}}</div>
</div>