
<div class='picContainer'>
    <img class="beerPics" src="{{this.image_url}}" alt="">
</div>
<span class="beerData" id="name">{{this.name}}</span>
<span class="beerData" id="tagline">{{this.tagline}}</span>
<span class="beerData" id="description">{{this.description}}</span>