<div class="beer-card">
  <img class="beer-card-img" src="{{this.image_url}}" alt="Card image cap">
  <div class="beer-card-body">
    <h1 class="beer-card-title"><strong>{{this.name}}</strong></h1>
    <h2>{{this.tagline}}</h2>
    <p class="beer-card-text">{{this.description}}
    </p>
  </div>
</div>