
<div class="beer-card-wrapper">
  {{#each beerRack}}
 
    <div class="beerCard">
      <img src="{{this.image_url}}" alt="beer" class="beer-card-img">
      <p class="beer-card-name">{{this.name}}</p>
      <p class="beer-card-tagline">{{this.tagline}}</p>
      <p class="beer-card-description">{{this.description}}</p>
    </div>
  
  {{/each}}
</div>

<script type="text/javascript">
const beerCard = document.querySelectorAll('.beerCard');
const beerImage = document.querySelectorAll('.beer-card-img')



for(let i=0; i< beerCard.length; i++) {
  beerCard[i].onmouseover = function(){ beerImage[i].classList.add('beer-card-img-active')
  }
}
for(let i=0; i< beerCard.length; i++) {
  
  beerCard[i].onmouseout = function(){ 

    
    beerImage[i].classList.remove('beer-card-img-active')
   
  }
 }


</script>