{{!-- <div class="card" style="width: 33.333%;">
    <img class="card-img-top" src="https://clutchpoints.com/wp-content/uploads/2017/10/Kobe-Bryant-e1508564618882.jpg"
        alt="">
    <div class="card-body">
        <h5 class="card-title">Beer</h5>
        <p class="card-text">XY</p>
    </div>
</div> --}}
<div class="card" style="width: 33.333%;">
    <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{this.name}} </h5>

    </div>
</div>