{{!-- <div class="index-container"> --}}

    <div class="card" style="width: 33.333%;">
        <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.name}} {{this.tagline}}</h5>
            <p class="card-text">{{this.description}}</p>
        </div>
    </div>
{{!-- </div> --}}