<div class="card col-md-4 p-2 d-flex direction-column align-items-center">
  <figure class="beer-img">
    <img class="card-img-top img-fluid" src="{{this.image_url}}" alt="beer label img">
  </figure>
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <h6 class="card-title">{{this.tagline}}</h6>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>