<div class="beer__card">
  <img class="beer__card__image" src="{{this.image_url}}" alt="Beer picture">
  <div class="beer__card__body">
    <h5 class="beer__card__body--header">{{this.name}}</h5>
    <h6 class="beer__card__body--subheader">{{this.tagline}}</h6>
    <p class="beer__card__body--description">{{this.description}}</p>
  </div>
</div>
