  <div id="card">
    <div class="card-image">
      <img src="{{this.image_url}}" alt="Placeholder image">
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <h4>{{this.name}}</h4>
          <h5>{{this.tagline}}</h5>
        </div>
        <div class="media-description">
            <p>{{this.description}}</p>
        </div>
      </div>
    </div>
  </div>
