<div>
   <img src="{{this.image_url}}" alt="" height="200px">
   <h1>{{this.name}}</h1>
   <h2>{{this.tagline}}</h2>
   <p>{{this.description}}</p>
</div>

  <style>
    div {
      display: flex;
      width: 80vw;
      justify-content: center;
    }

  </style>