<div class="beer-card">
    <div class="img-wrap"><img src="{{image_url}}" alt="beer"></div>
    <h1>{{name}}</h1>
    <p class="tagline">{{tagline}}</p>
    <span class="description">{{description}}</span>
</div>