<div class="beer">
  <div class="img-beer">
    <img src="{{this.image_url}}" alt="beer image cap">
  </div>
  <div class="beer-body">
    <h2 class="beer-title">{{this.name}}</h2>
    <h3 class="beer-tagline">{{this.tagline}}</h3>
    <p class="beer-text">{{this.description}}</p>
  </div>
</div>