<div class="partial">
    <div class="img_box">
        <img src={{this.image_url}} alt="" class="lil_image">
    </div>
    <div class="beerName">{{this.name}}</div>
    <div class="beerTag">{{this.tagline}}</div>
    <div class="beerDesc">{{this.description}}</div>
</div>
