  <div class="card">
    <img class="d-block mx-auto beer-img" src="{{this.image_url}}" alt="">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <strong><p class="card-text">{{this.tagline}}</p></strong>
      <p>{{this.description}}</p>
    </div>
  </div>