<div class="beer-content">
    <div class="card">
            <img class="beer-images" src={{this.image_url}} alt="beer-image">
        <div class="card-title">
            <h2>{{this.name}}</h2>
        </div>
        <h4>{{this.tagline}}</h4>
        <div class="card-body">
            <p>{{this.description}}</p>
        </div>
        <br>
    </div>
</div>