 <div class="container-fluid col-sm-4 theCont">
  <div class="row theRow">
    <div class="col-sm-4">
      <div class="main-card">
        <img class="imgsize" src="{{this.image_url}}">
          <div class="caption">
            <h2 class="beer-name">{{this.name}}</h2>
            <p class="beer-tag">{{this.tagline}}</p>
            <h3 class="beer-description">{{this.description}}</h3>
          </div>
      </div>
    </div>
  </div>
</div>


