<div class="col-md-4">

    <article class="card">
        <img class="card-img-top" src="{{ image_url}}" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <h3 class="card-subtitle">{{tagline}}</h3>
            <p class="card-text">{{description}}</p>
        </div>
    </article>

</div>