<div class="beer-container col-md-4">
  <img src="{{image_url}}" class="beer-img">
  <div class="beertext">
    <h5 class="beer-name">{{name}}</h5>
  <h6>{{tagline}}</h6>
  <p>{{description}}</p>
  </div>
</div>