<div class="card" style="width: 33.333%;">
      <img class="beer-image" src="{{this.image_url}}" alt="beer logo">
      <div class="card-body">
        <h5 class="beer-name">{{this.name}}</h5>
        <p class="beer-tagline">{{this.tagline}}</p>
        <p class="">{{this.description}}</p>
      </div>
</div>