<div class="col-4 item">
    <div class="image">
        <img src="{{this.image_url}}" height="350">
    </div>
    <h5><b>{{this.name}}</b></h5>
    <p class="tagline">{{this.tagline}}</h4>
    <p>{{this.description}}</p>
</div>