<div class="col-md-4">
    <div class="bimg">
    <img src={{image_url}} alt="beers">
    </div>
    <div class = "tbeers">
    <h3>{{name}}</h3>
    <h5>{{tagline}}</h5>
    <p>{{description}}</p>


    </div>
</div>