<!-- beerCard.hbs -->

<div class="card" style="width: 33.33%;">
  <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}} </h5>
    <p class="card-text">{{this.description}}</p>
    <h5 class="card-title">Brewer's Tips</h5>
    <p class="card-text">{{this.brewers_tips}}</p>
  </div>
</div>