
    <div class="col-4">
    <img class="partImg d-block mx-auto" src="{{this.image_url}}">
    <h2 class="name">{{this.name}}</h2>
    <h4 class="tagline">{{this.tagline}}</h4>
    <p class="desc">{{this.description}}</p>
    </div>

