<div class="beers">
  <div class="image">
      <img class="beer-img" src="{{this.image_url}}" alt="Beer image">
  </div>
  <h2>{{this.name}}</h2>
  <p>{{this.tagline}}</p>
  <p>{{this.description}}</p>
</div>