<div class="beer-card">
      <div class="card-body">
        <h4 class="card-title">{{this.name}}</h4>
        <img class="card-img-top" src="{{this.image_url}}" alt="Beer image">
        <h6 class="card-tagline">{{this.tagline}}</h6>
        <p class="card-text">{{this.description}}</p>
      </div>
</div>
