<div class="beer">
   <div class="img">
     <img src="{{this.image_url}}" alt="beer image" class="beer-image">
   </div>
  <div>
    <h4>{{this.name}}</h4>
    <h6>{{this.tagline}}</h6>
    <p>{{this.description}}</p>
 </div>  
</div>  