<div class="beer">
    <img class="partial-img" src="{{this.image_url}}" alt="beer image">
    <h1 class="h1-partial">{{this.name}}</h1>
    <h2 class="h2-partial">{{this.tagline}}</h2>
    <p class="description-partial">{{this.description}}</p>
</div