<div class="col-4">
  <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
</div>
<div class="col-8">
  <h1 class="display-3">{{this.name}}</h1>
  <h2>{{this.tagline}}</h2>
  <p>{{this.description}}</p>
  <ul>
    {{#each this.food }} 
      <li></li>
    {{/each}}
  </ul>
</div>
