<div class="card">
  <div>
    <img src="{{image_url}}">
  </div>
  <div class="card-title">
    <h4>{{name}}</h4>
  </div>
  <div class="card-tagline">
  {{tagline}}
  </div>
  <div class="card-description">
    {{description}}
  </div>
</div>