
    <ul>
    
        <li><img src="{{ this.image_url }}" alt="beer" width="50"></li><br>
        <li>{{ this.name }}</li><br>
        <li>{{ this.description }}</li><br>
        <li>{{ this.tagline }}</li>
    
    </ul>

  