<div class="cerve col-md-4">
      <img class="birraimg" src="{{this.image_url}}" alt="Card image cap">
      <div class="bodegon">
        <h4 class="title">{{this.name}}</h4>
        <h5 class="tagline">{{this.tagline}}</h5>
        <p class="description">{{this.description}}</p>
      </div>
</div>