<div class="card">
  <img class="card-img-top images" src="{{beer.image_url}}" alt="">
  <div class="card-body">
    <h5 class="card-title">{{beer.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{beer.tagline}}</h6>
    <p class="card-text">{{beer.description}}</p>
  </div>
</div>