 
 <div class="col-sm-4 mg-3">
 <div class= "card border-0">
 <img src={{this.image_url}} class="card-img-top ">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text"><small class="text-muted">{{this.tagline}}</small></p>
      <p class="card-text">{{this.description}}</p>
    </div>
  </div>

</div>
