{{!-- <div class="biggerC"> --}}
  <div class="container">
    <img class="imgBeer"src="{{image_url}}">
    <h2 class="name">{{name}}</h2>
    <p class="tagline"><i>{{tagline}}</i></p>
    <h5 class="des"> {{description}}</h5>
  </div>
{{!-- </div> --}}