<div>
    {{!-- we are creating partial because this piece of code will 
    be repeated multiple times through the whole app   --}}
    Name: {{ name }} 
    <br>
    Tagline: {{ tagline }}
    <br>
    <img src="{{ image_url }}" width="200" alt="">
</div>
