<div class="container">

 <div class="beerCard">
   <img src="{{this.image_url}}" alt="">
   <h3 class="card-title">{{this.name}}</h3>
   <h4>{{this.tagline}}  </h4>
   <p class="card-text">{{this.description}}</p>
 </div>
</div>