<div class="beer-box">
    <div class="beer-img-container">
        <img src={{ this.image_url }} class="single-beer" alt="single beer bottle image" />
    </div>

    <div class="beer-description">
        <h2>{{ this.name }}</h2>
        <h3 class="light-gray">{{ this.tagline }}</h3>
        <p>{{this.description }}</p>
    </div>
</div>