<div class="beer-partial">

    <div class="photo">
        <img src="{{this.image_url}}">
    </div>

    <div class="beer-name">
        <span>{{this.name}}</span>
    </div>

    <div class="beer-tagline">
        <span>{{this.tagline}}</span>
    </div>

    <div class="description">
        <span>{{this.description}}</span>
    </div>

</div>