<div class="col-sm-6">
  <div class="img-card-wrapper">
    <img src="{{this.image_url}}" class="card-img-top" alt="Beer Picture">
    </div>

  <div class="card-body">
    <h3 class="card-title">{{this.name}}</h5>
      <h5 class="card-subtitle">{{this.tagline}}</h5>
      <p class="card-text">{{this.description}}</p>

  </div>
</div>