<div class="member">
    <div class = "row col-md-4"
    <img src="{{image_url}}" alt="Punk API beer" width="200" >
    <h2>{{name}}</h2>
    <h4>{{tagline}}</h4>
    <p>{{description}}</p>
    </div>
</div>