

<div class="beer">
      <div class="img-container"><img class="beer-img-top" src={{this.image_url}} alt="">
      </div>
      <div class="beer-body">
        <h5 class="beer-title">{{this.name}}</h5>
        <h5 class="beer-tagline">{{this.tagline}}</h5>
        <p class="beer-text">{{this.description}}</p>
      </div>
</div>