<div class="beer-card">
  <img class="beer-card-img" src="{{this.image_url}}" alt="Beer image">
  <div class="beer-card-content">
    <h3 class="beer-card-title">{{this.name}}</h3>
    <h5 class="beer-card-tagline">{{this.tagline}}</h5>
    <p>{{this.description}}</p>
  </div>
</div>