<div class="card" style="width: 33.333%;">
  <img class="card-img-top" src="{{this.name}}" alt="">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}"</h5>
    <p class="card-text">LAK</p>
  </div>
</div>