<div id="card">

    <img id="img-card" src="{{this.image_url}}">

    <h2 id="h2-card">{{this.name}}</h2>

    <p id="p-card">{{this.tagline}}</p>

    <p id="p-card">{{this.description}} </p>

</div>