<div class="beer-partial">
    <div class="partial-image">
        <img src="{{this.image_url}}" alt="">
    </div>
    <div class="partial-description">
        <h2>{{this.name}}</h2>
        <h4 id="tagline">{{this.tagline}}</h4>
        <p id="beer-description">{{this.description}}</p>
    </div>

</div>