
  
    <div class="beer-card">
      <div class="beer-column">        
          <img src="{{image_url}}" height="150px" width="75px">
          <p class="beer-name"><b>{{name}}</b></p> 
          <p class="tagline">{{tagline}}</p>
          <p class="beer-description">{{description}}</p>
      </div>               
    </div>


