<div class="card" style="width: 33.333%;">
      <img class="card-img-top" src="{{beer.image}}" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">{{beer.name}}</h2>
        <h5>{{beer.tag}}</h5>
        <p class="card-text">{{beer.description}}</p>
      </div>
</div>