<div class="uk-card uk-card-default uk-child-width-1-3@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle uk-child-width-1-3@m">
            <div class="uk-width-auto">
                <img class="" width="40" height="40" src="{{this.image_url}}">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{{this.name}}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">{{this.tagline}} </p>
                <p class="uk-text-meta uk-margin-remove-top">{{this.description}} </p>
            </div>
        </div>
    </div>
</div>

