<div class="beer">
  <img src="{{this.image_url}}" alt="chelita">
  <div class="col-md-12">
    <h4>{{this.name}}</h4>
    <p class="tagline">{{this.tagline}}</p>
    <p>{{this.description}}</p>
  </div>
</div>
