<div class="beers-container">
     <div class="d-flex justify-content-center">
          <img style="height: 8rem;" src="{{image_url}}" alt="">
     </div>

     <h5 class="font-weight-bold">{{name}}</h5>
     <p class="font-weight-light text-secondary">{{tagline}}</p>
     <h6 class="text-sm">{{description}}</h6>
</div>