<div class="card" style="width: 10rem;">
  <img src="{{this.image_url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h3>{{this.name}}</h3>
    <h5 class="card-title">{{this.tagline}}</h5>
    <p class="card-text">{{this.description}}</p>
    <a href="#" class="btn btn-primary">Wanna buy it ?</a>
  </div>
</div>