



<div class="partialContent">
    <div class="partialPicture">
        <img src="{{this.image_url}}" alt="not found beer"><p>sdfsdfsd</p>
    </div>
    <div class="partialTitle">
        <h3>{{this.name}}</h3>
    </div>
    <div class="partialTagline">
        <h5>{{this.tagline}}</h5>
    </div>
    <div class="partialDescription">
        <p>{{this.description}}</p>
    </div>
</div>
