<div class="eachBeer">
      <img class="beer-img" src="{{this.image_url}}" alt="">
      <div class="description-body">
        <h3 class="beer-name">{{this.name}}</h3>
        <h5 class="tagline">{{this.tagline}}</h5>
        <h5>{{this.description}}</h5>
      </div>
</div>