<div class="beerPartials">
  <div class="container">
    <div class="row">
      <img src="{{image_url}}"/>
      <h3>{{name}}</h3>
      <p>{{tagline}}</p>
      <p>{{description}}</p>
    </div>
  </div>  
</div>