<div class="beer-container">
  <img src="{{this.image_url}}" alt="beer" class="beer-img  mb" id="beer-img">
  <h1 class="beer-header">{{this.name}}</h1>
  <h2 class="beer-tag mb">{{this.tagline}}</h2>
  <p class="beer-description">{{this.description}}</p>
</div>