
        <li>
            <img src="{{this.image_url}}" />
            <h3>{{this.name}}</h3>
            <p class="h5-like">{{this.tagline}}</p>
            <p>{{this.description}}</p>

        </li>
       