<div class="row">
  <div class="col l4">
    <div class="card">
      <div class="card-image">
        <img src="{{this.image_url}}" class="imgsize" alt="imagen">
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.description}}</p>
      </div>
    </div>
  </div>
</div>