
  <div class="col-sm-4">
    <div class="centrar altura">
      <img  src="{{this.image_url}}" alt="Birra" class="img-birra-api">
    </div>
    <div class="texto-birra" >
      <h2>{{this.name}}</h2>
      <h3>{{this.tagline}}</h3>
      <p>{{this.description}}</p>
    </div>
  </div>
