<div class="beer-partial-container">
  <div class="partial-img-wrap">
    <img src="<%= beer.image_url %>" alt="beer bottle">
  </div>
  <h1><%= beer.name %></h1>
  <h2><%= beer.tagline %></h2>
  <span><%= beer.description %></span>
</div>