<div class="cardBeer">
  <img class="imgBeer" src="{{this.image_url}}" alt="beer">
  <div class="beerInformation">
    <h3 class="beerTitle">{{this.name}}</h3>
    <h3 class="beerTagline">{{this.tagline}}</h3>
    <p class="beerText">{{this.description}}</p>
  </div>
</div>