<!-- 
    we'll be showing beer information here
    -->
<div class='beer-info'>
    <!-- REST style instead of query parameters style -->
    <div><img src="{{image_url}}" alt="Image of beer {{name}}"></div>
    <div>You're looking at: {{name}}</div>
</div>