<div class="beer-container">
    {{#each beerList}}
    <div>
        <img src="{{this.image_url}}" alt="beer">
    <div>
        <h5>{{this.name}}</h5>
        <p>{{this.tagline}}</p>
        <p>{{this.description}}</p>
    </div>
    </div>
    {{/each}}
</div>



