{{!-- Generate a card for each beer --}}
<div class="card" style="width: 33.333%;">
  <img src="{{this.image_url}}" alt="{{this.name}}" class="card-img-top ">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>