<div class="partial-beersContainer">
<div class="partial-beersimg">
  <img src="{{image_url}}" alt="beer">
</div>
<div>
  <h2>{{name}}</h2>
  <p>{{tagline}}</p>
  <h5>{{description}}</h5>
</div>
</div> 