<div class="beer">
  <div>
    <img class="beer-images" src="{{ image_url }}" alt="">
  </div>
  <div class="beer-name" >{{ name }}</div>
  <div class="beer-tagline" >{{ tagline }}</div>
  <div>{{ description }}</div>
</div>