<div class="col-md-4 box">

    <img class="imagem w-25" src="{{image_url}}" alt="">

    <div>
        <h1>{{name}}</h1>
        <p class="tagline">{{tagline}}</p>
        <p class="description">{{description}}</p>
    </div>
</div>