<div class="beers" style="width: 20.333%;">
    
    <div class="beer">
    <img src="{{image_url}}" alt="c">
        <h5 class="beer-title">{{name}}</h5>
        <p class="beer-text">{{description}}</p>
    </div>
        
</div>