<div class="col-sm-6 col-md-4">
  <figure class="row justify-content-center">
    <div class="col-4">
      <img class="img-fluid" src="{{ this.image_url }}" alt="">
    </div>
  </figure>
  <h2>{{ this.name }}</h2>
  <p class="tagline">{{ this.tagline }}</p>
  <p class="description">
    {{ this.description }}
  </p>
</div>