<div class="card" style="width: 33.333%;">
  <img class="beer-img-top" src="{{this.image_url}}" alt="">
  <div class="beer-body">
    <h5 class="beer-title">{{this.name}}</h5>
    <p class="beer-description">{{this.description}}</p>
    <p class="beer-tagline">{{this.tagline}}</p>
  </div>
</div>