<div class="beer-container col-md-4">
    <div class="beer-img">

        <img class="beer-img-top" src={{this.image_url}} alt="beer image" />
    </div>

    <h2 class="beer-title">{{this.name}}</h2>
    <h3 class="beer-tag-line">{{this.tagline}}</h3>
    <p class="beer-description">{{this.description}}</p>

</div>