<div class="container beer-container col-sm-4">
  <div class="beer-image beer-image-list d-flex flex-column align-items-center justify-content-end">
      <img class="beer-src-image" src="{{this.image_url}}">
  </div>
      <div class="">
        <h5 class="beer-name"><strong>{{this.name}}</strong></h5>
        <h6 class="beer-greeting"><strong>{{this.tagline}}</strong></h6>
        <p class="">{{this.description}}</p>
      </div>
</div>