<img class="card-img-top" src="{{this.image_url}}"  width="35%" height="35%" alt="">

<div class="card-body">
	<h5 class="card-title">{{this.name}}</h5>
	<h6>{{this.tagline}}</h6>
	<p class="card-text">{{this.description}}</p>
</div>