<div class="card" style="width: 33.333%;">
    <img class="card-img-top" src="asddsa" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{}}</p>
    </div>
</div>