<div class="col-md-4">
  <div class="card">
    <img style="height:250px;width:20%;margin:10px auto" class="card-img-top" src="{{image_url}}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">{{name}}</h3>
      <h5 class="card-tagline">{{tagline}}</h5>
      <p class="card-text">
        {{description}}
      </p>
    </div>
  </div>
</div>