<div class="card w-25 " style="width: 18rem;">
    <img class="card-img-top rounded mx-auto d-block" style="width: 50px; height: 150px;" src="{{this.image_url}}"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">
            {{this.name}}
        </h5>
        <h6>{{this.tagline}}</h6>
        <p class="card-text">{{this.description}}</p>
    </div>
</div>