<div class="beer-partial">
  <img alt='Beer image' src= <%= beer.image_url %> >
    <div class='partial-beer-name'><%= beer.name %></div>
    <div class='partial-beer-tag'><%= beer.tagline %></div>
    <div><%= beer.description %></div>
</div>
