<div class="card" style="width: 33.333%;">
      <img class="card-img-top img-fluid" src="{{this.image_url}}" alt="Beer image">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.tagline}}</p>
        <p class="card-text">{{this.description}}</p>
      </div>
</div>