<div class="beerBox">
    <div class="beer">
        <img class="beerPic" src={{this.image_url}} alt="">
    </div>
    <div class="beerInfo">
        <h3>{{this.name}}</h3>
        <h4>{{this.tagline}}</h4>
        <p>{{this.description}}</p>
    </div>
</div>