<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img id="fotochela" src="{{this.image_url}}" alt="Placeholder image" >
    </figure>
  </div>
  <div id="caja" class="beers-content" >
    <div  class="media">
      <div  class="media-content">
        <p style="padding: 0 35px;" class="subtitle is-6">{{this.tagline}}</p>
        <p style="padding: 0 15px; class="subtitle is-6">{{this.description}}</p>
        <p style="padding: 0 75px;" class="title is-4">{{this.name}}</p>

      </div>
    </div>
  </div>
</div>