<div class="card">
  {{#with this}}
  <img class="card-img-top" src="{{image_url}}" alt="">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-tagline">{{tagline}}</p>
    <p class="card-text">{{description}}</p>
  </div>
  {{/with}}
</div>