<div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img class="uk-align-center" src={{image_url}} alt="" width="230px">
        </div>
        <div class="uk-card-body">
            <h1>{{name}}</h1>
            <h4 style="color:grey"></h4>{{tagline}}</h4>
            <p>{{description}}</p>
        </div>
    </div>
</div>