

<div class="beer-card" style="width: 33.333%;">
  <img class="beer-img-top" src="{{this.image_url}}" alt="Beer img not found">
  <div class="beer-body">
    <h5 class="beer-title">{{this.name}}</h5>
    <h3 class = 'beer-subtitle'>{{this.tagline}}</h3>	
    <p class='beer-description'>{{this.description}}</p>
  </div>
</div>




