<div class="partial-container">

    <img class="img" src="{{image_url}}" alt="">

    <div>
    <h1 class="info">{{name}}</h1>
    <h2 class="info">{{this.tagline}}</h2>
    <p class="info">{{this.description}}</p>
</div>
</div>