<div class="col-sm-4">
  <div class="card border-0 p-3">
    <img src={{this.image_url}} class="card-img-top mx-auto" alt="image broken" style="width: 15%">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.tagline}}</p>
      <p class="card-text">{{this.description}}</p>
    </div>
  </div>
</div>



