
<div class="container">
  <div class="row">
    <div class="col-sm-7 beers">
          <img src="{{this.image_url}}">
          <div class=" body">
            <h5 class="title">{{this.name}}</h5>
            <h6>{{this.tagline}}</h6>
            <p>{{this.description}}</p>
          </div>
  </div>
  </div>
</div>
