<div class="card" style="width: 500px; height: 600px; display:flex; flex-direction:column; margin-left:50px;margin-right:50px;">
  <img class="card-img-top" src="{{this.image_url}}" alt="" style="width: 100px; height: 150px; margin:auto;">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>
