 <div class="beer-information">
    <img class="beer-information__img" src="{{this.image_url}}" alt="">
    <h2 class="beer-information__name">{{this.name}}</h2>
    <h3 class="beer-information__tagline">{{this.tagline}}</h3>
    <p class="beer-information__description">{{this.description}}</p>
  </div>