
<div class='card border-0' style="width: 33.333%;">
  <img  src="{{this.image_url}}" >
  <div >
    <strong><p >{{this.name}}</p></strong>
	  <p class='silver'>{{this.tagline}}</p>
    <p >{{this.description}}</p>
  </div>
</div>