    <div class="beer-el">
        <div class="beer-img">
            <img src="{{this.image_url}}" alt="">
        </div>

        <div>
            <h3>{{this.name}}</h3>
            <h4>{{this.tagline}}</h4>
        </div>
        <div>
            <p>{{this.description}}</p>
        </div>
    </div>
