<div id='beerPartial'>
  <figure class='img'><img src="{{this.image_url}}"></figure>
  <h1 class='name'>{{this.name}}</h1>
  <h4 class='description'>{{this.description}}</h4>
  <p class='tagline'>{{this.tagline}}</p>
</div>