
  <div class="card beer-partial d-flex flex-column align-items-center justify-content-start">
    <img class="card-img-top beerBottle" src="{{this.image_url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.description}}</p>
    </div>
  </div>