<div class="card">
   <div class="img-beer">
    <img class="card-img img-thumbnail" src={{this.image_url}} alt="Card image cap">
</div>
    <div class="card-body">

        <h5 class="card-title">{{this.name}} </h5>
        <h4>{{this.tagline}}</h4>
        <p></p>{{this.description}}</p>

    </div>

</div>