<div class="beer-container">
  <img src="{{this.image_url}}" alt="beer pic" class="beer-image">
  <h2 class="beer-name">{{this.name}}</h2>
  <p class="beer-tagline">{{this.tagline}}</p>
  <p class="beer-description">{{this.description}}</p>
</div>
