<div class="card">
    <div class="card-image">
        <img class="beer-image" src={{this.image_url}}>
    </div>
    <div class="card-content">
        <span class="card-title">{{this.name}}</span>
        <span class="card-tagline">{{this.tagline}}</span>
        <p>{{this.description}}</p>
    </div>
    {{!-- <div class="card-action">
        <a href="#">This is a link</a>
    </div> --}}
</div>