<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>beerPartial</title>
</head>
<body>
  
  <img class="image" src={{this.image_url}} alt="beer-image">
  <h5 class="beer-name">{{this.name}}</h5>
  <p class="beer-description">{{this.description}}</p>
  <p class="beer-tagline">{{this.tagline}}</p>

</body>
</html>