<div class="beerDescription">
       <img class="beerImg" src="{{image_url}}" alt="beer">
       <h1> {{name}} </h1>
       <p class="small">{{tagline}}</p>
       <p class="description">{{description}}</p>
   </div>