<link rel="stylesheet" href="/stylesheets/styles.css">

<div class="beers-list">

<img src="{{this.image_url}}">
<div class="beer-text">
<h2>{{this.name}}</h2>
<p>{{this.tagline}}</p>
<p>{{this.description}}</p>

</div>

</div>