<div class="beerContainer">
      <img class="beer-img" src="{{this.image_url}}" alt="Beer image">
      <div class="beer-body">
        <h3 class="beer-title">{{this.name}}</h3>
        <h5 style = "opacity: 0.25" class="beer-tagline">{{this.tagline}}</h5>
        <p class="beer-text">{{this.description}}</p>
      </div>
</div>