<div class="conteneur">

<div class ="name">{{this.name}} </div>
<div class ="image"><img src={{this.image_url}}> </div>
<div class ="description"><p>{{this.description}} </p></div>
<div class ="tagline"></div>{{this.tagline}} </div>

</div>
