
<div class="beer">
      <img class = 'img-beer' src="{{this.image_url}}" alt="" height="200px">
      <div>
        <h5 class="beer-title">{{this.name}}</h5>
         <h5 class='beer-subline'>{{this.tagline}}</h5> 
        <p class="card-text">{{this.description}}</p>
      </div>
</div>
