<div class = "beer-line">
  <img class="img-beer" src={{"this.image_url"}} alt="beerphoto" style="width: 33.333%;">
  <h2 class = "beer-name">{{this.name}}</h2>
  <h5 class = "beer-tagline">{{this.tagline}}</h5>
  <p class = "beer-description">{{this.description}}</p>
</div>
