<div id="beer" class="card col-md3 pt-2" style="width: 30%;">
  <img class="card-display-img" src="{{this.image_url}}" alt="beer img">
  <div class="card-body">
    <h3 class="card-title">{{this.name}}</h3>
    <p class="card-tagline">{{this.tagline}}</p>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>