<div class="beer-partial">
    <img class="beer-img" src="{{image_url}}" alt="beer">
    <div class="beer-partial-text">
        <h1>{{name}}</h1>
        <h2>{{tagline}}</h2>
        <p>{{description}}</p>
    </div>
</div>