<!-- 
    we'll be showing beer information here
    -->
<div class='beer-info'>
    <!-- REST style instead of query parameters style -->
    <a href="/beer/{{id}}">{{name}}</a>
    <img src="{{image_url}}" alt="Image of beer {{name}}">
</div>