<div class="card flex-row flex-wrap">
    <div class="card-header border-0">
        <img src="{{this.image_url}}" alt="">
    </div>
    <div class="card-block px-2">
        <h4 class="card-title">{{this.name}}</h4>
        <p class="card-text">{{this.description}}</p>
        <a href="#" class="btn btn-primary">BUTTON</a>
    </div>
    <div class="w-100"></div>
    <div class="card-footer w-100 text-muted">
        FOOTER
    </div>
</div>