<div>
  <div>
    <img src="<%= beer.image_url %>" alt="beer bottle" class="beer-bottles">
  </div>
  <h1><%= beer.name %></h1>
  <h2><%= beer.tagline %></h2>
  <span><%= beer.description %></span>
</div> 