<div class="beerItem">
	<img src="{{this.image_url}}" alt="Beer bottle image" class="productImage">
	<h1 class="beerName">{{this.name}}</h1>
	<h2 class="tagLine">{{this.tagLine}}</h2>
	<p class="description">{{this.description}}</p>
</div>