<div class="beer">
  <img class="beer-image" src="{{this.image_url}}" alt="beer-photo">
  <div class="beer-container">
    <h3 class="beer-title">{{this.name}}</h3>
    <h2 class="beer-tagline">{{this.tagline}}</h2>
    <p class="beer-text"> {{this.description}}</p>
  </div>
</div> 