  <div class="col-md-5">
    <div class="card">
      <img class="card-img-top" src="{{image_url}}"/>
      <div class="card-body">
        <h7 class="card-title">{{name}}</h7>
        <p class="card-text" style="color:rgba(145, 145, 145, 0.481);">{{tagline}}</p>
        <p class="card-text">{{description}}</p>
      </div>
    </div>
  </div>