<div class="beer" style="width: 33.333%;">
      <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
      <h2>{{this.name}}</h2>
      <h3>{{this.tagline}}</h3>
      <p>{{this.description}}</p>
</div>