<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Beers</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>

<div>
  <img src = {{this.image_url}}>
  <h1>{{this.name}}</h1>
  <p>{{this.tagline}}</p>
  <p> class="beerImage">{{this.description}}</p>
  
</div>
</body>
</html>

