 

  <div class="col-6 p-5 beer-box">
    <div>
      <h5 class="text-uppercase"> <b>{{ this.name }}</b> </h5>
      <p> - {{this.tagline}} </p>
    </div>
      
      <div>
        <img src="{{ this.image_url }}" alt="" width="50px" height="150px">
      </div>
      <hr>
  </div>
    