<div class="col-md-4">
    <article class="card">
        <img src="{{image_url}}" alt="Beer image">
        <div class="card-body">
            <h2 class="card-title">{{name}}</h2>
            <h3 class="card-subtitle">{{tagline}}</h>
            <p class="card-description">{{description}}</p>
        </div>
    </article>

</div>