    <div class="wrapper-beer">
        <img class="img-beer" src={{this.image_url}} alt="image">
        <h2>{{this.name}}</h2>
        <h3>{{this.tagline}}</h3>
        <p>{{this.description}}</p>

    </div>
    
