<div class="beer" style="width: 33.333%;">
  <div class="imgBeer">
    <img class="beer-img-top" src="{{beer.image_url}}" alt="">
    <h5 class="beer-title">{{beer.name}}</h5>
    <p class="beer-description">{{beer.description}}</p>
    <p class="beer-tagline">{{beer.tagline}}</p>
  </div>
</div>