<img src="{{this.image_url, default: "http://distribuidorajk.cl/wp-content/uploads/2017/05/15864_esp_ESCALA_191_500.jpeg"}}" alt="beer-bottle">
<h3>{{this.name}}</h3>
<h4>{{this.tagline}}</h4>
<p>{{this.description}}</p>