<div class="card">
      <img class="card-img-top" src="{{this.image_url}}" alt="image">
      <div class="card-body">
        <h4 class="card-title">{{this.name}}</h4>
        <p class="card-tagline">{{this.tagline}}</p>
        <p class="card-description">{{this.description}}</p>
      </div>
</div>

{{!-- <div class="clearfix"></div> --}}
