<div class="beer">
    <div>
        <img src="{{this.image_url}}">
    </div>
    <div>
        <h3 class="beer-name">{{this.name}}</h3>
        <h4 class="beer-tagline">{{this.tagline}}</h4>
        <p>{{this.description}}</p>
    </div>
</div>