<div class="beer-container p-4">
  <img class="beer-img" src="{{this.image_url}}" alt="beer"/>
  <div class="beer-info">
    <h1 class="beer-name">{{this.name}}</h1>
    <p class="beer-tag">{{this.tagline}}</p>
    <p class="beer-description">{{this.description}}</p>
  </div>
</div>