<div class="beer">
        <img class="beer-img-top" src="{{{this.image_url}}}" alt="Beer Img">
        <h1 class="beer-title">{{this.name}}</h1>
        <h2 class="beer-tag">{{this.tagline}}</h2>
        <p class="beer-desc">{{this.description}}</p>
</div>