<div class="get-beers-container">
  <div class="get-beers-img"><img src="{{this.image_url}}" class=alt="beer-image"></div>
  <div>
    <h5>{{this.name}}</h5>
    <p><small class="text-muted">{{this.tagline}}</small></p>
    <p>{{this.description}}</p>
  </div>
</div>