<div style="padding:10px;" class="col-md-4">
  <div style="width:200px;">
    <img class="beer-img" style="height:100px;" src="{{this.image_url}}" alt="beer-img">
    <h2>{{this.name}}</h2>
    <h5 class="subtext">{{this.tagline}}</h5>
    <p>{{this.description}}</p>
  </div>
</div>