<div class="beer-container">
  <img src="{{this.image_url}}" alt="">
  <div class="beer-name-container">
    <p>{{this.name}}</p>
  </div>
  <div class="beer-tagline-container">
    <p>{{this.tagline}}</p>
  </div>
  <div class="beer-description-container">
    <p>{{this.description}}</p>
  </div>
</div>