<figure class="col-md-4">
    <img src="{{ this.image_url }}" alt="" class="list-image">
    <figcaption>
        <h1 class="list-title">{{ this.name }}</h1>
        <p class="list-tagline">{{ this.tagline }}</p>
        <p class="list-description">{{ this.description }}</p>
    </figcaption>
</figure>