<div class="beer">
  <img class="beer-img-top" src="{{this.image_url}}" alt="Beer image cap" style="width: 10%">
  <div class="beerBody">
    <h5 class="beerName">{{this.name}}</h5>
    <h6 class="beerTagline">{{this.tagline}}</h6>
    <p class="beerDescription">{{this.description}}</p>
  </div>
</div>