<div>
    {{#each beers}}
        <div class="container ">
            <img src="{{this.image_url}}">
            <h2>{{this.name}}</h2>
            <h4>{{this.tagline}}</h4>
            <p>{{this.description}}</p>
        </div>
    {{/each}}
</div>