<div class="beer" style="width: 33.333%;">
      <img src="{{this.image_url}}" alt="Card image cap" height="200px">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{this.tagline}}</h6>
        <p class="card-text">{{this.description}}</p>
      </div>
</div>