<div class="card col-3 m-1 border-0 ">
    <div class="text-center">
        <img class="card-img-top img-thumbnail" src="{{ image_url}}" alt="Card image cap"></div>
    <div class="card-body">
        <h2> {{name}}</h2>
        <h3>{{tagline}}</h3>

        <p class="card-text">{{description}}</p>
    </div>
</div>