<div class="card-beer">
    <img class="card-img" src="{{this.image_url}}">
    <p class="card-title">{{name}} </p>
    <p class="card-tag">{{tagline}}</p>
    <p class="card-text">{{description}}</p>
</div>