<div>
  {{#each beerRack}}
 
    <div class="beerCard">
      <img src="{{this.image_url}}" alt="" class="beer-card-img">
      <p class="beer-card-name">{{this.name}}</p>
      <p class="beer-card-tagline">{{this.tagline}}</p>
      <p class="beer-card-description">{{this.description}}</p>
    </div>
  
  {{/each}}
</div>