<div class="beerContainer">
      <img class="beerImg" src={{this.image_url}} alt={{this.name}}>
      <div class="">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.description}}</p>
      </div>
</div>