<div class="col-4 beer">
    <div class="beerImg">
        <img src="{{image_url}}" alt="beer" height="200">
    </div>
    <h5>{{name}}</h5>
    <h6>{{tagline}}</h6>
    <p>{{description}}</p>
</div>