<div class="card" style="width: 33.333%;">
  <div class="card-body">
    <img class="card-img-top" src="{{this.image_url}}" alt="Card image">
    <h1 class="card-title">{{this.name}}</h1>
    <p>{{this.brewers_tips}}</p>
  </div>
</div>