<div class="card">

  <div class="image"><img class="beer-img-top" src="{{this.image_url}}" alt="Beer Image"></div>
  <div class="beer-body">
        <h3 class="beer-title">{{this.name}}</h3>
        <h4 class="beer-tag">{{this.tagline}}</h4>
        <p class="beer-des">{{this.description}}</p>
  </div>

</div>