<div class="beers">
  <div class="beer-body">
    <img class="beer-img" src={{this.image_url}} alt="Card image cap">
    <h3 class="beer-title">{{this.name}}</h3>
    <p class="beer-tagline">{{this.tagline}}</p>
    <p class="beer-text">{{this.description}}</p>
  </div>
</div>