<div class="card beer-card" style="width: 18rem;">
  <img src={{image_url}} class="card-img-top beer-card-img" alt="the beer image">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{tagline}}</h6>
    <p class="card-text">{{description}}</p>
  </div>
</div>