<div class="card text-center">
  <img class="card-img-top mb-4 mt-4" src="{{this.image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title font-weight-bolder">{{this.name}}</h5>
    <p class="card-text">
      <small class="text-muted">{{this.tagline}}</small></p>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>