
<div class="beer-section">
    <div class="beer-wrapper">
    
      <img class="beer-img" src="{{ this.image_url }}">
      <h2>{{ name }}</h2>
      <em>{{ tagline }}</em>
      <p>{{ description }}</p>
      
    </div>

</div>
