{{!-- <div class="my-shadow"> --}}
<div class="card bg-light border-dark my-shadow p-4">
  <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
  <div class="card-body text-dark">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
  </div>
</div>
{{!-- </div> --}}
