<div class="card" style="width: 33%">
      <img class="card-img-update" src="{{this.image_url}}" alt="Beer image cap">
      <div class="card-body">
        <h2 class="card-title">{{this.name}}</h2>
        <h5>{{this.tagLine}}</h5>
        <p class="card-text">{{this.description}}</p>
    </div>
</div>