<article>
    <div class="container-beer">
        <h3>{{this.name}}</h3>
        <div><img src="{{this.image_url}}" alt="">
        <p>{{this.description}}</p>
        </div>
        <p>{{this.tagline}}</p>
        


    </div>
</article>