<div class="card">
  <div class="img-beer">
  <img class="card-img-top" src={{this.image_url}} alt="A Beer">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <div class="des-text">
    <p class="card-text">{{this.description}}</p>
    </div>
  </div>
</div>