<!-- Cada partial se nutre de los datos variables -->
<div class="random">
      <div><img class="rand-img" src="{{this.image_url}}" alt="Card image cap"></div>
      <div class="rand-body">
        <h5 class="rand-title">{{this.name}} {{this.tagline}}</h5>
        <p class="rand-text">{{this.description}}</p>
      </div>
</div>