<div class="img-box d-flex justify-content-center">
  <img class="img-fluid" style="width: 150px !important; height: 150px !important;" src="{{image_url}}" />
</div>
<h4>{{name}}</h4>
<p>{{brewers_tips}}</p>


