<!-- beerCard.hbs -->

{{!-- <div class='d-flex flex-wrap'>
    <div class="card" style="width: 33.333%;">
        <img class="card-img-top" src='{{this.image_url}}' alt="Beer image">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-tag">{{this.tagline}}</p>
        </div>
    </div>
</div> --}}