<div class="jumbotron">
  <h1 class="display-4">{{this.name}}</h1>
  <p class="lead">{{this.description}}</p>
  <hr class="my-4">
  <img src="{{this.image}}">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>