<div class="beer-partial" style="background-image: url('{{this.image_url}}'); background-size: contain; background-repeat: no-repeat;">
    <div>
        <h5>{{this.name}}</h5>
        <p>{{this.description}}</p>
    </div>
</div>