<div class="beer-tag">
    <div><img src="{{this.image_url}}" class="beer-image"></div>
    <div><h3>{{this.name}}</h3></div>
    <div><p>{{this.tagline}}</p></div>
    <div><p>{{this.description}}</p></div>
</div>