
<div class="card beers-container">
  <img class="card-img-top beer-img d-block" src="{{image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="">{{name}}</h5>
    <h6>{{tagline}}</h6>
   <p>{{description}}</p>
  </div>
</div>