<div class="col-sm-4">
      <div class="d-flex justify-content-center"> 
        <img class="beerimg2" src="{{this.image_url}}" alt="Beer image">
      </div>
      <div>
        <h3>{{this.name}}</h3>
        <h6 class="beerSub">{{this.tagline}}</h6>
        <p>{{this.description}}</p>
      </div>
</div> 