<div class="uk-column-1-2">
    <div class="uk-card-media-top uk-height-small">
        <img class="uk-align-center uk-height-small" src="{{image_url}}">
    </div>
    <div class="uk-card-body">
        <h2 class="uk-card-title uk-text-lead">{{name}}</h2>
        <h3 class="uk-card-title uk-text-meta">{{tagline}}</h3>
        <p>{{description}}</p>
    </div>
</div>