
<div class="beerPartial">
    <img src="{{image_url}}" alt="404">
    <div>
       <p class="beername"> {{name}} </p>
       <p class="beertag"> {{tagline}} </p>
       <p class="beerdescription"> {{description}} </p>
    </div>
</div>
