

<!-- beerPartial.hbs -->

<div class="beer-card">
      
      <img src="{{this.image_url}}" alt="beer image">
      <h2 class="beer-name">{{this.name}}</h2>
      <h3 class="tagline"><span>{{this.tagline}}</span></h3>
      <p class="description">{{this.description}}</p>
      
</div>