
<div class="beer-info">  
  <div class="beer-pic">
    <img src="{{this.image_url}}" height="200px">
  </div>
    <h5 class="beer-name"> {{this.name}} </h5>
    <h6 class="beer-tagline"> {{this.tagline}} </h6>
    <p class="beer-desc"> {{this.description}}</p>
</div>