<div class="card" style="width: 25%;">
    <img class="beer-img-top" src={{this.image_url}} alt="beer image">
    <div class="card-body">
        <h4 class="beer-name">{{this.name}}</h4>
        <h5 class="beer-tagline">{{this.tagline}}</h5>
        <p class="beer-description">{{this.description}}</p>
    </div>
</div>