<div>
{{!-- we are creating a partial because this piece of code will be repeated 
multiple times through the whole app --}}
    Name: {{this.name}}
    <br>
    Tagline:{{this.tagline}}
    <br>
    <img src="{{this.image_url}}" width="50" alt="">
</div>