<div class="beer">
 <img class="beer-img" src="{{this.image_url}}" alt="Beer Image" width="100px" height: "300px">
  <h1>{{this.name}}</h1>
  <h2>{{this.tagline}}</h2>
  <p>{{this.description}}</p>
</div>