<div class="beers">
  <div class="beers-punkapi">
    <div class="punkapi-img">
      <img src="{{this.image_url}}" alt="beer image">
    </div>
    <h5 class="beer-title">{{this.name}}</h5>
    <p class="beer-description">{{this.descrition}}</p>
  </div>

</div>