<div class="beer-partial">
      <img class="beer-img" src="{{this.image_url}}" alt="beer-img">
      <div class="beer-body">
        <h5 class="beer-name">{{this.name}}</h5>
        <h6 class="beer-tagline">{{this.tagline}}</h6>
        <p class="beer-description">{{this.description}}</p>
      </div>
</div> 