<div class="beer">
  <div class="beer-image">
    <figure class="image is-4by3">
      <img src="{{this.photo}}" alt="Placeholder image">
    </figure>
  </div>
  <div class="beer-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{this.name}} {{this.tagline}}</p>
        <p class="subtitle is-6">{{this.description}}</p>
      </div>
    </div>
  </div>
</div>