<div class="partial-beer">
    <img src="{{this.image_url}}" alt="beerPartial" width="30%" height="30%">
    <h2>{{this.name}}</h2>
    <h6>{{this.tagline}}</h6>
    <p>{{this.description}}</p>
</div>