<div class="beerPartials flexContainer">
  <div class="" style="background-image:url('{{this.image_url}}')">
    <div class="beer-info">
      <h3>{{this.name}} </h3>
      <span>{{this.tagline}}</span>
      <p>{{this.description}} </p>
    </div>
  </div>
</div>