<div class="col-md-4">

    <article class="card">
        <img  src="{{image_url}}" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">{{name}}</h2>
            <p class="card-text">{{description}}</p>
            <p class="card-text">{{tagline}}</p>
        </div>
    </article>

</div>