<div class="card">
    <div class="imgCv">
        <div class="img-beer">
            <img src={{this.image_url}} alt="img">
        </div>
    </div>
    <div class="text">
        <h4 class="name"> {{this.name}}</h4>
        <h6 class="tagLine"> {{this.tagline}}</h6>
        <p class="description">
            {{this.description}}
        </p>
    </div>
</div>