<!-- Cada partial se nutre de los datos variables -->


<div class="card">
      <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{this.name}}</h4>
        <h5 class="card-subtitle">{{this.tagline}}</h5>
        <p>{{this.description}}</p>
      </div>
</div>

