<div>
    <img src="{{this.image_url}}" alt="beer"> <!-- el triple corchete trae todas las imágenes de las cervezas-->
    <h4>{{this.name}}</h4>
    <p>{{this.tagline}}</p>
    <p{{this.description}}</p>
</div>
