<div class="card col-4 align-items-center" style="width: 33.333%;">
  <img class="card-img-top " src="{{image_url}}" alt="Beer image">
  <div class="card-body">
    <h2 class="card-title">{{name}}</h2>
    <h6 class="card-subtitle mb-2 text-muted">{{tagline}}</h6>
    <p class="card-text">{{description}}</p>
  </div>
</div>