<div class="col col-sm-4">
  <div class="beer-image">
    <img src="{{beer.image_url}}" alt="">
  </div>
  <h3>{{beer.name}}</h3>
  <p class="grey-p">{{beer.tagline}}</p>
  <p>{{beer.description}}</p>
</div>