<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.image_url}}" alt="Beer">
  <div class="card-body">
        <h2 class="beersH2">{{this.name}}</h2>
        <h3 class="beersH3">{{this.tagline}}</h3>
        <p class="beersP">{{this.description}}</p>
  </div>
</div>