{{!-- will display an image, name, description, and tagline of the beer. --}}

<div class="beerCard">
  <div class="cardImageContainer">
    <img src="{{this.image_url}}" class="cardImage">
  </div>
  <h2 class="beerTitle">{{this.name}}</h2>
  <p class="tagline">{{this.tagline}}</p>
  <p class="description">{{this.description}}</p>
</div>