<div class="beer-img">
    <img src="{{this.image_url}}" alt="beer-photo" width="80" height="200">
</div>
<div class="text">
    <h2><a href="">{{this.name}}</a></h2>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
</div>
