<div class="bier">
    <img class = "beer-images" src= <%= beer.image_url %> alt="Smiley face" height="42" width="42">
    <div class="name"> <%= beer.name %> </div> 
    <div class="tag"> <%= beer.tagline %> </div> 
    <div> <%= beer.description %> </div> 
</div> 