<div class="card" style="width: 33.333%;">
  <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <h6 class="card-subtitle">{{this.tagline}}</h6>
    <br>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>