<div class="card">
  {{#with this}}
  <div>
  <img class="card-beer-img" src="{{image_url}}" alt="Card image cap">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5> 
    <p class="tagline">{{tagline}}</p>
    <p>{{description}}</p>
  </div>
  {{/with}}
</div>