<div class="card">
  <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap" id="image-card">
  <div class="card-body">
    <h4 class="card-title"> {{this.name}} </h4>
    <aside>{{this.tagline}}</aside>
    <p class="card-text">
      {{this.description}}
    </p>
  </div>
</div>