<div class="uk-card uk-card-default">
    <div class="uk-card-media-top">
        <center><img src="{{image_url}}" width="100px" height="100px" alt="img"></center>
    </div>
    <div class="uk-card-body">
        <h3 class="uk-card-title">{{name}}</h3>
        <p class="uk-text-meta uk-margin-remove-top">{{tagline}}</p>
        <p>{{description}}</p>
    </div>
</div>