<div class="eachBeer">
    <img class="img" src="{{this.image_url}}" />
    <h3 class="name">{{this.name}}</h3>
    <p class="greyInfo">{{this.tagline}}</p>
    <p class="info">{{this.description}}</p>
</div>