<!-- footer.hbs -->

<footer class="footer bg-dark fixed-bottom navbar-expand-lg navbar-toggle font-color">
  <div class="collapse navbar-collapse">
    <a class="nav-item nav-link ">Develop by Ironhack ;)</a>
  </div>
</footer>