<!--Footer-->
<footer class="page-footer font-small">
  <!--Copyright-->
  <div class="text-center">
    © 2018 Copyright: Developed by Ironhack ;)
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->