<div class="index-container">
    <div class="beer">
        <img src="images/beer.png" style="height: 150px;">
        <button><a href="/beers">Check the beers!</a></button>
        <button><a href="/random-beers">Check a random beer!</a></button>
    </div>
</div>