<div class="index-container container">
  <div class="row">
    <div class="col">
        <img src="/images/beer.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary">Check the Beers!</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary">Check a Random Beer!</button>
    </div>
  </div>
</div>
