<img class="img-responsive" src="/images/beer.png" alt="beer">
<button type="button" class="btn btn-primary">Check the beers</button>
<button type="button" class="btn btn-primary">Check a random beer</button>