<div class="index-container">
    <img src="./images/beer.png" alt="Jarra de cerveza" class="beer-image">
    <button class="button" onclick="https://localhost:3000/beers">Check the Beers!</button>
    <button class="button" onclick="https://localhost:3000/random-beer">Check a Random Beer!</button>
</div>