<div class="col-md-12 text-center">
  <img src="images/beer.png" alt="jarrita">  
  <a class="anchorbtn" href="/beers">Check the Beers!</a> 
  <a class="anchorbtn" href="/random-beer">Check a Random Beer!</a> 
</div>