<div class="index-container">
    <img src="./images/beer.png" alt="Jarra de cerveza" class="beer-image">
    <button class="button">Check the Beers!</button>
    <button class="button">Check a Random Beer!</button>
</div>