<div class="index-container">
   <div class="bodyimage">
        <img src="/images/beer.png">
    </div>

    <div class= "buttons">
        <button class="btn1" type="button">Check the Beers!</button>
        <button class="btn2" type="button">Check a Random Beer</button>
    </div>


 
</div>