<div class="col-md-12 text-center">
  <div class="col-sm-12"><img src="images/beer.png" alt="jarrita"></div> 
  <div class="col-sm-12 topdiv"><a class="anchorbtn" href="/beers">Check the Beers!</a></div>
  <div class="col-sm-12 topdiv"><a class="anchorbtn" href="/random-beer">Check a Random Beer!</a> </div>
</div>