<div class="col-md-4">

  <article class="beers">
    <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
    <div class="card-body">
      <h3>{{name}}</h3>
      <h4>{{tagline}}</h4>
      <p>{{description}}</p>
    </div>
  </article>

</div>