<footer class="mainFooter mt-4">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Develop by Ironhack : )
        </a>
      </div>
    </div>
  </nav>
</footer>