<nav class="nav Menu">
  <a class="nav-link MenuLink" href="/">Home</a>
  <a class="nav-link MenuLink" href="/beers">Beers</a>
  <a class="nav-link MenuLink" href="/random-beers">Random Beers</a>
</nav>