<nav class="nav">
  <ul class="nav-content">
    <a href="/">
      <li>Home</li>
    </a>
    <a href="/beers">
      <li>Beers</li>
    </a>
    <a href="/random-beer">
      <li>Random Beer</li>
    </a>
  </ul>
</nav>