<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/beers">Beers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/random-beer">Random Beer</a>
    </li>
  </ul>
</nav>