<nav>
    <div class="navmenu">
       </a> <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/randombeer">Random Beer</a></li>
        </ul>
    </div>
</nav>