    <nav>
        <ul class=".nav-ul">
            <li><a href="./">Home</a></li>
            <li><a href="./beers">Beers</a></li>
            <li><a href="./random-beers">Random Beers</a></li>
        </ul>
    </nav>