<nav class="nav-bar">
  <div class="nav-item"><a href="/">Home</a></div>
  <div class="nav-item"><a href="/beers">Beers</a></div>
  <div class="nav-item"><a href="/random-beers">Random Beer</a></div>
</nav>