<nav class="container-fluid d-flex align-items-center">
    <div class="col-sm-3 d-flex justify-content-between">
      <a class="text-decoration-none" href="/">Home</a>
      <a class="text-decoration-none" href="/beers">Beers</a>
      <a class="text-decoration-none" href="/random-beer">Random Beer</a>
    </div>
</nav>