<nav class="navbar">
  <div class="links-container">
    <a class="link" href="/">Home</a>
    <a class="link" href="/beers">Beers</a>
    <a class="link" href="/random-beer">Random Beer</a>
  </div>
</nav>