<nav class="navbar navbar-expand-lg nav-color">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active font-color" href="/">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link font-color" href="/beers">Beers</a>
      <a class="nav-item nav-link font-color" href="/random-beers">Random Beer</a>
    </div>
  </div>
</nav>