<div class="one-beer">
    <img class="beerlist-img" src="{{ this.image_url }}" alt="">
    <h4>{{ this.name }}</h4>
    <p class="tagline">{{ this.tagline }}</p>
    <p class="description">{{ this.description }}</p>
</div>