<div class="container show-beers">
    <div class="row">
        <div class="col-6">
            <img src="{{this.image_url}}" alt="">
            <h2>{{this.name}}</h2>
            <h4>{{this.tagline}}</h4>
            <p>{{this.description}}</p>
        </div>
    </div>
</div>