  <div class="partial-beers">
    <img src={{this.image_url}} class="beer-images">
    <h4 class="beer-name">{{this.name}}</h4>
    <h6 class="beer-tagline">{{this.tagline}}</h6>
    <p class="beer-description">{{this.description}}</p>
  </div>