<div class="card">
  <img class="" src="{{this.image_url}}" alt="random-beer">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>