<div class="each-beer">
    <img src="{{this.image_url}}">
    <div>
        <h1>{{this.name}}</h1>
        <p class="subtitle">{{this.tagline}}</p>
        <p class="description">{{this.description}}</p>
    </div>
</div>