<div class="card" style="width: 33.333%;">
  <img class="card-img-top" src= "{{this.image_url}}" alt="image">
  <div class="card-body">
    <h5 class="name">{{this.name}}</h5>
    <p class="tagline">{{this.tagline}}</p>
    <p class="description">{{this.description}}</p>
  </div>
</div>




