<div class="each-beer">
    <img src="{{this.image_url}}" alt="bootle image">
    <div>
      <h5>{{this.name}}</h5>
      <p class="shadowed-text">{{this.tagline}}</p>
      <p>{{this.description}}</p>
  </div>
</div>