<!--Partial that is called by my beers.hbs-->

<div class="card">
  <img class="" src="{{this.image_url}}" alt="beer">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>