<div class="card" style="width: 33.333%;">
      <img class="card-img-top" src="#" alt="">
      <div class="card-body">
        <h5 class="card-title">TEST</h5>
        <p class="card-text">TEST</p>
      </div>
</div>