<div class="card">
    <img src={{this.image_url}} alt="beer image" class="card-img-top">
    <div class="card-body">
        <h3 class="card-title">{{this.name}}</h3>
        <h5 class="card-title">{{this.tagline}}</h5>
        <p class="card-text">{{this.description}}</p>
    </div>
</div>