<div class="partial">
  <div class="beersImg">
    <img src="{{this.image_url}}" alt="" class="partial-img">
  </div>
  <h1 class="box">{{this.name}}</h1>
  <h3 class="box">{{this.tagline}}</h3>
  <p class="box">{{this.description}}</p>
</div>