





<div class="randomPartialContent">
    <div class="randomPartialPicture">
        <img src="{{this.image_url}}" alt="not found beer">
    </div>
    <div class="randomPartialTitle">
        <h3>{{this.name}}</h3>
    </div>
    <div class="randomPartialTagline">
        <h5>{{this.tagline}}</h5>
    </div>
    <div class="randomPartialDescription">
        <p>{{this.description}}</p>
    </div>
</div>