<div class="row">
      <div class = "col-lg-4"><img class="beer-img-top size" src="{{this.image_url}}" alt=""></div>
      <div class="beer-body">
        <h5 class="beer-title">{{this.name}}</h5>
        <p class="beer-text">{{this.tagline}} {{this.description}}</p>
      </div>

</div>