<div class="cards">
      <div class = "middle">  
      <img src="{{this.image_url}}" alt="">
      </div>
      <p>{{this.name}}</p>
      <p>{{this.tagline}}</p>
      <p>{{this.description}}</p>
</div>
]