
  <div class="card">
    <div class="img">
    <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.description}}</p>
      <p class="card-text"><small class="text-muted">{{this.tagline}}</small></p>
    </div>
  </div>