<div class="row">
  <div class="col-md-2 col-sm-3">
     <figure>
      <img class="img-fluid" src="images/beer.png" alt="">
    </figure>
  </div>
  <div class="col-md-10 col-sm-9">
    <h2>Title</h2>
  <p class="tagline">You know you shouldnt</p>
  <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime ullam nobis consequatur debitis iusto incidunt asperiores, laboriosam nemo doloremque error itaque inventore tempore quis dolore optio expedita, perferendis eum voluptate!</p>
   <h3>Food Pairing</h3>
   <p><strong>Brewers tips:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, quibusdam quas at illo porro maiores? Eaque esse voluptate consequatur dicta, delectus tempora expedita inventore voluptatum vitae cum voluptatem. Et, eos?</p>
  </div>
</div>