<div class="col-md-4">
  <img class="card-img" src="{{image_url}}" alt="Card image cap">

  <article class="col-md-4 card">
    <div class="card-body">
      <h5 class="card-name">{{name}}</h5>
      <h6 class="card-tagline">{{tagline}}</h6>
      <p class="card-description">{{description}}</p>
    </div>
  </article>

</div>