
<div class="f">
  <img class="im" src="{{this.image_url}}" alt="Beer image" width="90px" height="250px">
  <div class="pr">
    <h4 id="title">{{this.name}}</h4>
    <p>
      {{this.tagline}}
    </p>
    <p>
      {{this.description}}
    </p>
  </div>
</div>