<div class="beer-additional-info">
    <h4>Food Pairing</h4>
    <ul class="pairing-list">
        {{#each this.food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p><span>Brewers Tips:</span>{{this.brewers_tips}}</p>
</div>