<div class="random-beers-container">
  <div class="div-random-img">
    <figure>
      <img class="random-img" src="{{this.image_url}}" alt="beer">
    </figure>
  </div>

  <div class="random-txt">
    <h2>{{this.name}}</h2>
    <h3>{{this.tagline}}</h3>
    <p>{{this.description}}</p>
  </div>
</div>