<div class="divBeer">
    <img class="iconBeer" src="{{this.image_url}}" alt="beer photo">
    <h1 class="titleBeer">{{this.name}}</h1>
    <p class="tagline">{{this.tagline}}</p>
    <p class="description">{{this.description}}</p>
</div>