

<div class="container-fluid">
  <div class="row">
  <div class="col-8">
    <img class="card-img-top" src="{{this.image_url}}" alt="beers"width="100" height="200">
  </div>
  
  <div class="col-4">
     <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <h4 class="card-title">{{this.tagline}}</h4>
        <p>{{this.description}}</p>
  </div>
</div>
 
</div>