
<div class="beer" style="width: 33.333%;">
      <img class="beer-img-top size" src="{{this.image_url}}" alt="">
      <div class="beer-body">
        <h5 class="beer-title">{{this.name}}</h5>
        <h5 class= "text-muted">{{this.tagline}} </h5>
        <p class="beer-text">{{this.description}}</p>

      </div>
</div>