<div class="beer">
  <div class="text-center">
    <img src="{{image_url}}" width=100 >
  </div>
  <div class="beer-info">
    <h2>{{name}}</h2>
    <h3>{{tagline}}</h3>
    <p>{{description}}</p>
  </div>
</div>