<div class="row">
    <div class="col">
        <h2 class="my-h2">This is the Beerlist</h2>
    </div>
</div>
<hr class="my-4">
<div class="row">
    <div clas="col">
          <hr class="my-4">
    </div>
</div>
    
    {{#each beerList}}
        {{> beerEntry this}}
    {{/each}}
    
</div>

