
<h1>Esta  es nuestra cerveza:</h1>

<div class="row">

    {{#each beersFromApi}}

        {{> partialBeerCard this}}            

    {{/each}}

</div>

<a href="/" class="btn btn-primary btn-md">Volver a inicio</a>