
    <h1>DRINK THE BEERS (please)</h1>
    {{#each beers}}
    <ul>
        <li>{{this.name}}</li>
        <li><img src="{{this.image_url}}" alt="une super image de bière"></li>
        <li>{{this.description}}</li>
        <li>{{this.tagline}}</li>
    </ul>
    {{/each}}

