<div class="beer-container">
  {{#each beers}}
  <div>
    {{!-- <li><img src="{{this.image_url}}"></li>
    <li>{{this.name}}</li>
    <li>{{this.description}}</li>
    <li>{{this.tagline}}</li> --}}
    {{>beer_partial this}}
  </div>  
  {{/each}}
</div>