<div class="beer">
    <div>
        <img src={{myBeer.image_url}} alt="beer-image">
    </div>

    <div>
        <h1>{{myBeer.name}}</h1>
        <p class="tagline">
            {{myBeer.tagline}}
        </p>
        <p>
            {{myBeer.description}}
        </p>

    </div>
</div>