<div class="h1">
<h1 id="h1-beer">Enjoy a wide selection of beers!</h1>
</div>

<div class="beers-grid page-padding">
    {{#each beers}}

    <div class="beer-in-grid">

    <img id="img-beer" src="{{this.image_url}}" alt="beer-image">
    <h2>{{this.name}}</h2>
    <p id="tagline">{{this.tagline}}</p>
    <p id="description">{{this.description}}</p>
   
    </div>

    {{/each}}
</div>