<section class="beers">
    {{#each beersFromApi as |beer|}}
    <div class="card">
        <img src={{beer.image_url}} class="card-img-top" alt="kobe">
        <h1>{{beer.name}}</h1>
        <p>{{beer.description}}</p>
        <p>{{beer.tagline}}</p>
    </div>
    {{/each}}
</section>