<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Beers</title>
</head>
<body>

  <main>
    <div class="beers">
      {{#each beersFromApi}}
        {{> beerPartials}}
      {{/each}}
    </div>
      <button class="button-home"> <a href="/beers" class="link">Check the Beers!</a></button>
      <button class="button-home"> <a href="/random-beers" class="link">Check a Random Beers!</a></button>
  </main>
  
</body>
</html>
