<div class="card-containers mt-90">
    <div class="row">

    <div class=" d-flex flex-wrap justify-content-center">
        {{#each beersFromApi}}
        {{>beerCard this}}
        {{/each}}
    </div>
    </div>

</div>