<main id="beer-list">
  {{#each beers}}
  <div class="beer-card">
    <div class="beer-thumb-container">
      <img class="beer-thumb" src="{{this.image_url}}" />
    </div>
    <div>
      <h2>{{this.name}}</h2>
      <h3>{{this.tagline}}</h3>
      <p>{{this.description}}</p>
    </div>
  </div>
  {{/each}}
</main>
