<div class="container  ">
    <h1>Beers</h1>
    <div class="row">
        <ul>
            {{#each allTheBeers}}
            <li>
                <img class="beersPics" src={{image_url}} alt="">
                <div class="containerText">

                    <h2>{{name}}</h2>
                    <p>{{description}}</p>
                    <p>{{tagline}}</p>
                    <hr>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>