<main>
    
    {{#each beersFromApi}}
        {{> beerpartial this }}
    {{/each}}
    
</main>

{{!--- each gets every beer: 'this'
references to that
you do not need to use 'this' again
because it contains the object and
its properties}}