<div class="beer-container">
  {{#each beersFromApi }}
  <div class="beer">
    <img src="{{ this.image_url }}">
    <p class="p-name">{{this.name}}</p>
    <p class="p-tagline">{{this.tagline}}</p>
    <p class="p-tips">{{this.brewers_tips}}</p>
  </div>

  {{/each}}
</div>