<div class="mainContainer">
  <div class="beerContainer">
    <img class="beerImg" src="{{this.image_url}}" alt="">
    <h3>{{this.name}}</h3>
    <p>{{this.tagline}}</p>
    <p>{{this.description}}</p>
  </div>
</div>