{{#each beers}}
<div class="beer-img-container">
  <img src="{{image_url}}" alt="" class="beer-img">
  <div class="beer-text">
  <h1 class="beer-name">{{name}}</h1>  
  <h5 class="beer-tagline">{{tagline}}</h2>   
  <p class="beer-description">{{description}}</p> 
  </div>
</div>
{{/each}}
