<div id="navbar">
    <ul>
        <li><a href="/"> HOME </a></li>
        <li><a href="beers"> BEERS </a></li>
        <li><a href="random-beer"> RANDOM-BEER </a></li>

    </ul>
</div>
<div id="main">
    <div id="content">
ALL BEERS
<ul>
    {{#each allMyBeersArray}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>
    </div>


</div>