  <div class="container-fluid">
<h1>All the Beers</h1>
<div class="row everyBeer text-center">
{{#each beers}}
<div class="col-md-4">
     {{>viewBeers this}}
     </div>
  {{/each}}
</div>
</div>

  </div>
