{{#each beersFromApi}}
    <div class="part-view-beer">
        <div>
            <img class="beers-img" src="{{this.image_url}}"> </img>  
        </div>
        <h1 class="beers-name">
            {{this.name}}
        </h1>
        <label class="beers-tagline">
            {{this.tagline}}
        </label>
        <p>
            {{this.description}}
        </p>
    </div>
{{/each}}