<div>
    {{#each beer}}
    <div class="beer">
         <img src = {{this.image_url}} alt= "beer">
        <h3>Nombre: {{this.name}}</h3>
        
        <p>description: {{this.description}}</p>
    </div>
    {{/each}}
</div>