<div>
  {{#each beers}}
  
    <div>
        <div>
            {{this.name}}
        </div>

        <div>
            <img src="{{this.image_url}}" alt="poster for {{this.title}}"></a>
        </div>

        <div>
            {{this.description}}
        </div>
 
    </div>
  
  {{/each}}

</div>

