<div class="page">
    <h1 class="title">Home</h1>
    <img class="beer" src="../public/images/beer.png"></img>
    <label class="label" for="button"></label>
    <button id="button-beers">Check the Beers!</button>
    <label class="label" for="button"></label>
    <button id="button-random">Check the Random Beer!</button>
</div>