<div class="text-center align-middle">
  <img src="/images/beer.png" class="rounded mx-auto d-block">
  <br>
  <br>
  <a class="btn btn-primary text-center" href="/beers" role="button">Check Beers!</a>
  <br>
  <br>
  <a class="btn btn-primary text-center" href="/randombeer" role="button">Check a Random Beer!</a>
</div>