<div>
  <img id="img-beer" src="images/beer.png" alt="beer"></br>
  <form class="btn" action="beers">
    <input type="submit" value="Check the beers" />
  </form>
  <form class="btn" action="random-beer">
    <input type="submit" value="Check a random beer" />
  </form>
</div>