
<div class="container-beer">
    <img class="img-beer" src="images/beer.png">
</div>
<div class="container-btn">
    <button class="btn"> <a href="/beers">Check the Beers</a></button>
    <button class="btn"> <a href="/random-beer">Check a Random Beer!</a></button>
</div>