<div>
  <img src="/starter-code/public/images/beer.png" alt="beer">
  <button id="check-beers" type="button">Check the Beers!</button>
  <button id="random-beer" type="button">Check a Random Beer</button>

</div>