<div class="home-container">
    <title>Ironbeer Homepage</title>
<div class="homeItems">
    <img src="\images\beer.png" alt="BeerPicture">
<div class="homeButtons">
    <a href="/beers">
    <button class="beersButton" type="submit">Check the Beers</button>
    </a>
    <a href="/random-beer">
        <button class="randomButton" type="submit">Check a Random Beer!</button>
    </a>
</div>
</div>
    <footer> Develop by Ironhack ;) </footer>

</div>