<div>
    <img src="images/beer.png" alt="">
    {{!-- check if the whole path is needed --}}
    <button onclick="location.href='/beers'"> Check the Beers! </button>
    <button onclick="location.href='/random-beers'"> Check a Random Beer! </button>

</div>