<img class="beer-img" src="/images/beer.png" alt="jar with beer">
<a href="/beers"><button type="button" class="btn btn-primary btn-sm">Check the beers!</button></a>
<a href="/random-beer"><button type="button" class="btn btn-primary btn-sm">Check a Random Beer!</button></a>