
<div class="container">
    <div class="homeContent">
        <img src="/images/beer.png" alt="beer">
    <button>
    <a href="/beers" type="button" class="btn btn-primary" >Check the Beers!</a>
    <a href="/randomBeers" type="button" class="btn btn-primary">Check a random Beer!</a>
    </button>
        </div>
</div>