<div class="container text-center">
    <div class="main-image mt-5">
    <img src="/images/beer.png" class="" alt="">
    </div>
<div class="btn-group-vertical mt-5">
<button type="button" class="btn btn-primary mt-5"> <a href="/beer">Check the beers!</a></button>
<button  type="button" class="btn btn-primary mt-5"> <a href="/random-beers">Check the random beer!</a> </button>
</div>
</div>