<div class="container">
    <img class="beer-image" src="images/beer.png" alt="beer image">
    <div class="btn-group">
        <button type="button"><a href="/beers">Check the Beers!</a></button>
        <button type="button"><a href="/random-beers">Check a Random Beer!</a></button>
    </div>
</div>


<!-- QUESTION FOR TA'S: Should I put the html stuff in like I did in the random-beers and other hbs files? 
Or is it better to leave it out like here since it is in the layout file?