<div>

 <img class="card-img-top" src="../images/beer.png" alt="" >
 

    <a href='/beers'>  
          <button type="button" class="btn btn-light">Check the beers</button>
    </a>
   
   <a href='random-beers'>  
    <button type="button" class="btn btn-light">Chec a random beer</button>
   </a>

</div>