<div>
<img src="images/beer.png" alt="beer" srcset="">
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/works">Works</a>
<button href='/beers'>Check the Beers!</button>
<button href='random-beers'>Check a Random Beer</button>
</div>