<div class="container justify-content-center">
    <div class="row">
        <div class="col d-flex justify-content-md-center">
            <img src="/images/beer.png" alt="beers">
        </div>
    </div>

    <div class="row ">
        <div class="col d-flex justify-content-md-center">
            <a class="btn btn-primary" href="/beers">Check the beers!</a>
            <a class="btn btn-primary" href="/beers">Check a Random Beer!</a>
        </div>
    </div>


</div>