<div>
    <div>
        <img src="\images\beer.png" alt="beer">
    </div>
    <div>
        <button type="button"><a href="/beers">Check the Beers!</a></button>
        <button type="button"><a href="/random-beers"></a> Check a Random Beer</button>
    </div>
</div>