<section class="hero">
      <figure>
            <img class="beer-drawing" src="/images/beer.png" alt="Drawing of a beer mug">
      </figure>
      <p>
            <a class="btn btn-primary throw-shadow" href="/beers" role="button">Check the Beers!</a>
      </p>
      <p>
            <a class="btn btn-primary throw-shadow" href="/random-beers" role="button">Check a Random Beer</a>
      </p>
</section>