<div class="wrap">
    <img src="images/beer.png"\>

    <div class="button-wrap">
        <button type="button" class="btn btn-primary"><a href="/beers">Check the Beers!</a></button>
        <button type="button" class="btn btn-secondary"><a href="/random-beers">Check a Random Beer!</a></button>
    </div>
</div>