<section>
    <div class="row">

        <img class="first-img" src="./images/beer.png" alt="beer">

    </div>
    <div class="buttons row">

        <a class="btn btn-outline" href="/beers">Check the Beers!</a>
        <a class="btn btn-outline" href="/random-beers">Random Beer</a>

    </div>

</section>