<div class="home-page main-content">
    <div class="img-container">
        <img class="home-beer" src="/images/beer.png" alt="beer">
    </div>
    <div class="btns-container">
        <form action="/beers" method="get"><button class="btn">Check the Beers!</button></form>
        <form action="/random-beer" method="get"><button class="btn">Check a Random Beer!</button></form>
    </div>

</div>