<div class="home">
    <img class="home-beer" src="/images/beer.png" alt="Beer img">
    <div class="home-buttons">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer!</a>
    </div>
</div>