<div class="home-container">
    <div class="home-image">
        <img src="images/beer.png" alt="Beer pint">
    </div>
    <button><a href="/beers">Check the Beers!</a></button>
    <button><a href="/random-beer">Check a random Beer!</a></button>
</div>