<div>
<div class= "middle-index">
<img class= "index-picture" src="/images/beer.png" alt="picture of a beer">
<button type="button"><a href="/beers">Check the Beers!</a></button>
<button type="button"><a href="/random-beers"> Check a Random!</a></button>
</div>
</div>