<div class="center">
    <img src="/images/beer.png" alt="">
    <a class="btn btn-primary btn-lg active" href="/beer">Beers</a>
    <a class="btn btn-primary btn-lg active" href="/random">Random Beers</a>
</div>