<div>
    <img src="/images/beer.png" alt="Iron Beer" class="center">
    <div class="buttons">
        <button><a href="/beers">Check The Beers!</a></button>
        <button><a href="/random-beers">Check a Random Beer</a></button>
    </div>
</div>