<div>
<img src="/images/beer.png" alt="beer">
<a href="/beers" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
  Check the Beers!
  
</a>
<a href="/random-beers" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
  Check a Random Beer!

</a>
</div>