<div id="firstPage-content">
    <img src="/images/beer.png" alt="">
    <button> <a href="/beers">Check the Beers!</a></button>
    <button> <a href="/random-beers">Check random Beer!!</a></button>
</div>