<div class="d-flex flex-column w-50 justify-content-center mx-auto">
    <img class="w-50 mx-auto my-3 py-3" src="/images/beer.png" alt="Beer image">
    <a class="btn btn-primary active mx-auto w-20 my-3" href="/beers" role="button"  aria-pressed="true">Check the Beers!</a>
    <a class="btn btn-primary active mx-auto w-20 my-3" href="/random-beers" role="button"  aria-pressed="true">Check a Random Beer</a>
</div>