
    <div>
<img src="/images/beer.png" alt="">
    </div>
    <div>
        <button> <a href="/beers.hbs"></a>Check the bears</button>
        <button> <a href="/random-beers.hbs"></a>Check a Random Beer</button>
   </div>