<div class="bodyHome">
    <img src="/images/beer.png" alt="">
</div>

<div class="bodyHome">
    <a class='btn' href='beers'>Check the Beers!</a>
    <button class='navbar-toggler' type='button'>
    </button>

</div>

<div class="bodyHome">
    <a class='btn' href='randomBeers'>Check a Random Beer</a>
    <button class='navbar-toggler' type='button'>
    </button>

</div>