
    
<div class="column" style="display:flex; margin: auto; align-items: center;  justify-content: space-between; height: 100%">
<img src="/images/beer.png">
<a href="/beers" class="shadow btn btn-primary btn-lg ">Check the Beers!</a>
<a href="/random-beer" class="shadow btn btn-primary btn-lg box-shadow ">Check a Random Beer!</a>
</div>


