<div id="home">
    <img id="pint" src="/images/beer.png" alt="Beer">
    <div id="btns">
        <a href="/beers"><button class="btn">Check the beers!</button></a>
        <a href="/random-beers"><button class="btn">Check a random beer</button></a>
    </div>
</div>