<div class="home-body">
    <div id="home-container">
        <img src="/images/beer.png">
        <button><a href="/beers">Check the Beers!</a></button>
        <button><a href="/random-beers">Check a Random Beer!</a></button>
    </div>
</div>