<div id="container-homepage">
    <img src="/images/beer.png" alt="Beer-Symbol">
    <div id="btns-homepage">
        <button><a href="/beers" class="btn-font">Check the Beers!</a></button>
        <button><a href="/random-beer" class="btn-font">Check a Random Beer</a></button>
    </div>
</div>