<div>
    <img src="/images/beer.png" alt="beer">
    <a href="/beers"><button id="beers">Check the beers</button></a>
    <a href="/random-beers"><button id="random">Check a random beer</button></a>
</div>