<div class="container">
    <figure>
        <img src="./images/beer.png">
    </figure>
    <a href="/beers" class="btn btn-primary">Check the Beers</a>
    <a href="/random-beers" class="btn btn-primary">Check the Random Beers</a>
</div>