<div class="d-flex justify-content-center ">
    <div>
        <img src="/images/beer.png" alt="" srcset="">
        <div class="d-flex justify-content-center">
            <a class=" btn btn-primary" href="/beer">Check the Beers!</a>
        </div>
        <div class="d-flex justify-content-center">
            <a class=" btn btn-primary" href="/random-beer">Check a Random Beer</a>

        </div>



    </div>


</div>



</div>