<div class='indexStyle'>
  <img src="./images/beer.png" alt="iron beers">

  <a href="/beers" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true"> Beers </a>
  <a href="/random-beers" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true"> Random Beers </a>
</div>