<div class="indexMainBox">
    <div class="imgBox">
        <img src="/images/beer.png">
    </div>
    <div class="buttons">
        <div class="buttonStyle">
            <a href="/beers">Check the Beers!</a>
        </div>
        <div class="buttonStyle">
            <a href="/random-beer">Check a Random Beer!</a>
        </div>
    </div>
</div>