<div class="index_cont">
    <img src="/images/beer.png" alt="the beer">
    <button type="button" class="btn btn-info"onclick="location.href='/beers'">Check the beers!</button>
    <button type="button" class="btn btn-info"onclick="location.href='/random-beer'">Check a random beer!</button>

</div>