<div class="index">
    <img class="beer-image" src="images/beer.png" alt="beer">
    <div class="buttons">
        <a href="/beers" class="btn white-font">Check the Beers!</a>
        <a href="/random-beer" class="btn white-font">Check a Random Beer</a>
    </div>
</div>