<div>
<img src="/images/beer.png" width="35%"> 
<br>
<br>
<a class="button" href="/beers" role="button">Check the beers!</a>
<br>
<br>
<a class="button" href="/random-beer" role="button">Check a random Beer!</a></a>
</div>