<div class="beer">
    <img src="/images/beer.png" alt="" width="30%">
    <a href="/beers" class="BUTTON_JPG">Check the Beers!</a>
    <a href="/random-beers" class="BUTTON_JPG">Check a random beer</a>
</div>