<div class = "main-container">
    <div class = "img-container">
        <img id = "clipart" src="./../images/beer.png" alt="a very cliparty image of a beer">
    </div>
    <a href="/beers" class="btn-link"><button class="btn">check the beers</button></a>
    <a href="/random-beer" class="btn-link"><button class="btn">check a random beer</button></a>
</div>