<div class="home-container">
    <img class="img" src="/images/beer.png" alt="">
    <a class="Beer-btn" href="/beer">Check the Beers!</a>
    <a class="Beer-btn" href="/random-beers">Check a Random Beer</a>
</div>