<div class="beer-image">
  <img src="./images/beer.png">
</div>
<div class="">
    <button class="button"><a href="/beers">Check the beers!</a></button>
</div>
<div class="">
    <button class="button"><a href="/random-beer">Check the random beer!</a></button>
</div>