<div class="beer">
    <div>
        <img src="images/beer.png" alt="beer-image">
    </div>
    <div>
        <form>
         <input type="button" onclick="window.location.href = '/beers';" value="Check the Beers!"/>
      </form>

      <form>
         <input type="button" onclick="window.location.href = '/random-beer';" value="Check a Random Beer!"/>
      </form>
</div>