<div class="d-flex justify-content-center">
  <img src="/images/beer.png" alt="" class="" style="width:30%;">
</div>
<div class=" d-flex flex-column bd-highlight mb-3 align-items-center">
  <a href="beers"><button type="button" class="btn btn-primary" style="margin-top:20px;margin-bottom:20px; ">Check the
      Beers!</button></a>
  <a href="random-beers"><button type="button" class="btn btn-primary"
      style="margin-top:20px;margin-bottom:20px; ">Check a Random Beer!</button></a>
</div>