<div class='container-index'>

    <div class="row index-container">

        <div class="col">

            <div class="row">
                
                <img class= "main-beer" src="./images/beer.png" alt="">

            </div>

            <div class="row">

                <a class="btn btn-primary" href="/beers">Check the beers!</a>

            </div>

            <div class="row">
                <a class="btn btn-primary" href="/randomBeer">Check a random beer!</a>

            </div>

        </div>



    </div>



</div>