
<div class = "main container-fluid">
<div class = "elements-container">   
    <img src="./images/beer.png" class="main-img"alt=>

<div class = " buttons-container">
        <a  href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check The Beers</a>
        <a  href="/Beers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check A Random Beers</a>
    </div>

</div>
</div>