<h1>Ironbeers</h1>
<div>
    <img src="images/beer.png" alt="beers">
    <button onclick="/beers" type="">Check the beers</button>
    <button onclick="/random-beers" type="">Check a Random Beer</button>
</div>