<div class="div1">
    <div class="div2">
        <img src="images/beer.png" alt="beer">
        <button class="button-beers btn btn-primary"><a href="/beers" class="text-light"><b>Check the Beers!</b></a></button>
        <button class="button-beers btn btn-primary"><a href="/random-beers" class="text-light"><b>Check a Random Beer!</b></a></button>
    </div>
</div>