<div class="homepage">

    <div>
        <img src="/images/beer.png" alt="beer">
    </div>

    <div class="button-holder">
        <button type="button" onclick="window.location.href = 'http://localhost:3000/beers';">check the beers</button>
        <button type="button" onclick="window.location.href = 'http://localhost:3000/random-beer';">check a random
            beer</button>
    </div>

</div>