<div>
    <img src="/images/beer.png" alt="Image beer">

    <form method="get" action="/beers">
        <button type="submit">Check the Beers!</button>
    </form>

    <form method="get" action="/random-beer">
        <button type="submit">Check a Random Beer</button>
    </form>
</div>