<div id="beer-container">
    <img id="beer-pic" src="/images/beer.png" alt="pics of beer">
    <div class="buttons-container">
    <form action="/beers" method="get">
        <button>Check the beers!</button>
    </form>
    <form action="/random-beers" method="get">
        <button>Check a random beer!</button>
    </form>
    </div>
</div>