<div class="container">
    <div class="row">
        <div class="col md-12">
            <img src='../images/beer.png'>
        </div>
    </div>
    <div class="row">
        <div class="col md-6">
            <a class="btn btn-outline btn-dark" href="/beers">Check the beers!</a>
        </div>
        <div class="col md-6">
            <a class="btn btn-outline btn-dark" href="/randomBeers">Check a random beer!</a>
        </div>
    </div>
</div>