<div class="beer-home">
    <img id="beer-img" src="/images/beer.png" alt="Beer">

    <div id="beer-btn">
        <button><a href="/beers">Check the Beers!</a></button>
        <button id="button2"><a href="/random-beers">Check a Random Beer!</a></button>
    </div>
</div>