<div style="margin: 0 auto; width:40em">
<img src="/images/beer.png" alt="beer image" />
<button href="/beers">Check the beers!</button>
<button href="/random-beers">Check a random beer!</button>
</div>