<div class="body-real">
    <img src="/images/beer.png" alt="beer">
    <a class="b-check" href="/beers">Check the Beers!</a>
    <a class="b-random" href="/random-beers">Check a Random Beer!</a>

</div>