<div class="index">
    <div class="center-obj">
        <img class="index-beer" src="/images/beer.png"></img>
    </div>
    <div  class="center-text button1">
        <button> <a href="/beers"> Check the beers!! </a> </button>
    </div>
    <div  class="center-text button2">
        <button> <a href="/random-beers"> Check a Random Beers!! </a> </button>
    </div>
</div>