<div id="home-page">
    <img src="../images/beer.png" alt="Beer drawing">
    <button><a href="/beers">Check all the beers!</a></button>
    <button><a href="/random-beer">Check a random beer!</a></button>
</div>