<div class="col-lg-6 container-fluid">
    <img src="images/beer.png" class="img-index" alt="">
    <div class="d-flex flex-column justify-content-center  col-lg-6">
        <a href="/beers"></a><button type="button" class="btn btn-primary m-4">Check the beers</button></a>
        <a href="/random"> <button type="button" class="btn btn-primary m-4">Check a random Beer!</button></a>
    </div>
</div>