
<img style="height: 300px;" src="/images/beer.png" alt="">
<a class="buttons btn btn-primary" href="/beers">Check the Beers!</a>
<a class="buttons btn btn-primary" href="/random-beers">Check a Random Beer</a>
