
<img src="/images/beer.png">
<a href="/beers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check the Beers!</a>
<a href="/random-beers" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Check a Random Beer</a>
