<div class="row">
  <div class="col"> <img src="./images/beer.png" alt="Beer clipart"></div>
</div>
<div class="row">
  <div class="col"><a href="./beers" class="btn btn-primary btn-lg">Check our beers!</a></div>
  <div class="col"><a href="./random-beers" class="btn btn-primary btn-lg">Check a random beer!</a>
  </div>
</div>