<div>
  <img src="/images/beer.png" alt="">
</div>

<form method="get" action="/beers"> <button type="submit"></button> Check the Beers!</form> 
<form method="get" action="/randombeers"> <button type="submit"></button>Check a  Random Beers! </form> 
