<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <div class="#">
        <img src="/images/beer.png" alt="Beer">
        <button type="button" onclick="window.location.href='/beers'">Check the Beers! </button>
        <button type="button" onclick="window.location.href='/random-beers'">Check a Random Beer!</button>

    </div>
</body>

</html>