<div>
    great this is index

    <img src="/images/beer.png" alt="no beer 4 u">
    <button> <a href="/beers"> BEERS </a> </button>
    <button> <a href="/random-beer"> RANDOM BEER </a> </button>
</div>