{{!-- <div class="navbar">
    <div class="home">
        <a href="/">Home</a>
        <img src='/images/beer.png' alt='beerImg' />
    </div>
    <div class="beers">
        <a href="/beers">Beers</a>
    </div>
    <div class="randombeer">
        <a href="/random-beers">RandomBeer</a>
    </div>
</div> --}}


<div>
    <img src='/images/beer.png' alt='beerImg' />
    <button type="button" onclick="location.href='./beers'">Check the Beers!</button>
    <button type="button" onclick="location.href='./random-beers'">Check a Random Beer!</button>
</div>