<div class="container justify-content-center text-center">
    <img class="beerPic" src="/images/beer.png" alt="Beer fresquita">
    <a class="btn btn-outline btn-dark" href="/beers">Check the Beers!</a><br>
    <a class="btn btn-outline btn-dark " href="/randomBeer">Check a random Beer!</a>
</div>