{{!-- <h1>index.hbs test</h1> --}}

<div class="containerIndex">
    <div>
        <img src="/images/beer.png" alt="photo of a beer">
    </div>

    <div class="buttonDiv">
        <a href="/beers" class="buttonLink">Check the Beers!</a>
    </div>

    <div class="buttonDiv">
        <a href="/random-beer" class="buttonLink">Check a Random Beer</a>
    </div>
</div>