<div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <img src="/images/beer.png">

    <button onclick="location.href='/beers'" type="button">

        Check the Beers! (from index.hbs)
    </button>

    <button onclick="location.href='/random-beers'" type="button">

        Check a Random Beer! (from index.hbs)

    </button>
</div>