<div class="homepage">
    <div class="allign">
        <img src="/images/beer.png" alt="beer">
    </div>

    <div class="button-holder">
        <button type="button" onclick="window.location.href = 'http://localhost:3000/beers';">Check the Beers!</button>
        <button type="button" onclick="window.location.href = 'http://localhost:3000/random-beer';">Check a Random Beer</button>
    </div>
</div>