<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Home</title>
</head>

<body>
    <div class="background-image">
        <button type="button" class="btn btn-ChecktheBeers"><a href="/beers">Check the Beers!</a></button>
        <img class="full" src="../images/beer.png" alt="beer"/>
        <button type="button" class="btn btn-RandomBeers"><a href="/random-beers">Check a Random Beer!</a></button>
    </div>
</body>

</html>