<div><img src="/images/beer.png"></div>
<div><button type="button" onclick="window.location.href='/beers'">Check the Beers!</button></div>
<div><button type="button" onclick="window.location.href='/randombeers'">Check a Random Beer!</button></div>