

<div>
    <header>
       <img class="img-beer" src="/images/beer.png" />
    </header>
    <div class="index-btn">
        <form method="GET" action="/beers">
            <button class="check-beer" type="submit">Check the Beers!</button>
        </form>
        <form method="GET" action="/random-beer"> 
             <button class="check-random" type="submit">Check a Random Beer!</button>
        </form>
       
    </div>
</div>