<article>

    <div class="home-container">
        <img src="../images/beer.png" alt="">
        <a class="btn" href="/beers">Check the Beers !</a>
        <a class="btn" href="/random-beer">Check the Random Beer !</a>
    </div>

</article>