<div id="cerveza">
<img src="/images/beer.png" class="cerveza-imagen" alt="">
</div>
<div class="buttons">
<a href="beers"><button type="button" id="btn" class="btn btn-primary">Check the Beers!</button></a>
<a href="random-beer"><button type="button" id="btn2" class="btn btn-primary">Check a random Beer!</button></a>
</div>