<div>
<img src="/images/beer.png"` alt="beer">

<form>
    <input type="button" onclick="window.location.href = '/beers';" value="Check the Beers!"/>
    <input type="button" onclick="window.location.href = '/random-beer';" value="Check a Random Beer"/>
</form>

</div>