<div>
    <img src="/images/beer.png">
    <a href="/beers">All Beers</a>
    <a href="/random-beer">Random Beer</a>
    <button><a href="../views/beers.hbs">Check the Beers!</a></button>
    <button><a href="../views/random-beer.hbs">Check a Random Beer</a></button>
</div>