<div class="beer-container">
  <img src="./images/beer.png" alt="" class="beer-img">
  <div class="beer-btn-container">
     <button class="beer-btn">Check The Beers!</button>
     <button class="beer-btn">Check A Random Beer</button>
  </div>
</div>