<div>
    <img src="/images/beer.png" id="imghome" alt="beer">
    <div class="button">
    <a id="bt1" href="/beers">Check the beers</a>
    </div>
    <div class="button" >
    <a id="bt2" href="/random-beer">Check a random beer</a>
    </div>
</div>