<div id="index-layout">
    <img src="/images/beer.png" alt="draw-beer">
    <button id="check-beers"> <a href="/beers">Check the Beers!</a></button>
    <button id="check-random-beer"><a href="/random-beers">Check a Random Beer</a></button>
</div>