<section id="home">
    <img src="/images/beer.png" alt="beer" class="center">

    <nav>
        <a href="/beers" class="button-home">Check the beers!</a>
        <a href="/random" class="button-home">Check a random beer!</a>
    </nav>
</section>