<div class = "main-page">
    <img class ="main-image" src="/images/beer.png" alt="Beer Stein">

    
    <a href="/beers">Check the Beers!</a>

    <a href="/random-beers">Check a Random Beer!</a>
    

</div>