<div>

    <div class="container cont">
        <img class="img-beer" src="/images/beer.png" alt="beer">
        <div class="row">

            <a class="  col-6 btn btn-outline" href="/beers">Check the Beers!</a>
            <a class=" col-6 btn btn-outline" href="/random-beers">Check a Random Beer!</a>

        </div>
    </div>
</div>