<div>
<img src="/images/beer.png" width="25%"> 
<br>
<br>
<a class="btn btn-primary btn-lg" href="/beers" role="button">Check the beers!!!</a>
<br>
<br>
<a class="btn btn-primary btn-lg" href="/random-beer" role="button">Check a random Beer!!!</a>
</div>