<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="bigBeer" src="../images/beer.png">
        </div>
        <div class="col-md-12 button">
            <a class="btn btn-outline " href="/Beers">Check the Beers!</a>
            <a class="btn btn-outline " href="/randombeers">Check a Random Beer</a>
        </div>
    </div>
</div>