<div>
    <nav>

        <ul>
            <li class="nav"><a href="/">Home</a></li>
            <li class="nav"><a href="/beers">Beers</a></li>
            <li class="nav"><a href="/random-beers">Random Beer</a></li>
        </ul>
    </nav>
</div>
<h1>Beers</h1>

<div>
    <img src="/images/beer.png" alt="beer" />
</div>
<button type="button">Check the Beers! </button>
<button type="button">Check a Random Beer </button>

<div class="beers">


</div>