

  <div>
    <img class="centeredImg" src="/images/beer.png" alt="">
  </div>
  <div class="buttonContainer">
    <form method="get" action="beers"> <button class="bluebutton" type="submit">Check
        the Beers!</button> </form>
    <form method="get" action="randombeers"> <button class="bluebutton"
        type="submit">Check a Random Beers!</button> </form>
  </main>
