<div>

<img class="beer-img"src="/images/beer.png" alt="beer">
<button><a href="/beers" class="btn-home">Check the Beers!</a></button>
<button><a href="/random-beers" class="btn-home">Check the Random Beer!</a></button>
</div>
