<div class="container">
    <div class="image">
        <img src="/images/beer.png" alt="">
    </div>

</div>
<div class="button-container">
    <button>
        <a href="/beers">Check the beers!</a>
    </button>
    <button>
        <a href="/random-beers">Check the random beers</a>
    </button>
</div>