<div class="container-fluid">
<div>
    <img id="beer-img" src="./images/beer.png" alt=" a beer">
</div>

<div class="home-btn" >
<button type="button"><a href="/beers">Check the Beers!</a></button>
<button type="button"><a href="/random-beer">Check a Random Beer</a></button>
</div>

</div>

</div>
