<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div><img src="/images/beer.png" class="img-fluid mx-auto d-block myImgBeer my-5" alt="Beer"></div>
            <div class="text-center mb-3"><a class="btn btn-dark" href="/beers" role="button">Check the Beers!</a></div>
            <div class="text-center mb-5"><a class="btn btn-secondary" href="/randomBeer" role="button">Check a Random Beer</a></div>
        </div>
    </div>
</div>
</body>
</html>
