<section class="index-container">
<img src="/images/beer.png" class="img-beer" alt="beer">

<a href="/beers"class="index-buttons">Check the Beers!</a>
<a href="/random-beer"class="index-buttons" id="random-button">Check a Random Beer</a>

</section>