<div class="main-container">
  <div class="main-content">
    <img src="./images/beer.png" alt="" class="main-img">
      <div class="main-btn-container">
      <button class="main-btn"><a href="/beers" class="main-beer">Check The Beers!</a></button>
      <button class="main-btn"><a href="/random" class="main-random">Check A Random Beer</a></button>
      </div>
    </div>
</div>