<div class="container">
    <div class="row">
        <div class="col">
            <div><img src="/images/beer.png" class="img-fluid mx-auto d-block myImgBeer my-5" alt="Beer"></div>
            <div class="text-center mb-3"><a class="btn btn-dark" href="/beers" role="button">Check the Beers!</a></div>
            <div class="text-center mb-5"><a class="btn btn-secondary" href="/random-beer" role="button">Check a Random Beer</a></div>
        </div>
    </div>
</div>


