<div class="home-content">
    <img class="beer-img" src="/images/beer.png" alt="Beer image">
    <a href="/beers">
        <button class="button">Check the Beers!</button>
    </a>
    <br />
    <a href="/random-beers">
        <button class="button">Check a Random Beer!</button>
    </a>
</div>