<div class="main-container">
    <div>
        <img class="main-container-img"src="/images/beer.png" alt="Beer">
    </div>
    <div class="container-buttons">
        <div>
            <button class="container-buttons">Check the Beers</button>
        </div>
        <div>
            <button class="container-buttons">Check a Random Beer</button>
        </div>
    </div>
</div>