<div class="main-container">
    <img src="/images/beer.png" alt="beer">
    <button class="main-btn"><a href="/beers">Check the beers!</a></button>
    <button class="main-btn"><a href="/random-beer">Check a random beer!</a></button>
</div>
