<div class="d-flex flex-row justify-content-center align-items-center">
    <img class="photoB" src="/images/beer.png" alt="" srcset="">
</div>
<div class="d-flex flex-row justify-content-center align-items-center pt-5">
<a href="/beers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check the Beers!</a>
</div>
<div class="d-flex flex-row justify-content-center align-items-center pt-3">
<a href="/randomBeers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check a Random Beer!</a>
</div>
