<div class="container">
    <img class="beer-image" src="images/beer.png" alt="beer image">
    <div class="btn-group">
        <button type="button"><a href="/beers">Check the Beers!</a></button>
        <button type="button"><a href="/random-beers">Check a Random Beer!</a></button>
    </div>
</div>