<div>
    <header>
       <img src="/images/beer.png" />
    </header>
    <div class="index-btn">
        <form method="GET" action="/beers">
            <button type="submit">Check the Beers!</button>
        </form>
        <form method="GET" action="/random-beer"> 
             <button type="submit">Check a Random Beer!</button>
        </form>
       
    </div>
</div>