<div class="index-page">
    <img src="/images/beer.png" alt="beer">
    <a href="/beers" class="btn btn-dark btn-md btn-first">Check the Beers!</a>
    <a href="/random-beer" class="btn btn-dark btn-md">Check a Random Beer!</a>
</div>