  <section class="main">
    <div class="main-image">
      <img src="/images/beer.png" alt="">
    </div>
    <button class="button"> <a href="/beers" class="link">Check the Beers!</a></button>
    <button class="button"> <a href="/random-beers" class="link">Check a Random Beers!</a></button>
  </section>