<div>
<div>
    <img src="/images/beer.png" alt="beer">
</div>

<a href="/beers"><button type="button" class="btn btn-primary">Check the Beers!</button></a>

<a href="/random-beers"><button type="button" class="btn btn-primary">Check a Random Beer!</button></a>
</div>