<div class="jumbotron">
  <h1 class="display-4">Welcome to the beer DB</h1>
  <p class="lead">Browse the beer list or get a random beer!</p>
  <img class="img-fluid rounded mx-auto d-block" alt="Responsive image" style="max-width: 100%; max-height: 200px;" src="/images/beer.png">
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/beers" role="button">Check the beers</a>
  <a class="btn btn-primary btn-lg" href="/random" role="button">Check random beer</a>
</div>