<figure id="index-image">
    <img src="/images/beer.png" alt="ironbeer">
</figure>

<article id="btn-flex">
    <a href="/beers" class="btn btn-lg btn-warning btn-md">Check the Beers!</a>
    <a href="/random-beer" class="btn btn-lg btn-info btn-md">Check a Random Beer</a>
</article>