<div class="imgbuttoncontainer">
<a href="#">
    <img class="imghome" src="/images/beer.png" alt="beerpicture">
</a>

<a href="/beers">
    <button class="checkthebeers">Check the beers!</button>
</a>


<a href="/random-beers">
    <button class="checkarandombeer">Check a random beer!</button>
</a>
</div>