<div class="main">
  <img class="main-img" src="images/beer.png" alt="">
  <a class="nav-link" href="/beers">Check the beers!</a>
  <a class="nav-link" href="/random-beer">Check a random beer!</a>
</div>