<div>
<img  class='beer-pic' src='\images\beer.png'>
</div>

<div class='buttons-beers'>
<button type="button" class="btn btn-primary buttons-beers"><a href='/random-beers'>Check the beers</a></button> <br>
<button type="button" class="btn btn-primary"><a href='/random-beers'>Check a Random beer</a></button>
</div>