<div class="container">
    <div "row justify-content-center">
        <div class="col- 12">
            <img src="/images/beer.png">
        </div>
        <div class="col-12">
            <a href="/beers" class="btn btn-dark btn-md">Check the Beers!</a>
            <div class="col-12">
            </div>
            <a href="/random-beers" class="btn btn-dark btn-md">Check a Random Beer!</a>
        </div>

    </div>

</div>