<div class="index-container">
 <img class="index-beer-img" src="/images/beer.png" alt="beer">
 <button class="buttons"><a href="/beers">Check the Beers!</a></button>
 <button class="buttons"><a href="/random-beers">Random Beers</a></button>
</div>