<div class="home--container">
    <img src="/images/beer.png" alt="beer-image" />
    <button><a class="home-btn" href="/beers">Check the Beers!</a></button>
    <button><a class="home-btn" href="/random-beers">Check a Random Beer</a></button>
</div>