<div class="pint-div">
<img class="pint-img" src="/images/beer.png" alt="pint_img"></div>
<div><button><a href="/beers">Check the Beers!</a></button>
<button><a href="/random-beers/{{randomBeerId.id}}">Check a Random Beer!</a></button>
</div>