<div class="d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <img src="images/beer.png" class="img-index mx-auto  my-3" alt="">
    <div class="d-flex flex-column justify-content-center mx-auto     col-lg-6">
        <a href="/beers"><button type="button" class="btn btn-primary m-1 px-4">Check the beers</button></a>
        <a href="/random"> <button type="button" class="btn btn-primary m-4">Check a random Beer!</button></a>
    </div>
</div>