<div>
<img src="/images/beer.png" class="img-responsive" alt="">
<div class="btn-group-vertical">
<button type="button" class="btn btn-primary"> <a href="/beer">Check the beers!</a></button>
<button  type="button" class="btn btn-primary"> <a href="/random-beers">Check the random beer!</a> </button>
</div>
</div>