<div class="home-div">
    <div class="logo-container">
        <figure>
            <img class="beer-logo" src="/images/beer.png" alt="Beer Logo">
        </figure>
    </div>

    <div>
        <a href="/beers" type="button" class="btn btn-primary">Check the Beers!</a>
    </div>

    <div>
        <a href="/random-beers" type="button" class="btn btn-primary">Check a Random Beer!</a>
    </div>
</div>


