<div class="container">
    <div class="row beer">

        <div class="col-12">
            <img class="beer-image" src="/images/beer.png" />
        </div>

        <div class="col-12 beer-button">

                        
            <a href="/beers" class="btn btn-primary btn-lg">Check the Beers!</a>
            <a href="/random-beer" class="btn btn-primary btn-lg">Check a Random Beer!</a>


        </div>

    </div>
    
</div>