
    <div class="row d-flex">
        <div class="col-12 d-flex justify-content-center ml-3 my-3">
            <img src="/images/beer.png" alt="a beer mug">
        </div>
        <div class="col-12 d-flex justify-content-center my-3"><button class="btn-primary"><a href="/beers">Check the Beers!</a></button></div>
        <div class="col-12 d-flex justify-content-center my-3"><button class="btn-primary"><a href="/random-beers">Check a Random Beer</a></button></div>
    </div>
