<div class="container">
<div>
    <h1>
    HOME PAGE
    </h1>
</div>

<div>
    <h2>
<a href="/beers">Check the beers</a>
</h2>
</div>
<div>
    <h2>
<a href="/random-beers">Check a random beer</a>
</h2>
</div>
</div>