<div id="index">
    <div class="container">
        <div class="row">
            <div class="col">
                <figure id="beerFigure">
                    <img src="/images/beer.png" alt="Beer Image" />
                </figure>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mb-2">
            <div class="col d-flex justify-content-center">
                <a class="btn btn-primary" href="/beers">Check the beers!</a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col d-flex justify-content-center">
                <a class="btn btn-primary" href="/beers">Check a random beers!</a>
            </div>
        </div>
    </div>
</div>