<main>
  <div>
    <img id="beer" src="/images/beer.png" />
  </div>

  <div>
    <a class="button" href="/beers">Check the beers!</a>
  </div>

  <div>
    <a class="button" href="/random-beers">Check a Random Beer!</a>
  </div>
</main>
