<div class="col-12">
    <div class="d-flex justify-content-center">

    <img class="w-25 mt-5 mp-5" src="/images/beer.png" alt="">
    </div>
</div>
<div class="d-flex justify-content-center">
<button type="button" class="btn btn-primary btn-lg mt-2 mb-2"><a class="nav-link text-light" href="/beers">Check the Beers!</a></button>
</div>
<div class="d-flex justify-content-center">
<button type="button" class="btn btn-primary btn-lg  mt-2 mb-2"><a class="nav-link text-light" href="/beers">Check a Random Beers!</a></button>
</div>