<div>
<img src="/images/beer.png" alt="beer">
</div>
<div>
    <div>
    <button><a href="">Check the Beers!</a></button>
    </div>
    <div>
    <button><a href="">Check a Random Beer!</a></button>
    </div>
</div>