<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
    <link rel="stylesheet" href="/public/stylesheets/homepage.css">
</head>

<body>
    <div class="beer-homepage-container">
        <img class="beer-homepage-item beer-hero-image" src="./images/beer.png" alt="">
        <a href="/beers" class="beer-homepage-item beer-homepage-button"><button>Check the Beers!</button></a>
        <a href="/random-beers" class="beer-homepage-item beer-homepage-button"><button>Check a Random Beer</button></a>
    </div>

</body>
</html>

