<div>


  <img src="/images/beer.png"/>
  <button type="button"><a href="beers">Check the Beers!</a></button>
  <button type="button"><a href="random-beers">Check a Random Beer!</a></button>


 </div>
