<section class="page">
    <img class="homeimg" src="/images/beer.png" alt="Beer image">
    <div class="buttons">
        <button type="button"><a href="/beers">Check the beers</a></button>
    <button type="button"><a href="/random">Random beer</a></button>
    </div>
</section>