
    <div>
<img src="/images/beer.png" alt="">
    </div>
    <div>
        <button onclick="location.href= '/beers'" type="button">Check the bears</button>
        <button onclick="location.href= '/random-beers'" type="button"> Check a Random Beer</button>
   </div>