<div class="home-page">
    <div><img src="../images/beer.png" alt="beer" class="img-beer"></div>
    <div><button class="btn btn-beers">Check the Beers !</button></div>
    <div><button class="btn btn-randBeer">Check a Random Beer !</button></div>
</div>

<footer>Develop by Ironhack ;)</footer>