<div>
  <img class="beer-img" src="/images/beer.png" alt="">
</div>
<div class="check-beers-btn">
  <a href="/beers">
    <button>Check the Beers!</button>
  </a>
  <a href="/random-beers">
    <button>Check a Random Beer!</button>
  </a>
</div>