<!-- index.hbs -->
<div class="column">
    <img style="width: 18rem;" src="../images/beer.png" alt="beer">
    <a href="/beers" class="btn btn-dark">Check the beers!</a>
    <a href="/random-beers" class="btn btn-dark">Check a rrandom beer!</a>
</div>