<div>
<img src="/images/beer.png" alt="beer">
<button href="/beers" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
  Check the Beers!
  
</button>
<button href="/random-beers" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
  Check a Random Beer!
</button>
</div>