<div id="index-img-beer">
    <img src="./images/beer.png" alt="Beer picture">
</div>

<div id="button-check">
    <button class="check-btn"><a href="/beers">Check the beers!</a></button>
    <button class="check-btn"><a href="/random-beers">Check a random beer!</a></button>
</div>