<div id="divIndex">
    <img id="beers" src="images/beer.png">
    <div>
    <a id="btn" href="/beers">Check the beers</a>
    <a id="btn" href="/random-beers">Check a random beer</a>
    </div>
</div>