<section class="home">
    <img src="./images/beer.png" alt="beer">
    <button class="checkButton" onclick="window.location.href ='/beers'">Check the Beers</button>
    <button class="checkButton" onclick="window.location.href ='/randombeer'">Check a Random Beer</button> 
</section>