<div  id="content" class="d-flex flex-column justify-content-center align-items-center">
<img src="/images/beer.png" class=" d-block m-3 ml-5 pl-5" alt="Have a pint!">
<a class="btn btn-info d-block m-3" href="/beers">Check the beers!</a>
<a class="btn btn-info d-block m-3" href="/random-beers">Check a Random Beer!</a>
</div>