<div class="container">

    <img src="../images/beer.png">
    <a class="btn btn-outline " href="/Beers">Check the Beers!</a>
    <a class="btn btn-outline " href="/randombeers">Check a Random Beer</a>
</div>