<div class="container cont">
    <img class="photo-beer" src="/images/beer.png" alt="beer">
    <div class="row">
        <div class="col-12 btn"><a class="btn btn-primary btn-lg" href="/beers">Check the Beers!</a></div>
        <div class="col-12 btn"><a class="btn btn-primary btn-lg" href="/random-beers">Check a Random Beer!</a></div>
    </div>
</div>