<div>
<h1>HOPS SWEEET HOPS HOME</h1>
<img src="/images/beer.png" alt="">


<button onclick="location.href='/beers'" type="button">
         Check Out The Beers</button>
<button onclick="location.href='/random-beer'" type="button">
         Random Beers</button>
</div>