<!DOCTYPE html>
<html lang="es">  
  <head>    
    <title>Título de la WEB</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Bears">
    <meta name="description" content="Bears">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"/> 
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css"/>    
  </head>
  <header>
      <nav class="var-superior">
        <ul class="header-tag">
          <li> <a class="lista" href="/"> Home </a></li>
          <li> <a class="lista" href="/beers"> Beers </a></li>
          <li> <a class="lista" href="/random-beers"> Random Beer </a></li>
        </ul>
      </nav>
  </header>  
  <body>
      {{{ body }}}
  </body>  
  <footer>
      <div class="footer">
         <label class="footer-text"> Develop by Alejandro ;) </label>
      </div>
  </footer>
</html>