<!DOCTYPE html>
<html lang="en">

<head>
    <title>The IronBeers!</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <div class="headingBox">
        <div class="nav">
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="/beers">Beers</a></li>
                <li> <a href="/random-beer">Random Beer</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        {{{ body }}}
    </div>
    <div class="footerBox">
        <footer>
            <h5>Develop by Ironhack ; )</h5>
        </footer>
    </div>
</body>

</html>