<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iron Beers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beer">Random Beer</a></li>
        </ul>
    </nav>
    <div class="body">
        {{{ body }}}
    </div>
</div>

<footer>Develop by Ironhack ;)</footer>
</body>
</html>