<html>
  <head>
    <title>Ironbeers</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/beers">Beers</a>
      <a href="/random-beer">Random Beers</a>
    </nav>
    
    
    
    
    
    {{{ body }}}


  <footer>
    <p>Develop by Ironhack ;)</p>
  </footer>

  </body>
</html>