<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers-Matteo</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/beers">BEERS</a></li>
                <li><a href="/random-beer">RANDOM BEERS</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
    <footer><p>Designed and developed by Ironhack :)</p></footer>
</body>
</html>



