<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Beer Page</title>
  <!-- instruction for the browser to look for the CSS at some route -->
  <link rel="stylesheet" href="stylesheets/style.css"> <!-- /style.css -->
</head>

<body>
  {{{ body }}}
  {{!-- <script src="myscript.js"></script> --}}

  {{!-- here it will put respective page --}}
  <a href="/">Home</a>
  <a href="/beers">Beers</a>
  <a href="/random-beers">Random Beer</a>
</body>

</html>