<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a class="nav-link white-font" href="/">Home</a></li>
            <li><a class="nav-link white-font" href="/beers">Beers</a></li>
            <li><a class="nav-link white-font" href="/random-beer">Random Beer</a></li>
        </ul>
    </nav>
    <main>
        {{{ body }}}
    </main>
    <footer class="white-font">
        <p>Developed by Edu Carmona</p>
    </footer>
</body>
</html>