<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>IronBeer</title>
</head>
<body>
    <div class="container-menu">
        <nav class="navbar">
            <a class= "navbar-text" href="/">Home</a>
            <a class= "navbar-text" href="/beers">Beers</a>
            <a class= "navbar-text" href="/random-beer">Random Beer</a>
        </nav>
    </div>  
   
    </div>
    {{{body}}}

    <footer class="footer">
        <p class="text-footer">Develop by Iron hack ;)</p>
    </footer>   
</body>
 
</html>