<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  

</head>

<body>
      <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/beers">Beers</a></li>
      <li><a href="/random_beers">Random Beer</a></li>
    </ul>
  </nav>


  <button src="/beers"><a href="/beers">Beers</a></button>
   <button src="/random_beers"><a href="/random_beers">Random Beer</a></button>
  {{{body}}}


</body>

</html>