<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <div id="wrapper">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/beers">Beers</a></li>
                <li><a href="/random-beer">Random Beer</a></li>
            </ul>
        </nav>
        <section {{#if section}}class="{{section}}" {{/if}}>
            {{{ body }}}
        </section>
        <footer>Develop by ME è.é</footer>
    </div>

</body>

</html>