<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <title>Ironbeer</title>
</head>

<body>
    <nav class='navbar navbar-expand-lg navbar-dark '>
        <a class='navbar-brand' href='#'>Ironbeer</a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item'>
                    <a class='nav-link' href='/'>Home</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/Beers'>Beers</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/randombeers'>random-beers</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>

</html>