<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Iron-beers</title>
</head>

<body>
  <nav class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/beers">Beers</a></li>
      <li><a href="/random-beer">Random Beer</a></li>
    </ul>
  </nav>
  <main class="container">
    {{{ body }}}
  </main>
  <footer class="footer">
    <p>Developed by Marcelo</p>
  </footer>
</body>

</html>