<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
</head>
<body>
     <header class="header">
	
	    <ul class="menu">

		    <li> <a href="/">Home</a></li>
		    <li> <a href="projects">Beers</a></li>
		    <li> <a href="contact">Random Beers</a></li>
	</ul>
  </header>
    {{{ body }}}
</body>
</html>