<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Layout</title>
</head>
<body>
    <header>
    <nav>
        <a href="/" class="a-nav">Home</a>
        <a href="/beers" class="a-nav">Beers</a>
        <a href="/random-beer" class="a-nav">Random Beer</a>
    </nav>
​</header>
    {{{ body }}}
<footer>
<p class='p-footer'>Developed by Ironhack ;)</p>
</footer>
</body>
</html>