<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>IronBeers</title>

</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random-beers</a>

    </div>
    {{{ body }}}
</body>

</html>