<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My first view</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="main-wrapper">
        <nav class="fixed-nav">
            <a href="/">Home</a>
            <a href="/beers">Beers</a>
            <a href="/random-beer">Random Beer</a>
        </nav>
    </div>
    {{{body}}}
</body>

</html>