<html>
  <head>
    <title>Ironbeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/beers">Beers</a>
      <a href="/random-beers">Random Beer</a>
    </nav>
    {{{body}}}
  </body>
</html>