<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     <header class="header">
	
	    <ul class="menu">

		    <li> <a href="/">Home</a></li>
		    <li> <a href="beers">Beers</a></li>
		    <li> <a href="random-beer">Random Beer</a></li>
	</ul>
  </header>
    {{{ body }}}

    <footer class="footer">
       <p> Develop by Ironhack ;)</p>
    </footer>
</body>
</html>