<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>Iron Beers</title>
    <meta name="description" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="container">
    <nav class="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beers">Random Beer</a></li>
        </ul>
    </nav>

    {{{body}}}


</body>