<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beers App</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header class="nav">
        <ul class="nav-list">
            <a href="/">
                <li>home</li>
            </a>
            <a href="/beers">
                <li>beers</li>
            </a>
            <a href="/random-beer">
                <li>random beer</li>
            </a>
        </ul>

    </header>

    {{{body}}}

    {{!--  <footer class="footer">
        <p>developed by Victoria and Tim</p>
    </footer> --}}

</body>

</html>