<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HBS</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

    <nav id="nav-bar">
        <span><a href="/">Home</a></span>
        <span><a href="/beers">Beers</a></span>
        <span><a href="/random-beers">Random Beer</a></span>
    </nav>

    {{{ body }}}

    <footer><p>Develop by IronHack! ;)</p></footer>
</body>
</html>