<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    
    <nav class="navbar">
        <div class="navbar-nav">
            <a href="/">Home</a>
            <a href="/beers">Beers</a>
            <a href="/random-beer">Random Beers</a>
        </div>
    </nav>

    <div class='view-container'>
        {{{ body }}}
    </div>

<footer>
    <p>Develop by Ironhack</p>
</footer>

</body>

</html>