<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Iron Beers</title>
</head>
<body>
    <nav class="main-nav">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/beers">BEERS</a></li>
            <li><a href="/random-beer">RANDOM BEER</a></li>
        </ul>
    </nav>
    <main class="main-container">
    {{{body}}}
    </main>
    <footer class="footer">Developed by Rafael Freitas and Rhaysa</footer>
</body>
</html>
