<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<body>

  <header id="header-main" class="row">
    <a href="/" class="logo">Beers</a>
    <nav id="nav-main" class="nav">
        <a href="/" class="link">| home </a>
        <a href="/beers" class="link">| beers</a>
        <a href="/random-beers" class="link">| random beers</a>
    </nav>
  </header>

  {{{body}}}

</body>
</html>