<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>

<div class="navbar"> <a href="/">Home</a> / <a href="/beers">Beers</a> / <a href="/random-beers">Random Beer</a></div>
<div class="container">
    {{{body}}}
    </div>
</body>
</html>