<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <title>Layout page</title>
    <button>
        <a href="/">Home</a>
    </button>
    <button>
        <a href="/beer">Beers</a>
    </button>
    <button>
        <a href="/random">Random beers</a>
    </button>
</head>

<body>
    {{{body}}}
</body>

</html>