<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iron Beers</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <h5>layout</h5>
    <nav>
        <ul>
            <li><a href=/>Home</a></li>
            <li><a href=/beers>Beers</a></li>
            <li><a href=/random-beer>Random Beer</a></li>
        </ul>
    </nav>
   {{{body}}} 
</body>
</html>