<html>
  <head>
    <title>IronBeers</title>
    <link rel="stylesheet" href="/starter-code/public/stylesheets/styles.css">

  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="beers">Beers</a></li>
        <li><a href="random-beers">Random Beer</a></li>
      </ul>
    </nav>

    {{{body}}}

  </body>
</html>