<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Layout page</title>
</head>
<header>
    <div class="header-button">
        <a href="/">Home</a>
    </div>
    <div class="header-button">
        <a href="/beers">Beers</a>
    </div>
    <div class="header-button">
        <a href="/random">Random</a>
    </div>
</header>


<body>
    {{{body}}}
</body>

<footer> Made by Thibault, while drinking beers


</footer>
</html>