<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
         
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/beers">Beers</a>
          <a class="nav-item nav-link" href="/random-beer">Random Beer</a>
        </div>
      </div>
    </nav>

<body>
    {{{body}}}
    
</body>
</html>