<html>
  <head>

  </head>

  <body>
    <nav>
      <a href="/">Home </a>
      <a href="/beers">Beers </a>
      <a href="/random-beers">Random Beers </a>
    </nav>
    
    {{{ body }}}
  </body>

</html>
