<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Brewdog beer API stuff</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" >
</head>

<nav>
    <a href="/">Home</a>
    <a href="/beers">beers</a>
    <a href="/random-beer">random beer</a>
</nav>

<body>

{{{ body }}}

</body>

</html>