<html>
    <head>
        <title>Iron beers</title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/beers">Beers</a>
    <a href="/random-beer">Random beers</a>
</nav>

{{{ body }}}

<footer>
    Develop by Ironhack
</footer>

</body>
</html>