<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div>
    <h1>Random Beers</h1>
    {{>beercard cervezaR.[0]}}

    <h2>
        {{cervezaR.[0].food_pairing}}
        {{cervezaR.[0].brewer_tips}}
    </h2>

</div>