<div class="allBeers">
    <div class="oneBeer">
        {{> beerPartial oneBeer}}
        <br>
        <h3>Brewer's tips</h3>
        <p>{{oneBeer.brewers_tips}}</p>
        <br>
        <h3>Serve with:</h3>
        <ul id="pairings">
            {{#each oneBeer.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>