<div class="row random">
    
    {{#each responseFromAPI}}

    {{> beerpartial this}}

    <p>{{this.brewers_tips}}</p>
    <ul class="list">
            {{#each this.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
    </ul>

    {{/each}}


</div>