<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>

        {{> beerpartial}}

        <article class="random-beers">
            {{#each beer}}
            <p class="nomargin">{{this.food_pairing}}</p>
            <p class="nomargin">{{this.brewers_tips}}</p>
            {{/each}}
        </article>

    </section>
</body>
</html>

