<div class="beer-info">
    {{> beerpartial this}}
    <div class ="more-info">
        <h4>Food Pairing</h4>
        <ul>
            {{#each food_pairing}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><span>Brewers Tips: </span>{{brewers_tips}}</p>
    </div>
</div>