<div class="beer-randomlist">
    {{#each beersFromApi}}
    {{> beerpartial this}}
    <div class="brewers-tips">
    <p>Food Pairings: {{#each this.food_pairing}}</p>
    <ul>
        <li>{{this}}</li>
    </ul>
    {{/each}}
        <p><b>Brewers Tips:</b> {{this.brewers_tips}}</p>
    </div>
    {{/each}}
</div>