<h1>DRINK THE RANDOM BEER</h1>
<ul>
    <li>{{beers.[0].name}}</li>
    <li><img src="{{beers.[0].image_url}}" alt="une super image de bière"></li>
    <li>{{beers.[0].description}}</li>
    <li>{{{beers.[0].tagline}}</li>
</ul>