<div class="container-one-beer">
    {{#each responseFromAPI}}
    <div>
        {{> beerpartials }} 
        <h5>Food Pairing</h5>
            {{#each this.food_pairing}}
                <li>{{this}}</li>
            {{/each}}
        <p>{{this.brewers_tips}}</p>
    </div>
    {{/each}}
</div>