<div>
    {{randomBeers}}
   {{> beerCard this}}

    <h6><b>FOOD PAIRING:</b></h6>
    <ul>
    {{#each this.food_pairing}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
    <p><b>Brewers Tips:</b>{{this.brewers_tips}}</p>
</div>