<div class="beer-container">
    {{#each randomBeers}}
    {{> beerpartials }}

    <div>
        <p>Food Pairing</p>
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>Brewers Tips: {{this.brewers_tips}}</p>
    </div>
    {{/each}}
</div>
</div>