<div>
    {{> beerpartial randomBeer}}
    <p>Food pairing:</p>
    <ul>
        {{#each randomBeer.food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>Brewers tips: {{randomBeer.brewers_tips}}</p>
</div>