<div class="p-10 d-flex row cards-container justify-content-center align-self-start" style="width: 50%;">
    <img class="m-3 card-img-top d-flex flex-wrap align-content-center" src="{{ image_url }}" alt="">
    <div class="card-body">
        <h2 class="card-title">{{name}}</h2>
                <h5 class="text-muted card-title">{{ tagline}}</h5>

        <p class="card-text">{{description}}</p>
    </div>
</div>

{{!-- <div class="d-flex row cards-container col-lg-12 justify-content-center align-self-start">
    {{#each randomBeer}}
    {{> beerCard this}}
    {{/each}}
</div> --}}