<div class="random">

    {{> beerBottle}}
    <div class="extra-content">
        <p><b>Food Pairing </b></p> 
        <ul>
            {{#each food_pairing}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><b>Brewers Tips: </b>{{brewers_tips}}</p>
    </div>
</div>

