<h1 class="justify-content-center">Random Beer</h1>

 {{#each RandomBeerFromApi}}


<div class="card mb-3 random-beer-card" style="max-width: 700px;">
  <div class="row ">
    <div class="col-md-4">
      <img src="{{this.image_url}}" class="card-img-top random-beer-card-img align-self-center" alt="{{this.name}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
            <hr>
    <h5 class="card-title">{{this.tagline}}</h5>
    <hr>
       <p class="card-text">{{this.description}}</p>
      </div>
    </div>
  </div>
</div>



 {{/each}}