  <section class="main">
    <div clas="specific-beer">
      {{#each randomBeer}}
      {{> beerpartials}}
      {{/each}}
    </div>
    <button class="button"> <a href="/beers" class="link">Check the Beers!</a></button>
    <button class="button"> <a href="/random-beers" class="link">Check a Random Beers!</a></button>
  </section>
