{{#each randomBeer}}

{{>beerImg this}}


<div class="beer-details">
    {{> beerCard this}}

    <p>
        Food Pairing:
        <ul>
            {{#each this.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </p>
    <p>
        Brewers Tips: {{this.brewers_tips}}
    </p>

</div>

{{/each}}


{{!-- food_pairing [] --}}
{{!-- brewers_tips --}}