    <div class="content">


    {{#each beersFromApi}}
        {{> beerpartial this}}
    {{/each}}

    {{#each beersFromApi}}
<div class="text-info">
        <p>{{food_pairing}}</p>
        <p>{{brewers_tips}}</p>
</div>
    {{/each}}

        </div>