<h1>Random Beer</h1>
<div class="random-container">
  {{#each random}}
  {{> beerCard this}}
  <div class="additional-info">
    <ul>Food Pairing:{{#each this.food_pairing}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>Brewers Tips: {{this.brewers_tips}}</p>
  </div>
</div>
{{/each}}