{{> beerpartial this}}

<p class="card-text">Food pairing
    <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</p>

<p class="card-text">Brewer tips: {{brewers_tips}}</p>