<div>

    {{#each randomBeers}}
    
   
     {{#each this.food_pairing}}
    <h4>
        
        {{this}}
        
    </h4>
     {{/each}}
    <h4>
        {{this.brewers_tips}}
    </h4>


    {{/each}}


</div>