<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div>
    <h1>Random Beers</h1>

    <h2>Hello my name is {{cervezaR.[0].name}}</h2>
    <article></article>
    <h2>Food Pairing: </h2>
    <article>{{cervezaR.[0].description}}</article>
    <h3>Brewers Tips</h3>
    <article><img src={{cervezaR.[0].image_url}} alt=""></article>

</div>