<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Random Beers</title>
</head>
<body>

  <main>

    <div class="random-beers">
      {{#each responseFromAPI}}
      <div>
        {{> beerPartials this}}
      </div>
        <p>{{this.food_pairing}}</p>
        <p>{{this.brewers_tips}}</p>
      {{/each}}

      <button class="button-home"> <a href="/beers" class="link">Check the Beers!</a></button>
      <button class="button-home"> <a href="/random-beers" class="link">Check a Random Beers!</a></button>
  </main>
  
</body>
</html>
