<!-- random-beers.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <header>
    <ul class="menu">
      <li><a href="/" class="menu-list link">Home</a></li>
      <li><a href="/beers" class="menu-list link ">Beers</a></li>
      <li><a href="/random-beers" class="menu-list link">Random Beers</a></li>
    </ul>
  </header>
  <section class="main">
    <button class="button"> <a href="/beers" class="link">Check the Beers!</a></button>
    <button class="button"> <a href="/random-beers" class="link">Check a Random Beers!</a></button>
  </section>
  <footer>
    <p class="text-footer link">Develop by Ironhack ;-)</p>
  </footer>
</body>

</html>