<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/starter-code/public/stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>



<h2>{{this.name}}</h2>
<img src="{{this.image_url}}">
<p>{{this.description}}</p>

<ul>
    {{#each foodparing}}
    <li>{{this}}</li>

</ul>

</div>

    
</body>
</html>
