<div class="home-container border d-flex  justify-content-center  flex-column align-items-center" style="margin:20px; padding:20px">
    <div class="border" style="margin:20px">
        <img src="/public/images/beer.png" alt="" style="height: 200px; width: 200px; background-color:orange">
    </div>
    <a href="/beers">Check the beers!</a>
    <a href="/random-beer">Check a Random beer!</a>
</div>