<div class="row justify-content-center">   
    <div class="col-12 col-md-3">
        <img class ="img-fluid mb-2" src ="/images/beer.png" alt="Beer">
          <div class="d-flex flex-column">
            <a href="/beers" class="btn btn-primary ">Check the beers</a>
            <a href="/random-beers" class="btn btn-primary mb-2">Check a random beer</a>
            </div>
    </div>
</div>