<div class="mt-2  mx-auto d-block">
    <img src="/images/beer.png" class="img-fluid" alt="...">
</div>

<div class="mt-5 mx-auto d-block">
    <a href="/beers" class="btn btn-primary btn-lg"  type="button">Check the beers</a></button>
</div>

<div class="mt-2 mx-auto d-block">
    <a href="/random" class="btn btn-primary btn-lg"  type="button">Check a Random Beer!</a></button>
</div>

