<div class="row justify-content-center">
    <div class="col-12 col-md-3">
        <img src="/images/beer.png" class="img-fluid mb-2" alt="Beer"/>
        <div class="d-flex flex-column">
            <a href="/beers" class="btn btn-primary mb-2">Beers</a>
            <a href="/random-beer" class="btn btn-primary">Random Beer</a>

        </div>
    </div>
</div>