/*section {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

#beer-img-cont {
  grid-row: 2/12;
  grid-column: 2/9;
  background-color: gold;
}

#beer-img-cont > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
*/
