.partial{
  display: block;
  width: 30vw;
  height: 90vh;
  text-align: center;
  /* display: flex;
  flex-direction: row; */
}

.card-img-top {
  margin-left: 45%; 
  padding-top: 30px; 
  width: 15%;
  max-height: 45vh;

}

.card{
  height: 90vh;
  width: 30vw;
}


/* RANDOM PARTIAL */
.random-partial{
  display: block;
  width: 50vw;
  max-height: 100vh;
  text-align: center;
}
.img-random{
  margin-left: 45%; 
  margin-right: 10%;
  padding-top: 30px; 
  width: 10%;
  max-height: 40vh;
}
