/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
  
header {
  position: fixed;
  top: 0;
  background-color: #2081C3;
  width: 100vw;
  height: 50px;
  padding: 10px;
}

header a {
  color: white;
  text-decoration: none white;
}

footer {
  position: fixed;
  background-color: #0A2C42;
  bottom: 0;
  width: 100vw;
  height: 50px;
  padding: 5px;
  color: white;
}

.index-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  widows: 100vw;
  height: 100vh;
}

.index-container img {
  width: 10%;
}

.index-container button {
  columns: white;
  background-color: #2081C3;
  height: 50px;
  width: 100px;
}

.index-container * {
  margin: 10px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  widows: 100vw;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.card-container div {
  width: 25vw;
  height: 650px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  text-align: center;
}

.card-container * {
  margin: 2vw;
}

.rand-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  widows: 100vw;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.rand-container div {
  width: 25vw;
  height: 650px;
  border: 10px solid rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.2);
}

.rand-container * {
  margin: 2vw;
}