/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/
  
*{
    font-family: Arial, Helvetica, sans-serif;
}

.azul{
    background-color: #2081C3;
    padding-left:30px;
}


.buttons{
    margin:20px;
}

article{
    height: 600px;
    width:300px;
    display: inline-block;
    margin:20px;
    background-color: #F7F9F9;
    padding:20px;
    text-align:center;
    
}

.texto-beer{

    font-size: 10px;
}
.beer img{
    height:200px;
}

.contenedor-cervezas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    align-items: flex-start;
    margin:50px;

}

.beer h1{
    font-size: 26px;
    font-weight: bold;
    margin-top:10px;
    text-align: left;
}

.beer p{
    width:260px;
    font-size:9px;
    text-align: left;
}

.random{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:90%;
    padding:40px;
}

.random img{
    height:500px;
}

.random p{
    width:300px;
    
}

.textRandom{
    display:block;
    margin-left:200px;
}

h3{
    color:gray;
    font-size:16px;
}

footer{
    background-color:#0A2C42;;
    color:white;
    position: fixed;
    bottom:0;
    width:100%;
}

.imagen img{
    width:200px;
}

.inicio{
    display: flex;
    flex-direction:column;
    align-items: center;
}