/*.navbar {
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
}*/

.navbar{
    display: inline-block;
    background-color: #2081c3;
    width: 100%;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  color: #f7f9f9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 20px;
  margin-left: 20px;
}

.bottom {
    width: 100%;
    height: 60px;
    background-color: #0a2c42;
    align-items: flex-end;
    align-content: flex-end;
    margin-top: 525px;
    position: fixed;
}

.bottom p {
    color: #f7f9f9;
    padding-top: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;;
    margin-top: 0px;
}

.image {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 60px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f7f9f9;
    margin-top: 20px;
}

.b1 {
    display: block;
    width: 140px;
    height: 20px;
    background: #2081c3;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: -5px;
    margin-top: 5px;
}

.b2 {
    display: block;
    width: 180px;
    height: 20px;
    background: #2081c3;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: -15px;
}

.random {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 80px;
}

.info {
    margin-left: 50px;
    margin-right: 100px;
}

.tag {
    color: rgb(202, 182, 157);
}

.cards-container {
    display: grid;
    padding: 10% 20%;
    margin-top: -120px;
  }
  
.cards-container img {
    object-fit: cover;
    object-position: center;
    width: 70px;
    margin-top: 70px;
  }