*{
  box-sizing: border-box
}


nav {
  background:  #2081C3;
  height: 50px;
  padding-top: 30px;
  padding-left: 20px;
   
}
a{
  margin-left: 30px;
  text-decoration: none;
  color: #F7F9F9;
}
body{
  padding: 0;
  margin: 0;
  background-color:rgba(145, 145, 145, 0.481);
  font-family: Arial, Helvetica, sans-serif;

}

footer{
  background-color: #0A2C42;
  height: 50px;;
  color: #F7F9F9;
  padding-top: 25px;
  padding-left: 20px; 
  left: 0;
  right: 0;
  bottom: 0;
  
}

.index-container {
  display: flex;
  flex-direction: column; 
  align-items: center;    
}
.index-container img{
  height: 500px;
  width: 500px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.index-container button{
  margin-bottom: 10px;
  background:  #2081C3;
  color: #F7F9F9;
  height: 40px;   
  border-radius: 10px; 
  font-size: 17px; 
}

/* .allbeers {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.tpm {
  width: 250px;
}

.tpm img {
  width: 200px;
} */

.whatever{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
 }
 .container {
  margin-top: 80px;
 }
 
 #randomImg{
  height: 650px;
 }
 
 .beerCard img{
  height: 250px;
  display: block;
  margin: 0 auto 15px;
 
 }
 
 .beerCard {
  width: 400px;
  font-size: 1.2em;
  text-align: justify;
 }

 