/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

.nav{
  color:#F7F9F9;
  background-color: #2081C3;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  margin: 5px;
  padding-top: 10px;
}

nav > a {
  text-decoration: none;
  color:#F7F9F9;
  margin-left: 10px;
}

.footer {
  display: flex;
  align-items: flex-end;
  background-color: #0A2C42;
  color: #F7F9F9;
}

.index-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
  
.image-Buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.beer-image {
  width: 30%;
}

.button {
  width: 150px;
  height: 30px;;
  background-color: #2081C3;
  border-radius: 5px;
}

.button > a {
  color: #F7F9F9;
  text-decoration: none;
}

.beers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bier {
  width: 26%;
  margin-right: 3%;
  margin-left: 3%;
}

.beer-images {
  width: 20%;
  height: 50%;
  display:block;
  margin:auto;
}

.name {
  font-weight: 600;
  margin-top: 2%;
}

.tag {
  color: rgba(145, 145, 145, 0.481);
  margin-bottom: 2%;
}