/* white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
.navbar {
  background-color: #2081c3;
  overflow: hidden;
  height: 63px;
}
.navbar a {
  float: left;
  display: block;
  color: #f7f9f9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
.index-container {
  height: 170px;
}
.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}
.navbar a:hover {
  color: #000;
}
.beer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 250px;
}
button {
  padding: 10px 20px;
  background-color: #2081c3;
  color: #f7f9f9;
}

footer {
  background-color: #0a2c42;
  color: #f7f9f9;

  /* height: 50px; */
}
footer h5 {
  font-weight: lighter;
  padding: 20px;
}
.beers-collection {
  height: 500px;
  float: left;
}

.beer_images {
  height: 50px;
}
li {
  list-style: none;
}
