/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background-color: rgba(145, 145, 145, 0.481);
  font-family: Arial, Helvetica, sans-serif;
}
.navb{
  color: #F7F9F9;
  background-color: #2081C3;
  height: 50px;
  padding-left: 40px;
  box-shadow: 0 8px 6px -6px #999;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #F7F9F9;
  background-color: #0A2C42;
  padding-top: 15px;
}
.index-container {
  width: 16rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.btn-margin{
  margin-top: 20px;
}
.beer img{
  height: 150px;
  margin: 0 auto;
  display: block;
}
.beers-container{
  margin: 80px;
}
.beer{
  width: 29%;
  float: left;
  height: 400px;
  margin: 20px;
}
h5{
  font-weight: bold;
  padding-top: 15px;
}
p{
  font-size: 12px;
}
.tag-line {
  color: gray;
}
.random-beer{
  margin-top: 80px;
  /* width: 29%; */
  float: left;
  /* height: 400px; */
  /* margin: 20px; */
}
.beers-container img{
  height: 250px;
  margin-right: 60px;
  display: block;
  float: right;
}
  