/*"background-color: #16598a;"
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/
 
.navbar1  {
   background-color: #16598a
}


.index-container {
  height: 86vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer1 {
  position:fixed;
  bottom: 0;
  background-color: aquamarine;
  width:100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}