/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

nav {
  background-color: #2081C3;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

nav a {
  color: white;
}

footer {
  background-color: #0A2C42;
  color: white;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

img{
  display: flex;
  max-width: 300px;
}

.index-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}