/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/
* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #2081C3;
}

.card-footer {
    color: white;
    background-color: #0A2C42;
}

.index-container {
    display: flex;
    justify-content: center;
}

img {
    padding: 5% 0;
    width: 30%;
    height: 30%;
}

.div-btn {
    display: flex;
    flex-direction: column;
}

.btn-index {
    margin-bottom: 3%;
}

a {
    text-decoration: none;
    color: white;
}

.cards-container {
}