body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #F7F9F9;
  text-decoration: none;
  padding-right: 15px;
}

nav {
  color: white;
  display: flex;
  background-color: #2081C3;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px;
}

footer {
  color: white;
  display: flex;
  background-color: #0A2C42;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.btn {
  width: 20%;
  background-color: #2081C3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: fle;
  font-size: 16px;
  margin: 5px;
}

.home-beer {
  width: 40%;
  width: 25%;
  margin: 3em;
}

.beers {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #F7F4F4;
  justify-content: center;
}

.beer {
  width: 25%;
  margin: 2%;

}

.beer-images {
  height: 10em;
  padding-left: 7em;
}

.beer-name {
  font-weight: bold;
  padding: 1em 0;
}

.beer-tagline {
  color: rgba(145, 145, 145, 0.481);
  padding: 1em 0 0;
}

/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/
  