/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

nav {
  background-color: #2081C3;
}

.card-bg {
  color: white;
  background-color: #0A2C42;
}
