/* white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #f7f9f9;
}
i {
  color: #bfbfbf;
  font-size: 14px;
}
.div2 a {
  color: #333;
}
.navbar {
  background-color: #2081c3;
  overflow: hidden;
  height: 63px;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
}
.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}
.navbar a:hover {
  color: #000;
}
.main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 250px;
}
button {
  padding: 10px 20px;
  background-color: #2081c3;
  color: #f7f9f9;
}

footer {
  background-color: #0a2c42;
  color: #f7f9f9;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100 wv;
  z-index: 1;
  /* height: 50px; */
}
footer h5 {
  font-weight: lighter;
  margin-left: 50px;
}
.beers-collection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 20px;
  margin-bottom: 70px;
}
.eachBear {
  width: 300px;
  padding: 10px 10px;
}

.randomBeer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 80%;
}
.randomBeer li {
  padding: 5px;
  font-size: 14px;
}
