<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer</title>
</head>
<body>
    <a href="/beers/beer-i3f4d34s34b">{{this.name}}</a>
      <img src={{this.image_url}} alt="" width="70px" height="200px">
      {{this.tagline}}
     {{this.description}}
</body>
</html>