<div class="beer" style="width: 33.333%;">
    <img class="beer-img-top" src="{{image_url}}" alt="">
    <div class="beer-body">
        <h5 class="beer-title">{{name}}</h5>
        <p class="beer-text">{{description}}</p>
        <p class="beer-text">{{tagline}}</p>
    </div>
</div>