body {
  /* height: 100vh; */
}

main {
  margin-top: 10rem;
}

.navbar {
  /* height: 5rem; */
  /* margin-bottom: 5rem; */
}

section .central-block {
  display: flex;
  flex-direction: column;
}

.central-block {
  align-items: center;
  justify-content: center;
  margin: 3em auto;
}

.central-block img {
  width: 30rem;
}

.btns-group {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.btn-main {
  padding: 0.8rem 3rem;
  margin: 0.5rem;
  font-size: 1.1rem;
}

.shadow {
  box-shadow: 5px 5px 5px lightgray;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 700;
}

.col-3 {
  /* padding: 0;
  margin-bottom: 0; */
  /* border: 1px solid tomato; */
}

.beer-bottle {
  width: 70%;
  max-height: 250px;
  object-fit: contain;
}


.beer-container {
}

.food-pairing {
  margin-left: 3.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem 1rem;
  background-color: #0c2d41;
  color: #fff;
}