:root {
  --white: #f7f9f9;
  --light-blue: #2081c3;
  --dark-blue: #0a2c42;
  --grey: #bfbfbf;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  display: flex;
  background-color: var(--light-blue);
  align-items: center;
  justify-content: center;
}

#navbar a {
  text-decoration: none;
  margin: 0.5rem 0;
  padding: 0.3rem 0.8rem;
  color: var(--white);
}

#navbar a:hover {
  color: var(--dark-blue);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin-top: 3%;
}

.wrapper>img {
  width: 25vw;
  margin-bottom: 3%;
}

.button {
  background-color: var(--light-blue);
  color: var(--white);
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 3px 3px 3px var(--grey);
  text-decoration: none;
  text-align: center;
}

.button:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

.button:active {
  box-shadow: inset 0px 0px 2px var(--white);
}

#grid-container {
  margin: 5% 10%;
  padding-bottom: 20%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  row-gap: 1%;
  column-gap: 5%;
}

.beer-frame {
  display: flex;
  flex-direction: column;
}

.beer-frame>img {
  height: 10rem;
  align-self: center;
  margin-bottom: 0.8rem;
}

p {
  color: var(--grey);
  margin-bottom: 0.8rem;
}

.beer-frame:last-child>article {
  padding-bottom: 20%;
}

#beer-wrapper {
  display: flex;
  margin: 5% 10%;
  column-gap: 7%;
}

#beer-wrapper>img {
  height: 30rem;  
}
.beer-info {
  display: flex;
  flex-direction: column;
  row-gap: 5%;
}
ul {
  padding-left: 5%;
}
li {
  padding-bottom: 0.8rem;
}
