.random-container{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 400px;
}

.random-info{
    padding-left: 100px;
}

.random-img{
    width: 75px;

}
.random-name{
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;

}
.random-tagline{

    color: #bfbfbf;
    
    margin-bottom: 20px;
 }
 .food-pairing{
     margin-top: 20px;
     margin-bottom: 20px;
     font-size: 20px;
     font-weight: bold;
 }

 .random-food{
     padding-left: 20px;
     margin-bottom: 20px;
     
 }