/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
*{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}
.pic{
   margin-top:50px ;
   margin-bottom: 50px;
   width: 475px;
   padding-left: 70px;
}
body{
   background-color: #f7f9f9;


}

.footer{
   background-color:#0a2c42 ;
   color: white;
   
   padding: 30px 10px;
   position: fixed;
   bottom: 0;
   width: 100%;
   

}
.footer p{
   padding-left: 50px;
}

.menu a{
   color: #f7f9f9;
   text-decoration: none;
   padding-left: 50px;
   padding-bottom: 50px;
   
   
}
.menu{
   display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
   align-items: flex-start;
   list-style: none;
   background-color: #2081c3;
   padding-top: 40px;
   padding-bottom: 40px;
   margin: 0px;
   box-shadow: #bfbfbf 0px 10px 10px;
}
.index{
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
   
}

button{
   background-color: #2081c3;
   padding: 20px;
   margin: 10px;
   border-radius: 8px;
   
}
button a{
   text-decoration: none;
   color: #f7f9f9;
}

.beers-container{
   margin-top: 70px;
   display: flex;
	flex-direction: row;
	flex-wrap: wrap;
   padding-left: 70px;
   padding-right: 70px;
   margin-bottom: 100px;
}
.beer{
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   width: 500px;
   margin-right: 5px;
   margin-left: 5px;
   
}
.beer-name{
   font-size: 25px;
   font-weight: bold;
}
.beer-image{
   width: 65px;
  
}
.tagline{
   color: #bfbfbf;
   margin-top: 5px;
   margin-bottom: 5px;
}

