<div class="container">
  <div class="columns">
    {{#each beers}}
    <div class="columnb">
      <div class="beer">
        <div class="beer-image">
            <div class="image">
            <img src="{{this.image_url}}" alt="Placeholder image">
            </div>
        </div>
        <div class="beer-content">
            <div class="media-content">
                <h2 class="title">{{this.name}}</h2>
                <h3 class="subtitle">{{this.tagline}}</h3><br>
                <p class="description">{{this.description}}</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    {{/each}}
  </div>
</div>