{{!-- <h1>beers</h1>
<div class="beers-container">
  {{#each beers as |beer|}}
    {{>beer beer=beer }}
  {{else}}
  <p>Empty List :(</p>
  {{/each}}
</div> --}}

{{!-- por que funcionamiento each --}}
{{>beerPartial}}