<!-- div class="beer-container">
  <p> Beers: </p>
  <ul>
      {{#each }} {{>beerPartial}}> beers}}
      <li>{{name}} </li>
      {{/each}}
  </ul>
</div -->

<div>
  {{#each beers}}
    {{> beerPartial }}
  {{/each}}
</div>