<h1 class="page-title">Beers</h1>
<h2 class="page-subtitle">Check out our awesome beer selection!</h2>

<div class="card-layout-container">

  {{#each beers}}
  <div class="card">
    {{>beerPartial }}
  </div>
  {{/each}}

</div>