<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{!-- {{{body}}} --}}
<h1>This is the beers page</h1>  
{{#each beer}}
    {{!-- console.log(this) --}}
    {{!-- {{> beerName }} --}}
    {{this.name}}
    <img src="{{this.image_url}}" alt="">
    <h5>{{this.description}}</h5>
    {{> beerPartial}}
{{/each}}    
</body>
</html>


