<div class="main">

{{#each beerscol}}
<div class="card">
    <img src="{{this.image_url}}" class="img-responsive">
    <br>
    <h1>{{this.name}}</h1><br>
     
    <h5>{{this.tagline}}</h5><br>
        
        
    <p>{{this.description}}</p><br>
      
</div>
{{/each}}

</div>
