<div class="beer-container">
    <div class="row flex">
        {{#each beers}}
        <div class="col-4 test">
            {{> beerCard this}}
            {{!-- {{this.name}} --}}
        </div>
        {{/each}}

    </div>
</div>