<div class="container mt-5 mb-5">

     <div class="row">

          {{#each beerList}}
          <div class="col-4">
               {{> beerPartial}}
          </div>
          {{/each}}

     </div>

</div>