<ul>
    {{#each beers}}
        <li>{{this.name}}</li>
    {{/each}}
</ul>

<img src="/public/images/beer.png">
    <a href="/beers">Check the beers!</a>
    <a href="/random-beers">Check  random beer</a>