
        {{#each beerList}}
        <!-- call a partial passing the info about each beer -->
        <div class = "wrapper container">
        <div class = "row">
            <div class = "col-4">
                {{> beerPartial}}
            </div>
        </div>
        </div>
           
        {{/each}}
  
