<div class="container">
  <div class="row">
    {{#each beers}}
    <div class="col-4">
      <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap ">
      <div class="card ">
        <div class="card-body ">

          {{this.name}} {{/each}}

        </div>
      </div>
    </div>