
<div class="index-container">

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="text-links" href="/">Home</a>
        <a class="text-links active" href="/Beers">Beers</a>
        <a class="text-links" href="/random-beers">Random Beer</a>
        </div>
      </div>
    </nav>
</div>


<div class="beers-container container-fluid">
  {{#each beers}}
    {{> BeerTemplate this}}
  {{/each}}
</div>

