<div class="center">
<div class="wrapper">
{{#each beers}}
 <div class='flex-item'>
   <div class="beer-img">
     <img src={{this.image_url}} alt="">
   </div>
    <div class="info">
      <h5>{{this.name }}</h5> 
      <h6>{{this.tagline}}</h6> 
      <p>{{this.description}}</p> 
    </div>
  </div>
{{/each}}
</div>
</div>