{{!-- On the beers.hbs view, loop over the beers array using 
the {{#each beers}} {{/each}} block helper. On every 
iteration, you should call a partial passing the info about each beer. --}}
<div>
  {{#each beers}}
    {{> beerPartial}}
  {{/each}}
</div>