
{{>beerPartial this}}

  {{#each beers}}
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ this.image_url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.description}}</p>
    </div>
  {{/each}}

</div>
