    <div class="beerContainer">
        {{#each beers}}
        <div class="eachBeer">
           <img src="{{ image_url }}" alt="" width="15%" height="80%" class="center">
            <h3 style="margin-top: 20px; font-family: Arial, Helvetica, sans-serif;">{{ name }}</h3>
            <h4 style="color:rgba(145, 145, 145, 0.603) ;margin-top: 5px;font-family: Arial, Helvetica, sans-serif;">{{ tagline }}</h4>
            <p class="descrip" style="margin-top: 15px; font-family: Arial, Helvetica, sans-serif;">{{ description }}</p>
        </div>
        {{/each}}
    </div>
