<div class="beers-container">
    {{#each beersList}}
    <div class="beers">
        <img src="{{image_url}}" alt="beer-img">
        <h1>{{name}}</h1>
        <span>{{tagline}}</span>
        <p>{{description}}</p>
    </div>
    {{/each}}
</div>