<ul>
    {{#each beers}}
        <li>
            <img src="{{image_url}}" alt="beer-photo">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <p>{{tagline}}</p>
        </li>
    {{/each}}
</ul>