<div class="container">
    <div class="row">
        {{#each beers}} 
        <div class="col col-lg-6 col-md-12 col-12 beer">  
            {{> beer this}}
        </div>  
        {{/each}}
    </div>
</div>