
<div class="container pt-4">
      <div class="row">
      {{#each beerData as |beers|}} 
        <li class="col beer-list">
          <div class="card pb-1 h-80" style="width: 20rem;">
            <img src={{beers.image_url}} class="card-img-top w-25 h-40 mx-auto pt-2" alt="...">
            <div class="card-body">
              <h3 class="card-title">{{beers.name}}</h3>
              <h5 class="card-text tagline">{{beers.tagline}}</h5>
              <p class="card-text beer-description">{{beers.description}}</p>
            </div>
          </div>
        </li>
      {{/each}}
      </div>
</div>