
{{#each myBeers}}
  {{> beersInfo}}
{{/each}}

{{!-- <div>
   <img src="{{myBeers[0].image_url}}" alt="">
   <h1>{{myBeers[0].name}}</h1>
   <h2>{{myBeers[0].tagline}}</h2>
   <p>{{myBeers[0].description}}</p>
</div> --}}