<section id="beers">
    <div class="beers-container">
        <div class="card-container">
            {{#each beers}}
                    {{> beerPartial}}
            {{/each}}    
        </div>
    </div>
</section>