 <h1>Son las cervezas</h1>

    <div class="row">

        {{#each beers}}
            {{>partial this}}
        {{/each}}
    </div>

    {{!-- {{#each playersToShow}}
        {{>playerCard this}}
        {{/each}} --}}