
<div id="cervezas" class="container">

  <div class="columns is-mobile is-multiline is-centered ">
    {{#each beers}}
    <div class="column is-4">
      {{> beersip this }}
    </div>
    {{/each}}
  </div>

</div>