<div id="beers">
{{#each beers}}
  <li>
    <img src={{this.image_url}} width="50px" height="200px">  
    <h3>{{this.name}}</h3>
    <h5>{{this.tagline}}</h5>
    <p>{{this.description}}</p>
  </li>
{{/each}}
</div>