{{!-- On each iteration calls the partial beerCard passing the info about each beer --}}
<div class="cards-container">
  {{#each blah}}
    {{> superman this}} {{!-- Partial call syntax; the partical calling syntax --}}
  {{/each}}
</div>