<div class:"card-container">
    {{#each beers}}
<div>
    <img src="{{this.image_url}}" alt="chela" width=10%>
    <h3>{{this.name}}</h3>
    <p>{{this.tagline}}</p>
    <p>{{this.description}}</p>
</div>
{{/each}}
</div>

