<link rel = "stylesheet" type="text/css" href="/stylesheets/styles.css">
<div class="beers-card">
{{#each beers}}
    {{this.image_url}}
    {{this.name}}
    {{this.tagline}}
    {{this.description}}
{{/each}}
</div>
