  <h2>Beers</h2>
  
  <ul>
    {{#each beers}}
    <li>
      <img src="{{this.image_url}}" />
      <h3>{{this.name}}</h3>
      <h4>{{this.tagline}}</h4>
      <p>{{this.description}}</p>
        
    </li>
    {{/each}}
  </ul>
  
  <a href="/">Back to Home</a> 