<!-- <div class = "beers">
<% beers.forEach((beer) => { %> 
  <div class="bier">
    <img class = "beer-images" src= <%= beer.image_url %> alt="Smiley face" height="42" width="42">
    <div> <%= beer.name %> </div> 
    <div> <%= beer.description %> </div> 
  </div> 
  
  <% }) %>
</div>
-->


<div class = "beers">
  <% beers.forEach((beer) => { %> 
    <%- include('partials/beerpartials', {beer}); %>
  <% }) %>
</div>