<div class="cards-container">
    {{!-- on appelle le contenu du partial beers --}}
    {{#each beers}}
    {{> beerPartial }}
    {{!-- on ajoute 2 infos en plus du partial beers : le food pairing et brewers tips --}}
    <h3> food pairing </h3>
    <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <strong> brewers tips </strong>
    <p> {{this.brewers_tips}}</p>
    {{/each}}
</div>