

 <div class="enchelado">
     {{#each beers}}
        <div class="chelas">
            {{> imagenChela this}} 
           {{> nombreChela this}}
           {{> taglineChela this}}
           {{> descripcionChela this}}
        </div>
        {{/each}}
    </div>


    