Beers
{{#each beers as |beer|}} 
    {{!-- <img src="{{this.image_url}}" alt="" >
    <div class="title">{{beer.name}}</div>
    <div class="tagline">{{beer.tagline}}</div>
    <div class="description">{{beer.description}}</div> --}}
    <div class="BeerPartial">
        {{>beerPartials }}
    </div>
{{/each}}

