<div class="container beers-container">
  <h1 class="is-size-1">Beers</h1>
  <div class="columns is-mobile is-multiline is-centered ">
    {{#each beers}}
    <div class="column is-4">
      {{> beerPartial this}}
    </div>
    {{/each}}
  </div>
</div>