{{!-- <div class="beers-container"> --}}
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="beer-cards">
    {{#each theList}} 
      {{> beerPartial this}}
      
      
    {{/each}}
</div>
{{!-- </div> --}}