<div class="container pt-5">
  <div class="col-12">
    <ul>
      <div class="row">
      {{#each items as |item|}}
      {{!-- <li>{{> beerPartial }}</li> --}}
        <li class="col beer-list">
          <div class="card pb-2 h-100" style="width: 18rem;">
            <img src={{item.image_url}} class="card-img-top w-25 h-25 mx-auto pt-2" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <h6 class="card-text tagline">{{item.tagline}}</h6>
              <p class="card-text">{{item.description}}</p>
            </div>
          </div>
        </li>
      {{/each}}
      </div>
    </ul>
  </div>
</div>

