<div class="beers-collection">

    {{#each beers}}
    <div class="eachBear">
        {{> beerPartials}}
        {{!--this extra </div> closing tag, because it opens in beerPartials --}}
    </div>
</div>
{{!-- {{log .}} --}}
{{!-- it's the same - this and dot . --}}
{{!-- {{log this}} --}}
{{/each}}

</div>
{{> footer}}