<div class="container players">
    <h1>Estas son las cervezas de los no alcoholicos Ironhackers</h1>

    <div class="row">

        {{#each beers}}
        {{>beerPartial this}}
        {{/each}}
    </div>
</div>