
{{#each beers}} 

<div class='row'>
    {{!-- Column --}}
    <div class='col'>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{this.description}}</p>
  </div>
</div>
    </div>
</div>
{{/each}}