<div class="index-container">
 <div class="container-images">
   <div class="images-beers" >
        {{#each beers}} 
            {{> beerPartial this}}
         {{/each}}            
   </div> 
 </div> 
</div>