<div>
  {{#each beers}}
<div id="beers">
<div>
  <img src="{{ image_url}}" width "100" alt="">
<div>

</div>  
  Name: {{ name }}
  Tagline: {{ tagline }}
</div>

<div>
  Description: {{ description}}
</div>

</div>
  {{/each}}
</div>