<div class="index-container">
  <a href="/home">Home</a>
  <a href="/beers">Beers</a>
  <a href="/randomBeers">Random Beers</a>
</div>


<div class="beers-container">

  {{#each this}}
  {{>beerPartial this}}
  {{/each}}
</div>
<div class="footer"> Develop by Ironhack ;)</div>