<div id="beers">
{{#each beers}}
  <li>
    <img src={{this.image_url}} width="100px" height="350px">  
    <h3>{{this.name}}</h3>
    <h5>{{this.tagline}}</h5>
    <p>{{this.description}}</p>
  </li>
{{/each}}
</div>