<div class="index-container">
  
  <img src="./images/beer.png" class="image"></img>
 
  <button href="/beers.hbs" class="button">Check the Beers!</button>

  <button href="/random-beers.hbs" class="button">Check a Random Beer</button>


</div>