<div class="centered-container">
  <img src="images/beer.png" alt="Glass of beer" class="main-page-img" />
  <button> <a href='/beers'>Check teh beers</a> </button>
  <button><a href='/beers'>Random beer</a></button>
</div>
