extends layout

block content
  div(class='info-container') 
    div(class="img-container")
      img(src="/images/beer.png", alt="a beer")
    div(class="button")
      a(href="/beers") Check the Beers!
    div(class="button")
      a(href="/random-beers") Check a Random Beers!