<img class="home-beer-image" src="/images/beer.png" alt="beer pic">

<button class="button-home"><a href="/beers">Check the Beers!</a></button>
<button class="button-home"><a href="/random-beers">Check a Random Beer!</a></button>