<div class="index-container">
    <h1>Home</h1>
</div>

<img src="/images/beer.png" alt="beer">

<a href="/beers" class="navbar-brand button">Check the beers</a>
<a href="/randombeer" class="navbar-brand button">Check a random beer</a>

