<div class="index-container">
<% include partials/navbar.ejs %>
</div>
<section>
  <img src="./images/beer.png" alt="Beer" srcset="">
  <a href="/beers">Check the beers!</a>
  <a href="/random">Check a Random beer! </a>
 </section>