    <div class="beerImage">
        <img class="beerImage" src="images/beer.png">
    </div>
    <div class="buttons"> 
        <button><a href="/beers">Check the Beers!</a></button>    
        <button><a href="/random-beers">Check a random Beer!</a></button>
    </div>
