<div class="index-container">

  <div class="beer-image">

    <img src="/images/beer.png" alt="">

    <a class="btn" href="/beers">Check the beers!</a>
    <a class="btn" href="/random-beers">Chek the random bee!r</a>


  </div>


</div>