
<div class="index-container">
  <div>
    <img class="cbo" src="/images/beer.png" alt="Beer pic">
  </div>

    <button id="button1">Check the beers ! </button>
    <button id="button2">Check the random Beer !</button>

</div>