<div class="index-container">
  <div>
    <img class="imag" src="/images/beer.png" alt="beer">
  </div>
  <div class="center">
    <a href="/beers" class="btn btn1">Check out the beers</a>
    <a href="/random" class="btn btn1">Get a random beer</a>
  </div>
</div>