<div class="HomeContainer">
  <div class="HomeContainer__item">
    <div class="HomeContainer__image">
      <img src="../images/beer.png" />
    </div>
    <div class="HomeContainer__buttons">
      <a class="Button" href="/beers">Check the Beers!</a>
      <a class="Button" href="/random-beers">Check a random Beer!</a>
    </div>
  </div>
</div>