<div class="index-container">
  <img src="../images/beer.png">
  <a class="btn btn-primary d-block text-white" href="/beers">Check the Beers!</a>
  <a class="btn btn-primary d-block text-white" href="/random-beer">Check a Random Beer!</a>
</div>