<div class="index-container">
  
<img id= "chela" src="/images/beer.png" alt="">

<a href="/beers"><button type="button" class="btn btn-primary">Check the Beers!</button></a>

<a href="/random-beers"><button type="button" class="btn btn-primary">Check a Random Beer!</button></a>

</div>