<div class="index-container">
  {{!-- {{#each beers}}
  <p>{{this.name}}</p>
  {{/each}} --}}

  <img src="/images/beer.png" alt="">
    <a href="/beers">
  <button>
      Check the beers
  </button></a>
  <a href="/randombeer">
  <button>
      Check a random beer
  </button></a>
</div>