<div class="index-container">
  <img src= "images/beer.png" width = 22% height = 30%/>
  <a class = "button" href="/beers">
  <button>Check the Beers!</button>
  </a>
  <a class = "button" href="/randomBeers">
  <button>Check a Random Beer!</button>
  </a>
</div>