<div class="index-container">
  <img class="imgBeer" src="/public/images/beer.png">
  <button class="beer-button"><a href="/beers">Check the Beers!</a></button>
  <button class="random-beer-button"><a href="/random-beers">Check a Random Beer!</a></button>
</div>