<div class="index-container">
  <img src="/images/beer.png" alt="">
  <input class="btn btn-primary btn-lg" type="button" onclick="location.href='/beers';" value="Check the Beers!">
  <input class="btn btn-primary btn-lg" type="button" onclick="location.href='/random-beer';" value="Check a Random Beer!">
</div>