<div class="index-container">

    <div class="text-center"><img class="image" src="images/beer.png" /></div>

    <div class="text-center button">
        <button type="button" class="btn btn-primary">check the beers!</button>
    </div>

    <div class="text-center button">
        <button type="button" class="btn btn-primary">check the random beer!</button>
    </div>

</div>



</div>