<div class="mainPage">

<div class="theBeer"><img src="images/beer.png"></div>

</div>

<div class="theBtn">
<button type="button" class="btn btn-secondary"><a href="/beers">Check the Beers!</a></button>
</div>
<div class="theBtn">
    <button type="button" class="btn btn-secondary"><a href="/random-beer">Check a Random Beer</a></button>
</div>









{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html> --}}

{{!-- <div class="index-container">
  
</div> --}}