<div class="index-container">
  <div class="card" style="width: 100px">
    <img class="card-img" src="/images/beer.png" alt="card image cap">
  </div>
  <div class="card-body">

      <a href="/beers" class="btn btn-primary">check the beers</a>
      <a href="/random-beers" class="btn btn-primary">check a random beer</a>
    </div>

</div>
