  <div class="container index-container">
    <div class="mx-auto">
      <img src="/images/beer.png" alt="beer">
    </div>
    <div class="mx-auto">
        <a href="/beers"class="btn btn-primary">Check the Beers!</a>
    </div>
    <div class="mx-auto">
        <a href="/random-beers" class="btn btn-primary">Check a random beer!</a> 
    </div>
  </div>

 