<div class="index-container">
  <img id="beer" src="/images/beer.png" alt="">
  <a href='/beers'><button>Check the beers!</button></a>
  <a href='/random'><button>Check a random beer</button></a>
  

</div>