<h1>index.hbs</h1>
<div class="text-center">
  <img src="images/beer.png"
        class="rounded mx-auto d-block"
        class="img-fluid" alt="Responsive image"
        alt="Imagen de cerveza" width="297" height="298">
  <br>
  <br>
  <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
  <br>
  <br>
  <a class="btn btn-primary" href="/randomBeers" role="button">Check a Random Beer!</a>
  <br>
</div>
