<div class="index-container">
  <div class="container">
      <img src="/images/beer.png" alt="Una cerve">
  </div>
  <div class="container">
    <a class="btn btn-primary" href="/beers">Check the Beers!</a>
  </div>
  <div class="container">
      <a class="btn btn-primary" href="/random-beers">Check a Random Beer!</a>
  </div>
</div>