<div class="index-container">
  <img src="images/beer.png" alt="Beer" /><br><br>
  <a href="/beers" class="btn btn-primary">Check the beers</a><br><br>
  <a href="/random-beer" class="btn btn-primary">Check a random beer</a>
</div>
