<nav class="style">
    <ul class="menu">
        <li><a href="#">Home </li>
        <li><a href="#">Beers</li>
        <li><a href="#">Random Beer</li>
    </ul>
</nav>
<title>My first view</title>
<img src="./images/beer.png">
<h1>Ironhacker Be Like</h1>