<div class="card-container">
  <div class="card" style="width: 18rem;">

    <img src="./images/beer.png" />
    <a href="/beers" class="btn btn-primary">Check the Beers!</a>
    <a href="/random-beers" class="btn btn-primary">Check the random Beers!</a>

  </div>

</div>