<div class="index-container">
  <img src="/images/beer.png" alt="">
  <a href="/beers" class="btn btn-primary">Check the Beers!</a>
  <a href="/randomBeers" class="btn btn-primary">Check a random Beer!</a>

</div>