<div id="contenedor-cerveza">
    <img src="/images/beer.png" alt="cecwc">
   
</div>
 <button id="chechar-cerveza">Check the Beers!</button>
    </br>
<button id="cerveza-random">Check the Random Beer!</button>