<div class="index-container">
    <img src="/images/beer.png" alt="">
    <a href="/beers" class="btn btn-primary">Check the beers!</a>
    <a href="/randombeer" class="btn btn-primary">Check the a Random beer!</a>
</div>