<div class="index-container">
  <img class="" src="../images/beer.png">
  <a href="/beers" class="index-button">Check the Beers!</a>
  <a href="/random-beer" class="index-button">Check a Random Beer!</a>
</div>