<div class="index-container">
  
  <div class="beer-pic">
   <img src="/images/beer.png"  width="300" height="300" alt="Computer Hope">
  </div>
  <div>

      <a href="/beers" class="button">Check the beers!</a>
  </div>

  <div>
    <a href="/random-beers" class="button">Check a random beer!</a>

  </div>
  
</div>