<div class="index-container">
  <a href="/home">Home</a>
  <a href="/beers">Beers</a>
  <a href="/randomBeers">Random Beers</a>
</div>
<div class="nav-beer">

  <img src="/images/beer.png" alt="" class="img-beer">
  <button class="button-beers">Check the Beers!</button>
  <button class="button-beers">Check a Random Beer!</button>
</div>

<div class = "footer"> Develop by Ironhack</div>