<div class="index-container">
    <div class="center">
        <img src="/images/beer.png" alt="">
    </div>
    <div class="center">
        <a href="beers" class="myButton">Check the Beers!</a>
        <a href="random-beers" class="myButton">Check Random Beer!</a>
    </div>
</div>