<div class="container">
    <img src="/images/beer.png" class="img-fluid my-3" alt="beer image" width="30%">
    <div class="container button-div"><a href="/beers" class="btn btn-primary btn-m active" role="button" aria-pressed="true">Check the Beers!</a>
    <a href="/randombeer" class="btn btn-primary btn-m active" role="button" aria-pressed="true">Check a Random Beer!</a>
    </div>
</div>