<div class="index-container">
 <img class="imgcerveza" src="./images/beer.png" alt="">
</div>

{{!-- {{#each btn }}
    {{}}
{{/each}} --}}

<a href="/beers" class="btn">Check the Beers!</a>
<a href="/random-beer" class="btn">Random Beer</a>