
    <div class="index-container col d-flex justify-content-center align-self-center">
        <div>
            <div>
                <img class="beer" src="/images/beer.png">
            </div>
            <div class="beer-check">
                <a href="/beer" class="btn btn-primary">Check the beers!</a>
            </div>
            <div class="random-beer-check">
                <a href="/random-beer" class="btn btn-primary">Check a random beer!</a>
            </div>
        </div>
    </div>
