<div class="index-container">

    <img class="hola" src="/images/beer.png" alt="">
 
</div>

   <div class="botones">
        <button class="beer"> <a class="blanco" href="/beers">Cheeck the beers</a></button>
        <button class="beer"> <a href="/randombeers">check a ranndom beer</a> </button>
    </div>