<div class="index-container" id="content">
  <div class="card-body">
    <img src="images/beer.png" height="250px" width="250px">
  </div>
  {{!-- Buttons --}}
  <a href="/beers">
    <button type="button" class="btn btn-primary">Check the Beers!</button>
  </a>
  <a href="/random-beer">
    <button type="button" class="btn btn-primary">Check a Random Beer!</button>
  </a>
</div>
