<div class="index-container">
    <div>
        <img src="/images/beer.png" alt="beer" id="comicbeer">
    </div>
    <div>
        <button onclick="window.location.href = '/beers';">Check the Beers!</button>
    </div>
    <div>
        <button onclick="window.location.href = '/randombeer';">Check a Random Beer!</button>
    </div>
</div>
