<div class="index-container container">
    
    <div class="">
        <div class="index-padding">
            <img class="center-block img-index" src="images/beer.png" alt="">
        </div>
        <div class="index-padding">
            <button type="button" class="btn btn-lg btn-primary"><a href="/beers">Check the Beers!</a></button>
        </div>
        <div class="index-padding">
            <button type="button" class="btn btn-lg btn-primary"><a href="/randomBeers">Check a Random Beers!</a></button>
        </div>
    </div>

</div>