<div class="mt-5 index-container d-flex justify-content-center align-items-center flex-column">
  <img src="/images/beer.png" alt="beer">
  <a href="/beers" class="btn btn-primary m-3 mt-5">
    Check the Beers!
  </a>
  <a href="random-beers" class="btn btn-primary mb-5">
    Check a Random Beer!
  </a>
</div>