<div class="index-container">
  <div class "container">
      <div class "row">
          <div class="col-12 d-flex justify-content-center align-items-center my-5">
          <img class="" src="images/beer.png" alt="beer"> <br>

          </div>
      </div>

      <div class "row" >
          <div class="col-12 d-flex justify-content-center align-items-center my-5">
          <form>
            <input class="btn-primary btn-sm" type="button" value="Check the beers!" onclick="window.location.href='/beers'" />
          </form>
          </div>
      </div>

      <div class "row">
          <div class="col-12 d-flex justify-content-center align-items-center my-5">
        <form>
            <input class="btn-primary btn-sm" type="button" value="Check the Random beers!" onclick="window.location.href='/random-beers'" />
          </form>
          </div>
      </div>

    
</div>
</div>