
<div class="imgandbeers rounded mx-auto d-block">
<img src="images/beer.png" alt="">


<div class="buttons">   
<button type="button" class="btn btn-primary">Check the Beers</button> <br>
<button type="button" class="btn btn-primary">Check a random Beer</button>
</div> 
</div>

