<div class="index-container">
    <div>
        <img class="beer" src="/images/beer.png">
    </div>
    <button type="button" class="btn btn-primary">Check the Beers!</button>
    <button type="button" class="btn btn-primary">Check a Random Beer!</button>
</div>