<div class="index-container">
    <div class="home">
        <img src='/images/beer.png'>
        <div class="buttons">
            <button type="button"><a href="./beers">Check the Beers!</a></button>
            <button type="button"><a href="./randombeers">Check a Random Beers!</a></button>
        </div>
    </div>
</div>