<div class="index-container">
  <div class="cartoon-beer">
    <img src="/images/beer.png" alt="cartoon beer">
  </div>
  <div class="btns">
    <a href="Check the Beers!"></a>
    <a href="Check a Random Beer"></a>
  </div>
</div>