<div class="index-container">
  <img class="image-index" src="/images/beer.png" alt="">
  
<form method="get" action="/beers">
    <button type="submit" class="btn">Check the beers!</button>
</form>

<form method="get" action="/random-beers">
    <button type="submit" class="btn">Check a random beer!</button>
</form>

</div>