
<div class="index-container">
    <div class="index-sub-group">
        <img src="images/beer.png" alt="Beer image" class="beer-size"><br>
    </div>
    <div class="index-sub-group">
        <button class="blue-button" onclick="window.location.href = `/beers`";>Check the Beers!</button>
        <br>
        <button class="blue-button" onclick="window.location.href = `/random-beer`">Check a Random Beer!</button>
    </div>
 </div>
 
 