
            <div class="index-container">
                <img src="/images/beer.png" alt="beer">
                <a class="btn" href="/beers" type="button">Check the Beers!</a>
                <a class="btn" href="/random-beers" type="button">Check a Random Beer!</a>
            </div>


