<div class="container">
  <img src="/images/beer.png" class = "beer-img" width="200" height= "300">
  <button type="button" class="btn btn-primary ">Check the beers</button>
  <button type="button" class="btn btn-primary ">Check a Random Beer</button>

</div>