<div class="index-container">

  <div class="beer">
    <img src="/images/beer.png" alt="">
  </div>

  <div class="buttons">

    <a class="btn btn-primary" href="/beers" role="button">Check the beers</a>

  </div>
  <div class="buttons">

    <a class="btn btn-primary" href="/random-beers" role="button">Check random beers</a>
  </div>

</div>