<div class="container">
  
  <div class="row">
    <div class="col d-flex justify-content-center p-5">
      <img src="/images/beer.png" alt="" width="200px" height="300px">
    </div>
  </div>

    <div class="row">
      <div class="col d-flex justify-content-center p-3">
        <a href="/beers"><button class="btn btn-success">Check The Beers</button></a>
      </div>
    </div>

    <div class="row"> 
      <div class="col d-flex justify-content-center p-3">
        <a href="/random-beers"><button class="btn btn-danger">Check The Random Beers</button></a>
      </div>
    </div>

</div>

