<div class="container">
    <img src="/images/beer.png" />
<div class="buttons">
        <button type="button" class="btn btn-primary btn-lg"><a href="/beers">Check the Beers!</a></button><br />
        <button type="button" class="btn btn-primary btn-lg"><a href="/random-beers">Check a Random Beer!</a></button>
</div>
</div>
