<div class="index-container">
  <div class="beer-image">
    <img src="/images/beer.png">
  </div>
  <div class="button">
    <div class="btn-beers"><a href="/beers"><button>Check the Beers!</button></a></div>
    <div class="btn-random-beers"><a href="/random-beers"><button>Check a Random Beer</button></a></div>
  </div>