<div class="index-container">

<ul>


<li><img src="/images/beer.png" alt="Beer cartoon"></li>
<li><button type="button" class="btn btn-primary btn-sm" onclick="getBeers()">Check the Beers!</button></li>
<li><button type="button" class="btn btn-primary btn-sm">Check a Random Beer</button></li>



</ul>
</div>