<div class="container">
  <img src="images/beer.png" alt="Beer placeholder">
  <div class="btn-block text-center">
    <a href="/beers" class="btn btn-primary">Check the beers!</a>
    <br>
    <a href="/random-beers" class="btn btn-primary">Check a random beer!</a>
  </div>
</div>