<div class="index-container">
    <div class="img">
        <img src="../images/beer.png" alt="">
    </div>
    <div class="button">
       <a class="btn light-blue bMa " href="beers" role="button">Beers</a>
       <a class="btn light-blue bMa " href="random-beers" role="button">Random Beers</a>

    </div>
  
</div>
