<div class="index-container">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Beers</a></li>
            <li><a href="#">Random Beer</a></li>
        </ul>
    </nav>
</div>
<div class="beer-div">
    <img src="images/beer.png" alt=""><br>
    <button id="beer">Check the Beer</button><br>
    <button id="random-beer">Check a Random Beer</button>
</div>
<footer>
    <h5>Develop by Ironhack </h5>
</footer>