<div class="index-container">
    <img data-src="images/beer.png" width="300" height="500" alt="" uk-img></br> </br>
    <a href="/beers" class="uk-button uk-button-primary">Check the beers</a></br></br>
    <a href="/random-beers" class="uk-button uk-button-primary">Check a random beers</a>
</div>