<div class="index-container">
  <img src="/images/beer.png" alt="Imagen cerve">
  <div ><a href="/beers">
  <button class="buts">Check the beers</button>
  </a>
</div>

<div >
    <a href="/randombeer">
  <button class="buts">Check a random beer</button>
    </a>
  </div>  
</div>