<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/styles.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row justify-content-center align-items-center minh-100">
            <div class="col-lg-12">
                <div>
                    <img class="mx-auto d-block" src="/images/beer2.png" alt="beer" width="30%" height="30%">
                </div>

                <div class="container">
                    <div class="col">
                        <div class="col text-center">
                            <button type="submit" name="beerButton" class="btn"><a href="/beers">Check the Beers!</a></button>
                            <button type="submit" name="randomButtton" class="btn"><a href="/random">Check a random Beer!</a></button>
                        </div>
                    </div>
                </div>

            </div>
    </div>
</div>

</body>
</html>

