<br><br><br>
<div class="index-container">
  <img src="/images/beer.png" class="rounded mx-auto d-block" alt="center-beer-image" id ="mainbeer">
</div>
<br><br>
<div class="row">
    <div class = "col-md-4 text-center">

    </div>
    <div class = "col-md-3 text-center">
        <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
        <br><br>
        <a class="btn btn-primary" href="/random-beers" role="button">Check a Random Beer!</a>
    </div>
    <div class = "col-md-4 text-center">

    </div>
</div>