<div class="container">
 <div class="row"><img class="center" src="/images/beer.png" alt="Beer" width= 30px height=80px padding=10px> </div>
  

 <div class="row"><a class="center text-white bg-primary" href="/beers">Check the Beers</a></div> 

  <div class="row"><a class="center text-white bg-primary" href="/random-beers">Check a Random Beer!</a></div>
</div>