<div class="index-container container">
  <img src="/images/beer.png" alt="Iron Beer">

  <a href="/beers" class="btn shadow-effect link">Check the beers!</a>
  <a href="/random-beer" class="btn shadow-effect link">Check a random beer!</a>
</div>