<div class="index-container">
  <img src="images/beer.png" alt="" class="featureBeer">
	<button class="clickButton button">Check the Beers!</button>
	<button class="clickButton button">Check a Random Beer!</button>
</div>