<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="index-container">
  <img src="/images/beer.png" alt="beer image">
  <div class = "button-container" id = "buttons">
      <button class ="button">Check the Beers!</button>
      <button class ="button">Check a Random Beef!</button>
  </div>
</div>    
</body>
</html>



