<div class="index-container">
    <div id="index">
        <img id="bigBeer" src="images/beer.png" alt="">

        <button class="btn" onclick="window.location.href='/beers'">Check the Beers!</button>
        <button class="btn" onclick="window.location.href='/random-beer'">Check a Random Beer!</button>

    </div>
</div>