<div class="index-container">

<div class="cartoon-beer">
<img src="/images/beer.png" width="300" height="300" />
</div>

<div class="check-button-1">
 <a href="/beers"> Check the beers!</a>
  </div>

  <div class="check-button-2">
 <a href="/random-beers"> Check a random beer!</a>
  </div>

  
</div>