<div class="index-container">
    <img id="beer-image" src="/images/beer.png" alt="beer.png   ">
    <a href="/beers" class="page-link">Check the beers</a>
    <a href="/random-beer" class="page-link">Check a random beer!</a>

</div>