<body>
<div class="container index-container">
  <div class="mainBeer">
    <img src="/images/beer.png" class="beerPic img-fluid mx-auto d-block" alt="Responsive image">
  </div>
  
  <div class="row">
    <button type="button" class="btn-lg mx-auto d-block">Check the Beers!</button>
  </div>
  
  <div class="row">
    <button type="button" class="btn2 btn-lg mx-auto d-block">Check a Random Beer!</button>
  </div>  
</div>

</body>
