<div class="index-container">

</div>

<div class="container-picture">
  <img class="beer-picture" src="images/beer.png">
</div>

<div class="container-buttons">
  <a href="/all-beers">
    <input id="button-beers" type="button" value="Check the Beers!">
  </a>
  <a href="/random-beers">
    <input id="button-random-beers" type="button" value="Check a Random Beer!">
  </a>
</div>