<div class="index-container">
  <img src="images/beer.png" alt="Beer Pint">
  <button class="btn btn-primary">Check Beers!</button>
  <button class="btn btn-primary">Check a Random Beer!</button>
</div>