<div class="index-container">
  <img src="images/beer.png" alt=""><br>
  <button id="beer" type="button"><a href="/beers">Check the Beers!</a></button>
  <button id="randomBeer" type="button"><a href="/randomBeer">Random Beers</a></button>
 </div>