<div class="index-container">
  <img src="images/beer.png" alt="beer" class="imgbeer">
  <button type="button" class="btn btn-primary shadow p-3 bg-white rounded" style="background-color: #2081C3 !important; color: white !important; width: 200px;">Check the Beers!</button>
  <br>
  <button type="button" class="btn btn-primary shadow p-3 bg-white rounded" style="background-color: #2081C3 !important; color: white !important; width: 200px;">Check a Random Beer!</button>
</div>