<div class="index-container">
    <img src="/images/beer.png" alt="beerimg">
    <a class="button" href="/beers">Check the Beers!</a>
    <a class="button" href="/random-beers">Check a random beer!</a>
</div>