<div class="index-container container">
    <div class="beer-pic">
        <img src="/images/beer.png" alt="Beer">
    </div>
    <div class="buttons">
        <a class="btn btn-primary" href="/beers">Check the Beers!</a>
    </div>
    <div class="buttons">
        <a class="btn btn-primary" href="/random-beer">Check a Random Beer!</a>
    </div>
</div>