<div class="d-flex flex-column align-items-center">
  <img class="w-25 my-5"  src="images/beer.png" alt="Beer">
  <button type="button" class="btn btn-primary btn-lg my-3"><a class="text-white" href="/beers">Check the Beers!</a></button>
<button type="button" class="btn btn-primary btn-lg my-3"><a class="text-white" href="/random-beers">Check a Random Beer</a></button>
</div>