<div class="index-container">
  <div class="beer-img"><img src="images/beer.png"></div>
  <div><button><a href="/beers">Check the Beers</a></button></div>
  <div><button><a href="/random-beers">Checka a Random Beer</a></button></div>
</div>

