<div class="index-container">
  <img src="/images/beer.png" alt="beer">
  <div class="btn">
    <a href="/beers">Check the Beers</a>
    <a href="/random-beers">Check the Random Beers</a>
  </div>
</div>