<div class="index-container">
  <p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, corporis! Voluptas, inventore magni incidunt, tempora eveniet dignissimos quidem possimus modi, nam expedita quasi quisquam a quis explicabo. Vel, consequuntur voluptates?
  </p>
</div>