<div class="index-container">
  <img src="images/beer.png" alt="beer" width="200px">
  <a href="/beers"><button>See all beers!</button></a>
  <a href="/randomBeer"><button>Check out a random beer!</button></a>
</div>