<div class="index-container d-flex flex-column align-items-center">
  <img src="images/beer.png" class="img">
  <div class="button-div">
    <a href="/beers" class="btn btn-primary btn-lg" tabindex="-1" role="button">Check the beers</a>
  </div>
  <div class="button-div">
    <a href="/random-beer" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Check a random beer </a>
  </div>
</div>