<div class="index-container">
    <img src="/images/beer.png" alt="beer">

    <div class="buttom">
        <a class="letter" href="/beers">Check the Beers!</a>
    </div>
    <div class="buttom">
        <a class="letter" href="/randomBeer">Check a Random Beer</a>
        
    </div>

</div>