<div class="index-container">
  <img src="/images/beer.png" width="300" style="
    padding-left: 140px;
    /* margin:  0 auto; */
">

</div>

  </br>
  <div class="buttons">
  <button class="buttonone" ><a href="/beers">Check the beers</a></button>
  <button class="buttontwo" ><a href="/random">Check a random beer</a></button>
  </div>