<div class="index-container">
  <img class="index-container__element beer-home-img" src="/images/beer.png" alt="">
  <a class="button index-container__element" href="/beers">Check the Beers</a>
  <a class="button button--green index-container__element" href="/random-beer">Check a Random Beer</a>
</div>