<img class="imageBeer" src="/images/beer.png" alt="beer" width="400" height="250">

<div class="index-container">
  <a class="uk-button uk-button-primary" href="/beers">Check the Beers!</a>
</div>
<div class="index-container">
  <a class="uk-button uk-button-primary" href="/random-beers">Check a Random Beer</a>
</div>