 
<div class="d-flex justify-content-center">
    <img src="/images/beer.png" class="card-img-center" style="width: 300px; height: 300px;" alt="beer">
   
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Check the Beers! <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Random Beer <span class="sr-only">(current)</span></a>
      </li>
      
        </div>
      </li>
      
    </ul>
    
  
</div>