<div class="index-container">
  <div><img class="imgBeer" src="images/beer.png" alt="beer"></div>
  <div><form action="http://localhost:3000/beers">
    <input   class="check-beers" type="submit" value="Check the Beers!" />
    </form></div>
 
 <div><form action="http://localhost:3000/random-beer">
    <input   class="check-random" type="submit" value="Check a Random Beer!" />
    </form></div>
 
</div>