<div class="container" id="beercontainer">
  <div class="col-md-12 align-self-center">
    <img src="images/beer.png" height="400">
    <a href="/beers" class="btn btn-primary">Check the Beers</a>
    <a href="/random-beers"class="btn btn-primary">Check a Random Beer</a>
  </div>
  
</div>