<div class="index-container">
    <img src="./images/beer.png" alt="beer">

    <button id="checkBeer" href="">Check the beers!</button>
    <button id="checkRandomBeer">Check a random beer!</button>
  
</div>