<title>home</title>


<div class="index-container">
<div class="beer-mug">
  <img class="beer-glass" src="/images/beer.png">
</div>
  
  
  <div class="flex-container btn-container"> 
  <button class="check-btn1" type="button" ><a href="/beers">Check the Beers!</a></button>
  <button class="check-btn2" type="button" ><a href="/random-beers">Check a Random Beer!</a></button>
  </div>

  </div>