<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="/images/beer.png" class="img-beer"/>
    <button class="check-beers" type="button">Check the Beers!</button>
    <button class="check-random" type="button">Check a Random Beer!</button>
</body>
</html>
















{{!-- <div class="index-container"> --}}
  
{{!-- </div> --}}