<div class="index-container">
</div>

<div class="img-container">
  <img src="/images/beer.png" alt="beer image">
</div>
<div class="button-container">
  <button>
    <a href="/beers">Check the Beers!</a>
  </button>
  <button>
    <a href="/random-beer">Check a Rondom Beer!</a>
  </button>
</div>