<div class="index-container">
    <img src="/images/beer.png" width="300" height="300">
    
    <div id = "Check-beers" class = "button">
        <a href="/beers">Check the Beers! </a>
    </div>
   
    <div id = "Random-Beer" class = "button">
        <a href="/random_beers">Check a Random Beer</a>
    </div>
   
</div>
