<div class="index-container">
  <img src="/images/beer.png" class="big-image" alt="Beer image">
  <a href="/beers" class="beer-button">Check the Beers!</a>
  <a href="/random-beers" class="beer-button">Check a random Beer!</a>
</div>