<div class="index-container">
  <img src="images/beer.png" alt="beer" height="60%">
  <button><a href="/beers">Check the Beers!</a></button>
  <button><a href="/random-beers">Check a random Beer!</a></button>
</div>