<div class="index-container">
  <div class="info">

    <img class="img-beer" src="images/beer.png" alt="beer-img">
    <a href="/beers"><button class="button">Check the Beers! </button></a>
    <a href="/random-beers"><button class="button">Check a random Beer!</button></a>

  </div>

</div>