<main class="container py-5">
  <img src="images/beer.png" class="d-block m-auto beer">
  <button type="button" class="d-block btn-class">Check the Beers!</button>
  <button type="button" class="d-block btn-class btn-class2" href="/beers">Check a Random Beer!</button>
</main>