<div class="index-container">
  <img id="beer-home" src="./images/beer.png" alt="beer-imgage">
  <button type="button"><a href="/beers">Check the Beers!</a></button>
  <button type="button"><a href="/random-beer">Check out a Random Beer!</a></button>
</div>