<div class="index-container">
  <div class="beer-img">
  </div>
  <div class="buttons">
    <button><a href="/beers">Check the Beers!</a></button>
    <button><a href="/random-beers">Check a Random Beer!</a></button>
  </div>
</div>