<div class="index-container">
    <img src="/images/beer.png" alt="beer">
    <button><a href="/beers">Check the Beers!</a></button>
    <button><a href="/randomBeer">Check a Random Beer!</a></button>
</div>