
<div class="index-container">
  <img class="beer-img"src="/images/beer.png" alt="">
</div>
<div class="buttons-container">
  <button type="button" class="btn-beer btn btn-primary">Check the beers!</button>
  <button type="button" class="btn-beer btn btn-primary">Check a random beer!</button>
</div>
