<div class="index-container">
  <div class="img-div">
    <img src="/images/beer.png" class="beer-img">
  </div>

  <div class="button-div">
    <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
  </div>
  <div class="button-div">
    <a class="btn btn-primary" href="/randomBeer" role="button">Check a Random Beer!</a>
  </div>
</div>