<div class="index-container">
  

  {{!-- include the **beer image**  --}}
 <img src="images/beer.png">

 {{!-- two buttons: --}}
  <a href="/beers">Check the Beers!</a>
  <a href="/random-beers">Check a random Beers!</a>

</div>