<div class="">
  <div class='mx-auto'>
    <img src="/images/beer.png"  class="rounded mx-auto d-block pt-5" width='35%'  class="img-fluid m-3 justify-content-center" alt="Responsive image">
 </div>
  <div class='container mx-auto p-5 d-flex justify-content-center'>
      <a href="/beer" class="btn btn-primary btn-lg active btn-align" role="button" aria-pressed="true">Beers</a>
  </div>
  <div class='container mx-auto p-2 d-flex justify-content-center'>
      <a href="/randomBeer" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">BeersRandom</a>
  </div>
</div>