<div class="index-container">
  <div class="botones-img">
  <img src="images/beer.png" class="beer-image img-responsive center-block" alt="beer">

    <a class="boton btn btn-primary" href="/beers" type="button">Check the Beers!</a>
    <a class="boton btn btn-primary" href="/random-beers" type="button">Check a Random Beer</a>
  </div>
</div>
