<div class="index-container">
	<img src="/images/beer.png" alt="chela">

	<div class="buttons are-medium">
		<a href="/beers" class="button is-info">Check the beers!</a>
		<a href="/ironbeers" class="button is-info">Check the Random beer!</a>
	</div>
</div>