<div class="index-container">
  <div class="card">
    <img class="beer-image" src="/images/beer.png"
        alt="beer image">
    <div class="beer-body">
        <div class="col">
            <div class="row justify-content-center">
        <a href="/beers" class="btn btn-primary">Check the beers!</a> 
        </div><div class="row justify-content-center">
        <a href="/random-beer" class="btn btn-primary">Check a random beer!</a>
        </div>
        </div>
    </div>
    </div>
</div>