  <div class="part-one-back">
    <img src="img/beer.png" id="intro-beer">
  </div>
  <div class="part-two-back">
    <div class="info-container">
      <h1>FRIDAY<br>IRON BEERS<br>IRONHACKERS</h1>
      <h5>FREE BLUE BEERS + VEGAN FOOD</h5>
      <button class="button-intro">TAKE A LOOK</button>
      <button class="button-intro random-button">RANDOM BEER</button>
    </div>
  </div>