<div class="index-container">
    <img src="/images/beer.png" width="250px" height="250px" style="margin-auto">
    <a class="btn" href="/beers" role="button">Check the Beers!</a>
    <a class="btn" href="/random-beers" role="button">Check a Random Beer!</a>
</div>