<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 <div class="index-container">
   <img class="beerpic" src="images/beer.png" alt="beerpic">
</div>
   <button id="buttonbeer">Check the Beers!</button>
   <button id="buttonrandombeer">Check a random Beer!</button>
</body>
</html>
