<div class="index-container col">
	<h2>Home</h2>
	<img src="/images/asahi.jpg" alt="" height="300px">
	<hr>
	<a href="/beers" class="btn btn-primary btn-lg">Check the beers</a>
	<a href="/random-beer" class="btn btn-primary btn-lg">Random beer!</a>

</div>