<div class="index-container">
   <section>
        <img src="./images/beer.png" alt="">
    </section>
    <section>
        <a href="/beers">Check the Beers!</a>
        <a href="/randomBeer">Check a Random Beer!</a>
    </section>
</div>

      