<div class="index-container">
  <img class="beer-icon" src="images/beer.png">
</div>
<div class="index-buttons1">
  <a class="btn btn-primary" href="/beers" role="button">Check the Beers</a>
</div>
<div class="index-buttons2">
  <a class="btn btn-primary" href="/random" role="button">Choose a Random Beer</a>
</div>