<div class="index-container">
    <div class="content">
        <img src="/images/beer.png" alt="beer" class="mainImg"/>
        <button class ="indexLinks">Check the Beers!</button>
        <button class="indexLinks">Check a random beer!</button>
    </div>
</div>
