<div class="index-container">
<img src="/images/beer.png" alt="Beer">
</div>
<div class="index-container aButtom">
    <a href="/beers" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true">Check the Beers!</a>
</div>
<div class="index-container aButtom">
        <a href="/random" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true">Check aRandom Beer!</a>
</div>