<div class="index-container">
  <img id="beer" src="images/beer.png" alt="beer">
  <a class="btn" href="/beers">Check the Beers!</a>
  <a class="btn" href="/random-beers">Check a Random Beer</a>
  
</div>