<div class="div-beer-picture">
  <img class="beer-picture" src="/images/beer.png">
  <form>
    <input class="random-beers-button" type="button" value="Check a Random Beer!" onclick="window.location.href='/random-beers'"
    />
  </form>
  <form>
    <input class="random-beers-button" type="button" value="Check The Beers!" onclick="window.location.href='/beers'" />
  </form>
</div>