<div class="index-container">
    <div class="beer-img">

    <img src="/images/beer.png">
    </div>
    <div style="padding-left: 550px;">
       <button type="button"><a href="/beers"> Get All Beers</a></button> 
      <button type="button"><a href="/randombeer"> Get Random Beers</a></button>  


    </div>
  
</div>