<!-- index.hbs -->
<div class="beer-image-container">
    <div class="card" style="width: 10rem">
        <img class="beer-img-" src="images/beer.png" alt="Beer ">
    </div>
    <div class="button-class">
        <a type="button" class="btn btn-primary" href="/beers.hbs">Check the Beers!</a>
        <a type="button" class="btn btn-primary" href="/random-beers.hbs">Get a Random Beer!</a>
    </div>


</div>