<div class="index-container d-flex flex-column">
  <img class="logo" src="/images/beer.png" alt="Beer" width="200" height="200">
</div>
<div class="button-align">
  <a class="btn btn-primary text-center" href="/beers">Check the Beers!</a>
</div>
<div class="button-align1">
  <a class="btn btn-primary text-center" href="/random">Check a Random Beer!</a>
</div>