<div class="index-container">
  <img src="./images/beer.png" class="beerIMg">
  <button class="btn1">
    <a href="beers">Check the beers!</a>
  </button>
  <button class="btn2">
    <a href="random-beers">Check a Random Beer!</a>
  </button>
</div>