<div class="index-container">
  <img style="width: 200px; height: 200px;" src="/images/beer.png">
</div>
<a class="be" id="check1" href="/beers">Check the beers!</a>
<br><br><br>
<a class="be" id="check" href="/randomBeers">Check a random beer!</a>