<div id="center-beer">
    <img src="/images/beer.png" alt="">
    <button id="btn-beer"><a href="/beers">Check the Beers!</a></button>
    <button id="btn-beer"><a href="/random-beers">Check a Random Beer</a></button>
</div>