<h1>home</h1>
<div class="container">
  <img class="beer" src="images/beer.png" alt="beer">
  <a id="beers-btn" class="button">Check the Beers!</a>
  <a id="random-btn" class="button">Check a Random Beer</a>
</div>