<div class="index-container">

    

    <div class="row justify-content-around">

        <div class="col-md-6">

            <div class="card">
                <img class="beer-img-top" src="/images/beer.png"
                    alt="Beer">
                
            </div>
        <div><a href="/Beers">Check the Beers</a>
                
                <a href="Random_Beer">Check a Random Beer</a>
        </div>
        </div>

    

    </div>

</div>
