<div class="index-container">
  <img id="beer" src="images/beer.png" alt="beer"/>
  <a class="btn btn-info" href="/beers" >Check the Beers!</a>
  <a class="btn btn-info"  href="/random-beers">Check a random Beer!</a>
</div>