<div class="index-container">
    <img class="beer" src="{{img}}"></img>
</div>
<div class = "button-checkTheBeers">
    <nav class="navbar fixed-bottom navbar-dark bg-primary" style="width:200px">
        <a class="navbar-brand" href="/beers">Check the Beers!</a>
    </nav>
</div>
<div class = "button-checkRandomBeers">
    <nav class="navbar fixed-bottom navbar-dark bg-primary" style="width:250px">
        <a class="navbar-brand" href="/random-beer">Check a Random Beers!</a>
    </nav>
</div>