<div class="index-container">
    <img src="/images/beer.png" alt="Beer" class="img">
    <div class="buttons">
        <a href="/beers" class="buttonStyle">Check the Beers!</a>
        <a href="/random-beers" class="buttonStyle">Check a Random Beer</a>
    </div>
</div>