<div class="index-container">
  <div>
    <img class="imgBeer" src="images/beer.png">
  </div>
  <div>
    <button type="button" class="btn btn-primary button-index">Check the Beers!</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary button-index">Check a Random Beer!</button>
  </div>
</div>