<div class="index-container">
  <img src="/images/beer.png" alt="">
  <a class="btn btn-primary" href="/beers" role="button">beers</a>
  <a class="btn btn-primary" href="/random-beers" role="button">random-beers</a>
  <a class="btn btn-primary" href="/single-beer" role="button">single-beer</a>
</div>