<div class="index-container">
  <img class="beer" src="/images/beer.png">
</div>
<div class="beers">
  <button class="button1" type="button">Check the Beers!</button>
  <button type="button">Check a Random Beer!</button>
</div>