<div class="index-container">
  <img src="{{ beer_image }}" alt="{{ beer_image }}">
  <a class="link-button" href="{{ beers }}">Check the Beers!</a>
  <a class="link-button" href="{{ random_beers }}">Check a Random Beer!</a>
</div>