<div class="index-container">
    <img src="/images/beer.png" alt="Beerglass">
    <div class="btn">
        <a href="/beers">Check the Beers!</a>
    </div>
    <div class="btn">
        <a href="/randomBeer">Check a Random Beer</a>
    </div>
</div>