<!-- index.hbs -->

<div class="index-container">
  
      
    <img class='logo' src="images/beer.png" >
    <div class="card-body">
      <a href="/beers" class="btn btn-primary">Check the beers!</a>
    </div>


    <div class="card-body">
      <a href="/random" class="btn btn-primary">Check a random beer!</a>
    </div>
 
  
  
  
  
</div>