<div class="index-container">

    <img src="{{this.image}}" alt="Beer Image" class="beerPic">
    <a href="/beers">
        <button class="btn">Check the beers</button>
    </a>
    <a href="/random-beers">
        <button class="btn">Check a random beer</button>
    </a>
</div>