<div class="index-container">
    <div class="center-container">
        <div class="imgs">
            <img src="/images/beer.png" alt="beer">
        </div>
        <div class="buttons">
            <a class="btn btn-primary" href="/beers" role="button">Check a Beers</a>
            <a class="btn btn-primary" href="/random-beers" role="button">Cheek a Random Beer</a>
        </div>
    </div>

</div>