<div class="index-container">

  <img src="/images/beer.png" alt="Beer">
  <button type="button" class="btn btn-primary" onclick="location.href='/beers'" >Check the Beers!</button>
  <button type="button" class="btn btn-primary" onclick="location.href='/randomBeer'">Check a Random Beers!</button>
</div>