<div class="index-container">
  <div class="my-image">
    <img src="/images/beer.png" alt="Giant Beer" height="350">
  </div>
  <div class="my-button">
    <a href="/beers" class="btn btn-primary">Check the Beers!</a>
  </div>
  <div class="my-button">
    <a href="/random-beers" class="btn btn-primary">Check a Ramdom Beer!</a>
  </div>
</div>