<div class="index-container">
    <img src={{image}} style="height: 50%; margin-left:40%; margin-top:5%">
    <div class="container d-flex justify-content-center py-5">
        <button class="btn btn-primary mx-5" onclick="window.location.href = '/beers';">Beers</button>
        <button class="btn btn-primary mx-5" onclick="window.location.href = '/random-beers';">Random Beers</button>
    </div>
</div>