<div class="container index-container">
  
  
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <figure class="figure p-3">
        <img src="/images/beer.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption text-right">beware of the high concentration of awesomeness</figcaption>
      </figure>
    </div>
    
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-4 m-3">
        <button type="button" class="btn btn-primary" id="checkbeers">Check the Beers!</button>
    </div>
    
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-4 m-3">
        <button type="button" class="btn btn-primary" id="checkrandom">Check a random beer!</button>
    </div>
    <div class="col-3"></div>
  </div>
</div>
