<div id="index">
    <img id="beerImg" class="" src="images/beer.png" alt="">
    
    <button class="buttonHome" onclick=location.href="/beers">check the beers!</button>
    <button class="buttonHome" onclick=location.href="/random-beer">check a random beer!</button>
    
</div>

