<div class="container">
  <img src="../images/beer.png" class="col-md-4 offset-md-4 mb-5 ">
  <div class="row">
    <a class="btn btn-primary mx-auto mt-4" style="background-color:#2081C3" href="/beers" role="button">Check the Beers!</a>
  </div>  
  <div class="row">
  <a class="btn btn-primary mx-auto mt-4" style="background-color:#2081C3" href="/random" role="button">Check a Random Beer!</a>
  </div>  
</div>
