<div class="index-container">
  <img src="/images/beer.png" class="img-fluid mx-auto d-block" alt="beer-img">
  <a href="/beers">
    <button class="btn btn-primary mx-auto d-block"> Check the Beers!</button>
  </a>
  <a href="/randomBeer">
    <button class="btn btn-primary mx-auto d-block"> Check a Random Beer!</button>
  </a>

</div>