<main class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-5 col-md-5 mx-auto">
        <img class="img-fluid" src="images/beer.png" alt="" srcset="">
      </div>
    </div>
    <div class="row mt-4 justify-content-center">
      <div class="col-4 text-center">
        <button class="btn btn-primary">Check the beers!</button>
      </div>
    </div>
     <div class="row mt-4 justify-content-center">
      <div class="col-4 text-center">
        <button class="btn btn-primary">Check a andom beer!</button>
      </div>
    </div>
  </div>
</main>