<div class="index-container">
    <img src="/images/beer.png" alt="beer">
    <a href="/beers"><button class="btn btn-beer">Check the beers</button></a>

    <a href="/randomBeer"><button class="btn btn-rdmBeer">Check a random beer</button></a>
</div>