
<div class="index-container justify-content-center">
  <img src="/images/beer.png" alt="IronBeer">
  <a href="/beers" class="btn btn-primary">Check Beers</a>
  <a href="/random-beer" class="btn btn-primary">Random Beer</a>


</div>