<div class="index-container">
  <img src="/images/beer.png">

</div>

<div class="button-class"> 

  <button><a href="/beers">Check the Beers!</a></button><br><br>
  <button><a href="/random">Check a Random Beer!</a></button>

  <footer>
      <h3>Develop by Ironhack ;) /Tony</h3>
  </footer>
</div>