<div class="index-container">
  <div class="image">
    <img class="beer" src="images/beer.png" alt="beer">
  </div>
  
  <div class="buttons">
    <button>Check the Beers!</button>
    <button>Check a Random Beer</button>
  </div>
</div>