<div class=" index-container ">
    <div class="container py-5"> 
        <img class="px-auto" src="../images/beer.png" alt="Beer-jar" style="width:35%" >
    </div>
    <div class="py-4">
        <a href="/beers" class=" btn py-3 px-4  button" role="button">Check the Beers!</a>
    </div>
    <div>
        <a href="/randomBeer" class=" btn py-3 px-4 button" role="button">Check a Rnadom Beers!</a>
    </div>
</div> 