<div class="index-container">

    <a  class="btn btn-outline-primary" href="/beers">Check da beers!</button>
    <a  class="btn btn-outline-primary" href = "/random-beers">Dios prooverá</button>
  
</div>

<img src="images/beer.png" alt="beer">