<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/starter_code/public/stylesheets/styles.css">
</head>
<body>

    <section class="inicio">
    <div class="imagen">
    <img src="images/beer.png">
    </div>
   <section class="buttons">
        <div class="btn-group-vertical" role="group" aria-label="Basic example">
            <a href="/beers">
            <button type="button" class="buttons btn btn-secondary">Check Beers!</button>
            </a>
            <a href="/random-beers">
            <button type="button" class="buttons btn btn-secondary">Check a Random Beer!</button>
            </a>
        </div>

    </section>
    </section>
</body>
</html>

