<div class="index-container">

  <img src="/images/beer.png">

  <div class="buttons">
    <form>
  <button id="button1"><a href="/beers">Check the Beers!</a></button>
  <button id="button2"><a href="/random-beers">Check a Random Beer!</a></button>
  </form>
  </div>
  
</div>