<div class="index-container">
  <img src="/public/images/beer.png">
  <button class="beer-button" href="/beers">Check the Beers!</button>
  <button class="random-beer-button" href="/random-beers">Check a Random Beer!</button>
</div>