<div class="index-container">
  <img src="/images/beer.png" class="rounded mx-auto d-block" alt="beer" width=400>
  <button type="button" class="btn btn-primary">Check the Beers!
    <a href="beers">Check the Beers!</a>
  </button>
  <button type="button" class="">Check a Random Beer!
    <a href="randombeer">Check a Random Beer!</a>
  </button>
</div>