<div class="">
  <div class='mx-auto'>
    <img src="/images/beer.png"  class="rounded mx-auto d-block pt-5" width='35%'  class="img-fluid m-3 justify-content-center" alt="Responsive image">
 </div>
  <div class='container mx-auto p-5'>
      <button type="button" href="/beers" class="btn nav-link btn-primary align-bottom rounded mx-auto d-block shadow">Check the Beers!</button>
  </div>
  <div class='mx-auto p-3'>
      <button type="button" href="/randomBeer" class=" btn nav-link btn-primary align-bottom rounded mx-auto d-block shadow" >Check a Random Beer!</button>
  </div>
</div>