<div class="index-container row index">
  <div class="container-fluid items">
    <img src="/images/beer.png" height="400px" alt="beer-img"><br>
    <div class= 'row'><a href="/beers" class="btn">check the beers!</a><br>
    <a class="btn" href="random-beers">random beer</a></div>
  </div>
</div>