<div class="container">
    {{!-- <div class="card" > --}}
     <div>  
    <img  src="/images/beer.png">
    </div> 
    <div >
       <a href="/beers" class="btn btn-primary">Check the beers!</a>
    </div>
    <div >
       <a href="/random-beers" class="btn btn-primary">Check the random beers!</a>
    </div>
  {{!-- </div> --}}
</div>