<div>
  <div class="wrap-beer">
   <img src="/images/beer.png"><br>
   <p><button class="boton" id="chb">Check the Beers!</button></p><br>
   <p><button class="boton" id="chrb">Check Random Beer!</button></p>
  </div>
</div>

