<div class="index-container">
  <img class="index-img" src="images/beer.png" alt="Beer">

  <div class="index-links"><a href="/beers">Check the Beers!</a></div>
  <div class="index-links"><a href="/random-beers">Check a Random Beer!</a></div>
</div>