<div class="index-container">
  <img src="images/beer.png" alt="">
</div>
<div class="button">
  <button type="button" class="btn btn-primary mx-auto">Check the beers!</button>
  <button type="button" class="btn btn-primary mx-auto">Check a random beer!</button>
 </div>