<div class="container">
  <div class="flex-items"> 
    <img src="../images/beer.png" alt="" class="main-beer-image">
  </div>
  <div class="flex-items">
   <a href="/beers"> <button type="button" class="btn btn-primary background1">Check the Beers!</button></a>
  </div>
  <div class="flex-items">
    <a href="/random-beer"><button type="button" class="btn btn-primary background1">Check a Random Beer!</button></a>
  </div>
</div>