<div class="index-container">
    <img src="/images/beer.png" alt="">
</div>
<div class="div-btn">
    <a href="/beers" class="mx-auto btn-index"><button type="button" class="btn btn-primary">Check the Beers!</button></a>
    <a href="/randombeers" class="mx-auto btn-index"><button type="button" class="btn btn-primary">Check a Random Beers!</button></a>
</div>