<div class="index-container">
  <img id="beer" src="images/beer.png" alt="beer"/>
  <button id="btn-beer" ><a href="/beers">Check the Beers!</a></button>
  <button id="btn-random-beer"><a href="/random-beer">Check a Random Beer!</a></button>
</div>