<div class="index-container">
  <div class="image-box">
    <img src="images/beer.png" alt="A big beer">
  </div>
  <div class="buttons-box">
    <a href="/beers" class="btn">Check the Beers!</a>
    <a href="/random-beers" class="btn">Check a Random Beer!</a> 
  </div>
</div>