{{!-- <div class="index-container">
  
</div> --}}
<!DOCTYPE html>
<html lang="en">
{{!-- 
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  
</head> --}}

<body>

  <div>
    <img class="img-setup" src="./images/beer.png" alt="drawing of a glass full of beer">
  </div>

  <div class="justify-content-center">
    <button type="button">
      <a href="beers" class="btn button"> Check the Beers!</a>
    </button>
  </div>

  <div class="align-btn">
    <button type="button">
      <a href="randomBeer" class="btn button"> Check a Random Beer!</a>
    </button>
  </div>

</body>

</html>