<div class="index-container">
  <img src="/images/beer.png" alt="">
  <button onclick="location.href='/beers'">Check the Beers!</button>
  <button onclick="location.href='/random-beer'">Check a random Beer!</button>
</div>
