
<div class="mx-auto" style= "width: 400px" >
<img src="/images/beer.png"  alt="beer img"/>
</div>
<div class="mx-auto center">
<button type="button" class="btn btn-primary" href="/beers">Check the Beers!</button>
<button type="button" class="btn btn-primary" href="/random-beers">Check a Random Beer!</button>
</div>