<img src='{{this.photobeer.ruta}}' alt="Beer" width="300" height="400">

<button type="button" class="btn btn-primary btn-small"><a href="./beers">Check the Beers!</a></button>
<button type="button" class="btn btn-primary btn-small"><a href="/random-beers">Check a Random Beer!</a></button>


<style>

button{
  margin-bottom: 10px;
  align-self: center;
  width: 20%;
}

img{
  margin-left: 600px;
  margin-bottom: 20px;
  margin-top: 20px;
}

</style>