<div class="index-container">
  <div class="container ">
    <div class="row justify-content-center pt-4 pb-4">
      <img src="./images/beer.png">
    </div>

    <div class="row justify-content-center pt-4 pb-4">
      <a class="btn shadow" href="/beers" role="button">Check the Beers!</a>
    </div>

    <div class="row justify-content-center pt-4 pb-4">
      <a class="btn shadow" href="/random-beers" role="button">Check a Random Beer!</a>
      
    </div>

  </div>

</div>