<div class="index-container">

    <div class="container-index">
        <div class="box1">
            <img src="/images/beer.png" alt="img-beer" class="rounded mx-auto d-block">
            <button type="submit" class="btn btn-primary"><a href="/beers" class="btn-a">Check the Beers!</a></button>
            <button type="submit" class="btn btn-primary"><a href="/random-beer" class="btn-a">Check a Random
                    Beer</a></button>
        </div>
    </div>

</div>