<div class="index-container">
  <img src="/images/beer.png" alt="Drawn image of a beer">
  <br>
  <a href="/beers" class="btn-primary">Check the beers!</a>
  <br>
  <a href="/tandom-beers" class="btn-primary">Check a random beer!</a>
</div>