<div class="index-container">
  <img class="cartoonBeer" src="{{imageSrc}}" alt="">

  <div class="buttons">
    
    <a href="/beers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check the Beers!</a>
    </br>
    <a href="/random-beers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check a Random Beer</a>
  </div>
</div>