


{{!-- PARTE CENTRAL CON IMAGEN DE CERVEZA + 2 BOTONES --}}
<div class="index-container">
    {{!-- En la src, le metemos la constante declarada en app.js, que corresponde a la imagen --}}
    <img class="imgBeer" src="{{beerImage}}">
    <button class="button"><a href="/beers">Check the Beers!</a></button>
    <button class="button"><a href="/random-beers">Check a random Beer!</a></button>
</div>