<div class="index-container">

    <img src="/images/beer.png" width="340px" height="340px"/>
  
<button class="btn1"><a href="/beers">Check the Beers!</a></button>
<button class="btn2"><a href="/random-beers">Check a Random Beer!</a></button>
</div>