<div class="index-container">
  <img src="/images/beer.png" alt="beer">

  <br>
  <div class="row justify-content-center">
    <a href="/beers"><button class="button">Check the Beers!</button></a>
  </div>

  <div class="row justify-content-center">
     <a href="/random-beer"><button class="button">Check a Random Beers!</button></a>
  </div>


</div>