
<div class="index-container">
    <div class="row">
        <img src="/images/beer.png">
    <a class="btn btn-primary" href="/beers" role="button">Check the beers</a>
    <a class="btn btn-primary" href="/random-beers" role="button">Check a Random Beer</a>
</div>
</div>