<div class="index-container">
  <img class="beer-img" src="/images/beer.png">
    <div><a class="button" href="/beers">Click the Beers! </a></div>
    <div><a class="button" href="/random-beers">Check a Random Beer! </a></div>
</div>