<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/starter_code/public/stylesheets/styles.css">
  <title>Home</title>
</head>
<body>

    <img src="/starter_code/public/images/beer.png" alt="imagenPrin">
    <a href="./beers"><button id="beer">Check the Beers!</button></a>
    <a href="./random-beer"><button id="beerRandom">Check Random Beer!</button></a>

</body>
</html>

