<div class="index-container">
  <img src="images/beer.png" alt="">
</div>
<div class="buttons-container">
  <button type="button" class="btn btn-primary mx-auto">Check the Beers!</button>
  <button type="button" class="btn btn-primary mx-auto">Check a Random Beer!</button>
</div>