<div class="index-container">
    <figure>
      <img class='beer' src="/images/beer.png">
    </figure>
  <section id='btns'>
    <a href="/beers"><button>Check the Beers!</button></a>
    <a href="/randomBeer"><button>Check a Random Beer!</button></a>
</section>
</div>