
  <div class="container">
      <img src="/images/beer.png" width ="450px" alt="Beer">
      <div class="buttons">
          <button><a href="/beers"> Check the Beers!!</a></button>
          <button><a href="/randombeers">Check a Random Beer!!</a> </button>
      </div>
  </div>
