<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ironbeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
	<div class='beer-img'>
		<img src="./images/beer.png">
	</div>
	<div class="buttons">
		<button class="blue-white"><a class="but-beers" href="/beers">Check the Beers!</a></button>
		<button class="blue-white"><a class="but-rb" href="/random-beers">Check a random Beer</a></button>
	</div> 
  </body>
</html>

