<div class="text-center">

<br><br>
<p><img src="/images/beer.png" alt="Beer Mug" height="200"></p>
<br>
<a href="/beers"  class="btn btn-primary">Check the Beers</a><br><br>
<a href="/random-beers"  class="btn btn-primary">Random Beer
</a>

</div>