<div class="index-container">
    <div>
        <img src="/images/beer.png" alt="">
    </div>

    <button type="button" class="btn btn-primary">Check the beers!</button>
    <button type="button" class="btn btn-primary">Check a random</button>



</div>