<div class="first-section">
  <div class="info">
    <h1 id="text" class="display-4">Good beers,<br> good times!</h1>
    <hr class="my-4">
    <div>
      <a class="btn btn-primary btn-lg" href="beers" role="button">Beers</a>
      <a class="btn btn-primary btn-lg" href="random" role="button">Pick a random beer</a>
    </div>
  </div>
  <div>
    <img id="first-sec-img" src="images/beer3.jpg" alt="">
  </div>
</div>