<div class="container">

    <div class="imagen">
        <img src="images/beer.png" alt="">
    </div>
    <a class="btnB" href="/beers">Check the Beers!</a>
    <a  class="btnR" href="/randombeers">Check a Random Beer!</a>

</div>