{{!-- <link rel="stylesheet" href="stylesheets/styles.css"> --}}
<div class="index-container">
    <img class="img-beer" src="images/beer.png">
    <button class="navbar-toggler button-beer" type="button">
        Check the beers!
    </button>
    <button class="navbar-toggler button-beer" type="button">
        Check a Random Beer!
    </button>
</div>