

<div class="mug">
  <img src="/images/beer.png" alt="beer image">
</div>

<div class="buttons">
    <button class="btn btn-primary" type="button">Check the Beers!</button>
  <button class="btn btn-primary" type="button">Check a Random Beer!</button>
</div>
