<div class="index-container d-flex flex-column align-items-center mb-4">
  <img class="mt-5 pt-5 pb-3" src="/images/beer.png" alt="beer" id="beer-img">
  <a href="/beers" class="btn btn-primary m-2 shadow">Check the Beers!</a>
  <a href="/random-beer" class="btn btn-primary m-2 shadow">Check a Random Beer</a>
</div>