<div class="index-container">
  <h1>BEERS!!!</h1>
  <img src="./images/beer.png" alt="<Nikos Breakfast">
<a href= "/beers"><div class="btn btn-primary">Check the Beers!</div></a>

<a href= "/randomBeer"><div class="btn btn-secondary">Check a Random Beer</div></a>

</div>
 