<div class="index-container">

    <img class="logo" src="/images/beer.png" alt="">

    <div class="buttons">
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random Beers</a>
    </div>
</div>