<div class="index-container">
  <div class="image-container">
    <img src="/images/beer.png" alt="">
  </div>
  <div class="buttons-container">
   <a href="#" class="myButton">Check the Beers!</a>
   <a href="#" class="myButton">Check a Random Beers!</a>
  </div>
</div>
