<div class="index-container">
    <img src="images/beer.png" />
    <br>
    <button type="button" class="btn btn-primary"><a href="/beers" style="color: white">Check the Beers!</a></button>
    <button type="button" class="btn btn-primary"><a href="/random-beers" style="color: white">Check a Random Beer!</a></button>
</div>