<div class="index-container">
    <div class="img">
        <img class="img-beer" src="/images/beer.png">
    </div>
    <div class="btn">
        <a href="/beers">
            <button>Check the beers!</button>
        </a>

        <a href="/random-beers">
            <button>Check a random beer</button>
        </a>
    </div>
</div>