<div class="index-container">
    <img id="index-beer" src="/images/beer.png" alt="home beer">
    <button class="button check-beers-btn" onclick="window.location.href = `/beers`;">Check the beers!</button>
    <button class="button random-beer-btn" onclick="window.location.href = `/random`;">Check a random beer</button>

</div>