<div class="index-container">
  <img class="beer-image" src="/images/beer.png">

  <a class="beer-button" href="/beers">Check the Beers!</a>

  <a class="random-button" href="#">Check Random Beer</a>
</div>