<div class="{{name}}_container">
  <img src="/img/beer.png" alt="beer picture">
  <button type="button" class="btn btn-beer">Check the beers!</button>
  <button type="button" class="btn btn-rBeer">Check a random beer!</button>
</div>
