<div class="index-container">
  <img src="images/beer.png" alt="">
  <div class="index-buttons"> 
  <a href="/beers"><button>Check the Beers!</button></a>
  <a href="/randomBeer"><button>Check a Random Beer!</button></a>
  </div>
</div>