<div class="index-container">
  <img src="/images/beer.png" alt="">
  <button id="button-one">Check the Beers!</button>
  <button id="button-two">Check a Random Beer!</button>
</div>

<script src="/buttons.js"></script>