<div class="index-container">
   <center><img src="./images/beer.png" width="400px" style="margin-right: -100px;"/><br><br>
   <a href="/beers" class="btn btn-primary">Check the Beers!</a><br><br>
   <a href="/random-beers" class="btn  btn-primary">Check a Randome Beer!</a></center>
</div>