<div class="index-container">
  <img src="/images/beer.png" alt="">
  <a class="btn btn-primary" href="beers.hbs" role="button">beers</a>
  <a class="btn btn-primary" href="random-beers.hbs" role="button">random-beers</a>
  <a class="btn btn-primary" href="single-beer.hbs" role="button">single-beer</a>
</div>