<div class="index-container">
  <img src="images/beer.png" alt="Cervezas" id="beer">
  <a href="/beers"><button> The Beers</button></<a>
  <a href="/random-beer"><button> Random Beer</button></<a>
</div>