<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Document</title>
</head>
{{>nav}}

<body>

  <div class="index-container">
    <img id="beer" src="/images/beer.png" alt="beer" />
    <button id="checkBeers">
      <a href="/beers">Check the Beers!</a></button>
    <button id=" randomBeer">
      <a href="/random-beers">Check a Random Beer!</a></button>
  </div>
</body>
{{>footer}}

</html>