
<div class="index-container">
    <img src="/images/beer.png">
    <div>
    <div class="btn-group pt-3">
        <a href="/beers" class="btn btn-sm  btn-outline-secondary">Beers</a> 
    </div>
    <div class="btn-group pt-3">
        <a href="/random-beers" class="btn btn-sm  btn-outline-secondary">Random Beers</a> 
    </div>
    </div>

</div>
