<link rel="stylesheet" href="stylesheets/styles.css">


<div class="index-container">

  <img src="images/beer.png" alt="">

  
  <button><a href="/beers">Check the Beers!</a></button>
  <button><a href="/randombeer">Check a random Beer!</a></button>
  
  
</div>