<section class="index-container d-flex flex-column align-items-center">
  <img src="images/beer.png" alt="" class="beer">
  <a role="button" href="/beers" class="btn btn-primary">Check the beers!</a>
  <a role="button" href="/randombeer"  class="btn btn-primary">Check a Random Beer!</a>
</section>