<div class="index container">
    <img src="/images/beer.png" alt="Illustration of a mug with beer." /><br />
    <a href="/beers" class="btn btn-primary">Check the Beers!</a><br />
    <a href="/random-beer" class="btn btn-primary">Check a Random Beer!</a>   
</div>
