
<div class="index-container">
  
<a class="btn btn-primary" href="/beers" role="button">Check the beers</a>
<a class="btn btn-primary" href="/random-beer" role="button">Check random beers</a>

</div>