<div class="card text-center" style="width: 18rem;">
  <img class="card-img-top" src="beer.png" alt="Beer">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/beers" class="btn btn-primary">Check the beers!</a>
    <a href="random-beers" class="btn btn-primary">Check a random beer!</a>
  </div>
</div>