<div class="index-container">
  <img src="images/beer.png" alt="">
</div>
<div class="button">
  <a class="mx-auto" href="/beers"><button type="button" class="btn btn-primary">Check the beers!</button></a>
  <a class="mx-auto" href="/random-beers"><button type="button" class="btn btn-primary">Check a random beer!</button></a>
  
 </div>