<div class="index-container">
    <section class="main">
        <div class="container">
            <div class="img-container">
                <img src="images/beer.png" class="img-responsive" alt="beer comic">
                <div class="button-container">
                    <button id="btn-beer" class="btn btn-primary"><a href="/beers">Check the Beers!</a></button>
                    <button id="btn-random-beer" class="btn btn-primary"><a href="/randdom-beers">Check a Random Beer!</a></button>
                </div>
            </div>
        </div>
    </section>
</div>
