<div id="id">
    <img src="images/beer.png" alt="" id="images-beer">

</div>
<div id="general-button">
    {{!-- <div id="general-button-column"> --}}
        <button class="design-button" onclick="window.location.href='/beers'">Check the beers!</button>
        <button class="design-button" onclick="window.location.href='/random-beers'">check a random beer</button>
    {{!-- </div> --}}
</div>