<div class="index-container">

  <div>
    <img src="../images/beer.png">
    </div>

  <a href="/beers">Beers<button>Check Beers!</button></a>
  <a href="/randomBeer">Random Beer<button>Check a Random Beer!</button></a>

</div>