<div class="index-container">
    <div class="beer-img"><img src="/images/beer.png" alt="Logo"></div>
    <button><a href="/beers">Check the Beers</a></button>
    <button><a href="/random-beers">Check a Random Beer</a></button>
  
</div>