<div class="index-container">
  <img src="images/beer.png">
</div>
<div class="boton">
  <a class="btn btn-primary" href="/beers" role="button">Check the beer!</a>
</div>
<div class="boton">
  <a class="btn btn-primary" href="/random-beers" role="button">Check the random beer!</a>
</div>