<body>
<div class="container index-container">
  <div class="mainBeer">
    <img src="/images/beer.png" class="beerPic img-fluid mx-auto d-block" alt="Responsive image">
  </div>
  
  <div class="row">
    <a role="button" href="/beers" class="a1 btn-lg btn btn-primary mx-auto d-block">Check the Beers!</a>
  </div>
  
  <div class="row">
    <a role="button" href="/random-beers" class="a1 btn2 btn btn-primary btn-lg mx-auto d-block">Check a Random Beer!</a>
  </div>  
</div>

</body>
