<div class="index-container">
  <figure class="beer-image">
    <img src="../images/beer.png" alt="beer">
  </figure>

  <div class="beers-links">
    <a href="/beers">Check the Beers!</a>
    <a href="/random-beers">Check a Random Beer!</a>
  </div>
</div>