{{!-- {{> singleBeer}} --}}
<div class="index1">
    <div class="imgCenter">
        <img src="/images/beer.png" style="width: 50vh;" alt="Beer">
    </div>
    <div class="buttons">
        <form action="/beers">
            <input type="submit" value="Check the Beers!" />
        </form>

        <form action="/random-beers">
            <input type="submit" value="Check a random beer!" />
        </form>
    </div>

</div>