<div class="index-container">
<img src="/images/beer.png" alt="">
<button onclick="location.href='/beers'">check the beers!</button>
<button onclick="location.href='/random-beers'">check a Random</button>

</div>