

<div class="flex">
<div>
<img class="img-index" src="/images/beer.png" alt="">
</div>

    <br>
    <br>

<div>
<button class="button-index">Check the Beers!</button>
</div>
    <br>
    <br>
<div>
<button class="button-index">Check a Random Beers!</button>
</div>

</div>

<br>
<br>