<div class="index-container">
    <img src='/images/beer.png' alt='beer' class='beer-icon'>
    <a href='/beers' type='button' class='btn btn-beers'>Check the Beers!</a>
    <a href='/random-beers' type='button' class='btn btn-random-beer'>Check a Random Beer!</a>
</div>