<div class="index-container">
    <img src="/images/beer.png">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-primary">Primary</button>
</div>