<div class="index-container">
  <img src="./images/beer.png" alt="full-beer-glass" />
  <button type="button"><a href="./beers">Check the Beers!</a></button>
  <button type="button"><a href="./random-beers">Check a random beer!</a></button>
</div>