<div class="index-container">
    <div class ="beer-image">
        <img src="images/beer.png" alt="beer image">
    </div>
    <div class = "buttons">
        <a href="/beers" class="btn">Check the beers!</a>
        <a href="/random-beers" class="btn">Check a random beer!</a>
    </div>
</div>
