<div class="index-container">
    <div class="div-beer">
      <img src="/images/beer.png" alt="beer">
    </div>
    <div class="buttons">
        <a href="/beers">
        <button >
            Check the beers
        </button>
        </a>
        <a href="/random-beers">
        <button>
            Check a random beer
        </button>
        </a>
    </div>
</div>