<div class="index-container">
    <img src="/images/beer.png" width="200px" height="250px">  
    <button ><a href="/beers">Check the Beers!</a></button>
    <button ><a href="/random">Check a random Beer!</a></button>  
</div>
