<div clas="">
    <div class=" container m-auto d-sm-flex flex-column justify-content-center">
    <img class="imagen1" src="images/beer.png" alt="Jarra de Cerveza">
    <a href="/beers" class="btn btn-dark bg-primary">Check the Beers!</a>
    <a href="/random-beers" class="btn btn-dark bg-primary">Check a Random Beer.</a>
</div>
</div>