<div class="index-container">
    <div class="image">
        <img src="/beer.png" alt="beer">
    </div>
    <div class="btns">
         <button><a href="/beers">Check the Beers!</a></button>
        <button><a href="/random-beers">Check the Random Beer!</a></button>
    </div>
     
</div>