

<div class="index-container">
    <div class="content">
       <img src="/images/beer.png"> 
    </div>
    <div class="indexLinks">
        <button type="button"> Check the Beers !</button>
        <button type="button">Check a Random Beer!</button>
    </div>

</div>
