<div class="index-container">
    <img class="glass" src="/images/beer.png" alt="beer">
</div>
<div>
  <a class="btn btn-primary" href="/beers" role="button" style= "font-family: 'Arial, Helvetica, sans-serif';  margin-top:20px;">Check the Beers!</a>
</div>
<div>
  <a class="btn btn-primary" href="/random-beer" role="button" style= "font-family: 'Arial, Helvetica, sans-serif'; margin-top:20px;">Check the Random Beers!</a>
</div>