<div class="index-container">
    
  <div class="image-container">
      <img id="beerglass" src="/images/beer.png" alt="beer-mug">
  </div>
  <br>

<div class="beers">
<div class="beer1">
<a  class = "button" href="/beers">Click The Beers!</a>
</div>
<br><br><br>
<div class="beer2">
<a class = "button" href="/random">Click For Random Beer!</a>
</div>
</div>
</div>