<div class="index-container">
  <img src="/images/beer.png" class="beerHome">
  <div class="btn-container">
    <a href="/beers" class="btn btn-beer">Check the beers</a>
    <a href="/random-beers" class="btn btn-randomBeer">Check a random beer</a>
  </div>
</div>