<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>

<div class="index-container">
	<center>
		<img src="images/beer.png" width="33%"><br><br>
		<div>
			<button type="button" class="btn btn-primary">Check the Beers!</button><br><br>
			<button type="button" class="btn btn-primary">Check a Random Beer!</button>
		<div>
	</center>

</div>

</body>
</html>