<div class="beer-continer">
  <img class="images" src="/images/beer.png" alt="glass of beer">

</div>

<div class="beer-container">
  <h1>long life and prosper</h1>
  <img src="https://gph.is/2Mo3PLM">

</div>