<div class="index-container">
   <img class="beer-img" src="images/beer.png" alt="">
   <button> 
        <a href="beers">Check the beers!</a>
    </button>
    <button>
        <a href="randombeer">Check a Random Beer!</a>
    </button>
</div>