<div class="index-container">
  <img src="/images/beer.png">
  <button class="btn" onclick="window.location.href = '/beers';">Check the Beers</button>
  <button class="btn" onclick="window.location.href = '/random-beers';">Check a random Beer</button>
</div>