<!-- layout.hbs -->
<div class="index-container">

  <img class="beer-img"src="images/beer.png">
  <div class="btn-container">
    <button><a href="/beers">Check the Beers</a></button>
    <button><a href="/random-beers">Check a Random Beer!</a></button>
  </div>
  
</div>