<div class="index-container">
  <img class="imgBeer" src="{{beerImage}}">
  <button class="button"><a href="/beers">Check the Beers!</a></button>
  <button class="button"><a href="/random-beers">Check a random Beer!</a></button>
</div>