<div class="index-container">
  <img class="default-beer" src="./images/beer.png" alt="Default beer">
  <a class="btn" href="/beers">Check the Beers!</a>
  <a class="btn" href="/random-beers">Check a Random Beer!</a>
</div>
