<div class="index-container">
  <img width=300 src='/images/beer.png'>
  <br>
  <button class = "button" onclick='/beers'>Check the Beers!</button>
  <br>
  <button class = "button" onclick='/random-beer'>Check a Random Beer!</button>
</div>