<div class="index-container">
  <div class="cartoon-beer">
    <img src="/images/beer.png" alt="cartoon beer">
  </div>
  <div class="btn-container">
    <a href="#" class="btn">Check the Beers!</a>
    <a href="#" class="btn">Check a Random Beer</a>
  </div>
  <div class="footer">
    <h4>Developed by Ironhack ;)</h4>
  </div>
</div>