<div class="index-container">
  <div>
  <img src="/images/beer.png" alt="beer">
  </div>
  <div>
    <a href="/beers" class ="btn">Check the Beers!</a>
  </div>
  <div>
    <a href="/random-beers" class ="btn">Check a Random Beer</a>
  </div>
</div>