<div class="index-container">
    <img class ="beer-img rounded mx-auto d-block" src="/images/beer.png" />
    <button class="btn btn-primary" style="background-color:#2081C3" onclick="window.location='/beers'" type="submit">Check the Beers!</button>
    <button class="btn btn-primary" style="background-color:#2081C3" onclick="window.location='/random-beers'" type="submit">Check the Random Beers!</button>
</div>