<div class="home-page">
    <div class="beer-img">
        <img src="images/beer.png" alt="beer image">
    </div>
    <div class="check-btns">
        <div class="check-beers">
            <button><a href="/beers">Check the Beers!</a></button>
        </div>
        <div class="check-random-beer">
            <button><a href="/random-beers">Check a Random Beer!</a></button>
        </div>
    </div>
</div>

