<div class="index-container">
  <div id="bckg">
    <div id="chela-box">
      <img id="chela" src="/images/beer.png" alt="IRONCHELA">
      <a href="/beers">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Check the Beers!
        </button>
      </a>
      <a href="/random-beer">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Check a Random Beer!
        </button>
      </a>
    </div>
  </div>
</div>