<div class="index-container">
    <img src="/images/beer.png" alt="">
    <a href="/beers">
        <button>Check a beer</button>
    </a>
    <a href="/rendombeer">
        <button>Check a random beer</button>
    </a>
</div>