<div class="index-container">
    <div class = "imageMain"> 
        <img src="../images/beer.png" alt="beer.logo">
    </div>
    <div class = 'buttons'>
        <a href="beers"><button>Check the Beers!</button></a>
        <a href="randonbeer"><button> Check a Random Beer</button></a>
    </div>
</div>