
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iron Beers</title>
    <link rel="stylesheet" href="/lab-ironbeers/starter_code/public/stylesheets/styles.css">
    
</head>
<body>
    
<div class="index-container">
    <img src="/images/beer.png" alt="Beer-Image">
    <button>Check the Beers!</button>
    <button>Check the Random Beer!</button>
</div>    

</body>
</html>