<div class="index-container">
  
  <div class="container">
  <div class="mx-auto" style="width: 200px;">
      <img src="/images/beer.png" alt="" class="beer">
      </div>
      <div class="beerBtn">
          <a href="beers">
        <button type="button" class="btn btn-primary">Check the Beers</button>
        </a>
        </div>
        <div class="randomBtn">
            <a href="randomBeers">
        <button type="button" class="btn btn-primary">Check a random Beer</button>
        </a>
        </div>
  </div>
  </div>
  
</div>