<div class="index-container">
    <img class="beer-img" src="./images/beer.png" alt="Beer">
    <a href="/beers" class="index-btn" type="button">Check the Beers!</a>
    <a href="/random-beer" class="index-btn" type="button">Check a Random Beer!</a>
</div>