<div class="index-container">
  <div class="bigone">
    <div class="beer">
      <img src="/images/beer.png" alt="">
    </div>
    <div class="buttons">
      <div class="checkBeers">
        <a  href="/gallery" class="btn btn-primary grow">Check the Beers!</a>
      </div>
      <div class="randomBeers">
        <a  href="/about" class="btn btn-primary grow">Check a Random Beer</a>
      </div>

    </div>

  </div>

</div>
