<div class="index-container">

<img src="images/beer.png">

<div id = "buttons">
  
<div><a id ="button1" class="btn btn-primary" href="/beers">Check the Beers!</a></div>
<div><a id= "button2" class="btn btn-primary" href="/randomBeer">Get a Random Beer!</a></div>
</div>

</div>