<div class="index-container">

    <img class="beer" src="/images/beer.png">
    <div class="button">
       <a class="btn btn-primary btn-sm" href="/beers">Check the beers!</a>
    </div>
    <div>
        <a class="btn btn-primary btn-sm" href="/randomBeers">Check a random beer!</a>
    </div>
</div>