<div class="container d-flex align-items-center justify-content-center flex-column">

  <img class="img-setup" src="./images/beer.png" alt="drawing of a glass full of beer">
  <a href="beers" role="button" class="btn btn-primary"> Check the Beers!</a>
  <a href="/random-beer" role="button" class="btn btn-primary"> Check a Random Beer!</a>

</div>