<div class="index-container">
  <div class="d-flex justify-content-center">
    <img src="./images/beer.png" id="beerimg" alt="">
  </div>
  <div class="d-flex justify-content-center flex-column align-items-center">
    <a href="/beers" class="btn d-block">Check the Beers!</a>
    <a href="/random-beers" class="btn d-block">Check a Random Beer!</a>
  </div>
</div>