<div class="index-container">
 <img src="/images/beer.png" alt="">
 <button class="buttons" type="button">Check the beers</button>
 <button class="buttons" type="button">Check a random beer</button>
</div>