
<div class="index-container">
  <img src="/images/beer.png"height="300px" width= "300px"> 
  <br>
<a href="/beers"> <button> Check the Beers!</button> </a> 
<br>
 <a href="/random-beers"><button >Check a Random Beer!</button> </a> 
</div>
 