<div class="index-container">
  <img class="btn1" style="width: 40%" src='/images/beer.png'/>
  <button type="button" class="btn btn1 btn-primary"><a class="tag-a" href='/beers'>Check the Beers!</a></button>
  <button type="button" class="btn1 btn btn-primary"><a class="tag-a" href='/random-beers'>Check random beer</a></button>
</div>