<div class="index-container">
<img alt="Frothy beer mug" src="./images/beer.png">
<button type="button" class="btn btn-primary" src="/beers">
    <a href="/beers">Check Out the Beers!</a>
    </button>
<button type="button" class="btn btn-primary">
    <a href="/random-beers">Check Out a Random Beer!</a>
    </button>
</div>