<div class="cuerpo">
    <img height=400px; width=400px;  src="images/beer.png" alt="cartoon beer">
    
    <br>

    <button>Check the Beers!</button>
    <button>Check a Random Beer!</button>
  
</div>