<div class="background">
    <center>
        <img class="beer-mug" src="./images/beer.png" width="400px" style="margin-right: -100px;" />
        <br>
        <br>

        <button class="nav-btn" type="button" data-toggle="collapse" data-target="nav-bar-1-dark"> Check the Beers!</button>
        <br>
        <br>
        <button class="nav-btn" type="button" data-toggle="collapse" data-target="nav-bar-1-dark"> Check out a random Beer!</button>

</div>