<div class="container">
<div class="row">
   <div class="col-md-4 beer-pic">
   <img src="/images/beer.png">
   <a href="/beers"><button type="button" class="btn btn-primary">Check the Beers!</button></a>
   <a href="/randomBeer"><button type="button" class="btn btn-primary">Check a Random Beer</button></a>
  
 </div>
</div>
</div>