<div class="index-container">
  <img src="../images/beer.png" alt="beer image" class="beer-image">
  <button> <a href="/beers"> Check the beer </a> </button>
  <button><a href="/random-beer"> Check a Random Beer</a></button> 
</div>