<main class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-5 col-md-4 mx-auto">
        <img class="img-fluid" src="images/beer.png" alt="" srcset="">
      </div>
    </div>
    <div class="row mt-4 justify-content-center">
      <div class="col-4">
        <button class="btn btn-primary btn-block">Beers</button> <br/>
        <button class="btn btn-primary btn-block">Random beer</button>
      </div>
    </div>
  </div>
</main>