<div class="index-container">
  
  <div class="jumbo">
    <div class="container">
      <img src="/images/beer.png" alt="Beer">
      <button class="btn">Check the Beers!</button>
      <button class="btn">Check a random Beer!</button>
    </div>
  </div>


</div>