<div class="index-container">

    <img class="hola" src="/images/beer.png" alt="">
 
</div>

   <div class="botones">
        <a class="blanco" href="/beers"><button class="beer">Cheeck the beers</button></a>
        <a href="/randombeers"><button class="beer"> check a ranndom beer</button></a> 
    </div>