<div class="index-container">
    <img id="beer-pic" src="/images/beer.png">
    <br><br>
    <a href="/beers"><button>Check The Beers!</button></a>
    <br>
    <a href="/random-beer"><button>Check A Random Beer!</button></a>
</div>