<div class="index-container container">
  <div class="row d-flex justify-content-center text-center">
    <img src="/images/beer.png" alt="beer">
  </div>
  <div class="row d-flex justify-content-center text-center">
    <button type="button" class="btn btn-primary" style="background-color: #2081C3;"><a href="/beers">Check the Beers!</a></button>
  </div>
  <div class="row d-flex justify-content-center text-center">
    <button type="button" class="btn btn-primary" style="background-color: #2081C3;"><a href="/random-beers">Check a Random Beer!</a></button>
  </div>
</div>