<div class="index-container container centrar">
  <div class="col-md-12">
    <img src="/images/beer.png" alt="birra" class="imagen-birra">
  </div>
  <div><button type="button" class="btn btn-primary btn-lg btn-color"><a href="/beers" class="formateo">Check the Beers!</a></button></div>
  <div><button  type="button" class="btn btn-primary btn-lg btn-color"><a href="/random-beers" class="formateo">Check a Random Beer!</a></button></div>
  
  
  
</div>