<div class="index-container">
    
    <img class="home-page-image" src="/images/beer.png" />
    
    <section class="button-section">
        <button class="btn"><a href="/beers">Check the beers!</a></button>
        <button class="btn"><a href="/random-beers">Check a random beer!</a></button>
    </section>

</div>