<div class="index-container">
 <div class= "beer-info">
     <img class= "beerimg" src="images/beer.png">
     <div class="btns">
     <button>Check the beers!</button>
     <button>Check a random beer!</button>
     </div>
 </div>
</div>


