<div class="index-container flexlife">
  <img src = "/images/beer.png">
</div>
    <div class = "buttonflex">
    <a href = "/beers"><button>Check the Beers!</button></a>
    </div>
<div class = "buttonflex">
  <a href = "/randomBeers"><button> Check a Random Beer!</button></a>
</div>