
  <div class="index-container">
    <img src="/images/beer.png" alt="">
    <div id="btns">
      <a href='/beers'>
      <div class="btn-blue">
        Check the Beers!
      </div>
      </a>
      
      <a href="/randomBeer">
      <div class="btn-blue">
        Check a Random Beer!
      </div>
      </a>
    </div>
    
  </div>
