<div class="index-container">
    <img src="/images/beer.png" alt="beers">
</div>

<div class="buttonsBeer">
    <button><a href="/beers">Check the Beers!</a></button>
    <br>
    <button><a href="/beers">Check a Random Beer!</a></button>
</div>