<div class="index-container">
  <a class="btn btn-primary" href="/beer" role="button">Beer</a>
  <a class="btn btn-primary" href="/random" role="button">Random Beer</a>
  <br>
  <img src="/images/beer.png" alt="beer" height="100vw">
</div>