<div class="index-container">
    <img src="{{this.img}}">
    <div class="boton-container">
        <div class="boton"><a href="{{botonTo}}">Check the Beers!</a></div>
        <div class="boton"><a href="{{botonToRandom}}">Check the Random Beers!</a></div>
    </div>
</div>