<div class="index-container">
  <img src="/images/beer.png">
  <div class="buttons-index">
    <a class="btn btn-primary" href="/beer" role="button">Check the beers!</a>
    <a class="btn btn-primary" href="/random-beer" role="button">Check the random beers!</a>
  </div>
</div>