<div class="index-container">
    <div class="home">
   <img class="beer" src="/images/beer.png">
   

   <a href="/beers">Check the Beers!</a>
   <a href="/random-beers">Check a Random Beer!</a>
</div>
</div>