<div class="index-container">
    <img class="uk-card-body uk-width-large uk-align-center" data-src="images/beer.png" alt="beer" uk-img>

    <a href="/beers">
        <button class="uk-box-shadow-medium uk-border-rounded uk-align-center uk-button uk-button-primary uk-button-small">Check the beers!</button>
    </a>
    <a href="/random-beers">
        <button class="uk-box-shadow-medium uk-border-rounded uk-align-center uk-button uk-button-primary uk-button-small">Check a Random Beer!</button>
    </a>

</div>