<div class="index-container">
    <div id="content">
        <div id="beer">
            <img id="yellow-beer" src="images/beer.png">
        </div>
        <div class="button">
            <button id="check-btn"><a href="/beers">Check the Beers!</a></button>
        </div>
        <div class="button">
            <button id="random-btn"><a href="/random-beer">Check a Random Beer!</a></button>
        </div>
    </div>
</div>