<div class="main">
    <img src="images/beer.png" alt=""><br>
    <button id="beer"><a href="/beers">Check the Beer</a></button><br>
    <button id="random-beer"><a href="/random-beer">Check a Random Beer</a></button>
</div>