<div class="index-container">

  <figure>
        <img class="center" src="/images/beer.png" alt="beer">
  </figure>

  <div class="div-button">
        <button type="button" class="btn btn-primary">Check the Beers!</button>
  </div>

  <div class="div-button">
        <button type="button" class="btn btn-primary">Check a Random Beer! </button>
  </div>
  
  

</div>