<div class="container-fluid">
  <div class="container">
    <img src="/images/beer.png" alt="Beer image">
    <div>
      <a class="nav-link" href="/beers"><button type="button" class="btn btn-primary">Check the
          Beers!</button></a>
      <a class="nav-link" href="/random-beers"><button type="button" class="btn btn-primary">Check a Random
          Beer!</button></a>
    </div>
  </div>
</div>