<link rel="stylesheet" href="/stylesheets/index.css">
<div class="index-container">
    <div class="page-beers-container">
       <div class="content-wraps">
            <img src="/images/beer.png" alt="">
       </div>
       <div class="content-wraps">
            <button><a href="/beers">Check the beers</a></button>
            <button><a href="/randomBeers">Check a random beer</a></button>
       </div>
    </div>
</div>