<div class="index-container">
    <img src="/images/beer.png">

    <a href="/beers"> <button id="checkbeers">Check the Beers! </button></a>
    <a href="/random-beer"><button id="checkrandombeer">Check a Random Beer</button></a>
</div>