<div><img id="beer-image" src="images/beer.png" alt=""></div>
<div id="index-btn">
    <a href="/beers"><button>Check the beers!</button></a>
    <a href="/random-beer"><button>Check a Random beer</button></a>
</div>