<div class="index-container">
  <img src="images/beer.png" alt="Beer">
  <a class="waves-effect waves-light btn blue darken-3" href="/beers">Check the beers</a>
  <a class="waves-effect waves-light btn blue darken-3" href="/random-beers">Check a Random Beer</a>
</div>