<div class="index-container">
  <img src="/images/beer.png" class="beer-img" alt="Beer"/>
  <button type="button" class="beer-btn"><a href="/beers">Check the beers!</a></button>
  <button type="button" class="beer-btn"><a href="/random-beers">Check the random beers!</a></button>
</div>