<div class="index-container">
  <img class="beer-picture" src="/images/beer.png">

  <div class="buttons">

  <button class="check-button">Check the Beers!</button>

  <button class="check-button">Check a Random Beer!</button>

  </div>

</div>