<div class="index-container">
  <div class="text-center">
  <img src="./images/beer.png" class="rounded" alt="Beer" height="300" width="300">
</div>

<div class="form-row text-center">
    <div class="col-12 btn-class" >
       <a class="btn btn-primary btn-lg" href="/beers">Check the Beers!</a>
    </div>
    

    <div class="col-12 btn-class">
       <a  class="btn btn-primary btn-lg" href="/random-beers">Check a Random Beer</a>  
    </div>

    </div>

 </div>