<div class="index-container">

    <div class="container">
        <div class="flex-row">
            <div class="col-md-12">
                <img src="images/beer.png">
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-info" onclick="location.href = 'beers';">
                    Check the beers!
                </button>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-info" onclick="location.href = 'random-beer';">
                    Random beers
                </button>
            </div>
        </div>
    </div>
</div>