<div class="index-container d-flex justify-content-center flex-column align-items-center">
  <img src="/images/beer.png" alt="beer">
  <a class="btn" href="/beers">Check the beers</a>
  <a class="btn" href="/randomBeer">Check random beer</a>
</div>