<div class="index-container">
  <img src="/images/beer.png" alt="" id="beer-img">
  <a href="/beers" class="btn">Check the Beers!</a></li>
  <a href="/random-beers" class="btn">Check a Random Beer</a></li>
</div>