<div class="index-container">
    <div class="row justify-content-around">
        <div class="col-4">
            <img class="pint" src="/images/beer.png" alt="pint of beer">
            <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
            <a class="btn btn-primary" href="/random-beers" role="button">Check a Random Beer!</a>
        </div>
    </div>
</div>