<div class="index-container">
   <div>
     <img class="beerMug" src="/images/beer.png" alt="Glass of beer">
   </div>
    <div class="card-body">
      <ul class = "buttons">
      <li><a href="/beers" class="btn btn-primary">Check The Beers</a></li>
      <li><a href="/randomBeer" class="btn btn-primary">Check a Random Beer</a></li>
      </ul>
    </div>
    
</div>
    