<div class="index-container">
<img src="/images/beer.png" width=400>
<a href="/beers"><button type="button" class="btn btn-primary">Beers</button></a>
<a href="/random-beer"><button type="button" class="btn btn-primary">Random beer</button></a>
</div>