<div class="index-container">
  <img class="beer-index" src="/images/beer.png" alt="Beer">
  <div class="links-container">
    <a href="/beers">Check the beers</a>
    <a href="/random-beers">Check a Random Beer</a>
  </div>
</div>