<div class="index-container">
  
  <div id="homeBeer">
  <img src="/images/beer.png" alt="">
</div>
<div id="buttons">
  <button onclick="location.href='/beers'" type="button">Check the beer!</button>
  <button onclick="location.href='/randomBeer'" type="button">Check a random beer!</button>
</div>
</div>