<div class=container>
    <div class=row>
        <img src="/images/beer.png" alt="Beer jug">
    </div>
    <div class=col-6>
        <a class="check-beers" href="/beers" type="button">Check Beers</a>
    </div>
    <div class=col-6>

        <a class="check-random-beer" href="/random-beer" type="button">Check a Random Beer</a>
    </div>
</div>
</div>