
<div class= "main-container">
  <img src="images/beer.png" alt="" width="30%">
  <a href="/beers" class ="button-beer">Check the Beers!</a>
  <a href="/randomBeers" class ="button-beer">Check a random Beer!</a>

</div>  