

<div class="index-container">
  
<img src="/images/beer.png" alt="Beer" width="450" height="450">
<button type="button" class="btn btn-info"><a class="nav-item nav-link" href="/beers">Check the Beers!</a></button>
<button type="button" class="btn btn-info"><a class="nav-item nav-link" href="/random">Check a Random Beer</a></button>

</div>



