{{!-- <div class="index-container">
  <img id="beer" src="http://purepng.com/public/uploads/large/purepng.com-glass-of-beerbeeralcoholdrinkgerman-drinkglas-of-beer-231519339253ecsa5.png" alt="img-beer" class="rounded mx-auto d-block">
</div> --}}

<div class="container-index">
  <div class="box1">
    <img src="/images/beer.png" alt="img-beer" class="rounded mx-auto d-block">
    {{!-- <button type="submit" class="btn btn-primary d-flex justify-content-center"><a href="/beers" class="btn-a">Check the Beers!</a></button> --}}
    <button type="submit" class="btn btn-warning"><a href="/beers" class="btn-a">Check all the Beers!</a></button>
    <button type="submit" class="btn btn-warning d-flex justify-content-center"><a href="/random-beer" class="btn-a">Check a Random Beer!</a></button>
  </div>
</div>