<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="index-container">
        <img src="/images/beer.png" alt="beer">
        <br>
        <a href="/beers"><button type="button" class="btn btn-primary beers">Check the Beers!</button></a>
        <br>
        <a href="/random-beers"><button type="button" class="btn btn-primary random-beers">Check a Random Beer!</button></a>
    </div>
</body>
</html>

