<div class="index-container">
  <div>
    <img src="/images/beer.png">
  </div>
  <a href="/beers" type="button" class="btn">Check the Beers!</a>
  <a href="/random-beers" type="button" class="btn">Check a Random Beer!</a>
</div>