<div class="index-container">
    <br>

  <img id="tarro" src="/images/beer.png" alt="">
  <br>
  <br>

  <button onclick="window.location.href='http://localhost:3000/beers'" id="buttom1"  > Check the Beers!</button>
  <br>
  <button id="buttom2" onclick="window.location.href='http://localhost:3000/random-beers'"> Check a Randome Beer!</button>
  <br>

  

</div>