<div class="index-container">
  <img src="images/beer.png" alt="">

  <a href="/beers" class="btn btn-default">Check the Beers</a>
  <a href="/random" class="btn btn-default">Get Random Beer</a>

  {{!-- <button>Check the Beers</button>
  <button>Get Random beer</button> --}}

</div>