<div class="index-container">
  
  <img class = "anim-beer" src="/images/beer.png" alt="big beer">



  <button type="button" href="/beers" class="check">Check the Beers</button>
  <button type="button" href="/random-beers" class="check random">Check a Random Beer!</button>
</div>