<div class="index-container">
  <figure>
	  <img src="/images/beer.png" alt="beer">
  </figure>
  <div>
    <a class='btn btn-primary' href="/beers">Beers</a>
    <a class='btn btn-primary' href="/random-beers">Random Beer</a>
  </div>
</div>