<div class="index-container">
  <img src="images/beer.png">
  
    <button class="beer-button btn"><a href="#">Check the beers!</a></button>
    <button class="random-beer-button btn"><a href="#">Random beers!</a></button>
  
</div>