<div class="index-container">
  <div class="beerinfo">
    <img class="beerimg" src="/images/beer.png">
    <div class="buttons">
      <a href="/beers"><button>Check the beers</button></a>
      <a href="/random"><button>Random Beer</button></a>
    </div>
  </div>
</div>