<div class="index-container">
  <h1>Hola Ernesto</h1>
  <div class="container">
      <img src="/images/beer.png" alt="imagen de cerveza" class="image">
  </div>
  <div class="conteiner margin">
      <p uk-margin>
        <a class="uk-button uk-button-default" href="/beers">Check the beers!</a>
      </p>    
  </div>
  <div class="conteiner margin">
      <button class="uk-button uk-button-primary uk-border-rounded">Check a Random Beer!</button>
  </div>
</div>  