<div class="index-container">
  <img class="beer-home" src="images/beer.png" height="400px"/>
  <p > <a class="buttons" href="/beers"> Check the Beers! </a> </p>
  <p> <a class="buttons" href="/random-beers"> Check a Random Beer  </a> </p>
</div>