<div class="index-container text-center">
  <img class="beer" src="/images/beer.png" alt="">
  <div class="bton">
    <button><a href="/beers">Check the Beers!</a></button>
  </div>
  <div class="bton">
   <button><a href="/randomBeer">Check a Random Beer</a></button>
  </div>
</div>

