<div class="cerveza">
    <div class="center">
        <img src="/images/beer.png" alt="imagen de cerveza">
    </div>
    <div class="center">
        <button>
            <a  href="/beers">Check the Beers!</a>
        </button>

    </div>
    <div class="center">
        <button class="btn2"><a href="/random-beers">Check the Random Beer!</a></button>
    </div>
</div>