<div class="index-container">
  <img id="beer-home" src="./images/beer.png" alt="beer-imgage">
  <button type="button">Check the Beers!</button>
  <button type="button">Check out a Random Beer!</button>
</div>