<div class="index-container">

<img src="images/beer.png" alt="beer"> 
</div>

<button onclick="javascript:window.location.href='/beers'">Check the Beers!</button>
<button onclick="javascript:window.location.href='/random-beer'">Check a Random Beer!</button>