<div class="index-container">

<div class="container mx-auto">
  <img src="/images/beer.png" alt="">
</div>
<div class="container col-12">
  <a class="btn btn-primary lightblue" href="/beers" role="button">Check the Beers</a>
</div>
<div class="container col-12">
  <a class="btn btn-primary lightblue" href="/random-beers" role="button">Check a random Beer</a>
</div>
</div>