<link rel = "stylesheet" type="text/css" href="/stylesheets/styles.css">
<div class="index-container">
    <div class="beer-container">
        <img src="/images/beer.png" alt="Beer img">
        <button class="button">Check the Beers!</button>
        <button class="button">Check A Random Beer!</button>
  </div>
</div>