<div class="index-container">
  <img src="images/beer.png" width="400px"/>
</div>
<div class="div-button"><button class="button">Check the Beers!</button></div>
<div class="div-button"><button class="button">Check a Random Beer!</button></div>