<div class="index-container">
    <img src="/images/beer.png" alt="beer main">
    <div>
        <button class="index-button"><a href="/beers">Check the Beers!</a></button>
    </div>
    <div>
        <button class="index-button"><a href="/random-beers">Check a Random Beer!</a></button>
    </div>
</div>