<div class="container-fluid index-container">
 <img src="/images/beer.png" alt="Beer Mug">

 <br>
 <br>
 <br>

 <a class="btn btn-primary" href="/beers">Check out the Beers</a>
 <a class="btn btn-primary" href="/random-beer">Check out the Random Beer</a>
</div>