<!-- index.hbs -->

<div class="index-container">
    <div>
        <img src="/images/beer.png" alt="beer">
    </div>
    <div>
        <a href="/beers">Check the Beers!</a>
    </div>
    <div>
        <a href="/random-beers">Check Random Beer!</a>
    </div>
</div>