<div class="container">
  <div>

 <img class="img" src="/images/beer.png" alt="">

  </div>

</div>

<div class="index-container">
<ul class="buttonList">
 <li class="buttonAdjust"><button class="btn btn-primary"><a class="font"  href="/beers">Check the Beers</a></button> </li> 
 <li><button class="btn btn-primary"><a class="font" href="/random-beers">Check the Random Beers</button></a></li>

</ul>


</div>