<div class="index-container">
  <img src="/images/beer.png" alt="beer" >
  <a href="/beers" role="button" class="button beersbutton">Check the Beers!</a>
  <a href="/random-beers" role="button" class="button beerbutton">Check a Random Beer!</a>
</div>