<div class="index-container">

<img src="../images/beer.png" alt="beer-pic" id="index-image" class="index-item">

<button onclick="window.location.href='/beers';" class="btn index-item">Check the beers!</button>

<button onclick="window.location.href='/random-beers';" class="btn index-item">Check a random beer!</button>

</div>