<div class="index-container">
  <img src="images/beer.png">
  <a href="/beers" class="btn btn-blue btn-lg" tabindex="-1" role="button" aria-disabled="true">Check the
    beers!</a>
  <a href="/random_beer" class="btn btn-blue btn-lg" tabindex="-1" role="button" aria-disabled="true">Check
    a random beer!</a>
</div>