<div class="index-container">
  <image src="images/beer.png" style="margin:auto;margin-top:25px;">
  <div class="btns">
    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/beers'">Check the Beers!</button>
    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/randomBeer'">Check a Random Beer!</button>
  </div>
</div>
