<div class="index-container">
    <div class="index-image">
        <img src="images/beer.png">
    </div>
    <button type="button" class="btn btn-primary"><a href="beers">Check the Beers!</a></button>
    <button type="button" class="btn btn-primary"><a href="randomBeers">Check a Random Beer</a></button>
</div>