<div class="index-container">
  <img class="beerMug" src="/images/beer.png" />

  {{!-- <div class="button"> --}}
    <button>Check the Beers!</button>
    <button>Check a Random Beer!</button>
    {{!-- </div> --}}

</div>