<div class="container">
  <img src="images/beer.png" width='400' alt="">
  <button><a href="/beers">Check the beers!</a></button>
  <button><a href="/random-beers">Check a random beer!</a></button>
</div>