<div class="index-container container">

<img id="bigBeer" src="../images/beer.png" alt="" class="row">
<button onclick=location.href="/beers" id="beersButton" class="row">Check the Beers!</button>
<button onclick=location.href="/beerRandom" id="randomBeers" class="row">Check a random Beer!!</button>

</div>

