<div class="index-container">
    <img src="images/beer.png" alt="Beer">
    <div class="button-div">
        <button><a href="/beers">Check the beers</a></button>
        <button><a href="/random-beer">Check a Random Beer!</a></button>
    </div>
</div>
