<div class="container">
<section class="index">
  <figure>
    <figcaption>
      <img src="/images/beer.png">
    </figcaption>

      <a class="button" href="/beers">Check the Beers!</a>

      <a class="button" href="/random-beers">Pick a Random Beer</a>
  </figure>

</section>

  
</div>