<div class="index-container">
  <img src="images/beer.png" alt="" width="30%" height="30%">
  <div class="index-btns">
    <form action="/beers" method="get">
      <button class="btn-clean index-btn">Check out the beers!</button>
    </form>
    <form action="/randome-beers" method="get">
      <button class="btn-clean index-btn">Check out the randome beers!</button>
    </form>
  </div>
</div>