
<img src="/images/beer.png" alt="A beer" id="beer1">

<div>
    <a href="/beers"><button type="button" class="btn btn-primary btn-lg">Check the beers!</button></a>
</div>

<div>

    <a href="/randombeer"><button type="button" class="btn btn-primary btn-lg">Check a random beer!</button></a>

</div>