<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <img id="beer-img" src="/images/beer.png" alt="beer in a glass">
    <button id="checkBeer"><a href="/beers">Check the Beers</a></button>
    <button id="checkRandom"><a href="/random-beers">Check a random Beer</a></button>

    </div>
</body>
</html>