

<div class="index-container">
  <img src="./images/beer.png" alt="" height="200px;" width="200px;">

<div>
<a href="/beers" class = "btn"> Check the Beers!</a> <br>
<a href="" class = "btn"> Check for a Random Beer!</a>
</div>
  <div>
  {{#each beers}}
  hola
  {{/each}}
</div>
  
</div>
