<div class="index-container">
  <img class='beer-img' src="images/beer.png" alt="picture of a beer">
  <a href="/beers" class="btn beer-button1 btn-lg active" role="button">Check the Beers!</a>
  <a href="/random-beers" class="btn beer-button2 btn-lg active" role="button">Check a Random Beer!</a>
</div>