<div class="index-container">
    <div class="row flexbox">
        <div class="col-md-12 flexbox">
            <img src="images/beer.png" alt="" class="jarra">
        </div>
    </div>
    <div class="row flexbox">
        <div class="col-md-12 flexbox">
            <p>
                <a href="/beers" class="btn btn-primary my-2">Check the Beers</a>
                <a href="/random-beers" class="btn btn-primary my-2">Check a Radom Beer</a>
            </p>
        </div>
    </div>
</div>