<div class="index-container">
  <img src="/images/beer.png" alt="FOO">

  <input type="button" class="btn" value="Check the Beers!" onclick="window.location.href='/beers';"/>
  <input type="button" class="btn" value="Check a Random Beer!" onclick="window.location.href='/random-beer';"/>
</div>