<div class="index-container">
 <div class="beer-image"><img class="beer-icon" src="/images/beer.png" alt="beer"></div>
 <div class="button-center"><a class="beer-button" href="http://localhost:3000/beers">Check the beers</a></div>
 <div class="button-center"><a class="beer-button" href="http://localhost:3000/random-beer">Check a random beer</a></div>
</div>