<div class="index-container">
    <div>
        <image id="beer-img" src="./images/beer.png" height="300px"></image>
    </div>
    <div>
        <button class="btn" type="button" href="/beers">Check the beers!</button>
    </div>
    <div>
        <button class="btn" type="button" href="/random-beers">Check a random beer!</button>
    </div>
</div>