<div class="index-container">
  <div class="card" >
    <img class="beerpicture"src="/images/beer.png"
        alt="beerPicture">
        <br>
    <div class="card-body">
        <a href="/beers"><button class="button" href="{beers}">Check the Beers!</button></a>

      </div>
      <br>
      <div class="card-body">
          <a href="/random-beers"><button class="button">Check a Random Beer!</button></a>
    </div>
  </div>

</div>