<div class="container">
    <div class="row">
        <img src="/images/beer.png" class="img-fluid col-md-4 offset-md-4" alt="Responsive image">
    </div>
    <div class="row">
        <a class="btn text-white mx-auto mt-4" href="/beers" role="button" style="background-color: #2081C3;">Check the beers!</a>
    </div>
    <div class="row">
        <a class="btn text-white mx-auto mt-4" href="/random-beers" role="button" style="background-color: #2081C3;">Check a random beer!</a>
    </div>
</div>