

<div class="center">
  <div class="mug">
  <img src="/images/beer.png" alt="beer image">
</div>

<div class="button-wrapper">
    <button class="btn btn-primary" type="button"  onclick="window.location.href = '/beers';">Check the Beers!</button>
  <button class="btn btn-primary" type="button" onclick="window.location.href = '/random-beers';">Check a Random Beer!</button>
</div>

</div>