<div class="box-beer">
    <img class="img-beer" src="/images/beer.png" alt="jarra cerveza">
</div>
<div class="box-button">
    <a href="/beers">
      <button class="buttons" type="button">Check the Beers</button>
    </a>
</div>
<div class="box-button">
    <a href="/random-beer">
      <button class="buttons" type="button">Check a Random Beer</button>
    </a>
</div>


