<div class="index-container">


    <img src="./images/beer.png" id="index-img" alt="">
    <a href="/beers">
        <button class="btn-beers" id="beers">
            Check the Beers!
        </button>
    </a>
    <a href="/random-beers">
        <button class="btn-beers" id="random-beers">
            Check a Random Beer!
        </button>
    </a>

</div>