<div class="index-container">
  
  <div class="beer-block">
    <img height="280px"; src="images/beer.png">
  </div>

  <div class="button-block">
    <button>Check the Beers!</button>
    <button>Check a Random Beer!</button>
  </div>  

</div>