<div class="index-container text-center">
    <img src="/images/beer.png" width="400" class="cerve">
    <div class= "boton-beer">
        <button type="button" class="btn btn-primary">
            <a href="/beers">Check the Beers!</a>
        </button>
    </div>
    <div class= "boton-ran">
        <button type="button" class="btn btn-primary">
            <a href="/randomBeers">Check a Random Beers!</a>
        </button>
    </div>

</div>