<div class="d-flex flex-column justify-content-between align-items-center">
  <img width=300 height=300 src="images/beer.png" alt="Beers">
  <a class="btn btn-primary" href="beers" role="button">Check the beers</a>
  <a class="btn btn-primary" href="random-beers" role="button">Check a Random Beer !</a>
</div>
