<div class="index-container">
    <div class="cards-container">
        <div class="image">
            <img src="../images/beer.png" height="350px" width="350px">
        </div>
        <div class="cta">
            <a href="/beers" class="btn btn-primary">Check the Beers!</a>
            </br>
            <a href="/randombeer" class="btn btn-primary">Check a Random Beer!</a>
        </div>
    </div>
</div>