<div class="index-container">
  <img src="img/beer.png" class="rounded mx-auto d-block" alt="beer">
 <div class="centrar">
  <a href="beers" type="button" class="btn boton" type="button">Check the Beers!</a>

    <a href="randomBeer" type="button" class="btn boton" type="button">Check a Random Beer</a>
 </div>
  


</div>