<div class="index-container">
      <ul class ="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/random-beers">Random Beer</a></li>
      </ul>
</div>

<img src="images/beer.png" alt="">

<div class="buttons">
  <a href="/beers">
    <button id ="beers">Check the beers</button>
  </a>
  <a href="/random-beers">
    <button id ="random-beer">Check a random beer</button>
  </a>
  
</div>

{{> beerPartial}}