<div class="d-flex flex-column justify-content-between align-items-center div-home">
  <img src="./images/beer.png" alt="Giant Cup of Beer">
  <a href="/beers" id='a-home'>Check the Beers!</a>
  <a href="/random-beers" id='a-home'>Check a Random Beer!</a>
</div>