     <div class="index-container">
     <div class="layout-img">
          <img src="/images/beer.png" class="img">
     </div>
     <div class="buttons">
          <button type="button" class="btn btn-primary"> <a class="nav-link" href="beers">Check the beers</a></button>
          <button type="button" class="btn btn-primary"><a class="nav-link" href="randomBeer">Check a random beer</a></button>
     </div>
</div>