<div class="index-container">
  <div class="main-div">
    <img class="beer-icon" src="/images/beer.png" alt="">
    <a class="btn btn-primary" href="/beers">Check the Beers!</a>
    <a class="btn btn-primary" href="/random-beers">Check a Random Beer!</a>
  </div>
</div>