<div class="index-container">
  <img src="images/beer.png" alt="Beer">
  <a id="btn-beers" class="buttons btn-beers" type="button" href="/beers">Check the Beers!</a>
  <a id="btn-random" class="buttons btn-random" type="button" href="/random-beers">Check a Random Beer!</a>
</div>