<div class="index-container">
  <img src="images/beer.png" alt="" width="30%" height="30%">
  <div class="index-btns">
  <button>Check out the beers!</button>
  <button>Check out the randome beers!</button>
  </div>
</div>