<div class="index-container">
  <img src="images/beer.png" alt="Beer">

  <div class="buttons">
    <form action="/dontknowyet"><input type="submit" value="Check the Beers!" /></form>
    <form action="/dontknowyet"><input type="submit" value="Check a Random Beer!" /></form>
  </div>

</div>