<div class="index-container">
  <img class="beers-img" src="./images/beer.png" alt="beer-image">
  <form action="/beers">
    <button id ="check-beers" class="btn"> Check the Beers! </button>
  </form>
  <form action="/random-beers">
    <button id ="check-random-beers" class="btn"> Check a Random Beers</button>
  </form>
</div>