
<div class="index-container">
  <img src="/images/beer.png" alt="" class="big-beer">
  <div id="choice-buttons">
    <a href="/beers" class="btn btn-info custom-btn" role="button">Check the Beers!</a>
    <a href="/random-beers" class="btn btn-info custom-btn" role="button">Check a random Beer!</a>
  </div>
</div>
