<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
    <div class="index-container">
        <img class="beer-index row align" src="images/beer.png" alt="beer">
        <div>
            <button type="button row" class="btn btn-default">Check the beers!</button>
        </div>
        <div>
            <button type="button row" class="btn btn-default">Check the random beer!</button>
        </div>
    </div>
</body>

</html>