<div class="index-container container justify-content-center">
  <img class="mx-auto" src="/images/beer.png" alt="">

   <div class="d-flex flex-column mx-auto align-items-center">
     <a class="btn" href="/beers">Check the Beers!</a>
     <a class="btn" href="/randomBeer">Check a Random Beer!</a>
   </div>
  
</div>