<div class="index-container">
    <img src="images/beer.png" alt="">
    <button onclick="window.location='/beers';" class="btn btn-primary">Check the Beers!</button>
    <button onclick="window.location='/random-beer';" class="btn btn-primary">Check a Random Beer!</button>
</div>