<div class='index-container'>
    <img id='home-pic' src='/images/beer.png'>
    <button onclick="window.location.href='/beers'">Check the beers!</button>
    <button onclick="window.location.href='/random-beers'">Check a random beer!</buttonm>
</div>