<div class="index-container">
  <div class="img-beer">
    <img src="/images/beer.png" alt="beers">
  </div>
</div>
<div>
  <button onclick="window.location.href = '/beers';" class="button" type="button">Check the beers!</button>
  <button onclick="window.location.href = '/random-beer';" class="button" type="button">Check a ramdom beer!</button>
</div>