
<div class="index-div">
  <img src="beer.png" alt="">
  <button><a class="index-button" href="/beers">Check The Beers</a></button>
  <button><a class="index-button" href="/random-beers">Check a Random Beer</a></button>
</div>