<div class="index-container">
  <img src="/images/beer.png" class="" alt="">
  <button type="button" class="btn btn-primary mx-auto" onclick="window.location.href='/beers'">Check the Beers!</button>
  <button type="button" class="btn btn-primary mx-auto" onclick="window.location.href='/random-beer'">Check the Random Beer!</button>
</div>