<div class="index-container">
    <img class="logo" src={{cerveza}}>
    <div class="container botones">

    <a class="boton" href="/beers" type="button">Check the Beers!</a>
    <a class="boton" href="/random-beers" type="button">Check a Random Beer</a>
    </div>

</div>