<h1>HOME</h1>
<div class="index-container">
  <figure><img src="/images/beer.png" alt="Glass of Beer"></figure>
  <button onclick="location.href='/beers'" class="bg-blue">Check The Beers!</button>
  <button onclick="location.href='/random-beers'" class="bg-blue">Check a Random Beer!</button>
</div>