<div class="container">
    <div class="index-container">
        <img src="images/beer.png" alt="">
        <a  class="btn btn-primary" href="/beers">Check the Beers</a>
        <a  class="btn btn-primary" href="/randomBeers">Check a Random Beer</a>
    </div>
</div>