




<div id="stuffInBetween2" class="flexSpaceEvenly">
    <div id="beerImage">
        <img src="images/beer.png" alt="beer image">
    </div>
    <div id="buttonsBelowBeerImage">
        <div>
            <button type="button" class="btn btn-info"><a href="/beers">Check the Beers!</a></button>
        </div>
        <div>
            <button type="button" class="btn btn-info"><a href="/random-beers">Check a Random Beer!</a></button>
        </div>

    </div>
</div>
<div id="footer" class="darkBlue defaultBarSize">
    <div>
        <p class="extraPadding">Develop by Ironhack :)</p>
    </div>
    <div>
        <img src="images/banana copy.gif" alt="banana dancing">
    </div>
</div>