
<div class="index-container">
</div>

<div class="icon-beers">
  <button type="button" class="icon-beers-color"><a href="/beers">Check the Beers!</a></button>
  <button type="button" class="icon-beers-color"><a href="/randomBeer">Check a Random Beer</a></button>
</div>
