<div class="index-container">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img src="/images/beer.png" height="400px;" width="auto">
    <button class="boton">Beers</button>
    <button class="boton">Random beer</button>
  </div>
</div>
</div>