<div class="index-container">
  <div class="menu-container">
    <img src="/images/beer.png" alt="Beer" class="main-img">
    <a class="btn btn-primary btn-mainmenu" href="/beers">Check the Beers!</a>
    <a class="btn btn-primary btn-mainmenu" href="/random-beers">Check a Random Beer!</a>
  </div>
</div>