<div class="main__container l__grey">
    <img src="/images/beer.png" alt="">
    <button class="white l__blue box__shadow beers">Check the Beers!</button>
    <button class="white l__blue box__shadow random__beers">Check a Random Beer!</button>
</div>
