{{!-- <div class="index-container">
  <div class="image">
  <img src="../public/images/beer.png">
  </div>
</div> --}}
<div class="beer-container">
  <div class="links" style="width: 30rem; position: relative; left: 500px; top: 100px">
    <img class="beer-image" src="/images/beer.png" alt="Beer" style="width:300px;height:300px;">
    <div class="buttons" style="position: relative; left: -60px; top:10px;">
      <a href="/beers" class="btn btn-primary">Check the Beers!</a>
      <a href="/random-beers" class="btn btn-primary">Check a Random Beer!</a>
    </div>
  </div>

</div>