<div >
    <img src="/images/beer.png">


    <div class="divbutton">
        <button href="/beers">Check the Beers!</button>
        <button href="/randomBeers">Check a Random Beer</button>
    </div>

</div>



