<div class="index-container bg-greyCustom d-block">
  <img src="/images/beer.png" class="img-beer w-25 mx-auto py-5" alt="Beer">
  <a class="btn btn-primary shadow-sm" href="/beers" role="button">Check the Beers!</a>
  <a class="btn btn-primary shadow-sm" href="/random-beers" role="button">Check a Random Beer!</a>
</div>