<div class="index-container">
  <div><img src="/images/beer.png" alt="beer-img" id="beer"></div>
  <div class="btn"><button type="button">Check the beers!</button></div>
  <div class="btn"><button type="button">Check a random Beer!</button></div>
</div>