<section>
    <div class="container">
        <div class="beer-img">
            <img src="images/beer.png" alt="beer-img">
            <div class="check-beers">
                <a href="/beers" class="check-btn btn">Check the Beers !</a>
                <a href="/random-beers" class="check-btn btn">Check a Random Beer !</a>
            </div>
        </div>
    </div>
</section>