<div class="index-container">
  <div class="photo">
  <img class="beer_photo" src="images/beer.png" alt="">
  </div>
  <div class="button">
    <a href="/beers" class="myButton">Check the Beers!</a>
    <br>
    <a href="/random-beers" class="myButton">Check a Random Beer!</a>
  </div>
</div>