
<div class="index-container">
  <img src = "./public/images/beer.png"><br />
  <button type="button" class= "blue-button">Check the Beers!</button>
  <button type="button" class= "blue-button">Check the random beer!</button>
</div>