<!-- layout.hbs -->
<div class="index-container">
  <img class="index-image"src="images/beer.png">
  <div class = "buttons">
    <button><a class="btn" href="/beers">Check the Beers</a></button>
    <button><a class="btn" href="/random-beers">Check a Random Beer!</a></button>
  </div>
</div>