
<link rel="stylesheet" href="/stylesheets/styles.css">
 
<div class="index-container">
  
<img src="/images/beer.png" alt="beerImage">

    
    <a class="botonCB" href="/beers">Check the Beers!</a> 
    <a class="botonRB" href="/random-beers">Check a Random Beer!</a>
  </div>
</div>