<div class="index-container">
    <img src="/images/beer.png" alt="beer pint">
    <a class="button" href="/beers">Check the Beers!</a>
    <a class="button" href="/random-beers">Check a Random Beer</a>
</div>