<div class="index-container">
    <img src="images/beer.png" alt="beer" width="300">
    <div class="buttons">
        <button type="button">Check the Beers!</button>
        <button type="button">Check a Random Beer!</button>
    </div>
</div>