<div class="image">
    <img class="xc" src="/images/beer.png" width="320px" align="middle">
</div>

<div>
<div class="button">
    <a class="b1" href="/beers"> Check the beers! </a>
</div>
<br>
<div class="button">
    <a class="b2" href="/random-beer"> Check a Random beer!</a>
</div>
</div>