<div class="index-container">
  <img src="https://github.com/ironhack-labs/lab-ironbeers/blob/master/starter_code/public/images/beer.png?raw=true">
  <button type="button" class="btn btn-primary" onclick="window.location='/beers'">Check the beers!</button>
  <button type="button" class="btn btn-primary" onclick="window.location='/random-beers'">Check a random beer!</button>
</div>