<div class="index-container">
    <div>
    <img src="/images/beer.png">
    </div>
    <div>
    <a href="/beers"><button>Check the Beers!</button></a>
    </div>
    <div>
    <a href="/random-beer"><button>Check a Random Beer!</button></a>
    </div>
</div>