<div class="index-container">
    <div class="image-container">
        <img src="/images/beer.png" alt="beer image" height="250px">
    </div>
    <div class="index-btn">

        <form action="/beers">
            <input type="submit" value="Check the Beers!" class="index-button" />
        </form>

        <form action="/random-beers"> <input type="submit" value="Check a Random Beer!" class="index-button" />
        </form>


    </div>

</div>