<div class="index-container">
<div class="mx-auto" >
<img class="index-img" src="/images/beer.png"  alt="beer img"/>
</div>
<div class="mx-auto center">
<button type="button" class="btn btn-primary" href="/beers">Check the Beers!</button>
<button type="button" class="btn btn-primary" href="/randombeer">Check a Random Beer!</button>
</div>
</div>