
<div class="index-container">

 <img src="/images/beer.png" alt="" width="30%" height="30%" class="center">
 <div>
     <a class="beersButton center" href="/beers">Check the Beers!</a>
 </div>
<div>
     <a class="beersButton center" href="/random-beers">Check a Random Beer</a>
</div>
</div>