   <div class="image">
      <img class="img-top" src="images/beer.png" alt="beer-image">
      </div>
    <a href="/beers">Check the Beers!</a>
    <button class="button">Check a Random Beer!</button>