  <div class="part-one-back">
    <img src="img/beer.png" id="intro-beer">
  </div>
  <div class="part-two-back">
    <div class="info-container">
      <h1>FRIDAY<br>IRON BEERS<br>IRONHACKERS</h1>
      <h5>FREE BLUE BEERS + VEGAN FOOD</h5>
      <a class="btn button-intro" href="/beers">TAKE A LOOK</a>
      <a class="btn button-intro random-button" href="/random-beers">RANDOM BEER</a>
    </div>
  </div>