<div class="index-container">
  <img src="http://distribuidorajk.cl/wp-content/uploads/2017/05/15864_esp_ESCALA_191_500.jpeg" alt="beer_intro2">
  <img src="/images/beer.png" alt="beer_intro">
  <img src="http://distribuidorajk.cl/wp-content/uploads/2017/05/15864_esp_ESCALA_191_500.jpeg" alt="beer_intro2">
</div>
<div class="divButton">
  <button class="buttons">
    <a href="/beers">Check the Beers!</a>
  </button>
  <button class="buttons">
    <a href="/random-beers">Check a Random Beer!</a>
  </button>
</div>