<div class="index-container container my-5">
  <div class="img-beer">
    <img class="img-fluid" src="images/beer.png" alt="beer">
  </div>
  <div>
    <button type="button" class="btn btn-primary">Check the Beers</button>
    <button type="button" class="btn btn-primary">Check a Random Beer</button>
  </div>
</div>