<div class="index-container">
    <div class="welcome-image">
        <img class="welcome" src="/images/beer.png" alt="Beer">
    </div>
    <div class="welcome-text"><a href="/beers" class="btn btn-primary" role="button" aria-pressed="true">Check the
            Beers!</a>
        <a href="/random-beer" class="btn btn-primary" role="button" aria-pressed="true">Check a Random Beer!</a></div>
</div>