<div class="index-container">
    <div>
        <img class="beer-home" src="/images/beer.png">
    </div>
    <button onclick="window.location.href = '/route-beers'" type="button" class="btn btn-primary">Check the
        Beers!</button>
    <button onclick="window.location.href ='/route-random-beers'" type="button" class="btn btn-primary">Check a Random
        Beer!</button>
</div>