<div class="index-container">
  <img src="/images/beer.png" alt="Beer image" class="beer-image">
  <div class="button-links-container">
    <a href="/beers" class="button">Check the beers!</a>
    <a href="/random-beer" class="button">Check a random beer!</a>
  </div>
</div>