<div class="index-container text-center">
  <div class="align-middle">
    <img src="/img/beer.png" alt="Ironbeer">
  </div>
  <div class="align-middle">
    <button type="button" class="btn"><a href="/beers">Check the Beers!</a></button>
  </div>
  <div class="align-middle">
    <button type="button" class="btn"><a href="/random-beer">Check a Random Beer!</a></button>
  </div>
</div>