<div class="index-container">
  <img src="/images/beer.png" alt="beer">
  <button onclick="location.href='/beers'">Check the Beers!</button>
  <button onclick="location.href='/random-beers'">Check a Random Beer!</button>
</div>