<div class="index-container">
    <div id="beer-img">
        <img src="../images/beer.png" alt="beer">
    </div>
    <div id="buttons-container">
        <button><a href="/beers">Check the beers!</a></button>
        <button><a href="/random-beer">Check a random beer!</a></button>
    </div>
</div>