<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">

  <title>Home</title>
</head>


<body>
  <div id="imgbeer" class="index-container">
    <img src="../images/beer.png">
  </div>
  <div>
    <a class="waves-effect waves-light btn" href="/beers">Check the Beers</a>
  </div>
  <div>
    <a class="waves-effect waves-light btn" href="/randombeers">Check a Random Beer</a>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script type="text/javascript" src="/path/to/punkapi-javascript-wrapper/dist/punkapi-javascript-wrapper.js"></script>

</body>

</html>