<div class="index-container">
    <div class="index-img">
        <img src="/images/beer.png"> 
    </div>
    <div class="index-button">
        <button type="button" class="btn" onclick="window.location.href='/beers'">Check the Beers!</button>
        <button type="button" class="btn" onclick="window.location.href='/random-beers'">Check a Random Beers!</button>
    </div>
</div>