<div class="index-container">
    <img class = "portada" src="/images/beer.png" alt="BEER">
    <a class="btn" href="/beers">Check the beers!</a>
    <a class="btn" href="/random-beers">Check a Random beers!</a>
</div>