<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ironbeers</title>

</head>
<body>
    <div class="index-container">
    <img  class= "beer" src="./images/beer.png" alt="yellow beer">
    <a href="./beers"><button class="button button1" >Check the beers</button></a>
    <a href="./randombeers"><button class="button button2" >Random Beer</button></a>
    </div>

</body>
</html>

