<div class="index-container">
  <img id="beer-img" src="images/beer.png" />
  <a href="/beers">
    <button>Check the Beer!</button>
  </a>
  <a href="/random-beers">
    <button>Check a random Beer!</button>
  </a>
</div>
