<div id="index-container">
    <img id="main-beer" src="/images/beer.png">
    <a class="beer-buttons" href="/beers">Check the beers!</button></a>
    <a class="beer-buttons" href="/randomBeer">Check a Random Beer!</button></a>
</div>