<div class="index-cnt">
<img src="/images/beer.png" alt="beer pic" class="beerpic">
<input type="button" onclick="location.href='/beers';" value="Check the Beers!" />
<input type="button" onclick="location.href='/randombeer';" value="Check the Random Beer!" />
</div>