<div class="index-container m-4">
  <figure class="m-5 pt-5">
    <img src="images/beer.png" alt="beer" width="300px">
  </figure>
  <section class="m-4">
    <a href="/beers" class="btn btn-dark btn-lg my-shadow" role="button" aria-pressed="true">Check the Beers!</a>
  </section>
  <section class="m-4">
    <a href="/random-beers" class="btn btn-dark btn-lg my-shadow" role="button" aria-pressed="true">Check a random Beer!</a>
  </section>
</div>