<div class="index-container">
    <div class="index-img">
        <img src="/images/beer.png"> 
    </div>
    <div class="index-button">
        <button type="button" class="btn">Check the Beers!</button>
        <button type="button" class="btn">Check a Random Beers!</button>
    </div>
</div>