<div class="index-container">

  <div class="beerContainer">
    <img src="/images/beer.png" alt="beer img">
  </div>

  <div class="theButtons">
    <div id="firstButton">
      <button type="button">
        <a href="/beers">Check the Beers!</a>
      </button>
    </div>
    <div id="secondButton">
      <button type="button">
        <a href="/random-beers">Check a Random Beer!</a>
      </button>
    </div>
  </div>
  
</div>