<div class="index-container">
    <img src="/images/beer.png">
    <a href="/beers" role="button" class="btn btn-primary">Check the Beers!</a>
    <a href="/random" role="button" class="btn btn-primary">Check a Random Beer!</a>
</div>