<div class="index-container">
  <header class="navbar">
    <ul class="navbar-links">
      <li class="nav-bar-items">
        <a class="links" href="/">Home</a>
      </li>
      <li class="nav-bar-items">
        <a class="links" href="/beers">Beers</a>
      </li>
      <li class="nav-bar-items">
        <a class="links" href="/random-beers">Random Beer</a>
      </li>
    </ul>
  </header>

  <div class="middle-content">
    <img class="beermug" src="/images/beer.png"/>
    <button class="beer-button">Check the Beers!</button>
    <button class="beer-button">Check a random beer!</button>
  </div>


  <footer class="footer">
    <p class="footer-text">
      Developed by IronHack ;)
    </p>
  </footer>
</div>
