<div class="index-container">
  <div class="beer-image">
    <img src="/images/beer.png">
  </div>

  <div>
    <a href="/beers">Check the beers!</a>
    <a href="/randombeers">Check a Random Beer!</a>
  </div>
</div>

