<div class="index-container">
  

<img class="beer_cartoon center" src="images/beer.png">
<a class="btn" href="/beers">Check the Beers!</a>
<a class="btn" href="/random-beers">Check a Random Beer!</a>

</div>
