<div class="index-container">
  <img id="mainImg" src="/images/beer.png" alt="beer">
  <div id='buttons'>
      <a href="/beers" class="button">Check the Beers!</a>
  <a href="/randombeers" class="button">Check a Random Beer!</a>
  </div>
</div>