
<div class = "beer-image">
<img src = "./images/beer.png" width = "200px" height = "200px" alt = "beer">
</div>
<div class = "check-button">
  <button><a href="/beers">Check the Beers!</a></button>
  </div>
  <div class = "random-button">
  <button><a href="/random-beers">Check a Random Beer!</a></button>
</div>
