<div class="index-container">
    <img src="/images/beer.png" alt="beer pint">
    <a class="button" href="/beers">Check the Beers!</a>
    <a class="button" href="/random-beers">Check a Random Beer</a>
</div>

{{!-- On the index.hbs file you should include the beer image you have on the /public/images,
 with two buttons: Check the Beers! and Check a Random Beer. Both should navigate to the same routes we have on our nav. --}}