<div class="index-container">
  <img src="images/beer.png"
     width="400"
     height="341">

     <ul class = "botones">
         <li> <a href ='/beers'>Beers</a></li>
         <li> <a href ='/random-beer'>Random Beer</a></li>
     </ul>
</div>