<div class="index-container">
     <section>
          <img src="./images/beer.png" alt="beer-img" class='imag-beer'>
     </section>
     <section class="button">
          <a href="/beers">Check the beers!</a>
          <a href="/randomBeer">Check the random beer!</a>
         
     </section>

</div>