<div class="index-container">
  <img src="./images/beer.png" class="beerIMg">
  <button class="btn1"><a>Check the beers!</a></button>
  <button class="btn2"><a>Check a Random Beer!</a></button>
</div>