<div class="index-container">
      <img src="./images/beer.png" class="beer-img">
      <div class="buttons">
          <a href="./beers"><button type="button" class="btn btn-primary beer-button">Check the Beers</button></a>
          <a href="./random-beers"><button type="button" class="btn btn-primary beer-button">Check the Random Beers</button></a>
      </div>
      
</div>