<div class="index-container">
  <div class="index">

  <img class="img-index" src="/images/beer.png" alt=""> <br>

  <a href="/beers"> <button class="beers">Check the beers!</button></a><br>
  <a href="/random"> <button class="random">Check a random beer!</button></a>
  </div>
</div>