<div class="index-container">
  <img src="/images/beer.png" alt = "beer">
  <div class = "btns">
    <button><a href="/beers">Check out the Beers!</a></button>
    <button><a href="/randombeers">Check a Random Beer!</a></button>
</div>
</div>
