<div class="index-container container">
    <img src="/images/beer.png" alt="Beer" class="beer">
</div>

<div class="buttons container">
    <button type="button" class="btn btn-primary">Check the Beers!</button>
    <button type="button" class="btn btn-primary">Check a Random Beer!</button>
</div>