<div class="index-container">
<img id="beer" class="mx-auto d-block" src="/images/beer.png">
<a href="/beers" class="btn btn-primary d-block mx-auto">Check the Beers!</a>
<a href="/random" class="btn btn-primary d-block mx-auto">Check a random beer!</a>
</div>