<div class="index-container">
    <div>
        <img src="/images/beer.png" alt="beer-image">
    </div>
    <div class="btn-container">
        <div class="button"><a href="/beers"><button class="check-btn">Check the Beers!</button></a></div>
        <div class="button"><a href="/random-beers"><button class="check-btn">Check a random Beer!</button></a></div>
    </div>
</div>