<div class="index-container">
    <div class="index-beer">   
         <img class="beer" src="/images/beer.png">
    </div>
    <div class="buttonss">
        <div>
            <a href="/beers" class="btn btn-default">Check the Beers!</a>

        </div>
        <div>
        
        <a href="/randombeers" class="btn btn-default">Check a Random Beer!</a>

        </div>
    </div>
</div>