<div class="index-container">
    <img src="images/beer.png" alt="beer" width="20%">
    <div>
        <a class="nav-link boton" href="/beers">Beers</a>
        <div>
            <a class="nav-link boton" href="/randombeers">Random Beers</a>
        </div>
    </div>
</div>