<div class="index-container">
  
     

      <div class="jumbotron">
        <section class="beer-img"><img src="./images/beer.png" height="120px" width="120px"/></section>
        <p><a class="btn btn-lg btn-success" href="/beers" role="button">Check the beers</a></p>
                <p><a class="btn btn-lg btn-success" href="/random-beers" role="button">Check a random beer</a></p>

      </div>

      
       

     

    </div>
