<div class="index-container text-center">
  <h1>Hello</h1>
  <img src="/images/beer.png" alt=""><br> <br><br>
  <a class="btn btn-primary text-center" href="#" role="button">Check the Beers!</a>
  <br><br>
  <a class="btn btn-primary text-center" href="#" role="button">Check a Random Beer!</a>



</div>