<div class="index-container">
  
  <div class = "beer-home">
    <img src="/images/beer.png" alt="beer-pint" class="beer-image">
    <button> <a href="/beers"></a> Check the beers</button>
    <button>  <a href="/random-beers"></a> Check the random beers</button>
  </div>

</div>