

  <div class="image-Buttons"> 
    <img class="beer-image" src="images/beer.png" alt="">
    <button class="button"> <a href="/beers"> Check the beers!</a></button>
    <button class="button"> <a href="/random">Check a Random Beer!</a></button>
  </div>