<div class="text-center index-block">
  <img src="/images/beer.png" alt="Beer" class="beer-image">

  <div class="button-beers index-block">
    <button class="btn btn-primary"><a href="/beers">Check the beers!</a></button>
  </div>

  <div class="button-random index-block">
    <button class="btn btn-primary"><a href="/random-beers">Check a Random Beer!</a></button>
  </div>

</div>