<div class="index-container">
    <img class="img-beer" src="images/beer.png">
</div>
  <a href="/beers" class="btn btn-primary">Get a Beer!</a>

  <a href="/random-beer" class="btn btn-primary">Get a Random Beer!</a>
  </div>