<div class="index-container d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
        <figure>
            <img src="images/beer.png" alt="beer">
        </figure>
        <a href="/beers" class="btn btn-lg m-3" role="button">Check the Beers!</a>
        <a href="/random-beers" class="btn btn-lg m-3" role="button">Check a Random Beer!</a>
    </div>
</div>