<div class="index-container container">
  <div class="row">
    <img id="img-beer" class= "" src="../images/beer.png" alt="beer">
  </div>
  <div>
    <div class="row">
      <a class="btn btn-primary btn-lg link-index" href="/beers" role="button">Check the Beers!</a>
    </div>
    <div class="row">
      <a class="btn btn-primary btn-lg link-index" href="/random-beer" role="button">Check a Random Beer!</a>
    </div>
  </div>
</div>