<div class="index-container">
    <img class="beer-img" src="/images/beer.png">
  <form action="/beers">
    <button type="submit" class="btn btn-primary" href="/beers">Check the beers!</button>
  </form>
  <form action="/randomBeer">
    <button type="submit" class="btn btn-primary" href="/randomBeer">Check a random beer!</button>
  </form>
</div>