<div class="index-container">
<img src="/images/beer.png" alt="beer">

<a href="/beers">
<button>
  Check beers
</button>
</a>
<a href="/randombeer">
<button>
  Check random beer
</button>
</a>

</div>