
    {{> navbar}}
    <div class="index-container">
        <img src="./images/beer.png" alt="beer-image" class="image-logo">
        <a href="/beers" class="btn">Check the Beers!</a>
        <a href="/randomBeer" class="btn">Check a Random Beer!</a>
    </div>
    {{> footer}}
