<div class="index-container">
  <img src="images/beer.png" id="beer-index">
  <a href="/beers"><button type="button">Check the Beers!</button></a>
  <a href="/random-beer"><button type="button">Check out a Random Beer!</button></a>
</div>