<div class="index-container">
  
    <div class="beer-homepage"></div>
    <div class="btn-home">
        <a class="button" href="/beers">Check the Beers!</a>
        <a class="button" href="/random-beers">Check a Random Beer</a>
    </div>
  
</div>