
<div class="index-container">
    <img src="images/beer.png" alt="test">

 
</div>
<div class="index-container">
 <button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-primary btn-lg">Large button</button>
</div>
