<div class="index-container">
    <img class="img-index" src="./images/beer.png" alt="">
    <button class="btn">Check the beers !</button>
    <button class="btn">Check a random beer !</button>
  
</div>