<div class="index-container">
    <img class="img-beer" src="./images/beer.png">
    <button class="beers-button">Check the beers!</button>
    <button class="beers-button">Check a random beer!</button>
</div>
