<div class="index-container">
    <img src="/images/beer.png">
    <button class="button"><a href="/beers">Check the Beers!</a></button>
    <button class="button"><a href="/random-beers">Check a Random Beer!</a></button>
</div>