<div class="index">
  <img class="beerClipart" src="/images/beer.png" />
  <a href="/beers"><button>Check the beers!</button></a>
  <a href="/randomBeer"><button>Check a Random Beer!</button></a>
</div>