<div class="index-container">
  <div> 
    <img src="../images/beer.png" alt="" class="beer-img">
  </div>
  <div>
    <button type="button" class="btn btn-primary background1" href="/beers">Check the Beers!</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary background1" href="/random-beer">Check a Random Beer!</button>
  </div>
</div>