<div class="index-container">
  <div class="container">
    <img src="images/beer.png" class="beer-img" alt="beer" width="400">
  </div>
  <div class="buttons">
    <a href="/beers" class="btn btn-primary">Check the Beers!</a>
    <a href="/random-beer" class="btn btn-primary">Check a Random Beer!</a>
  </div>
</div>