<div class="index-container">
  
</div>
<img width="300px" src="/images/beer.png">
<nav>
    <a href="/beers"><button>Check the Beers!</button></a>
    <a href="/random-beers"><button>Check a Random Beer!</button></a>
</nav>
<div>
    <h3>LOG IN</h3>

    <form>
        <input type="email" placeholder="beau-grand@brun.com"/>
        <input type="password" placeholder="tumeplaisbeaucoup"/>
    </form>
</div>

