<div class="index-container">
    <img id="photobeer" src="/images/beer.png"/>
    <a href="/beers">
        <button class="but1">Check the beers!</button>
    </a>
    <a href="/Random-Beer">
        <button class="but2">Check a Random Beer!</button>
    </a>
</div>
