<div class="home">
    <img src="images/beer.png" alt="beer" class="home-beer">
    <a href="/beers" class="btn">Check the Beers!</a>
    <a href="/randomBeer" class="btn">Check a random Beer!</a>
</div>