
<div class="index-container">
  <img class="main-beer"src="images/beer.png" alt="" width=300>
  <div class="button-check index-button">
    <a href="/beers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check the beers !</a>
  </div>  
    <div class="button-random index-button">
    <a href="/random-beers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check a random beer</a>
  </div>  

</div>