<div class="index-container">
  <div class="content-holder">
    <img class="main-beer" src="/images/beer.png" alt="main-beer">
    <a href="/beers">Check the Beers!</a>
    <a href="/random-beers">Check a Random Beer!</a>
  </div>
</div> 
