
<div class="index-container">
    <div class="index-sub-group">
        <img src="images/beer.png" alt="Beer image" class="beer-size"><br>
    </div>
    <div class="index-sub-group">
        <button class="blue-button">Check the Beers!</button>
        <br>
        <button class="blue-button">Check a Random Beer!</button>
    </div>
 </div>
