<div class="index-container">
  <img class="index-photo" src="/images/beer.png" alt="">
  <div class="beer-link"><a href="/beers"><button type="button" class="btn-color btn btn-primary btn-lg">Check the
        Beers!</button></a></div>
  <div class="random-link"><a href="/random-beer"><button type="button" class="btn-color btn btn-primary btn-lg">Check
        a Random
        Beer!</button></a></div>
</div>