<div class="index-container">
  <img src="../public/images/beer.png">
  <div>
    <button href="/beers" class="button">Check the beers!</button>
  </div>
  <div>
    <button href="/random-beers"class"button">Check a Random Beer!</button>
  </div>
</div>