<div class="index-container">
    <div class="picture">
        <img class="beer-index" src="images/beer.png" alt="beer">
    </div>
    <div class="buttons">
        <div class="check">
            <a href="/beers"><button id='button-color' type="button" class="btn btn-primary">Check the beers!</button></a>
        </div>
        <div class="random">
             <a href="/random-beer"><button id='button-color' type="button" class="btn btn-primary">Check a Random Beer!</button></a>
        </div>
    </div>

</div>