<div class="index-container">
  <img id="img-home-beer" src="/images/beer.png" alt="Beer">

  <div class="btn-container">
    <button id="btn-beer-list" class="btn-home">Check the list of beers</button>
    <button id="btn-random-beer" class="btn-home">Check a random beer!</button>
  </div>
</div>