<div class="index-container d-flex flex-column align-items-center">
 {{!-- image --}}
 <img class="img"src="images/beer.png" alt="">
{{!-- end image --}} 
<a class="btn" href="/beers"> Check the Beers! </a>
<a class="btn" href="/random-beers"> Random Beer </a>





</div>