<div class="padre">
    <img src="/images/beer.png" alt="" class="imgbeer">
    <button onclick="location.href='beers'">Check the beers</button>
    <button onclick="location.href='random-beers'">Check a random beer</button>
</div>