<div class="index-container">
    <div class="flex-container">
        <img src="/images/beer.png" class="beer-image" alt="beer image"> <br />
    </div>
    <div class="flex-container">
        <button><a href="/beers">Check the Beers!</a></button>
    </div>
    <div class="flex-container">
        <button><a href="/random-beers">Check a Random Beer</a></button>
    </div>
</div>