<div class="index-container">
  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/images/beer.png" alt="Beer">
      <div class="anchor-body">
          <a href="/beers" class="btn btn-primary">Check the Beers!</a>
          <a href="/random-beer" class="btn btn-primary">Check a Random Beer!</a>
      </div>
    </div>      
</div>