<div class="index-container">
  <div class="content-middle">
    <img class="main-image" src="./images/beer.png" alt="">
    <a href="/beers">Check the Beers!</a>
    <a href="/random-beers">Check a Random Beer!</a>
  </div>
</div>