
<body>

<div class="index-container">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" align="center">
  <img src="/images/beer.png" alt="behr" class="img-fluid">
  <button class="beer-button">Check the Beers!</button>
  <button class="beer-button">Check a Random Beer!</button>


    </div>
  </div>

  
</div>


</body>

