

<div class="index-container">

<div><img src="/images/beer.png" alt=""></div>
<div><a href="/beers" class="btn">check the beers</a></div>
<div><a href="/random-beers" class="btn">check the  random beers</a></div>

  
</div>