<div class="index-container">
  <img src="/images/beer.png" alt="beer"> 
  <a type="button" href="/beers">Check the Beers!</a>
  <a type="button" href="/random-beers">Check the random Beers!</a>
</div>