<div class="index-container">
    <div class="card" style="width: 18vw;>
      <img class="card-img-top" src="/images/beer.png" alt="yumiBeer">
        <a href="/beers" class="btn btn-primary btn-lg">Check the Beers!</a>
        <br>
        <a href="/random-beer" class="btn btn-primary btn-lg">Check a Random Beer!</a>
      </div>
</div>