<div class="index-container">
    <img src="/images/beer.png" alt="big-beer">
    <a href="/beers" class="btn btn-primary btn-lg clicks">Check the Beers!</a>
    <a href="/randombeers" class="btn btn-primary btn-lg clicks">Check a Random Beer!</a>
</div>