<div class="index-container">
  <img src="images/beer.png" alt=""><br>
  <button id="beer" type="button">Check the Beers!</button>
  <button id="randomBeer" type="button">Check a random Beer!</button>
</div>