<div class="index-container">
  <img class="beerPic" src="/images/beer.png">

<form method="GET" action="/beers">
  <button type="submit" id="firstbutton">Check the Beers!</button>
</form>  

<form method="GET" action="/randombeers">
  <button type="submit">Check a Random Beer!</button>
</form>
</div>