<div id="indexCont">

<img id="bigBeer" src="../images/beer.png" alt="" class="row">
<button onclick=location.href="/beers" id="beersButton" class="btn btn-block  btn-primary">Check the Beers!</button>
<button onclick=location.href="/beerRandom" id="randomBeers" class="btn btn-block  btn-primary">Check a random Beer!!</button>

</div>

