<div class="index-container">
  <div class="row main-index-div">
    <div class="col-6">
      <img src="/images/beer.png" alt="" class="beer-logo" ->
    </div>
    <div class="col-6">
      <a href="/beers" class="btn btn-primary col-12 buttons">Check the beers!</a>
      <a href="/random-beers" class="btn btn-primary col-12 buttons">Check the a Random beer!</a>
    </div>
  </div>
</div>