<div class="index-container d-flex flex-column align-items-center">
  
  <img class= "img" src="images/beer.png" alt="">
  <a  class="btn" href="">Check the beers</a>
  <a  class="btn" href="">Check a Random Beer</a>


</div>