<div class="index-container">

    <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="text-links active" href="">Home <span class="sr-only">(current)</span></a>
        <a class="text-links" href="/Beers">Beers</a>
        <a class="text-links" href="/random-beers">Random Beer</a>
        </div>
    </div>
    </nav>
</div>

<div>
 <div class="card-style" style="width: 50rem;">
  <img src="images/beer.png" class="card-img" alt="beer">
    <div class="card-body">
     <a href="/Beers" class="btn btn-primary">Check the Beers!</a>
    <h1></h1>
     <a href="/random-beers" class="btn btn-primary">Check a Random Beer!</a>
    <h1></h1>
  </div>
</div>

