<div class="index-container">
 <img src="/images/beer.png" alt="">

</div>
<div>
<ul>
 <li><button><a href="/beers">Check the Beers</a></button> </li> 
 <li><button><a href="/random-beers">Check the Random Beers</button></a></li>
</ul>


</div>