<div class="index-container">
   <div>
        <img src="/images/beer.png" alt="Beer">
      </div>
      <a href="/beers" class="button">Check the Beers!</a>
      <a href="/random-beers" class="button">Check a Random Beer</a>
</div>