<div class="index-container">
  <div class="beer-image">
    <img src="/images/beer.png" width="100%"/>
  </div>
  <div>
    <a href="/beers"><button type="button" class="btn btn-primary">Check the beers!</button></a>
  </div>
  <div>
    <a href="/random-beers"><button type="button" class="btn btn-primary">Check a random beer!</button></a>
  </div>
</div>