
<div class="index-container">
    <div class="beer" style="width: 18rem;">
      <img src="images/beer.png" class= "beer-image-cap" width="400px" height="400px">
      
      <div class="beer-body">
       <a href="/beers"><p class="button1">Check the Beers!</p></a>
       
       <a href="/random-beer"><p class="button2">Check the Random Beer!</p></a>
       
      </div>
      </div>
      </div>

