<div class="index-container">
  <img class= "cup" src="./images/beer.png" alt="">
    <a class="botton-beer" href="/Beers">Check the Beers!</a>
    <a class="botton-beer" href="/Random-Beer">Chek the Random Beer!</a>
</div>