<div class="d-flex align-items-center justify-content-center flex-column  ">
    <img src="/images/beer.png" class="card-img-center" style="width: 300px; height: 300px;" alt="beer">
    <a class="btn btn-primary align-itself-center" href="/beers" role="button" style="background- color:#2081C3;">Check the Beers!</a>
    <a class="btn btn-primary" href="/random-beers" role="button" >Check a Random Beer</a>
</div>