
<div class="mx-auto" style="width: 400px;">
  <img src="/images/beer.png">
</div>
<div class="center mx-auto" style="width: 400px;">
  <button type="button" class="btn btn-primary">Check the beers!</button>
 <button type="button" class="btn btn-primary">Check a Random Beer</button>

</div>