<div class="index-container">
    <div class="btn-center">
    <img class="beer-img" src="/images/beer.png" alt="beer image">
    </div>
    <div class="btn-center">
        <button>
            <a href="/beers">Check the Beers!</a>
        </button>
    </div>
    <div class="btn-center">
        <button>
            <a href="/randomBeers">Check a Random Beer!</a>
        </button>
    </div>
</div>