<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test</title>
</head>

<body>

  <img src="/images/beer.png" class="img-beer position">

  <div>
    <button class="btn-sm btn-blue position">Check The Beers!</button>
    <button class="btn-sm btn-blue position">Check A Random Beer!</button>
  </div>

</body>

</html>