<div class="index-container">
    <div id="content">
        <div id="beer">
            <img id="yellow-beer" src="images/beer.png">
        </div>
        <div class="button">
            <button id="check-beers">Check the Beers!</button>
        </div>
        <div class="button">
            <button id="random-beer">Check a Random Beer!</button>
        </div>
    </div>
</div>