<div class="index-container">
  <img class="beerimg btn" src="/images/beer.png" alt="">
  <a class="btn btn-primary" href="">Check the Beers!</a>
  <a class="btn btn-primary" href="">Check a random Beer</a>
</div>