<link rel="stylesheet" href="/stylesheets/home.css">
<div class="index-container">
    <img src="/images/beer.png" alt="">
    <button class="btn btn-info"><a href="/beers"> Check the Beers!</a></button>
    <button class="btn btn-info "><a href="/random-beers"> Check a Random Beer!</a></button>
</div>