<div class="container content">
    <img class="beerImage" src="/images/beer.png" alt="beer" width="250px">
    <div class="buttons-box">
        <a class="nav-item nav-link" href="/beers"><button type="button" class="btn btn-dark">Beers</button></a>
        <a class="nav-item nav-link" href="/randombeers"><button type="button" class="btn btn-dark">Random
                Beer</button></a>
    </div>
</div>