<div class="index-container">


  <img class="mx-auto" src="/images/beer.png" alt="beer pic" />
  <button type="button" class="btn btn-primary btn-lg">Check the beers! </button>
  <a href="/beers">Check the Beers!</a>
  <button type="button" class="btn btn-primary btn-lg">Check random beer!</button>
  <a href="/random-beer">Check a random Beer!</a>
</div>