<div class="index-container mx-auto">
    <img src={{image}} style="height :50%; margin-left:40%;margin-top : 5%;" />
    <br>
    <div class="container d-flex justify-content-center py-3">
        <button class='btn btn-primary mx-3' onclick=" window.location.href='/beers' ;">Beers</button>
    </div>
    <div class="container d-flex justify-content-center">
        <button class='btn btn-primary mx-3' onclick=" window.location.href='/random-beer' ;">Random Beers</button>
    </div>


</div>