<div class="index-container">
  <div class "container">
      <div class "row">
          <div class="col-12 d-flex justify-content-center align-items-center my-5">
          <img class="" src="images/beer.png" alt="beer"> <br>

          </div>
      </div>

      <div class "row" >
          <div class="col-12 d-flex justify-content-center align-items-center my-5">

          <button class="btn-primary btn-sm" type="button">Check the beers!</button> <br>
          </div>
      </div>

      <div class "row">
          <div class="col-12 d-flex justify-content-center align-items-center my-5">

          <button class="btn-primary btn-sm" type="button">Check the Random beers!</button>
          </div>
      </div>

    
</div>
</div>