<div class="d-flex flex-column bd-highlight mb-2">
  <img id="beer-logo" class="align-self-center p-2 ml-5 mt-2" src="images/beer.png" alt="Beer Logo">
  <button class="btn btn-primary align-self-center p-2 m-2">Check the Beers</button>
  <button class="btn btn-primary align-self-center p-2 m-2">Check a Random Beer!</button>
</div>