<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="index-container">
      <img src="./images/beer.png" alt="Beer" class="img-fluid mt-5 mb-5">
    </div>
    <span class="d-block mb-4 text-center">
      <a href="/beers" class="btn btn-primary shadow">Check the Beers!</a>
    </span>
    <span class="d-block mb-4 text-center">
      <a href="/random-beer" class="btn btn-primary shadow">Check a Random Beer</a>
    </span>
  </div>
</div>