<div class="index-container">
  <img src="/images/beer.png" class="img-responsive">
  <button class="btn center-block"><a href="/beers">Check the Beers!</a></button>
 <br>
  <button class="btn center-block"><a href="/random-beers">Check a Random Beer!</a></button>
</div>