<div class="index-container">
  <div>
    <img src="/images/beer.png">
  </div>
  <div>
    <a href="beers"><button  class="btn">Check the beers</button></a>
  </div>  
  <div>
    <a href="random-beers"><button class="btn">Check a random beers</button></a>
  </div>  
</div>