<div class="index-container">
  <img class="picture" src="/images/beer.png" alt="">
  <form action="/beers">
    <button class="btn">Check the beers!</button>
  </form>
  <form action="/random_beer">
    <button class="btn">Check a Random Beer!</button>
  </form>
</div>