<div class="index-container d-flex flex-column align-items-center justify-content-around">
    <img src="{{imgSource}}">
    <a type="button" class="btn btn-primary btn-lg" href="/beers">Check the Beers!</a>
    <a type="button" class="btn btn-primary btn-lg" href="/random-beers">Check a Random Beer!</a>


</div>