<div class="index-container">
            
        <img src="/images/beer.png" width="300px" />
        <button><a href="/beers">Check the Beers!</a></button>
        <button><a href="/random-beers">Check a Random Beer!</a></button>


</div>