<main class="container d-flex flex-column align-items-center py-4">
  <img src="/images/beer.png" class="d-block w-25 my-4">
  <a href="/beers" class="btn btn-primary my-4">Check the Beers!</a>
  <a href="/random-beer" class="btn btn-primary my-4">Check a Random Beer!</a>


  
</main>