
<div class="jumbotron">
  <img src="/images/beer.png" alt="beer collection">
  <p class="botton-beer"><a href="/beers">check the beers!</a></p>
  <p class="botton-beer"><a href="/randomBeer">check a random beer!</a></p>
</div>