<div class="index-container">
    <div class="container">
        <img class="beer_pic" src="images/beer.png">
        <div class="buttons">
            <button type="button" class="btn btn-primary">
                <a href="/beers">Check the Beers!</a>
            </button>
            <button type="button" class="btn btn-primary">
                <a href="/random-beers">Check a Random Beer!</a>
            </button>
        </div>
    </div>
</div>