<div class="index-container">
    <div class="center-nav">
        <img class="beer-main" src="/images/beer.png">
        <div class="button-div">
            <button type="button" onclick="window.location='/beers';">Check the Beers!</button>
        </div>
        <div class="button-div">
            <button type="button" onclick="window.location='/random-beers';">Check a Random Beer!</button>
        </div>

    </div>
</div>