<div class="index-container">
  <div>
    <img src="/images/beer.png" alt="Beer">
  </div>
  <div class="button-container">
    <a href="/beers">Check the Beers!</a>
    <a href="/random-beers">Check a Random Beer!</a>
  </div>
</div>