<div class="index-container">
    <img src="../images/beer.png" alt="beer mug">
    <button class="check-btn">Check the Beers!</button>
    <button class="random-btn">Check a Random Beer!</button>
</div>