<div class="index-container">
  <div class="beer-img">
    <img src="/images/beer.png">
  </div>
  <button class="beer-button"><a href="/beers">Check the Beer!</a></button>
  <button class="beer-button"><a href="/randombeers">Check the Beer!</a></button>
</div>