<div class="index-container">
  <div class="index-image">
    <img src=/images/beer.png>
  </div>
  <div class="home-buttons">
    <button type="button" class="btn btn-primary" ><a class ="btn-links" href="/beers">Beers</a></button>
    <button type="button" class="btn btn-primary" ><a class ="btn-links" href="/random-beer">Random Beer</a></button>
  </div>
</div>