
<div class="index-container">
  <img src="images/beer.png" class="beer">
  <button><a href="/beers">Check the Beers!</a></button>
  <button><a href="/random_beers">Check a Random Beer!</a> </button>
</div>