<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="../public/styles/styles.css"/>
</head>
<body>

<div class="index-container">
  
  <h1>INDEX :D</h1>
  
</div>

</body>
</html>


