{{!-- 
    {{#if email}}
    <button> Unsubsribe</button>
    <p>Current e-mail : {{email}}</p>
    <button>Update your email</button>
    {{/if}}

    {{#unless email}}
    <button>Subscribe  </button>
    {{/unless}}


    <ul>
        {{#each recentProducts}}
        <li>{{this}}</li>
        {{/each}}
    </ul> --}}


<div class="beer-image" ><img src="/images/beer.png" alt="Beer"><br>
</div>

<div >  
    <button class="buttons"><a href='/beers'>Check the Beers!</a></button>
</div>
<br>

<div >
    <button class="buttons"><a href='/random-beers'>Check a Random Beer</a></button>
</div>
