<div class="index-container">
  <img src="/images/beer.png" class="" alt="">
  <button type="button" class="btn btn-primary mx-auto">Check the Beers!</button>
  <button type="button" class="btn btn-primary mx-auto">Check the Random Beer!</button>
</div>