<div class="index-container">
        <div class="">
            <img src="/images/beer.png" class="rounded" alt="beer">
        </div>

            <button type="button" class="btn btn-primary btn-lg">Check the beers!</button>
            <button type="button" class="btn btn-primary btn-sm">Check a Random beers!</button>
</div>