<div class="index-container">
  <div class="home-beer-pic-container flex-center">
    <img class="home-beer-pic" src="./images/beer.png" alt="beer">
  </div>
  <div class="button-container flex-column">
    <a class="btn-all-beers" href="/beers">Check the Beers!</a>
    <a class="btn-random-beer" href="/random-beer">Check a Random Beer!</a>
  </div>
</div>