<div class="index-container">
  
</div>

<div class="imagen">
    <img src="/images/beer.png" alt="beer" width="200" height="250">
    </div>
    <div class="buttons">
    <button type="button" class="button btn btn-primary btn-lg"><a class="navbar-brand" href="beers-page">Check the Beers!</a></button>
    </div>
    <div class="buttons">
    <button type="button" class="button btn btn-primary btn-lg"><a class="navbar-brand" href="random-beer-page">Check the Random Beer!</a></button>
</div>