<div class="index-container">
  <div class="index-image">
    <img src=/images/beer.png>
  </div>
  <div class="home-buttons">
    <a class ="btn-links" href="/beers"><button type="button" class="btn btn-primary" >Beers</button></a>
    <a class ="btn-links" href="/random-beer"><button type="button" class="btn btn-primary" >Random Beer</button></a>
  </div>
</div>