<div class="index-container">
  
<div class="picDiv">
<img class="beerMug" src="/images/beer.png">
<button><a href="http://localhost:3000/beers">Check the Beers!</a></button>
<button><a href="http://localhost:3000/random-beers">Check a random Beer!</a></button>
</div>


</div>