<div class="index-container">
<img alt="Frothy beer mug" src="./images/beer.png">
<button type="button" class="btn btn-primary" src="/beers">Check Out the Beers!</button>
<button type="button" class="btn btn-primary" src="/random-beers">Check Out a Random Beer!</button>
</div>