<div class="index-container">
    <div>
        <img src="/images/beer.png" alt="">
    </div>
    <a href="beers">
        <button type="button" class="btn btn-primary">Check the beers!</button></a>
    <a href="randombeers"></a>
    <button type="button" class="btn btn-primary">Check a random</button>



</div>