<div class="image">
    <img class="xc" src="/images/beer.png" width="320px" align="middle">
</div>

<div class="button">
<a href="/beers"> Check the beers! </a>

<a href="/random-beer"> Check random beer </a>
</div>