<div class="index-container">
  
  <img src="/images/Beer.png" class="img-responsive center-block">
</div>
<div class="button">
<a class="btn colorazure button" href="/beers" role="button">Check the Beers!</a>
</div>

<div class="button">
<a class="btn colorazure button" href="/randombeers" role="button">Check a Random Beer</a>
</div>