<div class="index-container">
    <nav class="nav nav-pills nav-justified">
        <a class="nav-link active" href="#">Active</a>
        <a class="nav-link" href="#">Longer nav link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled" href="#">Disabled</a>
    </nav>
    <div>
        <div class="beer-img">
            <img src="/images/beer.png">
        </div>
        <div>
            <button>Check the beers!</button>
            <button>Check the Random beers!</button>
        </div>
    </div>

</div>