<div class="index-container">
  <img class="card-img-top" src="../images/beer.png" alt="Beer image">
  <div class="card-body">
      <a href="/beers" class="btn btn-primary btn-margin">Check the Beers!</a>
      <a href="/random-beer" class="btn btn-primary btn-margin">Check a random Beers!</a>
  </div>
</div>