<div class="index-container">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
    <img class="uk-align-center" src="./images/beer.png" width="300px">
    <a href="/beers">
      <button class="uk-align-center uk-button uk-button-primary uk-button-small">Check the Beers!</button>
    </a>
    <a href="/random-beers">
      <button class="uk-align-center uk-button uk-button-primary uk-button-small">Check a Random Beer!</button>
    </a>
  </div>
</div>