<div class="index-container container center-align">
  <img src="./images/beer.png" alt="Beer">
  <p><a href="/beers" class="waves-effect waves-light btn">Check the Beers!</a></p>
  <p><a href="/random-beers" class="waves-effect waves-light btn">Check a Random Beer</a></p>
</div>