<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4 index-padding">
      <img class="img-responsive beer-image" src="/images/beer.png" alt="Beer image">
      <div class="buttons d-flex flex-column align-items-center">
        <a class="mi-button btn btn-primary" href="/beers">Check the Beers!</a>
        <a class="mi-button btn btn-primary" href="/beers">Check a Random Beer!</a>
      </div>
    </div> 
  </div>
</div>