<div class="index-container">
    <img src="images/beer.png" alt="">
    <a class="btn-info" href="/beers">Check the Beers!</a>
    <a class="btn-info" href="/random-beers">Check a Random Beer!</a>
</div>