<div class="index-container text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <div>
          <img class="beer-img" src="/images/beer.png" alt="Beer">
        </div>
        <div>
          <a href="/beers" class="btn btn-primary">Check the Beers!</a>
        </div>
        <div>
          <a href="/random-beers" class="btn btn-primary">Check a Random Beer!</a>
        </div>
      </div>
    </div>
  </div>
</div>