<div class="index-container">
  <img src="/images/beer.png" alt="Beer">
  <div class="index-btn">
    <a class="btn" href="/beers">Check the Beers!</a>
    <a class="btn" href="/random-beers">Check a Random Beer</a>
  </div>
</div>