<div class="index-container">
    <img src="images/beer.png">
    <form>
        <input type="button" value="Check the beers!" onclick="window.location.href='/beers'" />
    </form>
    <form>
        <input type="button" value="Check a randm beer!" onclick="window.location.href='/randomBeers'" />
    </form>
</div>