    <div class="index-container">
        <img class="img1" src="/images/beer.png" alt="Beer Glass">  
    </div>

    <div class="index-container">
        <a class="a1 btn btn-primary" href="/beers" role="button">Check the Beers!</a>
        <a class="a1 btn btn-primary" href="/random" role="button">Check a Random Beer</a>
    </div>

    <footer>
        <h6>Developed  by Ironhaker ;)</h6>
    </footer>




