<div class="index-container">
  


    <div class="container" >
      <div class="row">
        <div class="col-4"></div>
      <img class="col-4" src="images/beer.png" height="400px"  alt="Beer img">

     
   
   </div>
   <div class="row"> 
    <div class="col text-center">
     <a href="/beers" class="btn btn-primary">Check the Beers!</a>
     </div>     


      <div class="col-md-12 text-center">
      <a href="/randomBeer" class="btn btn-primary">Check a Random Beer</a>
      </div> 
</div>

</div>