<div class="index-container">

</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <img src="images/beer.png" width="400px" alt="">

    </div>
  </div>
</div>
<div class="buttons col-sm-12 text-center">
  <div>
    <a href="/beers">
      <button class="btn btn-primary">Check the Beers!</button>
    </a>
  </div>
  <div>
    <a href="/random-beers">
      <button class="btn btn-primary">Check a Random Beer</button>
    </a>
  </div>
</div>