<div class="index-container">
  <div class="main-beer">

<img src="images/beer.png">
<button class="btn btn-primary btn-sm checkBeers"><a href="/beers">Check the Beers!</a></button>
<button class="btn btn-primary btn-sm randomBeers"><a href="/randome">Check the Random Beers!</a></button>


  </div>
</div>