<link rel = "stylesheet" type="text/css" href="/stylesheets/styles.css">
<div class="index-container">
    <div class="beer-container">
        <img src="/images/beer.png" alt="Beer img">
        <button class="button"><a href="/beers">Check the Beers!</a></button>
        <button class="button"><a href="/randombeer">Check A Random Beer!</a></button>
  </div>
</div>