<main class="container py-5">
  <img src="images/beer.png" class="d-block m-auto beer">
   <a class="btn btn-primary btn-class" href="/beers" role="button">Check the Beers!</a>
 <a class="btn btn-primary btn-class btn-class2" href="/random-beers" role="button">Check the random beers!</a>
</main>