<div class="index-container">
    <img class="img-index" src="images/beer.png" alt="beer">
    <div>
        <button type="button" class="btn btn-primary"><a href="/beers">Check the Beers!</a></button>
        <br>
        <button type="button" class="btn btn-primary"><a href="/random-beers">Check the Beers!</a></button>
    </div>
</div>