<div class="index-container">
  <br>
  <img src="images/beer.png" width=20%>
  <button onclick="location.href='beers'" type="button">
     Beers</button>
     <button onclick="location.href='randombeer'" type="button">
     Random Beer</button>
  
</div>