<div class="index-container">
    <img src="/images/beer.png" alt="beer">
    <a href="/beers">
        <button type="button">Check the Beers!</button>
    </a>
    <a href="/random-beers">
        <button>Check a Random Beer!</button>
    </a>

