<!-- layout.hbs -->
<div class="index-container">
  <img class="img-beer"src="images/beer.png">
  <div class="btn-container">
    <button><a class="button-beers" href="/beers">Check the Beers</a></button>
    <button><a class="button-random" href="/random-beers">Check a Random Beer!</a></button>
  </div>
</div>