
<div class="index-container">
    <img src="/images/beer.png" alt="tarro de cerveza" class="imagen">
    <a type="button" class="btn btn-primary" href="/beers">Check the Beers!</a>
    <a type="button" class="btn btn-primary" href="/random-beers">Check a Random Beer!</a>
</div>