<div class="index-container">
    <img src="/images/beer.png" alt="">
</div>
<div class="div-btn">
    <button type="button" class="btn btn-primary mx-auto">Check the Beers!</button>
    <button type="button" class="btn btn-primary mx-auto">Check a Random Beers!</button>
</div>