<div class="index-container">
    <img src="images/beer.png" alt="" class="beerImg">
    <br><br>
    <a class="btn btn-primary" href="/beers" role="button">Check the Beers!</a>
    <br><br>
    <a class="btn btn-primary" href="/randomBeers" role="button">Check a Random Beer!</a>
</div>