<div class="center">
    <img class="beer" src="/images/beer.png" alt="">
</div>
<div class="butt1">
    <button type="button" class="btn btn-primary btn-lg">Check the Beers!</button>
</div>
<div class="butt2">
    <button type="button" class="btn btn-primary btn-lg">Check a Random Beer</button>
</div>