<div class="index-container">
  <img src="./images/beer.png" alt="beer" id="beer-img">
  <form action="/beers" method="GET">
    <button class="btn" id="check-btn" type="submit">Check the beers!</button>
  </form>
  <form action="/random-beers" method="GET">
    <button class="btn" id="rdm-btn" type="submit">Check a Random Beer!</button>
  </form>
</div>