<div class="index-container">

    <img class="img-beer" src="images/beer.png" alt="beer">
    <div class="text-center">
    <a href="/beers"><button type="button" class="btn btn-primary button">Check the Beers!</button></a>
    <a href="/random-beers"> <button type="button" class="btn btn-primary button">Check a Random Beer</button></a>

    </div>
  
</div>