<div class="all-height d-flex flex-column align-items-center
  justify-content-center">
  <img src="/images/beer.png" alt="beer">

  <a class="btn btn-primary" role="button" href="/beers">Check the Beers!</a>
  <a class="btn btn-primary" role="button" href="/random-beers">Check a Random
    Beer</a>
</div>
