<div class="index-container">
    <img id="beer-icon" src="../images/beer.png" alt="Ironbeer Logo">
    <button id="check-beer"><a href="/beer">Check the Beers!</a></button>
    <button id="random-beer"><a href="/random-beer">Check a Random Beer!</a></button>
</div>