<div class="index-container row">
    <div class="col-12">
        <div class="img-wrapper"><img src="/images/beer.png" alt="ironbeers"/></div>

        <div class="btn-wrapper"><a href="/beers/" class="index-btn btn btn-primary">Check the Beers!</a></div>
        <div class="btn-wrapper"><a href="/random/" class="index-btn btn btn-primary">Check a Random Beer!</a></div>
        
    </div>
</div>