<div class="index-container">
  <div id='beer'>
    <img id = 'beer-cup' src='images/beer.png'>
    
    <a href="/beers" class="button">Check the Beers!</a>

    <a href="/random-beers" class="button">Check the Random Beer!</a>
  </div>
</div>