
<div class="index-container">
  <img src="images/beer.png" width="30%" class="background-pic">
</div>
<div class="buttons">
<a href="/beers" class="btn btn-primary btn-lg active beer" role="button" aria-pressed="true">Check the Beers!</a>
<a href="/random-beer" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check a Random Beer!</a>
</div>