<div class="index-container">
  <img src = '/images/beer.png' height = '300px' width = '300px'>
  <div>
  <button id = 'beer-buttom'>Check the Beers!</button>
  </div>
  <div>
  <button id = 'random-buttom'>Check a Random Beer!s</button>
  </div>
  
</div>