<div class="index-container">
  <img class="index-container__beer" src="images/beer.png" alt="Beer Mug">
  <a href="/beers" class="index-container__link link">Check the Beers!</a>
  <a href="/random-beer" class="index-container__link link">Check a Random Beer!</a>  
</div>