<div class="index-container">
  <img src="/images/beer.png" alt="Logo">
<button id="button1" type="submit">Check the Beers</button>
<button id="button2" type="submit">Check a Random Beer</button>
</div>