<div class="index-container">
  <div class="container">
    <div class="row justify-content-center">
      <img src="/images/beer.png" alt="Cervezonga">
    </div>
    <div class="row justify-content-center">
      <a href="/beers" class="button btn btn-primary">Check the Beers!</a>
    </div>
    <div class="row justify-content-center">
      <a href="/random-beer" class="button btn btn-primary">Check a Random Beer!</a>
    </div>
  </div>
</div>