<div class="index-container">
  <img src="images/beer.png" alt="beer">
  <button id="check"><a href="/beers">Check the Beers!</a></button>  
  <button id="random"><a href="/random-beer">Check a Random Beer!</a> </button>
</div>