<div class="index-container">
    <div class="beer container">
        <img src="images/beer.png" style="height: 150px;">
        <button>Check the beers!</button>
        <button>Check a random beer!</button>
    </div>
</div>