<div class="index-container">
  
  <div class="beer-block">
    <img height="200px"; src="images/beer.png">
  </div>

  <div class="button-block">
    <button><a href="/beers">Check the Beers!</a></button>
    <button><a href="/random-beers">Check a Random Beer!</a></button>
  </div>  

</div>