<div class="index-container">
  <img alt="beer" src="/images/beer.png">
  <div class="index-buttons">
    <a href="/beers"><button>Check the beers !</button></a>
    <a href="/random-beer"><button>Check the random beer !</button></a></div>

</div>