  <div class="index-container">
  <img class="imagebeer" src="/images/beer.png" alt="Good Beer">
  <p><button class="button"><a href="/beers">Check the beers</a></button></p>
  <p><button class="button"><a href="/randomBeers">Check the random beer</a></button></p>
</div>
