<div class="index-container">
  <img src="images/beer.png" alt="beer" width="350px">
  <button><a href="/beers">Check a Beer</a></button>
  <button><a href="/random_beer">Check a Random Beer</a></button>
</div>