<div class="index-container">

  <img class="mug" src="images/beer.png">

<div id="flex">
  <button id="checkBeers" href="/beers"> Check the beers! </button>
  <button id="randomBeers" href="/randomBeers"> Check a random beer! </button>
</div>
  
  
</div>