<div class="index-container">
  
    <div class="content">
      <img src="/images/beer.png" alt="beer">
      
      
    </div>
    <button type="button" class="btn btn-primary"><a href="/beers" ></a>Check the Beers!</a></button>
    <button type="button" class="btn btn-primary"><a href="/random-beers" >Check a Random Beer!</a></button>
</div>