<h1>Index </h1>


<img src="/images/beer.png" alt="">

<br>
<br>
<br>


<a class="btn btn-primary" href="/beers">Check the Beers</a>

<a class="btn btn-primary" href="/random-beer">Check a Random Beer</a>