<div class="index-container">
    <img class="beer-img" src="/images/beer.png" alt="beer-img">
    <a class="nav-link check" href="/beers">Cheek the Beers!</a>
    <a class="nav-link check-random" href="/random-beers">Check a Random Beer</a>
</div>