<div class="index-container">
  <img id="beer" src="../images/beer.png">
  <button onclick=location.href="/beers">check the beers!</button>
  <button onclick=location.href="/random-beers">check a random beer!</button>
</div>