<div class="index-beer">
	<img src="./images/beer.png" alt="">
</div>
<div class="btn-group">
	<a href="/beers" class="btn btn-primary" role="button">Check the Beers!</a>
	<a href="/random-beers" class="btn btn-primary" role="button">Check a Random Beer!</a>
</div>