<div class="index-container">
    <img class="beer" src="/images/beer.png">
    <button><a href="beers">Check the beers</a></button>
    <button><a href="random-beer">Random beer</a></button>
  
</div>