<div class="index-container">
  <img src="/images/beer.png">
  <button class="btn btn-primary" href="../views/beers.hbs" type="submit">Check the Beers!</button>
  <button class="btn btn-primary" href="../views/random-beers.hbs" type="submit">Check a Random Beer!</button>
</div>