<div class="index-container">
  <img src="/images/beer.png" alt="beers">
  <div class="buttons">
  <a class ="button" href= "/beers">Check the Beers!</a>
  <a class ="button" href= "/random-beer">Check a Random Beer!</a>
  </div>
</div>