<div class="index-container">
  <img class="index-container__beer" src="./images/beer.png" alt="Beer with foam">
  <a href="/beers" class="index-container__btn btn">Check the Beers!</a>
  <a href="/random-beers" class="index-container__btn btn">Check a Random Beer!</a>
</div>
