  <script src="/js/buttons.js"></script>
  
  <img id="beer" src="/images/beer.png" alt="beer">
  <button id="beerButton">Check the beers!</button>
  <button id="randomBeerButton">Check a Random Beer!</button>
