<div class="">
  {{!-- <h1>sadada</h1> --}}
  <div class='mx-auto'>
    <img src="/images/beer.png" width='450' height='450' class="img-fluid m-3 justify-content-center" alt="Responsive image">
 </div>
  <div class='container mx-auto p-3'>
      <button type="button" class="btn btn-primary align-bottom ">Check the Beers!</button>
  </div>
  <div class='mx-auto p-3'>
      <button type="button" class=" btn btn-primary align-bottom ">Check a Random Beer!</button>
  </div>
</div>