<div class="cards-container1">
    <div class="beerImage">
      <img class="card-img-top" src="/images/beer.png" alt="Card image cap">        
    </div>
    <div class = "bttn">        
        <a href="/beers" class="btn btn-primary">Check the beers!</a>
    </div>
    <div class = "bttn">       
        <a href="/random-beers" class="btn btn-primary">Check a Random Beer!</a>
    </div>
</div>    
