<div class="index-container">
    <img src="images/beer.png" alt="a beer">
    <button type="button" class="btn btn-primary " id="button-beers">Check the Beers!</button>
    <button type="button" class="btn btn-primary " id="button-random-beers">Check a Random Beer!</button>
</div>