<div class="index-container">
  <img src="/images/beer.png" alt="Not found">
  <a class="likeButton" href="/beer">Check the Beers!</a>
  <a class="likeButton" href="/random-beers">Check a Random Beer</a>
</div>