<div class="index-container">
  <img src="/images/beer.png" id="beer-img" alt="">
  <a href="/beers" class="btn">Check the Beers!</a><br><br><br>
  <a href="/random-beers" class="btn">Check a Random Beer!</a>
</div>