<div class="index-container">
  <img src="/images/beer.png" alt="Ironbeers image" class="beer-img">
  
  <a class="homepage-button small-width"  href="/beers">Check the Beers!</a>
  <a class="homepage-button medium-width"  href="/random-beer">Get a Random Beer!</a>
</div>