<div class="container">
  <div class="flex-items">

    <img class="main-beer-image" src="../images/beer.png" alt="">
  </div>
  <div class="flex-items">
      <button type="button" class="btn btn-primary"> <a class="visted" href="/beers">Check the Beers!</a></button>
   </div>
  <div class="flex-items">
      <button type="button" class="btn btn-primary"> <a class="visted" href="/random-beer">Check a Random Beer!</a></button>
   </div>
  </div>
</div>


  