<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/starter_code/public/stylesheets/styles.css">
</head>
<body>
    <div class="index-container">
        <div>
            <img class="beer" src="/starter_code/public/images/beer.png" alt="Beer">
        </div>
    </div>
    <div>
        <button>Check the beers</button>
    </div>
    <div>
        <button>Check a Random Beer!</button>
    </div>
</body>
</html>