<!-- layout.hbs -->

<div class="index-container container">
  <div class="row justify-content-center">
    <div class="index-content d-flex flex-column align-items-center">
      <img id="big-beer" src="../images/beer.png">
      <a href="/beers"><button class="btn">Beers</button></a>
      <a href="/random"><button class="btn">Random Beer</button></a>
    </div>
  </div>
</div>
