<div class="index-container">
  <div class= "align-all">
    <figure class="beer-image">
    <img src="../images/beer.png" alt="beer">
  </figure>

  <div class="beers-links">
    <a href="/beers">Check the Beers!</a>
    <a href="/random-beer">Check a Random Beer!</a>
  </div>
  </div>
</div>