<div class="index-container">
    <div class="mx-auto" style="width: 200px;">
  <a class="btn btn-primary" href="#" role="button">Check the Beers!</a>
  <br>
  <a class="btn btn-primary" href="#" role="button">Checl a Random Beer!</a>
</div>
</div>