<div class="index-container">
    <div class="div-beer">
      <img src="/images/beer.png" alt="beer">
    </div>
    <div class="buttons">
        <button >
            Check the beer
        </button>
        <button>
            Check a random beer
        </button>
    </div>
</div>