
<div class="index-container container">
    <div>
        <div><img src="/images/beer.png" alt="beer" width="256" height="256"> </div> {{!-- ¿porque aparecio l aimagen automaticamente?  --}}
    </div>

    <div class="checadores">
        <div> <button type="button" class="btn btn-primary"><a class="btns" href="/beer"> Check the Beers! </a></button> </div> &nbsp;
        <div> <button type="button" class="btn btn-primary"> <a class="btns"href="/random-beer"> Check a Random Beer" </a></button> </div>
    </div>
</div>
