<div class="index-container">
  <img class="image-beer" src="../images/beer.png" alt="">
  <div class="index-buttons1">
    <a href="beers" type="button" class="button-custom">Check the Beers!</a>
    <a href="randombeers" type="button" class="button-custom">Check a Random Beer!</a>
  </div>
</div>