<div class="index-container">
  <div class="beer-img">
    <img src="/images/beer.png" alt="_beer">
  </div>

  <div class="btn">
    <a href="/beers">
      <button>Check The Beers!</button>
    </a>

    <a href="/random-beer">
      <button>Check a Random Beer!</button>
    </a>
  </div>

</div>