<div>
  <div class="wrap-beer">
   <img src="/images/beer.png"><br>
   <p><a class="boton" id="chb" href="/beer">Check the Beers!</a></p><br>
   <p><a class="boton" id="chrb" href="/random-beers">Check Random Beer!</a></p>
  </div>
</div>

