<div class="index-container">
  <img src="../images/beer.png" alt="beerimg">
  <button><a href="/beers">Check the Beers!</a></button>
  <button><a href="/random-beers">Check a Random Beers!</a></button>
</div>