<div class="index-container">
    <img src="/images/beer.png" alt="beer">
</div>

<div class="beers-button">
    <button><a href="/beer">Check the beers!</a></button>
    <button><a href="/random-beer">Check a random beer!</a></button>
</div>