<div class="index-container">

    <div class="maincontent">
        <img src="/images/beer.png" alt="" />
        <button type="button"> <a href="/beers">Check the Beers!</a>

        </button>

        <button type="button"> <a href="/randomBeer">Check a Random Beer!</a>
        </button>

    </div>

</div>