  <div class="box-center">
    
    <img class="beer-png" src="/images/beer.png">
    <a href="/beers" class= "button" id="beer-btn">Check the Beers!</a>
      <a href="/random-beers" class="button" id="rand-beer-btn">Check a Random Beer!</a>

</div>
