<div class="index-container">
  <img src='/images/beer.png' alt = "beer">
</div>
<div id="btnOne">
<button><a href="beers">Check the Beers!</a></button>
</div>
<div id="btnTwo">
<button><a href="random-beers">Check a Random Beer</a></button>
</div>