<div class="index-container">
  <img src="/images/beer.png" alt="">
  <button><a href="/beers"></a>Check the beers</button>
  <button><a href="/random-beer"></a>Check a Random beer</button>
</div>
{{!-- 
no veo como entra esto en el todo --}}