
 <div class="d-flex flex-column justify-content-center align-items-center m-3">
  <img src="/images/beer.png" alt="beer">
  <a href="/beers" class="btn btn-primary bg-blue m-2">Check the beers!</a>
  <a href="/random-beers" class="btn btn-primary bg-blue m-2">Check a random beer</a>
 </div>