<div class="index-container">
  <img class="uk-position-center" data-src="/images/beer.png" width="300px" height="300px" alt="beer drawing" uk-img>
  <div id="links">
    <a class="uk-button uk-button-primary" href="/beers">Check the Beers!</a>
    <a class="uk-button uk-button-primary" href="/random-beer">Check a Random Beer!</a>
  </div>
</div>