<div class="index-container">
  <img src="/images/beer.png" alt="beer">
  <div class = button-container>
    <button>Check the Beers!</button>
    <button>Check a random Beer!</button>
  </div>
</div>