<div class="index-container">
  <img src="/images/beer.png" alt="beer">
  <button class="btn"><a href="/beers">Check the beers!</a></button>
  <button class="btn"><a href="/random-beers">Check a random beer!</a></button>
</div>