<div class="index-container">
   <div class="container">
     <div class="d-flex justify-content-center align-items-center pt-4">
      <img src={{beerImg}} alt="">
     </div>

    <div class="col-12 text-center mt-4 mb-4">
      <a href="/beers" class="btn btn-primary btn-lg">Check the bears!</a>
    </div>

    <div class="col-12 text-center mt-4 mb-4">
      <a href="/random-beers" class="btn btn-secondary btn-lg">Check the random Bears</a>
    </div>
  </div> 
</div>