<div class="index-container">
    <div class = "index-container-col">
      <img src = "/images/beer.png"/>
      <button id = "btn-checkBeer" type = "button">Check the Beers!</button>
      <button id = "btn-checkRandBeer" type = "button">Check a Random Beer!</button>
    </div>
</div>