<!-- index.hbs -->

<div class="container index-container">
    <img src="/images/beer.png" alt="beer image">

    <a href="/beers"> Check the Beers! </a>

    <a href="/random-beers"> Check the Random Beer! </a>

</div>