
<div class="container">


    <img src="/images/beer.png" width="300" alt="beer" class="beer-cover-img">

    <button onclick="location.href='/beers'" type="button">Check the Beers!</button>
    <button onclick="location.href='/random-beer'" type="button">Check the Random Beer!</button>



</div>