<div class="index-container">

  <h1 class="page-title">Welcome to Ironbeers</h1>
  <img src="/images/beer.png" alt="beer image">

  <a href="/beers"><button>Check the Beers!</button></a>
  <a href="/random-beer"><button>Check a Random Beer</button></a>

</div>