<div class="index-container">
    <div class="align-items-center d-flex flex-column mt-5">
        <img src="/images/beer.png" alt="Beer" class="mb-5 w-75">
        <a role="button" href="/beers" class="btn btn-primary mb-3">Check the Beers!</a>
        <a role="button" href="/random-beer" class="btn btn-primary">Check a Random Beer</a>
    </div>
</div>