<div class="index-container">
  <img id="beer" src="images/beer.png" alt="beer"/>
  <button id="btn-beer" >Check the Beers!</button>
  <button id="btn-random-beer">Check a Random Beer!</button>
</div>