<div class="index-container">
    <div>
        <img src="../images/beer.png" alt="ironbeer">
    </div>
    <div class="index-buttons">
        <a class="btn btn-primary" style="background-color: #2081C3;" href="/beers" role="button">Check the Beers!</a>
        <a class="btn btn-primary" style="background-color: #2081C3;" href="/random-beer" role="button">Check a Random Beer!</a>
    </div>
</div>