<div class="row">
  <div class="col-12 text-center">
    <figure class="figure"><img class="img__index mt-4" width="350"  src="images/beer.png"></figure><br>
    <a class="btn btn-info mr-5 mb-2 mt-2" href="/beers">Check the Beers!</a><br>
    <a class="btn btn-info mr-5 mb-2" href="/randomBeer">Get a Random Beer!</a><br>
  </div>
</div>
