   <div class="index-container">
      <img src="/images/beer.png" class="beerImg">

      
      <button><a role="button" href="/beers" class="btn-lg btn btn-primary">Check the Beers!</a></button>
      <button type="button" class="btn2" target="/random-beers"><a role="button" href="/randomBeers" class="btn-lg btn btn-primary">Check a Random Beer!</a></button>
    </div>