<div class="index-container">
  <div>
      <img src = "images/beer.png">
  </div>
  <div>
  <button type="button" class="btn btn-primary"> <a href="/beers">Check the Beers!</a></button>
  </div>
  <div>
  <button type="button" class="btn btn-primary">Check a Random Beer!</button>
  </div>
</div>