<!DOCTYPE html>
<html>
  <head>
    <title> IronHack </title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/beers">Beers</a>
      <a href="/random-beers">Random Beer</a>
    </nav>
    <div class='container'>
   <%- body %>
    </div>
   <footer>Developed by IronHack ;)</footer>
  </body>
</html>