<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ironbeers</title>
    <link rel="stylesheet" href="/starter_code/public/stylesheets/styles.css">
  </head>

  <body>
  
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Beers</a></li>
        <li><a href="#">Random Beer</a></li>
      </ul>
    </nav>

    <footer>
      Developed by Ironhack ;)
    </footer>

  </body>
