<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IronBeers</title>
  <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<body>
<div class="container">
  <nav class="navbar">
    <ul class="navbar__list">
      <li class="navbar__list__item"><a class="navbar__list__item__link" href="/">Home</a></li>
      <li class="navbar__list__item"><a class="navbar__list__item__link" href="/beers">Beers</a></li>
      <li class="navbar__list__item"><a class="navbar__list__item__link" href="/random-beer">Random Beer</a></li>
    </ul>
  </nav>

    {{{ body }}}

  <footer class="footer">
    <span>Developed by Ironhack ;)</span>
  </footer>
</div>
</body>
</html>