<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <nav class="navbar">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/beers">Beers</a>
    <a class="navbar-brand" href="/randomBeer">Random Beer</a>
  </nav>
    
{{{ body }}}


  <footer>
    <p>Develop by Ironhack ;)</p>
  </footer>
</body>
</html>