<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ironbeers</title>
    <link href="/stylesheets/styles.css" rel="stylesheet"/>
</head>
<body>
    <nav class="navFooter">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href ="/beers">Beers</a></li>
            <li><a href="/randombeer">Random Beer</a></li>
        </ul>
    </nav>

    {{{body}}}

    <footer class="navFooter">
        <h4>Developed by Ironhacker :)</h4>
    </footer>
</body>
</html>