<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ironbeer</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    {{> nav}}
    {{{body}}}
    {{> footer}}
  </body>
</html>