<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>

<body>

    <div class="mainContainer">

        <div class="firstContainer">
            <div>
                <a href="/"> Home</a>
            </div>
            <div>
                <a href="/beers"> Beers</a>
            </div>
            <div>
                <a href="/random-beers"> Random Beers</a>
            </div>


        </div>

        <div class="bodyContainer">
            {{{body}}}
        </div>

        <div class="thirdContainer">Develop by Ironhack ;)</div>







    </div>



</body>

</html>