<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IronNBA</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
      <nav>
          {{!-- Path to folders already set in app.js --}}
          <a href="/index.hbs"> Home </a>
          <a href="/beer.hbs"> Beers </a>
          <a href="/random-beers.hbs"> Random Beers</a>
      </nav>


    {{{ body }}}  
  </body>
</html>