<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IRONBEER</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <ul class="nav-bar">
    <li>
      <a href="/">Home</a>
    </li>
    {{!--
    <li>
      <a href="/all-beers">Beer</a>
    </li> --}}
    <li>
      <a href="/random-beers">Random Beer</li>
    <li>
      <a href="/all-beers">All Beer</li>
  </ul>

  {{{body}}}







  <footer class="bottom">
    Develop by Ironhack :)
  </footer>


</body>

</html>