<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
  <div class="navbar-nav">
    <a class="nav-item" href="/">Home
    <a class="nav-item" href="/beers">Beers</a>
    <a class="nav-item" href="/random-beer">Random Beer</a>
  </div>

  
  {{{ body }}}


</body>
<footer class="nav-item">
  <p>Develop by NiN ®</p> 
</footer>
</html>