<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="/stylesheets/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/beers">Beer</a>
    <a href="/random-beers">Random Beer</a>
  </nav>
  <div class="cerve">
    {{{body}}}
  </div>
  <footer>Developed by Ironhack</footer>
</body>

</html>