<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <title>Ironbeers</title>
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="beers">Beers</a>
    <a href="random-beer">Random Beer</a>
  </nav>

  {{{ body }}}

  <footer>Develop by Ironhack</footer>
</body>

</html>