<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lab Ironbeers</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
{{!-- Partial for navbar --}}
  {{> navbar}}

  <main class="main">
    {{{body}}}
  </main>

  <footer class="footer">Developed by Lisbon TAs ❤︎</footer>
</body>

</html>