<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">
</head>

<body>
    <div class="navibar">
        <a href="#">Home</a>
        <a href="#">Beers</a>
        <a href="#">Random Beer</a>
    </div>

    <div class="content">

        {{{ body }}}

    </div>


</body>
<footer class="footer">
    <p>Develop by Ironhack ;)</p>
</footer>

</html>