<!doctype html>
<html>

<head>
  <title>HOME</title>
  <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body>
  <header>
    <nav>
      <ul class="nav-ul">
        <li class="nav"><a href="/"> Home </a></li>
        <li class="nav"><a href="/beers"> Beers </a></li>
        <li class="nav"><a href="/random-beers"> Random Beer </a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {{{ body }}}
  </div>
  <footer>
    <div>
      <p> Developed by ironhack ;) </p>
    </div>
  </footer>
</body>

</html>