<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/styles.css">

  <title>IRONBEERS</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/beers">Beers</a>
      <a href="/randomBeer">Random Beer</a>
    </nav>
  </header>

  {{{body}}}

  <footer>
    <nav><a href="">Develop by KAREN OTA in IronHack</a></nav>
  </footer>
</body>
</html>