<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  <link rel="stylesheet" href="stylesheets/styles.css">
  <title>IronBeers</title>
</head>

<body>
  <nav class="navbar">
    <a class="nav-item nav-link active" href="/">Home</a>
    <a class="nav-item nav-link" href="/beers">Beers</a>
    <a class="nav-item nav-link" href="/random-beers">Random Beer</a>

    </div>
  </nav>


  <main class="container">
    {{{body}}}
  </main>

  <footer class="footer">
    <p>Develop by Ironhack ;)</p>
  </footer>
</body>

</html>