<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>{{title}}</title>
</head>

<body>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/beers">Beers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/random-beer">Random Beer</a>
      </li>
    </ul>
  </nav>
  <div class="container d-flex flex-column align-items-center">
    {{!-- {{#ifEquals this.title "Beers"}}
    <div class="beer-collection">
      {{{body}}}
    </div>
    {{#else}} --}}
      {{{body}}}
    {{!-- {{/if}} --}}
  </div>
  <footer>
    <h4>Developed by Ironhack ;)</h4>
  </footer>
</body>

</html>