<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>IronBeers</title>
</head>

<body>
    {{!-- No entiendo en que momento se enlaza el layout,con el fichero index,
    veo que el index lo ejecutamos desde el app.js pero sin embargo, aqui hacemos referencia
    al nav y al footer, pero no al index --}}
    
    {{>nav}}
    {{{body}}}
    {{>footer}}
</body>

</html>