<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Iron Beers</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
</head>
<body>
  <nav class="nav-bar">
    <a href="/" class="links first-link">Home</a>
    <a href="/beers" class="links">Beers</a>
    <a href="/random-beer" class="links">Random Beer</a>
  </nav>
  {{{ body }}}
  <footer class="footer">Developed by Ironhack</footer>
</body>
</html>