<!DOCTYPE html>
<html lang="en">
<head>
  <title>IronBeers</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="IronBeers">
    
  <!--hoja de estilos-->
  <link rel="stylesheet" href="stylesheets/styles.css">
    
  <!--Boostrap-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.css" integrity="sha256-Za8TaoAYg1BzmU9Re7Fiy6Hh3ac4jswPE1MKeTs95bw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css" integrity="sha256-D9AvR0EzkNZoWZVSvI3ch+uf/Z5izrIpcbsykVphwPU=" crossorigin="anonymous" />

</head>
<body>
    <header class="menu">
        <nav class="flexbox space-between">
          <ul class="top-links flexbox">
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beer">Random Beer</a></li>
          </ul>
        </nav>

    </header>
   

    {{{body}}}

    <footer>
      <h3>Develop by Ironhack :)</h3>
    </footer>

</body>
</html>