<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LAB IronBeers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header>
        <nav class="navbar bg-lightblue">
            <ul class="d-flex text-clr-white">
                <li class="p-2"><a href="/">Home</a></li>
                <li class="p-2"><a href="/beers">Beers</a></li>
                <li class="p-2"><a href="/random-beers">Random Beers</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
    <footer class="bg-darkblue text-clr-white ">
        <p>Developed by Ironhack ;)</p>
    </footer>
</body>

</html>
