<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>

<body>
    <nav class="nav-bar">
        <a href="/" class="link">Home</a>
        <a href="/beers" class="link">Beers</a>
        <a href="/random-beers" class="link">Random beers</a>
    </nav>


    <div class="container">
        {{{ body }}}
    </div>

    <footer>
        <p>Develop by Ironhack ;)</p>
    </footer>

</body>

</html>