<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="module" src="/app.js"></script>
    <link rel="stylesheet" href="css/index.css">
    {{#each css}}
    <link rel="stylesheet" href="css/{{this}}.css">
    {{/each}}
    <title>Beers</title>
</head>

<body>
    <header id="main-header">
        <a href="/" class="link">Home</a>
        <a href="/beers" class="link">Beers</a>
        <a href="random-beer" class="link">Random beer</a>
    </header>
    <div class="container">
        {{{body}}}
    </div>
    <footer class="main-footer">
        <p>Developed by an <b>Ironhack lover</b>. Credits to PunkAPI.</p>
    </footer>
</body>

</html>