<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>IronBeers</title>
    <meta name="description" content="Iron and beers.">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="theme-color" content="#fafafa">
</head>

<div class="index-container">
    <header>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random Beer</a>
    </header>
    <body>
        {{{ body }}}
    </body>
    <footer>
        Developed by Andres Weber
    </footer>
</div>