<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>IronBeers</title>
</head>

<body>
    <nav>
        <ul>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/beers">
                <li>Beers</li>
            </a>
            <a href="/random-beers">
                <li>Random Beers</li>
            </a>
        </ul>
    </nav>

    {{{body}}}

    <footer>
        <div>
            <ul>
                <li>Developed with ♥︎ by Michel Maia</li>
            </ul>
        </div>
    </footer>
</body>

</html>