<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IronBeer</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <nav class="navBar">
    <a href="/">Home.</a>
    <a href="/beers">Beers</a>
    <a href="/random-beers">Random Beers</a>
</nav>
  {{{ body }}}
</body>
<footer class="footer">
    <p>Developed by IronHack ;)</p>
</footer>
</html>