<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
  <nav  class="navbar navbar-expand-lg " id="lolo">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="beers" class="nav-link">Beers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Random Beer</a>
      </li>
    </ul>
</nav>
</div>
{{{body}}}


    <div class="footer">
      <p>Develop by ironhack ;)</p>  
    </div>





</body>
</html>