<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IronBeers App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item  active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item" href="#">Beers</a>
                <a class="nav-item" href="#">Random Beer</a>
            </div>
        </div>
    </nav>

    

    {{{ body }}}
</body>

<footer>
    <div>
        <p class="footer-text">Developed by Ironhack ;)</p>
    </div>   
</footer>