<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Layout</title>
</head>
<body>
  <nav class="navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <nav class="nav-bar-items">
        <div class="navbar-nav">
        <a class="nav-item nav-link active font-color" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link font-color" href="/beers">Beers</a>
        <a class="nav-item nav-link font-color" href="/randomBeer">Random Beers</a>
      </div>
    </div>
  </nav>
  <header>
     {{{ body }}}
  </header>
  <footer>  
    <p>Develop by Ironhack ;)</p>
  </footer>
</nav>
</body>
</html>