<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IronBeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link" href="/beers">Beers</a>
        <a class="nav-item nav-link" href="/random-beers">Random Beer</a>
    </div>
    </div>
    </nav>
    <div class="body">
    </div>
    {{{ body }}}
</body>
<footer>
    <p>Develop by Ironhack ;)</p>
</footer>

</html>