
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Beers</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">

</head>
<body>
<nav class="navBar">
      <div class="navbar-nav">
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random Beers</a>
      </div>
  </nav>
  {{{ body }}}
</body>
</html>