<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <title>IroNBeers</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home
        </a>
        <a class="nav-item nav-link active" href="/beers">Beers
        </a>
        <a class="nav-item nav-link active" href="/random-beer">Random Beer
        </a>
      </div>
    </div>
  </nav>
  {{{ body }}}
<div class="footer py-3 text-left">
        <p>Develop by Ironhack</p>  
    </div>

</body>
</html>