<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IronBeers</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>

<body>
  <div id="container">
    <div id="header">
        <ul class="nav">
          <li><a href="/index">Home</a></li>
          <li><a href="/beers">Beers</a></li>
          <li><a href="/randomBeers">Random beers</a></li>
        </ul>
    </div>
    <div id="main">
      <p>{{{body}}}</p>
    </div>
    <div id="footer">
      <p>Developped by Paulo :)</p>
    </div>
  </div>
</body>

</html>