<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{myStyle}}>
    <link rel="stylesheet" href='/stylesheets/styles.css'>
    <title> {{title}} </title>
</head>

<body>
    <div class="index-container">
        <nav class="navbar">
            <ul class="navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/beers">Beers</a></li>
                <li><a href="/random-beer">Random Beer</a></li>
            </ul>
        </nav>
    </div>

    <footer>
        <h5>Develop by Ironhack Copyright &copy;</h5>
    </footer>
    {{{body}}}
</body>

</html>