<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
<nav>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/beers">Beers</a></li>
    <li><a href="/random-beers">Random Beer</a></li>
</ul>
</nav>

{{{body}}}

<footer>
<p>  &nbsp Develop by Ironhack</p>
</footer>
</body>

</html>