<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>IronBeers</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <ul>
    <li>
      <a href="/">HOME</a>
      <a href="/beers">BEERS</a>
      <a href="/random">RANDOM BEERS</a>
    </li>
  </ul>
  <footer>
    <p>Developed by Ironhack ;)</p>
  </footer>
  {{{ body }}}
</body>

</html>