<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./stylesheets/styles.css">
  <title>Document</title>
</head>

<body>
  <header>
    <div id="nav-container">
      <div class="nav-element">Home</div>
      <div class="nav-element">Beers</div>
      <div class="nav-element">Random Beer</div>
    </div>
  </header>
  {{{body}}}
  <footer>
    <div id="footer-container">
      <p>Developed by Cesar Vinken</p>
    </div>

  </footer>
</body>

</html>