<link rel = "stylesheet" type="text/css" href="/stylesheets/styles.css"> 

<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/beers">Beers</a></li>
    <li><a href="/random-beer">Random Beer</a></li>
  </ul>
</nav>

{{{body}}}

<footer><p>Developed by Ironhack ;)</p></footer>

</body>


