<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironbeers</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  </link>
  <script type="text/javascript" href="../app.js"></script>
</head>

<body>
  <nav class="navbar">
    <div class="navbar-nav">
      <a class="nav-item" href="/">Home
      </a>
      <a class="nav-item" href="/beers">Beers</a>
      <a class="nav-item" href="/random-beer">Random beer</a>
    </div>
    </div>
  </nav>
  {{{body}}}
  <footer>
    <div class="footer">
      <p>Developed by Ironhack ;)</p>
    </div>
  </footer>

</body>

</html>