<!doctype html>

<html>

<head>
{{!-- <link rel="stylesheet" href="./public/stylesheets/main.css"> --}}
</head>

<body>
  <header id='site-header'>
    <nav>
      <a href="/">Home</a>
      <a href="/beers">Beers</a>
      <a href="/randombeer">Random Beer</a>
    </nav>
  </header>

  {{{body}}}
  
  <footer id="site-footer">
    &copy; Developed by Ironhack ;)
  </footer>
</body>

</html>