<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>Beers</li>
            <li>Random Beers</li>
        </ul>
    </nav>
  {{{ body }}}
  <footer>Develop by IronHack</footer>
</body>
</html>