<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Document</title>
</head>
<body>
  {{!-- Home. ----> Should navigate to /.
Beers. ----> Should navigate to /beers.
Random Beer. ----> Should navigate to /random-beers. --}}
  <nav class="nav-bar bg-blue">
    <ul>
      <li> <a href="/">Home</a></li>
      <li> <a href="/beers">Beers</a></li>
      <li> <a href="/random-beers">Random Beers</a></li>
    </ul>
  </nav>
  {{{body}}}


  <footer>Develop by Ironhack ;)</footer>
</body>
</html>