<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ironbeers Review</title>
</head>
<body>
    <nav>
        <a href="/"> Home </a>
        <a href="/beers"> Beers </a>
        <a href="/random-beer"> Random Beers </a>
    </nav>
    {{!-- any page we want to render will be "plugged in" here {{{body}}} --}}
    {{!-- this is the only page that will have full html setup --}}
    {{!-- if there's anything you want to have on each page, it will come from here.  --}}
    {{!-- ex. navbar, header, footer, etc --}}

    {{{body}}}

</body>
</html>