<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Layout</title>
</head>

<body>
  <header>
    <nav id="site-header">
      <a href="/">Home</a>
      <a href="/beers">Beers</a>
      <a href="/random-beer">Random beer</a>
    </nav>
  </header>

  {{{ body }}}

  <footer id="site-footer">
    Develop by Ironhack ;)
  </footer>
</body>

</html>
