<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Iron Beers</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/beers">Beers</a>
    <a href="/random-beers">Random Beer</a>
  </nav>
  {{{ body }}}
  <footer>
    <p>Develop by Ironhack ;)</p>
  </footer>
</body>
<script type="text/javascript" src="/path/to/punkapi-javascript-wrapper/dist/punkapi-javascript-wrapper.js"></script>
</html>