<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Document</title>
</head>
<body>
  <nav>
      <div class="inline">
        <a class="nav1 nav" href="/">Home</a>
        <a class="nav" href="/beers">Beers</a>
        <a class="nav" href="/randomBeers">Random Beer</a>
      </div>
  </nav>
  {{{body}}}
  <div class="footer">
    
      <p class="dark">Developed by ironhack ;)</p>
  </div>
  
</body>
</html>