<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IRONBEERS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
                <a class="nav-item nav-link" href="/beers">Beers</a>
                <a class="nav-item nav-link" href="/random-beers">Random Beers</a>
            </div>
        </div>
    </nav>
    {{{ body }}}
    <footer class="page-footer font-small blue pt-4 foot" style="position:absolute; bottom : 0;">
        <div class="footer-copyright text-center py-3 mx-5">© Samuel Yamamoto
        </div>
    </footer>
</body>

</html>