<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IronBeer</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/beer">Beers</a>
    <a href="/random-beer">Random Beer</a>
  </nav>
  {{{ body }}}
</body>
</html>