<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Document</title>
</head>
<body>

<div id="allThecontent">
    <div id="header" class="lightBlue defaultBarSize">
        <div><p class="padding"><a href="/">Home</a></p></div>
        <div><p class="padding"><a href="/beers">Beers</a></p></div>
        <div><p class="padding"><a href="/random-beers">Random Beers</a></p></div>
    </div>
    <div id="stuffInBetween">
        {{{body}}}
    </div>
</div>

{{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> --}}
</body>
</html>