<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IRONBEERS</title>
  <link rel="stylesheet" href="stylesheets/styles.css">    
</head>

<body>

  <nav class="navbar">
    <div class="navbar-div">
      <a href="/">Home</a>
      <a href="/beers">Beer</a>
      <a href="/random-beer">Random Beer</a>
      </div>
  </nav>

  <div class='view-container'>
    {{{ body }}}
  </div>

  <footer>
    <h4>Developed by Ironhack ;) </h4>
  </footer>
  
</body>
</html>