<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">
  <title>Ironbeers</title>
</head>

<body>
  <nav>
    <ul>
      <a href="/">Beeropedia</a>
      <li>
        <a href="/beers">Beers</a>
      </li>
      <a href="/random-beers">Random Beer</a>
    </ul>
  </nav>
  {{{ body }}}

  <footer>
    Developed by Abdallah Aberouch
  </footer>
</body>

</html>