
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IronBeers</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <nav>
      <a href="/">Home</a>
      <a href="/beers">Beer</a>
      <a href="/random-beers">Random Beers</a>
  </nav>
  {{{ body }}}
  <footer>
      <p>Developed with love by Daniel</p>
  </footer>
</body>
</html>