<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <title>Document</title>
</head>

<nav>
  <ul>
    <li>Home</li>
    <li>Beers</li>
    <li>Random Beers</li>
  </ul>
</nav>

<body>
  {{{ body }}}
</body>

<footer>
  <span>Developed by Ironhack :)</span>
</footer>

</html>