<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IroBeers</title>

    <link rel="stylesheet" href="stylesheets/styles.css">

</head>

<body>
    <header>
        <img src="logo" alt="">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/randomBeer">Random Beer</a></li>
        </ul>
    </header>
    {{{ body }}}
    <footer>
        Develop by Ironhack ;)
    </footer>
</body>

</html>