<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <nav id="top" class="navbar">
    <div id="topNav" class="navbar-nav flex-row ">
      <a href="/" class="text-white">Home</a>
      <a href="/beers" class="text-white">Beers</a>
      <a href="/random-beer" class="text-white">Random Beer</a>
    </div>
  </nav>

  <div id="main">

    {{{body}}}
  </div>
  <footer id="hastaabajo">
    <div id="bottom" class="navbar">
      <p>Develop by Ironhack ;)</p>
    </div>

  </footer>

  </nav>
</body>

</html>