<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IronBeers</title>
    <link rel="stylesheet" href="stylesheets/styles.css" type="text/css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/random-beers">Random Beer</a></li>
      </ul>
    </nav>
    <div></div>
    {{{body}}}
    <div></div>
    <nav>
      <p>Developed by IronHack ;)</p>
    </nav>
  </body>
</html>
  