<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Iron Beers</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <header>
    <nav class="nav-bar">
      <a href="/">Home</a>
      <a href="/beers">Beers</a>
      <a href="/random-beers">Random Beer</a>
    
    </nav>
  </header>

  {{{ body }}}

</body>

  <footer>
    <p>Developed by Ironhack :)</p>
  </footer>

</html>