<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IronBeers</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link rel="stylesheet" href="./stylesheets/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/beers">Cervezas</a></li>
      <li><a href="/random-beers">Cerveza al azar</a></li>
    </ul>
  </nav>
  
  {{{ body }}}
  
  <footer>
    <p>Develop by Ironhack ;)</p>
  </footer>
</body>
</html>