<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300i,400,500,600" rel="stylesheet">

    <title>Document</title>
</head>

<body>
<nav>
    <ul >
        <li><a href="/">Home</a></li>
        <li><a href="/beer">Beer</a></li>
        <li><a href="/random-beers">Random Beers</a></li>
    </ul>
</nav>
{{{body}}}
<footer>
    <div id="ftr">
        <h3>Developed by IronHack :)</h3>

    </div>
</footer>

</body>
</html>