<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
   <header>
 <ul>
 <li><a href=“#home”>Home</a></li>
 <li><a href=“#news”>Beers</a></li>
 <li><a href=“#contact”>Random Beer</a></li>
</ul> 
</header> 
 
  {{{ body }}}

</body>
</html>



