<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Iron Beers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home
          </a>
          <a class="nav-item nav-link" href="/players">Beers</a>
          <a class="nav-item nav-link" href="/">Random Beers</a>
        </div>
      </div>
    </nav>

    {{{ body }}}
  </body>
</html>