<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
     <link rel="stylesheet" href="/stylesheets/styles.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <header>
    <ul id="nav" class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/beers">Beers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/randomBeer">Random Beer</a>
      </li>

    </ul>
  </header>

      {{{ body }}}
  <footer class="footer page-footer">
    <div class="footer-copyright  py-3">
      <a style="color:white">Develop by Ironhack ;)</a>
    </div>
  </footer>
  </body>
</html>
