<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <nav>
    <ul>
      <li>
        <a class="nav-btn" href="/">Home</a>
      </li>
      <li>
        <a class="nav-btn" href="/beers">Beer</a>  
      </li>
      <li>
        <a class="nav-btn" href="/random-beer">Random Beer</a>
      </li>
    </ul>
  </nav>
  <div class="nav-bkg"></div>
  <section>
    {{{ body }}}
  </section>
  <footer>
    <p class="footer-text">Develop by Fer 🚀</p>
  </footer>
  <div class="footer-bkg"></div>

</body>

</html>