<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IroNBA</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/randomBeers">Random Beer</a>
    </nav>
    {{{ body }}}


    <footer>Develop by Ironhack ;)</footer>
</body>

</html>