<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IronBeer</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<body>
    <header>
        <nav>
            <ul class="nav-bar">
                <a class="li-bar" href="/"><li>Home</li></a>
                <li><a class="li-bar" href="/beer">Beer</a></li>
                <li><a class="li-bar" href="/randombeer">Random Beer</a></li>
            </ul>
        </nav>
    </header>
    <div class="div-body"></div>
    <footer>Develop by Arthur Santoianni</footer>
</body>
</html>