<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IronBeer</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <nav>
    <a class="link-home" href="/">Home</a>
    <a class="link-beer" href="/beers">Beers</a>
    <a class="link-beer" href="/random-beer">Random Beer</a>
  </nav>
  {{{ body }}}
  <footer>
    <p>Developed by Yours Truely :D</p>
  </footer>
</body>
</html>