<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beers">Random Beer</a></li>
        </ul>
    </nav>

    <div>{{{body}}}</div>


    <footer>
        <p>Developed by IronHack :)</p>
    </footer>


</body>
</html>