<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  <title>home</title>
</head>
<body>
  
  <nav>
    <ul>
      <li class="nav-list" ><a class="nav-list-a" href="/">Home</a></li>
      <li class="nav-list" ><a class="nav-list-a" href="/beers">Beers</a></li>
      <li class="nav-list" ><a class="nav-list-a" href="/random-beers">Random Beer</a></li>
    </ul>
  </nav>

  {{{body}}}

  <footer>
    <h5>Develop by Ironhack :)</h5>
  </footer>

</body>
</html>