<!-- index.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="stylesheets/styles.css">

</head>

<body>


<nav class="blueNav">
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/beers">Beers</a>
    <a class="long" href="http://localhost:3000/random-beers">Random Beer</a>
</nav>
<div></div>
{{{ body }}}


<footer class="darkBlueFoot">
    Developed by Ironhack
</footer>

</body>

</html>