doctype html
hmtl
  head
    link(rel="stylesheet" href="/stylesheets/styles.css")
    title=title
  body
    nav(class='nav-bar')
      a(class= 'nav-elem' href="/") Home
      a(class= 'nav-elem' href="/beers") Beers
      a(class= 'nav-elem' href="/random-beers") Random Beers
    block content
    footer(class='footer-sect')
      p(class='footer-content') Designed By Emmanuel
       