<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ironbeers</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" href="/beers">Beers</a>
        <a class="nav-item nav-link" href="/randomBeer">Random Beer</a>
      </div>
    </div>
  </nav>

  {{{ body }}}

<div class="footer-div">
  <footer class="footer">
    <p>Developed by Ironhack :) </p>
  </footer>
</div>
</body>

</html>