<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">

  <title>Ironbeers</title>
</head>
<body>
   <navbar>
    <logo></logo>
    <menu>
      <nav><a href="/">Home</a></nav>
      <nav><a href="/beers">Beers</a></nav>
      <nav><a href="/random-beer">Random Beer</a></nav>
    </menu>
  </navbar>
  <div class="container main">
    {{{body}}}
  </div>
  <footer><p>Developed by Miko :)</p></footer>
</body>
</html>