<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ironbeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/beers">Beers</a>
                <a class="nav-item nav-link" href="/randombeers">Random Beer</a>
            </div>
        </div>
    </nav>
    ​
    {{{ body }}}

    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <span class="text-muted">Created by Ironhack</span>
        </div>
    </footer>

</body>

</html>