<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>layout!</title>
</head>
<body>
   <div class='header'>
     <ul>
       <li>Home</li>
       <li>Beers</li>
       <li>Random Beer</li>
     </ul>
   </div>>
   <div>
     {{{body}}}
   </div>
  <div class='footer'>
    <p>Developed by Alejandro Close at Ironhack</p>
  </div>
</body>
</html>