<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=nav, initial-scale=n">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
          <a href="/">home</a>
          <a href="/beers">Beers</a>
          <a href="/random-beers">Random Beers</a>
    </ul>
    </nav>
    {{{body}}}


    <footer>
        <p>Developed by IronHack :)</p>
    </footer>
</body>
</html>