<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Document</title>
</head>
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/beers">Beer</a></li>
      <li><a href="/random-beers">Random Beer</a></li>
    </ul>
  </nav>
</header>
{{{ body }}}
</body>
<footer>
  <span>Develop by Ironhack ;)</span>
</footer>
</html>