<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/styles.css">
 

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
  <title>Ironbeers</title>

  <ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/beers">Beers</a></li>
  <li><a href="/random-beers">Random Beer</a></li>
</ul>

</head>
<body >

  <div class="">

  {{{body}}}
  </div>



</body>

<footer class="footer">
  <p>Develop by Ironhacker Osse</p>

</footer>

</html>