<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/reset.css">
  <link rel="stylesheet" href="stylesheets/styles.css">

</head>

<body>

  <nav id="nav" >
    <a href="/">Home</a>
    <a href="/beers">Beers</a>
    <a href="/beerRandom">Random Beers</a>
  </nav>

  <section id="bodySection" class="container" >

    {{{body}}}

  </section>

  <footer >
    <p>Developed by SenioritoX</p>
  </footer>

</body>

</html>