<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <header>
        <nav>
            <li>
                <ul><a href="/">Home</a></ul>
                <ul><a href="/beers">Beers</a></ul>
                <ul><a href="/random-beer">Random Beer</a></ul>
            </li>
        </nav>
    </header>
    {{{ body }}}
</body>
<footer>
   <p>Develop by Ironhack :)</p>
</footer>
</html>