<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IronBeers</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div id="main-container">
    <header>
    <nav class="navbar navbar-expand-sm navbar-custom fixed-top">
      <ul class="navbar-nav custom-list">
        <li class="nav-item ">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Beers</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Random Beer</a>
        </li>
      </ul>
    </nav>
    </header>


    <footer class="page-footer font-small custom-footer fixed-bottom">
      <div class="footer-copyright py-3">
        <span>Develop by Ironhack ;)</span>
      </div>
    </footer>
  </div>
  
</body>
</html>