<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./stylesheets/styles.css">
  <title>{{title}}</title>
</head>

<nav id="nav">
  <a href="/">Home</a>
  <a href="/beers">Beers</a>
  <a href="/random-beer">Random Beer</a>
</nav>

{{{body}}}

<footer id="footer">
  <p>Developed by IronHack (and Nina)</p>
</footer>

</html>