<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IronBeer</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>
        <header>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Beers</a></li>
                    <li><a href="#">Random Beer</a></li>
                </ul>
            </nav>
        </header>
        <main>
        {{{body}}}
        </main>
        <footer>
            <p>Desenvolvido por: Sany Chernizon.</p>
        </footer>
</body>
</html>