<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Iron Beers</title>
</head>
<body>
  <nav>
  <ul class="nav nav-blue">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/beers">Beers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/random-beers">Random Beer</a>
  </li>
</ul>
</nav>
<main>

{{{ body }}}

</main>
<footer class="fixed-bottom">
  <p>Develop by Ironhack ;)</p>
  
</footer>
  
</body>
</html>