<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
  <nav class="nav">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/beers">Beers</a></li>
          <li><a href="/randomBeers">Ramdom Beer</a></li>
      </ul>
  </nav>
  {{{body}}}
  <div class='footer'>
      <p>Developed by Ironhack ;) || Noooo</p>
      </div>
</body>
</html>