<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ironbeers</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <nav class="navbar bg">
        <a class="navbar-brand navlinks first" href="/">Home</a>
        <a class="navbar-brand navlinks" href="/beers">Beer</a>
        <a class="navbar-brand navlinks" href="/randomBeers">Random Beer</a>
    </nav>


    {{{ body }}}





    <div class='footer'>
        <p>Developed by Ironhack</p>
    </div>
</body>

</html>