<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <nav class="navbar">
        <ul class="main-nav">
            <li>
                <a href="/" class="nav-links">Home</a>
            </li>
            <li>
                <a href="/beers" class="nav-links">Beers</a>
            </li>
            <li>
                <a href="/randomBeer" class="nav-links">Random Beer</a>
            </li>
        </ul>
    </nav>
    {{{body}}}
    <div class="footer">
        <p>Developed by Ironhack ;)</p>
    </div>
</body>

</html>