<!doctype html>
<html lang="en">

<head>
    <title>Ironbeers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../stylesheets/styles.css">
</head>

<header id="site-header">
    <nav>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beer">Random Beer</a>
    </nav>
</header>

{{{body}}}

<footer id="site-footer">
    &copy; Develop by Ironhack :)
</footer>
</body>

</html>