<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IronBeer</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/css/uikit.min.css" />
</head>

<body>
  {{!-- NAV --}}
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class=""><a href="/">Home</a></li>
        <li><a href="/beers">Beer</a></li>
        <li><a href="/random-beers">Random Beer</a></li>
      </ul>
    </div>
  </nav>

  {{{body}}}

{{!-- FOOTER --}}
  <footer class=".uk-position-fixed container">
    <div class="bottom">
      Develop by Adolfo Vela
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit-icons.min.js"></script>
</body>

</html>