<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IroNBA</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <nav>
        <div class="nav-bar">
            <a href="/">Home</a>
            <a href="/beers">Beers</a>
            <a href="/random-beer">Random Beer</a>
        </div>
    </nav>
    <section>
        {{{ body }}}
    </section>
    <footer>
        <h3>Develop by Taryn:)</h3>
    </footer>
    
  </body>
</html>