<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Ironbeer</title>
</head>
<body>
    <nav id="nav">
            <a href="/">Home</a>
            <a href="/beers">Beers</a>
            <a href="/random-beer">Random Beer</a>
    </nav>
    <section class="sectionMid">
    {{{body}}}
    </section>
    <footer><p>Developed by Ironhack ;)</p></footer>
</body>
