<head>
        <link rel="stylesheet" href="./stylesheets/styles.css">
</head>

<header class="header">
    <nav class="navigation">
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random_beer">Random Beer</a>
    </nav>
</header>

{{{body}}}

<footer class="footer">
    <div>
        Develop by Ironhack ;)
    </div>
</footer>