doctype html
html
    head
        title=titulo
        link(rel="stylesheet", href="./stylesheets/styles.css")

    body
      nav
        a(href='/') Home
        a(href='/beers') Beers
        a(href='/random-beers') Random beer

      block content

      footer
        h4 Developed by maerd19
