<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Document</title>
</head>
<body>
  <div class="index-container">
    <ul>
      <li class="listaContainer"><a href="/">Home</a></li>
      <li class="listaContainer"><a href="/beer">Beers</a></li>
      <li class="listaContainer"><a href="/random-beers">Random Beer</a></li>        
    </ul>
  </div>
  <div class="beer-container">
    {{{body}}}
  </div>
    <div class="footer-container">
        <p>Develop by Ironhack ;)</p>
    </div>
</body>
</html>