<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>layout</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">

</head>
<body>
<div class = "container" id = "nav-bar">
    <ul>
        <li><a href="https://localhost:3000/">Home</a></li>
        <li><a href="https://localhost:3000/beers">Beers</a></li>
        <li><a href="https://localhost:3000/random-beers">Random Beers</a></li>
    </ul>
</div>
<div class="body">
    {{{ body }}}
</div>
<div class = "container" id="footer">
    <h6>Developed by Osheit Chang ;)</h6>
</div>

</body>
</html>