<!doctype html>
<html>
<head>
    <title>HOME</title>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/beers"> Beers </a></li>
        <li><a href="/random-beers"> Random Beer </a></li>
      </ul>
    </nav>
  </header>
  <div>
  {{{ body }}}
  </div>
  <footer>
    <p> Developed by ironhack ;) </p>
  </footer>
</body>

</html>