<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IronBeers</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">

    <script type="text/javascript"
        src="/path/to/punkapi-javascript-wrapper/dist/punkapi-javascript-wrapper.js"></script>


</head>

<body>
    <div class="main-container">
        <header>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/beers">Beers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/random-beers">Random Beer</a>
                </li>
            </ul>
        </header>
        {{{ body }}}
        <footer>
            <p>Develop by Ironhack ;)</p>
        </footer>
    </div>
</body>

</html>