<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironbeers</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
  <!-- Nav -->
  <nav>
    <div class="nav-wrapper blue darken-3">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/random-beer">Random Beer</a></li>
      </ul>
    </div>
  </nav>
  <!-- Main -->
  <main>
    {{{body}}}
  </main>
  <!-- Footer -->
  <footer class="blue-grey darken-4 white-text">
    Develop by Ironhack ;)
  </footer>
</body>

</html>