<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="/lib/jq.js"></script>
    <script src="/js/script.js"></script>
    <script src="/app.js"></script>
</head>

<body id="main__body">
    <div class="main__nav l__blue box__shadow">
        <navbar >
            <ul class="white">
                <li class="home">Home</li>
                <li class="beers">Beers</li>
                <li class="random__beers">Random Beer</li>
            </ul>
        </navbar>
    </div>
   
        {{{body}}}
  
    <div class="main__footer d__blue">
        <footer class="white">Develop by JVR :D</footer>
    </div>
    
</body>

</html>
