<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/styles.css"/>
</head>
<body>
    <nav class="ironbeers">
        <a href="/">Home</a>
        <a href="/Beers">Beers</a>
        <a href="/random-beer">Random Beer</a>
    </nav>
    {{{body}}}

    <footer class="ironbeers2">
        <h4>Develop by Ironhack ;)</h4>
    </footer>
</body>
</html>