<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IronBeers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body>
    <div class="menu">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/beers">Beers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/random-beers">Random Beer</a>
            </li>
        </ul>
    </div>
    {{{body}}}
    <footer class="page-footer font-small blue">


        <div class="footer-copyright py-3">Develop by Ironhack 😛
        </div>


    </footer>

    <script type="text/javascript"
        src="/path/to/punkapi-javascript-wrapper/dist/punkapi-javascript-wrapper.js"></script>
</body>

</html>