<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
    <nav>
      <ul class="nav-list">
        <li class="nav-item">Home</li>
        <li class="nav-item">Beers</li>
        <li class="nav-item">Random beer</li>
      </ul>
    </nav>
    {{{body}}}
    <footer>
      <p>Developed by Ironhack ;)</p>
    </footer>

</body>
</html>
