<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- link for CSS-->
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>IronBeers</title>
</head>
<body>
  <nav class="navigation">
    <ul>
      <li>Home</li>
      <li>Beers</li>
      <li>Ramdom IronBeers</li>
    </ul>
  </nav>
  {{{body}}}
</body>
</html>