<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/styles.css">

    {{#each css}}
    <link rel="stylesheet" href="stylesheets/{{this}}.css">
    </link>
    {{/each}}

    <title>IronBeer</title>
</head>

<body>
    <header>
        <nav id="mainNav">
            <a href="/" class="links" id="linkHome">Home</a>
            <a href="/beers" class="links" id="linkBeers">Beers</a>
            <a href="/random-beers" class="links" id="linkRandomBeers">Random Beer</a>
        </nav>
    </header>

    <div id="main-container">
        {{{body}}}
    </div>

    <footer id="mainFooter">
        <span>Develop by InronHack ;)</span>
    </footer>

</body>

</html>