<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Iron Beers</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <nav id="nav-sty">
    <div class="nav-wrapper">

      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/randombeers">Random Beers</a></li>
      </ul>
    </div>
  </nav>

  <footer class="page-footer">



    <div class="footer-copyright">
      <div class="container">
        Developed by Ironhack
      </div>
    </div>
  </footer>




  {{{body}}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
  <script type="text/javascript" src="/path/to/punkapi-javascript-wrapper/dist/punkapi-javascript-wrapper.js"></script>

</body>

</html>