<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <div class="header">
      <a href="/">
      Home
      </a>
      <a href="/beers">
      Beers
      </a>
      <a href="/random-beers">
      Random Beer
      </a>
    </div>
    <div class="body">
        {{{ body }}}
    </div>
    <div class="footer">
        <p>
            Developed by Ironhack ;)
        </p>
    </div>
  </body>
</html>
