<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IronBeers</title>
  <!--<link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./stylesheets/styles.css"> 
</head>
<body>
  <div>
    <nav class="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/random-beers">Random Beers</a></li>
      </ul>   
    </nav>
  </div> 
    {{{body}}}
  <footer>
      <p>Develop by IronHack :)</p>
  </footer>  
  </body>