
<!DOCTYPE html>
<html>
  <head>
        <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <title>Ironbeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
<nav>
    <a href="/">Home</a>
    <a href="/beers.hbs">Beers</a>
    <a href="/random-beers">Random Beer</a>
</nav>
{{{body}}}
<footer>
    Developed by Ironhack ;)
</footer>
</html>