
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IronBeers</title>
  <link href="="stylesheets/boot
  <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/styles.css">

</head>
<body>
  <nav>

      <a href="/">Home</a>
      <a href="/beers">Beer</a>
      <a href="/random-beers">Random Beers</a>

  </nav>
  
  {{{ body }}}

  </body>

  <footer>
      <p>Developed with mucho amore by Sofi Jordan</p>
  </footer>


</html> 