<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/styles.css" />
</head>
<body>
    <nav class="navbar">
        <ul>
            <li>
                 <a href="/">Home</a>
            </li>
            <li>
                <a href="/beers">Beers</a>
            </li>
            <li>
                <a href="/random-beers">Randome Beers</a>
            </li>
        </ul>
    </nav>
    
    {{{ body }}}

    <footer>Footer</footer>
</body>
</html>