<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>

<body>
    {{!-- {{>navbar}} --}}
    <nav class="navbar navbar-expand-lg light" style="background-color: #2081C3; color: white;">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" style="color: white;" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="/beers">Beers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="/random-beer">Random Beer</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="header">
    {{{ body }}}
    </div>
    {{!-- {{>footer}} --}}
<div class="footer">
    <p>Develop by Ironhack ;)</p>
</div>
</body>

</html>