<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Iron Beers</title>
  <link rel="stylesheet" href="stylesheets/styles.css"> 
</head>
<body>
  <div class="index-container"> 
      <nav>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random Beer</a>
      </nav>
  </div>
  <main class="content">
      {{{ body }}}
  </main>
  <footer>
    <p>Developed by Gustavo Galvez</p>
  </footer>
</body>
</html>