<link rel = "stylesheet" type="text/css" href="/stylesheets/styles.css">
<div id='container-all'>
<nav class="nav">
  <a class="nav-link active" href="/">Home</a>
  <a class="nav-link" href="/beers">Beers</a>
  <a class="nav-link" href="/random-beers">Random Beer</a>
</nav>

{{{body}}}

<footer>
    <p>Develop by Ironhack (;</p>
</footer>
</div>


