<!doctype html>
<html lang="en">

<head>
  <title>IronBeers!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type=""text/css" href="./public/stylesheets/styles.css">
</head>
<header id="site-header">
  <nav>
    <a href="/">Hoe</a>
    <a href="/beers">Beers</a>
    <a href="/random-beers">Random Beer</a>
  </nav>
</header>

{{{body}}}
<footer id="site-footer">
  <p>Developed by IronHack ;)</p>>
</footer>
</body>

</html>