<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <title>Ironbeers</title>
</head>

<body>
    <div class="navbar-nav">
        <a class="links" href="/">Home </a>
        <a class="links" href="/Beers">Beers </a>
        <a class="links" href="/Random-Beer">Random Beer </a>
    </div>


    {{{ body }}}  
    
</body>
    <div class="footer">
        <a>Develop by Elvair ;)</a>
    </div>    
</html>