<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/styles.css">
    <title>IronBeers</title>
</head>
<body>
    <nav class= 'nav'>
        <a href="/">HOME</a>
        <a href="/beers">BEERS</a>
        <a href="/randomBeer">RANDOM BEERS</a>
    </nav>
    {{{body}}}
</body>
<footer>
    <p>Develop by Dan :)</p>
</footer>
</html>