<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>IronBeer</title>
        <link rel="stylesheet" href="stylesheets/styles.css" />
      </head>
      
      <body>
        <lu class="nav-container">
          <li><a href="/">Home</a></li>
          <li><a href="/beers">Beers</a></li>
          <li><a href="/randomBeer">Ramdon Beer</a></li>
        </lu>
        {{{ body }}} 
        
      </body>
      <footer>
        <p> Develop by IronHack :)</p>
      </footer>
    </html>