<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Document</title>
</head>
<body>

    <div class="spaceBetween wholePage">
        <div class="lightBlue"> 
            <div class="flex">
                <h3><a href="">Home</a></h3>
                <h3><a href="">Beers</a></h3>
                <h3><a href="">Random Beer</a></h3>
            </div>
        </div>

        {{{body}}}

        <div class="darkBlue"> 
            <div id="h3">
                <h3>Develop by Ironhack ;)</h3>
                <p><img id="banana" src="images/banana copy.gif" alt=""></p>
            </div>
        </div>
    </div>


    
</body>
</html>