<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="./../public/stylesheets/styles.css">
</head>

<body>
  <header id="site-header">
    <nav>
      <a href="">Home</a>
      <a href="">Beers</a>
      <a href="">Random Beer</a>
    </nav>
  </header>

  {{{ body }}}

  <footer id="site-footer">
    &copy: Develop by Ironhack ;p
  </footer>
</body>

</html>