<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <header id="site header ">
    <nav>
      <a href="/">Home</a>
      <a href="/beers">Beers</a>
      <a href="/random-beers">Random Beer</a>
    </nav>

  </header>

  {{{ body }}}

  <footer id="site-footer">
    Developed by Ironhack ;)
  </footer>
</body>

</html>