<head>
    <title>Iron Beers Lab</title>
</head>
<link rel = "stylesheet" type="text/css" href="/stylesheets/styles.css">

<div class="nav-bar">
  <a class="active" href="/">Home</a>
  <a href="/beers">Beers</a>
  <a href="/random-beer">Random Beer</a>
</div>

<div class ="body">
    {{{body}}}
</div>

<div id="footer">
    Developed by Ironhack ;)
</div> 

