<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" type="text/css"  href="/stylesheets/styles.css">
  
  <title>
    {{home}}
  </title>
</head>
<body>
  <header>
    <ul id="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/beers.hbs">Beers</a></li>
      <li><a href="/randombeer.hbs">Randombeer</a></li>
    </ul>
  </header>



  <footer>
    <p>Develop By IronHack ;-)</p>
  </footer>

  
</body>
</html>