<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>

    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    
    <nav class="nav-bar>
        <ul>
        <li><a href = "/">Home</a></li>
        <li><a href = "/beers">Beer</a></li>
        <li><a href = "/random-beers">Random Beer</a></li>
        </ul>
    </nav>

{{{body}}}

    <footer>
        <p>Developed by Ironhack ;)</p>
    </footer>

</body>
</html>