<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/beers">Beers</a>
      <a class="nav-item nav-link active" href="/random-beers">Random Beers</a>
    </div>
  </div>
</nav>

  {{{body}}}




<footer class="page-footer font-small blue pt-4 dark footer">
<a href=""> Developed by Daniel Sauthier  </a>

 </footer>

</body>
</html>