<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironbeers</title>
  <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>
  <nav class="navbar">
    <ul class="nav-list">
      <a href="/">
        <li>Home</li>
      </a>
      <a href="/beers">
        <li>Beers</li>
      </a>
      <a href="/randomBeer">
        <li>Random Beer</li>
      </a>
    </ul>
  </nav>

  <main>
    {{{ body }}}
  </main>

  <footer>
    <p>Develop by Ironhack );</p>
  </footer>

</body>

</html>