<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iron Beer</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
   <link rel="stylesheet" href="/stylesheets/styles.css">

</head>
<body>
<nav class="uk-navbar-container azulf" uk-navbar>
    <div class="uk-navbar-left azulf">
        <ul class="uk-navbar-nav ">
            <li class="uk-active"><a href="/" class="blanco">Home</a></li>
            <li class="uk-parent" ><a href="/beers" class="blanco">Beers</a></li>
            <li><a href="/random" class="blanco">Random</a></li>
        </ul>
    </div>
</nav>
    
        

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>

    {{{body}}}
<footer>
    <span>Developed by Ernesto</span>
</footer>
</body>
</html>