<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Iron Beer</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    
  </head>
  <body>
      <header>
    <nav>
      
        <div class="navhead">
          <a class= "links" href="/">Home</a>
          <a class= "links" href="/beers">Beers</a>
          <a class= "links" href="/random">Random Beer</a>
        </div>
      
    </nav>
</header>
<div class="body">


    {{{ body }}}



</div>
<footer>
    <div>
    <span>Developed By Cole @ Ironhack</span>
    </div>
</footer>
  </body>
</html>