<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<nav>

<ul>

<li><a class="aDec" href="http://localhost:3000/"><b> Home</b> </a></li>

<li><a class="aDec" href="http://localhost:3000/beers"><b>Beers</b> </a></li>

<li><a class="aDec" href="http://localhost:3000/random-beer"> <b>Random Beer</b> </a></li>

</ul>

</nav>
<body>
  {{{body}}}
</body>

<footer>
  <p><b>Develop by Fer :)</b></p>


</footer>
</html>