<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>

  <nav class="flex-container nav-container">
    <div class="navlinks-wrapper">
        <a class="top-links" href="/">Home</a>
        <a class="top-links" href="/beers">Beers</a>
        <a class="top-links" href="/random-beers">Random Beer</a>
      </div>
  </nav>

  <div class="wrapper">
    {{{ body }}}
  </div>


  <footer class="footer">
      <p>Developed by Ironhack ;)</p>
  </footer>


</body>
</html>