<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IroBeers</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
    <nav class="nav">
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random_beers">Random Beers</a>
    </nav>

    {{{body}}}
<section>
    <footer>
        <p>Develop by Pablo ;) </p>
    </footer>
</section>

</body>


   