<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironbeers</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav>
    <h4><a href="/"> Home </a></h4>
    <h4><a href="/beersList"> Beer List </a></h4>
    <h4><a href="/randomBeers"> Random Beer </a></h4>
  </nav>


{{{body}}}

 



<footer class="navFooter">
  <h4> Created with me at Ironhack </h4>
</footer>



    <script src="app.js">
      </script>
</body>
</html>