<figure class="col-md-4">
    <img src="{{ beer.image_url }}" alt="" class="list-image">
    <figcaption>
        <h1 class="list-title">{{ beer.name }}</h1>
        <p class="list-tagline">{{ beer.tagline }}</p>
        <p class="list-description">{{ beer.description }}</p>
    </figcaption>
</figure>