<div class="beer-container random-beer">
    <div class="beer-card">
        <img src="{{beer.image_url}}">
        <h2>{{beer.name}}</h2>
        <span class="beer-tagline">{{beer.tagline}}</span>
        <span class="beer-desc">{{beer.description}}</span>
    </div>   
</div>