<div class="beer">
    <img class="beer-images" src= <%= beer[0].image_url %>>
    <div class="beer-name" > <%= beer[0].name %> </div> 
    <div class="beer-tagline" > <%= beer[0].tagline %> </div> 
    <div> <%= beer[0].description %> </div> 
  </div> 
