extends layout
include mixin/_beer-desc
include mixin/_beer-card
block styles
  link(rel="stylesheet" href="/stylesheets/random.css")
  -let title = "Random beer"
block content
  section
    +beer-desc()
