
  <div class="bier">
    <img class = "beer-images" src= <%= beer[0].image_url %> alt="Smiley face" height="42" width="42">
    <div class="name"> <%= beer[0].name %> </div> 
    <div class="tag"> <%= beer[0].tagline %> </div> 
    <div> <%= beer[0].description %> </div> 
  </div> 