<div class="random-beer">
    <div>
        <img src="{{ beers.image_url }}" alt="">
    </div>
    <div>
        <h3>{{beers.name}}</h3>
        <p>{{beers.description}}</p>
        <p>{{beers.tagline}}</p>
    </div>
</div>