<div class="single">
    <img src="{{beer.image_url}}" alt="" class="single-img">
    <h2 class="single-title">{{beer.name}}</h2>
    <span class="single-subtitle">{{beer.tagline}}</span>
    <p class="single-content">{{beer.description}}</p>
</div>