<div class="index-container">
  <a href="/home">Home</a>
  <a href="/beers">Beers</a>
  <a href="/randomBeers">Random Beers</a>
</div>

<div class="random-beers">

  <div class="beers-random">


    {{>beerPartial this}}

    <div class="food">
      <h3>Food Pairing</h3> <br>
      <ul>
        {{#each this.food_pairing}}

        <li>{{this}}</li>

        {{/each}}
      </ul>
    </div>
    <div class="tips">
    <h3>Brewers Tips:</h3>
    <p>{{this.brewers_tips}}</p>
    </div>
  </div>

</div>
</div>


<div class="footer"> Develop by Ironhack ;)</div>