{{#with beer}}
<div class="beer">
  <div class="img">
    <img src="{{image_url}}" alt="beer image" />
  </div>
  <div >
    <h5>{{name}}</h5>
    <h5>{{tagline}}</h5>
    <p>{{description}}</p>
  </div>
</div>
{{/with}}