<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random-beers</title>
</head>
<body>
    <p>RANDOM BEERS</p>
    <h2>{{chosenBeer.name}}</h2>
    <img src="{{chosenBeer.image_url}}" alt="">
    <p>{{chosenBeer.description}}</p>
    <p>{{chosenBeer.tagline}}</p>
</body>
</html>