<div class="random-container container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-2">
            <img src="{{ beer.image_url }}" alt="" class="random-image">
        </div>
        <div class="col-md-8">
            <div class="caption">
                <h1 class="title">{{ beer.name }}</h1>
                <p class="tagline">{{ beer.tagline }}</p>
                <p class="desc">{{ beer.description }}</p>
                
            </div>
        </div>

    </div>
</div>