<div class="beer-random">
  {{#each randomBeer}}
     <div class="card" style="width: 20rm;">
      <img class="card-img-top" src={{this.image_url}} alt="Card image cap"></img>
      <div class="card-body">
        <h5 class="card-name">{{this.name}}</h5>
        <p class="card-ingredients">{{this.description}}</p>
      </div>
</div>
  {{/each}}
</div>