<div class="randomBeers">
   {{#each beers}}

      <img src="{{this.image_url}}" >
      <h5>{{this.name}}</h5>
      <h6>{{this.tagline}}</h6>
      <p>{{this.description}}</p>
      
   {{/each}}
</div>
