<div class="random-beer-container text-center">
  <div class="align-middle">
    <img src="/img/beer.png" alt="Ironbeer">
  </div>
  <div class="align-middle">
    <button type="button" class="btn">Check the Beers!</button>
  </div>
  <div class="align-middle">
    <button type="button" class="btn">Check a Random Beer!</button>
  </div>
</div>