<div class="beers-container">
<div class="beers-card">
    <h3>{{beer.name}}</h3>
    <img src="{{beer.image_url}}" alt="">
    <span class="beers-card-tagline">{{beer.tagline}}</span>
    <span class="beers-card-description">{{beer.description}}</span>
</div>
</div>

