<p>Hello I am random beers</p>
{{beer.name}}
{{beer.description}}

{{!-- const name = [{name :fabricio, age: 21}]
[{}] = {}
name[0].age --}}

{{!-- const beer = [
{name : blah, age:22, nationality: brazilian}
]

beer.name,
beer.age --}}
{{!-- const name = {value: 1}
name.value --}}

