

    <div class="parentdiv">
        {{#each beer}}
        <div class="randombeerimg">
            <img class= "randombeerimg" src="{{this.image_url}}" alt="">
            <h3 >{{this.name}}</h3>
            <h5 >{{this.tagline}}</h5>
            <p class="paragraph">{{this.description}}</p>
        </div>
        {{/each}}
    </div>
