<div class="beersRandom-container">
    {{#each beers}}
            <div class="beersRandom-img">
                <img src="{{this.image_url}}" alt="Beers photos">
            </div>
            <div class="beersRandom-section">
                <h1>{{this.name}}</h1>
                <h4>{{this.tagline}}</h4>
                <p>{{this.description}}</p>
            </div>
    {{/each}}
</div>