{{#each beer}}
<div class="random">
    <img src="{{this.image_url}}" alt="Chelita" width="10%">
    <div class="random2">
    <h3>{{this.name}}</h3>
    <p>{{this.tagline}}</p>
    <p>{{this.description}}</p>
    </div>
</div>
{{/each}}