<h1>Random beer</h1>
{{#each randomBeer}}
<div class="card-content">
    <img src={{this.image_url}} width="10%" alt="">
    <h3>{{this.name}}</h3>
    <p>{{this.tagLine}}</p>
    <p>{{this.description}}</p>
</div>
{{/each}}