<div class="card h-100" style="width: 18rem;">
  <img src={{item.image_url}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <h6 class="card-text tagline">{{item.tagline}}</h6>
    <p class="card-text">{{item.description}}</p>
  </div>
</div>