  {{!-- <div class="container random-cont">
    {{> whatBeer beers}}
  </div>
    <div>
      <p><strong>Food Pairing</strong><p>
      {{#each beers.food_pairing}}
        <li>{{this}}</li>
      {{/each}}
      <p><strong>Brewers Tips:</strong> {{beers.brewers_tips}}</p>
    </div> --}}

<div class="container random-cont">
    {{> randomBeer}}
</div>