<body id="background-gallery">
<div class="product-absolute">
    <div class="container">
        <div class="row">
      
            <div class="product-image col-lg-4">
                <img class="card-img-top" src=" {{randbeer.[0].image_url}} " alt="Card image cap">
            </div>
            <div class="product-info col-lg-8">
                <h1> {{randbeer.[0].name}} </h1>
                <h5> {{randbeer.[0].tagline}} </h5>
                <p class="beer-info"> {{randbeer.[0].description}} </p>
                   <h6 class="intro-list">this is intro list</h6>
                   <ul>
                     <li>first charaactersitis</li>
                     <li>first charaactersitis</li>
                     <li>first charaactersitis</li>
                   </ul>
                   <p class="beer-description"><span class="bold-word">this is bold </span>It has survived not only five centuries, but also the leap into electronic typesetting, 
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
                    sheets containing Lorem.</p>
            </div>
        </div>
      </div>
</div>
</body>
