<div class="width">
    <div class="images" >
        <img src="{{image_url}}" height="180" alt="">
    </div>
    <div>
    <h2>{{name}}</h2>
    <h3>{{tagline}}</h3>
    <p>{{description}}</p>
    </div>
</div>