
<section>
    <h1>Details</h1>
</section>
<table> 
    {{> beerpartial beers.[0]}}   
    
</table>
<section>
    <h3>Additional Information</h3>
    Food Pairing: <br>
    <p>{{beers.[0].food_pairing}}</p>
    Brewer Tips: <br>
    <p>{{beers.[0].brewers_tips}}</p>

</section>
