<div class='random'>
    <img src= <%= beers[0].image_url %> alt="Beer" height="250px" width="100px">
    <h3> <%= beers[0].name %> </h3> 
    <p> <%= beers[0].tagline %> </p> 
    <p> <%= beers[0].description %> </p> 
</div> 