<div class="container players">
    <h1>Estas son las cervezas de los no alcoholicos Ironhackers</h1>

    <div class="row justify-content-center">

        {{#each beers}}
        {{>randomPartial this}}
        {{/each}}
    </div>
</div>