
// TODO usei o mesmo partial beerCard, porque sao objetos com a mesma estrutura. Se o objeto retornado para o res.render() fosse diferente, precisaria de um outro partial?
<p>
{{> beerCard this}}
</p>