{{!-- <div class="cards-container">
  {{> superman }}
</div>    --}}
   

<div class="random-card">
    
  <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
  
  <div class="card-body">

    <h5 class="card-title">{{name}} </h5>
    <p class="card-text">{{description}}</p>
    <p class="card-tagline">{{tagline}}</p>
      
  </div>
</div>