<div class="col s12 m7">
  <h2 class="header"></h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="{{beers.[0].image_url}}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{beers.[0].name}}</p>
        <p>{{beers.[0].description}}</p>

      </div>
    </div>
  </div>
</div>