<div class="random-beer">
    <img class="beer-img" src="{{{this.image_url}}}" alt="beer image">
    <h2 class="name">{{this.name}}</h2>
    <h4 class="tagline">{{this.tagline}}</h4>
    <p class="description">{{this.description}}</p>
</div>
