<div class="random">

<div class="beer-img">
    <img src="{{ image_url }}" width="80" alt="">
</div>

<div class="info">
    <h2>{{name}}</h2>
    <p class="tag">{{tagline}}</p>
    <p>{{description}}</p>
</div>

</div>

