<div class="container">
    <h1>Random beer</h1>
    <div class="row">
        <img class="card-img-top" src="{{beers.image_url}}">
        <h2 class="titulo-1">{{beers.name}}</h2>
        <h3 class="titulo-2">{{beers.tagline}}</h3>
        <p>{{beers.description}}</p>
    </div>
</div>