{{!-- Add partial for the random beer and thats it!  --}}
<div class="container d-flex flex-direction-row justify-content-center align-items-center random-beer-container mh-100">

  {{> randombeer}}

  
</div>

