<h1>Random Beer</h1>

<div class="beer-information">
    <img class="beer-information__img" src="{{beer.image_url}}" alt="">
    <h2 class="beer-information__name">{{beer.name}}</h2>
    <h3 class="beer-information__tagline">{{beer.tagline}}</h3>
    <p class="beer-information__description">{{beer.description}}</p>
  </div>
