<div class="random-beer-container">
  <div class="img-random">
    <img class="one-beer-img" src="{{beer.image_url}}" alt="beer-image">  
  </div>
  <div class="random-beer-infos">
    <h1 class="beer-title">{{beer.name}}</h1>
    <h2 class = "beer-tag">{{beer.tagline}}</h2>
    <p class="beer-desc">{{beer.description}}</p>
  </div>
</div>