<h1>funktionierst duskdjglf?</h1>
<div>
    {{!-- {{#each randomBeer}} --}}
    <div>
        {{!-- <img src="{{randomBeer.image_url}}" alt=""> Hier sind wir in keinem Loop mehr, deshalb müssen wir . notation benutzen --}}
        <h1>{{randomBeer.name}}</h1>
        <span>{{randomBeer.tagline}}</span>
    </div>
    {{!-- {{/each}} --}}
</div>