<div class = 'randomBeerBody'>
    {{#each oneBeer}}
        {{> randombeers this}}
        <strong>Food Pairing</strong>
        <ul>
            {{#each this.food_pairing}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        <h4><b>Brewers Tips:</b>{{this.brewers_tips}}</h4>
    {{/each}}

</div>