<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Random Beer</title>
</head>

<body>
  {{#each beers}}

  <img src="{{this.image_url}}" alt="image_url">
  <h3>{{this.name}}</h3>
  <h4>{{this.tagLine}}</h4>
  <p>{{this.description}}</p>
  {{/each}}
</body>

</html>