
            <div>
                {{#each beers}}
                     {{> imagenChela this}} 
                     {{> nombreChela this}}
                     {{> taglineChela this}}
                     {{> descripcionChela this}}
                {{/each}}
           </div>