<div class="card" style="width: 33.333%;">
      <img class="card-img-top" height="600" width="25" src="{{beer.[0].image_url}}" alt="">
      <div class="card-body">
        <h5 class="card-title">{{beer.[0].name}}</h5>
        <p class="card-text">{{beer.[0].description}}</p>
        
      </div>
</div>