<div class="beer">
    {{> beerPartial beer}}
    <h3 class="heading">Food Pairing</h3>
    <ul>
      {{#each beer.food_pairing}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p><span class="bold">Brewers Tips: </span>{{beer.brewers_tips}}</p>
  </div>
</div>
