$white: white;
$black: black;  
$light-grey: #dfdfdf;
$shadow: #ccc7c7;
$grey: grey;
$dark-grey: #333333;
$azure: #3182c2;
$ultramarine: #0c2d41;

body{
  background-color: $light-grey;
}
navbar{
  background-color: $azure;

  a{
    color: $white;
    &:link,&:active,&:visited{
      color:white;
    }
  }
}
article{
  color: $dark-grey;
  a{
    color: $azure;
    transition: all 0.5s ease-out;

    &:hover{
      color: $ultramarine;
    }
  }
}
button{
  border: none;
  background-color: $azure;
  color: $white;
  @include box-shadow(0,0, 2px, $dark-grey)
}
footer{
  background-color: $ultramarine;
  color:white;
}