
.beer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
}
.beer-container img{
    height: 50px;
    width: auto;
}