/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  background-color:rgba(145, 145, 145, 0.2);
}

h1 {
  font-size: 30px;
  color: rgb(15, 72, 110);
  font-weight: bold;
  line-height: 40px;
}

h3 {
  font-size: 14px;
  color: rgb(86, 95, 100);
  line-height: 25px;
}


p {
  padding: 30px 0;
  line-height: 20px;
}

ul {
  line-height: 2em;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2081C3; 
  padding: 20px 0 15px 40px ;
  height: 20px; 
  box-shadow: 0 1px 3px black;
  line-height: 0;
}


nav li{
  display:inline-block;
  margin: 0 20px;
  
}

nav a {
  color: white;
  text-decoration: none;
}

footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 20px 0 15px 40px ;
  font-size: 10px;
  background-color: #0A2C42;
}

.index-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 60px auto;
  padding: 0 60px;
}

.beer-block{
  margin-top: 40px;
}

.button-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

button {
  width: 160px;
  box-shadow: 0 1px 2px grey;
  background-color: #2081C3;
  color: white;
  border: 0;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
}

.beer-container{
 display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 80%;
  margin: 60px auto;
  padding: 0 60px;
}

.card{
  width: 300px;
  height: 380px;
  background:white;
  box-shadow: 0px 2px 7px darkgrey;
  padding: 25px 10px;
  margin: 20px 15px;
}
.card img {
  height: 120px;
}

.card-title {
  font-size: 16px;
  margin-top: 20px;
  padding: 5px 0;
  font-weight: bold;
}
 
.card-tagline {
  font-size: 14px;  
  padding: 10px 0;
  color: grey;
}
.card-description{
  color: #525252;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  border-top: solid 1px #cecce2;
  padding: 10px;
  max-height:150px;
  overflow-y: hidden;  
}

.random-container {
  width: 80%;
  margin: 100px auto;
  padding: 0 60px;
}

.random-content {
  margin: 20px 0;
  padding: 20px 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.random-column{
  max-width: 50%;
  margin-right: 110px;
}