

<div class=" d-flex justify-content-center align-items-center" id="index">
    <img src="../images/beer.png" class="mb-5" style="height: 350px;"/>
    <a href="/beers" class="btn btn-primary mb-2 mt-2">Check the Beers!</a>
    <a href="/randomBeer" class="btn btn-primary">Check a random beer!</a>
</div>
