<h1>Beers</h1>
<div class="d-flex flex-wrap">
    {{#each beersFromApi as |beer|}}
        <div class="card w-50 mb-3 ">
            <img src="{{beer.image_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{beer.image}}</h5>
                <p class="card-text">{{beer.description}}</p>
            </div>
        </div>  
    {{/each}}
</div>