
{{#each beersFromApi a |beer|}}
   <div class="card" style="width: 18rem;">
        <img src="{{beer.image_url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{beer.image}}</h5>
            <p class="card-text">{{beer.description}}</p>
        </div>
    </div>
{{/each}}




