<div class="beerInfo">
        <img src={{this.image_url}} alt="beer">
    <div class="beerList">
        <h2><strong>Name: {{this.name}}</strong></h2>
        <h3>Tagline: {{this.tagline}}</h3>
        <h4>Description: {{this.description}}</h4>
    </div>
</div>